<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
<link rel="stylesheet" href="<?=CSS_DIR?>/pages/profile.css">
<link rel="stylesheet" href="<?=CSS_DIR?>/pages/shortcode_timeline2.css">
<link rel='stylesheet' href="<?=CSS_DIR?>/hb_treeview.css">

<div class="container content">  
    <section>
        <div class="headline">
            <div class="row" style="padding-right: 30px;">
                <form name="fsearch" id="sky-form" class="sky-form" method="get" action="" onsubmit="return doSearch(this);">     
                    <input type="hidden" name="sdt" id="sdt" value="ORD_DATE"/>
                    <div class="col-md-5">
                        <h5>
                            <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                            전체 : <?=$total_count?>
                        </h5>                        
                    </div>
                    <div class="col-md-3">                         
                        <div class="input-group">
                            <div class="input-group-btn"> 
                                <button type="button" id="select_date" class="btn btn-default dropdown-toggle" data-toggle="dropdown">주문일자 <span class="caret"></span></button>
                            </div><!-- /btn-group -->
                            <span class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" class="date"name="start" id="start" placeholder="시작일" value="<?=$start_date?>">
                            </span>
                        </div><!-- /input-group -->   
                    </div>         
                    <div class="col-md-2">
                        <label class="input">
                            <i class="icon-append fa fa-calendar"></i>
                            <input type="text" class="date"name="finish" id="finish" placeholder="종료일" value="<?=$finish_date?>">
                        </label>
                    </div>                            
                    <div class="col-md-1">
                        <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                    <div class="col-md-1">
                        <a href="/order/count/d_recommend/excel/1<?=$qstr?>" class="btn-u btn-u-green"><i class="fa fa-file-excel-o"></i></a>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <form name="fboardlist" method="post" action="" class="sky-form">

    <!-- Tab v2 -->                
    <div class="tab-v2">
        <ul class="nav nav-tabs">
            <li class="<?=( $user == '-') ? 'active' : ''?>"><a href="#all_list" data-toggle="tab" aria-expanded="true">전체</a></li>
            <? if ( $user != "-" ) : ?>
            <li class="active"><a href="#user_list" data-toggle="tab" aria-expanded="true"><?=$user_name?></a></li>            
            <? endif ?>
        </ul>                
        <div class="tab-content">
            <div class="tab-pane fade in <?=( $user == '-') ? 'active' : ''?>" id="all_list">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th class="text-center">NO</th>  
                            <th class="text-center">회원명</th>    
                            <th class="text-center">회원ID</th>                
                            <th class="text-center">직추천개통건수</th>                
                            <th class="text-center">연락처</th>
                            <th class="text-center">비상연락처</th>                
                            <th class="text-center">직급</th>
                            <th class="text-center">가입일자</th>
                            <th class="text-center">센터</th>
                        </tr>
                    </thead>        
                    <tbody>       
                        <? foreach ($list as $o): ?>
                        <tr>
                            <td><?=$o['num']?></td>
                            <td><a href="<?=$o['href']?>"><?=$o['USERNAME']?></a></td>
                            <td><?=$o['USERID']?></td>                
                            <td><?=$o['CNT']?></td>                
                            <td><?=$o['TEL']?></td>
                            <td><?=$o['MOBILE']?></td>                
                            <td><?=$o['RANK_NAME']?></td>
                            <td><?=$o['REG_DATE']?></td>
                            <td><?=$o['CENTER_NAME']?></td>
                        </tr>
                        <? endforeach; ?>
                    </tbody>
                </table>

                <? if (!$list): ?><p class="lead text-center text-muted">내역이 없습니다.</p><? endif; ?>

                <div class="pull-right">
                    <?=$paging?>
                </div>                
            </div>
            <? if ( $user != "-" ) : ?>
            <div class="tab-pane fade in <?=( $user != '-') ? 'active' : ''?>" id="user_list">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th class="text-center">NO</th>  
                            <th class="text-center">주문번호</th>    
                            <th class="text-center">공제번호</th>
                            <th class="text-center">사업자명</th>   
                            <th class="text-center">상품명</th>    
                            <th class="text-center">명의자</th>                            
                            <th class="text-center">색상</th>
                            <th class="text-center">주문상태</th>                                      
                            <th class="text-center">주문일자</th>
                            <th class="text-center">개통일자</th>
                        </tr>
                    </thead>        
                    <tbody>       
                        <? foreach ($user_order_list as $o): ?>
                        <tr>                      
                            <td><?=$o['num']?></td>
                            <td><?=$o['ORDNO']?></td>
                            <td><?=$o['GT_CDS']?></td>
                            <td><?=$o['ORD_NAME']?></td>
                            <td><a href="<?=$o['href']?>"><?=$o['PDT_NAME']?></a></td>
                            <td><?=$o['REG_NAME']?></td>                                                
                            <td><?=$o['OPT_VALUE']?></td>
                            <td>
                                <?=isset($o_state_list[$o['STATE_CD']])?$o_state_list[$o['STATE_CD']] : $o_state_list[1]?>
                            </td>                                       
                            <td><?=$o['ORD_DATE']?></td>
                            <td><?=$o['REAL_OPEN_DT4']?></td>                    
                        </tr>            
                        <? endforeach ?>
                    </tbody>
                </table>
            </div>
        <? endif ?>
        </div>
    </div>

    </form>

    <!-- Bootstrap Modals -->
    <button class="btn-u" data-toggle="modal" data-target="#responsive" id="modal_btn" style="display:none">Modal</button>
    <div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:700px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4"><span id="USERNAME"></span> ( <span id="USERID"></span> )</h4>
                </div>
                <div class="modal-body profile">
                    <div class="row">
                        <div class="col-md-7">
                            <h4>회원정보</h4>
                            <div id="profile" class="profile-edit tab-pane fade in active">
                                <dl class="dl-horizontal">
                                    <dt><strong>가입일자 </strong></dt>
                                    <dd id="REG_DATE"></dd>
                                    <hr>
                                    <dt><strong>생년월일</strong></dt>
                                    <dd id="JUMIN_NO"></dd>
                                    <hr>
                                    <dt><strong>소속센터 </strong></dt>
                                    <dd id="CENTER_NAME"></dd>
                                    <hr>
                                    <dt><strong>직급 </strong></dt>
                                    <dd id="RANK_NAME"></dd>
                                    <hr>
                                    <dt><strong>후원인 </strong></dt>
                                    <dd id="mb_supporter"></dd>
                                    <hr>
                                    <dt><strong>추천인 </strong></dt>
                                    <dd id="mb_recommander"></dd>
                                    <hr>
                                    <dt><strong>전화번호 </strong></dt>
                                    <dd id="TEL"></dd>
                                    <hr>
                                    <dt><strong>핸드폰번호 </strong></dt>
                                    <dd id="MOBILE"></dd>
                                    <hr>
                                    <dt><strong>이메일주소 </strong></dt>
                                    <dd id="EMAIL"></dd>
                                    <hr>
                                    <dt><strong>주소 </strong></dt>
                                    <dd id="mb_address"></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <h4 class="margin-bottom-30">직급승급일자</h4>
                            <ul class="timeline-v2">
                            <? foreach ($mb_position as $key => $position) : ?>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><p class="<?=$mb_position_color[$key]?> eng"></p></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs position" id="<?=$key?>"></i>
                                    <div class="cbp_tmlabel">
                                        <h5 class="<?=$mb_position_color[$key]?>"><?=$position?></h5>       
                                    </div>  
                                </li>
                            <? endforeach ?>
                            </ul>
                            <div id="profile" class="profile-edit tab-pane fade in active">
                                <dl class="dl-horizontal">
                                    <dt><strong>그룹산하인수 </strong></dt>
                                    <dd id="mb_count_subtree"></dd>
                                    <dt><strong>CV </strong></dt>
                                    <dd id="mb_cv"></dd>
                                    <dt><strong>PV </strong></dt>
                                    <dd id="mb_pv"></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bootstrap Modals -->
</div>

<style>
    .sky-form a 
    {
        color: #e74c3c;
    }

    .sky-form .toggle i
    {
        top: 0px;
    }
</style>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type='text/javascript'>
jQuery(document).ready(function() 
{
    $('#start').datepicker
    ({
        dateFormat: 'yymmdd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#finish').datepicker('option', 'minDate', selectedDate);
        }
    });

    $('#finish').datepicker
    ({
        dateFormat: 'yymmdd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#start').datepicker('option', 'maxDate', selectedDate);
        }
    });
});

</script>