<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <div class="main-counters margin-bottom-40">
        <div class="headline row">
            <div class="col-xs-5"><h2><?=$year?>년 <?=$month?>월 개통 건수 : <?=$list['TOTAL']?> 건</h2></div>
            <div class="col-xs-2 date"></div>   
            <div class="col-xs-5"></div>      
        </div>

        <!-- Tab v2 -->                
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <? foreach ($tab_list as $key => $value) : ?>    
                    <? if ( $key == 0 ) : ?>
                        <li class="active"><a href="/order/count/day<?=$qstr?>"><?=$value?></a></li>
                    <? else : ?>
                        <li><a href="/order/count/vender/<?=array_search($value, $vender_list)?><?=$qstr?>"><?=$value?></a></li>
                    <? endif ?>
                <? endforeach ?>
            </ul>                
            <div class="tab-content">        
                <table class="table text-center">
                    <thead>                        
                        <th class="text-center">날짜 </th>  
                    <? foreach ($vender_list as $key => $value) : ?>
                        <th class="text-center"><?=$value?></th>  
                    <? endforeach ?>  
                        <th class="text-center">합계</th>                        
                    </thead>        
                    <tbody>     
                <? foreach ($list as $key => $value) : ?>
                    <? if ( $key != 'TOTAL' ) :  ?>
                        <? if ( $key == $today ) : ?>
                        <tr class="color-red today">
                        <? else : ?>
                        <tr>
                        <? endif ?>
                            <td><?=$key?></td>
                            <? foreach ($vender_list as $key2 => $value2) : ?>
                            <td><?=isset($value[$key2])?$value[$key2]:0;?></td>
                            <? endforeach ?>                          
                            <td><?=$value['TOTAL']?></td>
                        </tr>            
                    <? endif ?>
                <? endforeach ?>  
                    </tbody>
                </table>            

                <hr>

            </div>       
        </div> 
    </div>
</div>       

<style>
    .counters span 
    {
        font-size: 25px;
    }

    .ui-datepicker-calendar 
    {
        display: none;
    }

    .ui-datepicker 
    {
        border:none ;
        -webkit-box-shadow:none ;
        box-shadow:none ;
    }

    .ui-datepicker-prev, .ui-datepicker-next 
    {
        width: 0px;
    }

    .ui-datepicker-header 
    {
        border-bottom: none;
    }

    .today
    {
        font-weight: bold ;
    }

    .table>tbody>tr>td
    {
        line-height : 25px;
    }
</style>

<!-- JS Implementing Plugins -->
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script> 

<!-- JS Page Level -->           
<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() 
    {
        App.init();
        App.initCounter();     

        $('.date').datepicker
        ({   
            defaultDate:'<?=$month?>/01/<?=$year?>',           
            changeMonth: true,  
            changeYear: true, 
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            
            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],          

            onChangeMonthYear: function( year, month, inst )
            {
                if ( month < 10 )
                {
                    month = '0' + month ;
                }

                location.href = '/order/count/day?year='+year+'&month='+month ;
            },
        });
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->