<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <div class="main-counters margin-bottom-40">
        <div class="headline row">
            <div class="col-xs-5"><h2><?=$year?>년 <?=$month?>월 개통 건수 : <?=$total_count?> 건</h2></div>
            <div class="col-xs-2 date"></div>   
            <div class="col-xs-5"></div>      
        </div>

        <div class="row">
            <? foreach ($group_name as $key => $value) : ?>
            <div class="counters col-md-3 col-sm-3">
                <span><?=$value?>(<?=$group_manager[$key]?>)</span>   
                <span class="counter-icon"><i class="fa fa-thumbs-up rounded"></i></span>
                <span class="counter"><?=$group_count[$key]['total']?></span>
                <p><strong>무선 : <?=$group_count[$key]['mobile']?></strong></p>
                <p><strong>유선 : <?=$group_count[$key]['wired']?></strong></p>
                <p><strong>카드 : <?=$group_count[$key]['card']?></strong></p>
            </div>
            <? endforeach ?>
        </div>

        <div class="margin-bottom-50"><hr></div>

        <!-- Tab v2 -->                
<!--        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <? foreach ($group_name as $key => $value) : ?>
                    <li class="<?=($key == $tab)?'active' : ''?>"><a href="/order/group/count/tab/<?=$key?><?=$qstr?>"><?=$value?></a></li>
                <? endforeach ?>
            </ul>                
            <div class="tab-content">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th class="text-center">NO </th>  
                            <th class="text-center">주문번호</th>    
                            <th class="text-center">공제번호</th>
                            <th class="text-center">사업자명</th>   
                            <th class="text-center">상품명</th>    
                            <th class="text-center">명의자</th>
                            <th class="text-center">연락처</th>
                            <th class="text-center">비상연락처</th>
                            <th class="text-center">색상</th>
                            <th class="text-center">주문일자 </th>
                        </tr>
                    </thead>        
                    <tbody>       
                        <? foreach ($list as $o): ?>
                        <tr>
                            <td><?=$o['num']?></td>
                            <td><?=$o['ORDNO']?></td>
                            <td><?=$o['GT_CD']?></td>
                            <td><?=$o['ORD_NAME']?></td>
                            <td><a href="<?=$o['href']?>"><?=$o['PDT_NAME']?></a></td>
                            <td><?=$o['REG_NAME']?></td>
                            <td><?=$o['OLD_TEL']?></td>
                            <td><?=$o['RECV_MOBILE']?></td>
                            <td><?=$o['OPT_VALUE']?></td>
                            <td><?=$o['ORD_DATE']?></td>
                        </tr>            
                        <? endforeach; ?>
                    </tbody>
                </table>

                <? if (!$list): ?><p class="lead text-center text-muted">주문 내역이 없습니다.</p><? endif; ?>

                <hr>

                <div class="pull-right">
                    <?=$paging?>
                </div> 
            </div>
        </div>
-->        
    </div>
</div>       

<style>
    .counters span 
    {
        font-size: 25px;
    }

    .ui-datepicker-calendar 
    {
        display: none;
    }

    .ui-datepicker 
    {
        border:none ;
        -webkit-box-shadow:none ;
        box-shadow:none ;
    }

    .ui-datepicker-prev, .ui-datepicker-next 
    {
        width: 0px;
    }

    .ui-datepicker-header 
    {
        border-bottom: none;
    }
</style>

<!-- JS Implementing Plugins -->
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script> 

<!-- JS Page Level -->           
<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() 
    {
        App.init();
        App.initCounter();     

        $('.date').datepicker
        ({   
            defaultDate:'<?=$month?>/01/<?=$year?>',           
            changeMonth: true,  
            changeYear: true, 
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            
            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],          

            onChangeMonthYear: function( year, month, inst )
            {
                if ( month < 10 )
                {
                    month = '0' + month ;
                }

                location.href = '/order/group/count?year='+year+'&month='+month ;
            },
        });
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->