<link rel="stylesheet" href="<?=PLUGIN_DIR?>/owl-carousel/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<!--=== Content Medium Part ===-->
<div class="content-md margin-bottom-30">
    <div class="container">
        <?=validation_errors('<pre><p class="color-red"> ','</p>  </pre>')?>
        <form id="fOrder" name="fOrder" class="shopping-cart" method="post" action="/order/insert_used_mobile/update" enctype="multipart/form-data">
        <input type="hidden" name="token" value="<?=$token?>" />
        <input type="hidden" name="PDT_CD" value="<?=$pdt_info['PDT_CD']?>">
    <? if ( !IS_MANAGER ) : ?>
        <input type="hidden" id="ORD_NAME" name="ORD_NAME" value="<?=$orderer_info['USERNAME']?>">
        <input type="hidden" id="ORD_MOBILE" name="ORD_MOBILE" value="<?=$orderer_info['MOBILE']?>">
    <? endif ?>
            <div class="row shop-product margin-bottom-50">
                <section>
                    <div>
                        <div class="col-md-6 md-margin-bottom-50">
                            <div class="shop-product-heading">
                                <h2><?=$pdt_info['PDT_NAME']?></h2>
                                <ul class="list-inline shop-product-social">
                                    <li><?=$pdt_info['PDT_MODEL']?></li>
                                </ul>
                            </div>

                            <div class="ms-showcase2-template">
                                <!-- Master Slider -->
                                <? if ( isset($pdt_info['pt_thumbnail']) && $pdt_info['pt_thumbnail'][0] != '' ) : ?>
                                    <img src="<?=$pdt_info['pt_thumbnail'][0]?>" width="100%">
                                <? endif ?>
                                <!-- End Master Slider -->
                            </div>

                            <div class=""><h4><strong>* 매입가는 중고폰 단가 게시판을 확인해 주세요.</strong></h4></div>
                            <div class=""><h4><strong>* 판매대금 입금은 판매내역의 주문상태가 '정산대기' 시점부터 약 2~3일 소요됩니다.</strong></h4></div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h2 class="title-type"><strong>판매자 정보 입력</strong></h2>
                                </div>
                                <div class="col-sm-3 hide">
                                    <label class="checkbox text-left">
                                        <input type="checkbox" id="copy_member_info" />
                                        <i></i>
                                        회원 정보와 동일
                                    </label>
                                </div>
                            </div>
                            <div class="billing-info-inputs checkbox-list">
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        <strong>판매자명</strong>
                                    </div>
                                    <div class="col-sm-4">
                                    <? if ( !IS_MANAGER ) : ?>
                                        <?=$orderer_info['USERNAME']?>
                                    <? endif ?>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        <strong>휴대폰 번호</strong>
                                    </div>
                                    <div class="col-sm-6">
                                    <? if ( !IS_MANAGER ) : ?>
                                        <?=$orderer_info['MOBILE']?>
                                    <? endif ?>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        <strong>일련번호</strong>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" id="ORD_MOBILE_ID" name="ORD_MOBILE_ID" class="form-control required">
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                    </div>

                                    <div class="col-md-6">
                                        <button type="button" id="view_mobile_id" class="btn btn-sm rounded btn-primary">일련번호 확인방법</button>
                                        <a href="javascript:void(0)" class="btn btn-sm rounded btn-info" onclick="window.open('https://xn--kj0bxc65ocsi5qsbya.xn--3e0b707e/search/search_1.php', '_blank', '');">분실폰 조회</a>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        <strong>판매 센터</strong>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="ORD_CENTER" name="ORD_CENTER" class="form-control required">
                                            <? foreach ($center_list as $key => $value) : ?>
                                            <option value="<?=$key?>"><?=$value?></option>
                                            <? endforeach ?>
                                        </select>
                                    </div>
                                </div> 
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        <strong>센터전달방법</strong>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default active" title="직접방문">
                                                <input type="radio" value="0" name="SEND_TYPE" checked="checked">직접방문
                                            </label>
                                            <label class="btn btn-default" title="택배전달">
                                                <input type="radio" value="1" name="SEND_TYPE">택배전달
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div id="PARCEL_INFO">
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            <strong>배송업체</strong>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" id="DELI_CD" name="DELI_CD" class="form-control required">
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-10">
                                        <div class="col-sm-3 color-dark">
                                            <strong>송장번호</strong>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" id="DELI_NO" name="DELI_NO" class="form-control required">
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-10">
                                        <div class="col-sm-3 color-dark">
                                            <strong>배송일자</strong>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control required" id="DELI_DATE" name="DELI_DATE">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        <strong>핸드폰 상태 및<BR>기타 메시지</strong>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="textarea textarea-expandable">
                                            <textarea id="ORD_MSG" name="ORD_MSG" rows="4" class="form-control" placeholder=""></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="color-red margin-bottom-20"><strong>* 찍힘, 액정 파손, 전원불량, 잔상 등의 핸드폰 상태를 자세히 기입해 주세요. <BR> &nbsp;&nbsp;(핸드폰 상태에 따라 차감 금액이 발생할 수 있습니다.)</strong></div>
                                <div class="row" id="div_upload_img">
                                    <div class="col-sm-3 color-dark">
                                        <strong>단말기 사진 파일</strong>
                                    </div>
                                    <div class="col-sm-9">
                                        <div id="alert_file" class="ace">
                                            <div id="form-attachments">
                                                <div class="row">
                                                    <? for( $i = 0 ; $i < 2 ; $i++ ) : ?>
                                                    <?
                                                        $k = $i + 1 ;
                                                        $on_img = (isset($THUMBNAILS[$i]) && $THUMBNAILS[$i] != '') ;
                                                      //  $display = ( $on_img || $i == 0 || (!$on_img && $prev_on_img) ) ? 'block' : 'none' ;
                                                    ?>
                                                    <div class="col-xs-6" id='div-input-file<?=$k?>' style='display:<?=$display?>'>
                                                        <? if($on_img) : ?>
                                                        <span class="profile-picture">
                                                            <img id="img<?=$k?>" name="<?=$k?>" class="editable img-responsive editable-click editable-empty editable-open" src="<?=$THUMBNAILS[$i]?>" />
                                                        </span>
                                                        <? endif ; ?>
                                                        <span style="display:<?=($on_img)?'none':'block'?>;">
                                                            <input type="file" id="id-input-file<?=$k?>" name="file<?=$k?>"/>
                                                        </span>
                                                    </div>
                                                    <? $prev_on_img = $on_img ; ?>
                                                    <? endfor ?>
                                                </div>
                                                <div class="note">
                                                    <strong>중요!</strong> 단말기 앞면, 뒷면 각 한장씩 첨부해 주세요.(총 2장)
                                                    <BR/>이미지 파일만 첨부 가능합니다.
                                                    <BR/>각 첨부파일의 용량은 1.5MB 미만으로 업로드하시기 바랍니다.
                                                    <BR/>(Chrome 에서는 첨부파일의 미리보기가 가능합니다.)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>   
            </div>

            <? if ( !IS_MANAGER ) : ?>
            <div class="text-center">
                <button type="button" class="btn-u btn-u-lg" id="btnSubmit">판매하기</button>
            </div>
            <? endif ?>
        </form>
    </div><!--/end container-->
    <!-- Bootstrap Modals -->
    <button class="btn-u" data-toggle="modal" data-target="#responsive" id="modal_btn" style="display:none">Modal</button>
    <div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:700px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4">일련번호 확인방법</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <img src="/data/img/view_mobile_id.png" width="100%">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bootstrap Modals -->
</div>
<!--=== End Content Medium Part ===-->    

<style>
    em.required
    {            
        display: none;
        margin-top: 6px;
        padding: 0 1px;
        font-style: normal;
        font-size: 11px;
        line-height: 15px;
        color: #ee9393;
    }
</style>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>

<script src="<?=PLUGIN_DIR?>/owl-carousel/owl-carousel/owl.carousel.js"></script>
<!-- Master Slider -->
<script src="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/masterslider.min.js"></script>
<script src="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/jquery.easing.min.js"></script>

<script src="<?=JS_DIR?>/plugins/shop.app.js"></script>
<script src="<?=JS_DIR?>/plugins/owl-carousel.js"></script>
<script src="<?=JS_DIR?>/plugins/master-slider.js"></script>
<script type="text/javascript" src="<?=JS_DIR?>/ace-elements.js"></script>
<script type='text/javascript'>

jQuery(document).ready(function() 
{
    App.init();
    App.initScrollBar();
    OwlCarousel.initOwlCarousel();

    $('#PARCEL_INFO').hide() ;
    $('#div_upload_img').hide() ;

    $("em.required").css('display', 'none') ;

    $('#btnSubmit').bind('click', function ()
    {
        if ( $("#ORD_MOBILE_ID").val() == '' )
        {
            alert("일련번호를 기재해 주세요") ;
        }
        else {
            $("#fOrder").submit();
        }
    }) ;

    $("input[name=SEND_TYPE]").change(function() 
    {
        var radioValue = $(this).val();

        if (radioValue == "0") // 센터방문
        {
            $('#PARCEL_INFO').hide() ;
            $('#div_upload_img').hide() ;
        } 
        else if (radioValue == "1") // 택배전달
        {
            $('#PARCEL_INFO').show() ;
            $('#div_upload_img').show() ;
        }
    });

    $('#view_mobile_id').bind('click', function ()
    {
        $("#modal_btn").click() ;
    }) ;

    $('#DELI_DATE').datepicker
    ({
        dateFormat: 'yymmdd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],      
    });

    $('#id-input-file1, #id-input-file2').ace_file_input({
        style:'well',
        btn_choose:'',
        btn_change:null,
        no_icon:'icon-picture',
        droppable:true,
        thumbnail:'large',
        //icon_remove:null,
        before_change : function(files, dropped)
        {
            var allowed_files = [];

            for(var i = 0 ; i < files.length; i++)
            {
                var file = files[i] ;

                if(typeof file === "string")
                {
                    //IE8 and browsers that don't support File Object
                    if(! (/\.(jpe?g|png|gif|bmp)$/i).test(file) ) return false ;
                }
                else
                {
                    var type = $.trim(file.type);
                    if( ( type.length > 0 && ! (/^image\/(jpe?g|png|gif|bmp)$/i).test(type) )
                            || ( type.length == 0 && ! (/\.(jpe?g|png|gif|bmp)$/i).test(file.name) )//for android's default browser which gives an empty string for file.type
                    )
                    {
                        alert('이미지 파일만 첨부 가능합니다.') ;
                        continue;//not an image so don't keep this file
                    }
                }

                if (file.size > (1024 * 1024 * 1.5))
                {
                    var filesize = file.size / (1024 * 1024 * 1.5) ;
                    alert('파일이 너무 큽니다. ('+filesize.toFixed(2)+'MB). 첨부 가능 파일 사이즈(1.5MB 이하)') ;
                    continue ;
                }

                allowed_files.push(file);
            }

            if(allowed_files.length == 0) return false ;

            var cur_input_idx = parseInt($(this).attr('name').substr(4, 1)) ;
            var next_input_div = '#div-input-file' + (cur_input_idx + 1) ;

            $('#img'+cur_input_idx).closest('span').hide() ;
            $('#id-input-file'+cur_input_idx).closest('span').show() ;

            $(next_input_div).show() ;

            return allowed_files ;
        },
        before_remove : function()
        {
            var cur_input_idx = parseInt($(this).attr('name').substr(4, 1)) ;
            var cur_input_div = '#div-input-file' + cur_input_idx ;
            var prev_input_div = '#div-input-file' + (cur_input_idx - 1) ;
            var next_input_div = '#div-input-file' + (cur_input_idx + 1) ;

            if ($(next_input_div).find('.file-label').attr('data-title') == '')
            {
                //$(next_input_div).hide() ;
            }

            if ($(prev_input_div).find('.file-label').attr('data-title') == '')
            {
                //$(cur_input_div).hide() ;
            }

            return true ;
        },
        preview_error : function(filename, error_code)
        {
            //name of the file that failed
            //error_code values
            //1 = 'FILE_LOAD_FAILED',
            //2 = 'IMAGE_LOAD_FAILED',
            //3 = 'THUMBNAIL_FAILED'
            //alert(error_code);
        }

    }).on('change', function(){
        //console.log($(this).data('ace_input_files'));
        //console.log($(this).data('ace_input_method'));
    });
});

</script>

<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->
<!--[if lt IE 10]>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->