<link rel="stylesheet" href="<?=PLUGIN_DIR?>/jquery-steps/css/custom-jquery.steps.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/owl-carousel/owl-carousel/owl.carousel.css">

<!--=== Content Medium Part ===-->
<div class="content-md margin-bottom-30">
    <div class="container">
        <div>
            <div class="header-tags">            
                <div class="overflow-h">
                    <h2>상품 정보 보기</h2>
                </div>    
            </div>
            <section>
                <div class="shop-product">
                        <div class="row">
                            <div class="col-md-5 md-margin-bottom-50">
                                <div class="ms-showcase2-template">
                                    <!-- Master Slider -->                                    
                                    <? if ( $pdt_info['pt_thumbnail'][0] != '' ) : ?>
                                        <img src="<?=$pdt_info['pt_thumbnail'][0]?>" width="100%">     
                                    <? endif ?>
                                    <!-- End Master Slider -->
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="shop-product-heading">
                                    <h2><?=$pdt_info['PDT_NAME']?></h2>
                                    <ul class="list-inline shop-product-social">
                                        <li><?=$pdt_info['PDT_MODEL']?></li>    
                                        <li><small class="shop-bg-red time-day-left"><span id="left_days"></span> days left</small></li>
                                    </ul>
                                </div>

                                <ul class="list-inline product-ratings margin-bottom-30">
                                <? for( $k = 0 ; $k < 5 ; $k++ ) : ?>
                                    <? if ( $k < $pdt_info['nStar'] ) : ?>
                                        <li><i class="rating-selected fa fa-star"></i></li>
                                    <? else : ?>
                                        <li><i class="rating fa fa-star"></i></li>
                                    <? endif ?>
                                <? endfor ?>
                                </ul>           

                                <div class="row">                                   
                                    <div class="col-md-9">
                                        <h3 class="shop-product-title"><B>요금제</B></h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <select id="select_calling_plan" name="select_calling_plan" required>
                                            <? foreach ($pdt_info['calling_plan'] as $key => $value) : ?>
                                                <option value="<?=$key?>"><?=$value?></option>
                                            <? endforeach ; ?>
                                            </select>                                            
                                        </ul>    
                                    </div>                                    
                                </div>                                                        
                            <!--
                                <div class="row">
                                    <div class="col-md-3">
                                        <h3 class="shop-product-title">CV</h3>
                                        <ul class="list-inline shop-product-prices margin-bottom-20">
                                            <span id="cv_value"></span>
                                        </ul>
                                    </div>

                                    <div class="col-md-3">
                                        <h3 class="shop-product-title">PV</h3>
                                        <ul class="list-inline shop-product-prices margin-bottom-20">
                                            <span id="pv_value"></span>
                                        </ul>    
                                    </div>
                                
                                <? if ( IS_MANAGER ) : ?>
                                    <div class="col-md-3">
                                        <h3 class="shop-product-title">PV3</h3>
                                        <ul class="list-inline shop-product-prices margin-bottom-20">
                                            <span id="pv3_value"></span>
                                        </ul>                                    
                                    </div>

                                    <div class="col-md-3">
                                        <h3 class="shop-product-title">PV4</h3>
                                        <ul class="list-inline shop-product-prices margin-bottom-20">
                                            <span id="pv4_value"></span>
                                        </ul>                                    
                                    </div>     
                                <? endif ?>                               
                                </div>
                            -->

                                <div class="row">
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>RB</B></h3>
                                        <ul class="list-inline shop-product-prices">
                                            <li class="shop-green"><span id="pv_value"></span></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>정책 시작일</B></h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <span id="s_date"></span>
                                        </ul>
                                    </div>

                                     <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>정책 종료일</B></h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <span id="e_date"></span>
                                        </ul>
                                    </div>
                                </div>                                   
                            </div>                            
                        </div><!--/end row-->
                    </div>
                <!--=== End Shop Product ===-->                    
            </section>

            <? if ( $pdt_info['DETAIL_IMG_PATH'] != '' ) : ?>
            <div><img src="<?=$pdt_info['DETAIL_IMG_PATH']?>" width="100%"></div>
            <? endif ?>            
        </div>
    </div><!--/end container-->
</div>
<!--=== End Content Medium Part ===-->    

<script type='text/javascript'>
function get_detail_info()
{        
    var pdt_cd = '<?=$pdt_info['PDT_CD']?>' ;
    var price_kind = $('#select_calling_plan').val() ;    

    $('#cv_value').text('0') ;
    $('#pv_value').text('0') ;
    $('#pv3_value').text('0') ;
    $('#pv4_value').text('0') ;

    $.ajax({
        dataType : "JSON",
        type : "POST",
        url : "/order/insert_wired/get_detail_info",
        data : 
        {
            "pdt_cd" : pdt_cd,
            "price_kind" : price_kind            
        },
        success : function (data) 
        {            
            if ( data != 'NULL' )
            { 
                $.each(data, function(key, val) 
                { 
                    if ( key == 'PTP_ID' )
                    {
                        $('#ptp_id').val(val) ;
                    }
                    else if ( key == 'POINT1' )
                    {
                        $('#cv_value').text(val) ;                          
                    }
                    else if ( key == 'POINT2' )
                    {
                        $('#pv_value').text(val) ; 
                    }
                    else if ( key == 'POINT3' )
                    {
                        $('#pv3_value').text(val) ; 
                    }
                    else if ( key == 'POINT4' )
                    {
                        $('#pv4_value').text(val) ; 
                    }                                        
                    else if ( key == 'S_DATE' )
                    {
                        $('#s_date').text(val) ; 
                    }
                    else if ( key == 'E_DATE' )
                    {
                        $('#e_date').text(val) ; 
                    }
                    else if ( key == 'left_days' )
                    {
                        $('#left_days').text(val) ; 
                    }
                });                    
            }
        }
    });
}

jQuery(document).ready(function() 
{   
    get_detail_info() ;

    $('#select_calling_plan').change(function()
    {
        get_detail_info() ;
    }) ;
});

</script>