<link rel="stylesheet" href="<?=PLUGIN_DIR?>/jquery-steps/css/custom-jquery.steps.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/owl-carousel/owl-carousel/owl.carousel.css">

<!--=== Content Medium Part ===-->
<div class="content-md margin-bottom-30">
    <div class="container">
        <?=validation_errors('<pre><p class="color-red"> ','</p>  </pre>')?>
        <form id="fOrder" name="fOrder" class="shopping-cart" method="post" action="/order/insert_card/update" enctype="multipart/form-data">
        <input type="hidden" name="token" value="<?=$token?>" />
        <input type="hidden" name="pdt_cd" value="<?=$card_info['PDT_CD']?>">
        <input type="hidden" name="odv_type" value="0702">
            <div>
                <div class="header-tags">            
                    <div class="overflow-h">
                        <h2>상품 정보 보기</h2>
                        <p>Review &amp; edit your product</p>
                        <i class="rounded-x fa fa-info"></i>
                    </div>    
                </div>
                <section>
                    <div class="shop-product">
                        <div class="row">
                            <div class="col-md-5 md-margin-bottom-50">
                                <div class="ms-showcase2-template">
                                    <!-- Master Slider -->                                    
                                    <? if ( $card_info['IMG_PATH'] != '' ) : ?>
                                        <img src="<?=$card_info['IMG_PATH']?>" width="100%">     
                                    <? endif ?>
                                    <!-- End Master Slider -->
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="shop-product-heading">
                                    <h2><?=$card_info['PDT_NAME']?></h2>
                                    <ul class="list-inline shop-product-social">
                                        <li><?=$card_info['CD_COMPANY']?> / <?=$vender_list[$card_info['TEL_COMPANY']]?></li>                                        
                                    </ul>
                                </div>

                                <ul class="list-inline product-ratings margin-bottom-30">
                                <? for( $k = 0 ; $k < 5 ; $k++ ) : ?>
                                    <? if ( $k < $card_info['nStar'] ) : ?>
                                        <li><i class="rating-selected fa fa-star"></i></li>
                                    <? else : ?>
                                        <li><i class="rating fa fa-star"></i></li>
                                    <? endif ?>
                                <? endfor ?>
                                </ul>

                                <div class="row margin-bottom-20">
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>세이브 한도</B></h3>
                                        <ul class="list-inline shop-product-prices">
                                            <li class="shop-red"><?=number_format($card_info['SAVE_LIMIT'])?></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>세이브 수수료</B></h3>
                                        <ul class="list-inline shop-product-prices">
                                            <li class="shop-green"><?=$card_info['SAVE_COMMISSION']?></li>
                                        </ul>
                                    </div>
                                </div>   

                            <!--    <div class="row">
                                    <div class="col-md-3">
                                        <h3 class="shop-product-title">CV</h3>
                                        <ul class="list-inline shop-product-prices margin-bottom-20">
                                            <li class="shop-green"><?=$card_info['POINT1']?></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-3">
                                        <h3 class="shop-product-title">PV</h3>
                                        <ul class="list-inline shop-product-prices margin-bottom-20">
                                            <li class="shop-green"><?=$card_info['POINT2']?></li>
                                        </ul>    
                                    </div>                                                    
                                </div> -->    

                                <div class="row">                                    
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>RB</B></h3>
                                        <ul class="list-inline shop-product-prices margin-bottom-20">
                                            <li class="shop-green"><?=$card_info['POINT2']?></li>
                                        </ul>    
                                    </div>                                                    
                                </div>                          

                                <div class="row">                                   
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>추가 적립 포인트</B></h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <? for ( $i = 1 ; $i < 4 ; $i++ ) : ?>
                                                <?=number_format($card_info['SAVE_POINT_TERMS'.$i.'_OVER'])?> 이상
                                                <?=number_format($card_info['SAVE_POINT_TERMS'.$i.'_UNDER'])?> 미만 사용시
                                                <?=number_format($card_info['SAVE_POINT_TERMS'.$i.'_POINT'])?> 적립<BR>
                                            <? endfor ; ?>                                            
                                        </ul>    
                                    </div>                                    
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <h3 class="shop-product-title"><B>연회비</B></h3>
                                        <ul class="list-inline shop-product-prices margin-bottom-20">
                                            <li class="shop-green"><?=$card_info['ANNUAL_FEE']?></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-4">
                                        <h3 class="shop-product-title"><B>가입 축하 포인트</B></h3>
                                        <ul class="list-inline shop-product-prices margin-bottom-20">
                                            <li class="shop-green"><?=$card_info['JOIN_POINT']?></li>
                                        </ul>    
                                    </div>
                                
                                    <div class="col-md-4">
                                        <h3 class="shop-product-title"><B>카드 타입</B></h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <? if ( $card_info['CARD_TYPE'] == 0 ) : ?>
                                                세이브
                                            <? elseif ( $card_info['CARD_TYPE'] == 1 ) : ?>
                                                후청구
                                            <? else : ?>
                                                체크카드
                                            <? endif ?>
                                        </ul>                                    
                                    </div>
                                </div>  

                                <div class="row">                                    
                                    <h3 class="shop-product-title"><B>추가 혜택</B></h3>
                                    <ul class="list-inline product-size margin-bottom-20">
                                        <?=nl2br($card_info['ADD_BENEFIT'])?>
                                    </ul>                                    
                                </div>  

                                <div class="row">                                    
                                    <h3 class="shop-product-title"><B>기타 내용</B></h3>
                                    <ul class="list-inline product-size margin-bottom-20">
                                        <?=nl2br($card_info['ETC_MSG'])?>
                                    </ul>                                    
                                </div>                                                                     
                            </div>
                        </div><!--/end row-->
                    </div>
                    <!--=== End Shop Product ===-->                    
                </section>
                
                <div class="header-tags">
                    <div class="overflow-h">
                        <h2>제휴카드 신청정보</h2>
                        <p>Shipping and address info</p>
                        <i class="rounded-x fa fa-home"></i>
                    </div>    
                </div>
                <section class="billing-info">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h2 class="title-type">제휴카드 신청정보 입력</h2>
                                </div>
                                <div class="col-sm-3">
                                    <label class="checkbox text-left">
                                        <input type="checkbox" id="copy_member_info" />
                                        <i></i>
                                        회원 정보와 동일
                                    </label>
                                </div>
                            </div>
                            <div class="billing-info-inputs checkbox-list">
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        가입자명
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="reg_name" name="reg_name" class="form-control required">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        휴대폰 번호
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="color-red" style="font-size: 11px;"> 반드시 연락 가능한 번호로 기재하세요.</div>
                                        <input type="text" id="reg_mobile" name="reg_mobile" class="form-control required">
                                    </div>
                                </div>                                
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        기타 메시지
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="textarea textarea-expandable">
                                            <textarea id="ord_msg" name="ord_msg" rows="3" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <div class="col-md-2"></div>                      
                    </div>                         
                </section>
                    
                <div class="header-tags">
                    <div class="overflow-h">
                        <h2>주문 확인</h2>
                        <p>Confirm order</p>
                        <i class="rounded-x fa fa-check"></i>
                    </div>    
                </div>
                <section>
                    <!-- Description -->
                    <div class="row">
                        <div class="col-md-4">
                            <img class="full-width img-responsive" src="<?=$card_info['IMG_PATH']?>" alt="">
                        </div>                    
                        <div class="col-md-8">
                            <h3 class="heading-md margin-bottom-20"><?=$card_info['PDT_NAME']?></h3>

                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled specifies-list">
                                        <li><i class="fa fa-caret-right"></i> 상품명 : <span><?=$card_info['PDT_NAME']?></span></li>
                                        <li><i class="fa fa-caret-right"></i> 카드 회사 : <span><?=$card_info['CD_COMPANY']?> / <?=$vender_list[$card_info['TEL_COMPANY']]?></span></li>                                        
                                        <li><i class="fa fa-caret-right"></i> 카드 타입 : <? echo ($card_info['IS_SAVE_CARD'] == 'O') ? '세이브' : '후청구' ; ?></li>              
                                    <!--    <li><i class="fa fa-caret-right"></i> CV : <?=$card_info['POINT1']?></li>
                                        <li><i class="fa fa-caret-right"></i> PV : <?=$card_info['POINT2']?></li>-->
                                        <li><i class="fa fa-caret-right"></i> RB : <?=$card_info['POINT2']?></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled specifies-list">
                                        <li><i class="fa fa-caret-right"></i> 세이브 한도 : <?=number_format($card_info['SAVE_LIMIT'])?></li>
                                        <li><i class="fa fa-caret-right"></i> 세이브 수수료 : <?=$card_info['SAVE_COMMISSION']?></li>
                                        <li><i class="fa fa-caret-right"></i> 연회비 : <?=$card_info['ANNUAL_FEE']?></li>
                                        <li><i class="fa fa-caret-right"></i> 가입 축하 포인트 : <?=$card_info['JOIN_POINT']?></li>             
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Description -->
                    <div class="row">
                        <div class="col-md-6 md-margin-bottom-40">
                            <h2 class="title-type">제휴카드 신청정보</h2>
                            <div class="billing-info-inputs checkbox-list">
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        가입자명
                                    </div>
                                    <div class="col-sm-9" id="confirm_reg_name"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        휴대폰 번호
                                    </div>                                    
                                    <div class="col-sm-6" id="confirm_reg_mobile"></div>
                                </div>  
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        기타 메시지
                                    </div>
                                    <div class="col-sm-9">
                                        <div id="confirm_ord_msg"></div>
                                    </div>
                                </div>                                                              
                            </div>                            
                        </div>                        
                    </div> 
                </section>   
            </div>
        </form>
    </div><!--/end container-->
</div>
<!--=== End Content Medium Part ===-->    

<style>
    em.required
    {            
        display: none;
        margin-top: 6px;
        padding: 0 1px;
        font-style: normal;
        font-size: 11px;
        line-height: 15px;
        color: #ee9393;
    }
</style>

<script src="<?=PLUGIN_DIR?>/jquery-steps/build/jquery.steps.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>        
<script src="<?=JS_DIR?>/plugins/stepWizard.js"></script>

<script src="<?=PLUGIN_DIR?>/owl-carousel/owl-carousel/owl.carousel.js"></script>
<!-- Master Slider -->
<script src="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/masterslider.min.js"></script>
<script src="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/jquery.easing.min.js"></script>

<script src="<?=JS_DIR?>/plugins/shop.app.js"></script>
<script src="<?=JS_DIR?>/plugins/owl-carousel.js"></script>
<script src="<?=JS_DIR?>/plugins/master-slider.js"></script>
<script type="text/javascript" src="<?=JS_DIR?>/ace-elements.js"></script>
<script type='text/javascript'>
jQuery(document).ready(function() 
{   
    App.init();
    App.initScrollBar();     
    StepWizard.initStepWizard();
    OwlCarousel.initOwlCarousel();

    $("a[href='#previous']").html('이전') ;
    $("a[href='#next']").html('다음') ;
    $("a[href='#finish']").html('완료') ;

    $('#copy_member_info').change(function()
    {
        if ( $(this).is(':checked') )
        {
            $('#reg_name').val("<?=$orderer_info['USERNAME']?>") ;            
            $('#reg_mobile').val("<?=$orderer_info['MOBILE']?>") ;
            $('#reg_email').val("<?=$orderer_info['EMAIL']?>") ;            
        }
        else
        {
            $('#reg_name').val("") ;
            $('#reg_mobile').val("") ;
            $('#reg_email').val("") ;
        }
    }) ;

    $('#sel_delivery_addr, #sel_delivery_bill').change(function()
    {
        if ( $('#sel_delivery_addr').val() == '2' || $('#sel_delivery_bill').val() == '2' ) // 직장
        {
            $('#div_job_addr').removeClass('hide') ;
            $('#div_job_addr').addClass('show') ;

            $('#confirm_div_job_addr').removeClass('hide') ;
            $('#confirm_div_job_addr').addClass('show') ;
        }
        else
        {
            $('#div_job_addr').removeClass('show') ;
            $('#div_job_addr').addClass('hide') ;

            $('#confirm_div_job_addr').removeClass('show') ;
            $('#confirm_div_job_addr').addClass('hide') ;
        }
    }) ;

    $("a[href='#next'], #steps-uid-0-t-2").bind('click', function () 
    {
        $("em.required").css('display', 'none') ;

        $(".invalid").each(function()
        {
            var o_name = $(this).attr('name') ;
            $(".required[for='"+o_name+"'").css('display', 'block') ;
        }) ;

        if ( $('.last').attr('aria-selected') == 'true' )
        {           
            if ( $('.middle').attr('style') != '' )
            {
                $('#img_view0').attr('style', $('.middle').attr('style') ) ;
                $('#div_img0').show() ;
            }
            else
            {
                $('#div_img0').hide() ;   
            }                            
            
            $('#confirm_reg_name').html($('#reg_name').val()) ;            
            $('#confirm_reg_mobile').html($('#reg_mobile').val()) ;

            $('#confirm_pay_bank_name').html($('#pay_bank_name option:selected').text()) ;
            $('#confirm_pay_date').html($('#pay_date option:selected').text()) ;
            $('#confirm_pay_account').html($('#pay_account').val()) ;

            $('#confirm_add_traffic_card').html($('#add_traffic_card option:selected').text()) ;
            $('#confirm_save_price').html($('#save_price').val()) ;
            $('#confirm_ord_center').html($('#ord_center option:selected').text()) ;
            //$('#confirm_reception_id').html($('#reception_id').val() + '(' + $('#reception_name').text() + ')') ; 

            $('#confirm_sel_delivery_addr').html($('#sel_delivery_addr option:selected').text()) ;

            $('#confirm_home_zip').html($('#home_zonecode').val()) ;
            $('#confirm_home_addr').html($('#home_addr1').val()+' '+$('#home_addr2').val()) ;

            $('#confirm_job_zip').html($('#job_zonecode').val()) ;
            $('#confirm_job_addr').html($('#job_addr1').val()+' '+$('#job_addr2').val()) ;

            $('#confirm_sel_delivery_bill').html($('#sel_delivery_bill option:selected').text()) ;   
            $('#confirm_reg_email').html($('#reg_email').val()) ;
            $('#confirm_ord_msg').html($('#ord_msg').val()) ;
        }  
    }) ;

    $('#reception_id').click(function()
    {
        $(this).val('') ;
        $('#reception_name').text('') ;
        $('#find_reception_help').text('') ;
    }) ;

    $('#find_reception').click(function()
    {
        mb_id =  $('#reception_id').val() ;

        $('#reception_id').val(mb_id.toUpperCase()) ;
        mb_id = $('#reception_id').val() ;
        
        $('#reception_name').text('') ;
        $('#find_reception_help').text('') ;

        $.ajax({
                type : "POST",
                url : "/order/insert/find_reception",
                data : 
                {
                    "mb_id" : mb_id,
                    "reg_name" : $('#reg_name').val()
                },
                success : function (data) 
                { 
                    data = $.trim( data ) ;

                    if ( data == 'NULL' )
                    {
                        alert('접수처 회원 정보를 확인 해 주시기 바랍니다') ;
                        
                        $('#reception_id').val('') ;
                    }
                    else if ( data == 'NAME' )
                    {
                        alert('가입자명을 입력 해 주시기 바랍니다') ;
                        
                        $('#reception_id').val('') ;
                    }
                    else if ( data == 'FAILED' )
                    {
                        alert('접수처에 명의자와 동일한 회원ID는 입력 할 수 없습니다.') ;
                        
                        $('#reception_id').val('') ;
                    }                    
                    else
                    {
                        $('#reception_name').text(data) ;
                        $('#find_reception_help').html('<span class="glyphicon glyphicon-ok"></span>') ;
                    }
                }
            });
    }) ;
});

</script>

<? if( IS_TEST_SERVER ) : ?>
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<? else : ?>
    <script src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>
<? endif; ?>
<script>
    function execDaumPostcode(zonecode, addr1) 
    {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 도로명 조합형 주소 변수

                // 법정동명이 있을 경우 추가한다.
                if(data.bname !== ''){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있을 경우 추가한다.
                if(data.buildingName !== ''){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }
                // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
                if(fullRoadAddr !== ''){
                    fullRoadAddr += extraRoadAddr;
                }

                if ( fullRoadAddr == '' )
                {
                    fullRoadAddr = data.jibunAddress ;
                }                

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById(zonecode).value = data.zonecode;
                document.getElementById(addr1).value = fullRoadAddr;           
            }
        }).open();
    }
</script>

<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->
<!--[if lt IE 10]>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->