<link rel="stylesheet" href="<?=PLUGIN_DIR?>/jquery-steps/css/custom-jquery.steps.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/owl-carousel/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/style/masterslider.css">
<link rel='stylesheet' href="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/skins/default/style.css">

<!--=== Content Medium Part ===-->
<div class="content-md margin-bottom-30">
    <div class="container">     
            <div>
                <div class="header-tags">            
                    <div>
                        <h2>상품 정보 보기</h2>
                    </div>    
                </div>
                <section>
                    <div class="shop-product">
                        <div class="row">
                            <div class="col-md-5 md-margin-bottom-50">
                                <div class="ms-showcase2-template">
                                    <!-- Master Slider -->
                                    <div class="master-slider ms-skin-default" id="masterslider">
                                        <? foreach ($product_info['pt_thumbnail'] as $thumbnail) : ?>
                                        <? if ( $thumbnail != '' ) : ?>
                                            <div class="ms-slide">
                                                <img class="img-responsive" src="assets/img/blank.gif" data-src="<?=$thumbnail?>" alt="lorem ipsum dolor sit">
                                                <img class="ms-thumb img-responsive" src="<?=$thumbnail?>" alt="thumb">
                                            </div>
                                        <? endif ?>
                                        <? endforeach ?>
                                    </div>
                                    <!-- End Master Slider -->
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="shop-product-heading">
                                    <h2><?=$product_info['PDT_NAME']?></h2>
                                    <ul class="list-inline shop-product-social">
                                        <li><?=$product_info['PDT_MODEL']?></li>
                                    <? if ( $product_info['out_of_stock'] ) : ?>
                                        <li><small class="shop-bg-red time-day-left"><span id="left_days"></span>매진</small></li>
                                    <? elseif ( $product_info['close_out_of_stock'] ) : ?>
                                        <li><small class="shop-bg-red time-day-left"><span id="left_days"></span>매진 임박</small></li>
                                    <? endif ?>                                                                                
                                    </ul>
                                </div>

                                <ul class="list-inline product-ratings margin-bottom-30">
                                <? for( $k = 0 ; $k < 5 ; $k++ ) : ?>
                                    <? if ( $k < $product_info['nStar'] ) : ?>
                                        <li><i class="rating-selected fa fa-star"></i></li>
                                    <? else : ?>
                                        <li><i class="rating fa fa-star"></i></li>
                                    <? endif ?>
                                <? endfor ?>
                                </ul>

                                <div class="row margin-bottom-20">
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>출고가</B></h3>
                                        <ul class="list-inline shop-product-prices">
                                            <li class="shop-red"><?=$product_info['pc_price']?></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>공시지원금</B></h3>
                                        <ul class="list-inline shop-product-prices">
                                            <li class="shop-green" id='price_discount'></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row margin-bottom-20">                                    
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>할부개월수</B></h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <select id="select_pay_kind" name="select_pay_kind" required>
                                                <option value="">없음</option>
                                                <option value="24">24 개월</option>
                                                <option value="30">30 개월</option>                                            
                                            </select>
                                            <em for="select_pay_kind" class="required">할부개월수를 선택 해 주세요</em>
                                        </ul>
                                    </div>

                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>할부이자</B></h3>                                    
                                        <span id='instalment_amount'></span>                                       
                                    </div>
                                </div>                                

                                <div class="row">                                   
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>요금제</B></h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <select id="select_calling_plan" name="select_calling_plan" required>
                                                <option value="">없음</option>
                                            <? foreach ($product_info['calling_plan'] as $key => $value) : ?>
                                                <option value="<?=$key?>"><?=$value?></option>
                                            <? endforeach ; ?>
                                            </select>                                            
                                        </ul>    
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>가입유형</B></h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <select id="select_join_type" name="select_join_type" required>
                                                <option value="">없음</option>
                                            <? foreach ($product_info['join_type'] as $key => $value) : ?>
                                                <option value="<?=$key?>"><?=$value?></option>
                                            <? endforeach ; ?>
                                            </select>                                            
                                        </ul>    
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- <div class="col-md-6">
                                        <h3 class="shop-product-title">CV</h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <span id="cv_value"></span>
                                        </ul>
                                    </div> -->

                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>RB</B></h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <span id="pv_value"></span>
                                        </ul>    
                                    </div>

                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>유심</B></h3>
                                        후납구매
                                    </div>
                                </div> 

                            <!--    <div class="row">
                                    <div class="col-md-4">
                                        <h3 class="shop-product-title">정책 시작일</h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <span id="s_date"></span>
                                        </ul>
                                    </div>

                                     <div class="col-md-4">
                                        <h3 class="shop-product-title">정책 종료일</h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <span id="e_date"></span>
                                        </ul>
                                    </div>

                                    <div class="col-md-4">
                                        <h3 class="shop-product-title">유심</h3>
                                        후납구매
                                    </div>
                                </div> -->
                                                                  
                                <div class="row">
                                    <div class="col-md-1">
                                        <h3 class="shop-product-title"><B>색상</B></h3>
                                    </div>

                                    <div class="col-md-11">
                                        <ul class="list-inline product-color margin-bottom-20">
                                            <? foreach ($product_info['pt_colors'] as $key => $pt_color) : ?>
                                                <li>
                                                    <input class="pt_color" type="radio" id="<?=$pt_color['PDTDETAIL_NO']?>" name="pt_color" <? echo ($key == 0) ? 'checked' : '' ; ?> value="<?=$pt_color['PDTDETAIL_NO']?>">
                                                    <label class="<?=$pt_color['class']?>" for="<?=$pt_color['PDTDETAIL_NO']?>"><?=$pt_color['OPT_VALUE']?></label>
                                                <? if ( IS_MANAGER ) : ?>
                                                    <span class="badge badge-red rounded-2x"><?=$pt_color['stock_counts']?></span>
                                                <? endif ?>
                                                </li>
                                            <? endforeach ?> 
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><!--/end row-->
                    </div>
                    <!--=== End Shop Product ===-->                    
                </section> 

                <? if ( $product_info['DETAIL_IMG_PATH'] != '' ) : ?>
                <div><img src="<?=$product_info['DETAIL_IMG_PATH']?>" width="100%"></div>
                <? endif ?>
            </div>
        </form>
    </div><!--/end container-->
</div>
<!--=== End Content Medium Part ===-->     

<script src="<?=PLUGIN_DIR?>/owl-carousel/owl-carousel/owl.carousel.js"></script>
<!-- Master Slider -->
<script src="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/masterslider.min.js"></script>
<script src="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/jquery.easing.min.js"></script>

<script src="<?=JS_DIR?>/plugins/shop.app.js"></script>
<script src="<?=JS_DIR?>/plugins/owl-carousel.js"></script>
<script src="<?=JS_DIR?>/plugins/master-slider.js"></script>
<script type='text/javascript'>
function get_detail_info()
{        
    var pdt_cd = '<?=$product_info['PDT_CD']?>' ;
    var price_kind = $('#select_calling_plan').val() ;
    var reg_kind = $('#select_join_type').val() ;

    $('#cv_value').text('0') ;
    $('#pv_value').text('0') ;

    $.ajax({
        dataType : "JSON",
        type : "POST",
        url : "/order/insert/get_detail_info",
        data : 
        {
            "pdt_cd" : pdt_cd,
            "price_kind" : price_kind,
            "reg_kind" : reg_kind
        },
        success : function (data) 
        {            
            if ( data != 'NULL' )
            { 
                $.each(data, function(key, val) 
                { 
                    if ( key == 'PTP_ID' )
                    {
                        $('#ptp_id').val(val) ;
                    }
                    else if ( key == 'POINT1' )
                    {
                        $('#cv_value').text(val) ;                          
                    }
                    else if ( key == 'POINT2' )
                    {
                        $('#pv_value').text(val) ; 
                    }
                    else if ( key == 'S_DATE' )
                    {
                        $('#s_date').text(val) ; 
                    }
                    else if ( key == 'E_DATE' )
                    {
                        $('#e_date').text(val) ; 
                    }
                    else if ( key == 'left_days' )
                    {
                        $('#left_days').text(val) ; 
                    }
                    else if ( key == 'PRICE_DISCOUNT' )
                    {
                        $('#price_discount').text(val) ; 
                    }
                    else if ( key == 'INSTALMENT_AMOUNT' )
                    {
                        $('#instalment_amount').text(val) ; 
                    }                   
                });                    
            }
        }
    });
}

jQuery(document).ready(function() 
{   
    get_detail_info() ;
    App.init();
    App.initScrollBar();   
    OwlCarousel.initOwlCarousel();
    MasterSliderShowcase2.initMasterSliderShowcase2();

    $('#select_calling_plan').change(function()
    {
        get_detail_info() ;
    }) ;

    $('#select_join_type').change(function()
    {
        get_detail_info() ;
    }) ;

    /*$('.pt_color').change(function()
    {
        var pdt_cd = '<?=$product_info['PDT_CD']?>' ;
                
        $.ajax({
            type : "POST",
            url : "/order/insert/get_stock_count",
            data : 
            {
                "pdt_cd" : pdt_cd,
                "pdtdetail_no" : $(this).val()
            },
            success : function (data) 
            {                                            
            }
        });
    }) ; */   
});

</script>

<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->
<!--[if lt IE 10]>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->