<link rel="stylesheet" href="<?=PLUGIN_DIR?>/jquery-steps/css/custom-jquery.steps.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/owl-carousel/owl-carousel/owl.carousel.css">

<!--=== Content Medium Part ===-->
<div class="content-md margin-bottom-30">
    <div class="container">
            <div>
                <div class="header-tags">            
                    <div class="overflow-h">
                        <h2>상품 정보 보기</h2>
                    </div>    
                </div>
                <section>
                    <div class="shop-product">
                        <div class="row">
                            <div class="col-md-5 md-margin-bottom-50">
                                <div class="ms-showcase2-template">
                                    <!-- Master Slider -->                                    
                                    <? if ( $card_info['IMG_PATH'] != '' ) : ?>
                                        <img src="<?=$card_info['IMG_PATH']?>" width="100%">     
                                    <? endif ?>
                                    <!-- End Master Slider -->
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="shop-product-heading">
                                    <h2><?=$card_info['PDT_NAME']?></h2>
                                    <ul class="list-inline shop-product-social">
                                        <li><?=$card_info['CD_COMPANY']?> / <?=$vender_list[$card_info['TEL_COMPANY']]?></li>                                        
                                    </ul>
                                </div>

                                <ul class="list-inline product-ratings margin-bottom-30">
                                <? for( $k = 0 ; $k < 5 ; $k++ ) : ?>
                                    <? if ( $k < $card_info['nStar'] ) : ?>
                                        <li><i class="rating-selected fa fa-star"></i></li>
                                    <? else : ?>
                                        <li><i class="rating fa fa-star"></i></li>
                                    <? endif ?>
                                <? endfor ?>
                                </ul>

                                <div class="row margin-bottom-20">
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>세이브 한도</B></h3>
                                        <ul class="list-inline shop-product-prices">
                                            <li class="shop-red"><?=number_format($card_info['SAVE_LIMIT'])?></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>세이브 수수료</B></h3>
                                        <ul class="list-inline shop-product-prices">
                                            <li class="shop-green"><?=$card_info['SAVE_COMMISSION']?></li>
                                        </ul>
                                    </div>
                                </div>   

                            <!--    <div class="row">
                                    <div class="col-md-3">
                                        <h3 class="shop-product-title">CV</h3>
                                        <ul class="list-inline shop-product-prices margin-bottom-20">
                                            <li class="shop-green"><?=$card_info['POINT1']?></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-3">
                                        <h3 class="shop-product-title">PV</h3>
                                        <ul class="list-inline shop-product-prices margin-bottom-20">
                                            <li class="shop-green"><?=$card_info['POINT2']?></li>
                                        </ul>    
                                    </div>
                                
                                    <div class="col-md-3">
                                        <h3 class="shop-product-title">PV3</h3>
                                        <ul class="list-inline shop-product-prices margin-bottom-20">
                                            <li class="shop-green"><?=$card_info['POINT3']?></li>
                                        </ul>                                    
                                    </div>

                                    <div class="col-md-3">
                                        <h3 class="shop-product-title">PV4</h3>
                                        <ul class="list-inline shop-product-prices margin-bottom-20">
                                            <li class="shop-green"><?=$card_info['POINT4']?></li>
                                        </ul>                                    
                                    </div>                                    
                                </div> -->

                                <div class="row">                                   
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>RB</B></h3>
                                        <ul class="list-inline shop-product-prices margin-bottom-20">
                                            <li class="shop-green"><?=$card_info['POINT2']?></li>
                                        </ul>     
                                    </div>                                    
                                </div>

                                <div class="row">                                   
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>추가 적립 포인트</B></h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <? for ( $i = 1 ; $i < 4 ; $i++ ) : ?>
                                                <?=number_format($card_info['SAVE_POINT_TERMS'.$i.'_OVER'])?> 이상
                                                <?=number_format($card_info['SAVE_POINT_TERMS'.$i.'_UNDER'])?> 미만 사용시
                                                <?=number_format($card_info['SAVE_POINT_TERMS'.$i.'_POINT'])?> 적립<BR>
                                            <? endfor ; ?>                                            
                                        </ul>    
                                    </div>                                    
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <h3 class="shop-product-title"><B>연회비</B></h3>
                                        <ul class="list-inline shop-product-prices margin-bottom-20">
                                            <li class="shop-green"><?=$card_info['ANNUAL_FEE']?></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-4">
                                        <h3 class="shop-product-title"><B>가입 축하 포인트</B></h3>
                                        <ul class="list-inline shop-product-prices margin-bottom-20">
                                            <li class="shop-green"><?=$card_info['JOIN_POINT']?></li>
                                        </ul>    
                                    </div>
                                
                                    <div class="col-md-4">
                                        <h3 class="shop-product-title"><B>카드 타입</B></h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <? if ( $card_info['CARD_TYPE'] == 0 ) : ?>
                                            세이브
                                            <? elseif ( $card_info['CARD_TYPE'] == 1 ) : ?>
                                            후청구
                                            <? else : ?>
                                            체크카드
                                            <? endif ?>
                                        </ul>                                    
                                    </div>
                                </div>  

                                <div class="row">                                    
                                    <h3 class="shop-product-title"><B>추가 혜택</B></h3>
                                    <ul class="list-inline product-size margin-bottom-20">
                                        <?=nl2br($card_info['ADD_BENEFIT'])?>
                                    </ul>                                    
                                </div>  

                                <div class="row">                                    
                                    <h3 class="shop-product-title"><B>기타 내용</B></h3>
                                    <ul class="list-inline product-size margin-bottom-20">
                                        <?=nl2br($card_info['ETC_MSG'])?>
                                    </ul>                                    
                                </div>                                                                     
                            </div>
                        </div><!--/end row-->
                    </div>
                    <!--=== End Shop Product ===-->                    
                </section>                                
            </div>        
    </div><!--/end container-->
</div>
<!--=== End Content Medium Part ===-->    