<link rel="stylesheet" href="<?=PLUGIN_DIR?>/jquery-steps/css/custom-jquery.steps.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/owl-carousel/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<!--=== Content Medium Part ===-->
<div class="content-md margin-bottom-30">
    <div class="container">
        <?=validation_errors('<pre><p class="color-red"> ','</p>  </pre>')?>
        <form id="fOrder" name="fOrder" class="shopping-cart" method="post" action="/order/insert_starion/update" enctype="multipart/form-data">
            <input type="hidden" name="token" value="<?=$token?>" />
            <input type="hidden" name="PDT_CD" value="<?=$pdt_info['PDT_CD']?>">
            <input type="hidden" name="USERID" value="<?=$orderer_info['USERID']?>">
            <div>
                <div class="header-tags">
                    <div class="overflow-h">
                        <h2>상품 정보 보기</h2>
                        <p>Review &amp; edit your product</p>
                        <i class="rounded-x fa fa-info"></i>
                    </div>
                </div>
                <section>
                    <div class="shop-product">
                        <div class="row">
                            <div class="col-md-5 md-margin-bottom-50">
                                <div class="ms-showcase2-template">
                                    <!-- Master Slider -->
                                    <? if ( isset($pdt_info['pt_thumbnail']) && $pdt_info['pt_thumbnail'][0] != '' ) : ?>
                                    <img src="<?=$pdt_info['pt_thumbnail'][0]?>" width="100%">
                                    <? endif ?>
                                    <!-- End Master Slider -->
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="shop-product-heading">
                                    <h2><?=$pdt_info['PDT_NAME']?></h2>
                                    <ul class="list-inline shop-product-social">
                                        <li><?=$pdt_info['PDT_MODEL']?></li>
                                        <li><small class="shop-bg-red time-day-left"><span id="left_days"></span> days left</small></li>
                                    </ul>
                                </div>

                                <ul class="list-inline product-ratings margin-bottom-30">
                                    <? for( $k = 0 ; $k < 5 ; $k++ ) : ?>
                                    <? if ( $k < $pdt_info['nStar'] ) : ?>
                                    <li><i class="rating-selected fa fa-star"></i></li>
                                    <? else : ?>
                                    <li><i class="rating fa fa-star"></i></li>
                                    <? endif ?>
                                    <? endfor ?>
                                </ul>

                                <div class="row margin-bottom-20">
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>상품가</B></h3>
                                        <ul class="list-inline shop-product-prices">
                                            <li class="shop-red"><?=number_format($pdt_info['AMT'])?></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><!--/end row-->
                    </div>
                    <!--=== End Shop Product ===-->
                </section>

                <div class="header-tags">
                    <div class="overflow-h">
                        <h2>상품 신청정보</h2>
                        <p>Shipping and address info</p>
                        <i class="rounded-x fa fa-home"></i>
                    </div>
                </div>
                <section class="billing-info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h2 class="title-type">상품 신청정보 입력</h2>
                                </div>
                                <div class="col-sm-3">
                                    <label class="checkbox text-left">
                                        <input type="checkbox" id="copy_member_info" />
                                        <i></i>
                                        회원 정보와 동일
                                    </label>
                                </div>
                            </div>
                            <div class="billing-info-inputs checkbox-list">
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        고객명
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="reg_name" name="reg_name" class="form-control required">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        고객 연락처
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" id="reg_mobile" name="reg_mobile" class="form-control required">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        설치주소
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="col-sm-5" style="padding-left: 0px">
                                            <input type="text" id="home_zonecode" name="home_zonecode" class="form-control" maxlength="7" readonly="readonly" />
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="button" class="btn-u btn-u-dark-blue" onclick="execDaumPostcode()" value="검색"><br>
                                        </div>
                                        <span class="help-block"><input type="text" id="home_addr1" name="home_addr1" class="form-control" maxlength="100" readonly="readonly"/></span>
                                        <span class="help-block"><input type="text" id="home_addr2" name="home_addr2" class="form-control" maxlength="100"/></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        설치 희망 날짜
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control required" id="reg_date" name="reg_date">
                                    </div>
                                </div>
                             <? if ( $gift_type != false && $gift_type[0] != '' ) : ?>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        사은품
                                    </div>
                                    <div class="col-sm-9">
                                        <select id="gift_type" name="gift_type" class="form-control">
                                            <? foreach ($gift_type as $key => $value) : ?>
                                            <? if ( $key > 0 ) : ?>
                                            <option value="<?=$key?>"><?=$value?></option>
                                            <? endif ?>
                                            <? endforeach ?>
                                        </select>
                                    </div>
                                </div>
                            <? endif ?>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h2 class="title-type">결제 정보 입력</h2>
                                </div>
                            </div>
                            <div class="billing-info-inputs checkbox-list">
                                <div class="row margin-bottom-10" id="div_sel_center">
                                    <div class="col-sm-3 color-dark">
                                        결제 방법
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="PAY_TYPE" name="sel_pay_type" class="form-control required">
                                            <option value="1">계좌이체</option>
                                            <option value="2">카드결제</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="div_bank_info">
                                    <div class="row margin-bottom-10">
                                        <div class="col-sm-3 color-dark">
                                        </div>
                                        <div class="col-sm-7 color-blue" style="font-size:11px;">
                                            <strong>
                                            입금은행 : KEB하나은행<BR>
                                            입금계좌 : 234-910014-63204<BR>
                                            예 금 주 : 주식회사 라인커넥션
                                            </strong>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 color-dark">
                                            입금자
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" id="bank_pay_owner" name="bank_pay_owner" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div id="div_card_info" style="display: none;">
                                    <div class="row">
                                        <div class="col-sm-3 color-dark">
                                            카드주
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" id="card_pay_owner" name="card_pay_owner" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 color-dark">
                                            생년월일(6자리)
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" id="pay_birth" name="pay_birth" class="form-control" minlength= "6" maxlength="6">
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-10">
                                        <div class="col-sm-3 color-dark">
                                            카드명
                                        </div>
                                        <div class="col-sm-6">
                                            <select name="pay_card" id="pay_card" class="form-control">
                                                <option value="">-</option>
                                                <? foreach ($card_list as $key => $value) : ?>
                                                <option value="<?=$key?>"><?=$value?></option>
                                                <? endforeach ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 color-dark">
                                            카드번호
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" id="pay_account" name="pay_account" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 color-dark">
                                            카드유효기간
                                        </div>
                                        <div class="col-sm-3">
                                            월 (예시 09) <input type="text" id="pay_limit_month" name="pay_limit_month" class="form-control" minlength= "2" maxlength="2">
                                        </div>
                                        <div class="col-sm-3">
                                            년 (예시 15) <input type="text" id="pay_limit_year" name="pay_limit_year" class="form-control" minlength= "2" maxlength="2">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 color-dark">
                                            카드보안코드<BR>(숫자 3자리)
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" id="CARD_CVC" name="CARD_CVC" class="form-control" minlength= "3" maxlength="3">
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-10">
                                        <div class="col-sm-3 color-dark">
                                            할부개월
                                        </div>
                                        <div class="col-sm-3">
                                            <select id="CARD_INSTALMENT_TYPE" name="CARD_INSTALMENT_TYPE" class="form-control">
                                                <option value="0">일시불</option>
                                                <?php
                                                for ($i = 2 ; $i <= 12 ; $i++)
                                                {
                                                    echo "<option value=".$i.">".$i."개월</option>" ;
                                                }
                                                ?>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-bottom-10">
                                    <div class="col-sm-3 color-dark">
                                        주문 센터
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="ord_center" name="ord_center" class="form-control required">
                                            <? foreach ($center_list as $key => $value) : ?>
                                            <option value="<?=$key?>"><?=$value?></option>
                                            <? endforeach ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="row margin-bottom-10">
                                    <div class="col-sm-3 color-dark">
                                        RB 수령 회원<BR>(회원번호)
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" id="hb_recipient_id" name="hb_recipient_id" class="form-control required">
                                    </div>
                                    <div class="ladda-btn">
                                        <button type="button" class="btn-u btn-u-dark-blue ladda-button" data-style="expand-right" id="find_hb_recipient">찾기</button>
                                        <span id="hb_recipient_name" class="color-purple"></span>
                                        <span id="find_hb_recipient_help" class="color-blue"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        기타 메시지
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="textarea textarea-expandable">
                                            <textarea id="ord_msg" name="ord_msg" rows="3" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="header-tags">
                    <div class="overflow-h">
                        <h2>주문 확인</h2>
                        <p>Confirm order</p>
                        <i class="rounded-x fa fa-check"></i>
                    </div>
                </div>
                <section>
                    <!-- Description -->
                    <div class="row">
                        <div class="col-md-4">
                            <? if ( isset($pdt_info['pt_thumbnail']) && $pdt_info['pt_thumbnail'][0] != '' ) : ?>
                            <img class="full-width img-responsive" src="<?=$pdt_info['pt_thumbnail'][0]?>" alt="">
                            <? endif ?>
                        </div>
                        <div class="col-md-8">
                            <h3 class="heading-md margin-bottom-20"><?=$pdt_info['PDT_NAME']?></h3>

                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled specifies-list">
                                        <li><i class="fa fa-caret-right"></i> 상품명 : <span><?=$pdt_info['PDT_NAME']?></span></li>
                                        <li><i class="fa fa-caret-right"></i> 모델명 : <span><?=$pdt_info['PDT_MODEL']?></span></li>
                                        <li><i class="fa fa-caret-right"></i> 상품가 : <span><?=$pdt_info['AMT']?></span></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Description -->
                    <div class="row">
                        <div class="col-md-6 md-margin-bottom-40">
                            <h2 class="title-type">상품 신청정보</h2>
                            <div class="billing-info-inputs checkbox-list">
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        고객명
                                    </div>
                                    <div class="col-sm-9" id="confirm_reg_name"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        고객 연락처
                                    </div>
                                    <div class="col-sm-6" id="confirm_reg_mobile"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        설치 주소
                                    </div>
                                    <div class="col-sm-9">
                                        <div id="confirm_home_zip"></div>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                    </div>
                                    <div class="col-sm-9">
                                        <div id="confirm_home_addr"></div>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        설치 희망 날짜
                                    </div>
                                    <div class="col-sm-6" id="confirm_reg_date"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <h2 class="title-type">결제 정보</h2>
                            <div class="billing-info-inputs checkbox-list">
                                <div id="div_confirm_bank_info">
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            결제 방법
                                        </div>
                                        <div class="col-sm-9">
                                            계좌이체
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            입금자
                                        </div>
                                        <div class="col-sm-6" id="confirm_bank_pay_owner"></div>
                                    </div>
                                </div>
                                <div id="div_confirm_card_info" style="display: none;">
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            결제 방법
                                        </div>
                                        <div class="col-sm-9">
                                            카드결제
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            카드주
                                        </div>
                                        <div class="col-sm-6" id="confirm_card_pay_owner"></div>
                                    </div>
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            생년월일
                                        </div>
                                        <div class="col-sm-7" id="confirm_pay_birth"></div>
                                    </div>
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            카드명
                                        </div>
                                        <div class="col-sm-3" id="confirm_pay_name"></div>
                                    </div>
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            카드번호
                                        </div>
                                        <div class="col-sm-6" id="confirm_pay_account"></div>
                                    </div>
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            카드 유효 기간
                                        </div>
                                        <div class="col-sm-6" id="confirm_pay_limit"></div>
                                    </div>
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            카드보안코드<BR>(숫자 3자리)
                                        </div>
                                        <div class="col-sm-6" id="CONFIRM_CARD_CVC"></div>
                                    </div>
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            할부개월
                                        </div>
                                        <div class="col-sm-6" id="CONFIRM_CARD_INSTALMENT_TYPE"></div>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        주문 센터
                                    </div>
                                    <div class="col-sm-6" id="confirm_ord_center"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        RB 수령 회원<BR>(회원번호)
                                    </div>
                                    <div class="col-sm-6" id="confirm_hb_recipient_id"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        기타 메시지
                                    </div>
                                    <div class="col-sm-9">
                                        <div id="confirm_ord_msg"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div><!--/end container-->
</div>
<!--=== End Content Medium Part ===-->

<style>
    em.required
    {
        display: none;
        margin-top: 6px;
        padding: 0 1px;
        font-style: normal;
        font-size: 11px;
        line-height: 15px;
        color: #ee9393;
    }
</style>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/jquery-steps/build/jquery.steps.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script src="<?=JS_DIR?>/plugins/stepWizard.js"></script>

<script src="<?=PLUGIN_DIR?>/owl-carousel/owl-carousel/owl.carousel.js"></script>
<!-- Master Slider -->
<script src="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/masterslider.min.js"></script>
<script src="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/jquery.easing.min.js"></script>

<script src="<?=JS_DIR?>/plugins/shop.app.js"></script>
<script src="<?=JS_DIR?>/plugins/owl-carousel.js"></script>
<script src="<?=JS_DIR?>/plugins/master-slider.js"></script>
<script type="text/javascript" src="<?=JS_DIR?>/ace-elements.js"></script>
<script type='text/javascript'>
    jQuery(document).ready(function()
    {
        App.init();
        App.initScrollBar();
        StepWizard.initStepWizard();
        OwlCarousel.initOwlCarousel();

        $("a[href='#previous']").html('이전') ;
        $("a[href='#next']").html('다음') ;
        $("a[href='#finish']").html('완료') ;

        <? if ( $pdt_info['DETAIL_IMG_PATH'] != '' ) : ?>
        var div_detail_img = '<div id="div_detail_img"><img src="<?=$pdt_info['DETAIL_IMG_PATH']?>" width="100%"></div>' ;
        $(".actions").append(div_detail_img) ;
        <? endif ?>

        $('#reg_date').datepicker
        ({
            dateFormat: 'yymmdd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            changeMonth: true,
            changeYear: true,

            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames : ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],
        });

        $('#PAY_TYPE').change(function()
        {
            if ( $(this).val() == 2 )
            {
                $('#div_bank_info').hide() ;
                $('#div_confirm_bank_info').hide() ;

                $('#div_card_info').show() ;
                $('#div_confirm_card_info').show() ;
            }
            else
            {
                $('#div_bank_info').show() ;
                $('#div_confirm_bank_info').show() ;

                $('#div_card_info').hide() ;
                $('#div_confirm_card_info').hide() ;
            }
        }) ;

        $('#copy_member_info').change(function()
        {
            if ( $(this).is(':checked') )
            {
                $('#reg_name').val("<?=$orderer_info['USERNAME']?>") ;
                $('#reg_birth').val("<?=$orderer_info['JUMIN_NO']?>") ;
                $('#reg_mobile').val("<?=$orderer_info['MOBILE']?>") ;

                $('#home_zonecode').val("<?=$orderer_info['ZIPCODE']?>") ;
                $('#home_addr1').val("<?=$orderer_info['ADDR1']?>") ;
                $('#home_addr2').val("<?=$orderer_info['ADDR2']?>") ;
            }
            else
            {
                $('#reg_name').val("") ;
                $('#reg_birth').val("") ;
                $('#reg_mobile').val("") ;

                $('#home_zonecode').val("") ;
                $('#home_addr1').val("") ;
                $('#home_addr2').val("") ;
            }
        }) ;

        $("a[href='#next'], #steps-uid-0-t-2").bind('click', function ()
        {
            $(".invalid").each(function()
            {
                var o_name = $(this).attr('name') ;
                $(".required[for='"+o_name+"'").css('display', 'block') ;
            }) ;

            if ( $('.last').attr('aria-selected') == 'true' )
            {
                if ( $('.middle').attr('style') != '' )
                {
                    $('#img_view0').attr('style', $('.middle').attr('style') ) ;
                    $('#div_img0').show() ;
                }
                else
                {
                    $('#div_img0').hide() ;
                }

                $('#confirm_reg_name').html($('#reg_name').val()) ;
                $('#confirm_reg_mobile').html($('#reg_mobile').val()) ;

                $('#confirm_home_zip').html($('#home_zonecode').val()) ;
                $('#confirm_home_addr').html($('#home_addr1').val()+' '+$('#home_addr2').val()) ;

                $('#confirm_reg_date').html($('#reg_date').val()) ;

                $('#confirm_card_pay_owner').html($('#card_pay_owner').val()) ;
                $('#confirm_bank_pay_owner').html($('#bank_pay_owner').val()) ;

                $('#confirm_pay_birth').html($('#pay_birth').val()) ;
                $('#confirm_pay_name').html($('#pay_card option:selected').text()) ;

                $('#confirm_pay_account').html($('#pay_account').val()) ;
                $('#confirm_pay_limit').html($('#pay_limit_month').val()+'/'+$('#pay_limit_year').val()) ;
                $('#CONFIRM_CARD_CVC').html($('#CARD_CVC').val()) ;

                if ( $('#CARD_INSTALMENT_TYPE').val() == 0 )
                {
                    $('#CONFIRM_CARD_INSTALMENT_TYPE').html("일시불") ;
                }
                else
                {
                    $('#CONFIRM_CARD_INSTALMENT_TYPE').html($('#CARD_INSTALMENT_TYPE').val() + "개월");
                }

                $('#confirm_ord_center').html($('#ord_center option:selected').text()) ;
                $('#confirm_hb_recipient_id').html($('#hb_recipient_id').val() + '(' + $('#hb_recipient_name').text() + ')') ;

                $('#confirm_ord_msg').html($('#ord_msg').val()) ;
            }
        }) ;

        $('#hb_recipient_id').click(function()
        {
            $(this).val('') ;
            $('#hb_recipient_name').text('') ;
            $('#find_hb_recipient_help').text('') ;
        }) ;

        $('#find_hb_recipient').click(function()
        {
            mb_id =  $('#hb_recipient_id').val() ;

            $('#hb_recipient_id').val(mb_id.toUpperCase()) ;
            mb_id = $('#hb_recipient_id').val() ;

            $('#hb_recipient_name').text('') ;
            $('#find_hb_recipient_help').text('') ;

            $.ajax({
                type : "POST",
                url : "/order/insert/find_reception",
                data :
                    {
                        "mb_id" : mb_id,
                        "reg_name" : $('#reg_name').val()
                    },
                success : function (data)
                {
                    data = $.trim( data ) ;

                    if ( data == 'NULL' )
                    {
                        alert('RB 수령 회원 정보를 확인 해 주시기 바랍니다') ;

                        $('#hb_recipient_id').val('') ;
                    }
                    else if ( data == 'NAME' )
                    {
                        alert('고객명을 입력 해 주시기 바랍니다') ;

                        $('#hb_recipient_id').val('') ;
                    }
                    else if ( data == 'FAILED' )
                    {
                        $('#hb_recipient_name').text($('#reg_name').val()) ;
                        $('#find_hb_recipient_help').html('<span class="glyphicon glyphicon-ok"></span>') ;
                    }
                    else
                    {
                        $('#hb_recipient_name').text(data) ;
                        $('#find_hb_recipient_help').html('<span class="glyphicon glyphicon-ok"></span>') ;
                    }
                }
            });
        }) ;
    });

</script>

<? if( IS_TEST_SERVER ) : ?>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<? else : ?>
<script src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>
<? endif; ?>
<script>
    function execDaumPostcode()
    {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 도로명 조합형 주소 변수

                // 법정동명이 있을 경우 추가한다.
                if(data.bname !== ''){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있을 경우 추가한다.
                if(data.buildingName !== ''){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }
                // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
                if(fullRoadAddr !== ''){
                    fullRoadAddr += extraRoadAddr;
                }

                if ( fullRoadAddr == '' )
                {
                    fullRoadAddr = data.jibunAddress ;
                }

                document.getElementById("home_zonecode").value = data.zonecode;
                document.getElementById("home_addr1").value = fullRoadAddr;

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                /*    document.getElementById("home_zip1").value = data.postcode1;
                 document.getElementById("home_zip2").value = data.postcode2;

                 if( data.jibunAddress == "" )
                 document.getElementById("home_addr1").value = fullRoadAddr;
                 else
                 document.getElementById("home_addr1").value = data.jibunAddress; */
            }
        }).open();
    }
</script>

<!--[if lt IE 9]>
<script src="assets/plugins/respond.js"></script>
<script src="assets/plugins/html5shiv.js"></script>
<script src="assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->
<!--[if lt IE 10]>
<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->