<link rel="stylesheet" href="<?=PLUGIN_DIR?>/jquery-steps/css/custom-jquery.steps.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/owl-carousel/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/style/masterslider.css">
<link rel='stylesheet' href="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/skins/default/style.css">

<!--=== Content Medium Part ===-->
<div class="content-md margin-bottom-30">
    <div class="container">
        <?=validation_errors('<pre><p class="color-red"> ','</p>  </pre>')?>
        <form id="fOrder" name="fOrder" class="shopping-cart" method="post" action="/order/insert/update" enctype="multipart/form-data">
        <input type="hidden" name="token" value="<?=$token?>" />
        <input type="hidden" name="pdt_cd" value="<?=$product_info['PDT_CD']?>">
        <input type="hidden" name="ptp_id" id="ptp_id">
        <input type="hidden" name="ORD_TEL" value="<?=$orderer_info['TEL']?>">
        <input type="hidden" name="ORD_MOBILE" value="<?=$orderer_info['MOBILE']?>">
        <input type="hidden" name="ORD_EMAIL" value="<?=$orderer_info['EMAIL']?>">        
        <input type="hidden" name="old_tel_name" value="">  
        <input type="hidden" name="reception_id" value="<?=$this->session->userdata('ss_mb_id')?>">   
            <div>
                <div class="header-tags">            
                    <div class="overflow-h">
                        <h2>상품 정보 보기</h2>
                        <p>Review &amp; edit your product</p>
                        <i class="rounded-x fa fa-info"></i>
                    </div>    
                </div>
                <section>
                    <div class="shop-product">
                        <div class="row">
                            <div class="col-md-5 md-margin-bottom-50">
                                <div class="ms-showcase2-template">
                                    <!-- Master Slider -->
                                    <div class="master-slider ms-skin-default" id="masterslider">
                                        <? foreach ($product_info['pt_thumbnail'] as $thumbnail) : ?>
                                        <? if ( $thumbnail != '' ) : ?>
                                            <div class="ms-slide">
                                                <img class="img-responsive" src="assets/img/blank.gif" data-src="<?=$thumbnail?>" alt="lorem ipsum dolor sit">
                                                <img class="ms-thumb img-responsive" src="<?=$thumbnail?>" alt="thumb">
                                            </div>
                                        <? endif ?>
                                        <? endforeach ?>
                                    </div>
                                    <!-- End Master Slider -->
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="shop-product-heading">
                                    <h2><?=$product_info['PDT_NAME']?></h2>
                                    <ul class="list-inline shop-product-social">
                                        <li><?=$product_info['PDT_MODEL']?></li>
                                    <? if ( $product_info['out_of_stock'] ) : ?>
                                        <li><small class="shop-bg-red time-day-left"><span id="left_days"></span>매진</small></li>
                                    <? elseif ( $product_info['close_out_of_stock'] ) : ?>
                                        <li><small class="shop-bg-red time-day-left"><span id="left_days"></span>매진 임박</small></li>
                                    <? else : ?>
                                        <li></li>
                                    <? endif ?> 
                                    </ul>
                                </div>

                                <ul class="list-inline product-ratings margin-bottom-30">
                                <? for( $k = 0 ; $k < 5 ; $k++ ) : ?>
                                    <? if ( $k < $product_info['nStar'] ) : ?>
                                        <li><i class="rating-selected fa fa-star"></i></li>
                                    <? else : ?>
                                        <li><i class="rating fa fa-star"></i></li>
                                    <? endif ?>
                                <? endfor ?>
                                </ul>

                                <div class="row margin-bottom-20">
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>출고가</B></h3>
                                        <ul class="list-inline shop-product-prices">
                                            <li class="shop-red"><?=$product_info['pc_price']?></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>공시지원금</B></h3>
                                        <ul class="list-inline shop-product-prices">
                                            <li class="shop-green" id='price_discount'></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row margin-bottom-20">                                    
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>할부개월수</B></h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <select id="select_pay_kind" name="select_pay_kind" required>
                                                <option value="">없음</option>
                                                <option value="24">24 개월</option>
                                                <option value="30">30 개월</option>                                            
                                            </select>
                                            <em for="select_pay_kind" class="required">할부개월수를 선택 해 주세요</em>
                                        </ul>
                                    </div>

                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>할부이자</B></h3>   
                                        <span id='instalment_amount'></span>                                       
                                    </div>
                                </div>    

                                <div class="row">                                   
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>요금제</B></h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <select id="select_calling_plan" name="select_calling_plan" required>
                                                <option value="">없음</option>
                                            <? foreach ($product_info['calling_plan'] as $key => $value) : ?>
                                                <option value="<?=$key?>"><?=$value?></option>
                                            <? endforeach ; ?>
                                            </select>
                                            <em for="select_calling_plan" class="required">요금제를 선택 해 주세요</em>
                                        </ul>    
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>가입유형</B></h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <select id="select_join_type" name="select_join_type" required>
                                                <option value="">없음</option>
                                            <? foreach ($product_info['join_type'] as $key => $value) : ?>
                                                <option value="<?=$key?>"><?=$value?></option>
                                            <? endforeach ; ?>
                                            </select>
                                            <em for="select_join_type" class="required">가입유형을 선택 해 주세요</em>
                                        </ul>    
                                    </div>
                                </div>

                                <!--<div class="row">
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title">CV</h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <span id="cv_value"></span>
                                        </ul>
                                    </div>

                                    <div class="col-md-6">
                                        <h3 class="shop-product-title">PV</h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <span id="pv_value"></span>
                                        </ul>    
                                    </div>
                                </div> 

                                <div class="row">
                                    <div class="col-md-4">
                                        <h3 class="shop-product-title">정책 시작일</h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <span id="s_date"></span>
                                        </ul>
                                    </div>

                                     <div class="col-md-4">
                                        <h3 class="shop-product-title">정책 종료일</h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <span id="e_date"></span>
                                        </ul>
                                    </div>

                                    <div class="col-md-4">
                                        <h3 class="shop-product-title">유심</h3>
                                        후납구매
                                    </div>
                                </div>-->

                                <div class="row">
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>RB</B></h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <span id="pv_value"></span>
                                        </ul>    
                                    </div>

                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>유심</B></h3>
                                        후납구매
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-1">
                                        <h3 class="shop-product-title"><B>색상</B></h3>
                                    </div>

                                    <div class="col-md-11">
                                        <ul class="list-inline product-color">
                                            <? foreach ($product_info['pt_colors'] as $key => $pt_color) : ?>
                                                <? if ( ( $product_info['SELL_FORCED'] == 'O' ) || $pt_color['stock_counts'] > 0 ) :?>
                                                <li>
                                                    <input type="radio" id="<?=$pt_color['PDTDETAIL_NO']?>" name="pt_color" value="<?=$pt_color['PDTDETAIL_NO']?>" required>
                                                    <label class="<?=$pt_color['class']?>" for="<?=$pt_color['PDTDETAIL_NO']?>"><?=$pt_color['OPT_VALUE']?></label>
                                                </li>
                                                <? endif ?>
                                            <? endforeach ?> 
                                        </ul>
                                        <em for="pt_color" class="required">색상을 선택 해 주세요</em>
                                    </div>
                                </div>
                            </div>
                        </div><!--/end row-->
                    </div>
                    <!--=== End Shop Product ===-->                
   
                </section>
                
                <div class="header-tags">
                    <div class="overflow-h">
                        <h2>주문 정보 입력</h2>
                        <p>Shipping and address info</p>
                        <i class="rounded-x fa fa-home"></i>
                    </div>    
                </div>
                <section class="billing-info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h2 class="title-type">주문 정보 입력</h2>
                                </div>
                            </div>
                            <div class="billing-info-inputs checkbox-list">
                                <div class="row margin-bottom-10">
                                    <div class="col-sm-3 color-dark">
                                        고객 구분
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="ord_type" name="ord_type" class="form-control required">
                                            <option value="1">개인</option>
                                            <option value="2">개인사업자</option>
                                            <option value="3">법인사업자</option>
                                            <option value="4">미성년자</option>
                                            <!-- <option value="5">외국인</option> -->
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        가입자명
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="reg_name" name="reg_name" class="form-control required">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        현재 사용 중인<BR>
                                        핸드폰 번호
                                    </div>
                                    <div class="col-sm-3">
                                        <select id="old_tel_comp" name="old_tel_comp" class="form-control required">
                                        <? foreach ($vender_list as $key => $value) : ?>
                                            <option value="<?=$key?>"><?=$value?></option>
                                        <? endforeach ?>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" id="old_tel" name="old_tel" class="form-control required">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        가입자 이메일
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" id="reg_email" name="reg_email" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        가입자 생년월일
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" id="reg_birth" name="reg_birth" class="form-control">
                                    </div>                                    
                                    <div>(예시:19800101)</div>
                                </div>
                                <div class="row margin-bottom-10">
                                    <div class="col-sm-3 color-dark">
                                        청구 유형
                                    </div>
                                    <div class="col-sm-6">
                                        <select id="bill_kind" name="bill_kind" class="form-control">
                                            <option value="1">모바일M청구서</option>                                        
                                            <option value="2">스마트청구서</option>                                        
                                            <option value="3">이메일</option>                                        
                                        </select>
                                    </div>
                                </div>     
                                <div class="row margin-bottom-10">
                                    <div class="col-sm-3 color-dark">
                                        주문 센터
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="ord_center" name="ord_center" class="form-control required">
                                            <? foreach ($center_list as $key => $value) : ?>
                                            <option value="<?=$key?>"><?=$value?></option>
                                            <? endforeach ?>
                                        </select>
                                    </div>
                                </div>   
                            <!--    <div class="row margin-bottom-10">
                                    <div class="col-sm-3 color-dark">
                                        접수처(회원ID)
                                    </div>       
                                    <div class="col-sm-6">
                                        <input type="text" id="reception_id" name="reception_id" class="form-control"> 
                                    </div>                              
                                    <div class="ladda-btn">
                                        <button type="button" class="btn-u btn-u-dark-blue ladda-button" data-style="expand-right" id="find_reception">찾기</button>
                                        <span id="reception_name" class="color-purple"></span>
                                        <span id="find_reception_help" class="color-blue"></span>
                                    </div>                                      
                                </div>                                                    
                                <div class="row margin-bottom-10">
                                    <div class="col-sm-3 color-dark">
                                        작성하시는분<BR>(회원번호)
                                    </div>       
                                    <div class="col-sm-6">
                                        <input type="text" id="seller_id" name="seller_id" class="form-control required"> 
                                    </div>                              
                                    <div class="ladda-btn">
                                        <button type="button" class="btn-u btn-u-dark-blue ladda-button" data-style="expand-right" id="find_seller">찾기</button>
                                        <span id="seller_name" class="color-purple"></span>
                                        <span id="find_seller_help" class="color-blue"></span>
                                    </div>                                      
                                </div>                                                       
                                <div class="row margin-bottom-10">                             
                                <? if ( $this->session->userdata('KAIT_NO') == '' ) : ?>
                                    <div class="col-sm-3 color-dark">
                                        사전승낙사업자<BR>회원번호/비밀번호<BR>(KAIT승낙번호)
                                    </div>       
                                    <div class="col-sm-3">
                                        <input type="text" id="upper_id" name="upper_id" class="form-control" placeholder="회원번호"> 
                                    </div>          
                                    <div class="col-sm-3">
                                        <input type="text" id="upper_pw" name="upper_pw" class="form-control" placeholder="비밀번호"> 
                                    </div>                                                     
                                    <div class="ladda-btn">
                                        <button type="button" class="btn-u btn-u-dark-blue ladda-button" data-style="expand-right" id="find_reg_no">찾기</button>                                        
                                        <span id="find_reg_no_help" class="color-blue"></span>
                                    </div>                         
                                    <div class="col-sm-6">
                                        <input type="text" id="reg_no" name="reg_no" class="form-control required" readonly="true"> 
                                    </div>  
                                <? else : ?>                                
                                    <div class="col-sm-3 color-dark">
                                        KAIT승낙번호
                                    </div>       
                                    <div class="col-sm-6">
                                        <?= $this->session->userdata('KAIT_NO') ?>  
                                    </div>                                 
                                <? endif ?>                           
                                </div> -->                                
                            
                                <div class="row margin-bottom-10">
                                    <div class="col-sm-3 color-dark">
                                        RB 수령인<BR>(회원번호)
                                    </div>       
                                    <div class="col-sm-6">
                                        <input type="text" id="hb_recipient_id" name="hb_recipient_id" class="form-control required"> 
                                    </div>                              
                                    <div class="ladda-btn">
                                        <button type="button" class="btn-u btn-u-dark-blue ladda-button" data-style="expand-right" id="find_recipient">찾기</button>
                                        <span id="hb_recipient_name" class="color-purple"></span>
                                        <span id="find_recipient_help" class="color-blue"></span>
                                    </div>                                      
                                </div> 

                                <div class="row hide">
                                    <div class="col-sm-3 color-dark">
                                        신분증 파일
                                    </div>    
                                    <div class="col-sm-9">                                      
                                        <div id="alert_file" class="ace">       
                                            <div id="form-attachments">                                                     
                                                <div class="row">
                                                <? for( $i = 0 ; $i < 1 ; $i++ ) : ?>
                                                    <?
                                                        $k = $i + 1 ;
                                                        $on_img = (isset($THUMBNAILS[$i]) && $THUMBNAILS[$i] != '') ;
                                                        $display = ( $on_img || $i == 0 || (!$on_img && $prev_on_img) ) ? 'block' : 'none' ;
                                                    ?>
                                                    <div class="col-xs-6" id='div-input-file<?=$k?>' style='display:<?=$display?>'>
                                                    <? if($on_img) : ?>
                                                        <span class="profile-picture">
                                                            <img id="img<?=$k?>" name="<?=$k?>" class="editable img-responsive editable-click editable-empty editable-open" src="<?=$THUMBNAILS[$i]?>" />
                                                        </span>
                                                    <? endif ; ?>
                                                        <span style="display:<?=($on_img)?'none':'block'?>;">
                                                            <input type="file" id="id-input-file<?=$k?>" name="file<?=$k?>"/>
                                                        </span>
                                                    </div>
                                                    <? $prev_on_img = $on_img ; ?>
                                                <? endfor ?>                                                   
                                                </div>                                          
                                                <div class="note">
                                                    <strong>중요!</strong> 이미지 파일만 첨부 가능합니다.
                                                    <BR/>각 첨부파일의 용량은 1.5MB 미만으로 업로드하시기 바랍니다.
                                                    <BR/>(Chrome 에서는 첨부파일의 미리보기가 가능합니다.)
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                            <div id="div_legal_guardian" class="hide">                              
                                <h2 class="title-type">법정 대리인 정보</h2>
                                <div class="billing-info-inputs checkbox-list">
                                    <div class="row">
                                        <div class="col-sm-3 color-dark">
                                            이름
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" id="legal_name" name="legal_name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 color-dark">
                                            연락처
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" id="legal_tel" name="legal_tel" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 color-dark">
                                            본인과의 관계
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" id="legal_relation" name="legal_relation" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h2 class="title-type">배송 정보 입력</h2>
                                </div>
                                <div class="col-sm-3">
                                    <label class="checkbox text-left">
                                        <input type="checkbox" id="copy_orderer_info" />
                                        <i></i>
                                        주문 정보와 동일
                                    </label>
                                </div>
                            </div>
                            <div class="billing-info-inputs checkbox-list">
                                <div class="row margin-bottom-10">
                                    <div class="col-sm-3 color-dark">
                                        수령 방법
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="odv_type" name="odv_type" class="form-control required">
                                            <? foreach ($receipt_kind as $key => $value) : ?>
                                            <option value="<?=$key?>"><?=$value?></option>
                                            <? endforeach ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        받는 사람
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="odv_recipient" name="odv_recipient" class="form-control required">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        연락처
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" id="odv_recipient_tel" name="odv_recipient_tel" class="form-control required">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        비상 연락처
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" id="odv_recipient_hp" name="odv_recipient_hp" class="form-control required">
                                    </div>
                                </div>
                                <div class="row hide" id="div_odv_addr">
                                    <div class="col-sm-3 color-dark">
                                        배송 주소
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="col-sm-5" style="padding-left: 0px">
                                            <input type="text" id="odv_zonecode" name="odv_zonecode" class="form-control" maxlength="7" readonly="readonly" />
                                        </div>
                                        <div class="col-sm-3">                                            
                                            <input type="button" class="btn-u btn-u-dark-blue" onclick="execDaumPostcode()" value="검색"><br>
                                        </div>
                                        <span class="help-block"><input type="text" id="odv_recipient_addr1" name="odv_recipient_addr1" class="form-control" maxlength="100" readonly="readonly"/></span>
                                        <span class="help-block"><input type="text" id="odv_recipient_addr2" name="odv_recipient_addr2" class="form-control" maxlength="100"/></span>
                                    </div>
                                </div>
                                <div class="row margin-bottom-10" id="div_sel_center">
                                    <div class="col-sm-3 color-dark">
                                        수령 센터
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="sel_center" name="sel_center" class="form-control required">
                                            <? foreach ($center_list as $key => $value) : ?>
                                            <option value="<?=$key?>"><?=$value?></option>
                                            <? endforeach ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        기타 메시지
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="textarea textarea-expandable">
                                            <textarea id="ord_msg" name="ord_msg" rows="3" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                         
                </section>
                    
                <div class="header-tags">
                    <div class="overflow-h">
                        <h2>주문 확인</h2>
                        <p>Confirm order</p>
                        <i class="rounded-x fa fa-check"></i>
                    </div>    
                </div>
                <section>
                    <!-- Description -->
                    <div class="row">
                        <div class="col-md-8">
                            <h3 class="heading-md margin-bottom-20"><?=$product_info['PDT_NAME']?></h3>

                            <p><?=$product_info['pt_contents']?></p><br>

                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled specifies-list">
                                        <li><i class="fa fa-caret-right"></i> 상품명 : <span><?=$product_info['PDT_NAME']?></span></li>
                                        <li><i class="fa fa-caret-right"></i> 모델명 : <span><?=$product_info['PDT_MODEL']?></span></li>
                                        <li><i class="fa fa-caret-right"></i> 색상 : <span id="confirm_color"></span></li>
                                    <!--    <li><i class="fa fa-caret-right"></i> CV : <span id="confirm_cv"></span></li>
                                        <li><i class="fa fa-caret-right"></i> PV : <span id="confirm_pv"></span></li> -->
                                        <li><i class="fa fa-caret-right"></i> RB : <span id="confirm_pv"></span></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled specifies-list">
                                        <li><i class="fa fa-caret-right"></i> 가입유형 : <span id="confirm_join_type"></span></li>
                                        <li><i class="fa fa-caret-right"></i> 정책 시작일 : <span id="confirm_s_date"></span></li>
                                        <li><i class="fa fa-caret-right"></i> 정책 종료일 : <span id="confirm_e_date"></span></li>
                                        <li><i class="fa fa-caret-right"></i> 출고가 : <span><?=$product_info['pc_price']?></span></li>
                                        <li><i class="fa fa-caret-right"></i> 할부 개월수 : <span id="confirm_pay_kind"></span></li>
                                        <li><i class="fa fa-caret-right"></i> 요금제 : <span id="confirm_calling_plan"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- Magazine Slider -->
                            <div class="carousel slide carousel-v2 margin-bottom-40" id="portfolio-carousel">
                                <ol class="carousel-indicators">
                                    <? foreach ($product_info['pt_thumbnail'] as $key => $thumbnail) : ?>
                                        <? if ( $thumbnail != '' ) : ?>
                                        <li class="<? echo ($key == 0) ? 'active' : '' ; ?> rounded-x" data-target="#portfolio-carousel" data-slide-to="<?=$key?>"></li>
                                        <? endif ?>
                                    <? endforeach ?>
                                </ol>
                                
                                <div class="carousel-inner">
                                    <? foreach ($product_info['pt_thumbnail'] as $key => $thumbnail) : ?>
                                        <? if ( $thumbnail != '' ) : ?>
                                        <div class="product-thumbnail item <? echo ($key == 0) ? 'active' : '' ; ?>">
                                            <img class="full-width img-responsive" src="<?=$thumbnail?>" alt="">
                                        </div>
                                        <? endif ?>
                                    <? endforeach ?>
                                </div>
                                
                                <a class="left carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="prev">
                                    <i class="fa fa-angle-left arrow-prev"></i>
                                </a>
                                <a class="right carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="next">
                                    <i class="fa fa-angle-right arrow-next"></i>
                                </a>
                            </div>
                            <!-- End Magazine Slider -->
                        </div>
                    </div>
                    <!-- End Description -->
                    <div class="row">
                        <div class="col-md-6 md-margin-bottom-40">
                            <h2 class="title-type">주문 정보</h2>
                            <div class="billing-info-inputs checkbox-list">
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        고객 구분
                                    </div>
                                    <div class="col-sm-9" id="confirm_ord_type"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        가입자명
                                    </div>
                                    <div class="col-sm-9" id="confirm_reg_name"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        현재 사용중인<BR>핸드폰 번호
                                    </div>
                                    <div class="col-sm-3" id="confirm_old_tel_comp"></div>
                                    <div class="col-sm-6" id="confirm_old_tel"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        가입자 이메일
                                    </div>
                                    <div class="col-sm-9" id="confirm_reg_email"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        가입자 생년월일
                                    </div>
                                    <div class="col-sm-6" id="confirm_reg_birth"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        청구유형
                                    </div>
                                    <div class="col-sm-6" id="confirm_bill_kind"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        주문 센터
                                    </div>
                                    <div class="col-sm-6" id="confirm_ord_center"></div>
                                </div>
                            <!--    <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        접수처(회원ID)
                                    </div>       
                                    <div class="col-sm-6" id="confirm_reception_id"></div>                                     
                                </div>                     
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        작성하시는분<BR>(회원번호)
                                    </div>       
                                    <div class="col-sm-6" id="confirm_seller_id"></div>                                     
                                </div>                            
                            <? if ( $product_info['TEL_COMPANY'] == 3203 ) : ?>                  
                                <div class="row margin-bottom-20">                                    
                                <? if ( $this->session->userdata('KAIT_NO') == '' ) : ?>
                                    <div class="col-sm-3 color-dark">
                                        상위사업자<BR>KAIT승낙번호
                                    </div>       
                                    <div class="col-sm-6" id="confirm_reg_no"></div> 
                                <? else : ?>                                
                                    <div class="col-sm-3 color-dark">
                                        KAIT승낙번호
                                    </div>       
                                    <div class="col-sm-6">
                                        <?= $this->session->userdata('KAIT_NO') ?>  
                                    </div>                                 
                                <? endif ?>                           
                                </div>     
                            <? endif ?>   -->                             
                            
                                <div class="row margin-bottom-10">
                                    <div class="col-sm-3 color-dark">
                                        RB 수령인<BR>(회원번호)
                                    </div>       
                                    <div class="col-sm-6" id="confirm_hb_recipient_id"></div>                                   
                                </div> 

                                <div class="row hide">
                                    <div class="col-sm-3 color-dark">
                                        신분증 파일
                                    </div>    
                                    <div class="col-sm-9">                                      
                                        <div id="view_file" class="ace">                                                         
                                            <div class="row">
                                            <? for( $i = 0 ; $i < 1 ; $i++ ) : ?>                                        
                                                <div class="col-xs-6" style='display:none' id='div_img<?=$i?>'>
                                                    <span class="profile-picture">
                                                        <img id="img_view<?=$i?>" class="editable img-responsive editable-click editable-empty editable-open" src="" />
                                                    </span>
                                                </div>
                                            <? endfor ?>                                                   
                                            </div>                                                                                     
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="confirm_div_legal_guardian" class="hide">                              
                                <h2 class="title-type">법정 대리인 정보</h2>
                                <div class="billing-info-inputs checkbox-list">
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            이름
                                        </div>
                                        <div class="col-sm-9" id="confirm_legal_name"></div>
                                    </div>
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            연락처
                                        </div>
                                        <div class="col-sm-9" id="confirm_legal_tel"></div>
                                    </div>
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            본인과의 관계
                                        </div>
                                        <div class="col-sm-9" id="confirm_legal_relation"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <h2 class="title-type">배송 정보</h2>
                            <div class="billing-info-inputs checkbox-list">
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        수령 방법
                                    </div>
                                    <div class="col-sm-9" id="confirm_odv_type"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        받는 사람
                                    </div>
                                    <div class="col-sm-9" id="confirm_odv_recipient"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        연락처
                                    </div>
                                    <div class="col-sm-9" id="confirm_odv_recipient_tel"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        비상 연락처
                                    </div>
                                    <div class="col-sm-9" id="confirm_odv_recipient_hp"></div>
                                </div>
                                <div id="confirm_div_odv_addr" class="hide">
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            배송 주소
                                        </div>
                                        <div class="col-sm-9">
                                            <div id="confirm_odv_zip"></div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                        </div>
                                        <div class="col-sm-9">
                                            <div id="confirm_odv_addr"></div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            기타 메시지
                                        </div>
                                        <div class="col-sm-9">
                                            <div id="confirm_ord_msg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20" id="confirm_div_sel_center">
                                    <div class="col-sm-3 color-dark">
                                        수령 센터
                                    </div>
                                    <div class="col-sm-9">
                                        <div id="confirm_sel_center"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </section>   
            </div>
        </form>
    </div><!--/end container-->
</div>
<!--=== End Content Medium Part ===-->    

<style>
    em.required
    {            
        display: none;
        margin-top: 6px;
        padding: 0 1px;
        font-style: normal;
        font-size: 11px;
        line-height: 15px;
        color: #ee9393;
    }
</style>

<script src="<?=PLUGIN_DIR?>/jquery-steps/build/jquery.steps.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>        
<script src="<?=JS_DIR?>/plugins/stepWizard.js"></script>

<script src="<?=PLUGIN_DIR?>/owl-carousel/owl-carousel/owl.carousel.js"></script>
<!-- Master Slider -->
<script src="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/masterslider.min.js"></script>
<script src="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/jquery.easing.min.js"></script>

<script src="<?=JS_DIR?>/plugins/shop.app.js"></script>
<script src="<?=JS_DIR?>/plugins/owl-carousel.js"></script>
<script src="<?=JS_DIR?>/plugins/master-slider.js"></script>
<script type="text/javascript" src="<?=JS_DIR?>/ace-elements.js"></script>
<script type='text/javascript'>
function get_detail_info()
{        
    var pdt_cd = '<?=$product_info['PDT_CD']?>' ;
    var price_kind = $('#select_calling_plan').val() ;
    var reg_kind = $('#select_join_type').val() ;

    $('#cv_value').text('0') ;
    $('#pv_value').text('0') ;

    $.ajax({
        dataType : "JSON",
        type : "POST",
        url : "/order/insert/get_detail_info",
        data : 
        {
            "pdt_cd" : pdt_cd,
            "price_kind" : price_kind,
            "reg_kind" : reg_kind
        },
        success : function (data) 
        {            
            if ( data != 'NULL' )
            { 
                $.each(data, function(key, val) 
                { 
                    if ( key == 'PTP_ID' )
                    {
                        $('#ptp_id').val(val) ;
                    }
                    else if ( key == 'POINT1' )
                    {
                        $('#cv_value').text(val) ;                          
                    }
                    else if ( key == 'POINT2' )
                    {
                        $('#pv_value').text(val) ; 
                    }
                    else if ( key == 'S_DATE' )
                    {
                        $('#s_date').text(val) ; 
                    }
                    else if ( key == 'E_DATE' )
                    {
                        $('#e_date').text(val) ; 
                    }
                    else if ( key == 'left_days' )
                    {
                        $('#left_days').text(val) ; 
                    }
                    else if ( key == 'PRICE_DISCOUNT' )
                    {
                        $('#price_discount').text(val) ; 
                    }
                    else if ( key == 'INSTALMENT_AMOUNT' )
                    {
                        $('#instalment_amount').text(val) ; 
                    } 
                });                    
            }
        }
    });
}

jQuery(document).ready(function() 
{   
    get_detail_info() ;
    App.init();
    App.initScrollBar();     
    StepWizard.initStepWizard();
    OwlCarousel.initOwlCarousel();
    MasterSliderShowcase2.initMasterSliderShowcase2();

    $("a[href='#previous']").html('이전') ;
    $("a[href='#next']").html('다음') ;
    $("a[href='#finish']").html('완료') ;

    <? if ( $product_info['DETAIL_IMG_PATH'] != '' ) : ?>
        var div_detail_img = '<div id="div_detail_img"><img src="<?=$product_info['DETAIL_IMG_PATH']?>" width="100%"></div>' ;
        $(".actions").append(div_detail_img) ;
    <? endif ?> 

    $('#id-input-file1').ace_file_input({
        style:'well',
        btn_choose:'',
        btn_change:null,
        no_icon:'icon-picture',
        droppable:true,
        thumbnail:'large',      
        //icon_remove:null,
        before_change : function(files, dropped) 
        {
            var allowed_files = [];

            for(var i = 0 ; i < files.length; i++) 
            {
                var file = files[i] ;

                if(typeof file === "string") 
                {
                    //IE8 and browsers that don't support File Object
                    if(! (/\.(jpe?g|png|gif|bmp)$/i).test(file) ) return false ;
                }
                else 
                {
                    var type = $.trim(file.type);
                    if( ( type.length > 0 && ! (/^image\/(jpe?g|png|gif|bmp)$/i).test(type) )
                            || ( type.length == 0 && ! (/\.(jpe?g|png|gif|bmp)$/i).test(file.name) )//for android's default browser which gives an empty string for file.type
                        ) 
                    {
                        alert('이미지 파일만 첨부 가능합니다.') ;
                        continue;//not an image so don't keep this file 
                    }
                }

                if (file.size > (1024 * 1024 * 1.5))
                {
                    var filesize = file.size / (1024 * 1024 * 1.5) ;
                    alert('파일이 너무 큽니다. ('+filesize.toFixed(2)+'MB). 첨부 가능 파일 사이즈(1.5MB 이하)') ;
                    continue ;
                }
                
                allowed_files.push(file);
            }

            if(allowed_files.length == 0) return false ;

            var cur_input_idx = parseInt($(this).attr('name').substr(4, 1)) ;
            var next_input_div = '#div-input-file' + (cur_input_idx + 1) ;

            $('#img'+cur_input_idx).closest('span').hide() ;
            $('#id-input-file'+cur_input_idx).closest('span').show() ;

            $(next_input_div).show() ;

            return allowed_files ;
        },
        before_remove : function() 
        {
            var cur_input_idx = parseInt($(this).attr('name').substr(4, 1)) ;
            var cur_input_div = '#div-input-file' + cur_input_idx ;
            var prev_input_div = '#div-input-file' + (cur_input_idx - 1) ;
            var next_input_div = '#div-input-file' + (cur_input_idx + 1) ;

            if ($(next_input_div).find('.file-label').attr('data-title') == '')
            {
                $(next_input_div).hide() ;
            }

            if ($(prev_input_div).find('.file-label').attr('data-title') == '')
            {
                $(cur_input_div).hide() ;
            }

            return true ;
        },
        preview_error : function(filename, error_code) 
        {
            //name of the file that failed
            //error_code values
            //1 = 'FILE_LOAD_FAILED',
            //2 = 'IMAGE_LOAD_FAILED',
            //3 = 'THUMBNAIL_FAILED'
            //alert(error_code);
        }

    }).on('change', function(){
        //console.log($(this).data('ace_input_files'));
        //console.log($(this).data('ace_input_method'));
    });

    $('#img1').click(function()
    {
        var cur_img_idx = parseInt($(this).attr('name')) ;
        $('#id-input-file'+cur_img_idx).click() ;
    }) ;

    $('#select_calling_plan').change(function()
    {
        get_detail_info() ;
    }) ;

    $('#select_join_type').change(function()
    {
        get_detail_info() ;
    }) ;

    $('#copy_member_info').change(function()
    {
        if ( $(this).is(':checked') )
        {
            $('#reg_name').val("<?=$orderer_info['USERNAME']?>") ;            
            $('#old_tel').val("<?=$orderer_info['MOBILE']?>") ;
            $('#reg_email').val("<?=$orderer_info['EMAIL']?>") ;            
        }
        else
        {
            $('#reg_name').val("") ;
            $('#old_tel').val("") ;
            $('#reg_email').val("") ;
        }
    }) ;

    $('#copy_orderer_info').change(function()
    {
        if ( $(this).is(':checked') )
        {
            $('#odv_recipient').val($('#reg_name').val()) ;            
            $('#odv_recipient_hp').val($('#old_tel').val()) ;            
        }
        else
        {
            $('#odv_recipient').val("") ;
            $('#odv_recipient_hp').val("") ;
        }
    }) ;

    $('#ord_type').change(function()
    {
        if ( $(this).val() == '4' )
        {
            $('#div_legal_guardian').removeClass('hide') ;
            $('#div_legal_guardian').addClass('show') ;

            $('#confirm_div_legal_guardian').removeClass('hide') ;
            $('#confirm_div_legal_guardian').addClass('show') ;            
        }
        else
        {
            $('#div_legal_guardian').removeClass('show') ;
            $('#div_legal_guardian').addClass('hide') ;

            $('#confirm_div_legal_guardian').removeClass('show') ;
            $('#confirm_div_legal_guardian').addClass('hide') ;
        }
    }) ;

    $('#odv_type').change(function()
    {
        if ( $(this).val() == '0701' ) // 직접수령
        {
            $('#div_odv_addr').removeClass('show') ;
            $('#div_odv_addr').addClass('hide') ;

            $('#div_sel_center').removeClass('hide') ;
            $('#div_sel_center').addClass('show') ;

            $('#confirm_div_odv_addr').removeClass('show') ;
            $('#confirm_div_odv_addr').addClass('hide') ;

            $('#confirm_div_sel_center').removeClass('hide') ;
            $('#confirm_div_sel_center').addClass('show') ;
        }
        else
        {
            $('#div_odv_addr').removeClass('hide') ;
            $('#div_odv_addr').addClass('show') ;

            $('#div_sel_center').removeClass('show') ;
            $('#div_sel_center').addClass('hide') ;

            $('#confirm_div_odv_addr').removeClass('hide') ;
            $('#confirm_div_odv_addr').addClass('show') ;

            $('#confirm_div_sel_center').removeClass('show') ;
            $('#confirm_div_sel_center').addClass('hide') ;    
        }
    }) ;

    $("#steps-uid-0-t-0, #steps-uid-0-t-1, #steps-uid-0-t-2").bind('click', function () 
    {
        $("#div_detail_img").hide() ;
        
        if ( $('.first').attr('aria-selected') == 'true' )
        {
            $("#div_detail_img").show() ;
        }
    }) ;

    $("a[href='#next'], #steps-uid-0-t-2").bind('click', function () 
    {
        $("em.required").css('display', 'none') ;

        $(".invalid").each(function()
        {
            var o_name = $(this).attr('name') ;
            $(".required[for='"+o_name+"'").css('display', 'block') ;            
        }) ;

        if ( $('.last').attr('aria-selected') == 'true' )
        {           
            if ( $('.middle').attr('style') != '' )
            {
                $('#img_view0').attr('style', $('.middle').attr('style') ) ;
                $('#div_img0').show() ;
            }
            else
            {
                $('#div_img0').hide() ;   
            }

            var color_id = $("input[name='pt_color']:checked").val() ;
            
            $('#confirm_color').html($("label[for='"+color_id+"']").text()) ;
            $('#confirm_cv').html($('#cv_value').text()) ;
            $('#confirm_pv').html($('#pv_value').text()) ;
            $('#confirm_s_date').html($('#s_date').text()) ;
            $('#confirm_e_date').html($('#e_date').text()) ;
            $('#confirm_join_type').html($('#select_join_type option:selected').text()) ;
            $('#confirm_pay_kind').html($('#select_pay_kind option:selected').text()) ;
            $('#confirm_calling_plan').html($('#select_calling_plan option:selected').text()) ;

            $('#confirm_ord_type').html($('#ord_type option:selected').text()) ;
            $('#confirm_reg_name').html($('#reg_name').val()) ;
            $('#confirm_old_tel_comp').html($('#old_tel_comp option:selected').text()) ;            
            $('#confirm_old_tel').html($('#old_tel').val()) ;
            $('#confirm_reg_email').html($('#reg_email').val()) ;
            $('#confirm_reg_birth').html($('#reg_birth').val()) ;            
            $('#confirm_bill_kind').html($('#bill_kind option:selected').text()) ;            
            $('#confirm_ord_center').html($('#ord_center option:selected').text()) ;            
            //$('#confirm_reception_id').html($('#reception_id').val() + '(' + $('#reception_name').text() + ')') ;            

            $('#confirm_hb_recipient_id').html($('#hb_recipient_id').val() + '(' + $('#hb_recipient_name').text() + ')') ;            

            //$('#confirm_seller_id').html($('#seller_id').val() + '(' + $('#seller_name').text() + ')') ;            
            //$('#confirm_reg_no').html($('#reg_no').val()) ;         

            $('#confirm_legal_name').html($('#legal_name').val()) ;
            $('#confirm_legal_tel').html($('#legal_tel').val()) ;
            $('#confirm_legal_relation').html($('#legal_relation').val()) ;

            $('#confirm_odv_type').html($('#odv_type option:selected').text()) ;
            $('#confirm_odv_recipient').html($('#odv_recipient').val()) ;
            $('#confirm_odv_recipient_tel').html($('#odv_recipient_tel').val()) ;
            $('#confirm_odv_recipient_hp').html($('#odv_recipient_hp').val()) ;
            $('#confirm_odv_zip').html($('#odv_zonecode').val()) ;
            $('#confirm_odv_addr').html($('#odv_recipient_addr1').val()+' '+$('#odv_recipient_addr2').val()) ;
            $('#confirm_sel_center').html($('#sel_center option:selected').text()) ;   
            $('#confirm_ord_msg').html($('#ord_msg').val()) ;

            $("input[name='old_tel_name']").val($('#old_tel_comp option:selected').text()) ;
        }  
    }) ;
/*
    $('#reception_id').click(function()
    {
        $(this).val('') ;
        $('#reception_name').text('') ;
        $('#find_reception_help').text('') ;
    }) ;

    $('#find_reception').click(function()
    {
        mb_id =  $('#reception_id').val() ;

        $('#reception_id').val(mb_id.toUpperCase()) ;
        mb_id = $('#reception_id').val() ;
        
        $('#reception_name').text('') ;
        $('#find_reception_help').text('') ;

        $.ajax({
                type : "POST",
                url : "/order/insert/find_reception",
                data : 
                {
                    "mb_id" : mb_id,
                    "reg_name" : $('#reg_name').val()
                },
                success : function (data) 
                { 
                    data = $.trim( data ) ;

                    if ( data == 'NULL' )
                    {
                        alert('접수처 회원 정보를 확인 해 주시기 바랍니다') ;
                        
                        $('#reception_id').val('') ;
                    }
                    else if ( data == 'NAME' )
                    {
                        alert('가입자명을 입력 해 주시기 바랍니다') ;
                        
                        $('#reception_id').val('') ;
                    }
                    else if ( data == 'FAILED' )
                    {
                        alert('접수처에 명의자와 동일한 회원ID는 입력 할 수 없습니다.') ;
                        
                        $('#reception_id').val('') ;
                    }                    
                    else
                    {
                        $('#reception_name').text(data) ;
                        $('#find_reception_help').html('<span class="glyphicon glyphicon-ok"></span>') ;
                    }
                }
            });
    }) ;

    $('#seller_id').click(function()
    {
        $(this).val('') ;
        $('#seller_name').text('') ;
        $('#find_seller_help').text('') ;
    }) ;

    $('#find_seller').click(function()
    {
        mb_id =  $('#seller_id').val() ;

        $('#seller_id').val(mb_id.toUpperCase()) ;
        mb_id = $('#seller_id').val() ;
        
        $('#seller_name').text('') ;
        $('#find_seller_help').text('') ;

        $.ajax({
                type : "POST",
                url : "/order/insert/find_reception",
                data : 
                {
                    "mb_id" : mb_id,
                    "reg_name" : $('#reg_name').val()
                },
                success : function (data) 
                { 
                    data = $.trim( data ) ;

                    if ( data == 'NULL' )
                    {
                        alert('접수자 회원 정보를 확인 해 주시기 바랍니다') ;
                        
                        $('#seller_id').val('') ;
                    }     
                    else if ( data == 'NAME' )
                    {
                        alert('가입자명을 입력 해 주시기 바랍니다') ;
                        
                        $('#reception_id').val('') ;
                    }                                   
                    else
                    {
                        $('#seller_name').text(data) ;
                        $('#find_seller_help').html('<span class="glyphicon glyphicon-ok"></span>') ;
                    }
                }
            });
    }) ;

    $('#upper_id').click(function()
    {
        $(this).val('') ;
        $('#reg_no').val('') ;
        $('#find_reg_no_help').text('') ;
    }) ;

    $('#find_reg_no').click(function()
    {
        mb_id = $('#upper_id').val() ;
        mb_pw = $('#upper_pw').val() ;

        $('#upper_id').val(mb_id.toUpperCase()) ;
        mb_id = $('#upper_id').val() ;
        
        $('#reg_no').val('') ;
        $('#find_reg_no_help').text('') ;

        $.ajax({
                type : "POST",
                url : "/order/insert/find_reg_no",
                data : 
                {
                    "mb_id" : mb_id,     
                    "mb_pw" : mb_pw,               
                },
                success : function (data) 
                { 
                    data = $.trim( data ) ;

                    if ( data == 'NULL' )
                    {
                        alert('사전승낙사업자 정보를 확인 해 주시기 바랍니다') ;
                        
                        $('#upper_id').val('') ;
                        $('#upper_pw').val('') ;
                    }                 
                    else
                    {
                        $('#reg_no').val(data) ;
                        $('#find_reg_no_help').html('<span class="glyphicon glyphicon-ok"></span>') ;
                    }
                }
            });
    }) ;*/

    <? if ( $product_info['PDT_CD'] != "000000000007117" ) : ?>
    $("#steps-uid-0-t-1, #steps-uid-0-t-2").bind('click', function ()
    {
        if ( ($("#reg_name").val() != "") && ($("#reg_name").val() == $("#hb_recipient_name").text()) && ($('#pv_value').text() != '0') )
        {
            $('#find_recipient').click() ;
        }
    }) ;
    <? endif ?>

    $('#reg_name').click(function()
    {
        $(this).val('') ;
        $('#hb_recipient_id').val('') ;
        $('#hb_recipient_name').text('') ;
        $('#find_recipient_help').text('') ;
    }) ;

    $('#hb_recipient_id').click(function()
    {
        $(this).val('') ;
        $('#hb_recipient_name').text('') ;
        $('#find_recipient_help').text('') ;
    }) ;

    $('#find_recipient').click(function()
    {
        if ( $("#reg_name").val() == "" )
        {
            alert('가입자명을 먼저 입력해 주세요.') ;
            return ;
        }

        mb_id = $('#hb_recipient_id').val() ;

        $('#hb_recipient_name').text('') ;
        $('#find_recipient_help').text('') ;

        $.ajax({
            type : "POST",
            url : "/order/insert/find_hb_recipient",
            data :
            {
                "mb_id" : mb_id,
                "ord_name" : $("#reg_name").val(),
                "pv_value" : $('#pv_value').text(),
            },
            success : function (data)
            {
                data = $.trim( data ) ;

                if ( data == 'NULL' )
                {
                    alert('RB 수령 회원 정보를 확인 해 주시기 바랍니다') ;

                    $('#hb_recipient_id').val('') ;
                }
                else if ( data == 'CANT' )
                {
                    alert('단말기 주문시 RB 수령 회원 명의로 개통 하실 수 없습니다.') ;

                    $("#reg_name").val('') ;
                    $("#odv_recipient").val('') ;
                    $("#steps-uid-0-t-1").click() ;
                    $('.current[aria-selected=true]').addClass('error') ;
                    $("#reg_name").addClass('invalid') ;
                    $("#odv_recipient").addClass('invalid') ;
                    $('#hb_recipient_id').val('') ;
                }
                else
                {
                    $('#hb_recipient_name').text(data) ;
                    $('#find_recipient_help').html('<span class="glyphicon glyphicon-ok"></span>') ;
                }
            }
        });
    }) ;
});

</script>

<? if( IS_TEST_SERVER ) : ?>
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<? else : ?>
    <script src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>
<? endif; ?>
<script>
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 도로명 조합형 주소 변수

                // 법정동명이 있을 경우 추가한다.
                if(data.bname !== ''){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있을 경우 추가한다.
                if(data.buildingName !== ''){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }
                // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
                if(fullRoadAddr !== ''){
                    fullRoadAddr += extraRoadAddr;
                }

                if ( fullRoadAddr == '' )
                {
                    fullRoadAddr = data.jibunAddress ;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById("odv_zonecode").value = data.zonecode;
                document.getElementById("odv_recipient_addr1").value = fullRoadAddr;      
            }
        }).open();
    }
</script>

<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->
<!--[if lt IE 10]>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->