<link rel="stylesheet" href="<?=PLUGIN_DIR?>/jquery-steps/css/custom-jquery.steps.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/owl-carousel/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<!--=== Content Medium Part ===-->
<div class="content-md margin-bottom-30">
    <div class="container">
        <?=validation_errors('<pre><p class="color-red"> ','</p>  </pre>')?>
        <form id="fOrder" name="fOrder" class="shopping-cart" method="post" action="/order/insert_wired/update" enctype="multipart/form-data">
        <input type="hidden" name="token" value="<?=$token?>" />
        <input type="hidden" name="pdt_cd" value="<?=$pdt_info['PDT_CD']?>">
        <input type="hidden" name="ptp_id" id="ptp_id">
        <input type="hidden" name="odv_type" value="0702">
            <div>
                <div class="header-tags">            
                    <div class="overflow-h">
                        <h2>상품 정보 보기</h2>
                        <p>Review &amp; edit your product</p>
                        <i class="rounded-x fa fa-info"></i>
                    </div>    
                </div>
                <section>
                    <div class="shop-product">
                        <div class="row">
                            <div class="col-md-5 md-margin-bottom-50">
                                <div class="ms-showcase2-template">
                                    <!-- Master Slider -->                                    
                                    <? if ( isset($pdt_info['pt_thumbnail']) && $pdt_info['pt_thumbnail'][0] != '' ) : ?>
                                        <img src="<?=$pdt_info['pt_thumbnail'][0]?>" width="100%">     
                                    <? endif ?>
                                    <!-- End Master Slider -->
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="shop-product-heading">
                                    <h2><?=$pdt_info['PDT_NAME']?></h2>
                                    <ul class="list-inline shop-product-social">
                                        <li><?=$pdt_info['PDT_MODEL']?></li>    
                                        <li><small class="shop-bg-red time-day-left"><span id="left_days"></span> days left</small></li>
                                    </ul>
                                </div>

                                <ul class="list-inline product-ratings margin-bottom-30">
                                <? for( $k = 0 ; $k < 5 ; $k++ ) : ?>
                                    <? if ( $k < $pdt_info['nStar'] ) : ?>
                                        <li><i class="rating-selected fa fa-star"></i></li>
                                    <? else : ?>
                                        <li><i class="rating fa fa-star"></i></li>
                                    <? endif ?>
                                <? endfor ?>
                                </ul>           

                                <div class="row">                                   
                                    <div class="col-md-9">
                                        <h3 class="shop-product-title"><B>요금제</B></h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <select id="select_calling_plan" name="select_calling_plan" required>
                                            <? foreach ($pdt_info['calling_plan'] as $key => $value) : ?>
                                                <option value="<?=$key?>"><?=$value?></option>
                                            <? endforeach ; ?>
                                            </select>
                                            <em for="select_calling_plan" class="required">요금제를 선택 해 주세요</em>
                                        </ul>    
                                    </div>                                    
                                </div>                                                        

                            <!--    <div class="row">
                                    <div class="col-md-3">
                                        <h3 class="shop-product-title">CV</h3>
                                        <ul class="list-inline shop-product-prices margin-bottom-20">
                                            <span id="cv_value"></span>
                                        </ul>
                                    </div>

                                    <div class="col-md-3">
                                        <h3 class="shop-product-title">PV</h3>
                                        <ul class="list-inline shop-product-prices margin-bottom-20">
                                            <span id="pv_value"></span>
                                        </ul>    
                                    </div>                                                           
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title">정책 시작일</h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <span id="s_date"></span>
                                        </ul>
                                    </div>

                                     <div class="col-md-6">
                                        <h3 class="shop-product-title">정책 종료일</h3>
                                        <ul class="list-inline product-size margin-bottom-20">
                                            <span id="e_date"></span>
                                        </ul>
                                    </div>
                                </div>
                            -->    

                                <div class="row">                                    
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>RB</B></h3>
                                        <ul class="list-inline shop-product-prices">
                                            <li class="shop-green"><span id="pv_value"></span></li>
                                        </ul>  
                                    </div>                                                           
                                </div>                               
                            </div>                            
                        </div><!--/end row-->
                    </div>
                    <!--=== End Shop Product ===-->                    
                </section>
                
                <div class="header-tags">
                    <div class="overflow-h">
                        <h2>유선상품 신청정보</h2>
                        <p>Shipping and address info</p>
                        <i class="rounded-x fa fa-home"></i>
                    </div>    
                </div>
                <section class="billing-info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h2 class="title-type">유선상품 신청정보 입력</h2>
                                </div>
                                <div class="col-sm-3">
                                    <label class="checkbox text-left">
                                        <input type="checkbox" id="copy_member_info" />
                                        <i></i>
                                        회원 정보와 동일
                                    </label>
                                </div>
                            </div>
                            <div class="billing-info-inputs checkbox-list">                              
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        가입자명
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="reg_name" name="reg_name" class="form-control required">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        생년월일
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="reg_birth" name="reg_birth" class="form-control required">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        휴대폰 번호
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" id="reg_mobile" name="reg_mobile" class="form-control required">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        전화 번호
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" id="reg_tel" name="reg_tel" class="form-control required">
                                    </div>
                                </div>                                
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        설치주소
                                    </div>
                                    <div class="col-sm-9">
                                    <!--    <div class="col-sm-4" style="padding-left: 0px">
                                            <input type="text" id="home_zip1" name="home_zip1" class="form-control" maxlength="3" readonly="readonly" />
                                        </div>
                                        <div class="col-sm-1" style="padding-left: 5px">-</div>
                                        <div class="col-sm-4" style="padding-left: 0px">
                                            <input type="text" id="home_zip2" name="home_zip2" class="form-control" maxlength="3" readonly="readonly" />
                                        </div> -->
                                        <div class="col-sm-5" style="padding-left: 0px">
                                            <input type="text" id="home_zonecode" name="home_zonecode" class="form-control" maxlength="7" readonly="readonly" />
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="button" class="btn-u btn-u-dark-blue" onclick="execDaumPostcode()" value="검색"><br>
                                        </div>
                                        <span class="help-block"><input type="text" id="home_addr1" name="home_addr1" class="form-control" maxlength="100" readonly="readonly"/></span>
                                        <span class="help-block"><input type="text" id="home_addr2" name="home_addr2" class="form-control" maxlength="100"/></span>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        설치 희망 날짜
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control required" id="reg_date" name="reg_date">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h2 class="title-type">결제 정보 입력</h2>
                                </div>
                            </div>                            
                            <div class="billing-info-inputs checkbox-list">
                                <div class="row margin-bottom-10" id="div_sel_center">
                                    <div class="col-sm-3 color-dark">
                                        자동 이체 선택
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="sel_pay_type" name="sel_pay_type" class="form-control required">
                                            <option value="1">통장자동이체</option>
                                            <option value="2">카드자동이체</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        예금주(카드주)
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="pay_owner" name="pay_owner" class="form-control required">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        생년월일
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="pay_birth" name="pay_birth" class="form-control required">
                                    </div>
                                </div>
                                <div class="row margin-bottom-10">
                                    <div class="col-sm-3 color-dark">
                                        은행(카드)명
                                    </div>
                                    <div class="col-sm-6">
                                        <select name="pay_bank" id="pay_bank" class="form-control">
                                            <option value="">-</option>
                                        <? foreach ($bank_list as $key => $value) : ?>
                                            <option value="<?=$key?>"><?=$value?></option>
                                        <? endforeach ?>
                                        </select>     
                                        <select name="pay_card" id="pay_card" class="form-control hide">
                                            <option value="">-</option>
                                        <? foreach ($card_list as $key => $value) : ?>
                                            <option value="<?=$key?>"><?=$value?></option>
                                        <? endforeach ?>
                                        </select>                                    
                                    </div>                                                                      
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        카드/계좌번호
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" id="pay_account" name="pay_account" class="form-control required">
                                    </div>
                                </div>
                                <div class="row hide" id="div_pay_limit">                                    
                                    <div class="col-sm-3 color-dark">
                                        카드유효기간
                                    </div>
                                    <div class="col-sm-3">
                                        월 (예시 09) <input type="text" id="pay_limit_month" name="pay_limit_month" class="form-control" minlength= "2" maxlength="2">
                                    </div>                                    
                                    <div class="col-sm-3">
                                        년 (예시 15) <input type="text" id="pay_limit_year" name="pay_limit_year" class="form-control" minlength= "2" maxlength="2">
                                    </div>                              
                                </div>                                                                                         
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        이메일
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" id="reg_email" name="reg_email" class="form-control">
                                    </div>
                                </div>     
                                <div class="row margin-bottom-10">
                                    <div class="col-sm-3 color-dark">
                                        주문 센터
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="ord_center" name="ord_center" class="form-control required">
                                            <? foreach ($center_list as $key => $value) : ?>
                                            <option value="<?=$key?>"><?=$value?></option>
                                            <? endforeach ?>
                                        </select>
                                    </div>
                                </div> 
                            <!--    <div class="row margin-bottom-10">
                                    <div class="col-sm-3 color-dark">
                                        접수처(회원ID)
                                    </div>       
                                    <div class="col-sm-6">
                                        <input type="text" id="reception_id" name="reception_id" class="form-control"> 
                                    </div>                              
                                    <div class="ladda-btn">
                                        <button type="button" class="btn-u btn-u-dark-blue ladda-button" data-style="expand-right" id="find_reception">찾기</button>
                                        <span id="reception_name" class="color-purple"></span>
                                        <span id="find_reception_help" class="color-blue"></span>
                                    </div>                                      
                                </div> -->
                                <div class="row margin-bottom-10">
                                    <div class="col-sm-3 color-dark">
                                        작성하시는분<BR>(회원번호)
                                    </div>       
                                    <div class="col-sm-6">
                                        <input type="text" id="seller_id" name="seller_id" class="form-control required"> 
                                    </div>                              
                                    <div class="ladda-btn">
                                        <button type="button" class="btn-u btn-u-dark-blue ladda-button" data-style="expand-right" id="find_seller">찾기</button>
                                        <span id="seller_name" class="color-purple"></span>
                                        <span id="find_seller_help" class="color-blue"></span>
                                    </div>                                      
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 color-dark">
                                        기타 메시지
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="textarea textarea-expandable">
                                            <textarea id="ord_msg" name="ord_msg" rows="3" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>                                                             
                            </div>
                        </div>
                    </div>                         
                </section>
                    
                <div class="header-tags">
                    <div class="overflow-h">
                        <h2>주문 확인</h2>
                        <p>Confirm order</p>
                        <i class="rounded-x fa fa-check"></i>
                    </div>    
                </div>
                <section>
                    <!-- Description -->
                    <div class="row">
                        <div class="col-md-4">
                            <? if ( isset($pdt_info['pt_thumbnail']) && $pdt_info['pt_thumbnail'][0] != '' ) : ?>
                                <img class="full-width img-responsive" src="<?=$pdt_info['pt_thumbnail'][0]?>" alt="">                            
                            <? endif ?>                            
                        </div>                    
                        <div class="col-md-8">
                            <h3 class="heading-md margin-bottom-20"><?=$pdt_info['PDT_NAME']?></h3>

                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled specifies-list">
                                        <li><i class="fa fa-caret-right"></i> 상품명 : <span><?=$pdt_info['PDT_NAME']?></span></li>
                                        <li><i class="fa fa-caret-right"></i> 요금제 : <span id="confirm_calling_plan"></span></li>
                                    <!--    <li><i class="fa fa-caret-right"></i> CV : <span id="confirm_cv"></span></li>
                                        <li><i class="fa fa-caret-right"></i> PV : <span id="confirm_pv"></span></li> -->
                                        <li><i class="fa fa-caret-right"></i> RB : <span id="confirm_pv"></span></li>
                                    <? if ( IS_MANAGER ) : ?>
                                        <li><i class="fa fa-caret-right"></i> PV3 : <span id="confirm_pv3"></span></li>
                                        <li><i class="fa fa-caret-right"></i> PV4 : <span id="confirm_pv4"></span></li>
                                    <? endif ?>
                                        <li><i class="fa fa-caret-right"></i> 정책 시작일 : <span id="confirm_s_date"></span></li>
                                        <li><i class="fa fa-caret-right"></i> 정책 종료일 : <span id="confirm_e_date"></span></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Description -->
                    <div class="row">
                        <div class="col-md-6 md-margin-bottom-40">
                            <h2 class="title-type">유선상품 신청정보</h2>
                            <div class="billing-info-inputs checkbox-list">
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        가입자명
                                    </div>
                                    <div class="col-sm-9" id="confirm_reg_name"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        생년월일
                                    </div>
                                    <div class="col-sm-9" id="confirm_reg_birth"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        휴대폰 번호
                                    </div>                                    
                                    <div class="col-sm-6" id="confirm_reg_mobile"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        전화 번호
                                    </div>                                    
                                    <div class="col-sm-6" id="confirm_reg_tel"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        설치 주소
                                    </div>
                                    <div class="col-sm-9">
                                        <div id="confirm_home_zip"></div>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                    </div>
                                    <div class="col-sm-9">
                                        <div id="confirm_home_addr"></div>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        설치 희망 날짜
                                    </div>                                    
                                    <div class="col-sm-6" id="confirm_reg_date"></div>
                                </div>                                
                            </div>                            
                        </div>

                        <div class="col-md-6">
                            <h2 class="title-type">결제 정보</h2>
                            <div class="billing-info-inputs checkbox-list">
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        자동 이체 선택
                                    </div>
                                    <div class="col-sm-9" id="confirm_sel_pay_type"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        예금주(카드주)
                                    </div>
                                    <div class="col-sm-6" id="confirm_pay_owner"></div>
                                </div>                                
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        생년월일
                                    </div>
                                    <div class="col-sm-7" id="confirm_pay_birth"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        은행(카드)명
                                    </div>
                                    <div class="col-sm-3" id="confirm_pay_name"></div>
                                </div>  
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        카드/계좌번호
                                    </div>
                                    <div class="col-sm-6" id="confirm_pay_account"></div>
                                </div>
                                <div class="row margin-bottom-20 hide" id="confirm_div_pay_limit">
                                    <div class="col-sm-3 color-dark">
                                        카드 유효 기간
                                    </div>
                                    <div class="col-sm-6" id="confirm_pay_limit"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        이메일
                                    </div>
                                    <div class="col-sm-9" id="confirm_reg_email"></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        주문 센터
                                    </div>
                                    <div class="col-sm-6" id="confirm_ord_center"></div>
                                </div>     
                            <!--    <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        접수처(회원ID)
                                    </div>       
                                    <div class="col-sm-6" id="confirm_reception_id"></div>                                     
                                </div>     -->
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        작성하시는분<BR>(회원번호)
                                    </div>       
                                    <div class="col-sm-6" id="confirm_seller_id"></div>                                     
                                </div>                                 
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        기타 메시지
                                    </div>
                                    <div class="col-sm-9">
                                        <div id="confirm_ord_msg"></div>
                                    </div>
                                </div>                                                                                       
                            </div>
                        </div>
                    </div> 
                </section>   
            </div>
        </form>
    </div><!--/end container-->
</div>
<!--=== End Content Medium Part ===-->    

<style>
    em.required
    {            
        display: none;
        margin-top: 6px;
        padding: 0 1px;
        font-style: normal;
        font-size: 11px;
        line-height: 15px;
        color: #ee9393;
    }
</style>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/jquery-steps/build/jquery.steps.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>        
<script src="<?=JS_DIR?>/plugins/stepWizard.js"></script>

<script src="<?=PLUGIN_DIR?>/owl-carousel/owl-carousel/owl.carousel.js"></script>
<!-- Master Slider -->
<script src="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/masterslider.min.js"></script>
<script src="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/jquery.easing.min.js"></script>

<script src="<?=JS_DIR?>/plugins/shop.app.js"></script>
<script src="<?=JS_DIR?>/plugins/owl-carousel.js"></script>
<script src="<?=JS_DIR?>/plugins/master-slider.js"></script>
<script type="text/javascript" src="<?=JS_DIR?>/ace-elements.js"></script>
<script type='text/javascript'>
function get_detail_info()
{        
    var pdt_cd = '<?=$pdt_info['PDT_CD']?>' ;
    var price_kind = $('#select_calling_plan').val() ;    

    $('#cv_value').text('0') ;
    $('#pv_value').text('0') ;
    $('#pv3_value').text('0') ;
    $('#pv4_value').text('0') ;

    $.ajax({
        dataType : "JSON",
        type : "POST",
        url : "/order/insert_wired/get_detail_info",
        data : 
        {
            "pdt_cd" : pdt_cd,
            "price_kind" : price_kind            
        },
        success : function (data) 
        {            
            if ( data != 'NULL' )
            { 
                $.each(data, function(key, val) 
                { 
                    if ( key == 'PTP_ID' )
                    {
                        $('#ptp_id').val(val) ;
                    }
                    else if ( key == 'POINT1' )
                    {
                        $('#cv_value').text(val) ;                          
                    }
                    else if ( key == 'POINT2' )
                    {
                        $('#pv_value').text(val) ; 
                    }
                    else if ( key == 'POINT3' )
                    {
                        $('#pv3_value').text(val) ; 
                    }
                    else if ( key == 'POINT4' )
                    {
                        $('#pv4_value').text(val) ; 
                    }                                        
                    else if ( key == 'S_DATE' )
                    {
                        $('#s_date').text(val) ; 
                    }
                    else if ( key == 'E_DATE' )
                    {
                        $('#e_date').text(val) ; 
                    }
                    else if ( key == 'left_days' )
                    {
                        $('#left_days').text(val) ; 
                    }
                });                    
            }
        }
    });
}

jQuery(document).ready(function() 
{   
    get_detail_info() ;
    App.init();
    App.initScrollBar();     
    StepWizard.initStepWizard();
    OwlCarousel.initOwlCarousel();

    $("a[href='#previous']").html('이전') ;
    $("a[href='#next']").html('다음') ;
    $("a[href='#finish']").html('완료') ;

    <? if ( $pdt_info['DETAIL_IMG_PATH'] != '' ) : ?>
        var div_detail_img = '<div id="div_detail_img"><img src="<?=$pdt_info['DETAIL_IMG_PATH']?>" width="100%"></div>' ;
        $(".actions").append(div_detail_img) ;
    <? endif ?>     

    $('#reg_date').datepicker
    ({
        dateFormat: 'yymmdd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],      
    });

    $('#select_calling_plan').change(function()
    {
        get_detail_info() ;
    }) ;

    $('#copy_member_info').change(function()
    {
        if ( $(this).is(':checked') )
        {
            $('#reg_name').val("<?=$orderer_info['USERNAME']?>") ;            
            $('#reg_birth').val("<?=$orderer_info['JUMIN_NO']?>") ;
            $('#reg_tel').val("<?=$orderer_info['TEL']?>") ;            
            $('#reg_mobile').val("<?=$orderer_info['MOBILE']?>") ;
            $('#reg_email').val("<?=$orderer_info['EMAIL']?>") ;            

            /*$('#home_zip1').val("<?=$orderer_info['ZIP1']?>") ;            
            $('#home_zip2').val("<?=$orderer_info['ZIP2']?>") ;*/            
            $('#home_zonecode').val("<?=$orderer_info['ZIPCODE']?>") ;
            $('#home_addr1').val("<?=$orderer_info['ADDR1']?>") ;            
            $('#home_addr2').val("<?=$orderer_info['ADDR2']?>") ;            
        }
        else
        {
            $('#reg_name').val("") ;
            $('#reg_birth').val("") ;
            $('#reg_tel').val("") ;
            $('#reg_mobile').val("") ;
            $('#reg_email').val("") ;

            /*$('#home_zip1').val("") ;
            $('#home_zip2').val("") ;*/
            $('#home_zonecode').val("") ;
            $('#home_addr1').val("") ;
            $('#home_addr2').val("") ;            
        }
    }) ;

    $('#sel_pay_type').change(function()
    {
        if ( $(this).val() == '2' ) // 카드 자동 이체 
        {
            $('#div_pay_limit').removeClass('hide') ;
            $('#div_pay_limit').addClass('show') ;

            $('#confirm_div_pay_limit').removeClass('hide') ;
            $('#confirm_div_pay_limit').addClass('show') ;
            
            $('#pay_card').removeClass('hide') ;
            $('#pay_card').addClass('show') ;

            $('#pay_bank').removeClass('show') ;
            $('#pay_bank').addClass('hide') ;            
        }
        else
        {
            $('#div_pay_limit').removeClass('show') ;
            $('#div_pay_limit').addClass('hide') ;   

            $('#confirm_div_pay_limit').removeClass('show') ;
            $('#confirm_div_pay_limit').addClass('hide') ; 

            $('#pay_bank').removeClass('hide') ;
            $('#pay_bank').addClass('show') ;

            $('#pay_card').removeClass('show') ;
            $('#pay_card').addClass('hide') ;                            
        }
    }) ;

    $("a[href='#next'], #steps-uid-0-t-2").bind('click', function () 
    {
        $(".invalid").each(function()
        {
            var o_name = $(this).attr('name') ;
            $(".required[for='"+o_name+"'").css('display', 'block') ;
        }) ;

        if ( $('.last').attr('aria-selected') == 'true' )
        {           
            if ( $('.middle').attr('style') != '' )
            {
                $('#img_view0').attr('style', $('.middle').attr('style') ) ;
                $('#div_img0').show() ;
            }
            else
            {
                $('#div_img0').hide() ;   
            }        

            $('#confirm_calling_plan').html($('#select_calling_plan option:selected').text()) ;
            $('#confirm_cv').html($('#cv_value').text()) ;
            $('#confirm_pv').html($('#pv_value').text()) ;
            $('#confirm_pv3').html($('#pv3_value').text()) ;
            $('#confirm_pv4').html($('#pv4_value').text()) ;                    
            $('#confirm_s_date').html($('#s_date').text()) ;
            $('#confirm_e_date').html($('#e_date').text()) ;

            $('#confirm_reg_name').html($('#reg_name').val()) ;
            $('#confirm_reg_birth').html($('#reg_birth').val()) ;
            $('#confirm_reg_mobile').html($('#reg_mobile').val()) ;         
            $('#confirm_reg_tel').html($('#reg_tel').val()) ;

            //$('#confirm_home_zip').html($('#home_zip1').val()+'-'+$('#home_zip2').val()) ;
            $('#confirm_home_zip').html($('#home_zonecode').val()) ;
            $('#confirm_home_addr').html($('#home_addr1').val()+' '+$('#home_addr2').val()) ;

            $('#confirm_reg_date').html($('#reg_date').val()) ;

            $('#confirm_sel_pay_type').html($('#sel_pay_type option:selected').text()) ;
            $('#confirm_pay_owner').html($('#pay_owner').val()) ;
            $('#confirm_pay_birth').html($('#pay_birth').val()) ;            

            if ( $('#sel_pay_type').val() == '2' )
            {
                $('#confirm_pay_name').html($('#pay_card option:selected').text()) ;              
            }
            else
            {
                $('#confirm_pay_name').html($('#pay_bank option:selected').text()) ;                 
            }

            $('#confirm_pay_account').html($('#pay_account').val()) ;
            $('#confirm_pay_limit').html($('#pay_limit_month').val()+'/'+$('#pay_limit_year').val()) ;

            $('#confirm_reg_email').html($('#reg_email').val()) ;

            $('#confirm_ord_center').html($('#ord_center option:selected').text()) ;       
            $('#confirm_seller_id').html($('#seller_id').val() + '(' + $('#seller_name').text() + ')') ;            

            /*if ( $('#reception_id').val() != '' )
            {          
                $('#confirm_reception_id').html($('#reception_id').val() + '(' + $('#reception_name').text() + ')') ;   
            }*/

            $('#confirm_ord_msg').html($('#ord_msg').val()) ;
        }  
    }) ;

    $('#reception_id').click(function()
    {
        $(this).val('') ;
        $('#reception_name').text('') ;
        $('#find_reception_help').text('') ;
    }) ;

    $('#find_reception').click(function()
    {
        mb_id =  $('#reception_id').val() ;

        $('#reception_id').val(mb_id.toUpperCase()) ;
        mb_id = $('#reception_id').val() ;
        
        $('#reception_name').text('') ;
        $('#find_reception_help').text('') ;

        $.ajax({
                type : "POST",
                url : "/order/insert/find_reception",
                data : 
                {
                    "mb_id" : mb_id,
                    "reg_name" : $('#reg_name').val()
                },
                success : function (data) 
                { 
                    data = $.trim( data ) ;

                    if ( data == 'NULL' )
                    {
                        alert('접수처 회원 정보를 확인 해 주시기 바랍니다') ;
                        
                        $('#reception_id').val('') ;
                    }
                    else if ( data == 'NAME' )
                    {
                        alert('가입자명을 입력 해 주시기 바랍니다') ;
                        
                        $('#reception_id').val('') ;
                    }
                    else if ( data == 'FAILED' )
                    {
                        alert('접수처에 명의자와 동일한 회원ID는 입력 할 수 없습니다.') ;
                        
                        $('#reception_id').val('') ;
                    }
                    else
                    {
                        $('#reception_name').text(data) ;
                        $('#find_reception_help').html('<span class="glyphicon glyphicon-ok"></span>') ;
                    }
                }
            });
    }) ;

    $('#seller_id').click(function()
    {
        $(this).val('') ;
        $('#seller_name').text('') ;
        $('#find_seller_help').text('') ;
    }) ;

    $('#find_seller').click(function()
    {
        mb_id =  $('#seller_id').val() ;

        $('#seller_id').val(mb_id.toUpperCase()) ;
        mb_id = $('#seller_id').val() ;
        
        $('#seller_name').text('') ;
        $('#find_seller_help').text('') ;

        $.ajax({
                type : "POST",
                url : "/order/insert/find_reception",
                data : 
                {
                    "mb_id" : mb_id,
                    "reg_name" : $('#reg_name').val()
                },
                success : function (data) 
                { 
                    data = $.trim( data ) ;

                    if ( data == 'NULL' )
                    {
                        alert('접수자 회원 정보를 확인 해 주시기 바랍니다') ;
                        
                        $('#seller_id').val('') ;
                    }   
                    else if ( data == 'NAME' )
                    {
                        alert('가입자명을 입력 해 주시기 바랍니다') ;
                        
                        $('#reception_id').val('') ;
                    }                                   
                    else
                    {
                        $('#seller_name').text(data) ;
                        $('#find_seller_help').html('<span class="glyphicon glyphicon-ok"></span>') ;
                    }
                }
            });
    }) ;
});

</script>

<? if( IS_TEST_SERVER ) : ?>
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<? else : ?>
    <script src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>
<? endif; ?>
<script>
    function execDaumPostcode() 
    {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 도로명 조합형 주소 변수

                // 법정동명이 있을 경우 추가한다.
                if(data.bname !== ''){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있을 경우 추가한다.
                if(data.buildingName !== ''){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }
                // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
                if(fullRoadAddr !== ''){
                    fullRoadAddr += extraRoadAddr;
                }

                if ( fullRoadAddr == '' )
                {
                    fullRoadAddr = data.jibunAddress ;
                }                

                document.getElementById("home_zonecode").value = data.zonecode;
                document.getElementById("home_addr1").value = fullRoadAddr;

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
            /*    document.getElementById("home_zip1").value = data.postcode1;
                document.getElementById("home_zip2").value = data.postcode2;

                if( data.jibunAddress == "" )
                    document.getElementById("home_addr1").value = fullRoadAddr;
                else
                    document.getElementById("home_addr1").value = data.jibunAddress; */                
            }
        }).open();
    }
</script>

<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->
<!--[if lt IE 10]>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->