<link rel="stylesheet" href="<?=PLUGIN_DIR?>/jquery-steps/css/custom-jquery.steps.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/owl-carousel/owl-carousel/owl.carousel.css">

<!--=== Content Medium Part ===-->
<div class="content-md margin-bottom-30">
    <div class="container">
        <div>
            <div class="header-tags">            
                <div class="overflow-h">
                    <h2>상품 정보 보기</h2>
                </div>    
            </div>
            <section>
                <div class="shop-product">
                        <div class="row">
                            <div class="col-md-5 md-margin-bottom-50">
                                <div class="ms-showcase2-template">
                                    <!-- Master Slider -->                                    
                                    <? if ( $pdt_info['pt_thumbnail'][0] != '' ) : ?>
                                        <img src="<?=$pdt_info['pt_thumbnail'][0]?>" width="100%">     
                                    <? endif ?>
                                    <!-- End Master Slider -->
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="shop-product-heading">
                                    <h2><?=$pdt_info['PDT_NAME']?></h2>
                                    <ul class="list-inline shop-product-social">
                                        <li><?=$pdt_info['PDT_MODEL']?></li>    
                                        <li><small class="shop-bg-red time-day-left"><span id="left_days"></span> days left</small></li>
                                    </ul>
                                </div>

                                <ul class="list-inline product-ratings margin-bottom-30">
                                <? for( $k = 0 ; $k < 5 ; $k++ ) : ?>
                                    <? if ( $k < $pdt_info['nStar'] ) : ?>
                                        <li><i class="rating-selected fa fa-star"></i></li>
                                    <? else : ?>
                                        <li><i class="rating fa fa-star"></i></li>
                                    <? endif ?>
                                <? endfor ?>
                                </ul>

                                <div class="row margin-bottom-20">
                                    <div class="col-md-6">
                                        <h3 class="shop-product-title"><B>상품가</B></h3>
                                        <ul class="list-inline shop-product-prices">
                                            <li class="shop-red"><?=number_format($pdt_info['AMT'])?></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>                            
                        </div><!--/end row-->
                    </div>
                <!--=== End Shop Product ===-->                    
            </section>

            <? if ( $pdt_info['DETAIL_IMG_PATH'] != '' ) : ?>
            <div><img src="<?=$pdt_info['DETAIL_IMG_PATH']?>" width="100%"></div>
            <? endif ?>            
        </div>
    </div><!--/end container-->
</div>
<!--=== End Content Medium Part ===-->