<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
<link rel="stylesheet" href="<?=CSS_DIR?>/pages/profile.css">
<link rel="stylesheet" href="<?=CSS_DIR?>/pages/shortcode_timeline2.css">
<link rel='stylesheet' href="<?=CSS_DIR?>/hb_treeview.css">

<div class="container content">    
    <section>
        <div class="headline">
            <div class="row">
                <div class="col-md-4">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                        전체주문건수 : <?=$total_count?>건
                    </h5>
                </div>            
            </div>
            <div class="row" style="padding-right: 30px;">
                <form name="fsearch" id="sky-form" class="sky-form" method="get" action="" onsubmit="return doSearch(this);">
                <input type="hidden" name="sfl" id="sfl" value="PDT_NAME"/>
                <input type="hidden" name="sca" id="sca" value="상품명"/>
                <input type="hidden" name="sdt" id="sdt" value="ORD_DATE"/>
                <input type="hidden" name="sdt_s" id="sdt_s" value="주문일자"/>                          
                <input type="hidden" name="vender" id="vender" value="<?=$vender?>"/>   <!-- 퉁신사 -->
                <input type="hidden" name="state" id="state" value="<?=$state?>"/>   <!-- 주문상태 -->
                <input type="hidden" name="rkind" id="rkind" value="<?=$rkind?>"/>   <!-- 수령방법 -->                
                    <div class="col-md-3">                         
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" id="select_date" class="btn btn-default dropdown-toggle" data-toggle="dropdown">주문일자 <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:set_sdt('ORD_DATE', '주문일자')">주문일자</a></li>
                                    <li><a href="javascript:set_sdt('REAL_OPEN_DT4', '개통일자')">개통일자</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                            <span class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" class="date"name="start" id="start" placeholder="시작일" value="<?=$start_date?>">
                            </span>
                        </div><!-- /input-group -->   
                    </div>  
                    <div class="col-md-9">
                        <div class="row">         
                            <div class="col-md-2">
                                <label class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" class="date"name="finish" id="finish" placeholder="종료일" value="<?=$finish_date?>">
                                </label>
                            </div>
                            <div class="col-md-2">
                                <label class="select">
                                    <select id="sel_vender" >
                                        <option value="">- 통신사</option>
                                        <? foreach ($vender_list as $key => $value) : ?>
                                            <option value="<?=$key?>"><?=$value?></option>
                                        <? endforeach ?>
                                    </select>
                                    <i></i>
                                </label>
                            </div>
                            <div class="col-md-2">
                                <label class="select">
                                    <select id="sel_order_state">
                                        <option value="">- 주문상태</option>
                                        <? foreach ($o_state_list as $key => $value) : ?>
                                            <option value="<?=$key?>"><?=$value?></option>
                                        <? endforeach ?>                                        
                                    </select>
                                    <i></i>
                                </label>
                            </div>
                            <div class="col-md-2">
                                <label class="select">
                                    <select id="sel_rkind">
                                        <option value="">- 수령방법</option>
                                        <? foreach ($receipt_kind as $key => $value) : ?>
                                            <option value="<?=$key?>"><?=$value?></option>
                                        <? endforeach ?>                                        
                                    </select>
                                    <i></i>
                                </label>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="select_sca" class="btn btn-default dropdown-toggle" data-toggle="dropdown">상품명 <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:set_sfl('PDT_NAME', '상품명')">상품명</a></li>
                                            <li><a href="javascript:set_sfl('REG_NAME', '명의자')">명의자</a></li>
                                            <li><a href="javascript:set_sfl('ORD_NAME', '사업자명')">사업자명</a></li>
                                            <li><a href="javascript:set_sfl('A.USERID', '사업자회원번호')">사업자회원번호</a></li>                                            
                                            <li><a href="javascript:set_sfl('OPT_VALUE', '색상')">색상</a></li>
                                            <li><a href="javascript:set_sfl('A.ORDNO', '주문번호')">주문번호</a></li>
                                        <? if ( $tab == 0 || $tab == 3 || $tab == 4 ) : ?>
                                            <li><a href="javascript:set_sfl('D.OLD_TEL', '연락처')">연락처</a></li>                                        
                                            <li><a href="javascript:set_sfl('RECV_MOBILE', '비상연락처')">비상연락처</a></li>
                                            <li><a href="javascript:set_sfl('RECEPTION_ID', '접수회원번호')">접수회원번호</a></li>                                                   
                                        <? endif ?>
                                        </ul>
                                    </div><!-- /btn-group -->
                                    <input type="text" class="form-control" name="stx" id="stx">
                                    <span class="input-group-btn">
                                        <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                            </div>
                            <div class="col-md-1">                                                                
                                <a href="/order/lists/excel/tab/<?=$tab?>/type/<?=$type?><?=$qstr?>" class="btn-u btn-u-green"><i class="fa fa-file-excel-o"></i></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <form name="fboardlist" method="post" action="">

    <!-- Tab v2 -->                
    <div class="tab-v2">
        <ul class="nav nav-tabs">
            <? foreach ($tab_list as $key => $value) : ?>
            <li class="<?=($key == $tab)?'active' : ''?>"><a href="/order/lists_card/tab/<?=$key?>"><?=$value?></a></li>
            <? endforeach ?>
        </ul>              
        <div class="tab-content">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th class="text-center"><a href="<?=$sort_no?>">NO </a><i></i></th>  
                        <th class="text-center">주문번호</th>    
                        <th class="text-center">사업자명</th>   
                        <th class="text-center">연락처</th>
                        <th class="text-center">상품명</th>    
                        <th class="text-center">명의자</th>
                        <th class="text-center">연락처</th>
                        <th class="text-center">주문상태</th>                    
                        <th class="text-center">메모</th>                    
                        <th class="text-center"><a href="<?=$sort_or_date?>">주문일자 </a><i></i></th>                         
                    </tr>
                </thead>        
                <tbody>       
                    <? foreach ($list as $o): ?>
                    <tr>
                        <td><?=$o['num']?></td>
                        <td><?=$o['ORDNO']?></td>
                        <td><?=$o['ORD_NAME'].'('.$o['USERID'].')'?></td>
                        <td><?=$o['MOBILE']?></td>                        
                        <td><a href="<?=$o['href']?>"><?=$o['PDT_NAME']?></a></td>
                        <td><?=$o['REG_NAME']?></td>                    
                        <td><?=$o['OLD_TEL']?></td>
                        <td><?=isset($o_state_list[$o['STATE_CD']])?$o_state_list[$o['STATE_CD']] : $o_state_list[1]?></td>                    
                        <td class="col-xs-2 col-sm-2"><?=$o['ORD_MSG']?></td>                    
                        <td><?=$o['ORD_DATE']?></td>
                    </tr>            
                    <? endforeach; ?>
                </tbody>
            </table>

            <? if (!$list): ?><p class="lead text-center text-muted">주문 내역이 없습니다.</p><? endif; ?>

            <hr>

            <div class="text-center">
                <?=$paging?>
            </div>
        </div>
    </div>
    </form>

    <!-- Bootstrap Modals -->
    <button class="btn-u" data-toggle="modal" data-target="#responsive" id="modal_btn" style="display:none">Modal</button>
    <div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:700px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4"><span id="USERNAME"></span> ( <span id="USERID"></span> )</h4>
                </div>
                <div class="modal-body profile">
                    <div class="row">
                        <div class="col-md-7">
                            <h4>회원정보</h4>
                            <div id="profile" class="profile-edit tab-pane fade in active">
                                <dl class="dl-horizontal">
                                    <dt><strong>가입일자 </strong></dt>
                                    <dd id="REG_DATE"></dd>
                                    <hr>
                                    <dt><strong>생년월일</strong></dt>
                                    <dd id="JUMIN_NO"></dd>
                                    <hr>
                                    <dt><strong>소속센터 </strong></dt>
                                    <dd id="CENTER_NAME"></dd>
                                    <hr>
                                    <dt><strong>직급 </strong></dt>
                                    <dd id="RANK_NAME"></dd>
                                    <hr>
                                    <dt><strong>후원인 </strong></dt>
                                    <dd id="mb_supporter"></dd>
                                    <hr>
                                    <dt><strong>추천인 </strong></dt>
                                    <dd id="mb_recommander"></dd>
                                    <hr>                                
                                    <dt><strong>RB</strong></dt>
                                    <dd id="mb_pv"></dd>
                                    <hr>                                    
                                    <dt><strong>A라인 하원 RB </strong></dt>
                                    <dd id="a_sub_total_pv"></dd>
                                    <hr>                                    
                                    <dt><strong>B라인 하원 RB </strong></dt>
                                    <dd id="b_sub_total_pv"></dd>
                                    <hr>                                    
                                    <dt><strong>총 하원인수 </strong></dt>
                                    <dd id="mb_count_subtree"></dd>
                                    <hr>
                                    <dt><strong>A라인 하원인수 </strong></dt>
                                    <dd id="a_sub_count"></dd>
                                    <hr>
                                    <dt><strong>B라인 하원인수 </strong></dt>
                                    <dd id="b_sub_count"></dd>
                                </dl>                                
                            </div>                    
                        </div>                    
                        <div class="col-md-5">
                            <h4 class="margin-bottom-30">직급승급일자</h4>
                            <ul class="timeline-v2">
                            <? foreach ($mb_position as $key => $position) : ?>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><p class="<?=$mb_position_color[$key]?> eng reg_date" id="reg_date_<?=$key?>"></p></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs position" id="<?=$key?>"></i>
                                    <div class="cbp_tmlabel">
                                        <h5 class="<?=$mb_position_color[$key]?>"><?=$position?></h5>       
                                    </div>  
                                </li>
                            <? endforeach ?>
                            </ul>
                        </div> 
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bootstrap Modals -->
</div>

<style>
    .container 
    {
      width: 1700px;
    }

    .input-group .form-control 
    {
      z-index: 1;
    }

    .sky-form a 
    {
        color: #e74c3c;
    }

    .sky-form .toggle i
    {
        top: 0px;
    }
</style>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type='text/javascript'>
jQuery(function($)
{
    $('[data-rel="tooltip"]').tooltip() ;
    $('[data-rel=popover]').popover({container:'body'});
}) ;

jQuery(document).ready(function() 
{
    $('#start').datepicker
    ({
        dateFormat: 'yymmdd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#finish').datepicker('option', 'minDate', selectedDate);
        }
    });

    $('#finish').datepicker
    ({
        dateFormat: 'yymmdd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#start').datepicker('option', 'maxDate', selectedDate);
        }
    });
});

<? if ( IS_MANAGER || IS_AGENCY || IS_CARD_AGENCY || IS_CENTER || IS_BRANCH || IS_DIRECT_BRANCH ) : ?>   
$('a#view_member').click(function(e) 
{
    e.preventDefault(); 

    var mb_id = $(this).attr('name') ;

    var mb_position ;

    $.ajax({
        dataType : "JSON",
        type : "POST",
        url : "/member/treeview/get_member_info",
        data : 
        {
            "mb_id" : mb_id
        },
        success : function (data) 
        { 
            if ( data != ' NULL' )
            { 
                $.each(data, function(key, val) 
                { 
                    $('#'+key).text(val) ;
                    $('#'+key).val(val) ;

                    if ( key == 'mb_position_color' )
                    {
                        $('#mb_position_str').removeClass() ; 
                        $('#mb_position_str').addClass(val) ;
                    }
                    else if ( key == 'RANK_CD' )
                    {
                        mb_position = val ;
                    }
                    else if ( key == 'rank_date_list' )
                    {
                        $.each(val, function(key2, val2) 
                        {
                            $('#reg_date_'+key2).text(val2) ;
                        });
                    }
                });                 

                $(".position").each(function() 
                {
                    if ( Number($(this).attr('id')) <= Number(mb_position) )    
                    {       
                        $(this).css('background', '#72c02c') ;                  
                    }
                    else
                    {
                        $(this).css('background', 'grey') ;
                    }
                }) ;

                $('#modal_btn').click() ; 
            }
        }
    });
});

$('#allcheck').click(function() 
{
    $("input[name='chk[]']").attr('checked', this.checked);
});

// 주문상태 수정
$('select#ord_state').change(function()
{
    var ord_state = $(this).val() ;
    var arr_ordno = '' ;

    $(":checkbox[name='chk[]']:checked").each(function()
    {
        arr_ordno += this.value + '.' ;
    }) ;

    if ( arr_ordno == '' )
    {
        arr_ordno = $(this).attr('name') ;
    }
    
    location.href = '/order/modify/select_order_state?arr_ordno='+arr_ordno+'&ord_state='+ord_state ;
}) ;

// 메시지 저장
$('button#set_msg').click(function()
{
    var or_id = $(this).attr('name') ;
    var or_simple_msg = encodeURIComponent($('#msg_'+or_id).val()) ;

    location.href = '/order/modify/modify_msg?or_id='+or_id+'&or_simple_msg='+or_simple_msg ;
}) ;

$(".enter_key_msg").bind("keydown", function(e) 
{
    if (e.keyCode == 13) 
    {     
        $(this).next().find('#set_msg').click() ;            
    }
});

<? if ( IS_MANAGER || IS_CENTER || IS_BRANCH || IS_DIRECT_BRANCH ) : ?>
// 관리자 메시지 저장
$('button#set_manager_msg').click(function()
{
    var or_id = $(this).attr('name') ;
    var or_simple_msg = encodeURIComponent($('#manager_msg_'+or_id).val()) ;

    location.href = '/order/modify/modify_manager_msg?or_id='+or_id+'&or_simple_msg='+or_simple_msg ;
}) ;

$(".enter_key_manager_msg").bind("keydown", function(e) 
{
    if (e.keyCode == 13) 
    {     
        $(this).next().find('#set_manager_msg').click() ;            
    }
});
<? endif ?>

<? endif ?>

$("#sel_vender").change(function()
{
    $("#vender").val($(this).val()) ;
}) ;

$('#sel_vender').val('<?=$vender?>') ;

$("#sel_order_state").change(function()
{
    $("#state").val($(this).val()) ;
}) ;

$('#sel_order_state').val('<?=$state?>') ;

$("#sel_rkind").change(function()
{
    $("#rkind").val($(this).val()) ;
}) ;

$('#sel_rkind').val('<?=$rkind?>') ;

function set_sdt(sdt, sdt_s)
{
    $('#sdt').val(sdt) ;
    $('#sdt_s').val(sdt_s) ;
    $('#select_date').html(sdt_s+' <span class="caret"></span>') ;
}

if ( '<?=$sdt_s?>' != '' )
{
    $('#sdt_s').val('<?=$sdt_s?>') ;
    $('#select_date').html('<?=$sdt_s?> <span class="caret"></span>') ;
}

if ( '<?=$sdt?>' != '' )
{
    $('#sdt').val('<?=$sdt?>') ;
}

function set_sfl(sfl, sca)
{
    $('#sfl').val(sfl) ;
    $('#sca').val(sca) ;
    $('#select_sca').html(sca+' <span class="caret"></span>') ;
}

$('#stx').val('<?=$stx?>') ;

if ( '<?=$sfl?>' != '' )
{
    $('#sfl').val('<?=$sfl?>') ;
}

if ( '<?=$sca?>' != '' )
{
    $('#sca').val('<?=$sca?>') ;
    $('#select_sca').html('<?=$sca?> <span class="caret"></span>') ;
}

if ( '<?=$sod?>' != 'asc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-desc color-red') ;
}
else if ( '<?=$sod?>' != 'desc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-asc color-red') ;
}

<? if ( IS_MANAGER ) : ?>
$("#del_last_day").click(function()
{
    if (confirm('14일 이전 데이터를 삭제하시겠습니까?'))
    {    
        location.href = '/order/lists/del_last_day' ;        
    }
}) ;
<? endif ?>
</script>