<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content" style="padding: 30px">    
    <section>
        <div class="headline">
            <div class="row">
                <div class="col-md-6">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                        전체주문건수 : <?=$total_count?>건
                    </h5>
                </div>
                <div class="col-md-6" style="padding-right: 30px;">
                    <form name="fsearch" id="sky-form" class="sky-form" method="get" action="" onsubmit="return doSearch(this);">
                    <input type="hidden" name="sfl" id="sfl" value="op_product_name"/>
                    <input type="hidden" name="sca" id="sca" value="상품명"/>
                    <input type="hidden" name="sdt" id="sdt" value="or_date"/>
                    <input type="hidden" name="sdt_s" id="sdt_s" value="주문일자"/>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="select_date" class="btn btn-default dropdown-toggle" data-toggle="dropdown">주문일자 <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:set_sdt('or_date', '주문일자')">주문일자</a></li>
                                            <li><a href="javascript:set_sdt('or_open_date', '개통일자')">개통일자</a></li>
                                            <li><a href="javascript:set_sdt('odv_date', '배송일자')">배송일자</a></li>
                                        </ul>
                                    </div><!-- /btn-group -->
                                    <span class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" class="date"name="start" id="start" placeholder="시작일" value="<?=$start_date?>">
                                    </span>
                                </div><!-- /input-group -->                  
                            </div>
                            <div class="col-md-3">
                                <label class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" class="date"name="finish" id="finish" placeholder="종료일" value="<?=$finish_date?>">
                                </label>
                            </div>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" id="select_sca" class="btn btn-default dropdown-toggle" data-toggle="dropdown">상품명 <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:set_sfl('op_product_name', '상품명')">상품명</a></li>
                                        <li><a href="javascript:set_sfl('mb_name', '명의자')">명의자</a></li>
                                        <li><a href="javascript:set_sfl('op_product_color', '색상')">색상</a></li>
                                    </ul>
                                </div><!-- /btn-group -->
                                <input type="text" class="form-control" name="stx" id="stx">
                                <span class="input-group-btn">
                                    <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <form name="fboardlist" method="post" action="">

    <table class="table text-center">
        <thead>
            <tr>
                <th class="text-center"><a href="<?=$sort_no?>">NO </a><i></i></th>  
                <th class="text-center">상품명</th>    
                <th class="text-center">회원번호</th>
                <th class="text-center">명의자</th>
                <th class="text-center">주민번호</th>
                <th class="text-center">연락처</th>
                <th class="text-center">비상연락처</th>
                <th class="text-center">색상</th>
                <th class="text-center"><a href="<?=$sort_or_state?>">주문상태 </a><i></i></th>
                <th class="text-center">메모</th>
                <th class="text-center"><a href="<?=$sort_or_date?>">주문일자 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_or_open_date?>">개통일자 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_odv_type?>">수령방법 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_odv_state?>">배송상태 </a><i></i></th>
                <th class="text-center">택배사</th>
                <th class="text-center">송장번호</th>
                <th class="text-center">배송일자</th>
            </tr>
        </thead>        
        <tbody>       
            <? foreach ($list as $o): ?>
            <tr>
                <td><?=$o['num']?></td>
                <td><a href="<?=$o['href']?>"><?=$o['op_product_name']?></a></td>
                <td><?=$o['mb_id']?></td>
                <td><?=$o['mb_name']?></td>
                <td><?=$o['mb_jumin_no']?></td>
                <td><?=$o['odv_recipient_tel']?></td>
                <td><?=$o['odv_recipient_hp']?></td>
                <td><?=$o['op_product_color']?></td>
                <td>
                    <?php
                        echo form_dropdown( $o['or_id'], $or_state, set_value($o['or_id'], $o['or_state']), "class='input-sm' id='or_state'") ; 
                    ?>
                </td>
                <td class="col-xs-2 col-sm-2">                                          
                    <div class="input-group">   
                        <span class="action-buttons input-group-btn">
                            <button class="btn btn-sm rounded btn-default" type="button" data-rel="popover" data-content='<?=$o['or_simple_msg']?>'>
                                <i class="fa fa-desktop"></i>
                            </button>
                        </span>                         

                        <input type="text" class='form-control input-sm enter_key_msg' size="20" value='<?=$o['or_simple_msg']?>' id='msg_<?=$o['or_id']?>' data-rel='popover'>                                                             
                        <span class="action-buttons input-group-btn">   
                            <button class="btn btn-sm rounded btn-default" type="button" name="<?=$o['or_id']?>" id='set_msg' data-rel="tooltip" title="저장">
                                <i class="fa fa-floppy-o"></i>
                            </button>
                        </span> 
                    </div>                                      
                </td>
                <td><?=$o['or_date']?></td>
                <td><?=$o['or_open_date']?></td>
                <td><?=$odv_type[$o['odv_type']]?></td>
                <td><?=$odv_state[$o['odv_state']]?></td>
                <td>
                    <?php
                        echo form_dropdown( $o['or_id'], $dv_tag, set_value($o['or_id'], $o['odv_company']), "class='input-sm' id='odv_company'") ; 
                    ?>
                </td>
                <td>
                    <input type='text' id='odv_serial_<?=$o['or_id']?>' name="<?=$o['or_id']?>" value='<?=$o['odv_serial']?>' class='form-control enter_key_odv_serial input-sm' placeholder='송장번호'>
                </td>
                <td>
                    <input type='text' id='odv_date_<?=$o['or_id']?>' name="<?=$o['or_id']?>" value='<?=$o['odv_date']?>' class='form-control input-sm enter_key_odv_date' placeholder='배송일자'>
                </td>
            </tr>
            <? endforeach; ?>
        </tbody>
    </table>

    <? if (!$list): ?><p class="lead text-center text-muted">주문 내역이 없습니다.</p><? endif; ?>

    <hr>

    <div class="pull-right">
        <?=$paging?>
    </div>

    </form>
</div>

<style>
    .container 
    {
      width: 1800px;
    }

    .input-group .form-control 
    {
      z-index: 1;
    }
</style>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>

<script type='text/javascript'>
jQuery(function($)
{
    $('[data-rel="tooltip"]').tooltip() ;
    $('[data-rel=popover]').popover({container:'body'});

    $('.enter_key_odv_date').mask('9999.99.99', {placeholder:' '});
}) ;

jQuery(document).ready(function() 
{
    $('#start').datepicker
    ({
        dateFormat: 'yy-mm-dd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#finish').datepicker('option', 'minDate', selectedDate);
        }
    });

    $('#finish').datepicker
    ({
        dateFormat: 'yy-mm-dd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#start').datepicker('option', 'maxDate', selectedDate);
        }
    });
});

// 주문상태 수정
$('select#or_state').change(function()
{
    var or_state = $(this).val() ;
    /*var arr_or_idx = '' ;

    $(":checkbox[name='chk[]']:checked").each(function()
    {
        arr_or_idx += this.value + '.' ;
    }) ;

    if ( arr_or_idx == '' )
    {
        arr_or_idx = $(this).attr('name') ;
    }*/
    
    var arr_or_idx = $(this).attr('name') ;

    location.href = '/order/modify/select_order_state?arr_or_idx='+arr_or_idx+'&or_state='+or_state ;
}) ;

// 주문상태 수정
$('select#odv_company').change(function()
{
    var odv_company = $(this).val() ;
    /*var arr_or_idx = '' ;

    $(":checkbox[name='chk[]']:checked").each(function()
    {
        arr_or_idx += this.value + '.' ;
    }) ;

    if ( arr_or_idx == '' )
    {
        arr_or_idx = $(this).attr('name') ;
    }*/
    
    var or_id = $(this).attr('name') ;

    location.href = '/order/modify/select_odv_company?or_id='+or_id+'&odv_company='+odv_company ;
}) ;

// 메시지 저장
$('button#set_msg').click(function()
{
    var or_id = $(this).attr('name') ;
    var or_simple_msg = encodeURIComponent($('#msg_'+or_id).val()) ;

    location.href = '/order/modify/modify_msg?or_id='+or_id+'&or_simple_msg='+or_simple_msg ;
}) ;

$(".enter_key_msg").bind("keydown", function(e) 
{
    if (e.keyCode == 13) 
    {     
        $(this).next().find('#set_msg').click() ;            
    }
});

// 송장번호 저장
$(".enter_key_odv_serial").bind("keydown", function(e) 
{
    if (e.keyCode == 13) 
    {     
        var or_id = $(this).attr('name') ;
        var odv_serial = encodeURIComponent($('#odv_serial_'+or_id).val()) ;

        location.href = '/order/modify/modify_odv_serial?or_id='+or_id+'&odv_serial='+odv_serial ;          
    }
});

// 배송일자 저장
$(".enter_key_odv_date").bind("keydown", function(e) 
{
    if (e.keyCode == 13) 
    {     
        var or_id = $(this).attr('name') ;
        var odv_date = encodeURIComponent($('#odv_date_'+or_id).val()) ;

        location.href = '/order/modify/modify_odv_date?or_id='+or_id+'&odv_date='+odv_date ;          
    }
});

function set_sdt(sdt, sdt_s)
{
    $('#sdt').val(sdt) ;
    $('#sdt_s').val(sdt_s) ;
    $('#select_date').html(sdt_s+' <span class="caret"></span>') ;
}

if ( '<?=$sdt_s?>' != '' )
{
    $('#sdt_s').val('<?=$sdt_s?>') ;
    $('#select_date').html('<?=$sdt_s?> <span class="caret"></span>') ;
}

if ( '<?=$sdt?>' != '' )
{
    $('#sdt').val('<?=$sdt?>') ;
}

function set_sfl(sfl, sca)
{
    $('#sfl').val(sfl) ;
    $('#sca').val(sca) ;
    $('#select_sca').html(sca+' <span class="caret"></span>') ;
}

$('#stx').val('<?=$stx?>') ;

if ( '<?=$sfl?>' != '' )
{
    $('#sfl').val('<?=$sfl?>') ;
}

if ( '<?=$sca?>' != '' )
{
    $('#sca').val('<?=$sca?>') ;
    $('#select_sca').html('<?=$sca?> <span class="caret"></span>') ;
}

if ( '<?=$sod?>' != 'asc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-desc color-red') ;
}
else if ( '<?=$sod?>' != 'desc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-asc color-red') ;
}

</script>