<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <div class="main-counters margin-bottom-40">
        <div class="headline row">
            <div class="col-xs-5"><h2>개통 건수 : <?=$list_by_model['TOTAL']?> 건</h2></div>
            <div class="col-xs-2"></div>   
            <div class="col-xs-5">
                <form name="fsearch" id="sky-form" class="sky-form" method="get" action="" onsubmit="return doSearch(this);">
                    <input type="hidden" name="sdt" id="sdt" value="ORD_DATE"/>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" id="select_date" class="btn btn-default dropdown-toggle" data-toggle="dropdown">기간 </button>
                                </div><!-- /btn-group -->
                                <span class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" class="date"name="start" id="start" placeholder="시작일" value="<?=$start_date?>">
                                </span>
                            </div><!-- /input-group -->                  
                        </div>
                        <div class="col-md-5">
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" class="date"name="finish" id="finish" placeholder="종료일" value="<?=$finish_date?>">
                            </label>                                
                        </div>
                        <div class="col-md-1">
                            <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>      
        </div>

        <div>
            <div class="panel panel-dark margin-bottom-40">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-area-chart"></i> 이 달 진행 현황</h3>
                </div>
                <div>
                    <table class="table table-hover table-bordered text-center">
                        <thead>
                        <tr>
                            <th class="text-center">통신사</th>
                            <th class="text-center">가입유형</th>
                            <th class="text-center">누적개통</th>
                            <th class="text-center">금일개통 (<?=$finish_date?>)</th>
                            <th class="text-center">금일접수 (<?=$finish_date?>)</th>
                            <th class="text-center">미개통</th>
                            <th class="text-center">개통취소</th>
                            <th class="text-center">제휴카드</th>
                        </tr>
                        </thead>
                        <tbody>
                        <? foreach($reg_kind_name_list as $vender => $reg_kind_names ) : ?>
                            <? foreach($reg_kind_names as $key => $reg_kind_name ) : ?>
                            <tr>
                                <? if ( $key == 0 ) : ?>
                                <th rowspan="<?=count($reg_kind_names) + 1?>" class="text-center"><?=$vender_name_list[$vender]?><BR><BR><?=number_format($list_by_model[$vender]['TOTAL'])?> 건<BR>(<?=round($list_by_model[$vender]['TOTAL'] / $list_by_model['TOTAL'] * 100, 1)?> %)</th>
                                <? endif ?>
                                <th class="text-center"><?=$reg_kind_name?></th>
                                <td><?=$monthly_count_list[$vender][$reg_kind_list[$vender][$key]]['accumulate']?></td>
                                <td><?=$monthly_count_list[$vender][$reg_kind_list[$vender][$key]]['today_open']?></td>
                                <td><?=$monthly_count_list[$vender][$reg_kind_list[$vender][$key]]['order']?></td>
                                <td><?=$monthly_count_list[$vender][$reg_kind_list[$vender][$key]]['not_open']?></td>
                                <td><?=$monthly_count_list[$vender][$reg_kind_list[$vender][$key]]['canceled']?></td>
                                <? if ( $key == 0 ) : ?>
                                <th rowspan="<?=count($reg_kind_names) + 1?>" class="text-center"><?=$card_order_list[$vender]?> 건</th>
                                <? endif ?>
                            </tr>
                            <? endforeach ?>
                            <tr>
                                <th class="text-center">합계</th>
                                <th class="text-center"><?=$monthly_count_list[$vender]['accumulate_total']?> 건</th>
                                <th class="text-center"><?=$monthly_count_list[$vender]['today_open_total']?> 건</th>
                                <th class="text-center"><?=$monthly_count_list[$vender]['order_total']?> 건</th>
                                <th class="text-center"><?=$monthly_count_list[$vender]['not_open_total']?> 건</th>
                                <th class="text-center"><?=$monthly_count_list[$vender]['canceled_total']?> 건</th>
                            </tr>
                        <? endforeach ?>
                        <tr>
                            <th colspan="2" class="text-center">합계</th>
                            <th class="text-center"><?=$monthly_count_list['accumulate_total']?> 건</th>
                            <th class="text-center"><?=$monthly_count_list['today_open_total']?> 건</th>
                            <th class="text-center"><?=$monthly_count_list['order_total']?> 건</th>
                            <th class="text-center"><?=$monthly_count_list['not_open_total']?> 건</th>
                            <th class="text-center"><?=$monthly_count_list['canceled_total']?> 건</th>
                            <th class="text-center"><?=$card_order_list['TOTAL']?> 건</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-purple margin-bottom-40">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-area-chart"></i> 단말기 개통 현황</h3>
                </div>
                <table class="table table-hover table-bordered text-center">
                    <thead>
                        <tr>
                            <th colspan="3" class="text-center">LG U+</th>
                            <th colspan="3" class="text-center">KT</th>
                            <th colspan="3" class="text-center">UMOBI</th>
                            <th colspan="3" class="text-center">MMOBILE</th>
                        </tr>
                        <tr>
                            <? foreach ( $vender_list as $vender ) : ?>
                            <th class="text-center">모델명</th>
                            <th class="text-center">펫네임</th>
                            <th class="text-center">수량 및 비율</th>
                            <? endforeach ?>
                        </tr>
                    </thead>
                    <tbody>
                        <? for ( $i = 0 ; $i < max(count($list_by_model['3203']), count($list_by_model['3201'])) ; $i++ ) : ?>
                        <? $j = 0 ; ?>
                        <tr>
                            <? foreach ( $vender_list as $key => $vender ) : ?>
                                <? $row = each($list_by_model[$vender]) ; ?>
                                <? if ( $row['key'] != 'TOTAL' && $row != null ) : ?>
                                    <td class="text-center"><?=$row['key']?></td>
                                    <td class="text-center"><?=substr($row['value']['PDT_NAME'], 5)?></td>
                                    <td class="text-center"><?=number_format($row['value']['COUNT'])?> 건 (<?=round($row['value']['COUNT'] / $list_by_model[$vender]['TOTAL'] * 100, 1)?> %)</td>
                                    <? $j += 3 ; ?>
                                <? endif ?>

                                <? if ( $j > 0 && $j != ( $key + 1 ) * 3 ) : ?>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <? $j += 3 ; ?>
                                <? endif ?>
                            <? endforeach ?>

                            <? if ( $j > 0 ) : ?>
                                <? for ( ; $j < 12 ; $j++ ) : ?>
                                    <td></td>
                                <? endfor ?>
                            <? endif ?>
                        </tr>
                        <? endfor ?>
                        <tr>
                            <? foreach ( $vender_list as $vender ) : ?>
                            <th colspan="2" class="text-center">합계</th>
                            <th class="text-center"><?=$list_by_model[$vender]['TOTAL']?> 건</th>
                            <? endforeach ?>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>       

<style>
    .table>tbody>tr>th {
        vertical-align: middle;
    }
</style>

<!-- JS Implementing Plugins -->
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script> 

<!-- JS Page Level -->           
<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() 
    {
        App.init();
        App.initCounter();     

        $('#start').datepicker
        ({
            dateFormat: 'yymmdd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            changeMonth: true,  
            changeYear: true, 
            
            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
            dayNames : ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

            onSelect: function( selectedDate )
            {
                $('#finish').datepicker('option', 'minDate', selectedDate);
            }
        });

        $('#finish').datepicker
        ({
            dateFormat: 'yymmdd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            changeMonth: true,  
            changeYear: true, 
            
            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
            dayNames : ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

            onSelect: function( selectedDate )
            {
                $('#start').datepicker('option', 'maxDate', selectedDate);
            }
        });
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->