<!--=== Content Part ===-->
<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <div class="row margin-bottom-5">
                <div class="col-sm-4 result-category">
                    <h2>전체상품</h2>
                    <small class="shop-bg-red badge-results"><?=$total_count?> 건</small>
                </div>
                <div class="col-sm-8">
                    <ul class="list-inline clear-both">
                        <li class="grid-list-icons">
                            <a href="/order/order/list/vender/<?=$vender?><?=$qstr?>"><i class="fa fa-th-list"></i></a>
                            <a href="/order/order/grid/vender/<?=$vender?><?=$qstr?>"><i class="fa fa-th"></i></a>
                        </li>
                        <li class="sort-list-btn">
                            <h3>Sort By :</h3>
                            <div class="btn-group">
                                <button type="button" id="select_sort" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    등록일 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="<?=$sort_pc_id?>">등록일</a></li>
                                    <li><a href="<?=$sort_pc_start_date?>">정책시작일</a></li>
                                    <li><a href="<?=$sort_pc_end_date?>">정책종료일</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="sort-list-btn">
                            <h3>Show :</h3>
                            <div class="btn-group">
                                <button type="button" id = "select_per_page" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    10 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/order/order/list/vender/<?=$vender?>?per_page=All">All</a></li>
                                    <li><a href="/order/order/list/vender/<?=$vender?>?per_page=20">20</a></li>
                                    <li><a href="/order/order/list/vender/<?=$vender?>?per_page=10">10</a></li>
                                    <li><a href="/order/order/list/vender/<?=$vender?>?per_page=5">5</a></li>
                                    <li><a href="/order/order/list/vender/<?=$vender?>?per_page=3">3</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>    
            </div><!--/end result category-->

            <!-- Tab v2 -->                
            <div class="tab-v2">
                <ul class="nav nav-tabs">
                    <? foreach ($vender_list as $key => $value) : ?>
                        <li class="<?=($key == $vender)?'active' : ''?>"><a href="/order/order/grid/vender/<?=$key?><?=$qstr?>"><?=$value?></a></li>
                    <? endforeach ?>
                </ul>                
                <div class="tab-content">
                    <? foreach ($list as $idx => $o): ?>
                    <div class="list-product-description product-description-brd margin-bottom-30">
                        <div class="row">
                            <div class="col-sm-4 product-thumbnail">
                                <a href="/order/insert/pdt_cd/<?=$o['PDT_CD']?>"><img class="img-responsive sm-margin-bottom-20" src="<?=$o['pt_thumbnail']?>" alt=""></a>
                            <? if ( $o['new_item'] ) : ?>
                                <div class="shop-rgba-dark-green rgba-banner">New</div>
                            <? endif ?>
                            </div> 
                            <div class="col-sm-8 product-description">
                                <div class="overflow-h margin-bottom-5">
                                    <ul class="list-inline overflow-h">
                                        <li><h4 class="title-price"><?=$o['PDT_NAME']?></h4></li>
                                        <li><span class="gender text-uppercase"><?=$o['PDT_MODEL']?></span></li>
                                    </ul>
                                    <a href="/order/insert/pdt_cd/<?=$o['PDT_CD']?>"><button type="button" class="btn-u btn-u-sea-shop">주문하기</button></a>
                                </div>    
                            </div>
                        </div>
                    </div> 
                    <? endforeach; ?>
                                    
                    <? if (!$list): ?><p class="lead text-center text-muted">상품이 없습니다.</p><? endif; ?>
                    <div class="text-center">
                        <?=$paging?>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/end filter resilts-->    
</div>

<script type='text/javascript'>
if ( '<?=$sst?>' != '' )
{
    $('#select_sort').html($("a[href*='<?=$sst?>']").text() + ' <span class="caret"></span>') ;
}

if ( '<?=$per_page?>' != '' )
{
    $('#select_per_page').html('<?=$per_page?> <span class="caret"></span>') ;
}
</script>