<!--=== Content Part ===-->
<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <div class="row margin-bottom-5">
                <div class="col-sm-4 result-category">
                    <h2>전체상품</h2>
                    <small class="shop-bg-red badge-results"><?=$total_count?> 건</small>
                </div>
                <div class="col-sm-8">
                    <ul class="list-inline clear-both">
                        <li class="sort-list-btn">
                            <h3>Show :</h3>
                            <div class="btn-group">
                                <button type="button" id = "select_per_page" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    12 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/order/order/card/vender/<?=$vender?>?per_page=All">All</a></li>
                                    <li><a href="/order/order/card/vender/<?=$vender?>?per_page=24">24</a></li>
                                    <li><a href="/order/order/card/vender/<?=$vender?>?per_page=12">12</a></li>
                                    <li><a href="/order/order/card/vender/<?=$vender?>?per_page=8">8</a></li>
                                    <li><a href="/order/order/card/vender/<?=$vender?>?per_page=4">4</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>    
            </div><!--/end result category-->

            <!-- Tab v2 -->                
            <div class="tab-v2">
                <ul class="nav nav-tabs">
                    <? foreach ($vender_list as $key => $value) : ?>
                        <li class="<?=($key == $vender)?'active' : ''?>"><a href="/order/order/card/vender/<?=$key?><?=$qstr?>"><?=$value?></a></li>
                    <? endforeach ?>
                </ul>                
                <div class="tab-content">
                    <? foreach ($list as $idx => $o): ?>
                    <? if ( ($idx % 4) == 0 ) : ?>
                    <div class="row illustration-v2 margin-bottom-30">
                    <? endif ?>
                        <div class="col-md-3">
                            <div class="product-img product-img-brd">
                                <div class="product-thumbnail">
                                    <a href="<?=$o['href']?>"><img class="full-width" src="<?=$o['pt_thumbnail']?>" alt=""></a>
                                    <a href="<?=$o['href']?>" class = 'add-to-cart'><i class="fa fa-shopping-cart"></i><?=$o['href_msg']?></a> 
                                </div>
                            </div> 
                            <div class="product-description product-description-brd margin-bottom-30">
                                <div class="overflow-h margin-bottom-5">
                                    <div class="pull-left">
                                        <span class="gender text-uppercase"><?=$o['CD_COMPANY']?></span>
                                        <h4 class="title-price"><?=$o['CD_NAME']?></h4>
                                        <span class="gender"><?=$o['CD_TYPE']?></span>
                                    </div>    
                                </div>   
                            </div>
                        </div>
                    <? if ( ($idx % 4) == 3 ) : ?>
                    </div>
                    <? endif ?> 
                    <? endforeach; ?>
                    <? if (!$list): ?><p class="lead text-center text-muted">상품이 없습니다.</p><? endif; ?>
                    <div class="text-center">
                        <?=$paging?>
                    </div>
                </div>                
            </div>            
        </div>        
    </div>    
</div>

<style type="text/css">
    .product-thumbnail 
    {
        height: auto ;        
    }    
</style>

<script type='text/javascript'>
if ( '<?=$per_page?>' != '' )
{
    $('#select_per_page').html('<?=$per_page?> <span class="caret"></span>') ;
}
</script>