<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <div class="main-counters margin-bottom-40">
        <div class="headline row">
            <div class="col-xs-5"><h2>개통 건수 : <?=$list['TOTAL']?> 건</h2></div>
            <div class="col-xs-2"></div>   
            <div class="col-xs-5">
                <form name="fsearch" id="sky-form" class="sky-form" method="get" action="" onsubmit="return doSearch(this);">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" id="select_date" class="btn btn-default dropdown-toggle" data-toggle="dropdown">기간 </button>
                                </div><!-- /btn-group -->
                                <span class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" class="date"name="start" id="start" placeholder="시작일" value="<?=$start_date?>">
                                </span>
                            </div><!-- /input-group -->                  
                        </div>
                        <div class="col-md-5">
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" class="date"name="finish" id="finish" placeholder="종료일" value="<?=$finish_date?>">
                            </label>                                
                        </div>
                        <div class="col-md-1">
                            <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>      
        </div>

        <!-- Tab v2 -->                
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <? foreach ($tab_list as $key => $value) : ?>    
                    <? if ( $key == 0 ) : ?>
                        <li><a href="/order/count/day<?=$qstr?>"><?=$value?></a></li>
                    <? else : ?>
                        <li class="<?=($key == $vender)?'active' : ''?>"><a href="/order/count/period/vender/<?=$key?><?=$qstr?>"><?=$value?></a></li>
                    <? endif ?>
                <? endforeach ?>
                <a href="/order/count/excel_period/vender/<?=$vender?><?=$qstr?>" class="btn-u btn-u-green"><i class="fa fa-file-excel-o"></i></a>                  
            </ul>             
            <div class="tab-content">        
            <? if ($model_list): ?>    
                <table class="table text-center">
                    <thead class="emphasis">                                      
                        <tr>                            
                            <th rowspan="4" class="text-center" style="vertical-align:middle;" id="calling_plan_td">요금제</th>  
                        <? foreach ($brand_list as $key => $value) : ?>                   
                            <th class="text-center" colspan="<?=$value*count($reg_kind_list)?>"><?=$key?></th>
                        <? endforeach ?>
                        </tr>                        
                        <tr>    
                        <? foreach ($model_list as $key => $value) : ?>                                                
                            <th class="text-center" colspan="<?=count($reg_kind_list)?>"><?=substr($value['NAME'], 5)?></th>                                                          
                        <? endforeach ?>                          
                        </tr>
                        <tr>  
                        <? foreach ($model_list as $key => $value) : ?>                                                
                            <th class="text-center" colspan="<?=count($reg_kind_list)?>"><?=$value['MODEL']?></th>                                                          
                        <? endforeach ?>                          
                        </tr>                        
                        <tr>  
                        <? foreach ($model_list as $key => $value) : ?>                                                
                            <? foreach ($reg_kind_list as $key2 => $value2) : ?>                                                
                                <th class="text-center"><?=$value2?></th>                                                          
                            <? endforeach ?>                          
                        <? endforeach ?>                          
                        </tr>                        
                    </thead>                                
                    <tbody>                                             
                    <?foreach ($calling_plan_list as $cp_cd => $cp_name) : ?>                                                                
                        <tr id = "calling_plan_tr">                                
                            <td style="border:solid 1px #eee"><?=$cp_name?></td>                                
                            <? foreach ($model_list as $key => $value) : ?>                                    
                                <? foreach ($reg_kind_list as $key2 => $value2) : ?>                                                
                                <td style="border:solid 1px #eee"><?=isset($list[$value['MODEL']][$cp_cd][$key2])?$list[$value['MODEL']][$cp_cd][$key2]:0;?></td>
                                <? endforeach ?>                                                  
                            <? endforeach ?>                                                  
                        </tr>                    
                    <? endforeach ?>                                                                                       
                        <tr class="emphasis">
                            <td>가입 유형별 합계</td>                            
                            <? foreach ($model_list as $key => $value) : ?>                                
                                <? foreach ($reg_kind_list as $key2 => $value2) : ?>                                                
                                <td><?=isset($list['MODEL_TOTAL'][$value['MODEL']][$key2])?$list['MODEL_TOTAL'][$value['MODEL']][$key2]:0;?></td>
                                <? endforeach ?>                                                  
                            <? endforeach ?>                                                  
                        </tr>
                        <tr class="emphasis">
                            <td>합계</td>                            
                            <? foreach ($model_list as $key => $value) : ?>                                                                
                                <td colspan="<?=count($reg_kind_list)?>"><?=isset($list[$value['MODEL']]['TOTAL'])?$list[$value['MODEL']]['TOTAL']:0;?></td>                                
                            <? endforeach ?>                                                  
                        </tr>                        
                    </tbody>
                </table>            
            <? endif ?>
            </div>       
        </div> 
    </div>
</div>       

<style>
    .container 
    {
      width: 1600px;
    }

    .counters span 
    {
        font-size: 25px;
    }

    .table>thead, .table>thead>tr>th
    {        
        border:solid 1px #eee;
    }

    .table>tbody>tr>td
    {
        line-height : 25px;
        border:solid 1px #eee;
    }

    .emphasis
    {
        font-weight: bold ;
        background: #F9F9F9 ;        
        border:solid 2px #000;
    }
</style>

<!-- JS Implementing Plugins -->
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script> 

<!-- JS Page Level -->           
<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() 
    {
        App.init();
        App.initCounter();     

        $('#start').datepicker
        ({
            dateFormat: 'yymmdd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            changeMonth: true,  
            changeYear: true, 
            
            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
            dayNames : ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

            onSelect: function( selectedDate )
            {
                $('#finish').datepicker('option', 'minDate', selectedDate);
            }
        });

        $('#finish').datepicker
        ({
            dateFormat: 'yymmdd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            changeMonth: true,  
            changeYear: true, 
            
            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
            dayNames : ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

            onSelect: function( selectedDate )
            {
                $('#start').datepicker('option', 'maxDate', selectedDate);
            }
        });
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->