<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <div class="main-counters margin-bottom-40">
        <div class="headline row">
            <div class="col-xs-5"><h2><?=$year?>년 <?=$month?>월 개통 건수 : <?=$list['TOTAL']?> 건</h2></div>
            <div class="col-xs-2 date"></div>   
            <div class="col-xs-5"></div>      
        </div>

        <!-- Tab v2 -->                
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <? foreach ($tab_list as $key => $value) : ?>    
                    <? if ( $key == 0 ) : ?>
                        <li><a href="/order/count/day<?=$qstr?>"><?=$value?></a></li>
                    <? else : ?>
                        <li class="<?=(array_search($value, $vender_list) == $vender)?'active' : ''?>"><a href="/order/count/vender/<?=array_search($value, $vender_list)?><?=$qstr?>"><?=$value?></a></li>
                    <? endif ?>
                <? endforeach ?>
                <a href="/order/count/excel/vender/<?=$vender?><?=$qstr?>" class="btn-u btn-u-green"><i class="fa fa-file-excel-o"></i></a>
            </ul>             
            <div class="tab-content">        
            <? if ($model_list): ?>    
                <table class="table text-center">
                    <thead>                                      
                        <tr>
                            <th rowspan="3" class="text-center" style="vertical-align:middle;border:solid 1px #eee">날짜</th>  
                        <? foreach ($brand_list as $key => $value) : ?>                   
                            <th class="text-center" colspan="<?=$value?>" style="border:solid 1px #eee"><?=$key?></th>
                        <? endforeach ?>
                        </tr>                        
                        <tr>    
                        <? foreach ($model_list as $key => $value) : ?>                                                
                            <th class="text-center" style="border:solid 1px #eee"><?=substr($value['NAME'], 5)?></th>                                                          
                        <? endforeach ?>                          
                        </tr>
                        <tr>  
                        <? foreach ($model_list as $key => $value) : ?>                                                
                            <th class="text-center" style="border:solid 1px #eee"><?=$value['MODEL']?></th>                                                          
                        <? endforeach ?>                          
                        </tr>                        
                    </thead>                                
                    <tbody>     
                <? foreach ($list as $key => $value) : ?> 
                    <? if ( $key != 'TOTAL' && $key != 'MODEL_TOTAL' ) : ?>                   
                        <? if ( $key == $today ) : ?>
                            <tr class="color-red today">
                        <? else : ?>
                            <tr>
                        <? endif ?>
                                <td style="border:solid 1px #eee"><?=$key?></td>
                                <? foreach ($model_list as $key2 => $value2) : ?>                                    
                                    <td style="border:solid 1px #eee"><?=isset($value[$value2['MODEL']])?$value[$value2['MODEL']]:0;?></td>
                                <? endforeach ?>                                                  
                            </tr>                                
                    <? endif ?>
                <? endforeach ?>  
                        <tr class="today">
                            <td style="border:solid 1px #eee">합계</td>
                            <? foreach ($model_list as $key2 => $value2) : ?>                                
                                <td style="border:solid 1px #eee"><?=isset($list['MODEL_TOTAL'][$value2['MODEL']])?$list['MODEL_TOTAL'][$value2['MODEL']]:0;?></td>
                            <? endforeach ?>                                                  
                        </tr>
                    </tbody>
                </table>            
            <? endif ?>
            </div>       
        </div> 
    </div>
</div>       

<style>
    .container 
    {
      width: 1200px;
    }

    .counters span 
    {
        font-size: 25px;
    }

    .ui-datepicker-calendar 
    {
        display: none;
    }

    .ui-datepicker 
    {
        border:none ;
        -webkit-box-shadow:none ;
        box-shadow:none ;
    }

    .ui-datepicker-prev, .ui-datepicker-next 
    {
        width: 0px;
    }

    .ui-datepicker-header 
    {
        border-bottom: none;
    }

    .today
    {
        font-weight: bold ;
    }

    .table>tbody>tr>td
    {
        line-height : 25px;
    }
</style>

<!-- JS Implementing Plugins -->
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script> 

<!-- JS Page Level -->           
<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() 
    {
        App.init();
        App.initCounter();     

        $('.date').datepicker
        ({   
            defaultDate:'<?=$month?>/01/<?=$year?>',           
            changeMonth: true,  
            changeYear: true, 
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            
            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],          

            onChangeMonthYear: function( year, month, inst )
            {
                if ( month < 10 )
                {
                    month = '0' + month ;
                }

                location.href = '/order/count/day?year='+year+'&month='+month ;
            },
        });
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->