<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <div class="main-counters margin-bottom-40">
        <div class="headline row">
            <div class="col-xs-5"><h2><?=$year?>년 <?=$month?>월 개통 건수 : <?=$list['TOTAL']?> 건</h2></div>
            <div class="col-xs-2 date"></div>   
            <div class="col-xs-5"></div>      
        </div>

        <!-- Tab v2 -->                
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <? foreach ($tab_list as $key => $value) : ?>    
                    <? if ( $key == 0 ) : ?>
                        <li><a href="/order/count/day<?=$qstr?>"><?=$value?></a></li>
                    <? else : ?>
                        <li class="<?=(array_search($value, $vender_list) == $vender)?'active' : ''?>"><a href="/order/count/vender/<?=array_search($value, $vender_list)?><?=$qstr?>"><?=$value?></a></li>
                    <? endif ?>
                <? endforeach ?>
                <a href="/order/count/excel/vender/<?=$vender?><?=$qstr?>" class="btn-u btn-u-green"><i class="fa fa-file-excel-o"></i></a>  
                <button class="btn btn-u btn-u-yellow rounded" type="button" value="off" id="view_calling_plan">요금제별 상세 ON</button>                       
            </ul>             
            <div class="tab-content">        
            <? if ($model_list): ?>    
                <table class="table text-center">
                    <thead>                                      
                        <tr>
                            <th rowspan="3" class="text-center" style="vertical-align:middle;">날짜</th>  
                            <th rowspan="3" class="text-center" style="vertical-align:middle;" id="calling_plan_td">요금제</th>  
                        <? foreach ($brand_list as $key => $value) : ?>                   
                            <th class="text-center" colspan="<?=$value?>"><?=$key?></th>
                        <? endforeach ?>
                        </tr>                        
                        <tr>    
                        <? foreach ($model_list as $key => $value) : ?>                                                
                            <th class="text-center"><?=substr($value['NAME'], 5)?></th>                                                          
                        <? endforeach ?>                          
                        </tr>
                        <tr>  
                        <? foreach ($model_list as $key => $value) : ?>                                                
                            <th class="text-center"><?=$value['MODEL']?></th>                                                          
                        <? endforeach ?>                          
                        </tr>                        
                    </thead>                                
                    <tbody>     
                <? foreach ($list as $key => $value) : ?> 
                    <? if ( $key != 'TOTAL' && $key != 'MODEL_TOTAL' ) : ?>   
                        <tr <?=($key == $today)?'class="color-red today"':'id="total_tr" class="today"';?>>
                            <td rowspan="<?=count($calling_plan_list) + 1?>" id = "date_td"><?=$key?></td>
                            <td id="calling_plan_td">합계</td>
                        <? foreach ($model_list as $key2 => $value2) : ?>                                    
                            <td><?=isset($value[$value2['MODEL']]['TOTAL'])?$value[$value2['MODEL']]['TOTAL']:0;?></td>
                        <? endforeach ?>      
                        </tr>  
                        
                        <?foreach ($calling_plan_list as $cp_cd => $cp_name) : ?>                                                                
                            <tr id = "calling_plan_tr">                                
                                <td style="border:solid 1px #eee"><?=$cp_name?></td>                                
                                <? foreach ($model_list as $key2 => $value2) : ?>                                    
                                    <td style="border:solid 1px #eee"><?=isset($value[$value2['MODEL']][$cp_cd])?$value[$value2['MODEL']][$cp_cd]:0;?></td>
                                <? endforeach ?>                                                  
                            </tr>                    
                        <? endforeach ?>                                                                   
                    <? endif ?>
                <? endforeach ?>  
                        <tr class="today">
                            <td>합계</td>
                            <td id="calling_plan_td"></td>
                            <? foreach ($model_list as $key2 => $value2) : ?>                                
                                <td><?=isset($list['MODEL_TOTAL'][$value2['MODEL']])?$list['MODEL_TOTAL'][$value2['MODEL']]:0;?></td>
                            <? endforeach ?>                                                  
                        </tr>
                    </tbody>
                </table>            
            <? endif ?>
            </div>       
        </div> 
    </div>
</div>       

<style>
    .container 
    {
      width: 1400px;
    }

    .counters span 
    {
        font-size: 25px;
    }

    .ui-datepicker-calendar 
    {
        display: none;
    }

    .ui-datepicker 
    {
        border:none ;
        -webkit-box-shadow:none ;
        box-shadow:none ;
    }

    .ui-datepicker-prev, .ui-datepicker-next 
    {
        width: 0px;
    }

    .ui-datepicker-header 
    {
        border-bottom: none;
    }

    .today
    {
        font-weight: bold ;
        background: #F5F5F5 ;        
        border-top:solid 2px #000;
    }

    .table>thead, .table>thead>tr>th
    {        
        border:solid 1px #eee;
    }

    .table>tbody>tr>td
    {
        line-height : 25px;
        border:solid 1px #eee;
    }
</style>

<!-- JS Implementing Plugins -->
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script> 

<!-- JS Page Level -->           
<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() 
    {
        App.init();
        App.initCounter();     

        toggleCallingPlan('on') ;

        $('.date').datepicker
        ({   
            defaultDate:'<?=$month?>/01/<?=$year?>',           
            changeMonth: true,  
            changeYear: true, 
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            
            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],          

            onChangeMonthYear: function( year, month, inst )
            {
                if ( month < 10 )
                {
                    month = '0' + month ;
                }

                location.href = '/order/count/day?year='+year+'&month='+month ;
            },
        });

        $('#view_calling_plan').click(function()
        {        
            toggleCallingPlan($(this).val()) ;            
        }) ;

        function toggleCallingPlan( val )
        {            
            if ( val == 'on' ) 
            {
                $('#view_calling_plan').text("요금제별 상세 ON") ;
                $('#view_calling_plan').val('off') ;                

                $("[id='date_td']").attr('rowspan', '1') ;
                $("[id='calling_plan_tr']").hide() ;
                $("[id='calling_plan_td']").hide() ;

                $("[id='total_tr']").removeClass('today') ;
            }
            else
            {
                $('#view_calling_plan').text("요금제별 상세 OFF") ;
                $('#view_calling_plan').val('on') ;

                $("[id='date_td']").attr('rowspan', '<?=count($calling_plan_list) + 1?>') ;
                $("[id='calling_plan_tr']").show() ;
                $("[id='calling_plan_td']").show() ;

                $("[id='total_tr']").addClass('today') ;
            }
        }
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->