<div class="container">
    <div class="row">
        <section>
            <!-- Description -->
            <div class="row">
                <div class="col-md-5">
                    <div class="ms-showcase2-template">
                        <!-- Master Slider -->
                        <? if ( $order_info['IMG_PATH'] != '' ) : ?>
                            <img src="<?=$order_info['IMG_PATH']?>" width="100%">
                        <? endif ?>
                        <!-- End Master Slider -->
                    </div>
                </div>

                <div class="col-md-7">
                    <p></p><br>
                    <h3 class="heading-md margin-bottom-20"><?=$order_info['PDT_NAME']?></h3>

                    <p></p><br>

                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled specifies-list">
                                <li><i class="fa fa-caret-right"></i> 상품명 : <span><?=$order_info['PDT_NAME']?></span></li>
                                <li><i class="fa fa-caret-right"></i> 모델명 : <span><?=$order_info['PDT_MODEL']?></span></li>
                                <li><i class="fa fa-caret-right"></i> 상품가 : <span><?=number_format($order_info['AMT'])?></span></li>
                            </ul>
                        </div>                        
                    </div>
                </div>
            </div>
            <!-- End Description -->
            <div class="row">
                <div class="col-md-6 md-margin-bottom-40">
                    <h2 class="title-type">상품 신청정보</h2>
                    <div class="billing-info-inputs checkbox-list">
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                고객명
                            </div>
                            <div class="col-sm-9">
                                <?=$order_info['REG_NAME']?>
                            </div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                고객 연락처
                            </div>
                            <div class="col-sm-9">
                                <?=$order_info['REG_MOBILE']?>
                            </div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                설치 주소
                            </div>
                            <div class="col-sm-9"><?=$order_info['INS_ZIPCODE']?></div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                            </div>
                            <div class="col-sm-9">
                                <?=$order_info['INS_ADDR1']?>
                                <?=$order_info['INS_ADDR2']?>
                            </div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                설치 희망 날짜
                            </div>
                            <div class="col-sm-9"><?=$order_info['INS_DATE']?></div>
                        </div>
                    <? if ( isset($order_info['RECEPTION_ID']) ) : ?>
                        <div class="row margin-bottom-20">                                                            
                            <div class="col-sm-3 color-dark">
                                RB 수령 회원
                            </div>
                            <div class="col-sm-9"><?=$order_info['USER_NAME']." (".$order_info['USERID'].")"?></div>
                        </div>
                    <? endif ?>
                    <? if ( isset($order_info['USERID']) ) : ?>
                    <div class="row margin-bottom-20">
                        <div class="col-sm-3 color-dark">
                            접수 회원
                        </div>
                        <div class="col-sm-9"><?=$order_info['RECEPTION_NAME']." (".$order_info['RECEPTION_ID'].")"?></div>
                    </div>
                    <? endif ?>
                    <? if ( isset($gift_type[$order_info['GIFT_TYPE']]) ) : ?>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                사은품
                            </div>
                            <div class="col-sm-9"><?=$gift_type[$order_info['GIFT_TYPE']]?></div>
                        </div>
                    <? endif ?>
                    </div>
                </div>

                <div class="col-md-6">
                    <h2 class="title-type">결제 정보</h2>
                    <div class="billing-info-inputs checkbox-list">
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                결제 방법
                            </div>
                            <div class="col-sm-9"><?=$order_info['PAY_TYPE']?></div>
                        </div>                        
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                <? if ( $order_info['PAY_TYPE'] == '계좌이체' ) : ?>
                                입금자
                                <? else : ?>
                                카드주
                                <? endif ?>
                            </div>
                            <div class="col-sm-9"><?=$order_info['DEPOSITOR']?></div>
                        </div>
                    <? if ( $order_info['DEP_BIRTHDAY'] != '' ) : ?>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                생년월일
                            </div>
                            <div class="col-sm-9"><?=$order_info['DEP_BIRTHDAY']?></div>
                        </div> 
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                카드명
                            </div>
                            <div class="col-sm-9"><?=$order_info['PAY_NAME']?></div>
                        </div>
                    <? if ( IS_MANAGER ) : ?>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                카드번호
                            </div>
                            <div class="col-sm-9"><?=$order_info['PAY_ACCOUNT']?></div>
                        </div> 
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                카드 유효 기간
                            </div>
                            <div class="col-sm-9"><?=$order_info['CARD_VALID_DATE']?></div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                카드 보안 코드
                            </div>
                            <div class="col-sm-9"><?=$order_info['CARD_CVC']?></div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                할부개월
                            </div>
                            <div class="col-sm-9">
                                <?php
                                    echo ( $order_info['CARD_INSTALMENT_TYPE'] > 0 ) ? $order_info['CARD_INSTALMENT_TYPE']."개월" : "일시불" ;
                                ?>
                            </div>
                        </div>
                    <? endif ?>
                        <? endif ?>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                 주문 센터
                            </div>
                            <div class="col-sm-9"><?=$order_info['CENTER_NAME']?></div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                 기타 메시지
                            </div>
                            <div class="col-sm-9"><?=$order_info['ORD_MSG']?></div>
                        </div>                                          
                    </div>
                </div>
            </div> 
        </section>  
    </div>
</div>