<div class="container">
    <div class="row">
        <section>
            <!-- Description -->
            <div class="row margin-bottom-50">
                <div class="col-md-12">
                    <p></p><br>
                    <h3 class="heading-md margin-bottom-20"><?=$order_info['PDT_NAME']?></h3>

                    <p></p><br>

                    <div class="row">
                        <div class="col-sm-4">
                            <ul class="list-unstyled specifies-list">
                                <li><i class="fa fa-caret-right"></i> 상품명 : <span><?=$order_info['PDT_NAME']?></span></li>
                                <li><i class="fa fa-caret-right"></i> 모델명 : <span><?=$order_info['PDT_MODEL']?></span></li>
                                <li><i class="fa fa-caret-right"></i> 색상 : <span><?=$order_info['OPT_VALUE']?></span></li>
                                <li><i class="fa fa-caret-right"></i> 가입유형 : <span><?=$order_info['REG_KIND']?></span></li>
                                <li><i class="fa fa-caret-right"></i> 요금제 : <span><?=$order_info['PRICE_KIND']?></span></li>
                                <li><i class="fa fa-caret-right"></i> 할부 개월수 : <?=$order_info['PAY_KIND']?> 개월<span></span></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="list-unstyled specifies-list">
                            <!--    <li><i class="fa fa-caret-right"></i> CV : <span><?=number_format($order_info['PV1'])?></span></li>
                                <li><i class="fa fa-caret-right"></i> PV : <span><?=number_format($order_info['PV2'])?></span></li> -->
                                <li><i class="fa fa-caret-right"></i> RB : <span><?=number_format($order_info['PV2'])?></span></li>
                                <li><i class="fa fa-caret-right"></i> 출고가 : <span><?=number_format($order_info['AMT'])?> 원</span></li>
                                <li><i class="fa fa-caret-right"></i> 주문일자 : <span><?=$order_info['ORD_DATE']?></span></li>
                                <li><i class="fa fa-caret-right"></i> 주문번호 : <span><?=$order_info['ORDNO']?></span></li>
                                <li><i class="fa fa-caret-right"></i> 공제번호 : <span><?=$order_info['GT_CDS']?></span></li>
                            <? if ( IS_MANAGER || IS_CENTER ) : ?>
                                <li><i class="fa fa-caret-right"></i> 관리자 확인 메시지 : <span><?=$order_info['ORD_MANAGER_MSG']?></span></li>
                            <? endif ?>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="list-unstyled specifies-list">
                                <li><i class="fa fa-caret-right"></i> 복지할인 :
                                    <? if ( $order_info['BENEFIT_SERVICE'] == "X" ) : ?>
                                    <i class="fa fa-toggle-off"></i>
                                    <? else : ?>
                                    <i class="fa fa-toggle-on color-red"></i>
                                    <? endif ?>
                                </li>
                                <li><i class="fa fa-caret-right"></i> 안심옵션 :
                                    <? if ( $order_info['ADD_SERVICE'] == "X" ) : ?>
                                    <i class="fa fa-toggle-off"></i>
                                    <? else : ?>
                                    <i class="fa fa-toggle-on color-red"></i>
                                    <? endif ?>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 hide">
                    <!-- Magazine Slider -->
                     <? if ( isset($order_info['pt_thumbnail']) ) : ?>
                    <div class="carousel slide carousel-v2 margin-bottom-40" id="portfolio-carousel">
                        <ol class="carousel-indicators">
                            <? foreach ($order_info['pt_thumbnail'] as $key => $thumbnail) : ?>
                                <? if ( $thumbnail != '' ) : ?>
                                <li class="<? echo ($key == 0) ? 'active' : '' ; ?> rounded-x" data-target="#portfolio-carousel" data-slide-to="<?=$key?>"></li>
                                <? endif ?>
                            <? endforeach ?>
                        </ol>
                        
                        <div class="carousel-inner">
                            <? foreach ($order_info['pt_thumbnail'] as $key => $thumbnail) : ?>
                                <? if ( $thumbnail != '' ) : ?>
                                <div class="product-thumbnail item <? echo ($key == 0) ? 'active' : '' ; ?>">
                                    <img class="full-width img-responsive" src="<?=$thumbnail?>" alt="">
                                </div>
                                <? endif ?>
                            <? endforeach ?>
                        </div>
                        
                        <a class="left carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="prev">
                            <i class="fa fa-angle-left arrow-prev"></i>
                        </a>
                        <a class="right carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="next">
                            <i class="fa fa-angle-right arrow-next"></i>
                        </a>
                    </div>
                    <!-- End Magazine Slider -->
                    <? endif ?>
                </div>
            </div>
            <!-- End Description -->
            <div class="row">
                <div class="col-md-6 md-margin-bottom-40">
                    <h2 class="title-type">주문 정보</h2>
                    <div class="billing-info-inputs checkbox-list">
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                가입자명
                            </div>
                            <div class="col-sm-9">
                                <?=$order_info['REG_NAME']?>
                            </div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                현재 사용중인<BR> 핸드폰 번호
                            </div>
                            <div class="col-sm-9">
                                <?=$order_info['OLD_TEL_COMP']?> <?=$order_info['OLD_TEL']?>
                            </div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                가입자 이메일
                            </div>
                            <div class="col-sm-9">
                                <?=$order_info['REG_EMAIL']?>
                            </div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                가입자 생년월일
                            </div>
                            <div class="col-sm-9"><?=$order_info['REG_BIRTH']?></div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                청구유형
                            </div>
                            <div class="col-sm-9"><?=$order_info['BILL_KIND']." (".$order_info['ORD_EMAIL'].")"?></div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                주문 센터
                            </div>
                            <div class="col-sm-9"><?=$order_info['CENTER_NAME']?></div>
                        </div>
                    <!--    <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                접수처(회원ID)
                            </div>       
                            <div class="col-sm-9"><?=$order_info['RECEPTION']?></div>
                        </div>   -->
                    <? if ( isset($order_info['SELLER_ID']) ) : ?>
                        <div class="row margin-bottom-20">                                                            
                            <div class="col-sm-3 color-dark">
                                작성하시는분<BR>(회원번호)
                            </div>       
                            <div class="col-sm-9"><?=$order_info['SELLER_ID']?></div>
                        </div>
                    <? endif ?>   
                    <? if ( isset($order_info['UPPER_REG_NO']) ) : ?>
                        <div class="row margin-bottom-20">                                                            
                            <div class="col-sm-3 color-dark">
                                 KAIT승낙번호 or <BR>LG승인코드
                            </div>       
                            <div class="col-sm-9"><?=$order_info['UPPER_REG_NO']?></div>
                        </div>
                    <? endif ?>                                                
                    <? if ( isset($order_info['ORDER_IMG']) ) : ?>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                신분증 파일
                            </div>    
                            <div class="col-sm-9">                                      
                                <div id="alert_file" class="ace">                                                         
                                    <div class="row">                                      
                                        <div class="col-xs-6">
                                            <span class="profile-picture">
                                                <img class="editable img-responsive editable-click editable-empty editable-open" src="<?=$order_info['ORDER_IMG']?>" />
                                            </span>
                                        </div>                                                 
                                    </div>                                                                                     
                                </div>
                            </div>
                        </div>
                        <? endif ?>      
                        <? if ( isset($order_info['LEGAL_NAME']) ) : ?>              
                            <div>                              
                                <h2 class="title-type">법정 대리인 정보</h2>
                                <div class="billing-info-inputs checkbox-list">
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            이름
                                        </div>
                                        <div class="col-sm-9"><?=$order_info['LEGAL_NAME']?></div>
                                    </div>
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            연락처
                                        </div>
                                        <div class="col-sm-9"><?=$order_info['LEGAL_TEL']?></div>
                                    </div>
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            본인과의 관계
                                        </div>
                                        <div class="col-sm-9"><?=$order_info['LEGAL_RELRATION']?></div>
                                    </div>
                                </div>
                            </div>
                        <? endif ?>
                    <? if ( IS_MANAGER || IS_BRANCH || IS_DIRECT_BRANCH ) : ?>
                        <? $filepath = "/data/hbplanner/id_card/".$order_info['ORDNO']."_card.png" ; ?>
                        <? if(file_exists(".".$filepath)) : ?>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                신분증 스캔본
                            </div>    
                            <div class="col-sm-9">
                                <a href="<?=$filepath?>" target="_blank"><img src="<?=$filepath?>" alt="" width="400" height="300"></a>
                            </div>
                        </div>
                        <? endif ?>
                    <? endif ?>
                    </div>
                </div>

                <div class="col-md-6">
                    <h2 class="title-type">배송 정보</h2>
                    <div class="billing-info-inputs checkbox-list">
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                수령 방법
                            </div>
                            <div class="col-sm-9"><?=$order_info['RECEIPT_KIND']?></div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                받는 사람
                            </div>
                            <div class="col-sm-9"><?=$order_info['RECV_NAME']?></div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                연락처
                            </div>
                            <div class="col-sm-9"><?=$order_info['RECV_TEL']?></div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                비상 연락처
                            </div>
                            <div class="col-sm-9"><?=$order_info['RECV_MOBILE']?></div>
                        </div>
                    <? if ( $order_info['RECEIPT_KIND'] != "직접수령" || $order_info['RECV_ZIPCODE'] != '' ) : ?>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                배송 주소
                            </div>
                            <div class="col-sm-9"><?=$order_info['RECV_ZIPCODE']?></div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                            </div>
                            <div class="col-sm-9">
                                <?=$order_info['RECV_ADDR1']?>
                                <?=$order_info['RECV_ADDR2']?>
                            </div>
                        </div>
                    <? endif ?>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                기타 메시지
                            </div>
                            <div class="col-sm-9">
                                <div><?=$order_info['ORD_MSG']?></div>
                            </div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                수령 센터
                            </div>       
                            <div class="col-sm-9"><?=$order_info['START_CENTER']?></div>
                        </div>
                    <? if ( IS_MANAGER || IS_BRANCH || IS_DIRECT_BRANCH ) : ?>
                        <? $filepath = "/data/hbplanner/with_id_card/".$order_info['ORDNO']."_with_card.png" ; ?>
                        <? if(file_exists(".".$filepath)) : ?>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                신분증과 함께~
                            </div>    
                            <div class="col-sm-9">
                                <a href="<?=$filepath?>" target="_blank"><img src="<?=$filepath?>" alt="" width="400" height="300"></a>
                            </div>
                        </div>
                        <? endif ?>
                    <? endif ?>
                    </div>
                </div>
            </div> 
        </section>  
    </div>
</div>

<script type='text/javascript'>
//<![CDATA[
$('.main_menu').attr('href', '/order/lists') ;
//]]>
</script>