<div class="container">
    <div class="row">
        <section>
            <!-- Description -->
            <div class="row">
                <div class="col-md-5">
                    <div class="ms-showcase2-template">
                        <!-- Master Slider -->                                    
                        <? if ( $order_info['IMG_PATH'] != '' ) : ?>
                            <img src="<?=$order_info['IMG_PATH']?>" width="100%">
                        <? endif ?>
                        <!-- End Master Slider -->
                    </div>
                </div>
             
                <div class="col-md-7">
                    <p></p><br>
                    <h3 class="heading-md margin-bottom-20"><?=$order_info['PDT_NAME']?></h3>

                    <p></p><br>

                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled specifies-list">
                                <li><i class="fa fa-caret-right"></i> 상품명 : <span><?=$order_info['PDT_NAME']?></span></li>
                                <li><i class="fa fa-caret-right"></i> 요금제 : <span><?=$order_info['PRICE_KIND']?></span></li>
                            <!--    <li><i class="fa fa-caret-right"></i> CV : <span><?=number_format($order_info['PV1'])?></span></li>
                                <li><i class="fa fa-caret-right"></i> PV : <span><?=number_format($order_info['PV2'])?></span></li> -->
                                <li><i class="fa fa-caret-right"></i> RB : <span><?=number_format($order_info['PV2'])?></span></li>
                            </ul>
                        </div>                        
                    </div>
                </div>
            </div>
            <!-- End Description -->
            <div class="row">
                <div class="col-md-6 md-margin-bottom-40">
                    <h2 class="title-type">유선상품 신청정보</h2>
                    <div class="billing-info-inputs checkbox-list">
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                가입자명
                            </div>
                            <div class="col-sm-9">
                                <?=$order_info['REG_NAME']?>
                            </div>
                        </div>
                    <? if ( $order_info['REG_BIRTHDAY'] != '' ) : ?>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                생년월일
                            </div>
                            <div class="col-sm-9">
                                <?=$order_info['REG_BIRTHDAY']?>
                            </div>
                        </div>
                    <? endif ?>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                휴대폰 번호
                            </div>
                            <div class="col-sm-9">
                                <?=$order_info['REG_MOBILE']?>
                            </div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                전화 번호
                            </div>
                            <div class="col-sm-9"><?=$order_info['REG_TEL']?></div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                설치 주소
                            </div>
                            <div class="col-sm-9"><?=$order_info['INS_ZIPCODE']?></div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                            </div>
                            <div class="col-sm-9">
                                <?=$order_info['INS_ADDR1']?>
                                <?=$order_info['INS_ADDR2']?>
                            </div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                설치 희망 날짜
                            </div>
                            <div class="col-sm-9"><?=$order_info['INS_DATE']?></div>
                        </div>
                    <? if ( isset($order_info['RECEPTION_ID']) ) : ?>
                        <div class="row margin-bottom-20">                                                            
                            <div class="col-sm-3 color-dark">
                                작성하시는분<BR>(회원번호)
                            </div>       
                            <div class="col-sm-9"><?=$order_info['RECEPTION_NAME']." (".$order_info['RECEPTION_ID'].")"?></div>
                        </div>
                    <? endif ?>   
                        <? if ( IS_MANAGER || IS_BRANCH || IS_DIRECT_BRANCH ) : ?>
                        <? $filepath = "/data/hbplanner/wired_id_card/".$order_info['ORDNO']."_card.png" ; ?>
                        <? if(file_exists(".".$filepath)) : ?>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                신분증
                            </div>
                            <div class="col-sm-9">
                                <a href="<?=$filepath?>" target="_blank"><img src="<?=$filepath?>" alt="" width="400" height="300"></a>
                            </div>
                        </div>
                        <? endif ?>

                        <? $filepath = "/data/hbplanner/wired_deposit_id_card/".$order_info['ORDNO']."_deposit_card.png" ; ?>
                        <? if(file_exists(".".$filepath)) : ?>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                예금주 신분증
                            </div>
                            <div class="col-sm-9">
                                <a href="<?=$filepath?>" target="_blank"><img src="<?=$filepath?>" alt="" width="400" height="300"></a>
                            </div>
                        </div>
                        <? endif ?>
                        <? endif ?>
                    </div>
                </div>

            <? if ( $order_info['REG_BIRTHDAY'] != '' ) : ?>
                <div class="col-md-6">
                    <h2 class="title-type">결제 정보</h2>
                    <div class="billing-info-inputs checkbox-list">
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                자동 이체
                            </div>
                            <div class="col-sm-9"><?=$order_info['AUTO_TRANS_TYPE']?></div>
                        </div>                        
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                예금주(카드주)
                            </div>
                            <div class="col-sm-9"><?=$order_info['DEPOSITOR']?></div>
                        </div>  
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                생년월일
                            </div>
                            <div class="col-sm-9"><?=$order_info['DEP_BIRTHDAY']?></div>
                        </div> 
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                은행(카드)명
                            </div>
                            <div class="col-sm-9"><?=$order_info['PAY_NAME']?></div>
                        </div> 
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                카드/계좌번호
                            </div>
                            <div class="col-sm-9"><?=$order_info['PAY_ACCOUNT']?></div>
                        </div> 
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                카드 유효 기간
                            </div>
                            <div class="col-sm-9"><?=$order_info['CARD_VALID_DATE']?></div>
                        </div>                   
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                 이메일
                            </div>
                            <div class="col-sm-9"><?=$order_info['EMAIL']?></div>
                        </div>                        
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                 주문 센터
                            </div>
                            <div class="col-sm-9"><?=$order_info['CENTER_NAME']?></div>
                        </div>   
                    <!--    <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                접수처(회원ID)
                            </div>
                            <div class="col-sm-9"><?=$order_info['RECEPTION']?></div>
                        </div>      -->
                    <? if ( isset($order_info['SELLER_ID']) ) : ?>
                        <div class="row margin-bottom-20">                                                            
                            <div class="col-sm-3 color-dark">
                                작성하시는분<BR>(회원번호)
                            </div>       
                            <div class="col-sm-9"><?=$order_info['SELLER_ID']?></div>
                        </div>
                    <? endif ?>                           
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                 기타 메시지
                            </div>
                            <div class="col-sm-9"><?=$order_info['ORD_MSG']?></div>
                        </div>                                          
                    </div>
                    <? if ( IS_MANAGER || IS_BRANCH || IS_DIRECT_BRANCH ) : ?>
                    <? $filepath = "/data/hbplanner/wired_with_id_card/".$order_info['ORDNO']."_with_card.png" ; ?>
                        <? if(file_exists(".".$filepath)) : ?>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                가입자 인증 사진
                            </div>
                            <div class="col-sm-9">
                                <a href="<?=$filepath?>" target="_blank"><img src="<?=$filepath?>" alt="" width="400" height="300"></a>
                            </div>
                        </div>
                        <? endif ?>
                    <? endif ?>
                </div>
            <? endif ?>
            </div> 
        </section>  
    </div>
</div>