<div class="container">
    <div class="row">
        <section>
            <!-- Description -->
            <div class="row margin-bottom-50">
                <div class="col-md-5">
                    <div class="ms-showcase2-template">
                        <!-- Master Slider -->                                    
                        <? if ( $order_info['IMG_PATH'] != '' ) : ?>
                            <img src="<?=$order_info['IMG_PATH']?>" width="100%">     
                        <? endif ?>
                        <!-- End Master Slider -->
                    </div>
                </div>
             
                <div class="col-md-7">
                    <p></p><br>
                    <h3 class="heading-md margin-bottom-20"><?=$order_info['PDT_NAME']?></h3>

                    <p></p><br>

                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled specifies-list">
                                <li><i class="fa fa-caret-right"></i> 상품명 : <span><?=$order_info['PDT_NAME']?></span></li>
                                <li><i class="fa fa-caret-right"></i> 카드 회사 : <span><?=$order_info['CD_COMPANY']?></span></li>
                                <li><i class="fa fa-caret-right"></i> 카드 타입 :
                                    <? if ( $card_info['CARD_TYPE'] == 0 ) : ?>
                                    세이브
                                    <? elseif ( $card_info['CARD_TYPE'] == 1 ) : ?>
                                    후청구
                                    <? else : ?>
                                    체크카드
                                    <? endif ?>
                                </li>
                            <!--<li><i class="fa fa-caret-right"></i> CV : <span><?=number_format($order_info['PV1'])?></span></li>
                                <li><i class="fa fa-caret-right"></i> PV : <span><?=number_format($order_info['PV2'])?></span></li>-->
                                <li><i class="fa fa-caret-right"></i> RB : <span><?=number_format($order_info['PV2'])?></span></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled specifies-list">                                
                                <li><i class="fa fa-caret-right"></i> 세이브 한도 : <?=number_format($order_info['SAVE_LIMIT'])?></li>
                                <li><i class="fa fa-caret-right"></i> 세이브 수수료 : <?=$order_info['SAVE_COMMISSION']?></li>
                                <li><i class="fa fa-caret-right"></i> 연회비 : <?=$order_info['ANNUAL_FEE']?></li>
                                <li><i class="fa fa-caret-right"></i> 가입 축하 포인트 : <?=$order_info['JOIN_POINT']?></li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Description -->
            <div class="row">
                <div class="col-md-6 md-margin-bottom-40">
                    <h2 class="title-type">제휴카드 신청정보</h2>
                    <div class="billing-info-inputs checkbox-list">
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                가입자명
                            </div>
                            <div class="col-sm-9">
                                <?=$order_info['REG_NAME']?>
                            </div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                휴대폰 번호
                            </div>
                            <div class="col-sm-9">
                                <?=$order_info['REG_MOBILE']?>
                            </div>
                        </div>
                    <? if ( $order_info['BANK_NAME'] != '' ) : ?>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                결제 은행
                            </div>
                            <div class="col-sm-9">
                                <?=$order_info['BANK_NAME']?>
                            </div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                결제 계좌
                            </div>
                            <div class="col-sm-9"><?=$order_info['BANK_ACCOUNT']?></div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                결제일
                            </div>
                            <div class="col-sm-9"><?=$order_info['BANK_DATE']?></div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                후불교통카드
                            </div>
                            <div class="col-sm-9"><? echo ($order_info['IS_TRAFFIC_CARD'] == 'O') ? '추가함' : '추가안함' ; ?></div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                세이브 금액
                            </div>
                            <div class="col-sm-9"><?=number_format($order_info['SAVE_AMT'])?></div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                주문 센터
                            </div>
                            <div class="col-sm-9"><?=$order_info['CENTER_NAME']?></div>
                        </div>
                    <!--    <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                접수처(회원ID)
                            </div>
                            <div class="col-sm-9"><?=$order_info['RECEPTION']?></div>
                        </div> -->
                    <? else : ?>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                 기타 메시지
                            </div>
                            <div class="col-sm-9"><?=$order_info['ORD_MSG']?></div>
                        </div>
                    <? endif ?>
                    </div>
                </div>

            <? if ( $order_info['BANK_NAME'] != '' ) : ?>
                <div class="col-md-6">
                    <h2 class="title-type">배송 정보</h2>
                    <div class="billing-info-inputs checkbox-list">
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                카드 배송지
                            </div>
                            <div class="col-sm-9"><?=$order_info['DELI_TYPES']?></div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                자택 주소
                            </div>
                            <div class="col-sm-9"><?=$order_info['HOME_ZIPCODE']?></div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                            </div>
                            <div class="col-sm-9">
                                <?=$order_info['HOME_ADDR1']?>
                                <?=$order_info['HOME_ADDR2']?>
                            </div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                직장 주소
                            </div>
                            <div class="col-sm-9"><?=$order_info['OFFICE_ZIPCODE']?></div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                            </div>
                            <div class="col-sm-9">
                                <?=$order_info['OFFICE_ADDR1']?>
                                <?=$order_info['OFFICE_ADDR2']?>
                            </div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                명세서 배송지
                            </div>
                            <div class="col-sm-9"><?=$order_info['BILL_TYPES']?></div>
                        </div>                    
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                 이메일
                            </div>
                            <div class="col-sm-9"><?=$order_info['EMAIL']?></div>
                        </div>                        
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                 기타 메시지
                            </div>
                            <div class="col-sm-9"><?=$order_info['ORD_MSG']?></div>
                        </div> 
                    </div>
                </div>
            <? endif ?>
            </div> 
        </section>  
    </div>
</div>