<link rel="stylesheet" href="<?=PLUGIN_DIR?>/owl-carousel/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<!--=== Content Medium Part ===-->
<div class="content-md margin-bottom-30">
    <div class="container">
        <?=validation_errors('<pre><p class="color-red"> ','</p>  </pre>')?>
    <? if ( IS_MANAGER ) : ?>
        <form id="fOrder" name="fOrder" class="shopping-cart" method="post" action="/order/insert_used_mobile/modify" enctype="multipart/form-data">
    <? elseif ( IS_CENTER ) : ?>
        <form id="fOrder" name="fOrder" class="shopping-cart" method="post" action="/order/insert_used_mobile/center_modify" enctype="multipart/form-data">
    <? endif ?>
        <input type="hidden" name="token" value="<?=$token?>" />
        <input type="hidden" name="ORDNO" value="<?=$order_info['ORDNO']?>" />
            <div class="row shop-product margin-bottom-50">
                <section>
                    <div>
                        <div class="col-md-6 md-margin-bottom-50">
                            <div class="shop-product-heading">
                                <h2><?=$order_info['PDT_NAME']?></h2>
                                <ul class="list-inline shop-product-social">
                                    <li><?=$order_info['PDT_MODEL']?></li>
                                </ul>
                            </div>

                            <div class="ms-showcase2-template">
                                <!-- Master Slider -->
                            <? if ( $order_info['IMG_PATH'] != '' ) : ?>
                                <img src="<?=$order_info['IMG_PATH']?>" width="100%">
                            <? endif ?>
                                <!-- End Master Slider -->
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h2 class="title-type"><strong>판매자 정보</strong></h2>
                                </div>
                                <div class="col-sm-3 hide">
                                    <label class="checkbox text-left">
                                        <input type="checkbox" id="copy_member_info" />
                                        <i></i>
                                        회원 정보와 동일
                                    </label>
                                </div>
                            </div>
                            <div class="billing-info-inputs checkbox-list margin-bottom-20">
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        <strong>판매자명</strong>
                                    </div>
                                    <div class="col-sm-4"><?=$order_info['ORD_NAME']?></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        <strong>휴대폰 번호</strong>
                                    </div>
                                    <div class="col-sm-6"><?=$order_info['ORD_MOBILE']?></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        <strong>일련번호</strong>
                                    </div>
                                    <div class="col-sm-6"><?=$order_info['ORD_MOBILE_ID']?></div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        <strong>판매 센터</strong>
                                    </div>
                                    <div class="col-sm-4"><?=$order_info['ORD_CENTER']?></div>
                                </div> 
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        <strong>센터전달방법</strong>
                                    </div>
                                    <div class="col-sm-6"><?=$order_info['SEND_TYPE']?></div>
                                </div>
                                <div id="PARCEL_INFO">
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            <strong>배송업체</strong>
                                        </div>
                                        <div class="col-sm-6">
                                            <? if ( IS_MANAGER || IS_CENTER ) : ?>
                                            <?=$order_info['DELI_CD']?>
                                            <? else : ?>
                                            <input type="text" id="DELI_CD" name="DELI_CD" class="form-control required" value="<?=$order_info['DELI_CD']?>">
                                            <? endif ?>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            <strong>송장번호</strong>
                                        </div>
                                        <div class="col-sm-6">
                                            <? if ( IS_MANAGER || IS_CENTER ) : ?>
                                            <?=$order_info['DELI_NO']?>
                                            <? else : ?>
                                            <input type="text" id="DELI_NO" name="DELI_NO" class="form-control required" value="<?=$order_info['DELI_NO']?>">
                                            <? endif ?>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-3 color-dark">
                                            <strong>배송일자</strong>
                                        </div>
                                        <div class="col-sm-6">
                                            <? if ( IS_MANAGER || IS_CENTER ) : ?>
                                            <?=$order_info['DELI_DATE']?>
                                            <? else : ?>
                                            <input type="text" class="form-control required" id="DELI_DATE" name="DELI_DATE" value="<?=$order_info['DELI_DATE']?>">
                                            <? endif ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        <strong>핸드폰 상태 및<BR>기타 메시지</strong>
                                    </div>
                                    <div class="col-sm-7"><?=$order_info['ORD_MSG']?></div>
                                </div>
                                <div class="row margin-bottom-10">
                                    <div class="col-sm-3 color-dark">
                                        <strong>센터 메시지</strong>
                                    </div>
                                    <div class="col-sm-7">
                                        <? if ( IS_CENTER ) : ?>
                                        <div class="textarea textarea-expandable">
                                            <textarea id="CENTER_MSG" name="CENTER_MSG" rows="3" class="form-control"><?=$order_info['CENTER_MSG']?></textarea>
                                        </div>
                                        <? else : ?>
                                        <?=$order_info['CENTER_MSG']?>
                                        <? endif ?>
                                    </div>
                                </div>
                            </div>  
                            <div class="row">
                                <div class="col-sm-9">
                                    <h2 class="title-type"><strong>매입 결과</strong></h2>
                                </div>
                            </div>
                            <div class="billing-info-inputs checkbox-list">
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        <strong>확정매입가</strong>
                                    </div>
                                    <div class="col-sm-6">
                                    <? if ( IS_MANAGER ) : ?> 
                                        <input type="text" class="form-control" id="CONFIRM_AMT" name="CONFIRM_AMT" value="<?=$order_info['CONFIRM_AMT']?>">
                                    <? else : ?>
                                        <?=$order_info['CONFIRM_AMT']?>
                                    <? endif ?>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        <strong>전달 메시지</strong>
                                    </div>
                                    <div class="col-sm-7">
                                    <? if ( IS_MANAGER ) : ?> 
                                        <div class="textarea textarea-expandable">
                                            <textarea id="RESULT_MSG" name="RESULT_MSG" rows="3" class="form-control"><?=$order_info['RESULT_MSG']?></textarea>
                                        </div>
                                    <? else : ?>
                                        <?=$order_info['RESULT_MSG']?>
                                    <? endif ?>    
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-sm-3 color-dark">
                                        <strong>매입 완료 일자</strong>
                                    </div>
                                    <div class="col-sm-7"><?=$order_info['CONFIRM_DATE']?></div>
                                </div>
                            <? if ( IS_MANAGER ) : ?>
                                <div class="text-center margin-bottom-20">
                                    <button type="button" class="btn-u btn-u-lg" id="btnSubmit">수정완료</button>
                                </div>
                            <? endif ?>
                                <div><h4><strong>* 판매대금 입금은 판매내역의 주문상태가 '정산대기' 시점부터 약 2~3일 소요됩니다.</strong></h4></div>
                            </div>
                        </div>
                    </div>
                </section>   
            </div>
        </form>
        <div class="row">
            <!-- Master Slider -->
            <? if ( $order_info['ORD_IMG'] != null ) :  ?>
            <? foreach ($order_info['ORD_IMG'] as $ord_img) : ?>
            <div class="col-sm-6">
                <img src="<?=$ord_img?>" width="100%">
            </div>
            <? endforeach ?>
            <? endif ?>
            <!-- End Master Slider -->
        </div>
    </div><!--/end container-->
</div>
<!--=== End Content Medium Part ===-->    

<style>
    em.required
    {            
        display: none;
        margin-top: 6px;
        padding: 0 1px;
        font-style: normal;
        font-size: 11px;
        line-height: 15px;
        color: #ee9393;
    }
</style>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>

<script src="<?=PLUGIN_DIR?>/owl-carousel/owl-carousel/owl.carousel.js"></script>
<!-- Master Slider -->
<script src="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/masterslider.min.js"></script>
<script src="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/jquery.easing.min.js"></script>

<script src="<?=JS_DIR?>/plugins/shop.app.js"></script>
<script src="<?=JS_DIR?>/plugins/owl-carousel.js"></script>
<script src="<?=JS_DIR?>/plugins/master-slider.js"></script>
<script type="text/javascript" src="<?=JS_DIR?>/ace-elements.js"></script>
<script type='text/javascript'>

jQuery(document).ready(function() 
{
    App.init();
    App.initScrollBar();
    OwlCarousel.initOwlCarousel();

    <? if ( $order_info['SEND_TYPE'] == '센터방문' ) : ?>
        $('#PARCEL_INFO').hide() ;
    <? endif ?>

    $("em.required").css('display', 'none') ;

    $('#DELI_DATE').datepicker
    ({
        dateFormat: 'yymmdd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,
        changeYear: true,

        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],
    });

    $('#btnSubmit').bind('click', function ()
    {
        if ( $( "#CONFIRM_AMT" ).val() == "" )
        {
            alert("확정매입가를 입력해 주세요") ;
            return ;
        }

        $("#fOrder").submit() ;
    }) ;
});

</script>

<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->
<!--[if lt IE 10]>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->