<div>
<button type="button" class="close" onclick="window.close()">&nbsp;&nbsp;&times;</button>
	<img src="/data/img/notice/notice1.jpg" width='600' height='344'/>
</div>

<style>
.close 
{ 
	float: left;
 	font-size: 27px;
}
</style>