<div class="well">
	<button type="button" class="close" onclick="popup_close('<?=$id?>');">&times;</button>

	<p class="text-danger">
		hb_board 공개보드 테스트 페이지입니다.
		<br/>Codeigniter, Bootstrap 기반
	</p>

	<p class="text-info">게시판 소스 다운로드(Github): <a href="https://github.com/CatsMiaow/hb_board/releases" target="_blank">https://github.com/CatsMiaow/hb_board/releases</a></p>

	<button type="button" class="btn btn-sm btn-default" onclick="popup_close('<?=$id?>', true);">오늘 하루 보이지 않음</button>
</div>