<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="title-box eng">
    <div class="title-box-text eng"><span class="color-red eng">Line Connection</div>    
</div>
<div class="margin-bottom-40"></div>

<div class="container content">     
    <div class="row">
        <div class="col-md-7 col-md-offset-3">
            <? if ($msg): ?>
                <p class="color-red">※ 등록된 회원이 아니거나 비밀번호가 틀립니다.<br/>&nbsp;　비밀번호는 대소문자를 구분합니다.</p>
            <? endif; ?>

            <form id="flogin" class="sky-form" novalidate="novalidate" name="flogin" method="post" action="<?=RT_PATH?>/adm/login/in">
                <input type="hidden" name="url" value="<?=$url?>" />
                
                <fieldset>                  
                    <section>
                        <div class="row">
                            <label class="label col col-4">아이디</label>
                            <div class="col col-8">
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="mb_id" value="<?=$reId?>" class="id">
                                </label>
                            </div>
                        </div>
                    </section>
                    
                    <section>
                        <div class="row">
                            <label class="label col col-4">비밀번호</label>
                            <div class="col col-8">
                                <label class="input">
                                    <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="mb_password">
                                </label>
                                <div class="note">
                                    <i class="glyphicon glyphicon-search"></i><a href="<?=RT_PATH?>/member/lost_id" class="modal-opener"> 아이디 찾기</a>
                                    <i class="glyphicon glyphicon-search"></i><a href="<?=RT_PATH?>/member/lost_pw" class="modal-opener"> 비밀번호 찾기</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </fieldset>
                <footer>
                    <div class="pull-right">
                        <button type="submit" class="btn-u">로그인</button>
                        <a href="<?=RT_PATH?>/member/join" class="btn-u btn-u-default">회원가입</a>
                    </div>
                </footer>
            </form>         
        </div>
    </div>
</div>

<!--[if lt IE 9]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>

<? if( !isset( $non_masking ) ) : ?>
    <script type='text/javascript' src='<?=JS_DIR?>/custom_validation/member.js'></script>
<? else : ?>
    <script type='text/javascript' src='<?=JS_DIR?>/custom_validation/member_non_masking.js'></script>
<? endif; ?>
<script type='text/javascript'>
//<![CDATA[

<? if( !isset( $non_masking ) ) : ?>
    //$(".id").mask('a-999-99999', {placeholder:' '});
<? endif; ?>

$('#chk_reId').attr("checked", <?=$chk_reId?>);

jQuery(document).ready(function() {
    MemberForm.init('#flogin');     
});
//]]>
</script>
