<div class="container content">
<div class="row">

<table class="table table-hover table-condensed">
	<thead>
	<tr>
		<th>NO</th>
		<th>제품코드</th>
		<th>모델명</th>
		<th>등록일</th>		
		<th>이미지</th>		
		<th>삭제</th>
	</tr>
	</thead>
	<tbody>
	<? foreach($lists as $row) : ?>	
		<tr>
		<form class="form-horizontal" id="edit_product_image_<?=$row['PDT_CD']?>" method="post" action="/<?=ADM_F?>/product_image_upload/edit/<?=$row['PDT_CD']?>" enctype="multipart/form-data">
			<td><?=$row['RNUM']?></td>
			<td><?=$row['PDT_CD']?></td>
			<td><?=$row['PDT_NAME']?></td>
			<td><?=$row['S_DATE']?></td>			
			<td>									
				<a href="#" id='edit_product_image' name='<?=$row['PDT_CD']?>'>
					<img src="<?=$row['IMG_PATH']?>" width="250" height="250"/>
				</a>
				<button class='btn btn-primary btn-sm' type='button' id='ok' name='ok_<?=$row['PDT_CD']?>' value='<?=$row['PDT_CD']?>' title='확인' style="display:none"><span class='glyphicon glyphicon-ok'/></button>
				<button class='btn btn-danger btn-sm' type='button' id='cancel' name='cancel_<?=$row['PDT_CD']?>' value='<?=$row['PDT_CD']?>' title='취소' style="display:none"><span class='glyphicon glyphicon-remove'/></button>									
				<input type="file" id="product_image_<?=$row['PDT_CD']?>" name="product_image_<?=$row['PDT_CD']?>" style="display:none"/>
			</td>
		</form>		
			<td><button class='btn btn-danger btn-sm' type='button' id='del' name='<?=$row['PDT_CD']?>' title='삭제'><span class='glyphicon glyphicon-trash'></button></td>	
		</tr>							
	<? endforeach; ?>	
	</tbody>
</table>

<div align=center>
  <?= $paging ?>
</div>

</div>
</div>

<script>
$(function() 
{
	$('#insert_pp_maker').focus().select() ;
})

$('button#del').click(function()
{
	if (confirm('선택하신 정보를 삭제하시겠습니까?'))
	{
		var pp_idx = $(this).attr('name') ;

		if ( pp_idx != '' )
		{
			location.href = '/<?=ADM_F?>/phone_products/delete/'+pp_idx ;
		}		
	}
}) ;

$('a#edit_product_image').click(function()
{
	var pp_thumbnail_name = '#product_image_'+ $(this).attr('name') ;	
	var ok_btn_name = 'ok_'+ $(this).attr('name') ;
	var cancel_btn_name = 'cancel_'+ $(this).attr('name') ;

	$(this).hide() ;	
	$( "button[name='"+ok_btn_name+"']" ).show() ;
	$( "button[name='"+cancel_btn_name+"']" ).show() ;	
	$(pp_thumbnail_name).show() ;
	$(pp_thumbnail_name).click() ;
}) ;

$('button#ok').click(function()
{
	var form_name = '#edit_product_image_'+ $(this).val() ;	

	$(form_name).submit() ;	
}) ;

$('button#cancel').click(function()
{
	var pp_thumbnail_name = '#product_image_'+ $(this).val() ;	
	var ok_btn_name = 'ok_'+ $(this).val() ;		

	$(this).hide() ;	
	$( "a[name='"+$(this).val()+"']" ).show() ;
	$( "button[name='"+ok_btn_name+"']" ).hide() ;	
	$(pp_thumbnail_name).hide() ;	
}) ;

$('button#insert').click(function()
{
	$('#insert_product').submit() ;
}) ;

$("#insert_pp_maker").bind("keyup", function(e) 
{
    if (e.keyCode == 13) 
    {
    	$('#insert_pp_name').focus().select() ;
    }
});

$("#insert_pp_name").bind("keyup", function(e) 
{
    if (e.keyCode == 13) 
    {
    	$('button#insert').click() ;
    }
});
</script>