<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">    
    <section>
        <div class="headline">
            <div class="row">
                <div class="col-md-6">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                        전체상품건수 : <?=$total_count?>건
                    </h5>
                </div>
            </div>
        </div>
    </section>

    <form name="fboardlist" method="post" action="">

    <!-- Tab v2 -->                
    <div class="tab-v2">
        <ul class="nav nav-tabs">
            <? foreach ($vender_list as $key => $value) : ?>
                <li class="<?=($key == $vender)?'active' : ''?>"><a href="/adm/product/recommand/vender/<?=$key?>"><?=$value?></a></li>
            <? endforeach ?>
        </ul>                
        <div class="tab-content">
        <? foreach ($lists as $idx => $o): ?>
        <? if ( ($idx % 4) == 0 ) : ?>
            <div class="row illustration-v2 margin-bottom-30">
        <? endif ?>       
                <div class="col-md-3">
                    <div class="product-img product-img-brd">
                        <div class="product-thumbnail">
                            <img class="full-width" src="<?=$o['IMG_PATH']?>" alt="">
                        <? if ( $o['IS_RECOMMAND'] == 'O' ) : ?>
                            <a href="/adm/product/del/pdt_cd/<?=$o['PDT_CD']?>" class = 'add-to-cart'><i class="fa fa-star"></i>추천 상품 해제</a> 
                        <? else : ?>
                            <a href="/adm/product/set/pdt_cd/<?=$o['PDT_CD']?>" class = 'add-to-cart'><i class="fa fa-star"></i>추천 상품 등록</a> 
                        <? endif ?>
                        </div>
                    <? if ( $o['IS_RECOMMAND'] == 'O' ) : ?>
                        <div class="shop-rgba-dark-green rgba-banner"><i class="fa fa-star"></i></div>
                    <? endif ?>
                    </div>

                    <div class="product-description product-description-brd margin-bottom-30">
                        <div class="overflow-h margin-bottom-5">
                            <div class="pull-left">
                                <span class="gender text-uppercase"><?=$o['PDT_MODEL']?></span>
                                <h4 class="title-price"><?=$o['PDT_NAME']?></h4>
                            </div>    
                        </div>   
                    </div>
                </div>
        <? if ( ($idx % 4) == 3 ) : ?>
            </div>
        <? endif ?> 
        <? endforeach; ?>
            <? if (!$lists): ?><p class="lead text-center text-muted">상품이 없습니다.</p><? endif; ?>            
        </div>
        <div class="text-center">
            <?=$paging?>
        </div>
    </div>
    </form>
</div>

<script type='text/javascript'>

</script>