<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">     
    <div class="row">
        <div class="col-md-8 col-md-offset-2 tab-v2">
            <ul class="nav nav-tabs">            
                <li class="active"><a href="#reg_img" data-toggle="tab">이미지 등록</a></li>            
                <li><a href="#reg_link" data-toggle="tab">링크 등록</a></li>            
                <li><a href="#reg_detail" data-toggle="tab">상세 이미지 등록</a></li>            
            </ul>  

            <div class="tab-content">                    
                <div class="tab-pane fade in active" id="reg_img">
                    <form id="fwrite" class="sky-form" name="fwrite" method="post" novalidate="novalidate" action="<?=RT_PATH?>/adm/register/update" enctype="multipart/form-data">
                    <input type="hidden" name="token" value="<?=$token?>" />  
                    <input type="hidden" name="PDT_CD" value="<?=$PDT_CD?>">
                    <input type="hidden" name="IMG_PATH" value="<?=$IMG_PATH?>">
                    
                        <fieldset>

                            <section>
                                <label class="label">상품명</label>
                                <label class="input">
                                    <i class="icon-append fa fa-star"></i>
                                    <input type="text" id="PDT_NAME" name="PDT_NAME" maxlength="45" value="<?=$PDT_NAME?>" disabled />
                                </label>
                            </section>

                            <section>
                                <label class="label">모델명</label>
                                <label class="input">
                                    <i class="icon-append fa fa-tablet"></i>
                                    <input type="text" name="PDT_MODEL" maxlength="45" value="<?=$PDT_MODEL?>" disabled>
                                </label>           
                            </section>
                            <section>
                                <label class="label">상품이미지</label>            
                                <div id="alert_file" class="ace">       
                                    <div id="form-attachments">                                                     
                                        <div class="row">
                                        <? for( $i = 0 ; $i < 3 ; $i++ ) : ?>
                                            <?
                                                $k = $i + 1 ;
                                                $on_img = (isset($THUMBNAILS[$i]) && $THUMBNAILS[$i] != '') ;
                                                $display = ( $on_img || $i == 0 || (!$on_img && $prev_on_img) ) ? 'block' : 'none' ;
                                            ?>
                                            <div class="col-xs-3" id='div-input-file<?=$k?>' style='display:<?=$display?>'>
                                            <? if($on_img) : ?>
                                                <span class="profile-picture">
                                                    <img id="img<?=$k?>" name="<?=$k?>" class="editable img-responsive editable-click editable-empty editable-open" src="<?=$THUMBNAILS[$i]?>" />
                                                </span>
                                            <? endif ; ?>
                                                <span style="display:<?=($on_img)?'none':'block'?>;">
                                                    <input type="file" id="id-input-file<?=$k?>" name="file<?=$k?>"/>
                                                </span>
                                            </div>
                                            <? $prev_on_img = $on_img ; ?>
                                        <? endfor ?>                                                   
                                        </div>                                          
                                    </div>

                                    <div class="note">
                                        <strong>중요!</strong> 이미지 파일만 첨부 가능합니다.
                                        <BR/>각 첨부파일의 용량은 1.5MB 미만으로 업로드하시기 바랍니다.
                                        <BR/>(Chrome 에서는 첨부파일의 미리보기가 가능합니다.)
                                    </div>
                                </div>
                            </section>
                        </fieldset>
                        
                        <footer class="text-center">
                            <button type="submit" class="btn-u btn-u-lg" id="btn_submit"><?=$btn_contents?></button>
                        </footer>

                        <div class="message">
                            <i class="rounded-x fa fa-check"></i>
                            <p>Your message was successfully sent!</p>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade in" id="reg_link">
                    <form id="fwrite" class="sky-form" name="fwrite" method="post" novalidate="novalidate" action="<?=RT_PATH?>/adm/register/link" enctype="multipart/form-data">
                    <input type="hidden" name="token" value="<?=$token?>" />  
                    <input type="hidden" name="PDT_CD" value="<?=$PDT_CD?>">                                
                        <fieldset>
                            <section>
                                <label class="label">상품명</label>
                                <label class="input">
                                    <i class="icon-append fa fa-star"></i>
                                    <input type="text" id="PDT_NAME" name="PDT_NAME" maxlength="45" value="<?=$PDT_NAME?>" disabled />
                                </label>
                            </section>

                            <section>
                                <label class="label">모델명</label>
                                <label class="input">
                                    <i class="icon-append fa fa-tablet"></i>
                                    <input type="text" name="PDT_MODEL" maxlength="45" value="<?=$PDT_MODEL?>" disabled>
                                </label>           
                            </section>

                            <section>        
                            <? foreach ($policy_list as $key => $value) : ?>
                                <input type="hidden" name="PTP_ID[]" value="<?=$value['PTP_ID']?>">
                                <input type="hidden" name="PRICE_KIND[]" value="<?=$value['PRICE_KIND']?>">
                                <input type="hidden" name="REG_KIND[]" value="<?=$value['REG_KIND']?>">
                                <input type="hidden" name="OR_LINK_PATH[]" value="<?=$value['LINK_PATH']?>">
                                <label class="label"><?=($key+1).". ".$value['CP_NAME']." (".$value['REASON_NAME'].")"?></label>
                                <label class="input">
                                    <i class="icon-append fa fa-link"></i>
                                    <input type="text" name="LINK_PATH[]" maxlength="500" value="<?=$value['LINK_PATH']?>">
                                </label>
                            <? endforeach ?>
                            </section>
                        </fieldset>
                        
                        <footer class="text-center">
                            <button type="submit" class="btn-u btn-u-lg">링크 등록</button>
                        </footer>
                    </form>
                </div>

                <div class="tab-pane fade in" id="reg_detail">    
                    <form id="fwrite" class="sky-form" name="fwrite" method="post" novalidate="novalidate" action="<?=RT_PATH?>/adm/register/detail" enctype="multipart/form-data">
                    <input type="hidden" name="token" value="<?=$token?>" />  
                    <input type="hidden" name="PDT_CD" value="<?=$PDT_CD?>">
                    <input type="hidden" name="IMG_PATH" value="<?=$DETAIL_IMG_PATH?>">
                    
                    <fieldset>
                        <section>
                            <label class="label">상품명</label>
                            <label class="input">
                                <i class="icon-append fa fa-star"></i>
                                <input type="text" id="PDT_NAME" name="PDT_NAME" maxlength="45" value="<?=$PDT_NAME?>" disabled />
                            </label>
                        </section>

                        <section>
                            <label class="label">모델명</label>
                            <label class="input">
                                <i class="icon-append fa fa-tablet"></i>
                                <input type="text" name="PDT_MODEL" maxlength="45" value="<?=$PDT_MODEL?>" disabled>
                            </label>           
                        </section>
                        <section>
                            <label class="label">상품 상세 이미지</label>            
                            <div id="alert_file" class="ace">       
                                <div id="form-attachments">                                                     
                                    <div class="row">
                                    <? for( $i = 0 ; $i < 1 ; $i++ ) : ?>
                                        <?
                                            $k = $i + 4 ;
                                            $on_img = (isset($DETAIL_IMG_PATH) && $DETAIL_IMG_PATH != '') ;
                                            $display = ( $on_img || $i == 0 || (!$on_img && $prev_on_img) ) ? 'block' : 'none' ;
                                        ?>
                                        <div class="col-xs-3" id='div-input-file<?=$k?>' style='display:<?=$display?>'>
                                        <? if($on_img) : ?>
                                            <span class="profile-picture">
                                                <img id="img<?=$k?>" name="<?=$k?>" class="editable img-responsive editable-click editable-empty editable-open" src="<?=$DETAIL_IMG_PATH?>" />
                                            </span>
                                        <? endif ; ?>
                                            <span style="display:<?=($on_img)?'none':'block'?>;">
                                                <input type="file" id="id-input-file<?=$k?>" name="file<?=$k?>"/>
                                            </span>
                                        </div>
                                        <? $prev_on_img = $on_img ; ?>
                                    <? endfor ?>                                                   
                                    </div>                                          
                                </div>

                                <div class="note">
                                    <strong>중요!</strong> 이미지 파일만 첨부 가능합니다.
                                    <BR/>각 첨부파일의 용량은 1.5MB 미만으로 업로드하시기 바랍니다.
                                    <BR/>(Chrome 에서는 첨부파일의 미리보기가 가능합니다.)
                                </div>
                            </div>
                        </section>
                    </fieldset>
                    
                    <footer class="text-center">
                        <button type="submit" class="btn-u btn-u-lg" id="btn_submit">상세 이미지 등록</button>
                    </footer>                                
                </div>
            </div>
        </div>
    </div>
</div>

<!--[if lt IE 9]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="<?=JS_DIR?>/ace-elements.js"></script>
<script type='text/javascript'>
//<![CDATA[

    $('#id-input-file1, #id-input-file2, #id-input-file3, #id-input-file4').ace_file_input({
        style:'well',
        btn_choose:'',
        btn_change:null,
        no_icon:'icon-picture',
        droppable:true,
        thumbnail:'large',      
        //icon_remove:null,
        before_change : function(files, dropped) 
        {
            var allowed_files = [];

            for(var i = 0 ; i < files.length; i++) 
            {
                var file = files[i] ;

                if(typeof file === "string") 
                {
                    //IE8 and browsers that don't support File Object
                    if(! (/\.(jpe?g|png|gif|bmp)$/i).test(file) ) return false ;
                }
                else 
                {
                    var type = $.trim(file.type);
                    if( ( type.length > 0 && ! (/^image\/(jpe?g|png|gif|bmp)$/i).test(type) )
                            || ( type.length == 0 && ! (/\.(jpe?g|png|gif|bmp)$/i).test(file.name) )//for android's default browser which gives an empty string for file.type
                        ) 
                    {
                        alert('이미지 파일만 첨부 가능합니다.') ;
                        continue;//not an image so don't keep this file 
                    }
                }

                /*if (file.size > (1024 * 1024 * 1.5))
                {
                    var filesize = file.size / (1024 * 1024 * 1.5) ;
                    alert('파일이 너무 큽니다. ('+filesize.toFixed(2)+'MB). 첨부 가능 파일 사이즈(1.5MB 이하)') ;
                    continue ;
                }*/
                
                allowed_files.push(file);
            }

            if(allowed_files.length == 0) return false ;

            var cur_input_idx = parseInt($(this).attr('name').substr(4, 1)) ;
            var next_input_div = '#div-input-file' + (cur_input_idx + 1) ;

            $('#img'+cur_input_idx).closest('span').hide() ;
            $('#id-input-file'+cur_input_idx).closest('span').show() ;

            $(next_input_div).show() ;

            return allowed_files ;
        },
        before_remove : function() 
        {
            var cur_input_idx = parseInt($(this).attr('name').substr(4, 1)) ;
            var cur_input_div = '#div-input-file' + cur_input_idx ;
            var prev_input_div = '#div-input-file' + (cur_input_idx - 1) ;
            var next_input_div = '#div-input-file' + (cur_input_idx + 1) ;

            if ($(next_input_div).find('.file-label').attr('data-title') == '')
            {
                $(next_input_div).hide() ;
            }

            if ($(prev_input_div).find('.file-label').attr('data-title') == '')
            {
                $(cur_input_div).hide() ;
            }

            return true ;
        },
        preview_error : function(filename, error_code) 
        {
            //name of the file that failed
            //error_code values
            //1 = 'FILE_LOAD_FAILED',
            //2 = 'IMAGE_LOAD_FAILED',
            //3 = 'THUMBNAIL_FAILED'
            //alert(error_code);
        }

    }).on('change', function(){
        //console.log($(this).data('ace_input_files'));
        //console.log($(this).data('ace_input_method'));
    });

    $('#img1, #img2, #img3, #img4').click(function()
    {
        var cur_img_idx = parseInt($(this).attr('name')) ;
        $('#id-input-file'+cur_img_idx).click() ;
    }) ;

    $('#fwrite').validate({
        onkeyup: false,
        rules: {
            file1: 'required',
        },
        messages: {
            file1: '이미지 파일을 한 개 이상 선택해 주세요',
        },

        // Do not change code below
        errorPlacement: function(error, element)
        {
            error.insertAfter(element.parent());
        }
    });
//]]>
</script>