<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">    
    <div class="headline">
        <div class="row" style="padding-right: 30px;">             
            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" id="select_sca" class="btn btn-default dropdown-toggle" data-toggle="dropdown">word</button>
                    </div><!-- /btn-group -->
                    <input type="text" class="form-control" id="word">
                    <span class="input-group-btn">
                        <button class="btn-u" type="button" id="find_word"><i class="fa fa-search"></i></button>
                    </span>
                </div><!-- /input-group -->
            </div>
        </div>
    </div>
    <div id="word_link"></div>
</div>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type='text/javascript'>
    $("#word").bind("keydown", function(e) 
    {
        if (e.keyCode == 13) 
        {     
            $(this).next().find('#find_word').click() ;            
        }
    });

    $("#find_word").click(function()
    {        
        var basicUrl = "https://ssl.gstatic.com/dictionary/static/sounds/de/0/" + $("#word").val() + ".mp3" ;
        var innerHtml = "<a title='"+basicUrl+"' href='"+basicUrl+"' download>"+basicUrl+"</a>" ;

        $("#word_link").html(innerHtml) ;            
    }) ;
</script>