<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
  <div class="container">
      <h1 class="pull-left"><?=$title?></h1>
      <ul class="pull-right breadcrumb">
        <li><a href="/">Home</a></li> 
        <li><a href="" class="main_menu"></a></li>        
        <li class="active"><a href="" class="sub_menu"></a></li>
      </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<script language="javascript">
   jQuery(document).ready(function() 
   {
      var cur_url = $(location).attr('href') ;     
      cur_url = cur_url.split("?") ;

      var tmp_url = cur_url[0].split("/") ;
      var tmp_url1 = "" ;
      var tmp_url2 = "" ;      
      var arr_url = new Array() ;

      for ( i = 3 ; i < tmp_url.length ; i++ )
      {      
        tmp_url1 += "/" + tmp_url[i] ;          

        if ( $("li a[href='"+tmp_url1+"'][name=Menu]").length > 0 )
        {          
          tmp_url2 = tmp_url1 ;
        }                   
      }

      var subMenu = $("li a[href='"+tmp_url2+"'][name=Menu]") ;

      var mainMenu = subMenu.parents('.dropdown').find('.dropdown-toggle') ;
      $('.breadcrumbs .container .pull-right .main_menu').html( mainMenu.text() ) ;

      var mainSubMenu = subMenu.parents('.dropdown-submenu').find('.dropdown-sub') ;

      if ( mainSubMenu.length > 0  )
      {      
        subMenu.parents("li").addClass("active") ;  
        $('.breadcrumbs .container .pull-right .main_menu').html( mainSubMenu.text() ) ;
      }

      if ( subMenu.length > 0  )
      {
        subMenu.parents("li").addClass("active") ;  

        $('.breadcrumbs .container .pull-right .active .sub_menu').attr('href', tmp_url2).html( subMenu.text() ) ;

          if ( '<?=$title?>' == '강의영상' )
          {
              $('.main_menu').html('강의') ;
              $('.sub_menu').html( '강의영상' ) ;
          }
      }
      else
      {
        var title = '<?=$title?>' ;
        
        if ( title == '카드 상세 정보' || title == '카드 정보 수정' )
        {
          $('.main_menu').html('카드 관리') ;
          $('.sub_menu').html( title ) ;
        }
        else if ( title == '컨설팅 정보' )
        {
            $('.main_menu').html('통신비 컨설팅') ;
            $('.sub_menu').html( title ) ;
        }
        else if ( title == '주문상세정보' )
        {
            $('.main_menu').html('주문 관리') ;
            $('.sub_menu').html( title ) ;
        }
        else
        {
          $('.breadcrumbs').hide() ;
        }
      }
    }) 
</script>