 <!--=== Header ===-->    
 <div class="header">
 <? if (!$this->agent->is_mobile()) : ?>
    <div class="container" style="width:1600px;">
 <? else : ?>
    <div class="container">
 <? endif ; ?>   
        <!-- Logo -->
        <a class="logo" href="/..">
            <img src="/data/img/login_bg.jpg" height="60%" alt="Logo">
        </a>
        <!-- End Logo -->
        
        <!-- Topbar -->
        <div class="topbar">
            <ul class="loginbar pull-right">  
                <? if (IS_MEMBER): ?>
                    <li><strong>
                    <? if (IS_RECEPTION): ?>
                     접수처 - 
                    <? endif ?>
                     <?=$mb_nick?>(<?=$mb_userid?>)</strong> 님이 로그인 하셨습니다.
                     </li>
                     <? if (SU_ADMIN): ?>
                       <li class="topbar-devider"></li>   
                       <li><a href="<?=RT_PATH?>/adm">관리자 설정</a></li>
                     <? endif; ?>
                     <li class="topbar-devider"></li>   
                     <li><a href="<?=RT_PATH?>/member/login/out">로그아웃</a></li>   
                <? else : ?> 
                    <li><a href="/member/login/">로그인</a></li>   
                    <li class="topbar-devider"></li>
                    <li><a href="/member/join/">회원가입</a></li>                     
                <? endif; ?>
                    <!--<li class="topbar-devider"></li>
                    <li>
                        <a href="javascript:void(0)" id="me2" title="회원명부조회" onclick="window.open('/member/find/', '_blank', 'width=700,height=450,scrollbars=yes,status=yes,resizable=yes,screenx=0,screeny=0');">
                                    회원명부조회</a>
                    </li>                           
                    <li class="topbar-devider"></li>
                    <li>
                        <a href="javascript:void(0)" id="cert" title="계좌본인확인" onclick="window.open('/member/certify/bank_account/', '_blank', 'width=700,height=450,scrollbars=yes,status=yes,resizable=yes,screenx=0,screeny=0');">
                                    계좌본인확인</a>
                    </li>   -->
                <? if (IS_MEMBER && !IS_MANAGER && !IS_AGENCY && !IS_CENTER && !IS_BRANCH && !IS_DIRECT_BRANCH && !IS_HBN_CAST && !IS_RECYCLE): ?>
                    <li class="topbar-devider"></li>
                    <li>
                        <a href="javascript:void(0)" onclick="window.open('/member/lists/registration/<?=$mb_userid?>', '_blank', 'width=1200,height=1600,scrollbars=yes,status=yes,resizable=yes,screenx=0,screeny=0');"><span class="fa fa-print"></span> 회원등록증</a>
                    </li>  
                <? endif ?>              
            </ul>
        </div>
        <!-- End Topbar -->

        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    <? if (IS_MEMBER && !IS_MANAGER && !IS_HBN_CAST && !IS_RECYCLE) : ?>
        <div style="text-align:right;font-size:12px">            
            <div>            
                <BR>
                <STRONG>KAIT승낙번호 : <span class="color-red"><?=$KAIT_NO?></span></STRONG>                        
                <BR>            
                <STRONG><span class="color-red"><a href="<?=$KAIT_HREF?>"><?=$KAIT_TIP1?></a></span></STRONG>                        
                <BR>            
                <STRONG><span class="color-red"><a href="<?=$KAIT_HREF?>"><?=$KAIT_TIP2?></a></span></STRONG>                        
            <!--
                <BR>
                <STRONG>SK승인코드 : <span class="color-red"><?=$SKT_REG_NO?></span></STRONG>
                <BR>
                <STRONG>KT승인코드 : <span class="color-red"><?=$KT_REG_NO?></span></STRONG>
            -->
            </div>
        </div>
    <? endif ?>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
     <? if (!$this->agent->is_mobile()) : ?>
        <div class="container" style="width:1600px;">
     <? else : ?>
        <div class="container">
     <? endif ; ?>   
            <ul class="nav navbar-nav">
                <!-- ABOUT -->
                <!--<li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle eng" data-toggle="dropdown">
                        About
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/company/about" name="Menu">회사소개</a></li>
                        <li><a href="/company/ceo" name="Menu">Ceo인사말</a></li>
                        <li><a href="/company/map" name="Menu">오시는길</a></li>
                        <li><a href="/company/center" name="Menu">센터현황</a></li>
                    </ul>
                </li>-->
                <!-- End ABOUT -->
				
				<li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle eng" data-toggle="dropdown">
                        Home
                    </a>
                    <ul class="dropdown-menu">                        
                    </ul>
                </li>

            <? if ( IS_MEMBER ) : ?>
                <!-- 강의영상 -->
                <li><a href="/lecture/lists" name="Menu">강의영상</a></li>
                <!-- 강의영상 -->
            <? endif ?>

                <!-- 비지니스가이드  -->
                <!--<li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        비지니스가이드
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/business/gd7" name="Menu">회원가입</a></li>
                        <li><a href="/business/gd1" name="Menu">제품주문</a></li>
                        <li><a href="/business/gd3" name="Menu">마케팅플랜</a></li>
                        <li><a href="/business/gd2" name="Menu">환불및철회</a></li>                        
                        <li><a href="/business/gd4" name="Menu">평균후원수당</a></li>
                        <li><a href="/business/gd5" name="Menu">회원관리규정</a></li>
                        <li><a href="/business/gd6" name="Menu">회원윤리규정</a></li>                        
                        <li><a href="/business/gd8" name="Menu">개인정보처리방침</a></li>                        
                    </ul>
                </li>-->
                <!-- End 비지니스가이드 -->

            <? if( IS_MEMBER ) : ?>
                <!-- 회원관리 -->
                <? if( !IS_AGENCY && !ONLY_VIEW_NOTICE && !IS_CARD_AGENCY && !IS_BRANCH && !IS_HBN_CAST && !IS_RECYCLE ) : ?>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        회원관리
                    </a>
                    <ul class="dropdown-menu">   
                    <? if( IS_MANAGER || IS_DIRECT_BRANCH || IS_CENTER ) : ?>          
                        <li><a href="/member/lists" name="Menu">회원리스트</a>                        
                        <!--<li><a href="/member/lists/reception" name="Menu">접수처리스트</a>-->
                        <? if( IS_MANAGER ) : ?>
                            <li><a href="/member/rank" name="Menu">회원직급현황</a></li>
                            <li><a href="/member/rank/grp" name="Menu">회원점수현황</a></li>
                        <? endif ?>
                    <? else : ?>                        
                        <li><a href="/member/confirm/qry/member.modify" name="Menu">회원정보수정</a></li>
                    <? if($this->session->userdata('ss_mb_id') == '00000196') : ?>
                        <li><a href="/member/confirm/qry/member.tree_modify/supporter" name="Menu">후원인정보수정</a></li>
                        <li><a href="/member/confirm/qry/member.tree_modify/recommender" name="Menu">추천인정보수정</a></li>
                    <? endif ?>
                        <li><a href="/member/rank" name="Menu">산하회원직급현황</a></li>                        
                    <? endif ?>           
                    <? if( !IS_CENTER ) : ?>         
                        <li><a href="/member/treeview" name="Menu">회원트리조회</a></li>                        
                    <? endif ?>
                    <? if( IS_MANAGER || IS_CENTER ) : ?>
                        <li><a href="/hbplanner/credit" name="Menu">신용조회</a></li>
                    <? endif ?>
                    <? if( IS_MANAGER ) : ?>
                        <li><a href="/member/kait/lists" name="Menu">사전승낙등록</a></li>
                        <li><a href="/member/temp_line" name="Menu">회원가입시 라인정보</a></li>
                        <? endif ?>
                    </ul>
                </li>
                <? elseif($this->session->userdata('ss_mb_id') == 'ANYPLUS') : ?>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        회원관리
                    </a>
                    <ul class="dropdown-menu"> 
                        <li><a href="/hbplanner/credit" name="Menu">신용조회</a></li>    
                    </ul>
                </li>
                <? endif ?>
                 <!-- End 회원관리 -->
            <? endif ?>

            <? if( !IS_MEMBER ) : ?>
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    상품보기
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/order/order/mobile" name="Menu">무선상품보기</a></li>
                    <li><a href="/order/order/wired" name="Menu">유선상품보기</a></li>
                    <!--<li><a href="/order/order/card" name="Menu">제휴카드보기</a></li>-->
                    <li><a href="/order/order/starion" name="Menu">일반상품보기</a></li>
                </ul>
            </li>
            <? endif ?>

            <? if( IS_MEMBER ) : ?>

                <!-- 주문관리 -->
                <? if( !ONLY_VIEW_NOTICE ) : ?>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        주문관리
                    </a>
                    <ul class="dropdown-menu">     
                    <? if( !IS_AGENCY && !IS_CARD_AGENCY ) : ?>                  
                        <li><a href="/order/order/mobile" name="Menu">무선상품주문</a></li>                                    
                        <li><a href="/order/order/wired" name="Menu">유선상품주문</a></li>
                        <li><a href="/order/order/card" name="Menu">제휴카드주문</a></li>
                        <li><a href="/order/order/starion" name="Menu">일반상품주문</a></li>
                    <? endif ?>

                    <? if ( IS_AGENCY || IS_CARD_AGENCY ) : ?>
                        <li><a href="/order/lists" name="Menu">주문내역조회</a></li>
                    <? else : ?>
                        <li><a href="/order/lists_mobile" name="Menu">무선주문내역조회</a></li>
                        <li><a href="/order/lists_wired" name="Menu">유선주문내역조회</a></li>
                        <li><a href="/order/lists_card" name="Menu">제휴카드주문내역조회</a></li>
                        <li><a href="/order/lists_starion" name="Menu">일반상품주문내역조회</a></li>
                        <? if( !IS_MANAGER && !IS_CENTER && !IS_BRANCH && !IS_DIRECT_BRANCH ) : ?>
                        <li><a href="/order/lists/sub" name="Menu">하선주문내역조회</a></li>
                        <? endif ?>
                    <? endif ?>

                    <? if( IS_MANAGER ) : ?>
                        <li><a href="/order/count/mobile" name="Menu">무선실적현황</a>
                        <li><a href="/order/count/day" name="Menu">일일개통현황</a>
                        <li><a href="/order/count/period" name="Menu">기간별개통현황</a>
                        <li><a href="/order/group/count" name="Menu">그룹별개통현황</a>                        
                        <li><a href="/order/count/d_recommend" name="Menu">단말기직추천개통현황</a>
                    <? endif ?>
                    </ul>
                </li>
                <? endif ?>
                <!-- 수당관리 -->
                <? if( !IS_AGENCY && !IS_CARD_AGENCY && !ONLY_VIEW_NOTICE ) : ?>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        수당관리
                    </a>
                    <ul class="dropdown-menu">  
                <? if( !IS_CENTER && !IS_BRANCH && !IS_DIRECT_BRANCH ) : ?>                  
                    <? if( IS_MANAGER ) : ?>                               
                        <li><a href="/account/grp_cv" name="Menu">N값</a></li>
                        <li><a href="/account/grp_cv_product" name="Menu">일반상품 N값</a></li>
                        <? endif ?>
                        <li><a href="/account/pay/week" name="Menu">주마감내역</a></li>
                    <? if( !IS_MANAGER ) : ?>
                        <li><a href="/account/pay/week_d" name="Menu">주마감상세내역</a></li>
                    <? endif ?>                
                        <li><a href="/account/pay/month" name="Menu">월마감내역</a></li>                    
                    <? if( !IS_MANAGER ) : ?>                               
                        <li><a href="/account/od_list" name="Menu">본인주문내역</a></li>
                        <!--<li><a href="/account/pv_list" name="Menu">본인실적(PV)내역서</a></li>-->                    
                        <li><a href="/account/sub_list/support" name="Menu">후원하선매출</a></li>
                        <li><a href="/account/sub_list/recommand" name="Menu">추천하선매출</a></li>
                    <? else : ?>
                        <li><a href="/account/sub_list/recommand" name="Menu">전체매출</a></li>
                    <? endif ?>                        
                    <? if( IS_MANAGER ) : ?>
                    <!--    <li><a href="/account/reception" name="Menu">접수처매출</a></li> -->
                    <? else : ?>
                    <!--    <li><a href="/account/reception/sub" name="Menu">접수처매출</a></li> -->                    
                    <? endif ?>   
                <? endif ?>  
                    <? if( IS_MANAGER || IS_CENTER || IS_BRANCH || IS_DIRECT_BRANCH ) : ?>
                        <? foreach ($center_list as $key => $value) : ?>
                            <? if ( IS_MANAGER || ($key == $this->session->userdata('CENTER_CD')) ) : ?>
                                <li><a href="/center/detail/cd/<?=$key?>" name="Menu"><?=$value?></a></li>
                            <? endif ?>
                        <? endforeach ?>                        
                    <? endif ?>                                                                                                   
                    </ul>
                </li>
                <? endif ?>
                <!-- End 수당관리 -->

                <!-- 중고폰 매입 -->
                <!--<? if( !ONLY_VIEW_NOTICE || IS_RECYCLE ) : ?>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        중고폰
                    </a>
                    <ul class="dropdown-menu">
                    <? if (IS_MEMBER && !IS_AGENCY && !IS_CENTER && !IS_BRANCH && !IS_DIRECT_BRANCH && !IS_RECYCLE): ?>
                        <li><a href="/order/order/used_mobile" name="Menu">판매신청</a></li>
                    <? endif ?>
                        <li><a href="/order/lists_used_mobile" name="Menu">판매내역</a></li>
                    <? if ( IS_MANAGER || IS_RECYCLE ) : ?>
                        <li><a href="/account/used_mobile/seller" name="Menu">회원정산내역</a></li>
                        <li><a href="/account/used_mobile/center" name="Menu">센터정산내역</a></li>
                    <? elseif ( IS_CENTER ) : ?>
                    <? endif ?>
                        <li><a href="/board/JOONGGO_M" name="Menu">중고폰단가</a></li>
                    </ul>
                </li>
                <? endif ?>-->
                <!-- End 중고폰 매입 -->

                <!-- 컨설팅 -->
                <? if( !IS_AGENCY && !IS_CARD_AGENCY && !IS_RECYCLE ) : ?>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        통신비컨설팅
                    </a>
                    <ul class="dropdown-menu">                        
                    <? if( IS_TEST_SERVER ) : ?>
                        <li><a href="/consult/plan" name="Menu">가계통신비진단</a></li>
                    <? endif ?> 
                        <li><a href="/consult/wireless" name="Menu">무선컨설팅</a></li>
                        <li><a href="/board/CONSULTING" name="Menu">컨설팅 정보</a></li>
                    <? if( IS_MANAGER ) : ?>
                        <li><a href="/consult/plan/lists" name="Menu">요금제 관리</a></li>    
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);" class="dropdown-sub">제휴카드 관리</a>
                            <ul class="dropdown-menu">
                                <li><a href="/consult/place" name="Menu">사용처 관리</a></li>
                                <li><a href="/product/card/lists" name="Menu">카드 관리</a></li>                                
                            </ul>                                
                        </li>
                        <li><a href="/consult/gift/lists" name="Menu">유선 상품 관리</a></li>
                    <? endif ?>
                        <li><a href="/consult/kt_wired" name="Menu">KT 멀티룸팩 요금계산기</a></li>
                        <!-- <li><a href="/consult/lg_wired" name="Menu">LG 멀티룸팩 요금계산기</a></li> -->
                    </ul>
                </li>                                
                <!-- End 컨설팅 -->
            <? endif ?>  

            <? if( !IS_AGENCY && !IS_CARD_AGENCY && !IS_RECYCLE ) : ?>
            <!-- 지점현황 -->                
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    지점현황
                </a>
                <ul class="dropdown-menu">                                            
                    <li><a href="/center/lists" name="Menu">지점정보</a></li>
                <? if( IS_CENTER || IS_BRANCH || IS_DIRECT_BRANCH ) : ?>
                    <li><a href="/center/calendar/cd/<?=$this->session->userdata('CENTER_CD')?>" name="Menu">교육일정</a></li>
                <? else : ?>
                    <li><a href="/center/calendar" name="Menu">교육일정</a></li>
                <? endif ?>
                <? if(IS_MANAGER || IS_CENTER) : ?>
                    <li><a href="/center/stock" name="Menu">물류현황</a></li>
                    <li><a href="/center/count" name="Menu">실적현황</a></li>
                    <li><a href="/center/count/growup" name="Menu">성장현황</a></li>
                <? endif ?>
                <? if ( IS_MANAGER ) : ?>
                    <li><a href="/center/manage" name="Menu">지점관리</a></li>
                <? endif ?>
                </ul>
            </li>                                       
            <!-- End 지점현황 -->       
            <? endif ?>        

            <? if( !IS_AGENCY && !IS_CARD_AGENCY && !IS_RECYCLE ) : ?>
                <!-- 커뮤니티 -->
                 <li class="dropdown">
                     <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        커뮤니티
                    </a>
                     <ul class="dropdown-menu">                    
                        <li><a href="/board/NOTICE" name="Menu">공지사항</a></li>
                    <? if (IS_MANAGER || IS_CENTER) : ?>
                        <li><a href="/board/NOTICE_TO_CENTER" name="Menu">센터 공지사항</a></li>
                    <? endif ?>    
                        <!--<li><a href="/board/NEWS" name="Menu">HBN뉴스</a></li>-->
                        <li><a href="/board/POLICY" name="Menu">정책공지</a></li>
                         <li><a href="/board/STARION_POLICY" name="Menu">일반상품 정책공지</a></li>
                         <li><a href="/member/honor" name="Menu">명예의전당</a></li>
                        <li><a href="/board/PROMOTION" name="Menu">프로모션</a></li>
                        <li><a href="/board/EVERY_DAY_STOCK" name="Menu">일일재고현황</a></li>                        
                        <li><a href="/board/MEMBER_BOARD" name="Menu">회원 자료실</a></li>
                        <li><a href="/board/EDU_PRACTICAL" name="Menu">실무 교육자료</a></li>
                        <li><a href="/board/EDU_BUSINESS" name="Menu">사업 교육자료</a></li>
                        <li><a href="/board/FAQ" name="Menu">자주하는 질문</a></li>                    
                    <? if( IS_MANAGER ) : ?>
                        <li><a href="/board/POPUP" name="Menu">POPUP</a></li>                    
                    <? endif; ?>
                        <!--
                        <li><a href="/board/free" name="Menu">자유게시판</a></li>
                        //--> 
                    </ul>
                </li>
                <? endif ?>
            <? endif ?>
                <!-- End 커뮤니티 -->
                
                <? if( IS_MANAGER ) : ?>
                <!-- 판매관리 -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        제품관리
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/adm/product/lists" name="Menu">상품 정보 등록</a></li>
                        <li><a href="/product/mobile/kt" name="Menu">KT 상품 등록</a></li>
                        <li><a href="/adm/product/recommand" name="Menu">추천 상품 관리</a></li>
                        <li><a href="/product/gifts" name="Menu">일반상품 사은품 등록</a></li>
                    </ul>
                </li>
                <!-- End 판매관리 -->
                <? endif; ?>

                <!-- 매칭찬스 -->
                <!--<li><a href="http://114.hbn.co.kr" name="Menu">매칭찬스</a></li>-->
                <!--<li>
                   <a href="javascript:void(0)" title="HB114" onclick="window.open('http://114.hbn.co.kr', '_blank', 'width=1200,height=1200,scrollbars=yes,status=yes,resizable=yes,screenx=0,screeny=0');">HB114</a>
                </li>-->
                <!-- 매칭찬스 -->
            </ul>
        </div><!--/end container-->
    </div>
    <!--/navbar-collapse-->
 </div>
 <!--=== End Header ===-->
        