<link rel="stylesheet" href="<?=PLUGIN_DIR?>/flexslider/flexslider.css">  
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/parallax-slider/css/parallax-slider.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/layer-slider/layerslider/css/layerslider.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<!--=== Slider ===-->
    <div id="layerslider" style="width: 100%; height: 500px; margin: 0px auto;">
        <!--Forth Slide-->
        <div class="ls-slide" style="slidedirection: right; transition2d: 92,93,105; ">
            <img src="data/img/honor_bg.png" class="ls-bg" alt="Slide background">

            <span class="ls-s-1" style=" color: #fff; line-height:45px; font-weight: 200; font-size: 55px; top:130px; left: 50px; slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; ">명예의전당</span>

            <a class="btn-u btn-brd btn-brd-hover btn-u-light ls-s-1" href="/member/honor" style=" padding: 9px 20px; font-size:25px; top:220px; left: 50px; slidedirection : bottom; slideoutdirection : bottom; durationin : 2000; durationout : 2000; ">
                바로가기
            </a>

            <img src="data/img/honor.png" alt="Slider Image" class="ls-s-1" style=" top:30px; left: 670px; slidedirection : right; slideoutdirection : bottom; durationin : 3000; durationout : 3000; ">
        </div>
        <!--End Forth Slide-->

        <!-- First slide -->
        <div class="ls-slide" data-ls="slidedelay:4500;transition2d:25;">
            <img src="assets/img/bg/14.jpg" class="ls-bg" alt="Slide background"/>
            <? if ( isset($policy_list[0]) && isset($policy_list[0]['pt_thumbnail']) ) : ?>
            <img src="<?=$policy_list[0]['pt_thumbnail']?>" alt="Slider image" class="ls-s-1" style=" top:62px; left: 29%;" 
            data-ls="offsetxin:left; durationin:1500; delayin:1500; fadein:false; offsetxout:left; durationout:1000; fadeout:false;">
            <? endif ?>
            <span class="ls-s-1" style=" text-transform: uppercase; line-height: 45px; font-size:35px; color:#fff; top:200px; left: 590px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 3500; delayin : 1000;">
            <? if ( isset($policy_list[0]) ) : ?>
                <?=$policy_list[0]['PDT_NAME']?><br>
                <?=$policy_list[0]['PDT_MODEL']?>
            <? endif ?>
            </span>
            <? if ( isset($policy_list[0]) ) : ?>
            <a class="btn-u btn-brd btn-brd-hover btn-u-light ls-s-1" href="/order/insert/pdt_cd/<?=$policy_list[0]['PDT_CD']?>" style=" padding: 9px 20px; font-size:25px; top:330px; left: 590px; slidedirection : bottom; slideoutdirection : bottom; durationin : 4000; durationout : 4000; ">
                주문하기
            </a>
            <? endif ?>
        </div>

        <!--Second Slide-->
        <div class="ls-slide" data-ls="transition2d:93;">
            <img src="assets/img/bg/16.jpg" class="ls-bg" alt="Slide background">

            <span class="ls-s-2" style=" color: #fff; font-weight: 200; line-height: 45px; font-size: 35px; top:70px; left: 40px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 500; ">
            <? if ( isset($policy_list[1]) ) : ?>
                <?=$policy_list[1]['PDT_NAME']?><br>
                <?=$policy_list[1]['PDT_MODEL']?>
            <? endif ?>
            </span>
            <? if ( isset($policy_list[1]) ) : ?>
            <a class="btn-u btn-brd btn-brd-hover btn-u-light ls-s1" href="/order/insert/pdt_cd/<?=$policy_list[1]['PDT_CD']?>" style=" padding: 9px 20px; font-size:25px; top:340px; left: 40px; slidedirection : bottom; slideoutdirection : bottom; durationin : 6500; durationout : 3500; ">
                주문하기
            </a>
            <? endif ?>

            <? if ( isset($policy_list[1]) && isset($policy_list[1]['pt_thumbnail']) ) : ?>
            <img src="<?=$policy_list[1]['pt_thumbnail']?>" alt="Slider Image" class="ls-s-1" style=" top:30px; left: 650px; slidedirection : right; slideoutdirection : bottom; durationin : 1500; durationout : 1500; ">
            <? endif ?>
        </div>                

        <!--Third Slide-->
        <div class="ls-slide" style="slidedirection: right; transition2d: 92,93,105; ">
            <img src="assets/img/bg/25.jpg" class="ls-bg" alt="Slide background">

            <span class="ls-s-1" style=" color: #777; line-height:45px; font-weight: 200; font-size: 35px; top:100px; left: 50px; slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; ">
            <? if ( isset($policy_list[2]) ) : ?>
                <?=$policy_list[2]['PDT_NAME']?><br>
                <?=$policy_list[2]['PDT_MODEL']?>
            <? endif ?>
            </span>
            <? if ( isset($policy_list[2]) ) : ?>
            <a class="btn-u btn-brd btn-brd-hover btn-u-dark ls-s-1" href="/order/insert/pdt_cd/<?=$policy_list[2]['PDT_CD']?>" style=" padding: 9px 20px; font-size:25px; top:220px; left: 50px; slidedirection : bottom; slideoutdirection : bottom; durationin : 2000; durationout : 2000; ">
                주문하기
            </a>
            <? endif ?>
            
            <? if ( isset($policy_list[2]) && isset($policy_list[2]['pt_thumbnail']) ) : ?>
            <img src="<?=$policy_list[2]['pt_thumbnail']?>" alt="Slider Image" class="ls-s-1" style=" top:30px; left: 670px; slidedirection : right; slideoutdirection : bottom; durationin : 3000; durationout : 3000; ">
            <? endif ?>
        </div>
        <!--End Third Slide-->
    </div><!--/layer_slider-->
    <!--=== End Slider ===-->

    <!--=== Login Block ===-->
    <div class="container" style="display:none;">
        <div class="row">
            <div class="title-box eng col-md-8 animated fadeInLeft">
                <div class="title-box-text eng"><span class="color-red eng">Line</span><span class="eng"> Connection</span></div>                
            </div>
            <div class="col-md-4 btn-buy animated fadeInRight">
            <? if (IS_MEMBER) : ?>
                <div class="margin-bottom-30"></div>
                <a href="/member/login/out" class="btn-u btn-u-lg"><i class="icon-logout"></i> 로그아웃</a>
            <? else : ?>
                <div class="row">
                    <div class="margin-bottom-15"></div>
                    <form id="flogin" class="sky-form" novalidate="novalidate" name="flogin" method="post" action="<?=RT_PATH?>/member/login/in">    
                        <div class="col-md-8">
                            <div>
                                <label class="input login-input">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" name="mb_id" value="" class="id form-control">
                                    </div>
                                </label>
                            </div>        
                            <div>
                                <label class="input login-input no-border-top">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" name="mb_password" class="form-control">
                                    </div>    
                                </label>
                                <div class="note"><i class="glyphicon glyphicon-search"></i><a href="<?=RT_PATH?>/member/lost_idpwd" class="modal-opener"> 아이디 / 비밀 번호 찾기</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="margin-bottom-10"></div>
                            <button class="btn-u btn-u-lg" type="submit"><i class="icon-login"></i> 로그인</button>
                        </div>
                    </form>
                </div>
            <? endif ?>
            </div>
        </div>
    </div>
    <!-- End Login Block -->
<? if (IS_MEMBER) : ?> 
    <!--=== Full Width Block ===-->
    <div class="parallax-counter-v4 parallaxBg hide" style="background-position: 50% 45px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <i class="icon-badge"></i>
                    <span class="counter"><?=($cur_month_rank)?$cur_month_rank:'.';?></span>
                    <h4>현재직급</h4>
                </div>

                <div class="col-md-4 col-sm-4">
                    <i class="icon-present"></i>
                    <span class="counter"><?php echo number_format($pay_week, 0) ?></span>
                    <h4>이번주 수당</h4>
                </div>

                <div class="col-md-4 col-sm-4">
                    <i class="icon-bulb"></i>
                    <span class="counter"><?php echo number_format($count_week, 0) ?></span>
                    <h4>이번달 산하 개통건수</h4>
                </div>
            </div>
        </div>   
    </div>    
    <!--=== End Full Width Block ===-->  
<? endif ?>

	<!--=== Content Part ===-->
    <div class="container content"> 
        <!-- Service Blocks -->
    <? if (IS_MEMBER) : ?>  
        <div class="row margin-bottom-20">
            <div class="col-md-3">
                <div class="service cursor-pointer">
                    <i class="fa fa-user service-icon"></i>
                    <div class="desc" onclick="document.location.href='/member/treeview';">
                        <h4>회원관리</h4>
                        <p>Customers</p>
                    </div>
                </div>  
            </div>
            <div class="col-md-3">
                <div class="service cursor-pointer">
                    <i class="fa fa-shopping-cart service-icon"></i>
                    <div class="desc" onclick="document.location.href='/order/lists';">
                        <h4>주문관리</h4>
                        <p>Orders</p>
                    </div>
                </div>  
            </div>
            <div class="col-md-3" style="display:none;">
                <div class="service cursor-pointer">
                    <i class="fa fa-cubes service-icon"></i>
                    <div class="desc" onclick="document.location.href='/product/lists';">
                        <h4>상품관리</h4>
                        <p>Products</p>
                    </div>
                </div>  
            </div>
            <div class="col-md-3">
                <div class="service cursor-pointer">
                    <i class="fa fa-star service-icon"></i>
                    <div class="desc" onclick="document.location.href='/account/pv_list';">
                        <h4>수당관리</h4>
                        <p>Accounts</p>
                    </div>
                </div>  
            </div>         
            <div class="col-md-3">
                <div class="service cursor-pointer">
                    <i class="fa fa-bullhorn service-icon"></i>
                    <div class="desc" onclick="document.location.href='/board/NOTICE';">
                        <h4>공지사항</h4>
                        <p>Notice</p>
                    </div>
                </div>  
            </div>       
        </div>
        <div class="container content-sm" style="display:none;">
            <div class="row">
                <div class="col-md-3 content-boxes-v6 md-margin-bottom-50 cursor-pointer" onclick="document.location.href='/member/treeview';">
                    <i class="rounded-x fa fa-user"></i>
                    <h1 class="title-v3-md text-uppercase margin-bottom-10">회원관리</h1>
                    <p>Customers</p>
                </div>
                <div class="col-md-3 content-boxes-v6 cursor-pointer" onclick="document.location.href='/order/lists';">
                    <i class="rounded-x fa fa-shopping-cart"></i>
                    <h2 class="title-v3-md text-uppercase margin-bottom-10">주문관리</h2>
                    <p>Orders</p>
                </div>
                <div class="col-md-3 content-boxes-v6 cursor-pointer" onclick="document.location.href='/product/lists';">
                    <i class="rounded-x fa fa-cubes"></i>
                    <h2 class="title-v3-md text-uppercase margin-bottom-10">상품관리</h2>
                    <p>Products</p>
                </div>
                <div class="col-md-3 content-boxes-v6 cursor-pointer" onclick="document.location.href='/account/lists';">
                    <i class="rounded-x fa fa-star"></i>
                    <h2 class="title-v3-md text-uppercase margin-bottom-10">수당관리</h2>
                    <p>Accounts</p>
                </div>
            </div><!--/row-->
        </div>
        <div class="parallax-counter-v3 parallaxBg1 margin-bottom-30" style="background-position: 50% 107px;display:none;">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-6 md-margin-bottom-50 cursor-pointer">
                        <div class="features" onclick="document.location.href='/member/treeview';">
                            <span class="counter">회원</span>
                            <span class="features-info">Customers</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 md-margin-bottom-50 cursor-pointer">
                        <div class="features" onclick="document.location.href='/order/order/mobile';">
                            <span class="counter">주문</span>
                            <span class="features-info">Orders</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 cursor-pointer">
                        <div class="features" onclick="document.location.href='/product/lists';">
                            <span class="counter">상품</span>
                            <span class="features-info">Products</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 cursor-pointer">
                        <div class="features" onclick="document.location.href='/account/lists';">
                            <span class="counter">수당</span>
                            <span class="features-info">Accounts</span>
                        </div>
                    </div>
                </div>
            </div><!--/end container-->
        </div>
    <? endif ?>
        <div class="row">
            <div class="col-md-3">
                <div class="service cursor-pointer">
                    <i class="fa fa-tablet service-icon"></i>
                    <div class="desc" onclick="document.location.href='/order/order/mobile';">
                        <h4>제품소개</h4>
                        <p>저렴한 가격으로<BR> 최고의 상품을 만나보세요</p>
                    </div>
                </div>  
            </div>
            <div class="col-md-3">
                <div class="service cursor-pointer">
                    <i class="fa fa-users service-icon"></i>
                    <div class="desc" onclick="document.location.href='/business/gd3';">
                        <h4>마케팅 플랜</h4>
                        <p>Line Connection의<BR>마케팅플랜을<BR>확인하세요</p>
                    </div>
                </div>  
            </div>           
            <div class="col-md-3">
                <div class="service cursor-pointer">
                    <i class="fa fa-building-o service-icon"></i>
                    <div class="desc" onclick="document.location.href='/consult/wireless';">
                        <h4>통신비 컨설팅</h4>
                        <p>통신비절감을<BR>체험해보세요</p>                        
                    </div>
                </div>  
            </div>    
            <div class="col-md-3">
                <div class="service">
                    <i class="fa fa-phone service-icon"></i>
                    <div class="desc">
                        <h4>고객센터</h4>
                        <p><strong>1899-5990</strong>
                        <BR>평&nbsp;&nbsp;&nbsp;일 : 10:00 ~ 19:00
                        <BR>토요일 : 11:00 ~ 16:30
                    </div>
                </div>  
            </div>          
        </div>
        <div class="headline"></div>        
        <div class="row text-center margin-bottom-30">
            <div class="col-md-4 desc cursor-pointer" onclick="window.open('http://www.uplus.co.kr/ent/scve/vodc/RetrieveServiceArea.hpi?cs=1', '_blank', 'scrollbars=yes,status=yes,resizable=yes,screenx=0,screeny=0');">
                <img class="image-sm margin-bottom-20" src="/data/img/vender/lg.png" alt="">  
                <h2 class="title-v3-md margin-bottom-10">LGU+ 유선상품<BR> 설치가능지역</h2>                     
            </div>
            <div class="col-md-4 desc cursor-pointer" onclick="window.open('http://www.tworld.co.kr/wire.do?serviceId=S_ETC_0035&viewId=V_WIRE7701&VIEW_TYPE=POPUP&uCode=13', '_blank', 'scrollbars=yes,status=yes,resizable=yes,screenx=0,screeny=0');">
                <img class="image-sm margin-bottom-20" src="/data/img/vender/skt.jpg" alt="">  
                <h2 class="title-v3-md margin-bottom-10">SK 유선상품<BR> 설치가능지역</h2>                
            </div>
            <div class="col-md-4 desc cursor-pointer" onclick="window.open('http://help.olleh.com/ftth/SearchAddress.do', '_blank', 'scrollbars=yes,status=yes,resizable=yes,screenx=0,screeny=0');">
                <img class="margin-bottom-30" src="/data/img/vender/kt.png" alt="" width="130">  
                <h2 class="title-v3-md margin-bottom-10">KT 유선상품<BR> 설치가능지역</h2>                
            </div>
        </div>
        <!-- End Service Blokcs -->

        <!-- Recent Works -->
        <div class="headline"><h2>추천상품</h2></div>
        <div class="row margin-bottom-20">        
            <? foreach ($policy_list as $idx => $o): ?>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="product-thumbnail">
                        <? if(isset($o['pt_thumbnail'])) : ?>
                            <img class="img-responsive" src="<?=$o['pt_thumbnail']?>" alt="">
                        <? endif ; ?>
                        </div>
                        <a class="btn-more hover-effect" href="/order/insert/pdt_cd/<?=$o['PDT_CD']?>">더 보기 +</a>     
                    </div>
                    <div class="caption">
                        <span class="gender text-uppercase"><?=$o['PDT_MODEL']?></span>
                        <h3><a class="hover-effect" href="/order/insert/pdt_cd/<?=$o['PDT_CD']?>"><?=$o['PDT_NAME']?></a></h3>
                    </div>
                </div>
            </div>
            <? endforeach ?>        
        </div>
        <!-- End Recent Works -->

        <!-- Info Blokcs -->
        <div class="row margin-bottom-30" style="display:none;">
            <!-- Welcome Block -->
            <div class="col-md-6 md-margin-bottom-40">
                <div class="headline"><h2>서비스안내</h2></div>
                <div class="row">
                    <ul class="list-unstyled margin-bottom-20">
                        <li><i class="fa fa-check color-green"></i> 요금제 안내(준비중)</li>
                        <li><i class="fa fa-check color-green"></i> 결합상품 안내(준비중)</li>
                        <li><i class="fa fa-check color-green"></i> 할인프로그램 안내(준비중)</li>
                        <li><i class="fa fa-check color-green"></i> 부가서비스 안내(준비중)</li>
                    </ul>                    
                </div>
            </div><!--/col-md-4--> 
            <div class="col-md-6 md-margin-bottom-40">
                <div class="headline"><h2>공지사항</h2></div>
                <div class="row">
                    <ul class="list-unstyled margin-bottom-20">
                        <?/* foreach ($notice_list as $o): ?>
                            <li><i class="fa fa-check color-green"></i>
                                <span class="color-red"><?=$o->date?></span>
                                <a href='<?=$o->href?>'><?=$o->subject?></a></span>
                            </li>
                        <? endforeach;*/ ?>                        
                    </ul>                    
                </div>
            </div><!--/col-md-4-->        

            <!-- Latest Shots -->
            <div class="col-md-4">

            </div><!--/col-md-4-->
        </div>  
        <!-- End Info Blokcs -->

    </div><!--/container-->     
    <!-- End Content Part -->

<? foreach ($popup_list as $key => $notice) : ?>    
    <? if($cookies[$key]) : ?>
    <button class="btn-u" data-toggle="modal" data-target="#notice<?=$key?>" id="notice<?=$key?>_modal_btn" style="display:none">Modal</button>
    <div class="modal fade bs-example-modal-sm" id="notice<?=$key?>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="myLargeModalLabel3" class="modal-title" style="color:white;"><?=$notice['wr_subject']?></h4>
                </div>
                <div class="modal-body"><?=$notice['wr_content']?></div>
                <div class="modal-footer">
                    <input type="checkbox" id="today_no_view" name="notice<?=$key?>"><i></i> 오늘 하루 그만 보기
                </div>
            </div>
        </div>
    </div>
    <? endif ?>
<? endforeach ?>

<style>
    .modal-header 
    {
        background-color:#e74c3c;
    }

    @media (min-width: 1200px)
    {
        .modal-dialog 
        {
          width: 700px;
        }
    }

    .modal-body 
    {
        font-size: 15px;
    }

    .txc-image
    {
        width:100%;
        height:auto;
    }
</style>

<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<script type="text/javascript" src="<?=JS_DIR?>/plugins/parallax-slider.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/parallax-slider/js/jquery.cslider.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script type='text/javascript' src='<?=JS_DIR?>/custom_validation/member.js'></script>

<script type="text/javascript" src="assets/plugins/layer-slider/layerslider/js/greensock.js"></script>
<script type="text/javascript" src="assets/plugins/layer-slider/layerslider/js/layerslider.transitions.js"></script>
<script type="text/javascript" src="assets/plugins/layer-slider/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
<script type="text/javascript" src="assets/js/plugins/layer-slider.js"></script>

<script type="text/javascript">
    $(".id").mask('a-999-99999', {placeholder:' '});

    jQuery(document).ready(function() 
    {
        <? foreach ($popup_list as $key => $notice) : ?>                
        $('#notice<?=$key?>_modal_btn').click() ;         
        <? endforeach ?>

      	App.init();      
        LayerSlider.initLayerSlider();
        ParallaxSlider.initParallaxSlider();
        MemberForm.init('#flogin');  

        $('.close, #today_no_view').click(function()
        {
            if ( $(this).attr('data-dismiss', 'modal') )
            {
                var notice_id = $(this).parents(".modal-content").children(".modal-footer").children("#today_no_view").attr("name") ;
                var today_no_view = $(this).parents(".modal-content").children(".modal-footer").children("#today_no_view").attr("checked") ;

                $.ajax({
                    type : "POST",
                    url : "/main/set_notice_view",
                    data : 
                    {
                        "notice_id" : notice_id,
                        "today_no_view" : today_no_view
                    },
                    success : function (data) 
                    {
                    }
                });
            }
        }) ;

        <? if ( isset($IS_INPUT) && $IS_INPUT == 'X' && ( $GIVE_DATE >= -7 && $GIVE_DATE <= 7 ) ) : ?>
            pop() ;
        <? endif ?>
    });

    function pop()
    {
        window.open("/member/certify/add_jumin_no/", "pop", "width=400,height=550,history=no,resizable=no,status=no,scrollbars=no,menubar=no")
    }
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->