    </div><!--/.row-->
    
</div><!--/.container-->

<!--=== Footer v2 Section ===-->
    <section>
        <!-- Footer Version 2 -->
        <div class="footer-v5 sticky-footer"> 
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10">
                            <ul class="list-inline terms-menu">
                                <li class="eng"><a href="http://www.ftc.go.kr/" target="_blank">공정거래위원회</a></li>
                                <li class="eng"><a href="/business/gd8">개인정보처리방침</a></li>
                                <!--<li class="eng"><a href="javascript:void(0)" id="me2" title="회원명부조회" onclick="window.open('/member/find/', '_blank', 'width=700,height=450,scrollbars=yes,status=yes,resizable=yes,screenx=0,screeny=0');">
                                    회원명부조회</a></li>
                                <li class="eng"><a href="/business/gd2">환불및철회규정</a></li>
                                <li class="eng"><a href="/business/gd9">평균후원수당공지</a></li>
                                <li class="eng"><a href="http://www.seoul.go.kr/main/index.html" target="_blank">서울시청</a></li>
                                <li class="eng"><a href="https://www.macco.or.kr/ko/main.action" target="_blank">직접판매공제조합</a></li>-->
                            </ul>
                            <ul class="list-inline terms-menu">
                                <li class="eng">주식회사 라인커넥션</li>
                                <li class="eng">서울 성동구 성수이로22길 37, 904호(성수동2가, 아크밸리지식산업센터)</li>
                                <!--<li class="eng">사업자등록번호 311-86-00073</li>
                                <li class="eng">Tel. 1899-5990</li>
                                <li class="eng">Fax. 02-566-3133</li>-->
                            </ul>
                            <p class="eng">2018 &copy; All Rights Reserved. <a target="_blank" href="http://linecnt.com/">Line Connection</a></p>
                        </div>
                    </div>
                </div>                 
            </div><!--/copyright-->             
        </div>   
        <!-- End Footer Version 2 -->        
    </section>
    <!--=== End Footer v2 Section ===-->

<script type='text/javascript'>
//<![CDATA[

function mSearch(f) {
    var stx = f.stx.value.replace(/(^\s*)|(\s*$)/g,'');
    if (stx.length < 2) {
        alert('2글자 이상으로 검색해 주세요.');
        f.stx.focus();
        return false;
    }

    return true;
}
//]]>
</script>