<div class="container content">
<div class="row">

<form name="fsearch" id="sky-form" class="sky-form" method="get" action="<?=RT_PATH?>/lecture/lists" onsubmit="return doSearch(this);">
<div class="row">
    <div class="col-md-6">
        <div class="headline">
            <h5>
                <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                전체 : <?=$total_cnt?>개
            </h5>
        </div>
    </div>

    <div class="col-md-2">
        <select name="sfl" class="form-control auto pull-left">
            <option value="wr_subject">제목</option>
            <option value="wr_content">내용</option>
            <option value="wr_subject.wr_content">제목+내용</option>
            <option value="mb_id">회원아이디</option>
            <option value="wr_name">글쓴이</option>
        </select>
    </div>

    <div class="col-md-4">
        <div class="input-group">
            <input type="text" name="stx" class="form-control" placeholder="검색어를 입력하세요 ..." value="<?=$stx?>">
            <span class="input-group-btn">
                <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>

<form name="fboardlist" method="post" action="">
<input type="hidden" name="sw" value="" />

<? if ($list): ?>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <? if ($btn_chkbox): ?>
            <th class="text-center"><input type="checkbox" id="allcheck" /></th>
            <? endif; ?>      
            <th>제목</th>
            <th>글쓴이</th>
            <th class="text-center">등록일</th>
            <th class="text-center">조회수</th>
        </tr>
    </thead>
    <tbody>


        <? foreach ($list as $o): ?>
        <tr>
            <td class="text-center">
                <?=$o->num?>
            </td>
            <? if ($btn_chkbox): ?>
            <td class="text-center"><input type="checkbox" name="wr_id[]" value="<?=$o->wr_id?>" /></td>
            <? endif; ?>
            <td>
                <a href="<?=$o->href?>"><?=$o->subject?></a>
            </td>
            <td><?=$o->reg_user?></td>
            <td class="text-center"><?=$o->reg_date?></td>            
            <td class="text-center"><?=$o->view_count?></td>
        </tr>
        <? endforeach; ?>
    </tbody>
</table>

<? endif; ?>

<? if (!$list): ?><p class="lead text-center text-muted">등록된 동영상이 없습니다.</p><? endif; ?>

<hr>

<div class="pull-right">
    <?=$paging?>
</div>


<div class="pull-left">
    <?=$btn_write?>
</div>


</form>

</div> <!--container content-->
</div> <!--row-->