<div class="container content">
<div class="row">
<?=validation_errors('<pre><p class="color-red"> ','</p>  </pre>')?>
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms/version-2.0.1/css/custom-sky-forms.css">
<form id="fwrite" name="fwrite" method="post" action="<?=RT_PATH?>/lecture/write" enctype="multipart/form-data" id="sky-form4" class="sky-form">
    <header>영상 등록</header>
    <fieldset>                  
        <div class="row">
            <section class="col-md-12">
                <label class="label">제목</label>
                <label class="input">
                    <input type="text" id="SUBJECT" name="SUBJECT" value="<?= $post_data['SUBJECT']?>" />
                </label>
            </section>            
        </div>
        
        <section>
            <label class="label">내용</label>
            <label class="input">
                <input type="text" id="CONTENTS" name="CONTENTS" value="<?= $post_data['CONTENTS']?>" />
            </label>
        </section>

        <section>
            <label class="label">Youtube 영상키</label>
            <label class="input">
                <input type="text" id="URL" name="URL" value="<?= $post_data['URL']?>" />
            </label>
        </section>

        <section>
            <label class="label">섬네일 주소</label>
            <label class="input">
                <input type="text" id="THUMB_URL" name="THUMB_URL" value="<?= $post_data['THUMB_URL']?>" />
            </label>
        </section>

        <section>
            <label class="label">IFRAME 주소</label>
            <label class="input">
                <input type="text" id="IFRAME_URL" name="IFRAME_URL" value='<?= $post_data["IFRAME_URL"]?>' />
            </label>
        </section>

        <!--<section>
            <label class="label">노출 여부</label>
            <label class="input">
                <input type="text" id="IS_USE" name="IS_USE" value="" />
            </label>
        </section>-->
        
    </fieldset>
    
    <footer>
        <button type="submit" id="write_submit" class="button" data-loading-text="등록 중...">
            <span aria-hidden="true" class="icon-pencil"></span> 등록하기
        </button>        
    </footer>    
</form>    

</div> <!--container content-->
</div> <!--row-->

<script type='text/javascript' src='<?=JS_DIR?>/jquery/validate.js'></script>
<script type='text/javascript'>

window.onbeforeunload = function() {
    if (beforeUnload) return '이 페이지를 벗어나시면 작성 중인 글이 지워집니다.';
}

$(function() {

    $('#fwrite').validate({
        onkeyup: false,
        rules: {
            SUBJECT: 'required',
            CONTENTS: 'required',
            URL: 'required',
            THUMB_URL: 'required'
        },
        messages: {
            SUBJECT: '제목을 입력하세요',
            CONTENTS: '내용을 선택하십시오.',
            URL: '동영상 주소를 입력하세요.',
            THUMB_URL: '썸네일 주소를 입력하세요.'
        },
        submitHandler: function(f) {
            beforeUnload = false;
            $('#write_submit').button('loading');
            f.submit();

        }
    });
});
//]]>
</script>

<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<script type="text/javascript" src="<?=JS_DIR?>/forms/reg.js"></script>
<script type="text/javascript" src="<?=JS_DIR?>/forms/login.js"></script>
<script type="text/javascript" src="<?=JS_DIR?>/forms/contact.js"></script>
<script type="text/javascript" src="<?=JS_DIR?>/forms/comment.js"></script>