<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms/version-2.0.1/css/custom-sky-forms.css">

<div class="container content">
<div class="row">

<link rel="stylesheet" href="<?=CSS_DIR?>/pages/blog.css">
<div class="blog margin-bottom-40">
    <h2><?=$lecture['SUBJECT']?></h2>
    <div class="blog-post-tags">
        <ul class="list-unstyled list-inline blog-info">
            <li><i class="fa fa-calendar"></i> 등록일 : <?=$lecture['REG_DATE']?></li>
            <li><i class="fa fa-pencil"></i> 글쓴이 : <?=$lecture['REG_USER']?></li>            
        </ul>
    </div>
    <p><?=$lecture['CONTENTS']?></p>                
    <p><?=$lecture["IFRAME_URL"]?></p>
</div>

<hr>


<div class="clearfix">
    <div class="pull-right">
        <a href='/lecture/lists' class='btn btn-warning'>목록</a>
        <?=$btn_delete?>
        <?=$btn_modify?>
    </div>
</div>

</div> <!--container content-->
</div> <!--row-->


<script type='text/javascript'>
</script>
