<? foreach ($files as $key => $file_path) : ?>
<div class="a4">
	<img src="<?=$file_path?>">

	<? if ( $key == 0 ) : ?>
	<div id='pdt_no'><span><?=$values[0]?></span></div>
	<div id="usim_model"><span><?=$values[1]?></span></div>
	<div id="usim_no"><span><?=$values[2]?></span></div>
	<? endif ?>
</div>
<? endforeach ?>

<style>
	body
	{
		margin: 0px ;
	}

	@page a4sheet { size: 21.0cm 29.7cm }
	.a4 { page: a4sheet; }

	#pdt_no
	{
		position: absolute ;
	<? if ( $vender == '3201' ) : ?>
		left: 295px ;
	<? else : ?>
		left: 100px ;
	<? endif ?>
		top: 95px ;
		font-size: 7pt ;
		font-weight: bold;
	}

	#usim_model
	{
		position: absolute ;
	<? if ( $vender == '3201' ) : ?>
		left: 160px ;
		<? if ( $view == 're' ) : ?>
		top: 585px ;
		<? else : ?>
		top: 697px ;
		<? endif ?>
	<? else : ?>
		left: 180px ;
		top: 623px ;
	<? endif ?>
		font-size: 7pt ;
		font-weight: bold;
	}

	#usim_no
	{
		position: absolute ;
	<? if ( $vender == '3201' ) : ?>
		left: 490px ;
		<? if ( $view == 're' ) : ?>
		top: 585px ;
		<? else : ?>
		top: 697px ;
		<? endif ?>
	<? else : ?>
		left: 180px ;
		top: 638px ;
	<? endif ?>
		font-size: 7pt ;
		font-weight: bold;
	}
</style>

<script type="text/javascript">
	$(document).ready(function() 
	{
		window.print();
	});
</script>	