<div class="container"> 
	<div>					
		<span class="action-buttons">
			<a class="btn-u btn-u-danger rounded" href="#" id='print'>
				<i class="fa fa-print"></i>
				&nbsp;인쇄 하기
			</a>
		</span>	 

		<div id='info'>
			<BR>단말기 일련 번호, 유심 모델, 유심 일련 번호는 인쇄하기 버튼을 눌렀을 때만 표시 됩니다.
			<BR>다른이름으로 저장시에는 표시 되지 않습니다. (추후수정예정)
		</div
	</div>	

	<div id="background">
		<img src="/data/hbplanner/order/<?=$ORDNO?>.png" style="width:100%;height:auto;">
		<div id='pdt_no'><span><?=$values[0]?></span></div>
		<div id="usim_model"><span><?=$values[1]?></span></div>
		<div id="usim_no"><span><?=$values[2]?></span></div>
	</div>
</div>

<style type="text/css">
	body 
	{
	    margin: 0px ;
	    width: 1000px ;
	}

	div#background
	{
		position: relative ;
		width: 1000px ;
		height: auto ;
	}

	#pdt_no
	{ 
		position: absolute ;
		left: 350px ; 
		top: 834px ;
		font-size: 9pt ; 
		font-weight: bold;
	}

	#usim_model
	{ 
		position: absolute ;
		left: 660px ; 
		top: 834px ;
		font-size: 9pt ; 
		font-weight: bold;
	}

	#usim_no
	{ 
		position: absolute ;
		left: 810px ; 
		top: 834px ;
		font-size: 9pt ; 
		font-weight: bold;
	}
</style>

<script type="text/javascript">
	$(document).ready(function() 
	{			
		$('#print').click(function(e)
		{
			$("#info").hide() ;
			$(this).hide() ;
        	window.print();
        	$("#info").show() ;
			$(this).show() ;
		}) ;
	});
</script>	