.ace-file-input {
  position: relative;
  height: 38px;
  line-height: 38px;
  margin-bottom: 9px;
}
.ace-file-input input[type=file] {  
  position: fixed;
  z-index: -2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.ace-file-input .file-label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.ace-file-input .file-label:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #f59942;
}
.ace-file-input .file-label:before {
  /* the button */

  display: inline-block;
  content: attr(data-title);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 8px;
  line-height: 24px;
  text-align: center;
  background-color: #6fb3e0;
  color: #FFF;
  font-size: 11px;
  font-weight: bold;
  border: 2px solid #FFF;
  border-left-width: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.ace-file-input .file-label .file-name {
  /* the file name container */

  display: inline-block;
  height: 28px;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  line-height: 28px;
  color: #888888;
  font-size: 13px;
  vertical-align: top;
  position: static;
  padding-left: 30px;
}
.ace-file-input .file-label .file-name:after {
  /* the file name */

  display: inline-block;
  content: attr(data-title);
}
.ace-file-input .file-label.selected {
  right: 16px;
}
.ace-file-input .file-label.selected .file-name {
  color: #666666;
}
.ace-file-input .file-label [class*="icon-"] {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  line-height: 24px;
  width: 26px;
  text-align: center;
  font-size: 13px;
  border: 2px solid #FFF;
  color: #FFF;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background-color: #d1d1d1;
}
.ace-file-input .file-label.selected .file-name [class*="icon-"] {
  background-color: #efad62;
}
.ace-file-input .file-label.selected .file-name .icon-picture {
  background-color: #bd7a9d;
}
.ace-file-input .file-label.selected .file-name .icon-film {
  background-color: #87b87f;
}
.ace-file-input .file-label.selected .file-name .icon-music {
  background-color: #8b7ac9;
}
.ace-file-input .file-label.selected .file-name .icon-archive {
  background-color: #efad62;
}
.ace-file-input .file-label.hide-placeholder:before {
  display: none;
}
.ace-file-input a:hover {
  text-decoration: none;
}
.ace-file-input .remove {
  /* the remove button */

  position: absolute;
  right: -8px;
  top: 6px;
  display: none;
  width: 17px;
  text-align: center;
  height: 17px;
  line-height: 15px;
  font-size: 18px;
  font-weight: normal;
  background-color: #fb7142;
  border-radius: 100%;
  color: #FFF;
  text-decoration: none;
}
.ace-file-input .file-label.selected + .remove {
  display: inline-block;
}
.ace-file-multiple {
  height: auto;
}
.ace-file-multiple .file-label {
  position: relative;
  height: auto;
  border: 1px dashed #aaaaaa;
  border-radius: 4px;
  text-align: center;
}
.ace-file-multiple .file-label:before {
  /* the button */

  display: inline-block;
  content: attr(data-title);
  position: relative;
  right: 0;
  left: 0;
  margin: 12px;
  line-height: 22px;
  background-color: #FFF;
  color: #CCC;
  font-size: 18px;
  font-weight: bold;
  border: none;
}
.ace-file-multiple .file-label.selected .file-name [class*="icon-"] {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  line-height: 24px;
  width: 26px;
  text-align: center;
  font-size: 13px;
  border: 2px solid #FFF;
  color: #FFF;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.ace-file-multiple .file-label .file-name {
  position: relative;
  display: block;
  padding: 0;
  height: auto;
  width: auto;
  max-width: 100%;
  margin: 0 4px;
  border-bottom: 1px solid #DDD;
  text-align: left;
}
.ace-file-multiple .file-label .file-name:first-child {
  margin-top: 1px;
}
.ace-file-multiple .file-label .file-name:last-child {
  border-bottom-width: 0;
  margin-bottom: 1px;
}
.ace-file-multiple .file-label .file-name img {
  padding: 2px;
  border: 1px solid #D7D7D7;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-position: center;
  margin: 4px 8px 4px 1px;
}
.ace-file-multiple .file-label .file-name:after {
  /* the file name */

  display: none;
}
.ace-file-multiple .file-label.selected .file-name:after {
  /* the file name */

  display: inline-block;
  white-space: pre;
}
.ace-file-multiple .file-label .file-name img + [class*="icon-"],
.ace-file-multiple .file-label.selected .file-name img + [class*="icon-"] {
  display: none;
}
.ace-file-multiple .remove {
  right: -11px;
  top: -11px;
  border-radius: 32px;
  background-color: #FFF;
  color: red;
  width: 22px;
  height: 22px;
  line-height: 15px;
}
.ace-file-multiple .file-label.selected + .remove:hover {
  border-color: #f4c0b1;
}
.ace-file-multiple .file-label .file-name [class*="icon-"] {
  position: relative;
  display: block;
  text-align: center;
  height: auto;
  line-height: 64px;
  width: auto;
  font-size: 64px;
  color: #D5D5D5;
  margin: 4px 0;
  background-color: transparent;
}
.ace-file-multiple .file-label.selected:after {
  display: none;
}
.ace-file-multiple .file-label.selected .file-name [class*="icon-"] {
  position: relative;
  margin-right: 4px;
  margin-left: 2px;
  line-height: 24px;
}
.ace-file-multiple .file-label .file-name.large {
  text-align: center;
  border-bottom: 2px solid #222;
  margin: 0 1px 3px;
}
.ace-file-multiple .file-label .file-name.large:last-child {
  margin: 0 1px;
  border-bottom-width: 0;
}
.ace-file-multiple .file-label .file-name.large:after {
  /* image caption */

  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 4px;
  background-color: #555;
  color: #FFF;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.ace-file-multiple .file-label .file-name.large img {
  border-width: 0;
  margin: 0;
  padding: 0;
}
.ace-file-input input[type=file].disabled + .file-label,
.ace-file-input input[type=file][disabled] + .file-label,
.ace-file-input input[type=file][readonly] + .file-label {
  cursor: not-allowed;
  background-color: #EEE;
}
.ace-file-input input[type=file].disabled + .file-label:hover,
.ace-file-input input[type=file][disabled] + .file-label:hover,
.ace-file-input input[type=file][readonly] + .file-label:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #E3E3E3;
}
.ace-file-input input[type=file].disabled + .file-label:before,
.ace-file-input input[type=file][disabled] + .file-label:before,
.ace-file-input input[type=file][readonly] + .file-label:before {
  border-color: #EEE;
  background-color: #A1AAAF;
}
.ace-file-input input[type=file][readonly] + .file-label {
  cursor: default;
}
.ace-file-multiple input[type=file].disabled + .file-label:hover,
.ace-file-multiple input[type=file][disabled] + .file-label:hover,
.ace-file-multiple input[type=file][readonly] + .file-label:hover {
  border-color: #AAA;
}
.ace-file-multiple input[type=file].disabled + .file-label:before,
.ace-file-multiple input[type=file][disabled] + .file-label:before,
.ace-file-multiple input[type=file][readonly] + .file-label:before {
  background-color: transparent;
}
.ace-file-multiple input[type=file].disabled + .file-label [class*="icon-"],
.ace-file-multiple input[type=file][disabled] + .file-label [class*="icon-"],
.ace-file-multiple input[type=file][readonly] + .file-label [class*="icon-"] {
  border-color: #EEE;
}
/* IE9 needs this like IE8 to prevent "ACCESS denied" errors! */
.ace-file-input input[type=file] {
  /*must be visible and on top for ie8/9 to actually work */

  width: 100% \0/;
  height: 30px \0/;
  position: absolute \0/;
  z-index: 1 \0/;
  filter: alpha(opacity=0);
  cursor: pointer \0/;
}
.ace-file-input input[type=file]:hover + .file-label {
  border-color: #f59942 \0/;
}
.ace-file-multiple input[type=file] {

  /* height: 100%\0/; */
}
.ace-file-input .remove {
  z-index: 2\0/;
}