/* Add here all your css styles (customizations) */
* {
   //font-family:'NgWeb, 나눔고딕, NanumGothic, 돋움, Dotum, sans-serif';
}

//@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
/*@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}*/

* {
   font-family: 'Nanum Gothic' ;
}

.eng {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif ;
}

code {
  font-family: 'Nanum Gothic' ;
}

.sky-form .input {
  font-family: 'Nanum Gothic' ;

}

.sky-form .input:hover input {
  font-family: 'Nanum Gothic' ;
}

.header .navbar-default .navbar-nav > li > a:hover
{
  border-bottom: solid 2px #e74c3c ;
}

.cursor-pointer {
  cursor: pointer;
}

.product-thumbnail {
  height: 250px; 
  overflow: hidden;
}

.color-white {
  background: #FFFFFF;
}

.color-black {
  background: #171a2e;
}

.bg-color-blue { background: #4765a0;}
.bg-color-yellow { background: #f1c40f;}
.bg-color-pink { background: #F7C4E0;}

.shop-product .product-color label {
  font-size: 12px; 
  color: #B7B4B4 ;
}

.shopping-cart .textarea-expandable textarea {
  height: 39px;
}
.shopping-cart .textarea-expandable textarea:focus {
  height: auto;
}
.shopping-cart .billing-info-inputs textarea {
  min-height: 40px;
  border-color: #eee;
  margin-bottom: 10px;
}

.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {  
  background: #AAADAC;
}

.parallax-quote {
  padding: 60px 0;  
}

blockquote
{
  border-color: #e74c3c;
}

.pricing-mega-v3 .pricing-content li 
{
  max-height: 41px;
}

.pricing-content li 
{
   border-bottom: none;
}

.modal-header .close 
{
  margin-top: -10px;
}

.close 
{
  font-size: 50px;
}