<style>
	body {
		margin: 40px 10px;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}

	#calendar {
		max-width: 1200px;
		margin: 0 auto;
	}

	#loading {
		display: none;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	#external-events {
		float: left;
		width: 180px;
		padding: 0 10px;
		border: 1px solid #ccc;
		background: #eee;
		text-align: left;
	}
		
	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
	}
		
	#external-events .fc-event {
		margin: 10px 0;
		cursor: pointer;
	}

	.RB 
	{
		border: 1px solid #79d5b3; /* default BORDER color */
		background-color: #79d5b3; /* default BACKGROUND color */	
	}

	.GD 
	{
		border: 1px solid #f1c40f; /* default BORDER color */
		background-color: #f1c40f; /* default BACKGROUND color */	
	}

	.CR 
	{
		border: 1px solid #3498db; /* default BORDER color */
		background-color: #3498db; /* default BACKGROUND color */	
	}

	.GP 
	{
		border: 1px solid #9b6bcc; /* default BORDER color */
		background-color: #9b6bcc; /* default BACKGROUND color */	
	}		

	.bg-color-dark { border: 1px solid #555 !important;}	
	.bg-color-sea { border: 1px solid #1abc9c !important;}
	.bg-color-red { border: 1px solid #e74c3c !important;}
	.bg-color-aqua { border: 1px solid #27d7e7 !important;}
	.bg-color-blue { border: 1px solid #3498db !important;}
	.bg-color-grey { border: 1px solid #95a5a6 !important;}	
	.bg-color-green { border: 1px solid #72c02c !important;}
	.bg-color-brown { border: 1px solid #9c8061 !important;}
	.bg-color-orange { border: 1px solid #e67e22 !important;}
	.bg-color-green1 { border: 1px solid #2ecc71 !important;}
	.bg-color-purple { border: 1px solid #9b6bcc !important;}
	.bg-color-dark-blue { border: 1px solid #4765a0 !important;}
	.bg-color-light-grey { border: 1px solid #585f69 !important;}
	.bg-color-light-green { border: 1px solid #79d5b3 !important;}

	.bg-color-b { border: 1px solid #79BD8E !important; background-color: #79BD8E !important; }	
	.bg-color-bz { border: 1px solid #F9926F !important; background-color: #F9926F !important; }
	.bg-color-sv { border: 1px solid #C5C5C3 !important; background-color: #C5C5C3 !important; }
	.bg-color-gd { border: 1px solid #F7D17C !important; background-color: #F7D17C !important; }
	.bg-color-rb { border: 1px solid #F3918C !important; background-color: #F3918C !important; }
	.bg-color-sp { border: 1px solid #99D9EA !important; background-color: #99D9EA !important; }	
	.bg-color-dd { border: 1px solid #7092BE !important; background-color: #7092BE !important; }
	.bg-color-cw { border: 1px solid #A17CDC !important; background-color: #A17CDC !important; }
	.bg-color-head { border: 1px solid #C8BFE7 !important; background-color: #C8BFE7 !important; }
	.bg-color-pink { border: 1px solid #FFAEC9 !important; background-color: #FFAEC9 !important; }	
	.bg-color-green { border: 1px solid #B5E61D !important; background-color: #B5E61D !important; }	
	.bg-color-light-blue { border: 1px solid #D9EDF3 !important; background-color: #D9EDF3 !important; }	

	.fc-event,
	.fc-event:hover,
	.ui-widget .fc-event 
	{
		color: #000; /* default TEXT color */	
		font-weight: bold;	
	}
</style>