.google-visualization-orgchart-table
{
  border-collapse : separate;
}

.google-visualization-orgchart-table *
{
  padding : 0px;
}

.google-visualization-orgchart-node 
{
  border: solid 1px #ddd;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px;
}

.google-visualization-orgchart-nodesel
{
  border: solid 1px #b5d9ea;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px;
}

.google-visualization-orgchart-linebottom
{
  border-bottom:1px solid rgba(152,152,152,1);
}

.google-visualization-orgchart-lineright
{
  border-right:1px solid rgba(152,152,152,1);
}

.google-visualization-orgchart-lineleft
{
  border-left:1px solid rgba(152,152,152,1);
}

.treeview-contents
{
  font-size:9pt;
  color:rgba(85,85,85,1);

  width:125px;
}

.treeview-contents-x
{
  font-size:9pt;
  color:#BBBBBB;

  width:125px;
}

.treeview-icon
{
  float: left;
  //color: #e74c3c;
  font-size: 25px;
  padding : 3px;
}

.service
{
  border-radius: 5px;
}

dd
{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif ;
}

.timeline-v2 > li .cbp_tmlabel
{
  padding: 0px 0px 0px;
  margin: 0 0 40px 50%;
}

.timeline-v2 > li .cbp_tmicon
{
  background: grey;
  top:5px;
  left: 48%;
}

.timeline-v2:before {
    left: 48%;
}

.timeline-v2 > li .cbp_tmtime 
{
  width: 70%;
}