#chart #dd {display:none;}
#chart .tooltip-inner {white-space: nowrap;}
#chart .popover {min-width:300px; z-index:6400; text-shadow:none; text-align:left; white-space:normal; color:#444; z-index:10000;}
#chart .popover .popover-inner {width:inherit; font-size:10px; min-width:300px; line-height:1.4em; font-weight:normal;}
#chart .popover h3.popover-title {font-size:12px; font-weight:bold;}

#chart .search-glass {position:relative;}
#chart .search-glass > input {padding-left:25px !important;}
#chart .search-glass > i.icon-search {position:absolute; left:5px; top:5px;}

@-webkit-keyframes flash { 0% {-webkit-box-shadow:0 0 0px 2px #f80;} 50% {-webkit-box-shadow:0 0 15px 2px #f80;} 100% {-webkit-box-shadow:0 0 0px 2px #f80;} }
@keyframes flash { 0% {box-shadow:0 0 0px 2px #f80;} 50% {box-shadow:0 0 15px 2px #f80;} 100% {box-shadow:0 0 0px 2px #f80;} }
@-webkit-keyframes topglow { 0% {-webkit-box-shadow:0 0 0px 1px #adf;} 50% {-webkit-box-shadow:0 0 2px 1px #adf;} 100% {-webkit-box-shadow:0 0 0px 1px #adf;} }
@keyframes topglow { 0% {box-shadow:0 0 0px 1px #adf;} 50% {box-shadow:0 0 2px 1px #adf;} 100% {box-shadow:0 0 0px 1px #adf;} }

#chart .portrait-smallx2 {width:40px; height:40px; cursor:pointer; display:inline-block; border:solid 2px #fff; overflow:hidden; position:relative;}
#chart .portrait-smallx2 > img {width:100%; height:auto;}
#chart .portrait-smallx2:hover {box-shadow:0 0 0 2px #49d;}
#chart .portrait-smallx3 {width:27px; height:27px; display:inline-block; border:none; overflow:hidden; position:relative;}
#chart .portrait-smallx3.accepted {border:solid 1px #0f0;}
#chart .portrait-smallx3.pending {border:dashed 1px #aaa;}

/*#chart .modal .tab-pane {display:block;}*/
#chart .modal.wide .tab-content {height:400px;}
#chart .modal.wide .tab-content .tab-pane {height:400px; }
#chart .modal.dialog {top:30%; width:400px; margin-left:-200px;}
#chart .modal.dialog .modal-footer {border:0; border-radius:0;}
#chart .modal-body.email {padding:5px 20px 20px 20px; min-height:100px;}

#chart .card140x100 {position:absolute; width:140px; height:80px; z-index:100; background-color:#fff; display:inline-block; border:solid 2px #777; padding: 2px 2px 2px 3px;}
#chart .card140x100.top_role {margin-top:0px;}
#chart .card140x100.is_assistant {margin-top:5px;}
#chart .card140x100.embedded_chart {margin-top:7px;}
#chart .card140x100 > span { display:block; height:100%;}
#chart .card140x100 > div.right {background:url(/images/chart-sprites.png) -93px 0 !important; height:70px; width:10px; !important; right:0; position:absolute; top:2px; z-index:10; display:inline-block;}
#chart .card140x100 .h1 {font-weight:bold; font-size:12px; letter-spacing:0.9; line-height:1.2em; color:#555 !important; white-space:nowrap; text-shadow:1px 1px rgba(255,255,255,0.5); overflow:hidden; max-width:140px;}
#chart .card140x100 .h2 {font-weight:normal; font-size:10px; letter-spacing:0.9; line-height:1.2em; color:#555 !important; white-space:nowrap; text-shadow:1px 1px rgba(255,255,255,0.5); overflow:hidden; max-width:140px;}
#chart .card140x100 div.options {display:block; position:relative; height:20px; border-bottom:solid 1px #ddd; margin-bottom:3px;}
#chart .card140x100 a {color:#58f; text-shadow:1px 1px rgba(255,255,255,0.5); font-size:11px;}
#chart .card140x100 ul.email {margin-top:5px; list-style:none;}
#chart .card140x100 ul.email li {margin:0; padding:0; line-height:15px;}
#chart .card140x100 .arrow {position:absolute; cursor:pointer; opacity:0.5;filter:alpha(opacity=50); z-index:12;}
#chart .card140x100 .arrow-left,
#chart .card140x100 .arrow-left.on {background:url(/images/chart-sprites.png) -136px -1px; width:21px; height:73px; left:-21px; top:5px;}
#chart .card140x100 .arrow-right,
#chart .card140x100 .arrow-right.on {background:url(/images/chart-sprites.png) -178px -1px; width:21px; height:73px; right:-21px; top:5px;}
#chart .card140x100 .arrow-up,
#chart .card140x100 .arrow-up.on {background:url(/images/chart-sprites.png) -222px -1px; width:90px; height:21px; top:-21px; left:50%; margin-left:-45px;}
#chart .card140x100 .arrow-down,
#chart .card140x100 .arrow-down.on {background:url(/images/chart-sprites.png) -222px -44px; width:90px; height:21px; bottom:-21px; left:50%; margin-left:-45px;}
#chart .card140x100 .arrow.on,
#chart .card140x100 .arrow:hover {opacity:1.0;filter:alpha(opacity=100);}
#chart .card140x100 .grab {position:absolute; top:6px; right:1px; z-index:20;}
#chart .card140x100 .portrait-smallx2 {float:right; margin:5px; border:solid 1px #49d; overflow:hidden; z-index:15;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;}
#chart .card140x100 .portrait-smallx2.no-fill {background:#fff url(/images/chart-sprites.png) -295px -80px;}
#chart .card140x100 .arrow.on,
#chart .card140x100 .arrow.on:hover {
-webkit-animation-name: flash; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -webkit-animation-duration: 1s;
animation-name: flash; animation-iteration-count: infinite; animation-timing-function: linear; animation-duration: 1s;
}
#chart .card140x100 .topmass {background:url(/images/_.png); position:absolute; top:0; left:0; z-index:25; width:144px; height:80px;}
#chart .card140x100 .botmass {background:url(/images/_.png); position:absolute; top:0; left:0; z-index:0; width:144px; height:80px;}
#chart .card140x100 div.actions-menu {position:absolute; bottom:9px; font-size:11px;}

#chart .chart-reference {position:absolute; top:30px; left:40px;}
#chart .chart-reference i[class^=icon] { font-size:15px; line-height:0.4em;}
#chart .chart-reference i.icon-big {font-size: 18px;}
#chart .chart-reference i.icon-small { font-size:12px;}

#chart .tree-mask {position:absolute; left:0px; top:0px;}

#chart #tourguide i.icon-cross-plus {background:url(/images/chart-sprites.png) -251px -91px; width:17px; height:17px; display:inline-block; margin-top:2px; margin-bottom:-2px;}
#chart #tourguide i.icon-role-add {background:url(/images/chart-sprites.png) -138px -29px;; opacity:0.5;filter:alpha(opacity=50); width:17px; height:17px; display:inline-block; margin-top:2px; margin-bottom:-2px;}
#chart .tree-view {display:inline-block; margin:10px; margin-top:0; background:transparent; min-height:600px; margin-right:190px; }
#chart .tree-view.min_roster {margin-right:60px;}
#chart .tree-view .vers {position:absolute; display:inline-block; width:1px; background-color:#999; z-index:-1;}
#chart .tree-view .hors {position:absolute; display:inline-block; height:1px; background-color:#999; margin-top:-1px; z-index:-1;}
#chart .tree-view .box {position:absolute; display:inline-block; border:dotted 1px; margin-left:-1px; z-index:-1; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
#chart .tree-view .box.embedded_chart {border-color:#00f;}
#chart .tree-view .box.is_department {border-color:#f00;}
#chart .tree-view .node-outer {position:absolute;}
#chart .tree-view .node {position:relative; height:70px; width:100px; border:solid 2px #ddd; background-color:#fff; cursor:default;}
#chart .tree-view .node .role {position:relative; display:block; padding:1px 3px; height:69px;}
#chart .tree-view .node .role.department {height:34px;}
#chart .tree-view .node .h1 {font-weight:bold; font-size:11px; letter-spacing:0.9; line-height:1.2em; color:#555; white-space:nowrap; overflow:hidden; width:100%;}
#chart .tree-view .node .h2 {font-weight:normal; font-size:10px; letter-spacing:0.9; line-height:1.2em; white-space:nowrap; overflow:hidden; width:100%;}
#chart .tree-view .node .h1.small, #chart .tree-view .node .h2.small {font-size:10pt;}
#chart .tree-view .node .h1.mini, #chart .tree-view .node .h2.mini {font-size:9pt;}
#chart .tree-view .node .h1.micro, #chart .tree-view .node .h2.micro {font-size:8pt;}
#chart .card140x100 .role-title:not(.mini):not(.small):not(.micro), #chart .node .role-title:not(.mini):not(.small):not(.micro) {font-size:11pt;}
#chart .card140x100 .role-title.small{font-size:10pt;}

#chart .tree-view .node .portrait-smallx2 {position:absolute; right:3px; bottom:4px; width:35px; height:35px; margin:1px; z-index:12; border:solid 1px #ddd; overflow:hidden;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;}
#chart .tree-view .node .role .power {position:absolute; z-index:50; bottom:0px; left:37px; border-radius:15px 15px 0 0;-webkit-border-radius:15px 15px 0 0;-moz-border-radius:15px 15px 0 0; background-color:#49d; color:#fff; display:block; width:26px; height:14px; text-align:center; padding-top:2px; line-height:1.5em; font-size:9px;}
#chart .tree-view .node .bgcolor {position:absolute; z-index:0; width:100px; height:70px; display:inline-block;}
#chart .tree-view .node .bgcolor.department {width:100px; height:35px;}
#chart .tree-view .node.department .role .power {background-color:#fa8;}
#chart .tree-view .node.department {height:35px; border-color:#fa8;}
#chart .tree-view .node.subchart {margin-top:15px; }
#chart .tree-view .node.subchart .title {top:-16px; left:-1px; position:absolute; width:100%; padding:2px 0; font-size:10px; line-height:10px; color:#fff; background-color:#49d; border:solid 1px #49d; white-space:nowrap; overflow:hidden; text-shadow:0 1px rgba(0,0,0,0.4);}
#chart .tree-view .node.just_added_hilite {-webkit-animation-name: flash; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -webkit-animation-duration: 2s; animation-name: flash; animation-iteration-count: infinite; animation-timing-function: linear; animation-duration: 2s;}
#chart .tree-view .node i.icon-cross-plus {position:absolute; bottom:-25px; left:50%; margin-left:-9px; background:url(/images/chart-sprites.png) -251px -91px; width:17px; height:17px; z-index:10; }
#chart .tree-view .node.has_assistant i.icon-cross-plus {bottom:-107px;}
#chart .tree-view .node i.icon-cross-plus.on {background:url(/images/chart-sprites.png) -231px -91px;}
#chart .tree-view .node i.icon-expand-branch {position:absolute; bottom:-36px; left:50%; margin-left:-13px; background:url(/images/chart-sprites.png) -575px -1px; width:25px; height:35px; z-index:10; }
#chart .tree-view .node.shared {position:absolute; width:auto; height:auto; background:#eee; display:inline-block; min-width:234px; min-height:80px;}
#chart .tree-view .node.shared .h1, #chart .tree-view .node.shared .h2 {width:220px;}
#chart .tree-view .node.shared div.pad {padding:2px 5px 5px 5px;}
#chart .tree-view .node.shared ul.members {list-style:none; min-height:70px; min-width:224px;}
#chart .tree-view .node.shared ul.members > li {height:60px; width:100px; margin:4px; border:solid 1px #ccc; background-color: #fff; position:relative; cursor:default; display:inline-block; white-space:nowrap; }
#chart .tree-view .node.shared ul.members > li .h1 {width:96px;}
#chart .tree-view .node.shared ul.members > li > .role {height:58px;}
#chart .tree-view .node.shared ul.members > li .portrait-smallx2 {top:18px;}
#chart .tree-view .node.shared ul.members > li.empty {border:dashed 1px #ddd; }
#chart .tree-view .node.shared ul.members > li.empty .addicon {width:20px; height:20px; background:url(/images/chart-sprites.png) -305px -90px;}
/*#chart .tree-view .node.shared ul.members > li.hilite-me  {box-shadow:0 0 0 2px #49d; -moz-box-shadow:0 0 0 2px #49d; -webkit-box-shadow:0 0 0 2px #49d; border-color:#49d; }*/
#chart .tree-view .node.shared ul.members > li.hilite-member {box-shadow:0 0 0 2px #9d4; -moz-box-shadow:0 0 0 2px #9d4; -webkit-box-shadow:0 0 0 2px #9d4; border-color:#9d4; }
#chart .tree-view .node.shared div.collapsed {min-height:35px; position:relative;}
#chart .tree-view .node.shared div.collapsed button {margin: 5px 0 0 50px; width:120px;}
#chart .tree-view .node.shared .arrow {position:absolute; cursor:pointer; opacity:0.5;filter:alpha(opacity=50); z-index:12;}
#chart .tree-view .node.shared .arrow-left,
#chart .tree-view .node.shared .arrow-left.on {background:url(/images/chart-sprites.png) -136px -1px; width:21px; height:73px; left:-21px; top:50%; margin-top:-37px;}
#chart .tree-view .node.shared .arrow-right,
#chart .tree-view .node.shared .arrow-right.on {background:url(/images/chart-sprites.png) -178px -1px; width:21px; height:73px; right:-21px; top:50%; margin-top:-37px;}
#chart .tree-view .node.shared .arrow-down,
#chart .tree-view .node.shared .arrow-down.on {background:url(/images/chart-sprites.png) -222px -44px; width:90px; height:21px; bottom:-21px; left:50%; margin-left:-45px;}
#chart .tree-view .node.shared .arrow-up,
#chart .tree-view .node.shared .arrow-up.on {background:url(/images/chart-sprites.png) -222px -1px; width:90px; height:21px; top:-21px; left:50%; margin-left:-45px;}
#chart .tree-view .node.shared .arrow.on,
#chart .tree-view .node.shared .arrow:hover {opacity:1.0;filter:alpha(opacity=100);}
#chart .tree-view .node.shared .topmass {background:url(/images/_.png); position:absolute; top:0; left:0; z-index:25; width:100%; height:100%;}
#chart .tree-view .node.shared .botmass {background:url(/images/_.png); position:absolute; top:0; left:0; z-index:0; width:100%; height:100%;}
#chart .tree-view .node.shared .grab {position:absolute; top:6px; right:1px; z-index:20;}
#chart .tree-view .node.shared .bottom {position:absolute; bottom:5px;}
#chart .tree-view .node.shared .power {position:absolute; z-index:50; right:10px; bottom:0; font-size:9px; background-color:#49d; color:#fff; display:block; width:26px; height:14px; line-height:1.5em; text-align:center; padding-top:2px; border-radius:15px 15px 0 0;-webkit-border-radius:15px 15px 0 0;-moz-border-radius:15px 15px 0 0;}
#chart .tree-view .node.shared div.actions-menu {display:inline-block; margin-left:5px; font-size:11px;}
#chart .tree-view .node.shared .arrow.on,
#chart .tree-view .node.shared .arrow.on:hover {
-webkit-animation-name: flash; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -webkit-animation-duration: 1s;
animation-name: flash; animation-iteration-count: infinite; animation-timing-function: linear; animation-duration: 1s;
}
/*#chart .tree-view .node.hilite-me {box-shadow:0 0 0 2px #49d; -moz-box-shadow:0 0 0 2px #49d; -webkit-box-shadow:0 0 0 2px #49d; border-color:#49d; }*/
#chart .tree-view .node.hilite-member {box-shadow:0 0 0 2px #9d4; -moz-box-shadow:0 0 0 2px #9d4; -webkit-box-shadow:0 0 0 2px #9d4; border-color:#9d4; }
#chart .tree-view .node.hilite-drag {box-shadow:0 0 0 2px #000; -moz-box-shadow:0 0 0 2px #000; -webkit-box-shadow:0 0 0 2px #000; border-color:#000; }

#chart .colorpicker {position:relative; z-index:1000; display:inline-block;}
#chart .colorpicker .init {width:15px; height:15px; border:solid 1px #888; border-radius:5px; cursor:pointer;}
#chart .colorpicker ul.picker {position:absolute; display:inline-block; top:20px; width:68px; list-style:none; line-height:0; border:solid 1px #888; border-radius:2px; overflow:hidden;}
#chart .colorpicker ul.picker > li {display:inline-block; width:15px; height:15px; border:solid 1px #888; cursor:pointer;}
#chart .colorpicker ul.picker > li.clear {background: url(/img/orgicons.png) -350px -42px;}

#chart .members-roster { width:190px; height:100%;  z-index:300; background-color:#fff; border-right: solid 2px #ddd; position:fixed; top:104px; overflow:scroll;}
#chart .members-roster i.pull-left {margin-top:3px;}
#chart .members-roster .search-query { width:104px; margin-bottom:2px; font-size:11px; height:18px; padding-left:7px; border-left-width:0; border-right-width:0;}
/*#chart .members-roster .roster-left { width:125px; position:relative;}*/
#chart .members-roster .roster-left button {width:100%; margin: 1px 0 5px 0;}
#chart .members-roster .alphabet {float:right; width:10px; padding:3px 0; border-radius:10px;}
#chart .members-roster .alphabet li {text-align:center; line-height:1.8em; font-size:10px; font-weight:bold;}
#chart .members-roster .alphabet li a {color:#789;}
#chart .members-roster .members-list {padding-bottom:266px;}
#chart .members-roster .members-list li {border:solid 1px #ddd; border-width:0 1px 1px 0; border-right:none;background-color:#fff; white-space:nowrap; height:32px; cursor:pointer;}
#chart .members-roster .members-list li.active {background-color:#368EE0; color:#fff !important;}
#chart .members-roster .members-list li .portrait-smallx3 {margin:2px;width:28px; height:28px;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;}
#chart .members-roster .members-list li .portrait-smallx3.claimed { height:24px;border-bottom: solid 4px #40BF40;}
#chart .members-roster .members-list li .portrait-smallx3 > img {vertical-align: top; width:31px; height:31px; position:absolute;}
#chart .members-roster .members-list li.member {}
#chart .members-roster .members-list li.member:hover:not(.active) {background-color:#888; color:#fff;}
#chart .members-roster .members-list li a {font-size:12px; font-weight:bold; color:#789;}
#chart .members-roster .members-list li.active a {color:#fff;}
#chart .members-roster .members-list li.title {text-align:center; background-color:transparent; font-size:9px; font-weight:bold; line-height:1.5em; color:#bbb; cursor:default; border:0; }
#chart .members-roster .members-list li.title > span {width:20px; position:relative; background-color:#fff; display:inline-block; top:-2px;}
/*#chart .members-roster .members-list li.title > div.bgline {position:relative; top:6px; background-color:#ddd; width:100%; height:1px;}*/
#chart .members-roster .members-list li .name { width:144px; line-height:31px; font-size:11px; margin-left:10px; display:inline-block; overflow:hidden;}
#chart .members-roster .members-list li:hover .name {width:49px;}
#chart .members-roster .members-list li .icons {max-width: 48px; display:none; color:#333; font-weight: bold;position:absolute; left:95px;}
#chart .members-roster .members-list li:hover .icons {display: inline-block;}
#chart .members-roster .members-list li .icons .inline > li > i {color:#fff;}
/*#chart .members-roster .members-list li .icons .inline > li:hover {font-weight: bold; color:#000;}*/
#chart .members-roster .members-list li .icons .inline > li > i.icon-user {color: #fff;}
#chart .members-roster .members-list li .icons .inline > li > i.icon-move {color: orange;cursor:move;}
#chart .members-roster .members-list li .icons .inline > li > i.icon-bell-alt {color: lightgreen;}
#chart .members-roster .members-list li .icons .inline > li { padding: 5px 4px 0; background:transparent; border:none;}
#chart .members-roster .slide-dialog {position:absolute; right:155px; top:0px;}
#chart .members-roster .slide {border:solid 1px #49d; background-color:#fff; font-size:11px; width:370px; height:450px; border-top-width:0; border-right-width:0;}
#chart .members-roster .slide ul.nav-tabs {margin-left:10px; height:415px;}
#chart .members-roster .slide .tab-content {height:415px;}
#chart .members-roster .slide .h1 {border-bottom:solid 1px #ddd; display:block; font-size:12px; font-weight:bold; padding:7px 10px;}
#chart .members-roster .slide .close {line-height:15px;}
#chart .members-roster.minimized {width:28px;}
#chart .members-roster.minimized .roster-left {width:28px;}
#chart .members-roster.minimized .members-list li {width:27px;}
#chart .members-roster.minimized .members-list li.title {color:#888;}
#chart .members-roster.minimized i.pull-left {margin:3px 0;}/*
#chart .members-roster .fixer {height:100%; width:10px; position:absolute; left:0; top:0; float:none; z-index:100; cursor:pointer;}
#chart .members-roster .fixer .fixline1 {position:absolute; top:0; left:10px; height:100%; width:30px; visibility:hidden; background:#ddd; opacity:0.3; filter:alpha(opacity=30);}
#chart .members-roster .fixer .fixline2 {position:absolute; top:0; right:10px; height:100%; width:30px; visibility:hidden; background:#ddd; opacity:0.3; filter:alpha(opacity=30);}
#chart .members-roster .fixer .fiximg1 {width:50px; height:80px; border-radius:0 160px 160px 0; background:#ccc; position:absolute; top:50%; margin-top:-80px; left:0px; visibility:hidden; z-index:10;}
#chart .members-roster .fixer .fiximg1 i {margin-left:10px; line-height:80px; font-size:40px; color:#fff;}
#chart .members-roster .fixer .fiximg2 {width:50px; height:80px; border-radius:160px 0 0 160px; background:#ccc; position:absolute; top:50%; margin-top:-80px; right:0px; visibility:hidden; z-index:10;}
#chart .members-roster .fixer .fiximg2 i {margin-left:10px; line-height:80px; font-size:40px; color:#fff;}
#chart .members-roster .fixer.on,
#chart .members-roster .fixer:hover {background:#ddd;}
#chart .members-roster .fixer.on .fiximg1,
#chart .members-roster .fixer.on .fiximg2,
#chart .members-roster .fixer:hover .fiximg1,
#chart .members-roster .fixer:hover .fiximg2,
#chart .members-roster .fixer:hover .fixline1,
#chart .members-roster .fixer:hover .fixline2 {visibility:visible;}*/

#chart .charts-list > li { border-bottom: solid 1px #ddd; color:#444; width:191px;}
#chart .charts-list > li > a { padding:3px 6px; color:#444; font-size:12px; text-decoration: none; height:100%;width:100%;display:inline-block;}
#chart .charts-list > li:not(.active):hover {background:#999;}
#chart .charts-list > li:hover > a { color:#fff;}
#chart .charts-list > li.active > a {color:#fff;}
#chart .charts-list > li.active {background:#368EE0;}



.modal .modal-body .tab-content {min-height:250px;max-height:380px;}
.modal .modal-body .tab-content > .tab-pane {min-height:250px;max-height:380px;overflow:scroll;}
.modal .modal-body .right-nav {position:absolute; right:8px; top:15px;}
.modal .modal-body .right-nav li {margin-bottom: 0px; width:20px; padding:5px;text-align:center; background:#fff;}
.modal .modal-body .right-nav li:hover > a {color:#999;}
.modal .modal-body .right-nav li > a {color:#666; text-decoration:none;display:inline-block;width:100%;height:100%;}
.modal .modal-body .right-nav li.active >  a {color:#368EE0;}
.modal .modal-body .right-nav li >a > i {font-size:20px;}
.modal .modal-body .right-content{color:#555;margin-top:15px;}
.modal .modal-body .right-content p {text-align:justify;}
.modal .modal-body .right-content h3 { margin-top:0; line-height:30px; font-size:21.5px;}
.modal .modal-body .right-content h5.subheading { margin-top:0; line-height:30px; font-size:16px; color:#999;}
.modal .modal-body .right-content div.locations.view > div {line-height:20px;}
.modal .modal-body .right-content div.locations > div > span:first-child {width:100px; display:inline-block;}
#chart #modal_display_member .modal-body #contact-tab li {margin-bottom:10px;}
.modal .modal-body .member-photo-container {width:98px; border:solid 1px #ccc; padding:4px; border-radius:100px;margin-left:20px; margin-top:20px; margin-bottom:10px;}
.modal .modal-body .member-photo-container > img {width:98px;border-radius:300px; border:solid #ccc 1px; margin-left:-1px;}
#chart #modal_display_member .member-social {text-align: center;}
#chart #modal_display_member .member-social > li {display:inline-block;}
#chart #modal_display_member .member-social > li i {font-size:20px;}
#chart #modal_display_member .member-social > li a {color:#ccc;}
#chart #modal_display_member .member-social .li-color {color:#1A85BB;}
#chart #modal_display_member .member-social .go-color {color:#DD4B39;}
#chart #modal_display_member .member-social .fb-color {color:#44619D;}
#chart #modal_display_member .member-social .tw-color {color:#55ACEE;}

#chart #modal_edit_chart {height:350px;}
.modal .modal-body .view-options li { height:30px; vertical-align: top; color:#fff; margin-bottom:5px;}
.modal .modal-body .view-options li span {background:#368EE0; padding:5px;color:#fff; margin-left:0;}
.modal .modal-body .view-options li span.count {background:orange; text-align: center; margin-left:0;}
.modal .modal-body .view-options li span.count:hover { background:#333;}
#chart #modal_bulk_upload {height: 452px;}
#chart #modal_bulk_upload .modal-body {overflow: hidden;}
#chart #modal_bulk_upload.modal.wide .tab-content {height:380px;}
#chart #modal_bulk_upload.modal.wide .tab-content .tab-pane {height:380px; }

#modal_edit_org, #modal_edit_org {height:380px;}
#modal_edit_org, #modal_view_org {height: 470px;}

#modal_add_role .chzn-results {max-height:195px;}

.meeting-item:hover > td {cursor: pointer; background:lightblue !important; color:#fff;}
/*#modal_meeting {left:50%; margin-left:-250px;top:100px;position:absolute;}*/

/*
#chart #modal_display_member #role-tab .tabline {position: absolute; background:#368EE0; height:80%; width:5px;margin-left:33px;}
#chart #modal_display_member .role-tab-link {margin-left:20px;display:inline-block; width:30px; height:5px; background:none;margin-bottom:25px;}
#chart #modal_display_member .role-tab-link > a {color:#368EE0;transition:font-size 0.5s linear;-webkit-transition:font-size 0.5s linear; }
#chart #modal_display_member .role-tab-link.active > a {font-size:2em;margin-top:-2px;} */


#chart #navigation div.img {position:absolute;right:48px;top:35px;text-align:right;width:250px; color:#888;text-shadow:0 1px 1px #eee;font-size:12px;font-weight:bold; }
#chart #navigation div.img:before {content:url(/images/arrow2.png); position:absolute; right:-40px; top:-5px; width:40px; height:40px; }
#chart #navigation ul.context-nav:hover div.img {display:none;}




/* TEMPORARY PLACE FOR BELOW STYLES */
ul.photosearch > li {display:inline-block;margin:10px; border:solid 1px #ddd; cursor:pointer;}
ul.photosearch > li > img {height:120px; width:auto;margin:5px;}
ul.photosearch > li:hover {box-shadow: 0 0 10px 2px #CC9900;-webkit-box-shadow: 0 0 10px 2px #CC9900;-moz-box-shadow: 0 0 10px 2px #CC9900;}
ul.photosearch > li .name {margin-left:5px;}
#modal_websearch{ margin-top:0 !important;top:100px;}


.cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .cf { zoom: 1; }
*:first-child+html .cf { zoom: 1; }

body { font-family: 'Helvetica Neue', Arial, sans-serif;  font-size: 100%; line-height: 1;  -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

h1 { font-size: 2.5em; line-height: 1.333em; margin: 0 0 0.5em 0; }
h2 { font-size: 1.25em; line-height: 1.333em; margin: 0.5em 0; }

.text p, .text li { font-size: 1em; line-height: 1.5em; margin: 0 0 0.5em 0; }
.text li { margin: 0 0 0.25em 0; }

.vhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/*
 * Social buttons
 */
.social-btns { display:block; list-style: none;}
.social-btns > li {display:inline-block; vertical-align: top;}

.share.tab-pane .sharelink > a {width:20px;display:inline-block;}
.share.tab-pane .share-link input {display:inline-block; width:240px; background:lightyellow; margin-top:5px;}
.share.tab-pane code {background-color: #EEEEEE;font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;}
.share.tab-pane pre {background-color: #EEEEEE;font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;margin-bottom: 10px;max-height: 600px;overflow: auto;padding: 5px;width: auto;}

.share.tab-pane hr {margin:5px 0;}
.embed.tab-pane textarea {font-size: 8pt;line-height: 12px;height: 50px;width: 260px; background:lightyellow;}
.embed.tab-pane input {width:50px; display:inline-block;}
.embed.tab-pane span {font-size:10pt;}

/*.social-buttons { display: block; list-style: none; padding: 0; margin: 20px; }
.social-buttons > li { display: inline-block; margin: 0; padding: 10px; float: left; }*/
/*.social-buttons .socialite { display: block; position: relative; background: url('images/social-sprite.png') 0 0 no-repeat; }
.social-buttons .socialite-loaded { background: none !important; }

.social-buttons .twitter-share { width: 55px; height: 65px; background-position: 0 0; }
.social-buttons .googleplus-one { width: 50px; height: 65px; background-position: -75px 0; }
.social-buttons .facebook-like { width: 50px; height: 65px; background-position: -145px 0; }
.social-buttons .linkedin-share { width: 60px; height: 65px; background-position: -215px 0; }
*/
.croppic-container {
  width: 100px;
  height: 100px;
  position: relative;
  border: solid 4px #ccc;
  display:inline-block;
}


html, body, #canvas { width: 100%; height: 100%; -webkit-user-select: none; user-select: none; background:none !important;}
#workbench {top:200px;}

html {width:100%; height:130% !important; overflow:auto;}
body {width:100%; height:100%;}

/*.tree-view.circle {position:relative;}*/

.circle .h1, .circle .h2 {width:100% !important;}
.circle > .tree-view {position:absolute; }
.circle > .card140x100 {left:0 !important;bottom:0 !important; position:fixed !important;}

.circle .icon-cross-plus {display:none !important;}
.circle .power {display:none !important;}

.circle > .tree-view .node:not(.shared) {height:70px; width:122px !important;border:none !important; position:relative;}
.circle > .tree-view .node .h1 {font-weight:400;}
.circle > .tree-view .node .member-title {display:none !important;}
.circle > .tree-view .node .role-title {text-align:center;}
.circle > .tree-view .node .actions-menu {display:none !important;}
.circle > .tree-view .node.shared {background:#fff !important; padding-bottom:10px; z-index:10;}
.circle > .tree-view .node.shared .members{ text-align: center;}
.circle > .tree-view .node.shared .topmass, .circle > .tree-view .node.shared .botmass, .circle > .tree-view .node.shared .arrow {display: none;}
.circle > .tree-view .node.shared .members > li {width: auto !important; border:none !important; }
.circle > .tree-view .node.shared {margin-left:22px;}
.circle .node > .bgcolor {width:56px !important; height: 56px !important;margin-top: 15px; border-radius:50%;left:50%; margin-left:-27px;}
.circle > .tree-view .node.department {width:165px !important; margin-left:-21px;}
.circle > .tree-view .node.department > .role .role-title {color:#fff !important; text-shadow:1px 1px 1px #666 !important; font-weight:400 !important;}
.circle > .tree-view .node .h2 { line-height:15px; padding-bottom:3px;}
.circle > .tree-view .portrait-smallx2 { position:relative !important; width: 52px !important; height:52px !important; border:none !important; left:50% !important; bottom:0 !important;margin-left:-25px !important; border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;overflow:hidden; box-shadow:none !important;}
.circle > .tree-view .portrait-smallx2 > img {width: 52px; height:52px;}
.circle > .tree-view .node.department > .role{background:#F67D34; color: #fff !important; border:double 3px #fff;}
.circle > .tree-view .portrait-smallx2:hover {border:solid 3px #5CC300 !important; margin-left:-28px !important; margin-top:-3px !important; cursor:pointer;}

.circle .hilite-member {box-shadow:none;}


/* stackoverflow */
.circle .wrapword, .widebox .wrapword{white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */white-space: -pre-wrap;      /* Opera 4-6 */white-space: -o-pre-wrap;    /* Opera 7 */white-space: pre-wrap !important;       /* css-3 */word-wrap: break-word;       /* Internet Explorer 5.5+ */word-break: break-word;white-space: normal;overflow:visible;white-space: wrap;display:block;}
/* */

/*.view-bar {position: fixed; top: 0; left: 0; width: 100%; background: #fff; text-align: center; z-index: 1000000;box-shadow: 0 1px 8px #aaa;-webkit-box-shadow: 0 1px 8px #aaa;-moz-box-shadow: 0 1px 8px #aaa;}*/

/*.view-options {position:absolute; top:0; right:0; }*/
/*.view-options:hover {background: #000;}*/
/*.view-options > a{ display:inline-block;color:#000;text-decoration: none;padding:8px;font-size:2em;}*/
/*.view-options:hover > a{color:#fff;}*/

/*.view-options ul {position:absolute; top:39px; right:0px; list-style: none;border:solid 2px #666; border-right:0;width:140px; background:#fff; text-align:left;}*/
/*.view-options ul > li { padding:5px;}*/
/*.view-options ul > li:hover {background:#333; color:#fff;}*/

/*.view-profile {position: fixed;width: 300px;height: auto;bottom: 0;left: 0;background: #fff;box-shadow: 2px -1px 6px #666;}*/
/*.view-profile > .topleft{width:100px;}*/
/*.view-profile > .topright{width:195px; text-align:center;}*/
/*.view-profile >div {display:inline-block; vertical-align: top;}*/

 
.widebox > .tree-view .node:not(.shared):not(.department):not(.subchart) {height:100px !important; width:125px !important; position:relative; border-width:1px !important;}
.widebox > .tree-view .node:not(.department) .role, .widebox .card140x100 .inner {position: relative; display: block;padding: 1px 3px;height: 99px !important;}
.widebox > .tree-view .node .role .card-top, .widebox .card140x100 .card-top{width:100%; height:40px; overflow-y: hidden;}
.widebox > .tree-view .node .role .card-bot, .widebox .card140x100 .card-bot{width:100%; overflow-y: hidden;margin-top:3px;}
.widebox > .tree-view .node .role .card-top .portrait-smallx2, .widebox .card140x100 .card-top .portrait-smallx2 {position:relative !important;width:40px; display:inline-block;right:auto !important; bottom:auto !important; margin: 3px !important; float:none !important;}
.widebox > .tree-view .node .role .card-top .card-right, .widebox .card140x100 .card-top .card-right {display:inline-block;width:200px; height:70px; vertical-align: middle;float: right;position: absolute;}

.widebox > .tree-view .node.subchart {height:100px !important; width:130px !important; position:relative; border-width:1px !important;}
.widebox > .tree-view .node.shared .members > li .bottom {position:absolute; left:5px !important; }
.widebox > .tree-view .node.subchart > .bgcolor {width:130px !important; height: 100px !important;}

.widebox > .tree-view .node:not(.department):not(.subchart) > .bgcolor {width:125px !important; height: 100px !important;}
.widebox > .tree-view .node.department > .bgcolor {width:145px !important; }

.widebox > .tree-view .node.department {width:145px !important; margin-left:-12px;}
.widebox > .tree-view .node.department .role .power {left:58px !important;}
.widebox > .tree-view .node .role-title, .widebox .card140x100 .role-title {text-align: center; font-weight: 300 !important;line-height:1.2em !important;}
.widebox > .tree-view .node .member-title, .widebox .card140x100 .member-title{ font-size: 10pt !important;font-weight: 400 !important; line-height:1.3em !important;}
.widebox > .tree-view .node .role .power { left:47px !important; }

.widebox .card140x100{border: solid 1px #777 !important;margin: 8px 2px 2px 25px !important;width:125px !important;height:100px !important;}
.widebox .card140x100 .botmass {width:125px !important;height:100px !important;}

.widebox .card140x100.department {width:145px !important; height:75px !important; margin-left: 10px !important;}
.widebox .card140x100.department .arrow-left, .widebox .card140x100.department .arrow-right {top:3px !important;}

.widebox .card140x100 .h2 {max-width:100% !important;}

.widebox .card140x100 .portrait-smallx2 {width:35px !important; height:35px !important; border:none !important;}

.widebox .card140x100.embedded_chart {margin-top:24px !important;}

.widebox .card140x100 .arrow-left, .widebox .card140x100 .arrow-right {top:16px !important;}

.widebox .card140x100 .actions { position:absolute; top:65px; transition:top .3s linear;-webkit-transition:top .3s linear;-moz-transition:top .3s linear;}

.widebox .card140x100 .actions li {margin:6px; }

.widebox .tree-view .node.shared .h1 {width:auto !important;}

