<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <div class="main-counters margin-bottom-40">
        <div class="headline row">
            <div class="col-xs-5 text-left"></h2>
                <ul class="list-inline clear-both">
                    <li class="sort-list-btn">
                        <h4>정산 마감 일자 : </h4>
                        <div class="btn-group">
                            <button type="button" id="sel_position" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <?=$pay_date?> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">                                
                                <? foreach ($pay_date_list as $key => $value) : ?>
                                <li><a href="/account/grp_cv/pay_date/<?=$value['PAY_DATE']?>"><?=$value['PAY_DATE']?></a></li>
                                <? endforeach ?>
                            </ul>
                        </div>
                    </li>                    
                </ul>
            </div>
            <div class="col-xs-2"></div>   
            <div class="col-xs-5"></div>      
        </div>
    </div>

    <!-- Pie Charts v1 -->
    <div class="row pie-progress-charts margin-bottom-60">
        <div class="inner-pchart col-md-4">
            <div class="circle" id="N-1"></div>
            <h3 class="circle-title">전체 N값</h3>   
        <? if ( IS_MANAGER ) : ?> 
            <p>= 전체 발생 재원 / 전체 점수</p>
        <? endif ?>        
        </div> 
        <div class="inner-pchart col-md-4">
            <div class="circle" id="N-2"></div>
            <h3 class="circle-title">골드 N값</h3> 
        <? if ( IS_MANAGER ) : ?>          
            <p>= 골드 직급 발생 재원 / 골드 점수</p>        
        <? endif ?>
        </div>       
        <div class="inner-pchart col-md-4">
            <div class="circle" id="N-3"></div>
            <h3 class="circle-title">루비 N값</h3>      
        <? if ( IS_MANAGER ) : ?>
            <p>= 루비 직급 발생 재원 / 루비 점수</p>       
        <? endif ?>
        </div>
    </div>    
    <!-- End Pie Charts v1 -->

<? if ( IS_MANAGER ) : ?>
    <!-- Pie Charts v2 -->
    <div class="row pie-progress-charts margin-bottom-60">
        <div class="inner-pchart col-md-3">
            <div class="circle" id="circles-1"></div>
            <h3 class="circle-title">전체 점수</h3>            
        </div> 
        <div class="inner-pchart col-md-3">
            <div class="circle" id="circles-2"></div>
            <h3 class="circle-title">골드 직급 점수</h3>            
        </div>       
        <div class="inner-pchart col-md-3">
            <div class="circle" id="circles-3"></div>
            <h3 class="circle-title">루비 직급 점수</h3>            
        </div>
        <? if ( !IS_MANAGER && !IS_AGENCY ) : ?>
        <div class="inner-pchart col-md-3">
            <div class="circle" id="circles-4"></div>
            <h3 class="circle-title">본인 점수</h3>            
        </div>
        <? endif ?>
    </div>    
    <!-- End Pie Charts v2 -->

    <!-- Pie Charts v1 -->
    <div class="row pie-progress-charts margin-bottom-60">
        <div class="inner-pchart col-md-4">
            <div class="circle" id="circles-5"></div>
            <h3 class="circle-title">전체 발생 재원</h3>    
            <p>= <?=number_format($pay_calc_info['COM_PV2'])?> (총 발생 CV) * 0.5 * 0.6</p>        
        </div> 
        <div class="inner-pchart col-md-4">
            <div class="circle" id="circles-6"></div>
            <h3 class="circle-title">골드 직급 발생 재원</h3>           
            <p>= <?=number_format($pay_calc_info['COM_PV2'])?> (총 발생 CV) * 0.5 * 0.25</p>        
        </div>       
        <div class="inner-pchart col-md-4">
            <div class="circle" id="circles-7"></div>
            <h3 class="circle-title">루비 직급 발생 재원</h3>      
            <p>= <?=number_format($pay_calc_info['COM_PV2'])?> (총 발생 CV) * 0.5 * 0.15</p>        
        </div>
    </div>    
    <!-- End Pie Charts v1 -->
<? endif ?>    
</div>           
<style>
</style>

<!-- JS Implementing Plugins -->
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script> 
<script type="text/javascript" src="<?=PLUGIN_DIR?>/circles-master/circles.js"></script>

<!-- JS Page Level -->           
<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() 
    {
        App.init();
        App.initCounter();     

        { // N값 표시            
            var numbers = [ '<?=number_format($n)?>', '<?=number_format($n_gd)?>', '<?=number_format($n_rb)?>' ] ;
            var percentages = [ '<?=($n_total > 0) ? ($n / $n_total) : 0?>', '<?=($n_total > 0) ? ($n_gd / $n_total) : 0?>', '<?=($n_total > 0) ? ($n_rb / $n_total) : 0?>' ] ;

            for (var i = 1 ; i <= 3 ; i++) 
            {
                var child = document.getElementById('N-' + i) ;                
                    
                Circles.create
                ({
                    id:         child.id,
                    percentage: percentages[i - 1] * 100,
                    radius:     80,
                    width:      8,
                    number:     numbers[i - 1],
                    text:       '',
                    colors:     ['#eee', '#72c02c'],
                    duration:   2000,
                });
            }
        }

    <? if ( IS_MANAGER ) : ?>
        { // 기타 값 표시
            var colors = [['#D3B6C6', '#9B6BCC'], ['#C9FF97', '#72c02c'], ['#BEE3F7', '#3498DB'], ['#FFC2BB', '#E74C3C'], 
                            ['#eee', '#72c02c'], ['#eee', '#72c02c'], ['#eee', '#72c02c']];
            
            var nums = ['<?=$pay_calc_info['AMT_WCY_GRP_CV']?>', '<?=$pay_calc_info['AMT_WCY_GRP_CV_GD']?>', 
                            '<?=$pay_calc_info['AMT_WCY_GRP_CV_RB']?>', '<?=$user_grv_cv?>', '<?=number_format($fund)?>', '<?=number_format($fund_gd)?>', '<?=number_format($fund_rb)?>'] ;

            var percentages = new Array() ;

            for (var i = 0; i < 7; i++) 
            {
                if ( i < 4 )
                {
                    percentages[i] = ( nums[0] > 0 ) ? nums[i] / nums[0] : 0 ;
                }
                else
                {
                    percentages[i] = ( parseInt(nums[4]) > 0 ) ? parseInt(nums[i]) / parseInt(nums[4]) : 0 ;   
                }
            }

            for (var i = 1; i <= 7; i++) 
            {
                var child = document.getElementById('circles-' + i) ;                    
                    
                if ( child )
                {
                    Circles.create({
                        id:         child.id,
                        percentage: percentages[i - 1] * 100,
                        radius:     70,
                        width:      2,
                        number:     nums[i - 1],
                        text:       '',
                        colors:     colors[i - 1],
                        duration:   2000,
                    });
                }
            }
        }
    <? endif ?>   
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->