<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">
    <div class="main-counters margin-bottom-40">
        <div class="headline row">
            <div class="col-xs-5 text-left"></h2>
                <ul class="list-inline clear-both">
                    <li class="sort-list-btn">
                        <h4>정산 마감 일자 : </h4>
                        <div class="btn-group">
                            <button type="button" id="sel_position" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <?=$pay_date?> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <? foreach ($pay_date_list as $key => $value) : ?>
                                <li><a href="/account/grp_cv_product/pay_date/<?=$value['PAY_DATE']?>"><?=$value['PAY_DATE']?></a></li>
                                <? endforeach ?>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-5 text-right"><h4>총 발생 재원 : <?=number_format($pay_calc_info['COM_PV2'])?></h4></div>
        </div>
    </div>

    <!-- Pie Charts v1 -->
    <div class="row pie-progress-charts margin-bottom-60">
        <div class="col-md-1"></div>
        <? foreach ($str_n as $key => $value) : ?>
        <div class="inner-pchart col-md-<?=round(12/count($str_n))?>">
            <div class="circle" id="N-<?=($key+1)?>"></div>
            <h3 class="circle-title"><?=$value?> N값</h3>
            <? if ( IS_MANAGER ) : ?>
            <p>= <?=$value?> 발생 재원 / <?=$value?> 점수</p>
            <? endif ?>
        </div>
        <? endforeach ?>
        <div class="col-md-1"></div>
    </div>
    <!-- End Pie Charts v1 -->

    <? if ( IS_MANAGER ) : ?>
    <!-- Pie Charts v2 -->
    <div class="row pie-progress-charts margin-bottom-60">
        <div class="col-md-1"></div>
        <? foreach ($str_n as $key => $value) : ?>
        <div class="inner-pchart col-md-<?=round(12/count($str_n))?>">
            <div class="circle" id="circles-1-<?=($key+1)?>"></div>
            <h3 class="circle-title"><?=$value?> 점수</h3>
        </div>
        <? endforeach ?>
        <? if ( !IS_MANAGER && !IS_AGENCY ) : ?>
        <div class="inner-pchart col-md-3">
            <div class="circle" id="circles-1-5"></div>
            <h3 class="circle-title">본인 점수</h3>
        </div>
        <? endif ?>
        <div class="col-md-1"></div>
    </div>
    <!-- End Pie Charts v2 -->

    <!-- Pie Charts v1 -->
    <div class="row pie-progress-charts margin-bottom-60">
        <div class="col-md-1"></div>
        <? foreach ($str_n as $key => $value) : ?>
        <div class="inner-pchart col-md-<?=round(12/count($str_n))?>">
            <div class="circle" id="circles-2-<?=($key+1)?>"></div>
            <h3 class="circle-title"><?=$value?> 발생 재원</h3>
        </div>
        <? endforeach ?>
        <div class="col-md-1"></div>
    </div>
    <!-- End Pie Charts v1 -->
    <? endif ?>
</div>
<style>
</style>

<!-- JS Implementing Plugins -->
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/circles-master/circles.js"></script>

<!-- JS Page Level -->
<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function()
    {
        App.init();
        App.initCounter();

        { // N값 표시

            var numbers = new Array() ;
            var percentages = new Array() ;

        <? foreach($arr_n as $key => $value) : ?>
            numbers[<?=$key?>] = '<?=number_format($value)?>' ;
            percentages[<?=$key?>] = '<?=($n_total > 0) ? ($value / $n_total) : 0?>' ;
        <? endforeach ?>

            for (var i = 1 ; i <= <?=count($str_n)?> ; i++)
            {
                var child = document.getElementById('N-' + i) ;

                Circles.create
                ({
                    id:         child.id,
                    percentage: percentages[i - 1] * 100,
                    radius:     80,
                    width:      8,
                    number:     numbers[i - 1],
                    text:       '',
                    colors:     ['#eee', '#72c02c'],
                    duration:   2000,
                });
            }
        }

    <? if ( IS_MANAGER ) : ?>
        { // 점수 표시
            var colors = [['#D3B6C6', '#9B6BCC'], ['#C9FF97', '#72c02c'], ['#BEE3F7', '#3498DB'], ['#FFC2BB', '#E74C3C'], ['#eee', '#72c02c']];

            var numbers = new Array() ;
            var percentages = new Array() ;

        <? foreach($arr_grp as $key => $value) : ?>
            numbers[<?=$key?>] = '<?=$value?>' ;
            percentages[<?=$key?>] = '<?=($total_amt_wcy_grp > 0) ? ($value / $total_amt_wcy_grp) : 0?>' ;
        <? endforeach ?>

            for (var i = 1; i <= <?=count($str_n)+1?> ; i++)
            {
                var child = document.getElementById('circles-1-' + i) ;

                if ( child )
                {
                    Circles.create({
                        id:         child.id,
                        percentage: percentages[i - 1] * 100,
                        radius:     70,
                        width:      2,
                        number:     numbers[i - 1],
                        text:       '',
                        colors:     colors[i - 1],
                        duration:   2000,
                    });
                }
            }
        }

        { // 재원 표시

            var numbers = new Array() ;
            var percentages = new Array() ;

        <? foreach($arr_fund as $key => $value) : ?>
            numbers[<?=$key?>] = '<?=number_format($value)?>' ;
            percentages[<?=$key?>] = '<?=($fund_total > 0) ? ($value / $fund_total) : 0?>' ;
        <? endforeach ?>

            for (var i = 1 ; i <= <?=count($str_n)?> ; i++)
            {
                var child = document.getElementById('circles-2-' + i) ;

                if ( child )
                {
                    Circles.create({
                        id:         child.id,
                        percentage: percentages[i - 1] * 100,
                        radius:     70,
                        width:      2,
                        number:     numbers[i - 1],
                        text:       '',
                        colors:     ['#eee', '#72c02c'],
                        duration:   2000,
                    });
                }
            }
        }
    <? endif ?>

    });
</script>
<!--[if lt IE 9]>
<script src="assets/plugins/respond.js"></script>
<script src="assets/plugins/html5shiv.js"></script>
<script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->