<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <section>
        <div class="row margin-bottom-40">
        <? foreach ($weekly_acount as $key => $value) : ?>
            <div class="counters col-md-3 col-sm-3">
                <span class="counter"><?=isset($sum_payment_by_type[$key]) ? number_format($sum_payment_by_type[$key]) : 0?></span>   
                <h4><?=$value?></h4>
            </div>               
        <? endforeach ?>
        </div>
    </section> 
    <section>
        <div class="headline">
            <div class="row">
                <div class="col-md-4">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                        전체수당내역건수 : <?=$total_count?>건
                    </h5>
                </div>
                <div class="col-md-8" style="padding-right: 30px;">
                    <form name="fsearch" id="sky-form" class="sky-form" method="get" action="" onsubmit="return doSearch(this);">
                    <input type="hidden" name="sfl" id="sfl" value="mbwa_payment_result"/>
                    <input type="hidden" name="sca" id="sca" value="지급상태"/>
                    <input type="hidden" name="sdt" id="sdt" value="wa_end_date"/>
                    <input type="hidden" name="sdt_s" id="sdt_s" value="정산일자"/>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="select_date" class="btn btn-default dropdown-toggle" data-toggle="dropdown">정산일자 <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:set_sdt('wa_end_date', '정산일자')">정산일자</a></li>
                                            <li><a href="javascript:set_sdt('wa_payment_date', '지급일자')">지급일자</a></li>
                                        </ul>
                                    </div><!-- /btn-group -->
                                    <span class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" class="date"name="start" id="start" placeholder="시작일" value="<?=$start_date?>">
                                    </span>
                                </div><!-- /input-group -->                  
                            </div>
                            <div class="col-md-3">
                                <label class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" class="date"name="finish" id="finish" placeholder="종료일" value="<?=$finish_date?>">
                                </label>
                            </div>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" id="select_sca" class="btn btn-default dropdown-toggle" data-toggle="dropdown">지급상태 <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:set_sfl('mbwa_payment_result', '지급상태')">지급상태</a></li>
                                    </ul>
                                </div><!-- /btn-group -->
                                <input type="text" class="form-control" name="stx" id="stx">
                                <span class="input-group-btn">
                                    <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <form name="fboardlist" method="post" action="">

    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th class="text-center"><a href="<?=$sort_no?>">NO </a><i></i></th>  
                <th class="text-center">회원명</th>    
                <th class="text-center"><a href="<?=$sort_end_date?>">정산일자 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_payment_amount?>">지급금액 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_payment_type?>">지급종류 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_payment_date?>">지급일자 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_payment_result?>">지급상태 </a><i></i></th>
            </tr>
        </thead>        
        <tbody>       
            <? foreach ($list as $o): ?>
            <tr>
                <td><?=$o['num']?></td>
                <td><?=$o['mb_name']?></td>
                <td><?=$o['wa_end_date']?></td>
                <td><?=number_format($o['mbwa_payment_amount'])?></td>
                <td><?=$weekly_acount[$o['mbwa_payment_type']]?></td>
                <td><?=$o['wa_payment_date']?></td>
                <td><?=$o['mbwa_payment_result']?></td>
            </tr>
            <? endforeach; ?>
        </tbody>
    </table>

    <? if (!$list): ?><p class="lead text-center text-muted">수당 내역이 없습니다.</p><? endif; ?>

    <hr>

    <div class="pull-right">
        <?=$paging?>
    </div>

    </form>
</div>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=JS_DIR?>/app.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script>

<script type='text/javascript'>
jQuery(function($)
{
    $('[data-rel="tooltip"]').tooltip() ;
    $('[data-rel=popover]').popover({container:'body'});
}) ;

jQuery(document).ready(function() 
{
    App.init();
    App.initCounter();

    $('#start').datepicker
    ({
        dateFormat: 'yy-mm-dd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#finish').datepicker('option', 'minDate', selectedDate);
        }
    });

    $('#finish').datepicker
    ({
        dateFormat: 'yy-mm-dd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#start').datepicker('option', 'maxDate', selectedDate);
        }
    });
});

function set_sdt(sdt, sdt_s)
{
    $('#sdt').val(sdt) ;
    $('#sdt_s').val(sdt_s) ;
    $('#select_date').html(sdt_s+' <span class="caret"></span>') ;
}

if ( '<?=$sdt_s?>' != '' )
{
    $('#sdt_s').val('<?=$sdt_s?>') ;
    $('#select_date').html('<?=$sdt_s?> <span class="caret"></span>') ;
}

if ( '<?=$sdt?>' != '' )
{
    $('#sdt').val('<?=$sdt?>') ;
}

function set_sfl(sfl, sca)
{
    $('#sfl').val(sfl) ;
    $('#sca').val(sca) ;
    $('#select_sca').html(sca+' <span class="caret"></span>') ;
}

$('#stx').val('<?=$stx?>') ;

if ( '<?=$sfl?>' != '' )
{
    $('#sfl').val('<?=$sfl?>') ;
}

if ( '<?=$sca?>' != '' )
{
    $('#sca').val('<?=$sca?>') ;
    $('#select_sca').html('<?=$sca?> <span class="caret"></span>') ;
}

if ( '<?=$sod?>' != 'asc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-desc color-red') ;
}
else if ( '<?=$sod?>' != 'desc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-asc color-red') ;
}

</script>