<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <section>
        <div class="headline">
            <div class="row">
                <div class="col-md-6">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                        전체내역건수 : <?=$total_count?> 건
                    </h5>
                </div>
                <div class="col-md-5" style="padding-right: 30px;">
                    <form name="fsearch" id="sky-form" class="sky-form" method="get" action="" onsubmit="return doSearch(this);">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="select_date" class="btn btn-default dropdown-toggle" data-toggle="dropdown">기간 </button>
                                    </div><!-- /btn-group -->
                                    <span class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" class="date"name="start" id="start" placeholder="시작일" value="<?=$start_date?>">
                                    </span>
                                </div><!-- /input-group -->                  
                            </div>
                            <div class="col-md-5">
                                <label class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" class="date"name="finish" id="finish" placeholder="종료일" value="<?=$finish_date?>">
                                </label>                                
                            </div>
                            <div class="col-md-1">
                                <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-1">
                    <a href="/account/pay/excel/type/<?=$type?><?=$qstr?>" class="btn-u btn-u-green"><i class="fa fa-file-excel-o"></i></a>
                </div>
            </div>
        </div>
    </section>

    <form name="fboardlist" method="post" action="">

    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th class="text-center">NO </th>  
            <? if( IS_MANAGER ) : ?>
                <th class="text-center">회원정보 </th>  
            <? endif ?>
                <th class="text-center"><a href="<?=$sort_pay_date?>">마감일자 </a><i></i></th>    
                <th class="text-center">지급일자 </th>    
                <th class="text-center">마감직급 </th>
            <!--    <th class="text-center"><a href="<?=$sort_cv?>">매출CV </a><i></i></th> -->
                <th class="text-center"><a href="<?=$sort_pv?>">매출RB </a><i></i></th>
            <? if ( $type == 'week' ) : ?>
                <th class="text-center">정착지원보너스 </th>                
                <th class="text-center">공유보너스 </th>                
            <? else : ?>
                <th class="text-center">통신 재구매 보너스 </th>                
                <th class="text-center">유선 직추천 보너스 </th>                
            <? endif ?>
                <th class="text-center"><a href="<?=$sort_total_amt?>">수당합계 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_tax1?>">세금합계 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_true_amt?>">실지급액 </a><i></i></th>
            </tr>
        </thead>        
        <tbody>       
            <? foreach ($list as $o): ?>
            <tr>    
                <td><?=$o['num']?></td>
            <? if( IS_MANAGER ) :  ?>
                <td><?=$o['USERTEXT']?></td>  
            <? endif ?>
                <td><?=$o['PAY_DATES']?></td>
                <td><?=$o['GIVE_DATES']?></td>
                <td><?=$o['OLD_FULL_NAME']?></td>
            <!--    <td><?=number_format($o['CV'])?></td> -->
                <td><?=number_format($o['PV'])?></td>
            <? if ( $type == 'week' ) : ?>
                <td><?=number_format($o['AMT_WPT'])?></td>
                <td><?=number_format($o['AMT_WCY'])?></td>  
            <? else : ?>    
                <td><?=number_format($o['AMT_MFEE'])?></td>
                <td><?=number_format($o['AMT_MDIRECT'])?></td>   
            <? endif ?>                                     
                <td><?=number_format($o['TOTAL_AMT'])?></td>
                <td><?=number_format($o['TOTAL_TAX'])?></td>
                <td><?=number_format($o['TRUE_AMT'])?></td>
            </tr>
            <? endforeach; ?>               
        </tbody>
    </table>

    <? if (!$list): ?><p class="lead text-center text-muted">내역이 없습니다.</p><? endif; ?>

    <hr>

    <div class="pull-right">
        <?=$paging?>
    </div>

    </form>
</div>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=JS_DIR?>/app.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script>

<script type='text/javascript'>
jQuery(function($)
{
    $('[data-rel="tooltip"]').tooltip() ;
    $('[data-rel=popover]').popover({container:'body'});
}) ;

jQuery(document).ready(function() 
{
    App.init();
    App.initCounter();

    $('#start').datepicker
    ({
        dateFormat: 'yymmdd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#finish').datepicker('option', 'minDate', selectedDate);
        }
    });

    $('#finish').datepicker
    ({
        dateFormat: 'yymmdd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#start').datepicker('option', 'maxDate', selectedDate);
        }
    });
});

if ( '<?=$sod?>' != 'asc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-desc color-red') ;
}
else if ( '<?=$sod?>' != 'desc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-asc color-red') ;
}

</script>