<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <section>
        <div class="headline row">
            <div class="col-xs-11">
                <h4>정산 마감 일자 : </h4>
                <div class="btn-group">
                    <button type="button" id="sel_position" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <?=$pay_date?> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">                                
                        <? foreach ($pay_date_list as $key => $value) : ?>
                        <li><a href="/account/pay/week/pay_date/<?=$value['PAY_DATE']?>"><?=$value['PAY_DATE']?></a></li>
                        <? endforeach ?>
                    </ul>
                </div>
            </div>  
            <div class="col-xs-1 pull-right">
                <a href="/account/pay/excel/type/<?=$type?>/pay_date/<?=$pay_date?><?=$qstr?>" class="btn-u btn-u-green"><i class="fa fa-file-excel-o"></i></a>
            </div>                             
        </div>             
    </section>

    <form name="fboardlist" method="post" action="">

    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th class="text-center">NO </th>  
            <? if( IS_MANAGER ) : ?>
                <th class="text-center">회원정보 </th>  
            <? endif ?>
                <th class="text-center"><a href="<?=$sort_pay_date?>">마감일자 </a><i></i></th>    
                <th class="text-center">지급일자 </th>    
                <th class="text-center">마감직급 </th>
            <!--    <th class="text-center"><a href="<?=$sort_cv?>">매출CV </a><i></i></th> -->
                <th class="text-center"><a href="<?=$sort_pv?>">매출RB </a><i></i></th>
            <? if ( $type == 'week' ) : ?>
                <th class="text-center">정착지원보너스 </th>                
                <th class="text-center">공유보너스 </th>                
            <? else : ?>
                <th class="text-center">통신 재구매 보너스 </th>                
                <th class="text-center">유선 직추천 보너스 </th>                
            <? endif ?>
                <th class="text-center"><a href="<?=$sort_total_amt?>">수당합계 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_tax1?>">세금합계 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_true_amt?>">실지급액 </a><i></i></th>
            </tr>
        </thead>        
        <tbody>       
            <? foreach ($list as $o): ?>
            <tr>    
                <td><?=$o['num']?></td>
            <? if( IS_MANAGER ) :  ?>
                <td><?=$o['USERTEXT']?></td>  
            <? endif ?>
                <td><?=$o['PAY_DATES']?></td>
                <td><?=$o['GIVE_DATES']?></td>
                <td><?=$o['OLD_FULL_NAME']?></td>
            <!--    <td><?=number_format($o['CV'])?></td> -->
                <td><?=number_format($o['PV'])?></td>
            <? if ( $type == 'week' ) : ?>
                <td><?=number_format($o['AMT_WPT'])?></td>
                <td><?=number_format($o['AMT_WCY'])?></td>  
            <? else : ?>    
                <td><?=number_format($o['AMT_MFEE'])?></td>
                <td><?=number_format($o['AMT_MDIRECT'])?></td>   
            <? endif ?>                                     
                <td><?=number_format($o['TOTAL_AMT'])?></td>
                <td><?=number_format($o['TOTAL_TAX'])?></td>
                <td><?=number_format($o['TRUE_AMT'])?></td>
            </tr>
            <? endforeach; ?>               
        </tbody>
    </table>

    <? if (!$list): ?><p class="lead text-center text-muted">내역이 없습니다.</p><? endif; ?>

    <hr>

    <div class="pull-right">
        <?=$paging?>
    </div>

    </form>
</div>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=JS_DIR?>/app.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script>

<script type='text/javascript'>
jQuery(function($)
{
    $('[data-rel="tooltip"]').tooltip() ;
    $('[data-rel=popover]').popover({container:'body'});
}) ;

jQuery(document).ready(function() 
{
    App.init();
});
</script>