<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <section>
        <div class="headline">
            <div class="row">
                <div class="col-md-7">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                        전체내역건수 : <?=$total_count?> 건
                    </h5>
                </div>
                <div class="col-md-5" style="padding-right: 30px;">
                    <form name="fsearch" id="sky-form" class="sky-form" method="get" action="" onsubmit="return doSearch(this);">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="select_date" class="btn btn-default dropdown-toggle" data-toggle="dropdown">기간 </button>
                                    </div><!-- /btn-group -->
                                    <span class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" class="date"name="start" id="start" placeholder="시작일" value="<?=$start_date?>">
                                    </span>
                                </div><!-- /input-group -->                  
                            </div>
                            <div class="col-md-5">
                                <label class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" class="date"name="finish" id="finish" placeholder="종료일" value="<?=$finish_date?>">
                                </label>                                
                            </div>
                            <div class="col-md-1">
                                <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <form name="fboardlist" method="post" action="">

    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th class="text-center" rowspan="2"><a href="<?=$sort_no?>">NO </a><i></i></th>  
                <th class="text-center" rowspan="2">주문번호</th>    
                <th class="text-center" rowspan="2"><a href="<?=$sort_ordno_org?>">원주문번호 </a><i></i></th>
                <th class="text-center" rowspan="2"><a href="<?=$sort_gt_cds?>">공제번호 </a><i></i></th>
                <th class="text-center" rowspan="2">공제번호상태 </th>
                <th class="text-center" rowspan="2"><a href="<?=$sort_ord_date?>">주문일자 </a><i></i></th>
                <!--<th class="text-center" rowspan="2"><a href="<?=$sort_cv?>">매출CV </a><i></i></th>-->
                <th class="text-center" rowspan="2"><a href="<?=$sort_pv?>">매출RB </a><i></i></th>
                <th class="text-center" rowspan="2"><a href="<?=$sort_price?>">단가 </a><i></i></th>
                <th class="text-center" rowspan="2"><a href="<?=$sort_vat?>">부가세 </a><i></i></th>
                <th class="text-center" rowspan="2"><a href="<?=$sort_ord_type?>">구분 </a><i></i></th>
                <th class="text-center" colspan="4">결제방법 </th>
                <th class="text-center" rowspan="2"><a href="<?=$sort_amt?>">결제금액 </a><i></i></th>
            </tr>
            <tr>
                <td>현금</td>
                <td>무통장</td>
                <td>카드</td>
                <td>기타</td>
            </tr>
        </thead>        
        <tbody>   
            <?
                $sum_tot_pv1   = 0;
                $sum_tot_pv2   = 0;
                $sum_tot_price = 0;
                $sum_tot_vat   = 0;
                $sum_cash_amt  = 0;
                $sum_bank_amt  = 0;
                $sum_card_amt  = 0;
                $sum_etc_amt   = 0;
                $sum_tot_amt   = 0;
            ?>    
            <? foreach ($list as $o): ?>
            <?
                $sum_tot_pv1   += $o['PV1'];
                $sum_tot_pv2   += $o['PV2'];
                $sum_tot_price += $o['PRICE'];
                $sum_tot_vat   += $o['VAT'];
                $sum_cash_amt  += $o['CASH_AMT'];
                $sum_bank_amt  += $o['BANK_AMT'];
                $sum_card_amt  += $o['CARD_AMT'];
                $sum_etc_amt   += $o['CYBERMONEY'];
                $sum_tot_amt   += $o['AMT'];

                if($o['ORD_TYPE'] == "1") 
                {
                    $ordno_org = "";
                    $GT_REASON = $o['REASON_NAME'];
                } 
                else 
                {
                    $ordno_org = $o['ORDNO_ORG'];
                    $GT_REASON = "";
                }  
            ?>
            <tr>    
                <td><?=$o['num']?></td>
                <td><?=$o['ORDNO']?></td>
                <td><?=$ordno_org?></td>
                <td><?=$o['GT_CDS']?></td>
                <td><?=$GT_REASON?></td>
                <td><?=$o['ORD_DATES']?></td>
                <!--<td><?=number_format($o['PV1'])?></td>-->
                <td><?=number_format($o['PV2'])?></td>
                <td><?=number_format($o['PRICE'])?></td>
                <td><?=number_format($o['VAT'])?></td>
                <td><?=$o['ORD_TYPES']?></td>
                <td><?=number_format($o['CASH_AMT'])?></td>
                <td><?=number_format($o['BANK_AMT'])?></td>
                <td><?=number_format($o['CARD_AMT'])?></td>
                <td><?=number_format($o['CYBERMONEY'])?></td>
                <td><?=number_format($o['AMT'])?></td>
            </tr>
            <? endforeach; ?>
            <? if ($list): ?>
            <tr>
                <td class="text-right" colspan="6"><strong>합계 </strong></td>
                <td><strong><?=number_format($sum_tot_pv1)?></strong></td>
                <td><strong><?=number_format($sum_tot_pv2)?></strong></td>
                <td><strong><?=number_format($sum_tot_price)?></strong></td>
                <td><strong><?=number_format($sum_tot_vat)?></strong></td>
                <td></td>
                <td><strong><?=number_format($sum_cash_amt)?></strong></td>
                <td><strong><?=number_format($sum_bank_amt)?></strong></td>
                <td><strong><?=number_format($sum_card_amt)?></strong></td>
                <td><strong><?=number_format($sum_etc_amt)?></strong></td>
                <td><strong><?=number_format($sum_tot_amt)?></strong></td>
            </tr>
            <? endif ; ?>
        </tbody>
    </table>

    <? if (!$list): ?><p class="lead text-center text-muted">내역이 없습니다.</p><? endif; ?>

    <hr>

    <div class="pull-right">
        <?=$paging?>
    </div>

    </form>
</div>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=JS_DIR?>/app.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script>

<script type='text/javascript'>
jQuery(function($)
{
    $('[data-rel="tooltip"]').tooltip() ;
    $('[data-rel=popover]').popover({container:'body'});
}) ;

jQuery(document).ready(function() 
{
    App.init();
    App.initCounter();

    $('#start').datepicker
    ({
        dateFormat: 'yymmdd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#finish').datepicker('option', 'minDate', selectedDate);
        }
    });

    $('#finish').datepicker
    ({
        dateFormat: 'yymmdd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#start').datepicker('option', 'maxDate', selectedDate);
        }
    });
});

if ( '<?=$sod?>' != 'asc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-desc color-red') ;
}
else if ( '<?=$sod?>' != 'desc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-asc color-red') ;
}

</script>