<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <div class="main-counters">
        <div class="headline row">
            <div class="col-xs-5"><h2><?=$year?>년 <?=$month?>월 : <?=$total_count?> 건</h2></div>
            <div class="col-xs-2 date"></div>   
            <div class="col-xs-4 text-right text-bottom">          
            </div>      
            <div class="col-xs-1 pull-right">
                <a href="/account/reception/excel/all/<?=$qstr?>" class="btn-u btn-u-green"><i class="fa fa-file-excel-o"></i> </a>
            </div>                  
        </div>    
        <div class="row">
            <div class="counters col-md-2 col-sm-2">
                <span class="counter"><?=number_format($sub_total['CV'])?></span>   
                <h4>총 매출CV</h4>
            </div>
            <div class="counters col-md-2 col-sm-2">
                <span class="counter"><?=number_format($sub_total['PV'])?></span> 
                <h4>총 매출PV</h4>
            </div>
            <div class="counters col-md-2 col-sm-2">
                <span class="counter"><?=number_format($sub_total['FEE'])?></span>
                <h4>총 접수처 수수료</h4>
            </div>
            <div class="counters col-md-2 col-sm-2">
                <span class="counter"><?=number_format($sub_total['PRICE'])?></span>
                <h4>총 단가</h4>
            </div>
            <div class="counters col-md-2 col-sm-2">
                <span class="counter"><?=number_format($sub_total['VAT'])?></span>
                <h4>총 부가세</h4>
            </div>
            <div class="counters col-md-2 col-sm-2">
                <span class="counter"><?=number_format($sub_total['AMT'])?></span>
                <h4>총 결제 금액</h4>
            </div>
        </div>

        <hr>
    </div>
    
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th class="text-center"><a href="<?=$sort_no?>">NO </a><i></i></th>  
                <th class="text-center">접수처 정보</th>                    
                <th class="text-center"><a href="<?=$sort_cv?>">매출CV </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_pv?>">매출PV </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_reception?>">접수처 수수료 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_price?>">단가 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_vat?>">부가세 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_amt?>">결제금액 </a><i></i></th>                
            </tr>
        </thead>        
        <tbody>     
            <? foreach ($list as $o): ?>    
            <tr>    
                <td><?=$o['num']?></td>
                <td><?=$o['USERTEXT']?></td>                        
                <td><?=number_format($o['PV1'])?></td>
                <td><?=number_format($o['PV2'])?></td>
                <td><?=number_format($o['PV3'])?></td>                
                <td><?=number_format($o['PRICE'])?></td>
                <td><?=number_format($o['VAT'])?></td>
                <td><?=number_format($o['AMT'])?></td>                
            </tr>
            <? endforeach; ?>
        </tbody>
    </table>
    <? if (!$list): ?><p class="lead text-center text-muted">내역이 없습니다.</p><? endif; ?>
    
    <hr>

    <div class="pull-right">
        <?=$paging?>
    </div>
</div>

<style>
    .ui-datepicker-calendar 
    {
        display: none;
    }

    .ui-datepicker 
    {
        border:none ;
        -webkit-box-shadow:none ;
        box-shadow:none ;
    }

    .ui-datepicker-prev, .ui-datepicker-next 
    {
        width: 0px;
    }

    .ui-datepicker-header 
    {
        border-bottom: none;
    }
</style>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=JS_DIR?>/app.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script>

<script type='text/javascript'>
jQuery(function($)
{
    $('[data-rel="tooltip"]').tooltip() ;
    $('[data-rel=popover]').popover({container:'body'});
}) ;

jQuery(document).ready(function() 
{
    App.init();
    App.initCounter();

    $('.date').datepicker
    ({   
        defaultDate:'<?=$month?>/01/<?=$year?>',           
        changeMonth: true,  
        changeYear: true, 
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],          

        onChangeMonthYear: function( year, month, inst )
        {
            if ( month < 10 )
            {
                month = '0' + month ;
            }

            location.href = '/account/reception?year='+year+'&month='+month ;
        },
    });
});

if ( '<?=$sod?>' != 'asc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-desc color-red') ;
}
else if ( '<?=$sod?>' != 'desc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-asc color-red') ;
}

</script>