<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <div class="main-counters">
        <div class="row">
        <!--    <div class="counters col-md-2 col-sm-2">
                <span class="counter"><?=number_format($sub_total['CV'])?></span>   
                <h4>총 매출CV</h4>
            </div> -->
            <div class="counters col-md-3 col-sm-3">
                <span class="counter"><?=number_format($sub_total['PV'])?></span> 
                <h4>총 매출RB</h4>
            </div>
            <div class="counters col-md-3 col-sm-3">
                <span class="counter"><?=number_format($sub_total['PRICE'])?></span>
                <h4>총 단가</h4>
            </div>
            <div class="counters col-md-3 col-sm-3">
                <span class="counter"><?=number_format($sub_total['VAT'])?></span>
                <h4>총 부가세</h4>
            </div>
            <div class="counters col-md-3 col-sm-3">
                <span class="counter"><?=number_format($sub_total['AMT'])?></span>
                <h4>총 결제 금액</h4>
            </div>
        </div>

        <hr>
    </div>

    <section>
        <div class="headline">
            <div class="row">
                <div class="col-md-7">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                        전체내역건수 : <?=$total_count?> 건
                    </h5>
                </div>
                <div class="col-md-5" style="padding-right: 30px;">
                    <form name="fsearch" id="sky-form" class="sky-form" method="get" action="" onsubmit="return doSearch(this);">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="select_date" class="btn btn-default dropdown-toggle" data-toggle="dropdown">기간 </button>
                                    </div><!-- /btn-group -->
                                    <span class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" class="date"name="start" id="start" placeholder="시작일" value="<?=$start_date?>">
                                    </span>
                                </div><!-- /input-group -->                  
                            </div>
                            <div class="col-md-5">
                                <label class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" class="date"name="finish" id="finish" placeholder="종료일" value="<?=$finish_date?>">
                                </label>                                
                            </div>
                            <div class="col-md-1">
                                <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Tab v2 -->                
    <div class="tab-v2">
        <ul class="nav nav-tabs">
            <? foreach ($ord_type_list as $key => $value) : ?>
                <li class="<?=($key == $ord_type)?'active' : ''?>"><a href="/account/sub_list/recommand/ord_type/<?=$key?><?=$qstr?>"><?=$value?></a></li>
            <? endforeach ?>
        </ul>                
        <div class="tab-content">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th class="text-center"><a href="<?=$sort_no?>">NO </a><i></i></th>  
                        <th class="text-center">회원정보</th>    
                    <? if( !IS_MANAGER ) : ?>
                        <th class="text-center"><a href="<?=$sort_rlv?>">추천단계 </a><i></i></th>
                    <? endif ?>
                        <th class="text-center"><a href="<?=$sort_ord_date?>">주문일자 </a><i></i></th>
                        <th class="text-center"><a href="<?=$sort_ord_type?>">구분 </a><i></i></th>
                    <!--    <th class="text-center"><a href="<?=$sort_cv?>">매출CV </a><i></i></th> -->
                        <th class="text-center"><a href="<?=$sort_pv?>">매출RB </a><i></i></th>
                        <th class="text-center"><a href="<?=$sort_price?>">단가 </a><i></i></th>
                        <th class="text-center"><a href="<?=$sort_vat?>">부가세 </a><i></i></th>
                        <th class="text-center"><a href="<?=$sort_amt?>">결제금액 </a><i></i></th>                
                    </tr>
                </thead>        
                <tbody>     
                    <? foreach ($list as $o): ?>    
                    <tr>    
                        <td><?=$o['num']?></td>
                        <td><?=$o['USERTEXT']?></td>
                    <? if( !IS_MANAGER ) : ?>
                        <td><?=$o['RLV']?></td>
                    <? endif ?>
                        <td><?=$o['ORD_DATES']?></td>
                        <td><?=$o['ORD_TYPES']?></td>                
                    <!--    <td><?=number_format($o['PV1'])?></td> -->
                        <td><?=number_format($o['PV2'])?></td>
                        <td><?=number_format($o['PRICE'])?></td>
                        <td><?=number_format($o['VAT'])?></td>
                        <td><?=number_format($o['AMT'])?></td>                
                    </tr>
                    <? endforeach; ?>
                </tbody>
            </table>
            <? if (!$list): ?><p class="lead text-center text-muted">내역이 없습니다.</p><? endif; ?>
            
            <hr>

            <div class="pull-right">
                <?=$paging?>
            </div>
        </div>
    </div>
</div>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=JS_DIR?>/app.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script>

<script type='text/javascript'>
jQuery(function($)
{
    $('[data-rel="tooltip"]').tooltip() ;
    $('[data-rel=popover]').popover({container:'body'});
}) ;

jQuery(document).ready(function() 
{
    App.init();
    App.initCounter();

    $('#start').datepicker
    ({
        dateFormat: 'yymmdd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#finish').datepicker('option', 'minDate', selectedDate);
        }
    });

    $('#finish').datepicker
    ({
        dateFormat: 'yymmdd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#start').datepicker('option', 'maxDate', selectedDate);
        }
    });
});

if ( '<?=$sca?>' != '' )
{
    $('#sca').val('<?=$sca?>') ;
    $('#select_sca').html('<?=$sca?> <span class="caret"></span>') ;
}

if ( '<?=$sod?>' != 'asc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-desc color-red') ;
}
else if ( '<?=$sod?>' != 'desc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-asc color-red') ;
}

</script>