<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <section>
        <div class="headline">
            <div class="row">
                <div class="col-md-7">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                        전체내역건수 : <?=$total_count?> 건
                    </h5>
                </div>
                <div class="col-md-5" style="padding-right: 30px;">
                    <form name="fsearch" id="sky-form" class="sky-form" method="get" action="" onsubmit="return doSearch(this);">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="select_date" class="btn btn-default dropdown-toggle" data-toggle="dropdown">기간 </button>
                                    </div><!-- /btn-group -->
                                    <span class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" class="date"name="start" id="start" placeholder="시작일" value="<?=$start_date?>">
                                    </span>
                                </div><!-- /input-group -->                  
                            </div>
                            <div class="col-md-5">
                                <label class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" class="date"name="finish" id="finish" placeholder="종료일" value="<?=$finish_date?>">
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <form name="fboardlist" method="post" action="">

    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th class="text-center"><a href="<?=$sort_no?>">NO </a><i></i></th>  
                <th class="text-center">주문번호</th>    
                <th class="text-center"><a href="<?=$sort_end_date?>">원주문번호 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_payment_amount?>">공제번호 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_payment_type?>">공제번호상태 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_payment_date?>">주문일자 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_payment_result?>">매출PV </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_payment_result?>">단가 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_payment_result?>">부가세 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_payment_result?>">구분 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_payment_result?>">결제방법 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_payment_result?>">결제금액 </a><i></i></th>
            </tr>
        </thead>        
        <tbody>       
            <? foreach ($list as $o): ?>
            <tr>
                <td><?=$o['num']?></td>
                <td><?=$o['mb_name']?></td>
                <td><?=$o['wa_end_date']?></td>
                <td><?=number_format($o['mbwa_payment_amount'])?></td>
                <td><?=$weekly_acount[$o['mbwa_payment_type']]?></td>
                <td><?=$o['wa_payment_date']?></td>
                <td><?=$o['mbwa_payment_result']?></td>
            </tr>
            <? endforeach; ?>
        </tbody>
    </table>

    <? if (!$list): ?><p class="lead text-center text-muted">내역이 없습니다.</p><? endif; ?>

    <hr>

    <div class="pull-right">
        <?=$paging?>
    </div>

    </form>
</div>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=JS_DIR?>/app.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script>

<script type='text/javascript'>
jQuery(function($)
{
    $('[data-rel="tooltip"]').tooltip() ;
    $('[data-rel=popover]').popover({container:'body'});
}) ;

jQuery(document).ready(function() 
{
    App.init();
    App.initCounter();

    $('#start').datepicker
    ({
        dateFormat: 'yy-mm-dd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#finish').datepicker('option', 'minDate', selectedDate);
        }
    });

    $('#finish').datepicker
    ({
        dateFormat: 'yy-mm-dd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#start').datepicker('option', 'maxDate', selectedDate);
        }
    });
});

function set_sdt(sdt, sdt_s)
{
    $('#sdt').val(sdt) ;
    $('#sdt_s').val(sdt_s) ;
    $('#select_date').html(sdt_s+' <span class="caret"></span>') ;
}

if ( '<?=$sdt_s?>' != '' )
{
    $('#sdt_s').val('<?=$sdt_s?>') ;
    $('#select_date').html('<?=$sdt_s?> <span class="caret"></span>') ;
}

if ( '<?=$sdt?>' != '' )
{
    $('#sdt').val('<?=$sdt?>') ;
}

function set_sfl(sfl, sca)
{
    $('#sfl').val(sfl) ;
    $('#sca').val(sca) ;
    $('#select_sca').html(sca+' <span class="caret"></span>') ;
}

$('#stx').val('<?=$stx?>') ;

if ( '<?=$sfl?>' != '' )
{
    $('#sfl').val('<?=$sfl?>') ;
}

if ( '<?=$sca?>' != '' )
{
    $('#sca').val('<?=$sca?>') ;
    $('#select_sca').html('<?=$sca?> <span class="caret"></span>') ;
}

if ( '<?=$sod?>' != 'asc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-desc color-red') ;
}
else if ( '<?=$sod?>' != 'desc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-asc color-red') ;
}

</script>