<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">       
    <section>
        <div class="headline">
            <div class="row">
                <div class="col-md-7">
                </div>
                <div class="col-md-5" style="padding-right: 30px;">
                    <form name="fsearch" id="sky-form" class="sky-form" method="get" action="" onsubmit="return doSearch(this);">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="select_date" class="btn btn-default dropdown-toggle" data-toggle="dropdown">기간 </button>
                                    </div><!-- /btn-group -->
                                    <span class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" class="date"name="start" id="start" placeholder="시작일" value="<?=$start_date?>">
                                    </span>
                                </div><!-- /input-group -->                  
                            </div>
                            <div class="col-md-5">
                                <label class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" class="date"name="finish" id="finish" placeholder="종료일" value="<?=$finish_date?>">
                                </label>                                
                            </div>
                            <div class="col-md-1">
                                <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div class="main-counters">
        <div class="row">
            <!--<div class="counters col-md-3 col-sm-3">
                <span class="counter"><?=$a_sub_total_cv?></span>   
                <h4>A라인 매출CV</h4>
            </div>
            <div class="counters col-md-3 col-sm-3">
                <span class="counter"><?=$a_sub_total_pv?></span> 
                <h4>A라인 매출PV</h4>
            </div>
            <div class="counters col-md-3 col-sm-3">
                <span class="counter"><?=$b_sub_total_cv?></span>
                <h4>B라인 매출CV</h4>
            </div>
            <div class="counters col-md-3 col-sm-3">
                <span class="counter"><?=$b_sub_total_pv?></span>
                <h4>B라인 매출PV</h4>
            </div>-->            
            <div class="counters col-md-6 col-sm-6">
                <span class="counter"><?=$a_sub_total_pv?></span> 
                <h4>A라인 매출RB</h4>
            </div>            
            <div class="counters col-md-6 col-sm-6">
                <span class="counter"><?=$b_sub_total_pv?></span>
                <h4>B라인 매출RB</h4>
            </div>
        </div>

        <hr>
    </div>

    <form name="fboardlist" method="post" action="">
                
    <div class="row">
        <div class="col-md-6">
            <div>       
                <h5>
                    <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                    전체내역건수 : <?=$a_total_count?> 건
                </h5>
            </div>
            <!-- Tab v2 -->                
            <div class="tab-v2">
                <ul class="nav nav-tabs">
                    <? foreach ($ord_type_list as $key => $value) : ?>
                        <li class="<?=($key == $ord_type)?'active' : ''?>"><a href="/account/sub_list/support/ord_type/<?=$key?><?=$qstr?>"><?=$value?></a></li>
                    <? endforeach ?>
                </ul>                
                <div class="tab-content">
                    <table class="table table-bordered text-center">    
                        <thead>
                            <tr>
                                <th class="text-center" colspan="6">A라인 : <?=$a_user_id?> </th>
                            </tr>
                            <tr>
                                <th class="text-center">NO </th>  
                                <th class="text-center">회원정보</th>    
                                <th class="text-center">주문일자 </th>
                                <th class="text-center">구분 </th>
                            <!--    <th class="text-center">매출CV </th> -->
                                <th class="text-center">매출RB </th>                        
                            </tr>
                        </thead>        
                        <tbody>    
                            <? foreach ($a_list as $o): ?>                 
                            <tr>
                                <td><?=$o['num']?></td>    
                                <td><?=$o['USERTEXT']?></td>
                                <td><?=$o['ORD_DATES']?></td>
                                <td><?=$o['ORD_TYPES']?></td>
                            <!-- <td><?=number_format($o['PV1'])?></td> -->
                                <td><?=number_format($o['PV2'])?></td>                        
                            </tr>
                            <? endforeach; ?>
                        </tbody>
                    </table>
                    <? if (!$a_list): ?><p class="lead text-center text-muted">내역이 없습니다.</p><? endif; ?>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div>       
                <h5>
                    <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                    전체내역건수 : <?=$b_total_count?> 건
                </h5>
            </div>
            <!-- Tab v2 -->                
            <div class="tab-v2">
                <ul class="nav nav-tabs">
                    <? foreach ($ord_type_list as $key => $value) : ?>
                        <li class="<?=($key == $ord_type)?'active' : ''?>"><a href="/account/sub_list/support/ord_type/<?=$key?><?=$qstr?>"><?=$value?></a></li>
                    <? endforeach ?>
                </ul>                
                <div class="tab-content">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th class="text-center" colspan="6">B라인 : <?=$b_user_id?> </th>
                            </tr>
                            <tr>
                                <th class="text-center">NO </th>  
                                <th class="text-center">회원정보</th>    
                                <th class="text-center">주문일자 </th>
                                <th class="text-center">구분 </th>
                            <!--    <th class="text-center">매출CV </th> -->
                                <th class="text-center">매출RB </th>                        
                            </tr>
                        </thead>        
                        <tbody>    
                            <? foreach ($b_list as $o): ?>                   
                            <tr>
                                <td><?=$o['num']?></td>    
                                <td><?=$o['USERTEXT']?></td>
                                <td><?=$o['ORD_DATES']?></td>
                                <td><?=$o['ORD_TYPES']?></td>
                            <!--    <td><?=number_format($o['PV1'])?></td> -->
                                <td><?=number_format($o['PV2'])?></td>                        
                            </tr>
                            <? endforeach; ?>
                        </tbody>
                    </table>
                    <? if (!$b_list): ?><p class="lead text-center text-muted">내역이 없습니다.</p><? endif; ?>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="pull-right">
        <?=$paging?>
    </div>

    </form>
</div>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=JS_DIR?>/app.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script>

<script type='text/javascript'>
jQuery(function($)
{
    $('[data-rel="tooltip"]').tooltip() ;
    $('[data-rel=popover]').popover({container:'body'});
}) ;

jQuery(document).ready(function() 
{
    App.init();
    App.initCounter();

    $('#start').datepicker
    ({
        dateFormat: 'yymmdd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#finish').datepicker('option', 'minDate', selectedDate);
        }
    });

    $('#finish').datepicker
    ({
        dateFormat: 'yymmdd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#start').datepicker('option', 'maxDate', selectedDate);
        }
    });
});

</script>