<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">
    <section>
        <div class="headline">
            <div class="row">
                <div class="col-md-6">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp;
                        전체내역건수 : <?=$total_count?> 건
                    </h5>
                </div>
                <div class="col-md-5" style="padding-right: 30px;">
                    <form name="fsearch" id="sky-form" class="sky-form" method="get" action="" onsubmit="return doSearch(this);">
                        <input type="hidden" name="sdt" id="sdt" value="A.ORD_DATE"/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="select_date" class="btn btn-default dropdown-toggle" data-toggle="dropdown">기간 </button>
                                    </div><!-- /btn-group -->
                                    <span class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" class="date"name="start" id="start" placeholder="시작일" value="<?=$start_date?>">
                                    </span>
                                </div><!-- /input-group -->
                            </div>
                            <div class="col-md-5">
                                <label class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" class="date"name="finish" id="finish" placeholder="종료일" value="<?=$finish_date?>">
                                </label>
                            </div>
                            <div class="col-md-1">
                                <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-1">
                    <a href="/account/used_mobile/excel_center/<?=$qstr?>" class="btn-u btn-u-green"><i class="fa fa-file-excel-o"></i></a>
                </div>
            </div>
        </div>
    </section>

    <form name="fboardlist" method="post" action="">

    <table class="table text-center">
        <thead>
            <tr>
                <th class="text-center"><a href="<?=$sort_no?>">센터코드</a><i></i></th>
                <th class="text-center">센터명</th>
                <th class="text-center">연락처</th>
                <th class="text-center">은행</th>
                <th class="text-center">계좌번호</th>
                <th class="text-center">정산건수</th>
                <th class="text-center">총정산금액</th>
                <th class="text-center">기정산금액</th>
                <th class="text-center">미정산금액</th>
            </tr>
        </thead>
        <tbody>
            <? foreach ($list as $o): ?>
            <tr>
                <td><?=$o['ORD_CENTER']?></td>
                <td><a href="<?=$o['href']?>"><?=$o['CENTER_NAME']?></a></td>
                <td><?=$o['TEL']?></td>
                <td><?=$o['BANK']?>은행</td>
                <td><?=$o['ACCOUNT']?></td>
                <td><?=$o['CNT']?></td>
                <td><?=number_format($o['CNT']*10000)?> 원</td>
                <td class="color-blue"><strong><?=number_format($o['YES_DEPOSIT']*10000)?> 원</strong></td>
                <td class="color-red"><strong><?=number_format($o['NO_DEPOSIT']*10000)?> 원</strong></td>
            </tr>
            <? endforeach; ?>
        </tbody>
    </table>

    <? if (!$list): ?><p class="lead text-center text-muted">내역이 없습니다.</p><? endif; ?>

    <div>
        <?=$paging?>
    </div>
</div>