<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <section>
        <div class="headline">
            <div class="row">
                <div class="col-md-6">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                        전체내역건수 : <?=$total_count?> 건
                    </h5>
                </div>
                <div class="col-md-5" style="padding-right: 30px;">
                    <form name="fsearch" id="sky-form" class="sky-form" method="get" action="" onsubmit="return doSearch(this);">
                        <input type="hidden" name="sdt" id="sdt" value="A.ORD_DATE"/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="select_date" class="btn btn-default dropdown-toggle" data-toggle="dropdown">기간 </button>
                                    </div><!-- /btn-group -->
                                    <span class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" class="date"name="start" id="start" placeholder="시작일" value="<?=$start_date?>">
                                    </span>
                                </div><!-- /input-group -->                  
                            </div>
                            <div class="col-md-5">
                                <label class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" class="date"name="finish" id="finish" placeholder="종료일" value="<?=$finish_date?>">
                                </label>                                
                            </div>
                            <div class="col-md-1">
                                <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-1">
                    <a href="/account/used_mobile/excel_seller/<?=$qstr?>" class="btn-u btn-u-green"><i class="fa fa-file-excel-o"></i></a>
                </div>
            </div>
        </div>
    </section>

    <form name="fboardlist" method="post" action="">

    <table class="table table-bordered text-center">
        <thead>
            <tr>
            <? if ( IS_MANAGER ) : ?>
                <th><input type="checkbox" id="allcheck" /></th>
            <? endif ?>
                <th class="text-center"><a href="<?=$sort_no?>">NO </a><i></i></th>
                <th class="text-center">주문번호</th>
                <th class="text-center">상품명</th>
                <th class="text-center">사업자명</th>
                <th class="text-center">연락처</th>
                <th class="text-center">은행</th>
                <th class="text-center">계좌번호</th>
                <th class="text-center">접수일자</th>
                <th class="text-center">매입일자</th>
                <th class="text-center">확정매입가</th>
                <th class="text-center">판매센터</th>
                <th class="text-center">입금여부</th>
            </tr>
        </thead>        
        <tbody>
        <? foreach ($list as $o): ?>
        <tr>
        <? if ( IS_MANAGER ) : ?>
            <td><input type="checkbox" name="chk[]" value="<?=$o['ORDNO']?>" /></td>
        <? endif ?>
            <td><?=$o['num']?></td>
            <td><?=$o['ORDNO']?></td>
            <td><a href="<?=$o['href']?>"><?=$o['PDT_NAME']?></a></td>
            <td><a href="#" id='view_member' name='<?=$o['USERID']?>'><?=$o['USERNAME'].'('.$o['USERID'].')'?></a></td>
            <td><?=$o['ORD_MOBILE']?></td>
            <td><?=$o['BANK']?>은행</td>
            <td><?=$o['ACCOUNT']?></td>
            <td><?=$o['ORD_DATE']?></td>
            <td><?=$o['CONFIRM_DATE']?></td>
            <td><?=number_format($o['CONFIRM_AMT'])?></td>
            <td><?=$o['ORD_CENTER']?></td>
            <td>
                <div class="sky-form">
                <? if ( $o['IS_DEPOSIT'] == "X" ) : ?>
                <label class="toggle">
                    <? if ( IS_MANAGER ) : ?>
                    <input type="checkbox" id="IS_DEPOSIT" name="<?=$o['ORDNO']?>"><i></i>
                    <? else : ?>
                    <i class="fa fa-toggle-off"></i>
                    <? endif ?>
                </label>
                <? else : ?>
                    <? if ( IS_MANAGER ) : ?>
                    <label class="toggle"><input type="checkbox" id="IS_DEPOSIT" name="<?=$o['ORDNO']?>" checked="checked"><i></i>
                    <? else : ?>
                    <i class="fa fa-toggle-on color-red"></i>
                    <? endif ?>
                    </label>
                <? endif ?>
                </div>
            </td>
        </tr>
        <? endforeach; ?>
        </tbody>
    </table>

    <? if (!$list): ?><p class="lead text-center text-muted">내역이 없습니다.</p><? endif; ?>

    <hr>

    <div class="pull-right">
        <?=$paging?>
    </div>

    </form>
</div>

<style>
    .container
    {
        width: 1400px;
    }

    .input-group .form-control
    {
        z-index: 1;
    }

    .sky-form a
    {
        color: #e74c3c;
    }

    .sky-form .toggle i
    {
        top: 0px;
    }
</style>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=JS_DIR?>/app.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script>

<script type='text/javascript'>
jQuery(function($)
{
    $('[data-rel="tooltip"]').tooltip() ;
    $('[data-rel=popover]').popover({container:'body'});
}) ;

jQuery(document).ready(function() 
{
    App.init();
    App.initCounter();

    $('#start').datepicker
    ({
        dateFormat: 'yymmdd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#finish').datepicker('option', 'minDate', selectedDate);
        }
    });

    $('#finish').datepicker
    ({
        dateFormat: 'yymmdd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#start').datepicker('option', 'maxDate', selectedDate);
        }
    });
});

if ( '<?=$sod?>' != 'asc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-desc color-red') ;
}
else if ( '<?=$sod?>' != 'desc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-asc color-red') ;
}

<? if ( IS_MANAGER ) : ?>
$('#allcheck').click(function()
{
    $("input[name='chk[]']").attr('checked', this.checked);
});

// 주문상태 수정
$('input#IS_DEPOSIT').change(function()
{
    var is_deposit = $(this).is(":checked");
    var arr_ordno = '' ;

    $(":checkbox[name='chk[]']:checked").each(function()
    {
        arr_ordno += this.value + '.' ;
    }) ;

    if ( arr_ordno == '' )
    {
        arr_ordno = $(this).attr('name') ;
    }

    location.href = '/account/used_mobile/set_deposit?arr_ordno='+arr_ordno+'&is_deposit='+is_deposit ;
}) ;
<? endif ?>


</script>