<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <section>
        <div class="headline row">
            <div class="col-xs-6">
                <h4>정산 마감 일자 : </h4>
                <div class="btn-group">
                    <button type="button" id="sel_position" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <?=$pay_date?> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">                                
                        <? foreach ($pay_date_list as $key => $value) : ?>
                        <li><a href="/account/pay/week_d/pay_date/<?=$value['PAY_DATE']?>"><?=$value['PAY_DATE']?></a></li>
                        <? endforeach ?>
                    </ul>
                </div>
            </div>                   
        </div>             
    </section>

    <form name="fboardlist" method="post" action="">

    <table class="table table-bordered text-center">
        <thead>
            <tr>                
                <th class="text-center">마감일자 </th>    
                <th class="text-center">지급일자 </th>    
                <th class="text-center">마감직급 </th>
            <!--    <th class="text-center">매출CV </th> -->
                <th class="text-center">매출RB </th>
                <th class="text-center">정착지원보너스 </th>                
                <th class="text-center">공유보너스 </th>                
                <th class="text-center">수당합계 </th>
                <th class="text-center">세금합계 </th>
                <th class="text-center">실지급액 </th>
            </tr>
        </thead>        
        <tbody>       
            <? foreach ($list as $o): ?>
            <tr>                    
                <td><?=$o['PAY_DATES']?></td>
                <td><?=$o['GIVE_DATES']?></td>
                <td><?=$o['OLD_FULL_NAME']?></td>
            <!--    <td><?=number_format($o['CV'])?></td> -->
                <td><?=number_format($o['PV'])?></td>
            <? if ( $type == 'week' ) : ?>
                <td><?=number_format($o['AMT_WPT'])?></td>
                <td><?=number_format($o['AMT_WCY'])?></td>  
            <? else : ?>    
                <td><?=number_format($o['AMT_MFEE'])?></td>
                <td><?=number_format($o['AMT_MDIRECT'])?></td>   
            <? endif ?>                                     
                <td><?=number_format($o['TOTAL_AMT'])?></td>
                <td><?=number_format($o['TOTAL_TAX'])?></td>
                <td><?=number_format($o['TRUE_AMT'])?></td>
            </tr>
        <? if ( $pay_week_pt_list ) : ?>
            <tr>
                <td colspan="11">
                    <table class="table table-bordered text-center">      
                        <thead>
                            <tr>                     
                                <th class="text-center">NO </th>                                             
                                <th class="text-center">회원번호 </th>    
                                <th class="text-center">회원명 </th>
                                <th class="text-center">RB </th>                                                            
                                <th class="text-center">단계 </th>
                                <th class="text-center">지급비율 </th>
                                <th class="text-center">정착지원보너스 </th>
                            </tr>
                        </thead>        
                        <tbody>           
                            <? foreach ($pay_week_pt_list as $key => $row): ?>
                            <tr>
                                <td><?=count($pay_week_pt_list) - $key?></td>
                                <td><?=$row['USERID']?></td>
                                <td><?=$row['USERNAME']?></td>
                                <td><?=number_format($row['CV'])?></td>
                                <td><?=$row['P_LV']?></td>
                                <td><?=$row['PAY_RATE']?></td>
                                <td><?=number_format($row['AMT_WPT'])?></td>
                            </tr>
                            <? endforeach; ?>    
                        </tbody>           
                    </table>
                </td>
            </tr>
        <? endif ?>
            <? endforeach; ?>               
        </tbody>
    </table>

    <? if (!$list): ?><p class="lead text-center text-muted">내역이 없습니다.</p><? endif; ?>

    <hr>

    </form>
</div>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=JS_DIR?>/app.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script>

<script type='text/javascript'>
jQuery(function($)
{
    $('[data-rel="tooltip"]').tooltip() ;
    $('[data-rel=popover]').popover({container:'body'});
}) ;

jQuery(document).ready(function() 
{
    App.init();
});
</script>