<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">    
    <div class="main-counters margin-bottom-40">
        <div class="headline"><h2>주간 정산 리스트</h2>
    </div>
    
    <form name="fboardlist" method="post" action="">
    

    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th class="text-center" rowspan="2">NO</th>  
                <th class="text-center" rowspan="2">시작일</th>    
                <th class="text-center" rowspan="2">마감일</th>
                <th class="text-center" rowspan="2">주문건수</th>
                <th class="text-center" rowspan="2">총 CV</th>
                <th class="text-center" rowspan="2">총 PV</th>
                <th class="text-center" rowspan="2">지급예정일</th>          
                <th class="text-center" rowspan="2">정착지원</th>          
                <th class="text-center" colspan="2">영업지원</th>      
                <th class="text-center" colspan="3">공유보너스</th>  
            </tr>
            <tr>         
                <th class="text-center">브론즈</th>
                <th class="text-center">실버</th>
                <th class="text-center">골드이상</th>
                <th class="text-center">골드</th>
                <th class="text-center">플래티넘</th>  
            </tr>
        </thead>        
        <tbody>       
            <? foreach ($list as $o): ?>
            <tr>
                <td><?=$o['num']?></td>
                <td><?=$o['wa_start_date']?></td>
                <td><?=$o['wa_end_date']?></td>
                <td><?=number_format($o['wa_total_order_count'])?></td>
                <td><?=number_format($o['wa_total_cv'])?></td>
                <td><?=number_format($o['wa_total_pv'])?></td>
                <td><?=$o['wa_payment_date']?></td>      
                <td><?=number_format($o['wa_direct_cv'])?></td>   
                <td><?=number_format($o['wa_bfs_cv'])?></td>   
                <td><?=number_format($o['wa_sfs_cv'])?></td>   
                <td><?=number_format($o['wa_gold_upper_cv'])?></td> 
                <td><?=number_format($o['wa_gold_cv'])?></td> 
                <td><?=number_format($o['wa_platinum_cv'])?></td> 
            </tr>
            <? endforeach; ?>
        </tbody>
    </table>

    <? if (!$list): ?><p class="lead text-center text-muted">주문 내역이 없습니다.</p><? endif; ?>

    <hr>

    <div class="pull-right">
        <?=$paging?>
    </div>

    </form>
</div>

<style>
    .input-group .form-control 
    {
      z-index: 1;
    }

    .table>thead>tr>th 
    {
      vertical-align: middle;
    }
</style>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>

<script type="text/javascript">


</script>