<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">    
    <form action="" id="sky-form" class="sky-form">
        <div class="main-counters margin-bottom-40">       
            <div class="headline"><h2>주간 정산</h2></div>
            <fieldset>                        
                <div class="row">
                    <section class="col col-2">

                        <a href="javascript:;" onclick="prev_date();">
                            <span class="item pull-left">
                                <i class="fa fa-chevron-left icon-lg"></i>
                            </span>
                        </a>
                    </section>
                    <section class="col col-4">
                        <label class="label">시작일</label>  
                        <label class="input state-success">
                            <i class="icon-append fa fa-calendar"></i>
                            <input type="text" name="start" id="start" placeholder="Start date" value="<?= $start_date ?> <?=$start_day_name?>" disabled >
                        </label>
                    </section>
                    <section class="col col-4">
                        <label class="label">마감일</label>
                        <label class="input state-success">
                            <i class="icon-append fa fa-calendar"></i>
                            <input type="text" name="finish" id="finish" placeholder="Expected finish date" value="<?= $end_date ?> <?=$end_day_name?>" disabled >
                        </label>
                    </section>
                    <section class="col col-2">
                        <a href="javascript:;" onclick="next_date();">
                            <span class="item pull-right">
                                <i class="fa fa-chevron-right icon-lg"></i>                                        
                            </span>
                        </a>
                    </section>
                </div>                  
            </fieldset>
            <? if ($list): ?>
                <div class="margin-bottom-50"><hr></div>
                <div class="row">
                    <div class="row margin-bottom-40">
                        <div class="counters col-md-4 col-sm-4">
                            <span class="counter"><?=$total_count?></span>   
                            <h4>총 개통건수</h4>
                        </div>
                        <div class="counters col-md-4 col-sm-4">
                            <span class="counter"><?= number_format($sum_value['sum_cv'])?></span> 
                            <h4>총 CV</h4>
                        </div>
                        <div class="counters col-md-4 col-sm-4">
                            <span class="counter"><?= number_format($sum_value['sum_pv'])?></span>
                            <h4>총 PV</h4>
                        </div>                
                    </div>
                </div>
            <? endif; ?>
            <div class="margin-bottom-50"><hr></div>
        </div>
    </form>

    <form name="fboardlist" method="post" action="">

    <input type="hidden" name="start_date" id="start_date" value="<?=$start_date?>"/>
    <input type="hidden" name="end_date" id="end_date" value="<?=$end_date?>"/>

    <? if ($list): ?>

    <table class="table text-center">
        <thead>
            <tr>
                <th class="text-center">NO</th>  
                <th class="text-center">상품명</th>    
                <th class="text-center">회원번호</th>
                <th class="text-center">명의자</th>
                <th class="text-center">주민번호</th>
                <th class="text-center">연락처</th>
                <th class="text-center">비상연락처</th>
                <th class="text-center">개통일자</th>
                <th class="text-center">CV</th>
                <th class="text-center">PV</th>
            </tr>
        </thead>        
        <tbody>       
            <? foreach ($list as $o): ?>
            <tr>
                <td><?=$o['num']?></td>
                <td><?=$o['op_product_name']?></td>
                <td><?=$o['mb_id']?></td>
                <td><?=$o['mb_name']?></td>
                <td><?=$o['mb_jumin_no']?></td>
                <td><?=$o['odv_recipient_tel']?></td>
                <td><?=$o['odv_recipient_hp']?></td>
                <td><?=$o['or_open_date']?></td>
                <td><?=$o['op_commission_value']?></td>
                <td><?=$o['op_promotion_value']?></td>
            </tr>
            <? endforeach; ?>
        </tbody>
    </table>
    <? else : ?>
        <p class="lead text-center text-muted">정산 내용이 없습니다.</p>
    <? endif; ?>

    

    <hr>

    <div class="pull-right">
        <?=$paging?>
    </div>

    <? if ($list): ?>
        <div class="pull-left">        
            <button class="btn-u btn-brd btn-brd-hover rounded-4x btn-u-blue" onclick="account_now();">
                <span aria-hidden="true" class="icon-credit-card"></span> 주간 정산하기
            </button>
        </div>
    <? endif; ?>

    <button class="btn-u btn-brd btn-brd-hover rounded-4x btn-u-blue" onclick="account_direct_now();">
        <span aria-hidden="true" class="icon-credit-card"></span> 회원 다이렉트 수당 지급
    </button>

    </form>
</div>

<style>
    .input-group .form-control 
    {
      z-index: 1;
    }
</style>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=JS_DIR?>/app.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script>
<script src="<?=JS_DIR?>/plugins/datepicker.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initCounter();      
        //Datepicker.initDatepicker();

        $('#date-picker').datepicker
        ({
            defaultDate: '04/01/2015',
            changeMonth: true,  
            changeYear: true, 

            monthNames : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
            dayNames : ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],
            onChangeMonthYear: function( year, month, inst )
            {
                alert( month );
                //window.location.href = '<?=RT_PATH?>/sms/lists/used_sms?year='+year+'&month='+month ;               
                //$( "form[name=fdate]" ).submit();
            },           
    
        });

    });


    // 주간 정산
    function account_now() 
    {
        var f = document.fboardlist;        
        if (!confirm('주간 정산을 실행하시겠습니까?'))
        {
            return;    
        }
    
        f.action = rt_path + '/_trans/weekly_account/update';
        f.submit();
    }

    // 다이렉트 수당 지급
    function account_direct_now() 
    {
        var f = document.fboardlist;        
        if (!confirm('다이렉트 수당을 지급하시겠습니까?'))
        {
            return;    
        }
    
        f.action = rt_path + '/_trans/weekly_account/update_direct';
        f.submit();
    }

    function prev_date()
    {        
        window.location.href = '<?=RT_PATH?>/account/weekly_order_lists?start_date=<?=$last_start_date?>&end_date=<?=$last_end_date?>' ; 
    }

    function next_date()
    { 
        <? if( $next_start_date != '' ) : ?>
            window.location.href = '<?=RT_PATH?>/account/weekly_order_lists?start_date=<?=$next_start_date?>&end_date=<?=$next_end_date?>' ; 
        <? endif; ?>
    }
    
</script>