<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/ladda-buttons/css/custom-lada-btn.css">

<div class="container content">     
    <div class="row">
        <div class="col-md-9 col-md-offset-1">           
            <form id="fjoin" class="sky-form" name="fjoin" method="post" novalidate="novalidate" action="<?=RT_PATH?>/consult/plan/insert">

            	<header><i class="rounded-x fa fa-check margin-right-5"></i> 요금제 정보 입력</header>

                <fieldset>	 
                	<section>
	                    <div class="row">
	                    	<label class="label col col-3">통신사</label>
                            <div class="col col-2" style="margin-bottom:0px;">                            
                                <select id="TEL_COMPANY" name="TEL_COMPANY" class="form-control">							
								<? foreach ($vender_list as $key => $value) : ?>                    
                                	<option value="<?=$key?>"><?=$value?></option>
								<? endforeach ?>
                                </select>                            	
                            </div>

                            <div class="col col-1"></div>

                            <label class="label col col-3">사용여부</label>
                            <div class="col col-2">
                                <label class="label">
                                    <input type="checkbox" name="IS_USE"><i></i>
                                </label>        
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-3">요금제명</label>
                            <div class="col col-2">
                                <label class="input">
                                    <input type="input" name="CP_NAME" placeholder="" class="invalid" value="">
                                </label>           
                            </div>

                            <div class="col col-1"></div>

                            <label class="label col col-3">기본료</label>
                            <div class="col col-2">
                                <label class="input">                                
                                    <input type="text" name="CP_PRICE" value="" />
                                </label>           
                            </div>                            
                        </div>
                    </section>

	                <section>
	                    <div class="row">                           
                            <label class="label col col-3">요금할인</label>
	                        <div class="col col-2">
                                <label class="input">                                
                                    <input type="text" name="CP_DISCOUNT" value="" />
                                </label>	       
                            </div>

                            <div class="col col-1"></div>
                            
                            <label class="label col col-3">무선 결합 할인 금액</label>
                            <div class="col col-2">
                                <label class="input">                                
                                    <input type="text" name="NET_COMBI_DISCOUNT" value="" />
                                </label>                                       
                            </div>
	                    </div>
	                </section>

	                <section>
	                	<div class="row">
	                        <label class="label col col-3">기본 제공 통화량 (분)</label>
	                        <div class="col col-2">
                                <label class="input">                                
                                    <input type="text" name="FREE_CALL" value="" />
                                </label>	       
                            </div>

                            <div class="col col-1"></div>

                            <label class="label col col-3">음성 초과 요금 (분당)</label>
                            <div class="col col-2">
                                <label class="input">                                
                                    <input type="text" name="PLUS_CALL_PRICE" value="" />
                                </label>           
                            </div>
	                    </div>
	                </section>

	                <section>
	                	<div class="row">
	                        <label class="label col col-3">기본 제공 문자 (건)</label>
	                        <div class="col col-2">
                                <label class="input">                                
                                    <input type="text" name="FREE_SMS" value="" />
                                </label>	       
                            </div>

                            <div class="col col-1"></div>

                            <label class="label col col-3">문자 초과 요금 (건당)</label>
                            <div class="col col-2">
                                <label class="input">                                
                                    <input type="text" name="PLUS_SMS_PRICE" value="" />
                                </label>           
                            </div>
	                    </div>                        
	                </section>

	                <section>
	                	<div class="row">
	                        <label class="label col col-3">기본 제공 데이터 (GB)</label>
	                        <div class="col col-2">
                                <label class="input">                                
                                    <input type="text" name="FREE_DATA" value="" />
                                </label>	       
                            </div>

                            <div class="col col-1"></div>

                            <label class="label col col-3">데이터 초과 요금 (GB)</label>
                            <div class="col col-2">
                                <label class="input">                                
                                    <input type="text" name="PLUS_DATA_PRICE" value="" />
                                </label>           
                            </div>
	                    </div>
	                </section>

                    <section>
                        <div class="row">
                            <label class="label col col-3">기타 내용</label>
                            <div class="col col-8">
                                <div class="textarea textarea-expandable">
                                    <textarea name="ETC_MSG" rows="3" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </section>
                </fieldset>
                
                <footer class="text-center">
                    <button type="submit" class="btn-u btn-u-lg">요금제 등록</button>
                </footer>                               
            </form>
        </div>
    </div>
</div>

<style>
.sky-form .col 
{
	padding-left: 0px ;
}
</style>

<!--[if lt IE 9]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script src="<?=PLUGIN_DIR?>/ladda-buttons/js/spin.min.js"></script>
<script src="<?=PLUGIN_DIR?>/ladda-buttons/js/ladda.min.js"></script>
<script src="<?=JS_DIR?>/plugins/ladda-buttons.js"></script>	

<script type='text/javascript' src='<?=JS_DIR?>/md5.js'></script>
<script type='text/javascript' src='<?=JS_DIR?>/kcaptcha.js'></script>
<script type='text/javascript' src='<?=JS_DIR?>/custom_validation/member.js'></script>

<script type='text/javascript'>
//<![CDATA[
//]]>
</script>