<link rel="stylesheet" href="<?=PLUGIN_DIR?>/jquery-steps/css/custom-jquery.steps.css">
<link rel="stylesheet" href="<?=CSS_DIR?>/custom.css">

<div class="container content">
    <form class="shopping-cart" method="post">
    <div>
        <div class="header-tags">            
            <div class="overflow-h">
                <h2>가계통신비 정보 입력</h2>                
                <i class="rounded-x fa fa-pencil"></i>
            </div>    
        </div>
        <section>
            <div class="row pricing-mega-v3">
                <div class="col-md-2">
                    <div class="pricing hidden-area">
                        <ul class="pricing-content list-unstyled">
                            <li>
                                <i class="fa fa-users"></i> 통신사
                            </li>
                            <li class="bg-color">
                                <i class="fa fa-location-arrow"></i> 추천통신사
                            </li>                    
                            <li>
                                <i class="fa fa-briefcase"></i> 사용요금제
                            </li>                            
                            <li class="bg-color" style="display:none;">
                                <i class="fa fa-link"></i> 결합유무
                            </li>                    
                            <li>
                                <i class="fa fa-credit-card"></i> 카드 할인 혜택
                            </li>
                            <li class="bg-color">
                                <i class="fa fa-credit-card"></i> 카드 사용 금액
                            </li>
                            <li>
                                <i class="fa fa-credit-card"></i> 제휴카드 결합 의사
                            </li>
                            <li class="bg-color">
                                <i class="fa fa-gift"></i> 복지 할인
                            </li>
                            <li>
                                <i class="fa fa-phone"></i> 통화 사용량(분)
                            </li>
                            <li class="bg-color">
                                <i class="fa fa-envelope"></i> 문자 사용량(건)
                            </li>
                            <li>
                                <i class="fa fa-leaf"></i> 데이터 사용량(GB)
                            </li>
                            <li class="bg-color">
                                <i class="fa fa-star"></i> 월 청구 요금
                            </li>
                        </ul>
                    </div>
                </div>
                <? foreach ($menu_title as $idx => $menu) : ?>
                <div class="col-md-2 block">
                    <div class="pricing">
                        <div class="pricing-head purple">
                            <h3><?=$menu?><span>통신사 및 요금제를 선택하세요</span></h3>
                        </div>
                        <ul class="pricing-content list-unstyled ">
                            <li>
                                <select id='select_vender' name="<?=$idx?>">
                                    <option value="">없음</option>
                                <? foreach ($vender_list as $key => $value) : ?>
                                    <option value="<?=$key?>"><?=$value?></option>
                                <? endforeach ?>
                                </select>
                            </li>
                            <li class="bg-color">
                                <select id='recommand_vender_<?=$idx?>'>
                                    <option value="">없음</option>
                                <? foreach ($vender_list as $key => $value) : ?>
                                    <option value="<?=$key?>"><?=$value?></option>
                                <? endforeach ?>
                                </select>
                            </li>
                            <li>
                                <select id='select_calling_plan_<?=$idx?>' name='select_calling_plan_<?=$idx?>'>
                                </select>
                            </li>
                            <li class="bg-color" style="display:none;">
                                <select id='combi_<?=$idx?>'>
                                <? foreach ($select_combi as $key => $value) : ?>
                                    <option value="<?=$key?>"><?=$value?></option>
                                <? endforeach ?>
                                </select>
                            </li>
                            <li>
                                <input type="text" id='card_discount_<?=$idx?>' name='card_discount_<?=$idx?>'/>
                            </li>
                            <li class="bg-color">                        
                                <input type="text" id='card_using_<?=$idx?>' name='card_using_<?=$idx?>'/>
                            </li>
                            <li>      
                                <select id='combi_card_<?=$idx?>'>
                                <? foreach ($select_card_combi as $key => $value) : ?>
                                    <option value="<?=$key?>"><?=$value?></option>
                                <? endforeach ?>
                                </select>                
                            </li>
                            <li class="bg-color">  
                                <select id='benefit_discount_<?=$idx?>'>
                                <? foreach ($select_benefit as $key => $value) : ?>
                                    <option value="<?=$key?>"><?=$value?></option>
                                <? endforeach ?>
                                </select>                      
                            </li>
                            <li>
                                <input type="text" id='call_using_<?=$idx?>' name='call_using_<?=$idx?>'/>
                            </li>
                            <li class="bg-color">   
                                <input type="text" id='sms_using_<?=$idx?>' name='sms_using_<?=$idx?>'/>                     
                            </li>
                            <li>                    
                                <input type="text" id='data_using_<?=$idx?>' name='data_using_<?=$idx?>'/>    
                            </li>
                            <li class="bg-color">                    
                                <input type="text" id='monthly_price_<?=$idx?>' name='monthly_price_<?=$idx?>'/>    
                            </li>
                        </ul>
                    </div>
                </div>
                <? endforeach ?>
            </div>
        </section>

        <div class="header-tags">
            <div class="overflow-h">
                <h2>가계통신비 컨설팅 전</h2>
                <i class="rounded-x fa fa-wrench"></i>
            </div>    
        </div>
        <section>
            <div class="row pricing-mega-v3">
                <div class="col-md-2">
                    <div class="pricing hidden-area">
                        <ul class="pricing-content list-unstyled">
                            <li>
                                <i class="fa fa-users"></i> 통신사
                            </li>                   
                            <li class="bg-color">
                                <i class="fa fa-briefcase"></i> 사용요금제
                            </li>
                            <li>
                                <i class="fa fa-star-o"></i> 기본료
                            </li>
                            <li class="bg-color">
                                <i class="fa fa-smile-o"></i> 요금할인
                            </li>
                            <li>
                                <i class="fa fa-link"></i> 결합할인
                            </li>                    
                            <li class="bg-color">
                                <i class="fa fa-credit-card"></i> 카드 할인 혜택
                            </li>
                            <li>
                                <i class="fa fa-gift"></i> 복지 할인
                            </li>
                            <li class="bg-color">
                                <i class="fa fa-phone"></i> 통화 초과 사용료
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i> 문자 초과 사용료
                            </li>
                            <li class="bg-color">
                                <i class="fa fa-leaf"></i> 데이터 초과 사용료
                            </li>
                            <li>
                                <i class="fa fa-heart-o"></i> 기타 사용 요금
                            </li>
                        </ul>
                         <div class="pricing-head ">
                            <h4 class="price">월 청구 요금</h4>
                        </div>
                    </div>
                </div>
                <? foreach ($menu_title as $idx => $menu) : ?>
                <div class="col-md-2 block">
                    <div class="pricing">
                        <div class="pricing-head purple">
                            <h3 style="padding: 22px 0;"><?=$menu?></h3>
                        </div>
                        <ul class="pricing-content list-unstyled ">
                            <li id='before_vender_<?=$idx?>'></li>
                            <li class="bg-color" id='before_calling_plan_<?=$idx?>'></li>
                            <li class="number" id='before_basic_price_<?=$idx?>'></li>
                            <li class="bg-color" style="color:rgb(231,76,60);" id='before_price_discount_<?=$idx?>'></li>
                            <li style="color:rgb(231,76,60);" id='before_combi_discount_<?=$idx?>'></li>
                            <li class="bg-color" style="color:rgb(231,76,60);" id='before_card_discount_<?=$idx?>'></li>
                            <li style="color:rgb(231,76,60);" id='before_benefit_discount_<?=$idx?>'></li>
                            <li class="bg-color number" id='before_plus_call_<?=$idx?>'></li>
                            <li class="number" id='before_plus_sms_<?=$idx?>'></li>
                            <li class="bg-color number" id='before_plus_data_<?=$idx?>'></li>
                            <li class="number" id='before_etc_price_<?=$idx?>'></li>
                        </ul>
                        <div class="pricing-head">
                            <h4 class="price" id="before_monthly_price_<?=$idx?>">
                            </h4>
                        </div>
                    </div>
                </div>
                <? endforeach ?>
            </div>            
        </section>

        <div class="header-tags">
            <div class="overflow-h">
                <h2>가계통신비 컨설팅 후</h2>                
                <i class="rounded-x fa fa-info"></i>
            </div>    
        </div>
        <section>
            <div class="row pricing-mega-v3">
                <div class="col-md-2">
                    <div class="pricing hidden-area">
                        <ul class="pricing-content list-unstyled">
                            <li>
                                <i class="fa fa-users"></i> 통신사
                            </li>                   
                            <li class="bg-color">
                                <i class="fa fa-briefcase"></i> 요금제
                            </li>
                            <li>
                                <i class="fa fa-star-o"></i> 기본료
                            </li>
                            <li class="bg-color">
                                <i class="fa fa-smile-o"></i> 요금할인
                            </li>
                            <li>
                                <i class="fa fa-link"></i> 결합할인
                            </li>                    
                            <li class="bg-color">
                                <i class="fa fa-credit-card"></i> 카드 할인 혜택
                            </li>
                            <li>
                                <i class="fa fa-gift"></i> 복지 할인
                            </li>
                            <li class="bg-color">
                                <i class="fa fa-phone"></i> 통화 초과 사용료
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i> 문자 초과 사용료
                            </li>
                            <li class="bg-color">
                                <i class="fa fa-leaf"></i> 데이터 초과 사용료
                            </li>
                            <li>
                                <i class="fa fa-heart-o"></i> 기타 사용 요금
                            </li>
                        </ul>
                         <div class="pricing-head ">
                            <h4 class="price">월 청구 요금</h4>
                        </div>
                    </div>
                </div>
                <? foreach ($menu_title as $idx => $menu) : ?>
                <div class="col-md-2 block">
                    <div class="pricing">
                        <div class="pricing-head purple">
                            <h3 style="padding: 22px 0;"><?=$menu?></h3>
                        </div>
                        <ul class="pricing-content list-unstyled ">
                            <li id='after_vender_<?=$idx?>'></li>
                            <li class="bg-color" id='after_calling_plan_<?=$idx?>'></li>
                            <li class="number" id='after_basic_price_<?=$idx?>'></li>
                            <li class="bg-color" style="color:rgb(231,76,60);" id='after_price_discount_<?=$idx?>'></li>
                            <li style="color:rgb(231,76,60);" id='after_combi_discount_<?=$idx?>'></li>
                            <li class="bg-color" style="color:rgb(231,76,60);" id='after_card_discount_<?=$idx?>'></li>
                            <li style="color:rgb(231,76,60);" id='after_benefit_discount_<?=$idx?>'></li>
                            <li class="bg-color number" id='after_plus_call_<?=$idx?>'></li>
                            <li class="number" id='after_plus_sms_<?=$idx?>'></li>
                            <li class="bg-color number" id='after_plus_data_<?=$idx?>'></li>
                            <li class="number" id='after_etc_price_<?=$idx?>'></li>
                        </ul>
                        <div class="pricing-head">
                            <h4 class="price" id="after_monthly_price_<?=$idx?>">
                            </h4>
                        </div>
                    </div>
                </div>
                <? endforeach ?>
            </div>            
        </section>
    </div>
    </form>
</div>

<style>
    .container
    {
        width: 1400px;
    }

    .col-md-2 
    {
        float: left;
        padding-right: 0px;        
    }

    .block
    {
        padding-left: 0px; 
    }
</style>

<script src="<?=PLUGIN_DIR?>/jquery-steps/build/jquery.steps.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>        
<script src="<?=JS_DIR?>/plugins/stepWizard.js"></script>

<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() 
    {
        App.init();
        StepWizard.initStepWizard();

        $("a[href='#previous']").html('이전') ;
        $("a[href='#next']").html('다음') ;
        $("a[href='#finish']").html('완료') ;

        <? foreach ($menu_title as $idx => $menu) : ?>
        $('#select_calling_plan_<?=$idx?>').hide() ;
        <? endforeach ?>

        $('select#select_vender').change(function()    
        {    
            var vender_cd = $(this).val() ;
            var select_calling_plan = "#select_calling_plan_"+$(this).attr('name') ;

            $(select_calling_plan).empty() ;
            $(select_calling_plan).hide() ;

            $.ajax({
                dataType : "JSON",
                type : "POST",
                url : "/consult/plan/get_calling_plan",
                data : 
                {
                    "vender_cd" : vender_cd
                },
                success : function (data) 
                {
                    if ( data != ' NULL' )
                    { 
                        $.each(data, function(key, val) 
                        {
                            var option = "<option value='" ;

                            $.each(val, function(key2, val2) 
                            {                                                        
                                if ( 'CP_ID' == key2 )
                                {
                                    option += val2+"'>" ;
                                }
                                else if ( 'CP_NAME' == key2 )
                                {
                                    option += val2+"</option>" ;
                                }                                
                            }) ;

                            $('#select_calling_plan').append(option) ;                        
                        });                     

                        $(select_calling_plan).show() ;
                    }
                }
            });
        }) ;  

        $("#steps-uid-0-t-1, #steps-uid-0-t-2").bind('click', function () 
        {
            var arr_recommand_vender = new Array() ;    
            var arr_calling_plan = new Array() ; 
            var arr_combi = new Array() ; 

            var arr_call_using = new Array() ;    
            var arr_sms_using = new Array() ;                
            var arr_data_using = new Array() ;    
            var arr_benefit = new Array() ;    

            var arr_card_discount = new Array() ;  
            var arr_card_using = new Array() ;  
            var arr_combi_card = new Array() ;  

            var arr_monthly_price = new Array() ;  
            var arr_etc_price = new Array() ;

            <? foreach ($menu_title as $idx => $menu) : ?>
            {            
                arr_calling_plan[<?=$idx?>] = $('#select_calling_plan_<?=$idx?>').val() ;
                arr_recommand_vender[<?=$idx?>] = $('#recommand_vender_<?=$idx?>').val() ;

                arr_combi[<?=$idx?>] = $("#combi_<?=$idx?> option:selected").text() ;

                arr_call_using[<?=$idx?>] = $('#call_using_<?=$idx?>').val() ;
                arr_sms_using[<?=$idx?>] = $('#sms_using_<?=$idx?>').val() ;
                arr_data_using[<?=$idx?>] = $('#data_using_<?=$idx?>').val() ;
                arr_benefit[<?=$idx?>] = $("#benefit_discount_<?=$idx?> option:selected").text() ;

                arr_card_discount[<?=$idx?>] = $('#card_discount_<?=$idx?>').val() ;
                arr_card_using[<?=$idx?>] = $('#card_using_<?=$idx?>').val() ;
                arr_combi_card[<?=$idx?>] = $("#combi_card_<?=$idx?> option:selected").text() ;

                arr_monthly_price[<?=$idx?>] = $('#monthly_price_<?=$idx?>').val() ;                
                arr_etc_price[<?=$idx?>] = $('#before_etc_price_<?=$idx?>').text() ;                

                // 통신사
                var before_vender = $("select#select_vender[name='<?=$idx?>'] option:selected").text() ;
                $('#before_vender_<?=$idx?>').text(before_vender) ;

                var after_vender = $("#recommand_vender_<?=$idx?> option:selected").text() ;
                $('#after_vender_<?=$idx?>').text(after_vender) ;                                                
            }
            <? endforeach ?>    

            if ( $('.last').attr('aria-selected') == 'true' )            
            {      
                $.ajax({
                    dataType : "JSON",
                    type : "POST",
                    url : "/consult/plan/get_recommand_calling_plan_list",
                    data : 
                    {
                        "arr_recommand_vender" : arr_recommand_vender,
                        "arr_combi" : arr_combi,
                        "arr_call_using" : arr_call_using,
                        "arr_sms_using" : arr_sms_using,
                        "arr_data_using" : arr_data_using,
                        "arr_benefit" : arr_benefit,
                        "arr_card_discount" : arr_card_discount,
                        "arr_card_using" : arr_card_using,
                        "arr_combi_card" : arr_combi_card,
                        "arr_etc_price" : arr_etc_price   
                    },
                    success : function (data) 
                    {
                        $.each(data, function(key, val) 
                        {
                            $.each(val, function(key2, val2) 
                            {
                                if ( 'after_monthly_price_'+key == key2 )
                                {                                    
                                    val2 = "<i>₩ " + $.number( val2 ) + "</i>" ;

                                    $('#'+key2).html(val2) ;
                                }
                                else if ( key2.indexOf('discount') > -1 )
                                {
                                    val2 = (val2 > 0 ) ? '- '+$.number( val2 ) : '' ; 

                                    $('#'+key2).text(val2) ;
                                }
                                else
                                {                                    
                                    if ( 'after_calling_plan_'+key != key2 )
                                    {
                                        val2 = (val2 > 0 ) ? $.number( val2 ) : '' ;
                                    }

                                    $('#'+key2).text(val2) ;
                                }    
                            });      
                        });
                    }
                });          
            }  
            else
            {                
                $.ajax({
                    dataType : "JSON",
                    type : "POST",
                    url : "/consult/plan/get_calling_plan_list",
                    data : 
                    {
                        "arr_cp_id" : arr_calling_plan,
                        "arr_combi" : arr_combi,
                        "arr_call_using" : arr_call_using,
                        "arr_sms_using" : arr_sms_using,
                        "arr_data_using" : arr_data_using,
                        "arr_benefit" : arr_benefit,
                        "arr_card_discount" : arr_card_discount,
                        "arr_monthly_price" : arr_monthly_price                     
                    },
                    success : function (data) 
                    {
                        $.each(data, function(key, val) 
                        {
                            $.each(val, function(key2, val2) 
                            {                                
                                if ( 'before_monthly_price_'+key == key2 )
                                {
                                    val2 = "<i>₩ " + $.number( val2 ) + "</i>" ;

                                    $('#'+key2).html(val2) ;
                                }
                                else if ( key2.indexOf('discount') > -1 )
                                {
                                    val2 = (val2 > 0 ) ? '- '+$.number( val2 ) : '' ; 

                                    $('#'+key2).text(val2) ;
                                }
                                else
                                {
                                    if ( 'before_calling_plan_'+key != key2 )
                                    {
                                        val2 = (val2 > 0 ) ? $.number( val2 ) : '' ;
                                    }

                                    $('#'+key2).text(val2) ;
                                }
                            });           
                        });   
                    }
                });
            }
        }) ;
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->