<!--=== Content Part ===-->
<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <div class="row  margin-bottom-5">
                <div class="col-md-4">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                        전체카드 : <?=$total_count?>건
                    </h5>
                </div>
                <div class="col-md-7"></div>
                <div class="col-md-1">
                    <button class='btn btn-danger btn-sm' type='button' id='insert'>카드 등록</button>
                </div>                
            </div>

            <!-- Tab v2 -->                
            <div class="tab-v2">
                <ul class="nav nav-tabs">
                    <? foreach ($vender_list as $key => $value) : ?>
                        <li class="<?=($key == $vender)?'active' : ''?>"><a href="/consult/card/lists/vender/<?=$key?>"><?=$value?></a></li>
                    <? endforeach ?>
                </ul>                
                <div class="tab-content">   
                     <table class="table text-center">
                        <thead>
                            <tr>
                                <th class="text-center" rowspan="2">NO</th>  
                                <th class="text-center" rowspan="2">카드명</th>    
                                <th class="text-center" rowspan="2">카드사</th>                                
                                <th class="text-center" rowspan="2">최대 세이브 한도</th>    
                                <th class="text-center" colspan="3">추가 적립 포인트1</th>                                
                                <th class="text-center" colspan="3">추가 적립 포인트2</th>                                
                                <th class="text-center" rowspan="2">사용처 정보</th>
                                <th class="text-center" rowspan="2">삭제</th>
                            </tr>
                            <tr>
                                <th class="text-center">이상</th>
                                <th class="text-center">미만 사용시</th>
                                <th class="text-center">P 적립</th>
                                <th class="text-center">이상</th>
                                <th class="text-center">미만 사용시</th>
                                <th class="text-center">P 적립</th>
                            </tr>
                        </thead>        
                        <tbody>       
                            <? foreach ($list as $o): ?>
                            <tr>
                                <td><?=$o['num']?></td>
                                <td><a href="<?=$o['href']?>"><?=$o['CD_NAME']?></a></td>                                
                                <td><?=$o['CD_COMPANY']?></td>                                
                                <td><?=number_format($o['SAVE_LIMIT'])?></td>
                                <td><?=number_format($o['SAVE_POINT_TERMS1_OVER'])?></td>
                                <td><?=number_format($o['SAVE_POINT_TERMS1_UNDER'])?></td>
                                <td><?=number_format($o['SAVE_POINT_TERMS1_POINT'])?></td>                                
                                <td><?=number_format($o['SAVE_POINT_TERMS2_OVER'])?></td>
                                <td><?=number_format($o['SAVE_POINT_TERMS2_UNDER'])?></td>
                                <td><?=number_format($o['SAVE_POINT_TERMS2_POINT'])?></td>                                
                                <td><button class='btn btn-info btn-sm' type='button' id='card_place' name='<?=$o['CD_ID']?>' title='사용처정보'><span class='fa fa-credit-card'></button></td>                                
                                <td><button class='btn btn-danger btn-sm' type='button' id='del' name='<?=$o['CD_ID']?>' title='삭제'><span class='glyphicon glyphicon-trash'></button></td>                                
                            </tr>                                     
                            <? endforeach; ?>
                        </tbody>
                    </table>                 
                    <? if (!$list): ?><p class="lead text-center text-muted">카드정보가 없습니다.</p><? endif; ?>
                    <div class="text-center">
                        <?=$paging?>
                    </div>
                </div>                
            </div>            
        </div>        
    </div>    
</div>

<style>
    .input-group .form-control 
    {
      z-index: 1;
    }
</style>

<script>
$('button#insert').click(function()
{
    location.href = '/consult/card/add' ;
}) ;

$('button#card_place').click(function()
{
    var cd_id = $(this).attr('name') ;

    location.href = '/consult/card/card_detail/cd_id/'+cd_id ;
}) ;

$('button#del').click(function()
{
    if (confirm('선택하신 정보를 삭제하시겠습니까?'))
    {
        var cd_id = $(this).attr('name') ;

        if ( cd_id != '' )
        {            
            location.href = '/consult/card/del/cd_id/'+cd_id ;
        }       
    }
}) ;
</script>