<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/ladda-buttons/css/custom-lada-btn.css">

<div class="container content">     
    <div class="row">
        <div class="col-md-9 col-md-offset-1">           
            <form id="fjoin" class="sky-form" name="fjoin" method="post" novalidate="novalidate" action="<?=RT_PATH?>/consult/plan/insert">

            	<header><i class="rounded-x fa fa-check margin-right-5"></i> 카드 정보 입력</header>

                <fieldset>	 

                <?foreach ($card_place_list as $key => $row) : ?>
                    <section>
                        <div class="row">
                            <label class="label col col-3">$row['CD_NAME']</label>
                            <div class="col col-2">
                                <label class="input">
                                    <input type="input" name="CP_NAME" placeholder="" class="invalid" value="">
                                </label>           
                            </div>

                            <div class="col col-1"></div>

                            <label class="label col col-3">기본료</label>
                            <div class="col col-2">
                                <label class="input">                                
                                    <input type="text" name="CP_PRICE" value="" />
                                </label>           
                            </div>                            
                        </div>
                    </section>
                <? endforeach ?>
                </fieldset>
                
                <footer class="text-center">
                    <button type="submit" class="btn-u btn-u-lg">카드 등록</button>
                </footer>                               
            </form>
        </div>
    </div>
</div>

<style>
.sky-form .col 
{
	padding-left: 0px ;
}
</style>

<!--[if lt IE 9]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script src="<?=PLUGIN_DIR?>/ladda-buttons/js/spin.min.js"></script>
<script src="<?=PLUGIN_DIR?>/ladda-buttons/js/ladda.min.js"></script>
<script src="<?=JS_DIR?>/plugins/ladda-buttons.js"></script>	

<script type='text/javascript' src='<?=JS_DIR?>/md5.js'></script>
<script type='text/javascript' src='<?=JS_DIR?>/kcaptcha.js'></script>
<script type='text/javascript' src='<?=JS_DIR?>/custom_validation/member.js'></script>

<script type='text/javascript'>
//<![CDATA[
//]]>
</script>