<div class="container content">
    <div class="row no-space-pricing pricing-mega-v3">
        <div class="col-md-2 col-sm-6 hidden-sm hidden-xs test">
            <div class="pricing hidden-area">
                <ul class="pricing-content list-unstyled">
                    <li>
                        <i class="fa fa-users"></i> 통신사
                    </li>                   
                    <li class="bg-color">
                        <i class="fa fa-briefcase"></i> 사용요금제
                    </li>
                    <li>
                        <i class="fa fa-star-o"></i> 기본료
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-smile-o"></i> 요금할인
                    </li>
                    <li>
                        <i class="fa fa-link"></i> 결합할인
                    </li>                    
                    <li class="bg-color">
                        <i class="fa fa-credit-card"></i> 카드 할인 혜택
                    </li>
                    <li>
                        <i class="fa fa-gift"></i> 복지 할인
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-leaf"></i> 통화 초과 사용료
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i> 문자 초과 사용료
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-phone"></i> 데이터 초과 사용료
                    </li>
                    <li>
                        <i class="fa fa-heart-o"></i> 기타 사용 요금
                    </li>
                </ul>
                 <div class="pricing-head ">
                    <h4 class="price">월 청구 요금</h4>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 block">
            <div class="pricing">
                <div class="pricing-head purple">
                    <h3>본인<span>통신사 및 요금제를 선택하세요</span></h3>
                </div>
                <ul class="pricing-content list-unstyled ">
                    <li>
                        <select>
                            <option>SKT</option>
                            <option>KTF</option>
                            <option>LGT</option>
                        </select>
                    </li>
                    <li class="bg-color">
                    </li>
                    <li>
                    </li>
                    <li class="bg-color">
                    </li>
                    <li>
                    </li>
                    <li class="bg-color">                        
                    </li>
                    <li>                        
                    </li>
                    <li class="bg-color">                        
                    </li>
                    <li>
                    </li>
                    <li class="bg-color">                        
                    </li>
                    <li>                        
                    </li>
                </ul>
                 <div class="pricing-head">
                    <h4 class="price">
                        <i>₩</i>20<i>,000</i> 
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 block">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>가족1<span>통신사 및 요금제를 선택하세요</span></h3>
                </div>
                <ul class="pricing-content list-unstyled ">
                    <li>
                        <select>
                            <option>SKT</option>
                            <option>KTF</option>
                            <option>LGT</option>
                        </select>
                    </li>
                    <li class="bg-color">
                    </li>
                    <li>
                    </li>
                    <li class="bg-color">
                    </li>
                    <li>
                    </li>
                    <li class="bg-color">                        
                    </li>
                    <li>                        
                    </li>
                    <li class="bg-color">                        
                    </li>
                    <li>
                    </li>
                    <li class="bg-color">                        
                    </li>
                    <li>                        
                    </li>
                </ul>
                <div class="pricing-head">
                    <h4 class="price">
                        <i>₩</i>20<i>,000</i> 
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 block">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>가족2<span>통신사 및 요금제를 선택하세요</span></h3>
                </div>
                <ul class="pricing-content list-unstyled ">
                    <li>
                        <select>
                            <option>SKT</option>
                            <option>KTF</option>
                            <option>LGT</option>
                        </select>
                    </li>
                    <li class="bg-color">
                    </li>
                    <li>
                    </li>
                    <li class="bg-color">
                    </li>
                    <li>
                    </li>
                    <li class="bg-color">                        
                    </li>
                    <li>                        
                    </li>
                    <li class="bg-color">                        
                    </li>
                    <li>
                    </li>
                    <li class="bg-color">                        
                    </li>
                    <li>                        
                    </li>
                </ul>
                <div class="pricing-head">
                    <h4 class="price">
                        <i>₩</i>20<i>,000</i> 
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 block">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>가족3<span>통신사 및 요금제를 선택하세요</span></h3>
                </div>
                <ul class="pricing-content list-unstyled ">
                    <li>
                        <select>
                            <option>SKT</option>
                            <option>KTF</option>
                            <option>LGT</option>
                        </select>
                    </li>
                    <li class="bg-color">
                    </li>
                    <li>
                    </li>
                    <li class="bg-color">
                    </li>
                    <li>
                    </li>
                    <li class="bg-color">                        
                    </li>
                    <li>                        
                    </li>
                    <li class="bg-color">                        
                    </li>
                    <li>
                    </li>
                    <li class="bg-color">                        
                    </li>
                    <li>                        
                    </li>
                </ul>
                <div class="pricing-head">
                    <h4 class="price">
                        <i>₩</i>20<i>,000</i> 
                    </h4>
                </div>  
            </div>
        </div>
        <div class="col-md-2 col-sm-6 block">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>가족4<span>통신사 및 요금제를 선택하세요</span></h3>
                </div>
                <ul class="pricing-content list-unstyled ">
                    <li>
                        <select>
                            <option>SKT</option>
                            <option>KTF</option>
                            <option>LGT</option>
                        </select>
                    </li>
                    <li class="bg-color">
                    </li>
                    <li>
                    </li>
                    <li class="bg-color">
                    </li>
                    <li>
                    </li>
                    <li class="bg-color">                        
                    </li>
                    <li>                        
                    </li>
                    <li class="bg-color">                        
                    </li>
                    <li>
                    </li>
                    <li class="bg-color">                        
                    </li>
                    <li>                        
                    </li>
                </ul>
                <div class="pricing-head">
                    <h4 class="price">
                        <i>₩</i>20<i>,000</i> 
                    </h4>
                </div>  
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->