<!--=== Content Part ===-->
<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <div class="row  margin-bottom-5">
                <div class="col-md-4">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                        전체 유선 상품 : <?=$total_count?>건
                    </h5>
                </div>
                <div class="col-md-8"></div>
            </div>

            <!-- Tab v2 -->                
            <div class="tab-v2">
                <ul class="nav nav-tabs">
                    <? foreach ($vender_list as $key => $value) : ?>
                        <li class="<?=($key == $vender)?'active' : ''?>"><a href="/consult/gift/lists/vender/<?=$key?>"><?=$value?></a></li>
                    <? endforeach ?>
                </ul>                
                <div class="tab-content">   
                     <table class="table text-center">
                        <thead>
                            <tr>
                                <th class="text-center">NO</th>  
                                <th class="text-center">유선상품</th>
                                <th class="text-center">상품타입</th>
                                <th class="text-center">결합상품여부</th>
                                <th class="text-center">인터넷</th>
                                <th class="text-center">집전화</th>
                                <th class="text-center">인터넷전화</th>
                                <th class="text-center">스마트홈폰</th>
                                <th class="text-center">IPTV</th>
                                <th class="text-center">SkyLife</th>
                                <th class="text-center">사은품(기본)</th>
                                <th class="text-center">사은품(추가)</th>
                            </tr>
                        </thead>        
                        <tbody>       
                            <? foreach ($list as $o): ?>
                            <tr>
                                <td><?=$o['num']?></td>
                                <td><a href="<?=$o['href']?>"><?=$o['PDT_NAME']?></a></td>
                                <td><?=$o['PDT_MODEL']?></td>
                                <td><?=$o['IS_SET']?></td>
                                <td><?=$o['IS_INTERNET']?></td>
                                <td><?=$o['IS_HOME_TEL']?></td>
                                <td><?=$o['IS_INTERNET_TEL']?></td>
                                <td><?=$o['IS_SMART_HOME']?></td>
                                <td><?=$o['IS_IPTV']?></td>
                                <td><?=$o['IS_SKYLIFE']?></td>
                                <td><?=number_format($o['GIFT_BASIC'])?></td>
                                <td><?=number_format($o['GIFT_PLUS'])?></td>
                            </tr>                                     
                            <? endforeach; ?>
                        </tbody>
                    </table>                 
                    <? if (!$list): ?><p class="lead text-center text-muted">상품이 없습니다.</p><? endif; ?>
                    <div class="text-center">
                        <?=$paging?>
                    </div>
                </div>                
            </div>            
        </div>        
    </div>    
</div>

<style>
    .container 
    {
      width: 1400px;
    }

    .input-group .form-control 
    {
      z-index: 1;
    }
</style>

<script>
$('button#insert').click(function()
{
    location.href = '/consult/plan/add' ;
}) ;

$('button#del').click(function()
{
    if (confirm('선택하신 정보를 삭제하시겠습니까?'))
    {
        var cp_id = $(this).attr('name') ;

        if ( cp_id != '' )
        {            
            location.href = '/consult/plan/del/cp_id/'+cp_id ;
        }       
    }
}) ;
</script>