<link rel="stylesheet" href="<?=PLUGIN_DIR?>/jquery-steps/css/custom-jquery.steps.css">
<link rel="stylesheet" href="<?=CSS_DIR?>/custom.css">

<div class="container content">
    <form class="shopping-cart" method="post">
        <div>
            <section class="row">
                <div class="col-md-6">
                    <div class="panel panel-dark margin-bottom-40">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-edit"></i> 기본 정보 입력</h3>
                        </div>
                        <div>
                            <table class="table table-striped color-dark">
                                <tr>
                                    <td class="font-bold"><i class="fa fa-users color-dark"></i> 개인사업자/법인사업자</td>
                                    <td class="text-center">
                                        <select id='select_type'>
                                            <option value="">선택</option>
                                            <option value="0">개인사업자</option>
                                            <option value="1">법인사업자</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-bold"><i class="fa fa-desktop color-dark"></i> TV 제공 총 룸수</td>
                                    <td class="text-center"><input type="text" id='tv_count' name='tv_count' value=""/></td>
                                </tr>
                                <tr>
                                    <td class="font-bold"><i class="fa fa-briefcase color-dark"></i> OTS(Skylife) 요금제</td>
                                    <td class="text-center">
                                        <select id='calling_plan' name='calling_plan'>
                                            <option value="">선택</option>
                                            <option value="10">10</option>
                                            <option value="12">12</option>
                                            <option value="15">15</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-purple margin-bottom-40">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-info"></i> 설치비 및 사은품 정보</h3>
                        </div>
                        <div>
                            <table class="table table-bordered color-dark">
                                <tr>
                                    <td class="font-bold"><i class="fa fa-cog color-dark"></i> 인터넷 설치비</td>
                                    <td class="text-center" id="internet_set_price"></td>
                                    <td class="font-bold"><i class="fa fa-gift color-dark"></i> 고객 상품권</td>
                                    <td class="text-center font-bold" id="internet_gift"></td>
                                </tr>
                                <tr>
                                    <td class="font-bold"><i class="fa fa-cog color-dark"></i> TV 설치비</td>
                                    <td class="text-center" id="tv_set_price"></td>
                                    <td class="font-bold"><i class="fa fa-gift color-dark"></i> RB / 고객 현금 사은품</td>
                                    <td class="text-center font-bold" id="hb_or_cash_price"></td>
                                </tr>
                                <tr>
                                    <td class="font-bold"> 합계</td>
                                    <td class="text-center font-bold" id="total_price"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>

            <div class="panel panel-yellow margin-bottom-40">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-credit-card"></i> 요금 계산 결과 값</h3>
                </div>
                <table class="table table-hover table-bordered text-center">
                    <thead>
                    <tr>
                        <th rowspan="2" class="text-center">구분</th>
                        <th rowspan="2" class="text-center">표준요금<BR>(올레인터넷)</th>
                        <th colspan="2" class="text-center"><i class="fa fa-star"></i> 3년 약정 적용</th>
                        <th rowspan="2" class="text-center"><i class="fa  fa-share-alt"></i> olleh Set 홈<BR>법인 다이렉트</th>
                        <th rowspan="2" class="text-center"><i class="fa  fa-share-alt"></i> 복수단말<BR>할인 후 금액</th>
                        <th class="text-center">공동 청약 할인</th>
                        <th rowspan="2" class="text-center"><i class="fa fa-cog"></i> STB 임대료</th>
                        <th rowspan="2" class="text-center"><i class="fa fa-star"></i> 계<BR>(부가세 포함)</th>
                        <th colspan="2" class="text-center"><i class="fa fa-info"></i> 총 요금</th>
                    </tr>
                    <tr>
                        <th class="text-center">할인액</th>
                        <th class="text-center">할인 후 금액</th>
                        <th class="text-center">TV 30회선 이상</th>
                        <th class="text-center">회선 수</th>
                        <th class="text-center">합계</th>
                    </tr>
                    </thead>
                    <tbody id="div_result_price">
                    </tbody>
                </table>
            </div>
        </div>

        <div class="margin-bottom-20">
            <div>* 개인 사업자 필요 서류 : 상품 신청서, 고객 신분증, 사업자 등록증</div>
            <div>* 법인 사업자 필요 서류 : 상품 신청서, 고객 신분증, 사업자 등록증, 법인 인감 증명서</div>
            <div>* 대리인 추가 서류 : 대리인 신분증, 대리인 위임장</div>
            <div>* 사업자가 없는 개인 원룸 : 원룸으로 표기된 건축물 대장 증빙시 가능</div>
            <div>* 광 케이블 장비 신청 : 장비 협정서, 전기 협정서, 설치 건물 전경 사진, 설치 건물 통신 단자 사진, 설치 건물 장비 위치 사진, 건물 개통 층, 호수 정보</div>
            <div><BR>* 사업자 등록증이 없는 모텔, 오피스텔, 병원, 펜션 등은 멀티룸 팩 상품(단체건)으로 신청되지 않습니다.</div>
            <div>* 서류는 최근 3개월 이내 발급된 것이어야 합니다. </div>
            <div>* 정책은 매월 말일까지 개통 기준입니다.</div>
        </div>
    </form>
</div>

<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function()
    {
        App.init();

        $("#select_type, #tv_count, #calling_plan").change(function()
        {
            $('#div_result_price').empty() ;

            var select_type = $('#select_type').val() ;
            var tv_count = $('#tv_count').val() ;
            var calling_plan = $('#calling_plan').val() ;

            if ( select_type == '' || tv_count == '' || calling_plan == '' )
            {
                return ;
            }

            $.ajax({
                dataType : "JSON",
                type : "POST",
                url : "/consult/kt_wired/get_wired_result_price",
                data :
                {
                    "select_type" : select_type,
                    "tv_count" : tv_count,
                    "calling_plan" : calling_plan
                },
                success : function (data)
                {
                    $.each(data, function(key, val)
                    {
                        if ( 'total_price' == key )
                        {
                            $('#total_price').html(val) ;
                        }
                        if ( 'internet_set_price' == key )
                        {
                            $('#internet_set_price').html(val) ;
                        }
                        if ( 'tv_set_price' == key )
                        {
                            $('#tv_set_price').html(val) ;
                        }
                        else if ( 'internet_gift' == key )
                        {
                            $('#internet_gift').html(val) ;
                        }
                        else if ( 'hb_or_cash_price' == key )
                        {
                            $('#hb_or_cash_price').html(val) ;
                        }
                        else if ( 'div_result_price' == key )
                        {
                            $('#div_result_price').append(val) ;
                        }
                    });
                }
            });
        }) ;
    });
</script>
<!--[if lt IE 9]>
<script src="assets/plugins/respond.js"></script>
<script src="assets/plugins/html5shiv.js"></script>
<script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->