<!--=== Content Part ===-->
<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <div class="row  margin-bottom-5">
                <div class="col-md-4">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                        전체요금제 : <?=$total_count?>건
                    </h5>
                </div>
                <div class="col-md-7"></div>
                <div class="col-md-1">
                    <button class='btn btn-danger btn-sm' type='button' id='insert'>요금제 등록</button>
                </div>                
            </div>

            <!-- Tab v2 -->                
            <div class="tab-v2">
                <ul class="nav nav-tabs">
                    <? foreach ($vender_list as $key => $value) : ?>
                        <li class="<?=($key == $vender)?'active' : ''?>"><a href="/consult/plan/lists/vender/<?=$key?>"><?=$value?></a></li>
                    <? endforeach ?>
                </ul>                
                <div class="tab-content">   
                     <table class="table text-center">
                        <thead>
                            <tr>
                                <th class="text-center">NO</th>  
                                <th class="text-center">요금제명</th>    
                                <th class="text-center">기본료</th>
                                <th class="text-center">요금할인</th>   
                                <th class="text-center">무선 결합 할인 금액</th>    
                                <th class="text-center">기본 제공 통화량(분)</th>
                                <th class="text-center">음성 초과 요금(분당)</th>
                                <th class="text-center">기본 제공 문자(건)</th>
                                <th class="text-center">문자 초과 요금(건당)</th>
                                <th class="text-center">기본 제공 데이터(GB)</th>
                                <th class="text-center">데이터 초과 요금(GB)</th>
                                <th class="text-center">삭제</th>
                            </tr>
                        </thead>        
                        <tbody>       
                            <? foreach ($list as $o): ?>
                            <tr>
                                <td><?=$o['num']?></td>
                                <td><a href="<?=$o['href']?>"><?=$o['CP_NAME']?></a></td>                                
                                <td><?=number_format($o['CP_PRICE'])?></td>
                                <td><?=number_format($o['CP_DISCOUNT'])?></td>
                                <td><?=number_format($o['NET_COMBI_DISCOUNT'])?></td>
                                <td><?=$o['FREE_CALL']?></td>
                                <td><?=$o['PLUS_CALL_PRICE']?></td>
                                <td><?=$o['FREE_SMS']?></td>
                                <td><?=$o['PLUS_SMS_PRICE']?></td>                                
                                <td><?=(float)$o['FREE_DATA']?></td>
                                <td><?=number_format($o['PLUS_DATA_PRICE'])?></td>                                
                                <td><button class='btn btn-danger btn-sm' type='button' id='del' name='<?=$o['CP_ID']?>' title='삭제'><span class='glyphicon glyphicon-trash'></button></td>                                
                            </tr>                                     
                            <? endforeach; ?>
                        </tbody>
                    </table>                 
                    <? if (!$list): ?><p class="lead text-center text-muted">요금제가 없습니다.</p><? endif; ?>
                    <div class="text-center">
                        <?=$paging?>
                    </div>
                </div>                
            </div>            
        </div>        
    </div>    
</div>

<style>
    .container 
    {
      width: 1400px;
    }

    .input-group .form-control 
    {
      z-index: 1;
    }
</style>

<script>
$('button#insert').click(function()
{
    location.href = '/consult/plan/add' ;
}) ;

$('button#del').click(function()
{
    if (confirm('선택하신 정보를 삭제하시겠습니까?'))
    {
        var cp_id = $(this).attr('name') ;

        if ( cp_id != '' )
        {            
            location.href = '/consult/plan/del/cp_id/'+cp_id ;
        }       
    }
}) ;
</script>