<div class="container content">     
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6 col-md-offset-1">  
            <div class="row  margin-bottom-5">
                <div class="col-md-4">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                        전체 사용처 : <?=sizeof($card_place_list)?> 건
                    </h5>
                </div>            
            </div>

            <div class="row"> 
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th class="text-center">NO</th>  
                            <th class="text-center">사용처</th>    
                            <th class="text-center">삭제</th>                        
                        </tr>
                    </thead>
                    <tbody>               
                    <?foreach ($card_place_list as $key => $row) : ?>
                        <tr>                    
                            <td><?=($key+1)?></td>
                            <td><input type="text" class='form-control input-sm enter_key_place' size="20" value='<?=$row['CDP_NAME']?>' name='<?=$row['CDP_ID']?>' id="edit_card_place">      
                            <td><button class='btn btn-danger btn-sm' type='button' id='del' name='<?=$row['CDP_ID']?>' title='삭제'><span class='fa fa-minus'></button></td>         
                        </tr>
                    <? endforeach ?>                    
                    </tbody>
                </table>
            </div>

            <? if (!$card_place_list): ?><p class="lead text-center text-muted">사용처가 없습니다.</p><? endif; ?>                           
            <div>
                <div class="input-group">                                                 
                    <input type="text" class='form-control input-sm enter_key_msg' size="20" value='' id='card_place'>                                                             
                    <span class="action-buttons input-group-btn">   
                        <button class="btn btn-sm rounded btn-default" type="button" id='add_card_place'>
                            <i class="fa fa-plus"></i>
                        </button>
                    </span> 
                </div>         
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
//<![CDATA[
    $('button#add_card_place').click(function()
    {        
        var card_place = encodeURIComponent($('#card_place').val()) ;

        location.href = '/consult/place/add?card_place='+card_place ;
    }) ;

    $(".enter_key_msg").bind("keydown", function(e) 
    {
        if (e.keyCode == 13) 
        {     
            $(this).next().find('#add_card_place').click() ;            
        }
    }) ;

    $(".enter_key_place").bind("keydown", function(e) 
    {
        if (e.keyCode == 13) 
        {     
            var cdp_id = $(this).attr('name') ;
            var card_place = encodeURIComponent($(this).val()) ;

            location.href = '/consult/place/edit?cdp_id='+cdp_id+'&card_place='+card_place ;
        }
    }) ;

    $('button#del').click(function()
    {
        if (confirm('선택하신 정보를 삭제하시겠습니까?'))
        {
            var cdp_id = $(this).attr('name') ;

            if ( cdp_id != '' )
            {            
                location.href = '/consult/place/del/cdp_id/'+cdp_id ;
            }       
        }
    }) ;
//]]>
</script>