<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/ladda-buttons/css/custom-lada-btn.css">

<div class="container content">     
    <div class="row">
        <div class="col-md-9 col-md-offset-1">           
            <form id="fjoin" class="sky-form" name="fjoin" method="post" novalidate="novalidate" action="<?=RT_PATH?>/consult/gift/update">
                <input type="hidden" name="PDT_CD" value="<?=$gift_info['PDT_CD']?>">
                <input type="hidden" name="TEL_COMPANY" value="<?=$gift_info['TEL_COMPANY']?>">
            	<header><i class="rounded-x fa fa-check margin-right-5"></i> 유선 사은품 정보 입력</header>

                <fieldset>

                    <section>
                        <div class="row">
                            <label class="label col col-3">유선상품명</label>
                            <div class="col col-2"><?=$gift_info['PDT_NAME']?></div>

                            <div class="col col-1"></div>

                            <label class="label col col-3">상품타입</label>
                            <div class="col col-2"><?=$gift_info['PDT_MODEL']?></div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-3">결합상품</label>
                            <div class="col col-2">
                                <label class="label">
                                    <input type="checkbox" id="IS_SET" name="IS_SET"><i></i>
                                </label>
                            </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-3">인터넷</label>
                            <div class="col col-2">
                                <label class="label">
                                    <input type="checkbox" id="IS_INTERNET" name="IS_INTERNET"><i></i>
                                </label>
                            </div>

                            <div class="col col-1"></div>

                            <label class="label col col-3">집전화</label>
                            <div class="col col-2">
                                <label class="label">
                                    <input type="checkbox" id="IS_HOME_TEL" name="IS_HOME_TEL"><i></i>
                                </label>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-3">인터넷전화</label>
                            <div class="col col-2">
                                <label class="label">
                                    <input type="checkbox" id="IS_INTERNET_TEL" name="IS_INTERNET_TEL"><i></i>
                                </label>
                            </div>

                            <div class="col col-1"></div>

                            <label class="label col col-3">스마트홈폰</label>
                            <div class="col col-2">
                                <label class="label">
                                    <input type="checkbox" id="IS_SMART_HOME" name="IS_SMART_HOME"><i></i>
                                </label>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-3">IPTV</label>
                            <div class="col col-2">
                                <label class="label">
                                    <input type="checkbox" id="IS_IPTV" name="IS_IPTV"><i></i>
                                </label>
                            </div>

                            <div class="col col-1"></div>

                            <label class="label col col-3">SKYLIFE</label>
                            <div class="col col-2">
                                <label class="label">
                                    <input type="checkbox" id="IS_SKYLIFE" name="IS_SKYLIFE"><i></i>
                                </label>
                            </div>
                        </div>
                    </section>

	                <section>
	                	<div class="row">
	                        <label class="label col col-3">기본 사은품</label>
	                        <div class="col col-2">
                                <label class="input">
                                    <input type="text" name="GIFT_BASIC" value="<?=$gift_info['GIFT_BASIC']?>" />
                                </label>
                            </div>

                            <div class="col col-1"></div>

                            <label class="label col col-3">추가 사은품</label>
                            <div class="col col-2">
                                <label class="input">
                                    <input type="text" name="GIFT_PLUS" value="<?=$gift_info['GIFT_PLUS']?>" />
                                </label>
                            </div>
	                    </div>
	                </section>
                </fieldset>
                
                <footer class="text-center">
                    <button type="submit" class="btn-u btn-u-lg">사은품 정보 수정</button>
                </footer>                               
            </form>
        </div>
    </div>
</div>

<style>
.sky-form .col 
{
	padding-left: 0px ;
}
</style>

<!--[if lt IE 9]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script src="<?=PLUGIN_DIR?>/ladda-buttons/js/spin.min.js"></script>
<script src="<?=PLUGIN_DIR?>/ladda-buttons/js/ladda.min.js"></script>
<script src="<?=JS_DIR?>/plugins/ladda-buttons.js"></script>	

<script type='text/javascript' src='<?=JS_DIR?>/md5.js'></script>
<script type='text/javascript' src='<?=JS_DIR?>/kcaptcha.js'></script>
<script type='text/javascript' src='<?=JS_DIR?>/custom_validation/member.js'></script>

<script type='text/javascript'>
//<![CDATA[
    <? if ( $gift_info['IS_SET'] == 'O' ) : ?>
        $('#IS_SET').attr('checked', 'true') ;
    <? endif ?>

    <? if ( $gift_info['IS_INTERNET'] == 'O' ) : ?>
        $('#IS_INTERNET').attr('checked', 'true') ;
    <? endif ?>

    <? if ( $gift_info['IS_HOME_TEL'] == 'O' ) : ?>
        $('#IS_HOME_TEL').attr('checked', 'true') ;
    <? endif ?>

    <? if ( $gift_info['IS_INTERNET_TEL'] == 'O' ) : ?>
        $('#IS_INTERNET_TEL').attr('checked', 'true') ;
    <? endif ?>

    <? if ( $gift_info['IS_SMART_HOME'] == 'O' ) : ?>
        $('#IS_SMART_HOME').attr('checked', 'true') ;
    <? endif ?>

    <? if ( $gift_info['IS_IPTV'] == 'O' ) : ?>
        $('#IS_IPTV').attr('checked', 'true') ;
    <? endif ?>

    <? if ( $gift_info['IS_SKYLIFE'] == 'O' ) : ?>
        $('#IS_SKYLIFE').attr('checked', 'true') ;
    <? endif ?>
//]]>
</script>