<link rel="stylesheet" href="<?=PLUGIN_DIR?>/jquery-steps/css/custom-jquery.steps.css">
<link rel="stylesheet" href="<?=CSS_DIR?>/custom.css">

<div class="container content">
    <form class="shopping-cart" method="post">
    <div>
        <div class="header-tags">            
            <div class="overflow-h">
                <h2>기본 정보 입력</h2>                
                <i class="rounded-x fa fa-info"></i>
            </div>    
        </div>

        <section class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="panel panel-red margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-edit"></i> 기본 정보 입력</h3>
                    </div>
                    <div>
                        <table class="table table-striped color-dark">
                            <tr>
                                <td class="font-bold"><i class="fa fa-users color-red"></i> 통신사</td>
                                <td class="text-center">
                                    <select id='select_vender'>
                                        <option value="">선택</option>
                                        <? foreach ($vender_list as $key => $value) : ?>
                                        <option value="<?=$key?>"><?=$value?></option>
                                        <? endforeach ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-bold"><i class="fa fa-phone color-red"></i> 월 통화 사용량(분)</td>
                                <td class="text-center"><input type="text" id='call_using' name='call_using' value="15161"/></td>
                            </tr>
                            <tr>
                                <td class="font-bold"><i class="fa fa-envelope color-red"></i> 월 문자 사용량(건)</td>
                                <td class="text-center"><input type="text" id='sms_using' name='sms_using' value="15161"/></td>
                            </tr>
                            <tr>
                                <td class="font-bold"><i class="fa fa-leaf color-red"></i> 월 데이터 사용량(GB)</td>
                                <td class="text-center"><input type="text" id='data_using' name='sms_using' value="1"/></td>
                            </tr>
                            <tr>
                                <td class="font-bold"><i class="fa fa-gift color-red"></i> 복지 할인</td>
                                <td class="text-center">
                                    <select id='benefit'>
                                        <? foreach ($select_benefit as $key => $value) : ?>
                                        <option value="<?=$key?>"><?=$value?></option>
                                        <? endforeach ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-bold"><i class="fa fa-briefcase color-red"></i> 추천요금제</td>
                                <td class="text-center"><button class="btn btn-sm rounded btn-danger" type="button" id="confirm_recommand_calling_plan" >확인</button><label id='recommand_calling_plan'></label></td>
                            </tr>
                            <tr>
                                <td class="font-bold"><i class="fa fa-briefcase color-red"></i> 확정요금제</td>
                                <td class="text-center">
                                    <div id='div_select_calling_plan'>
                                        <select id='select_calling_plan' name='select_calling_plan'>
                                        </select>
                                        <button class="btn btn-xs rounded btn-info" type="button" onclick="javascript:view_calling_plan_info()">요금제정보</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-bold"><i class="fa fa-star color-red"></i> 선택약정 사용</td>
                                <td class="text-center">
                                    <select id='selected_agreement'>
                                        <option value="0">미사용</option>
                                        <option value="1">사용</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-bold"><i class="fa fa-star color-red"></i> 단말기 출고가 </td>
                                <td class="text-center">
                                    <input type="text" id='mobile_amt' name='mobile_amt' value="1000000" required/>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-bold"><i class="fa fa-star color-red"></i> 공시 지원금</td>
                                <td class="text-center">
                                    <input type="text" id='discount_price' name='discount_price' required/>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-bold"><i class="fa fa-star color-red"></i> 할부 개월 수</td>
                                <td class="text-center">
                                    <select id='instalment_period'>
                                        <option value="24">24 개월</option>
                                        <option value="30">30 개월</option>
                                        <option value="36">36 개월</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-bold"><i class="fa fa-credit-card color-red"></i> 제휴 카드 할인</td>
                                <td class="text-center">
                                    <select id='card_discount'>
                                        <option value="0">미사용</option>
                                        <option value="1">사용</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="card_discount">
                                <td class="font-bold"><i class="fa fa-credit-card color-red"></i> 카드 세이브 할인</td>
                                <td class="text-center"><input type="text" id='card_save_discount' name='card_save_discount' disabled /></td>
                            </tr>
                            <tr class="card_discount">
                                <td class="font-bold"><i class="fa fa-credit-card color-red"></i> 카드 후청구 할인</td>
                                <td class="text-center"><input type="text" id='card_after_discount' name='card_after_discount' disabled /></td>
                            </tr>
                            <tr class="pricing-head">
                                <td><h5 class="price font-bold">월 청구 요금</h5></td>
                                <td>
                                    <div>
                                        <button class="btn btn-lg rounded btn-danger" type="button" id="confirm_monthly_price"><i class="fa fa-check"></i> 확인</button>
                                        <h5 class="price show" id="monthly_price"></h5>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <div class="header-tags">
            <div class="overflow-h">
                <h2>사용 금액 입력</h2>
                <i class="rounded-x fa fa-pencil"></i>
            </div>    
        </div>
        <section>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="panel panel-red margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-edit"></i> 사용 금액 입력</h3>
                    </div>
                    <div>
                        <table class="table table-striped color-dark">
                            <thead>
                                <tr>
                                    <th class="text-center">적립처</th>
                                    <th class="text-center">사용금액</th>
                                </tr>
                            </thead>
                            <tbody>
                                <? foreach ($card_place_list as $key => $value) : ?>
                                <tr>
                                    <td class="font-bold"><i class="fa fa-map-marker color-red"></i> <?=$value['CDP_NAME']?></td>
                                    <td class="text-center"><input type="text" id='<?=$value['CDP_ID']?>' name='<?=$value['CDP_ID']?>' value="10000" /></td>
                                </tr>
                                <? endforeach ?>
                                <tr class="pricing-head">
                                    <td><h5 class="price font-bold">총 사용금액</h5></td>
                                    <td>
                                        <div>
                                            <button class="btn btn-lg rounded btn-danger" type="button" id="confirm_sum_price">확인</button>
                                            <h5 class="price show" id="sum_price"></h5>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <div class="header-tags">
            <div class="overflow-h">
                <h2>제휴 카드</h2>
                <i class="rounded-x fa fa-credit-card"></i>
            </div>    
        </div>
        <section> 
            <div><h3>사용금액 : <span id='total_price'></span></h3></div>

            <div class="tab-v2">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-1" data-toggle="tab">세이브카드</a></li>
                    <li><a href="#tab-2" data-toggle="tab">청구할인카드</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab-1">
                        <div class="panel panel-yellow margin-bottom-40">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-credit-card"></i> 세이브카드</h3>
                            </div>
                            <table class="table table-hover table-bordered text-center">
                                <thead>
                                <tr>
                                    <th rowspan="2" class="text-center"></th>
                                    <th rowspan="2" class="text-center"><i class="fa fa-credit-card"></i> 카드명</th>
                                    <th rowspan="2" class="text-center"><i class="fa fa-credit-card"></i> 카드사</th>
                                    <th rowspan="2" class="text-center"><i class="fa fa-location-arrow"></i> 월 적립포인트 / 할인금액</th>
                                    <th colspan="3" class="text-center"><i class="fa fa-star"></i> 세이브 추천 금액</th>
                                    <th rowspan="2" class="text-center"><i class="fa fa-gift"></i> 후 청구 할인 금액</th>
                                    <th rowspan="2" class="text-center"><i class="fa fa-info"></i> 카드정보보기</th>
                                    <th rowspan="2" class="text-center"><i class="fa fa-info"></i> 적립정보보기</th>
                                </tr>
                                <tr>
                                    <th class="text-center">24개월</th>
                                    <th class="text-center">30개월</th>
                                    <th class="text-center">36개월</th>
                                </tr>
                                </thead>
                                <tbody id="card_list1">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="tab-2">
                        <div class="panel panel-yellow margin-bottom-40">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-credit-card"></i> 청구할인카드</h3>
                            </div>
                            <table class="table table-hover table-bordered text-center">
                                <thead>
                                <tr>
                                    <th rowspan="2" class="text-center"></th>
                                    <th rowspan="2" class="text-center"><i class="fa fa-credit-card"></i> 카드명</th>
                                    <th rowspan="2" class="text-center"><i class="fa fa-credit-card"></i> 카드사</th>
                                    <th rowspan="2" class="text-center"><i class="fa fa-location-arrow"></i> 월 적립포인트 / 할인금액</th>
                                    <th colspan="3" class="text-center"><i class="fa fa-star"></i> 세이브 추천 금액</th>
                                    <th rowspan="2" class="text-center"><i class="fa fa-gift"></i> 후 청구 할인 금액</th>
                                    <th rowspan="2" class="text-center"><i class="fa fa-info"></i> 카드정보보기</th>
                                    <th rowspan="2" class="text-center"><i class="fa fa-info"></i> 적립정보보기</th>
                                </tr>
                                <tr>
                                    <th class="text-center">24개월</th>
                                    <th class="text-center">30개월</th>
                                    <th class="text-center">36개월</th>
                                </tr>
                                </thead>
                                <tbody id="card_list2">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
    </div>
    </form>

    <!-- Small modal -->
    <button class="btn-u" data-toggle="modal" data-target=".bs-example-modal-sm" id="card_modal_btn" style="display:none">Modal</button>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title" id="cd_name"></h4>
                </div>
                <div class="modal-body profile">
                    <div class="profile-edit tab-pane fade in active">
                        <div class="text-center margin-bottom-20">
                            <img id="cd_img" src="">
                        </div>
                        <dl class="dl-horizontal" id="card_info">
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Small Modal -->

    <!-- Small modal -->
    <button class="btn-u" data-toggle="modal" data-target=".card_detail_info" id="card_detail_modal_btn" style="display:none">Modal</button>
    <div class="modal fade card_detail_info" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title" id="cd_name2"></h4>
                </div>
                <div class="modal-body">
                    <div class="row text-center margin-bottom-20">                        
                        <img id="cd_img2" src="" style="max-width: 300px; height: auto;">
                    </div>
                    <div class="row margin-bottom-10">
                        <label class="text-center col-md-6">카드 사용처</label>                                                    
                        <label class="text-center col-md-2">적립(%)</label>                                                    
                        <label class="text-center col-md-2">적립한도(P)</label>                                                
                        <label class="text-center col-md-2">기타사항</label>
                    </div>
                    <div id="card_detail_info"></div>                                            
                </div>
            </div>
        </div>
    </div>
    <!-- End Small Modal -->

    <!-- Small modal -->
    <button class="btn-u" data-toggle="modal" data-target=".calling_plan_info" id="calling_plan_modal_btn" style="display:none">Modal</button>
    <div class="modal fade calling_plan_info" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title" id="cp_name"></h4>
                </div>
                <div class="modal-body profile">
                    <div class="profile-edit tab-pane fade in active">
                        <dl class="dl-horizontal" id="calling_plan_info">
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Small Modal -->
</div>

<style type="text/css">
    .wizard > .actions
    {
        text-align: center;
    }
</style>

<script src="<?=PLUGIN_DIR?>/jquery-steps/build/jquery.steps.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>        
<script src="<?=JS_DIR?>/plugins/stepWizard.js"></script>

<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<script type="text/javascript">
    function card_click(save_24, save_30, save_36, after_discount)        
    {
        var arr_save_month = [save_24, save_30, save_36] ;
        var save_month = $("#sel_save_month").val() ;

        $("#card_save_discount").val($.number(arr_save_month[save_month])) ;
        $("#card_after_discount").val($.number(after_discount)) ;

        $("#steps-uid-0-t-0").click() ;

        $('#confirm_monthly_price').click() ;
    }

    function view_card_info(cd_id, cd_name, cd_img_path)
    {
        $("#card_info").empty() ;

        $("#cd_name").html(cd_name) ;
        $("#cd_img").attr('src', cd_img_path) ;

        $.ajax({                
            type : "POST",
            url : "/consult/wireless/get_card_info",
            data : 
            {
                cd_id : cd_id
            },
            success : function (data) 
            {        
                $("#card_info").append(data) ;  
                $('#card_modal_btn').click() ;           
            }
        });
    }

    function view_card_detail_info(cd_id, cd_name, cd_img_path)
    {
        $("#card_detail_info").empty() ;

        $("#cd_name2").html(cd_name) ;
        $("#cd_img2").attr('src', cd_img_path) ;

        $.ajax({                
            type : "POST",
            url : "/consult/wireless/get_card_detail_info",
            data : 
            {
                cd_id : cd_id
            },
            success : function (data) 
            {        
                $("#card_detail_info").append(data) ;  
                $('#card_detail_modal_btn').click() ;           
            }
        });
    }

    function view_calling_plan_info()
    {
        $("#calling_plan_info").empty() ;

        var cp_name = $("#select_calling_plan option:selected").text() + ' (' + $("#select_vender option:selected").text() + ')' ;
        $("#cp_name").html(cp_name) ;

        $.ajax({                
            type : "POST",
            url : "/consult/wireless/get_calling_plan_info",
            data : 
            {
                cp_id : $("#select_calling_plan").val()
            },
            success : function (data) 
            {        
                $("#calling_plan_info").append(data) ;  
                $('#calling_plan_modal_btn').click() ;           
            }
        });
    }

    jQuery(document).ready(function() 
    {
        App.init();        
        StepWizard.initStepWizard();   

        $("#card_save_discount, #card_after_discount").css('color', '#000') ; 

        $(".steps").hide() ;
        $(".actions").hide() ;
        $(".card_discount").hide() ;

        $("a[href='#previous']").html('이전') ;
        $("a[href='#next']").html('다음') ;
        $("a[href='#finish']").html('완료').hide() ;

        $('#div_select_calling_plan').hide() ; 

        $("#select_vender, #call_using, #sms_using, #data_using, #benefit").click(function()
        {
            $('#confirm_recommand_calling_plan').show() ;
            $('#recommand_calling_plan').html('') ; 

            $('#confirm_monthly_price').show() ;
            $('#monthly_price').text('') ;
        }) ;   

        $("#select_calling_plan, #mobile_amt, #discount_price, #card_discount, #instalment_period").click(function()
        {            
            $('#confirm_monthly_price').show() ;
            $('#monthly_price').text('') ;
        }) ;   

        $('#confirm_recommand_calling_plan').click(function()
        {     
            var vender = $('#select_vender').val() ;
            var call_using = $('#call_using').val() ;
            var sms_using = $('#sms_using').val() ;
            var data_using = $('#data_using').val() ;
            var benefit = $("#benefit option:selected").text() ;

            if ( call_using == '' && sms_using == '' && data_using == '' )
            {
                alert('정보 입력을 해주세요') ;
                return ;
            }

            $.ajax({
                dataType : "JSON",
                type : "POST",
                url : "/consult/wireless/get_recommand_calling_plan",
                data : 
                {
                    "vender" : vender,                    
                    "call_using" : call_using,
                    "sms_using" : sms_using,
                    "data_using" : data_using,
                    "benefit" : benefit  
                },
                success : function (data) 
                {
                    $.each(data, function(key, val) 
                    {
                        if ( 'calling_plan' == key )
                        {
                            $('#confirm_recommand_calling_plan').hide() ;
                            $('#recommand_calling_plan').html(val) ;                            
                        }         
                        else if ( 'calling_plan_id' == key )
                        {
                            $('#select_calling_plan').val(val) ;
                        }                    
                    });
                }
            });                    
        }) ;

        $('select#select_vender').change(function()    
        {    
            var vender_cd = $(this).val() ;            

            $('#select_calling_plan').empty() ;
            $('#div_select_calling_plan').hide() ;

            $.ajax({
                dataType : "JSON",
                type : "POST",
                url : "/consult/plan/get_calling_plan",
                data : 
                {
                    "vender_cd" : vender_cd
                },
                success : function (data) 
                {
                    if ( data != ' NULL' )
                    { 
                        $.each(data, function(key, val) 
                        {
                            var option = "<option value='" ;

                            $.each(val, function(key2, val2) 
                            {                                                        
                                if ( 'CP_ID' == key2 )
                                {
                                    option += val2+"'>" ;
                                }
                                else if ( 'CP_NAME' == key2 )
                                {
                                    option += val2+"</option>" ;
                                }                                
                            }) ;

                            $('#select_calling_plan').append(option) ;                        
                        });                    

                        $('#div_select_calling_plan').show() ;
                    }
                }
            });
        }) ;                                               

        $("<?=$ids?>").click(function()
        {
            $('#confirm_sum_price').show() ;
            $('#sum_price').text('') ; 
        }) ;   

        $('#confirm_sum_price').click(function()
        {
            var sum_price = 0 ;
            <? foreach ($card_place_list as $key => $value) : ?>                                                   
                var val = $("#<?=$value['CDP_ID']?>").val() ;
                if ( val != '' )
                {
                    sum_price += parseInt($("#<?=$value['CDP_ID']?>").val(), 10) ;
                }
            <? endforeach ?>       

            $(this).hide() ;
            $('#sum_price').text($.number(sum_price) + ' 원') ;
        }) ;             

        $("#steps-uid-0-t-0, #steps-uid-0-t-1, #steps-uid-0-t-2").bind('click', function () 
        {
            // container min-width
            {
                if ( $('.last').attr('aria-selected') == 'true' )
                {
                    $(".container").css("min-width", "1400px") ;
                } 
                else   
                {
                    $(".container").css("min-width", "470px") ;
                } 
            }

            $('#total_price').text($('#sum_price').text()) ;

            var arr_using_price = new Array() ;

            <? foreach ($card_place_list as $key => $value) : ?>                                                   
                arr_using_price[<?=$value['CDP_ID']?>] = $("#<?=$value['CDP_ID']?>").val() ;
            <? endforeach ?>

            if ( $('.last').attr('aria-selected') == 'true' )            
            {
                $('#card_list').empty() ;

                $.ajax({
                    dataType : "JSON",
                    type : "POST",
                    url : "/consult/wireless/get_card_plan_list",
                    data : 
                    {
                        "vender" : $('#select_vender').val(),                        
                        "sum_price" : $('#sum_price').text(), 
                        "arr_using_price" : arr_using_price,
                        "mobile_amt" : $('#mobile_amt').val(),
                        "discount_price" : $('#discount_price').val()
                    },
                    success : function (data) 
                    {
                        var cd_count = 0 ;                                                 

                        $.each(data, function(key, val) 
                        {   
                            cd_count++ ;

                            var cd_img_path = '' ;
                            var cd_name = '' ;
                            var cd_company = '' ;
                            var cd_type = '' ;
                            var cd_id = '' ;
                            var sum_point = '' ;
                            var arr_save_month = new Array() ;
                            var after = '' ;

                            $.each(val, function(key2, val2) 
                            {
                                if ( key2 == 'IMG_PATH' )
                                {
                                    cd_img_path = val2 ;
                                }
                                else if ( key2 == 'CD_NAME' )
                                {
                                    cd_name = val2 ;
                                }
                                else if ( key2 == 'CD_COMPANY')
                                {
                                    cd_company = val2 ;
                                }         
                                else if ( key2 == 'CD_TYPE')
                                {
                                    cd_type = val2 ;
                                }                           
                                else if ( key2 == 'CD_ID' )
                                {
                                    cd_id = val2 ;
                                }
                                else if ( key2 == 'sum_point' )
                                {
                                    sum_point = val2 ;
                                }
                                else if ( key2 == 'SAVE_TYPE' )
                                {
                                    $.each(val2, function(key3, val3)
                                    {
                                        if ( key3 == '24' )
                                        {
                                            arr_save_month[0] = val3 ;   
                                        }
                                        else if ( key3 == '30' )
                                        {
                                            arr_save_month[1] = val3 ;
                                        }
                                        else if ( key3 == '36' )
                                        {
                                            arr_save_month[2] = val3 ;
                                        }
                                    }) ;                                    
                                }
                                else if ( key2 == 'AFTER_TYPE' )
                                {
                                    after = val2 ;
                                }                                
                            }) ;

                            var div =   '<tr>' +
                                            '<td><img class="card_img cursor-pointer" src="'+cd_img_path+'" onclick="javascript:card_click('+arr_save_month+','+after+')" style="width: 100px; height: auto;"></td>' +
                                            '<td>'+cd_name+'</td>' +
                                            '<td>'+cd_company+'</td>' +
                                            '<td>'+$.number(sum_point)+'</td>' +
                                            '<td>'+$.number(arr_save_month[0])+'</td>' +
                                            '<td>'+$.number(arr_save_month[1])+'</td>' +
                                            '<td>'+$.number(arr_save_month[2])+'</td>' +
                                            '<td>'+$.number(after)+'</td>' +
                                            '<td><button class="btn btn-sm rounded btn-danger" type="button" onclick="javascript:view_card_info(\''+cd_id+'\', \''+cd_name+'\', \''+cd_img_path+'\')">카드정보보기</button></td>' +
                                            '<td><button class="btn btn-sm rounded btn-danger" type="button" onclick="javascript:view_card_detail_info(\''+cd_id+'\', \''+cd_name+'\', \''+cd_img_path+'\')">적립정보보기</button></td>' +
                                        '</tr>' ;

                            if ( cd_type == "세이브" )
                            {
                                $('#card_list1').append(div) ;
                            }
                            else
                            {
                                $('#card_list2').append(div);
                            }

                            $(".pricing-mega-v3 .hidden-area").css('margin-top', '140px') ;  
                            $(".sel_save_month").val($("#sel_save_month").val()) ;
                        });
                    }
                }); 
            }
        }) ;

        $("#sel_save_month").change(function()
        {
            $(".sel_save_month").val($(this).val()) ; 
        }) ;

        $("#selected_agreement").change(function()
        {
            if ( $(this).val() == "1" )
            {
                $("#discount_price").val("0") ;
                $("#discount_price").attr('readonly', 'readonly') ;
            }
            else
            {
                $("#discount_price").val("") ;
                $("#discount_price").removeAttr('readonly') ;
            }
        }) ;

        $("#card_discount").change(function()
        {
            if ( $(this).val() == 0 )
            {
                $(".steps").hide() ;
                $(".actions").hide() ;
                $(".card_discount").hide() ;
            }
            else
            {
                $(".steps").show() ;
                $(".actions").show() ;
                $(".card_discount").show() ;
            }
        }) ;

        $('#confirm_monthly_price').click(function()
        {
            $(this).hide() ;

            $.ajax({                
                type : "POST",
                url : "/consult/wireless/get_monthly_price",
                data : 
                {
                    cp_id : $("#select_calling_plan").val(),
                    call_using : $("#call_using").val(),
                    sms_using : $("#sms_using").val(),
                    data_using : $("#data_using").val(),
                    s_benefit : $("#benefit option:selected").text(),
                    mobile_amt : $('#mobile_amt').val(),
                    discount_price : $('#discount_price').val(),
                    card_save_discount : $('#card_save_discount').val(),
                    card_after_discount : $('#card_after_discount').val(),
                    card_discount : $("#card_discount option:selected").text(),
                    instalment_period : $("#instalment_period option:selected").val(),
                    selected_agreement : $("#selected_agreement option:selected").text()
                },
                success : function (data) 
                {                    
                    $('#monthly_price').text($.number(data) + ' 원') ;
                }
            });
        }) ;
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->