
<!--<ul id="alert" class="list-unstyled" style="width:230px; position:fixed; top:10%; left:50%; margin-left:-115px; z-index:1920;"></ul>-->

<? foreach ($js as $file): ?>
<script type="text/javascript" src="<?=JS_DIR?>/<?=$file?>.js"></script>
<? endforeach; ?>


<!-- JS Implementing Plugins -->
<script type="text/javascript" src="<?=PLUGIN_DIR?>/back-to-top.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/smoothScroll.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/owl-carousel/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- JS Customization -->
<script type="text/javascript" src="<?=JS_DIR?>/custom.js"></script>
<script type="text/javascript" src="<?=JS_DIR?>/jquery.number.min.js"></script>

<!--[if lte IE 8]>
	<script type="text/javascript" src="<?=JS_DIR?>/lteIE8.js"></script>
<![endif]-->

<!--[if gt IE 8]><!-->
<!--<![endif]-->

<!--[if lt IE 9]>
    <script src="<?=PLUGIN_DIR?>/respond.js"></script>
    <script src="<?=PLUGIN_DIR?>/html5shiv.js"></script>
    <script src="<?=PLUGIN_DIR?>/placeholder-IE-fixes.js"></script>
<![endif]-->

</div>

<!-- AceCounter Log Gathering Script V.7.5.2013010701 -->
<script language='javascript'>
	var _AceGID=(function(){var Inf=['gtp5.acecounter.com','8080','AH3A39863063004','AW','0','NaPm,Ncisy','ALL','0']; var _CI=(!_AceGID)?[]:_AceGID.val;var _N=0;var _T=new Image(0,0);if(_CI.join('.').indexOf(Inf[3])<0){ _T.src =( location.protocol=="https:"?"https://"+Inf[0]:"http://"+Inf[0]+":"+Inf[1]) +'/?cookie'; _CI.push(Inf);  _N=_CI.length; } return {o: _N,val:_CI}; })();
	var _AceCounter=(function(){var G=_AceGID;if(G.o!=0){var _A=G.val[G.o-1];var _G=( _A[0]).substr(0,_A[0].indexOf('.'));var _C=(_A[7]!='0')?(_A[2]):_A[3];	var _U=( _A[5]).replace(/\,/g,'_');var _S=((['<scr','ipt','type="text/javascr','ipt"></scr','ipt>']).join('')).replace('tt','t src="'+location.protocol+ '//cr.acecounter.com/Web/AceCounter_'+_C+'.js?gc='+_A[2]+'&py='+_A[4]+'&gd='+_G+'&gp='+_A[1]+'&up='+_U+'&rd='+(new Date().getTime())+'" t');document.writeln(_S); return _S;} })();
</script>
<noscript><img src='http://gtp5.acecounter.com:8080/?uid=AH3A39863063004&je=n&' border='0' width='0' height='0' alt=''></noscript>	
<!-- AceCounter Log Gathering Script End --> 

</body>
</html>