<!--=== Parallax About Block ===-->
<div class="parallax-bg parallaxBg1">            
    <div class="container content parallax-about">
        <div class="title-box-v2">
            <h2><span class="color-green">HB</span> Networks</h2>            
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="banner-info dark margin-bottom-10">
                    <i class="rounded-x icon-bell"></i>
                    <div class="overflow-h">
                        <h3>합리적인 보상플랜</h3>
                        <p>직급 전용 보너스와 주급 한도 500만원, 월급 한도 7,000만원(주급포함)<BR> 
                        한도 외 금액 재분배를 통해 타 사업과는 달리 상위 라인이 독식하는 보상 플랜이<BR>  
                        아닌 사업자들이 정당한 대가를 받을 수 있는 진화된 보상 플랜.<BR>
                        모든 Network 사업은 상위 1,2,3대가 독식? No!<BR>
                        주급 한도와 월급 한도로 인해서 독식을 방지한다.<BR>
                        한도 외 금액은? 재분배!</p>
                    </div>
                </div>
                <div class="banner-info dark margin-bottom-10">
                    <i class="rounded-x fa fa-magic"></i>
                    <div class="overflow-h">
                        <h3>비전</h3>
                        <p>빨리 가려면 혼자 가고, 멀리 가려면 함께 가라.<BR> 
                        모두가 정당한 보상을 받을 수 있는 합리적인 보상 플랜으로<BR>
                        타사와는 다르게 롱런 할수 있다.<BR>  
                        초기 사업자들은 Network사업의 기둥이다.
                        기둥이 흔들리면 곧 무너진다!<BR> 
                        초기 사업자들이 성장할 수 있는 플랜을 가진 사업?
                        HB Networks가 유일하다.</p>
                    </div>
                </div>
                <div class="banner-info dark margin-bottom-10">
                    <i class="rounded-x fa fa-thumbs-o-up"></i>
                    <div class="overflow-h">
                        <h3>기만행위 No!</h3>
                        <p>신뢰는 종이와도 같아서 한번 구겨지면 다시 완벽하게 될 수 없다.<BR>
                        투명한 운영으로 HB Networks 사업은 회원을 기만하여 회사에서 부
                        당 이득을 취하는 사례가 없다.</p>
                    </div>
                </div>
                <div class="margin-bottom-20"></div>
            </div>
            <div class="col-md-6">
                <div class="banner-info dark margin-bottom-10">
                    <i class="rounded-x icon-share"></i>
                    <div class="overflow-h">
                        <h3>Network 사업의 순기능 실현</h3>
                        <p>대한민국에서 Network 사업의 이미지는 상위 라인 독식으로<BR>
                        “Network 사업은 비전이 없다.”라는 이미지가 만들어졌다.<BR>
                        이런 이미지를 탈피하고 Network 사업 순기능을 실현하는 선구자로서<BR>
                        HB Networks가 앞장 설 것이다.</p>
                    </div>
                </div>
                <div class="banner-info dark margin-bottom-10">
                    <i class="rounded-x icon-badge"></i>
                    <div class="overflow-h">
                        <h3>컨설팅 플랜</h3>
                        <p>10명중 7명은 소비자!<BR>
                        소비자를 공략해야 안정적인 수익을 가져갈 수 있다.<BR>
                        하지만 사업자들은 보상 플랜에 대한 내용은 확실하게 인지하고 있지만,<BR>
                        통신 관련된 전반적인 지식은 상당히 부족한 것이 현실이다.<BR>
                        이러한 통신 지식들은 컨설팅 능력으로 연관성이 많은데,<BR>
                        지식 부족으로 소비자 유치에 어려움을 겪고 있다.<BR>
                        이러한 부분을 HB Networks에서는 확실한 컨설팅 교육과<BR>
                        컨설팅 페이지로 사업자들의 컨설팅을 완벽하게 서포트 한다!</p>
                    </div>
                </div>
                <div class="banner-info dark margin-bottom-10">
                    <i class="rounded-x icon-trophy"></i>
                    <div class="overflow-h">
                        <h3>리스크 없음</h3>
                        <p>어차피 쓰는 핸드폰이라면, 단통법 아래서 어차피 같은 가격이라면,<BR> 
                        사업권을 가질 수 있는 HB Networks 사업을 하지 않을 이유가 없다!<BR>
                        사업에 관심이 없는 일반 소비자도 수당이 나오는 구조이기 때문에<BR>
                        충분히 소비자 입장에서도 상당히 유리하다!
                        </p>
                    </div>
                </div>
                <div class="margin-bottom-20"></div>
            </div>            
        </div>    
    </div><!--/container--> 
</div>      
<!--=== End Parallax About Block ===-->

<script type="text/javascript" src="<?=PLUGIN_DIR?>/jquery.parallax.js"></script>
<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function() 
    {
        App.init();
        App.initParallaxBg();    
    });
</script>