<!--=== Content Part ===-->
<div class="container content">		
	<div class="row margin-bottom-40">
    	<div class="col-md-6 md-margin-bottom-40">
            <h3>네트워크 마케팅의 선진화<BR> <span class="color-green">HB</span> Networks 가 시작하겠습니다. </h3>
            <h5>
            <p> </p>
            <p>저희가 바라고 꿈꾸는 것은 많은 이들의 일자리 창출, 안정적인 수익입니다. <BR> 
            <p> </p>
            누군가를 도울 수 있고 누군가의 열정을 바칠 수 있는 일터가 된다는 것은<BR>
            매우 영광스러운 일입니다. <BR>
            <p> </p>
            네트워크 마케팅의 순기능을 진정 이해하고 좋은 방향으로 이끌어 간다면<BR> 분명 좋은 결과가 있을 것이라 확신합니다. </p>
            <p> </p>
            <p>저희를 시작으로 이 사회에 많은 온정이 퍼져나가길 기원합니다. <BR> 
            회원 여러분들께서는 하시는 일에 큰 자부심을 갖고 임해주시길 바랍니다. <BR>
            우리는 현재 많은 일자리 창출과 많은 사람들에게 안정적인 수익을 창출하고 있습니다. <BR> 
            네트워크 마케팅의 선진문화와 시스템 HB 네트웍스가 중심이 되도록 하겠습니다. </p>
            <p> </p>
            <p>감사합니다.</p>
            </h5>
            <!--
            <ul class="list-unstyled">
                <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
                <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                <li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
                <li><i class="fa fa-check color-green"></i> Elit non mi porta gravida</li>
                <li><i class="fa fa-check color-green"></i> Award winning digital agency</li>
            </ul><br />
            -->

            <!-- Blockquotes -->
            <blockquote class="hero-unify">
                <p>말보다는 행동으로 평가 받도록 하겠습니다.</p>
                <small><strong>CEO 배상</strong></small>
            </blockquote>
        </div>
        
    	<div class="col-md-6 md-margin-bottom-40">
            <div class="responsive-video">
                <iframe src="http://player.vimeo.com/video/9679622" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
            </div>
        </div>
        
    </div><!--/row-->
</div>

<!-- Parallax Quote -->
<div class="parallax-quote parallaxBg margin-bottom-40">
    <div class="container">
        <div class="parallax-quote-in">
            <p>당신이 인생에서 단 한번도 가질수 없었던 것을 가지려면,<BR> 당신이 인생에서 <span class="color-green">단 한번도 안해봤던 일</span>을 해야한다.</p>            
            <small>- ZIG ZIGLAR -</small>
        </div>
    </div>
</div>
<!-- End Parallax Quote -->