<div class="container content">    
    <div class="heading heading-v1 margin-bottom-20">
        <h2>Pricing Table Mega 2</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
    </div>

    <!-- Pricing Mega v2 -->
    <div class="row no-space-pricing pricing-mega-v2">
        <div class="col-md-4 col-sm-6 hidden-sm hidden-xs test">
            <div class="pricing hidden-area">
                <ul  class="pricing-content list-unstyled">
                    <li>
                        <i class="fa fa-users"></i>Monthly Reports
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-briefcase"></i> Subdomains
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i>Email Addresses
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-inbox"></i> MySQL Databases
                    </li>
                    <li>
                        <i class="fa fa-gift"></i>Google AdWords Credits
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-leaf"></i>Remote Desktop Widge
                    </li>
                    <li>
                        <i class="fa fa-location-arrow"></i>Message from Users List
                    </li>
                    <li class="bg-color"><i class="fa fa-phone"></i>Worldwide Phone Support</li>
                </ul>
                 <div class="pricing-head ">
                    <h4 class="price">Pay Monthly</h4>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 block">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>Begginer
                        <span>Officia deserunt mollitia</span>
                    </h3>
                </div>
                <ul class="pricing-content list-unstyled ">
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Monthly Reports</span>
                    </li>
                    <li class="bg-color">
                        10<span class="hidden-md hidden-lg">Subdomains</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg"> MySQL Databases</span>
                    </li>
                    <li>
                        $50<span class="hidden-md hidden-lg">Google AdWords Credits</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Remote Desktop Widge</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Message from Users List</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Worldwide Phone Support</span>
                    </li>
                </ul>
                 <div class="pricing-head">
                    <h4 class="price">
                        <i>$</i>9<i>.49</i>
                        <span class="hidden-md hidden-lg">Per Month</span>
                    </h4>
                </div>
                <a href="#" class="btn btn-u btn-block ">Purchase Now</a>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 block">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>
                        Unify Pro <span>Officia deserunt mollitia</span>
                    </h3>
                </div>
                <ul class="pricing-content list-unstyled ">
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Monthly Reports</span>
                    </li>
                    <li class="bg-color">
                        50<span class="hidden-md hidden-lg">Subdomains</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg"> MySQL Databases</span>
                    </li>
                    <li>
                        $100<span class="hidden-md hidden-lg">Google AdWords Credits</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Remote Desktop Widge</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Message from Users List</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Worldwide Phone Support</span>
                    </li>
                </ul>
                <div class="pricing-head">
                    <h4 class="price">
                        <i>$</i>29<i>.95</i>
                        <span class="hidden-md hidden-lg">Per Month</span>
                    </h4>
                </div>
                <a href="#" class="btn btn-u btn-block ">Purchase Now</a>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 block">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>Premium
                        <span>Officia deserunt mollitia</span>
                    </h3>
                </div>
                <ul class="pricing-content list-unstyled ">
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Monthly Reports</span>
                    </li>
                    <li class="bg-color">
                        150<span class="hidden-md hidden-lg">Subdomains</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg"> MySQL Databases</span>
                    </li>
                    <li>
                        $200<span class="hidden-md hidden-lg">Google AdWords Credits</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Remote Desktop Widge</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Message from Users List</span>
                    </li>
                    <li class="bg-color"><i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Worldwide Phone Support</span>
                    </li>
                </ul>
                <div class="pricing-head">
                    <h4 class="price">
                        <i>$</i>69<i>.99</i>
                        <span class="hidden-md hidden-lg">Per Month</span>
                    </h4>
                </div>
                <a href="#" class="btn btn-u btn-block ">Purchase Now</a>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 block">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>Elite
                        <span>Officia deserunt mollitia</span>
                    </h3>
                </div>
                <ul class="pricing-content list-unstyled ">
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Monthly Reports</span>
                    </li>
                    <li class="bg-color">
                        2000<span class="hidden-md hidden-lg">Subdomains</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg"> MySQL Databases</span>
                    </li>
                    <li>
                        $500<span class="hidden-md hidden-lg">Google AdWords Credits</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Remote Desktop Widge</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Message from Users List</span>
                    </li>
                    <li class="bg-color"><i class="fa fa-check">
                    </i><span class="hidden-md hidden-lg">Worldwide Phone Support</span>
                    </li>
                </ul>
                <div class="pricing-head">
                    <h4 class="price">
                        <i>$</i>99<i>.00</i>
                        <span class="hidden-md hidden-lg">Per Month</span>
                    </h4>
                </div>
                <a href="#" class="btn btn-u btn-block ">Purchase Now</a>
            </div>
        </div>
    </div>
    <!-- End Pricing Mega v2 -->
</div>