<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">  
            <div class="margin-bottom-50"></div>

            <h2>제품의 주문방법</h2>
            <ul class="list-unstyled">
                <li><i class="fa fa-check color-green"></i> 제품의 주문은 당사의 회원으로 가입하신분만 주문하실 수 있습니다.</li>
                <li><i class="fa fa-check color-green"></i> 주문하고자 하시는 회원께서는 각 지역센타 또는 본사로 방문하시어 제품구매 주문서를 직접 작성하시고 서명하신후 접수창구에 제출하시면 됩니다.</li>
                <li><i class="fa fa-check color-green"></i> 주문서 작성전에 뒷면의 계약사항을 꼼꼼히 읽으시고 숙지하시기 바랍니다.</li>
                <li><i class="fa fa-check color-green"></i> 제품 대금은 은행입금과 카드결제 모두 가능하며 송금영수증 또는 카드매출 전표를 주문서에 제출하셔야 합니다.</li>
                <li><i class="fa fa-check color-green"></i> 서류 접수시 회원보관용 주문서는 반드시 회원 본인께서 보관하셔야 합니다.        </li>
            </ul>

            <hr>

            <h2>제품의 수령방법</h2>
            <ul class="list-unstyled">
                <li><i class="fa fa-check color-green"></i> 각 지역센터에서 보낸 주문서는 택배를 통해 본사로 접수되며 주문서를 토대로 각지역센타로 주문하신 제품을 배송합니다.</li>
                <li><i class="fa fa-check color-green"></i> 회원께서는 각 지역센타에서 센터보관용주문서 하단의 “제품인수시 기재란”에 자필로 서명하신 후 제품을 수령하시면 됩니다.(수령시 신분증확인)</li>
                <li><i class="fa fa-check color-green"></i> 센터보관용 주문서는 각 센터에서 반드시 보관해야 합니다.</li>
            </ul>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>