<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">  
            <div class="margin-bottom-50"></div>
            <dl>    
                <h3>본인은 (주)에이치비네트웍스(이하 "회사"라 한다)의 회원으로서 다음 사항을 준수할 것을 서약합니다.</h3>       
        
                <dt>1)시행규칙의 숙지 및 준수</dt>
                    <dd>회사의 사업을 영위함에 있어 본 윤리 규정과 회원관리 규정 및 기타 관계 규정 등에 실린 내용을 충분히 숙지하고 이에 입각하여 사업에 임하겠습니다.</br>
                        회사의 회원은 새로운 문화를 선도한다는 사명감으로 사회에 대한 봉사와 공헌을 목적으로 하는 자랑스러운 신분임을 깨닫고 언제나 성의와 진실로서 타인을 대함은 물론 모범적인 행동으로 타인이 귀감이 되는 행동을 하겠습니다.
                    </dd>
                
                <dt>2)회사마케팅 정책의 숙지 및 정확한 고지 의무와 "회사" 사업은 그 대가에 상용하는 훈련과 노력을 필요로 하는 사업임을 깨닫고 보상플랜 및 상품지식을 충분히 숙지한 후 판매에 임하여 잘못된 개념을 전파하지 않겠으며 성장과 더불어 지속적으로 학습과 훈련에 노력을 아끼지 않겠습니다. </dt>

                <dt>3)자유의지에 대한 행동</dt>
                    <dd>철저한 본인의 자유의지에 따라 "회사" 네트워크마케팅 사업의 판매계획을 수립하고 합리성과 정확성의 원칙에 따라 판매목표를 달성하기 위해 노력하겠습니다.</dd>
                
                <dt>4)경쟁제품의 비난금지</dt>
                <dd>타사 경쟁제품을 비난하거나 경쟁사의 제반 여건에 대해 폭로하는 형태의 판매를 하지않고 오직 회사 상품의 우수성과 경쟁력만을 가지고 진실과 신용으로 판매하겠습니다.</dd>

                <dt>5}소비자 만족보증</dt>
                <dd>판매한 제품에 대한 소비자의 만족도를 철저히 파악하여 이에 대응하는 노력을 기울임으로서 상품의 우수성이 왜곡되어 소비자에게 인식되는 일이 없도록 하겠습니다.</br>
                    또한 소비자의 불만족 시 회사의 각 상품의 품질보증 조건에 따라 신속 정확하게 처리하여 소비자에게 해가 되는 일이 없도록 하겠습니다. 
                </dd>

                <dt>6}에프터서비스 철저</dt>
                <dd>기존 소비자에 대한 지속적인 관리와 관심을 기울임으로써 신뢰에 의해 신규 소비자가 개척되는 것이 회사 사업의 기본원리이자 사업성장의 지름길임을 알고 있으며 기존 소비자에 대한 서비스를 철저히 하겠습니다. </dd>

                <dt>7}성실한 후원</dt>
                <dd>후원한 회원들에 대해 성실과 책임을 가지고 지도, 교육함으로써 판매망을 발전시킴은 물론 형성된 판매망의 영업활동에 대해 모든 연대책임을 지겠습니다. </dd>
            </dl>
            <div class="margin-bottom-50"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>