<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">  
            <div class="margin-bottom-50"></div>

            <h2>회원가입 자격</h2>
            <p>(주)에이치비네트웍스의 회원으로 가입하고자 하는 분은 아래의 사항에 해당되지 않는 한 누구든지 가입하실 수 있으며 이때 가입비 등 일체의 비용이 필요하지 않습니다.</p>
            <ul class="list-unstyled">
                <li><i class="fa fa-check color-green"></i> 국가공무원, 지방공무원 또는 교육공무원 및 사립학교법에 의한 교원</li>
                <li><i class="fa fa-check color-green"></i> 법인</li>
                <li><i class="fa fa-check color-green"></i> 당사의 임직원</li>
                <li><i class="fa fa-check color-green"></i> 기타 법률이정한 결격사유가 있는 사람</li>
            </ul>

            <hr>

            <h2>회원가입 절차</h2>
            <p>회원으로 가입하고자 하시는 분은 후원인을 찾아 (주)에이치비네트웍스의 사업내용 및마케팅플랜에 대한 설명을 듣고 회원등록신청서를 작성하여 접수하시면 됩니다. 후원인을 찾지 못하였을 경우 본사 C/S Desk (1899-5990)로 문의하여주시면 친절히 안내해 드리겠습니다. 신청서를 접수받은후 검토결과 결격사유가 없으면 회원등록과 동시에 회원증과 다단계판매원 으로써 본사의 모든 물품을 판매 할수 있는 자격이 주어집니다.</p>

            <hr>

            <h2>회원가입시 구비서류</h2>
            <p>회원등록신청서, 신분증 사본, 본인명의 통장사본</p>

            <hr>

            <h2>회원의 탈퇴</h2>
            <ul class="list-unstyled">
                <li><i class="fa fa-check color-green"></i> (주)에이치비네트웍스의 회원을 탈퇴하고자 하시는 분 께서는 본인의 의사에 따라 언제든지 자유롭게 탈퇴하실 수 있습니다.</li>
                <li><i class="fa fa-check color-green"></i> 회원의 탈퇴에 따른 어떠한 불이익도 발생하지 않으며 다만, 기존 회원으로서의 자격 및 권리는 상실하게 됩니다.</li>
                <li><i class="fa fa-check color-green"></i> 회원탈퇴후 재가입은 6개월 이후에 가능하며 이때에는 회원탈퇴 이전의 자격 및 권리는 인정하지 않습니다.</li>
            </ul>

            <hr>

            <h2>외국인 회원가입 자격</h2>
            <p>다단계판매원의 활동은 기본적으로 영리 활동에 해당됩니다. 외국인이 한국내에서 영리활동을 하기 위해서는 활동을 할 수 있는 출입국관리법에 따른 체류자격을 갖추어야 합니다.
                현재 다단계판매원으로 활동할 수 있는 체류자격은 2015년 7월 기준으로 거주(F-2), 재외동포(F-4), 영주(F-5), 결혼이주(F-6) 이 있습니다.
                특히 방문취업(H-2) 체류자격을 가진 외국인(중국동포)은 판매원으로 활동할 수 없으므로 이에 주의하여야 합니다.</p>

            <div class="margin-bottom-50"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>