<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">  
            <div class="margin-bottom-50"></div>
            <dl>    
                <h3>개인정보의 수집 항목 및 이용 목적</h3>
                <dd>㈜ 에이치비네트웍스은 “웹사이트”에 가입하시는 분께 ㈜ 에이치비네트웍스의 정보와 서비스를 제공 하기 위하여 필요한 최소한의 정보를 필수적으로 수집하고 있습니다.“웹사이트”에 등록하신 모든 이용자의 개인정보는 밝힌 목적 이외에는 절대로 사용될 수 없으나 개인정보의 사용목적과 용도가 변경될 경우에 반드시 이용자로 등록하신 모든 분에게 동의를 구할 것을 약속합니다.개인정보의 수집 및 이용에 대한 동의 철회 시 ㈜ 에이치비네트웍스은 개인정보를 수집하지 않으며 이용자의 개인정보는 삭제됩니다.</dd>
                
                <h3>수집하는 개인정보와 이용 목적은 다음과 같습니다.</h3>
                <dd><strong>[필수 수집 항목]</strong></dd>
                <dd>- 성명, 회원ID, 비밀번호 : 서비스 이용에 따른 본인 식별 절차에 이용됩니다.</dd>
                <dd>- 이메일주소, 전화번호 : 고지사항 전달, 본인 의사 확인, 불만 처리 등 원활한 의사소통 경로의 확보, 새로운 서비스/신상품이나 이벤트 정보의 안내에 이용됩니다.</dd>
                <dd>- 은행계좌정보, 신용카드정보 : 이용자 후원 수당 제공, 물품구입에 대한 요금 결제에 이용됩니다.</dd>
                <dd>- 주소, 전화번호 : 청구서, 경품과 쇼핑 물품 배송에 대한 정확한 배송지의 확보에 이용됩니다.</dd>
                <dd>- 주민등록번호 : 관할세무서, TAX 신고를 위한 정보로 이용됩니다.</dd>

                <dd><strong>[선택 수집 항목]</strong>
                - 필수 수집 항목을 제외한 선택 수집 항목. 개인맞춤 서비스를 제공하기 위한 자료로 이용됩니다.</dd>

                <dd><strong>[자동 수집 항목]</strong>
                - 이용자의 서비스 이용기록, 접속 로그, 쿠키, 접속 IP 정보, 이용자 브라우저 정보 이용자가 서비스를 이용할 경우 자동적으로 수집,저장되며 이용자의 사용환경을 분석하여 최적의 서비스를 제공하기 위하여 이용됩니다.단, 이용자의 기본적 인권 침해의 우려가 있는 민감한 개인정보(인종 및 민족, 사상 및 신조, 출신지 및 본적지, 정치적 성향 및 범죄기록, 건강상태 및 성생활 등)는 수집하지 않습니다.</dd>


                <h3>㈜ 에이치비네트웍스은 다음과 같은 방법으로 개인정보를 수집합니다.</h3>
                <dd><strong>[선택 수집 항목]</strong></dd>
        <!--        <dd>- 홈페이지 가입 양식</dd>-->
                <dd>- 서면 이용자 가입 양식</dd>

                <dd><strong>[개인정보의 보유기간 및 이용기간]</strong></dd>
                <dd>- 이용자가 ㈜ 에이치비네트웍스에서 제공하는 서비스를 받는 동안 (주) 에이치비네트웍스은 이용자의 개인정보를 계속 보유하며 서비스 제공을 위해 이용하게 됩니다. 다만 이용자께서 가입 해지를 요청하시거나 (주) 에이치비네트웍스 약관에 의에 이용자 자격 상실의 경우에는 등록된 이용자의 개인정보는 완전히 삭제되며 어떠한 용도로도 열람 또는 이용할 수 없도록 처리됩니다.그리고 상법, 전자상거래 등에서의 소비자보호에 관한 법률 등 관계법령의 규정에 의하여 보존 할 필요가 있는 경우 회사는 관계법령에서 정한 일정한 기간 동안 이용자정보를 보관합니다. 이 경우 (주) 에이치비네트웍스은 보관하는 정보를 그 보관의 목적으로만 이용합니다.</dd>

                <dd>- 사후관리(A/S, 부품교체 및 정보 제공 등)의 목적으로 개인정보, 구매정보, 부품교체 정보에 관한 기록: 10년</dd>
                <dd>- 계약 또는 청약철회 등에 관한 기록: 5년</dd>
                <dd>- 대금결제 및 재화 등의 공급에 관한 기록: 5년</dd>
                <dd>- 소비자의 불만 또는 분쟁처리에 관한 기록: 3년</dd>


                <dd>개인정보 수집에 대한 동의</dd>
                <dd>"웹사이트"는 이용자 가입 시 '이용약관'과 '개인정보취급방침'에 동의하는 절차를 마련하고 있으며, 본 절차에 동의하였을 경우 개인정보 수집 및 이용에 대해 동의 한 것으로 봅니다. 동의의 의사가 없으면 이용자로 가입하실 수 없습니다.</dd>


                <h3>개인정보의 제3자에 대한 공유 및 제공</h3>
                <dd>(주) 에이치비네트웍스 은 이용자들의 개인정보를 공유할 경우에는 "개인정보의 수집목적 및 이용목적" 에서 고지한 범위 내에서 사용하며, 이용자의 사전 동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 이용자의 개인정보를 서비스와 무관한 타기업, 기관에 제공하지 않습니다.
                다만, (주) 에이치비네트웍스 이용약관에 의거하여 이용자에 대하여 보다 더 질 높은 서비스 제공 등을 위해 개인정보 활용 동의에 한하여 개인정보를 공유 및 제공하고 있습니다.<dd>

                <dd>단, 아래의 경우는 예외로 합니다.</dd>
                <dd>- 이용자들이 사전에 동의한 경우</dd>
                <dd>- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있을 경우</dd>
                <dd>- 통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 식별할 수 없는 형태로 제공하는 경우</dd>


                <h3>개인정보의 위탁에 대한 공유 및 제공</h3>
                <dd>(주) 에이치비네트웍스은 서비스 향상을 위해서 이용자들이 개인정보를 외부전문업체에 위탁하여 처리할 수 있습니다. 개인정보의 처리를 위탁하는 경우에는 미리 그 사실을 이용자들에게 공지할 것입니다. 또한 위탁 계약 등을 통하여 서비스 제공자의 개안정보보호 관련 지시 엄수, 개인정보에 관한 비밀유지, 제 3자 제공의 금지 및 사고시의 책임 부담 등을 명확히 규정하고 당해 계약내용을 서면 또는 전자적으로 보관 할 것입니다.</dd>


                <h3>개인정보의 관리(열람, 정정, 삭제 등)와 파기절차 및 방법</h3>
                <dd>(주) 에이치비네트웍스의 이용자는 언제든지 홈페이지에 등록되어 있는 자신의 개인정보를 열람하거나 정정할 수 있으며 이용자 개인정보 삭제를 요청하실 수 있습니다. 이용자는 개인정보의 수집, 이용에 대한 동의 철회(해지) 및 제3자에게 제공한 동의의 철회는 전화, 팩스, 기타의 방법을 통하여 할 수 있으며 이 경우, 이용자는 동일성 증명을 위하여 반드시 이용자 아이디와 본인임을 확인할 수 있는 정보를 밝히셔야 합니다.
                수정된 정보는 완료된 시점부터 바로 적용이 되며 이용자 가입 해지를 원하실 경우 해지신청 즉시 이용자와의 연락 후 (주) 에이치비네트웍스 정책에 준하여 해지 절차를 밟게 됩니다.
                이용자가 개인정보의 오류에 대한 정정을 요청한 경우 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다.
                 (주) 에이치비네트웍스은 이용자의 요청에 의해 해지 또는 삭제된 개인정보는 “개인정보의 보유기간 및 이용기간”에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 있도록 처리 하고 있습니다.
                또한 개인정보의 수집목적 또는 제공받은 목적이 달성된 때에는 이용자의 개인정보를 지체 없이 파기합니다. 파기 절차와 방법은 다음과 같습니다.</dd>

                <dd>▶ 개인정보의 파기 절차</dd>
                 <dd>이용자가 가입 등을 위해 입력하신 정보는 개인정보의 수집 및 이용 목적이 달성된 후 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(개인정보의 보유기간 및 이용기간 참조) 일정기간 저장된 후 파기됩니다. 이용자의 개인정보는 법률에 의한 경유가 아니고서는 보유되는 이외의 다른 목적으로 이용되지 않습니다.</dd>

                <dd>▶ 개인정보의 파기 방법</dd>
                <dd>(주) 에이치비네트웍스은 귀중한 회원의 개인정보를 안전하게 처리하며, 유출의 방지를 위하여 다음과 같은 방법을 통하여 개인정보를 파기합니다.</dd>

                <dd>1. 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통한 파기</dd>
                <dd>2. 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법 사용 </dd>


                <h3>쿠키(cookie)의 운영</h3>
                <dd>(주) 에이치비네트웍스은 서비스를 제공하는데 이용자를 개인적으로 특화 하기 위하여 Cookie 방식을 이용하고 있습니다.<dd>
                <dd>쿠키는 웹사이트를 운영하는데 이용되는 서버가 이용자의 브라우저에게 보내는 소량의 정보이며 이용자 컴퓨터의 하드디스크에 저장됩니다.<dd>
                <dd>(주) 에이치비네트웍스은 다음과 같은 목적을 위해 쿠키를 사용합니다.</dd>
                <dd>1. 이용자 로그인시 이용자가 등록된 이용자임을 인증하기 위한 수단으로 사용</dd>
                <dd>2. (주) 에이치비네트웍스은 사용자 환경 설정과 같은 개인이 직접 선택한 검색 사용환경 값을 저장해 두었다가 이용자가 필요로 하는 환경 설정 등에서 사용</dd>

                 <dd>이러한 쿠키의 사용은 위 사항 외에 개인정보를 활용하여 (주) 에이치비네트웍스의 정책에 도움을 주기 위한 방법으로 파일 쿠키를 사용하지는 않습니다. 이와 더불어서 브라우저의 종료시나 로그 아웃 시에 자동으로 만료되므로 공공장소나 타인이 사용할 수 있는 PC를 사용하실 경우에는 로그인 후 서비스 이용이 끝나시면 반드시 로그 아웃을 해주시기 바랍니다.</dd>

                <dd>이용자는 쿠키에 대한 선택권을 가지고 있습니다. 이용자의 웹 브라우저에서 옵션을 선택함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수 있습니다. 단, 쿠키의 저장을 거부하실 경우 로그인이 필요한 (주) 에이치비네트웍스의 모든 서비스는 이용하실 수 없게 됩니다.</dd>

                <dd>▶ 쿠키 설정 거부 방법</dd>
                 <dd>인터넷 익스플로어 경우 - 웹 브라우저 상단의 도구 > 인터넷 옵션 > 개인정보 > 고급 설정 에서 쿠키 관련 차단 설정</dd>




                <h3>개인정보보호를 위한 기술적/관리적 대책</h3>
                <dd>(주) 에이치비네트웍스은 이용자들의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적 대책을 강구하고 있습니다.</dd>

                <dd>이용자들의 개인정보는 비밀번호에 의해 철저히 보호되고 있습니다. 이용자 아이디(ID)의 비밀번호는 본인만이 알고 있으며, 개인정보의 확인 및 변경도 비밀번호를 알고 있는 본인에 의해서만 가능합니다. 따라서 이용자 여러분께서는 비밀번호를 누구에게도 알려주시면 안됩니다.
                이를 위해 회사에서는 기본적으로 PC에서의 사용을 마치신 후 온라인상에서 로그아웃(LOG-OUT)하시고 웹 브라우저를 종료하도록 권장합니다.
                특히 다른 사람과 PC를 공유하여 사용하거나 공공장소(회사나 학교, 도서관, 인터넷게임 방 등) 에서 이용한 경우에는 개인정보가 다른 사람에게 알려지는 것을 막기 위해 위와 같은 절차가 더욱 필요할 것입니다. 자신의 개인정보를 책임 있게 관리하여야 합니다.
                이러한 비밀번호의 유출에 대해서는 회사는 어떠한 책임도 지지 않습니다.</dd>

                 <dd>(주) 에이치비네트웍스은 해킹이나 컴퓨터 바이러스 등에 의해 이용자의 개인정보가 유출되거나 훼손되는 것을 막기 위해 최선을 다하고 있습니다.
                개인정보유출방지를 위해 ‘몰’에 접속할 때 해킹 방지 프로그램이 자동으로 동작하고 탐지, 방어하도록 되어 있습니다.
                개인정보의 훼손에 대비해서 자료를 수시로 백업하고 있고, 최신 백신프로그램을 이용하여 이용자들의 개인정보나 자료가 누출되거나 손상되지 않도록 방지하고 있으며, 암호 알고리즘 등을 통하여 네트워크상에서 개인정보를 안전하게 전송할 수 있도록 하고 있습니다.
                또한 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있고, 24시간 전문 보안 업체를 통하여 모니터링 및 응급대처방안을 준비하고 있으며, 기타 시스템적으로 안정성을 확보하기 위한 가능한 모든 기술적 장치를 갖추려 노력하고 있습니다.</dd>

                <dd> (주) 에이치비네트웍스의 개인정보관련 취급 직원은 담당자에 한정시키고 있고 이를 위한 별도의 비밀번호를 부여하여 정기적으로 갱신하고 있으며, 담당자에 대한 수시 교육을 통하여 개인정보 보호정책의 준수를 항상 강조하고 있습니다. 그리고 사내 통신비밀전담기구 등을 통하여 개인정보 보호정책의 이행사항 및 담당자의 준수여부를 확인하여 문제가 발견될 경우 즉시 수정하고 바로 잡을 수 있도록 노력하고 있습니다.</dd>

                <h3>만 14세 미만 아동에 대한 정보보호에 관한 사항</h3>
                <dd>(주) 에이치비네트웍스은 20세 이상만이 이용자 가입이 가능합니다.</dd>


                <h3>개인정보 관리책임자와 담당부서</h3>
                <dd>(주) 에이치비네트웍스은 정보통신부 지정 '개인정보취급방침'에 의거한 개인정보 관리책임자를 아래와 같이 지정합니다.</dd>
                <dd>개인정보 관련 문의사항에 신속하고 성실하게 답변해드리고 있습니다.</dd>


                <dd>개인정보 관리 담당자 : 박거령</dd>
                <dd>E-Mail : admin@hbn.co.kr</dd>
                <dd>문의전화 : 1899-5990</dd>
                <dd>팩스 : 02)566-3133</dd>



                <h3>개인정보관련 의견수렴 및 불만 처리</h3>
                <dd>(주) 에이치비네트웍스은 개인정보보호와 관련하여 이용자 여러분들의 의견을 수렴하고 있으며 불만을 처리하기 위하여 모든 절차와 방법을 마련하고 있습니다. 이용자들은 “(주) 에이치비네트웍스 개인정보 관리책임자 및 담당자”를 참고하여 전화나 메일을 통하여 불만사항을 신고할 수 있고, (주) 에이치비네트웍스은 이용자들의 신고사항에 대하여 신속한 답변을 드릴 것 입니다.
                또한 (주) 에이치비네트웍스의 "웹사이트" 이용 중 (주) 에이치비네트웍스의 개인정보보호에 관련된 처리에 대하여 만족하지 못하실 경우에는 정부에서 운영중인 아래 기관을 통해 분쟁 조정할 수 있습니다.</dd>

                <dd>1. 개인정보침해 신고센터: (URL: privacy.kisa.or.kr / 전화: 02-405-5118)</dd>
                <dd> 2. 개인정보 분쟁조정위원회: (URL: www.kopico.or.kr / 전화: 02-405-5150)</dd>
                <dd> 3. 정보보호마크인증위원회 (URL: www.eprivacy.or.kr / 전화: 02-580-0533~4)</dd>

                <dd>이용 중 피해 사항은 아래 기관을 통해 피해 신고할 수 있습니다.</dd>
                <dd>1. 한국소비자보호원: (URL: www.cpb.or.kr)</dd>




                <h3>고지의 의무</h3>
                <dd> 현 개인정보취급방침은 2015년 6월 1일부터 적용됩니다. 내용의 추가, 삭제 및 수정이 있을 시에는 시행일의 7일전부터 웹사이트의 공지사항을 통하여 고지할 것입니다. 또한 개인정보취급방침에 버전번호 및 변경공고일자 및 그 시행일자 등을 부여하여 개정여부를 쉽게 일 수 있도록 하고 있습니다. </dd>
            </dl>
            <div class="margin-bottom-50"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>