<div class="container content">
    <!--Basic Table Option (Spacing)-->
    <div class="panel panel-yellow margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-user"></i> 평균 후원 수당 공지 (2016년)</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="bg-color">
                    <th class="text-center" rowspan="2"></th>
                    <th class="text-center" colspan="2">전체 판매원에 대한 지급 분포도</th>
                    <th class="text-center" colspan="2">후원수당을 지급받은 판매원만의 지급 분포도</th>
                </tr>
                <tr class="bg-color">
                    <th class="text-center">후원수당 총 지급액</th>
                    <th class="text-center">1인당 후원수당 평균 지급액</th>
                    <th class="text-center">후원수당 총 지급액</th>
                    <th class="text-center">1인당 후원수당 평균 지급액</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center">상위 1% 미만</td>
                    <td class="text-right">965,967,555 원</td>
                    <td class="text-right">6,999,765 원</td>
                    <td class="text-right">947,363,479 원</td>
                    <td class="text-right">9,287,877 원</td>
                </tr>
                <tr>
                    <td class="text-center">상위 1% 이상 ~ 상위 6% 미만</td>
                    <td class="text-right">83,951,258 원</td>
                    <td class="text-right">120,967 원</td>
                    <td class="text-right">85,963,209 원</td>
                    <td class="text-right">168,225 원</td>
                </tr>
                <tr>
                    <td class="text-center">상위 6% 이상 ~ 상위 30% 미만</td>
                    <td class="text-right">125,691,269 원</td>
                    <td class="text-right">37,700 원</td>
                    <td class="text-right">112,566,656 원</td>
                    <td class="text-right">45,833 원</td>
                </tr>
                <tr>
                    <td class="text-center">상위 30% 이상 ~ 상위 60% 미만</td>
                    <td class="text-right">56,785,760 원</td>
                    <td class="text-right">13,627 원</td>
                    <td class="text-right">66,604,942 원</td>
                    <td class="text-right">21,695 원</td>
                </tr>
                <tr>
                    <td class="text-center">상위 60% 이상 ~ 상위 100%</td>
                    <td class="text-right">5,085,540 원</td>
                    <td class="text-right">915 원</td>
                    <td class="text-right">24,983,096 원</td>
                    <td class="text-right">6,099 원</td>
                </tr>
                <tr class="bg-color">
                    <td class="text-center"><strong>합계</strong></td>
                    <td class="text-right"><strong>1,237,481,382 원</strong></td>
                    <td></td>
                    <td class="text-right"><strong>1,237,481,382 원</strong></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--End Basic Table-->

    <!--Basic Table Option (Spacing)-->
    <div class="panel panel-red margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-user"></i> 평균 후원 수당 공지 (2015년)</h3>
        </div>
        <div class="panel-body">            
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="bg-color">
                        <th class="text-center" rowspan="2"></th>
                        <th class="text-center" colspan="2">전체 판매원에 대한 지급 분포도</th>
                        <th class="text-center" colspan="2">후원수당을 지급받은 판매원만의 지급 분포도</th>
                    </tr>
                    <tr class="bg-color">                        
                        <th class="text-center">후원수당 총 지급액</th>
                        <th class="text-center">1인당 후원수당 평균 지급액</th>
                        <th class="text-center">후원수당 총 지급액</th>
                        <th class="text-center">1인당 후원수당 평균 지급액</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">상위 1% 미만</td>
                        <td class="text-right">142,597,559 원</td>
                        <td class="text-right">8,388,092 원</td>
                        <td class="text-right">118,467,913 원</td>
                        <td class="text-right">13,163,101 원</td>
                    </tr>
                    <tr>
                        <td class="text-center">상위 1% 이상 ~ 상위 6% 미만</td>
                        <td class="text-right">29,799,265 원</td>
                        <td class="text-right">334,823 원</td>
                        <td class="text-right">46,509,624 원</td>
                        <td class="text-right">968,951 원</td>
                    </tr>
                    <tr>
                        <td class="text-center">상위 6% 이상 ~ 상위 30% 미만</td>
                        <td class="text-right">18,399,040 원</td>
                        <td class="text-right">42,788 원</td>
                        <td class="text-right">19,810,668 원</td>
                        <td class="text-right">84,661 원</td>
                    </tr>
                    <tr>
                        <td class="text-center">상위 30% 이상 ~ 상위 60% 미만</td>
                        <td class="text-right">2,968,510 원</td>
                        <td class="text-right">5,528 원</td>
                        <td class="text-right">6,692,500 원</td>
                        <td class="text-right">22,841 원</td>
                    </tr>
                    <tr>
                        <td class="text-center">상위 60% 이상 ~ 상위 100%</td>
                        <td class="text-right">0 원</td>
                        <td class="text-right">0 원</td>
                        <td class="text-right">2,283,669 원</td>
                        <td class="text-right">5,811 원</td>
                    </tr>
                    <tr class="bg-color">
                        <td class="text-center"><strong>합계</strong></td>
                        <td class="text-right"><strong>193,764,374 원</strong></td>
                        <td></td>
                        <td class="text-right"><strong>193,764,374 원</strong></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--End Basic Table-->
</div>