<div class="container content">    
    <!--Basic Table Option (Spacing)-->
    <div class="panel panel-red margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-user"></i> 평균 후원 수당 공지 (2015)</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="bg-color">
                        <th class="text-center" rowspan="2"></th>
                        <th class="text-center" colspan="2">전체 판매원에 대한 지급분포도</th>
                        <th class="text-center" colspan="2">후원수당을 지급받은 판매원만의 지급분포도</th>
                    </tr>
                    <tr class="bg-color">                        
                        <th class="text-center">후원수당 총 지급액(원)</th>
                        <th class="text-center">1인당 후원수당 평균 지급액(원)</th>
                        <th class="text-center">후원수당 총 지급액(원)</th>
                        <th class="text-center">1인당 후원수당 평균 지급액(원)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">상위 1% 미만 판매원</td>
                        <td class="text-right">147,828,595</td>
                        <td class="text-right">8,695,800</td>
                        <td class="text-right">121,955,270</td>
                        <td class="text-right">13,550,586</td>
                    </tr>
                    <tr>
                        <td class="text-center">상위 1% 이상 ~ 상위 6% 미만</td>
                        <td class="text-right">29,799,265</td>
                        <td class="text-right">331,103</td>
                        <td class="text-right">48,253,302</td>
                        <td class="text-right">984,761</td>
                    </tr>
                    <tr>
                        <td class="text-center">상위 6% 이상 ~ 상위 30% 미만</td>
                        <td class="text-right">18,399,040</td>
                        <td class="text-right">42,788</td>
                        <td class="text-right">19,810,668</td>
                        <td class="text-right">84,301</td>
                    </tr>
                    <tr>
                        <td class="text-center">상위 30% 이상 ~ 상위 60% 미만</td>
                        <td class="text-right">2,968,510</td>
                        <td class="text-right">5,518</td>
                        <td class="text-right">6,692,500</td>
                        <td class="text-right">22,841</td>
                    </tr>
                    <tr>
                        <td class="text-center">상위 60% 이상 ~ 상위 100%</td>
                        <td class="text-right">0</td>
                        <td class="text-right">0</td>
                        <td class="text-right">2,283,670</td>
                        <td class="text-right">5,841</td>
                    </tr>
                    <tr class="bg-color">
                        <td class="text-center"><strong>합계</strong></td>
                        <td class="text-right"><strong>198,995,410</strong></td>
                        <td></td>
                        <td class="text-right"><strong>198,995,410</strong></td>                        
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--End Basic Table-->
</div>