<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container">
    <form id="fUpload" name="fOrder" class="shopping-cart" method="post" action="/center/calendar/update" enctype="multipart/form-data">
    <input type="hidden" name="IMG_FILE_NAME" value="<?=$img_file_name?>" />
    <input type="hidden" name="CENTER_CD" value="<?=$center_cd?>" />
	<div class="main-counters margin-bottom-10">
        <div class="headline row">
            <div class="col-xs-3 text-left">
                <ul class="list-inline clear-both">
                    <li class="sort-list-btn">
                        <h4>센터 :  </h4>
                        <div class="btn-group">
                            <button type="button" id="sel_position" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <?=$center_list[$center_cd]?> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">                                
                                <? foreach ($center_list as $key => $value) : ?>
                                <li><a href="/center/calendar/cd/<?=$key?>?year=<?=$year?>&month=<?=$month?>"><?=$value?></a></li>
                                <? endforeach ?>
                            </ul>
                        </div>
                    </li>                    
                </ul>
            </div>
            <div class="col-xs-1">
            <? if ( file_exists(".".$img_path) ) : ?>
                <a onclick="window.open('/center/calendar/print2/center_cd/<?=$center_cd?>/year/<?=$year?>/month/<?=$month?>', '_blank', 'width=1000,height=800,scrollbars=yes,status=yes,resizable=yes,screenx=0,screeny=0');" class="btn-u btn-u-danger rounded"><i class="fa fa-print"></i></a>
            <? endif ?>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5"></div>
            <div class="col-xs-2 date"></div>
            <div class="col-xs-5"></div>
        </div>
    </div>
<? if ( IS_MANAGER || IS_CENTER ) : ?>
    <div class="row margin-bottom-50">
        <div id="alert_file" class="ace">
            <div id="form-attachments">
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-3 text-center" id='div-input-file'>
                        <span style="display:block">
                            <input type="file" id="id-input-file" name="file"/>
                        </span>
                    </div>
                    <div class="col-xs-3">
                        <div class="row margin-bottom-20">
                            <button class="btn btn-lg rounded btn-default" type="button" id="del">일정 삭제</button>
                        </div>
                        <div class="row">
                            <button class="btn btn-lg rounded btn-default" id="upload" type="button">일정 업로드</button>
                        </div>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
            </div>
        </div>
    </div>
<? endif ?>
     <? if ( file_exists(".".$img_path) ) : ?>
        <img src="<?=$img_path?>" width="100%">
    <? endif ?>
    </form>
</div>

<style>
    .ui-datepicker-calendar
    {
        display: none;
    }

    .ui-datepicker
    {
        border:none ;
        -webkit-box-shadow:none ;
        box-shadow:none ;
    }

    .ui-datepicker-prev, .ui-datepicker-next
    {
        width: 0px;
    }

    .ui-datepicker-header
    {
        border-bottom: none;
    }
</style>

<!-- JS Implementing Plugins -->
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script type="text/javascript" src="<?=JS_DIR?>/ace-elements.js"></script>

<!-- JS Page Level -->
<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<script type="text/javascript">
	$(document).ready(function() 
	{
        App.init();

        $('.date').datepicker
        ({
            defaultDate:'<?=$month?>/01/<?=$year?>',
            changeMonth: true,
            changeYear: true,
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',

            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],

            onChangeMonthYear: function( year, month, inst )
            {
                if ( month < 10 )
                {
                    month = '0' + month ;
                }

                location.href = '/center/calendar/cd/<?=$center_cd?>?year='+year+'&month='+month ;
            },
        });

    <? if ( IS_MANAGER || IS_CENTER ) : ?>
        $('#id-input-file').ace_file_input({
            style:'well',
            btn_choose:'',
            btn_change:null,
            no_icon:'icon-picture',
            droppable:true,
            thumbnail:'large',
            //icon_remove:null,
            before_change : function(files, dropped)
            {
                var allowed_files = [];

                for(var i = 0 ; i < files.length; i++)
                {
                    var file = files[i] ;

                    if(typeof file === "string")
                    {
                        //IE8 and browsers that don't support File Object
                        if(! (/\.(jpe?g|png|gif|bmp)$/i).test(file) ) return false ;
                    }
                    else
                    {
                        var type = $.trim(file.type);
                        if( ( type.length > 0 && ! (/^image\/(jpe?g|png|gif|bmp)$/i).test(type) )
                                || ( type.length == 0 && ! (/\.(jpe?g|png|gif|bmp)$/i).test(file.name) )//for android's default browser which gives an empty string for file.type
                        )
                        {
                            alert('이미지 파일만 첨부 가능합니다.') ;
                            continue;//not an image so don't keep this file
                        }
                    }

                    if (file.size > (1024 * 1024 * 1.5))
                    {
                        var filesize = file.size / (1024 * 1024 * 1.5) ;
                        alert('파일이 너무 큽니다. ('+filesize.toFixed(2)+'MB). 첨부 가능 파일 사이즈(1.5MB 이하)') ;
                        continue ;
                    }

                    allowed_files.push(file);
                }

                if(allowed_files.length == 0) return false ;

                var cur_input_idx = parseInt($(this).attr('name').substr(4, 1)) ;
                var next_input_div = '#div-input-file' + (cur_input_idx + 1) ;

                $('#img'+cur_input_idx).closest('span').hide() ;
                $('#id-input-file'+cur_input_idx).closest('span').show() ;

                $(next_input_div).show() ;

                return allowed_files ;
            },
            before_remove : function()
            {
                var cur_input_idx = parseInt($(this).attr('name').substr(4, 1)) ;
                var cur_input_div = '#div-input-file' + cur_input_idx ;
                var prev_input_div = '#div-input-file' + (cur_input_idx - 1) ;
                var next_input_div = '#div-input-file' + (cur_input_idx + 1) ;

                if ($(next_input_div).find('.file-label').attr('data-title') == '')
                {
                    //$(next_input_div).hide() ;
                }

                if ($(prev_input_div).find('.file-label').attr('data-title') == '')
                {
                    //$(cur_input_div).hide() ;
                }

                return true ;
            },
            preview_error : function(filename, error_code)
            {
                //name of the file that failed
                //error_code values
                //1 = 'FILE_LOAD_FAILED',
                //2 = 'IMAGE_LOAD_FAILED',
                //3 = 'THUMBNAIL_FAILED'
                //alert(error_code);
            }

        }).on('change', function(){
            //console.log($(this).data('ace_input_files'));
            //console.log($(this).data('ace_input_method'));
        });

        $('button#upload').bind('click', function ()
        {
            if ( $("#id-input-file").find(".file-name").attr('data-title') == '' )
            {
                alert("일정 이미지를 선택해 주시기 바랍니다.") ;
            }
            else if ( $("#id-input-file").val() == '' )
            {
                alert("일정 이미지를 선택해 주시기 바랍니다.") ;
            }
            else
            {
                //alert($("#id-input-file").val()) ;

                $("#fUpload").submit();
            }
        }) ;

        $('button#del').click(function()
        {
            if (confirm('일정을 삭제하시겠습니까?'))
            {
                location.href = '/center/calendar/del_image/center_cd/<?=$center_cd?>/year/<?=$year?>/month/<?=$month?>' ;
            }
        }) ;
    <? endif ?>

	});
</script>