<link rel='stylesheet' href='<?=PLUGIN_DIR?>/fullcalendar/fullcalendar.css' />
<link rel='stylesheet' href='<?=PLUGIN_DIR?>/fullcalendar/fullcalendar.print.css' media='print'/>
<link rel='stylesheet' href='<?=CSS_DIR?>/hb_calendar.css' />
<script src='<?=PLUGIN_DIR?>/fullcalendar/lib/jquery.min.js'></script>
<script src='<?=PLUGIN_DIR?>/fullcalendar/lib/moment.min.js'></script>
<script src='<?=PLUGIN_DIR?>/fullcalendar/lib/jquery-ui.custom.min.js'></script>
<script src='<?=PLUGIN_DIR?>/fullcalendar/fullcalendar.min.js'></script>
<script src='<?=PLUGIN_DIR?>/fullcalendar/lang-all.js'></script>
<script type='text/javascript' src='<?=PLUGIN_DIR?>/fullcalendar/gcal.js'></script>

<div class="container">   
	<div class="main-counters margin-bottom-40">
        <div class="headline row">
            <div class="col-xs-3 text-left">
                <ul class="list-inline clear-both">
                    <li class="sort-list-btn">
                        <h4>센터 :  </h4>
                        <div class="btn-group">
                            <button type="button" id="sel_position" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <?=$center_list[$center_cd]?> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">                                
                                <? foreach ($center_list as $key => $value) : ?>
                                <li><a href="/center/calendar/cd/<?=$key?>"><?=$value?></a></li>
                                <? endforeach ?>
                            </ul>
                        </div>
                    </li>                    
                </ul>
            </div>     
            <div>
	        	<a onclick="window.open('/center/calendar/print/cd/<?=$center_cd?>', '_blank', 'width=800,height=600,scrollbars=yes,status=yes,resizable=yes,screenx=0,screeny=0');" class="btn-u btn-u-danger rounded"><i class="fa fa-print"></i></a>
	        </div> 
        </div>               
    </div>
	<div class="row" id='loading'>loading...</div>
	<div class="row" id='calendar'></div>
</div>

<script type="text/javascript">
	$(document).ready(function() 
	{
	    function renderCalendar() 
	    {
			$('#calendar').fullCalendar({
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				defaultDate: '<?=$default_date?>',
				timeFormat: 'H:mm',
				lang: 'ko',									
				minTime: '09:00:00',
				maxTime: '22:00:00',	
				defaultTimedEventDuration: '01:00:00',			
				businessHours: 
				{
					dow:[1, 2, 3, 4, 5, 6]
				},
				eventLimit: true, // allow "more" link when too many events
				googleCalendarApiKey: 'AIzaSyAHsFotOAJ-JRPFeh0OWz877M6PqeDs47w',
				eventSources : 
				[
					{
						googleCalendarId: 'ko.south_korea#holiday@group.v.calendar.google.com',
						color: 'yellow',   // an option!
						textColor: 'black', // an option!
					},		

					<? foreach ($sources_list as $key => $value) : ?>
						'<?=$value?>',
					<? endforeach ?>
				],

				// add event name to title attribute on mouseover
		        eventMouseover: function(event, jsEvent, view) {
		            if (view.name !== 'agendaDay') {
		                $(jsEvent.target).attr('title', event.title);
		            }
		        },
		        				
				loading: function(bool) {
					$('#loading').toggle(bool);
				},	
			});
		}	
		
		renderCalendar();	
	});
</script>