<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <div class="main-counters margin-bottom-40">
        <div class="headline row">
            <div class="col-xs-5"><h2><?=$year?>년 <?=$month?>월 개통 건수 : <?=$total_count?> 건</h2></div>
            <div class="col-xs-2 date"></div>   
            <div class="col-xs-5"></div>      
        </div>

        <div class="panel panel-dark margin-bottom-40">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-area-chart"></i> </h3>
            </div>
            <div>
                <table class="table table-hover table-bordered text-center">
                    <thead>
                    <tr>
                        <th rowspan="3" class="text-center">센터명</th>
                        <th colspan="<?=$total_reg_kind_count + 1?>" class="text-center">무선상품</th>
                        <th colspan="4" class="text-center">유선상품</th>
                        <th rowspan="3" class="text-center">합계</th>
                        <th rowspan="3" class="text-center">전월대비 증감률</th>
                    </tr>
                    <tr>
                    <? foreach ( $mobile_vender_list as $vender ) : ?>
                        <th colspan="<?=count($reg_kind_list[$vender]) + 1?>" class="text-center"><?=$mobile_vender_name_list[$vender]?></th>
                    <? endforeach ?>
                        <th rowspan="2" class="text-center">합계</th>
                    <? foreach ( $wired_vender_list as $vender ) : ?>
                        <th rowspan="2"  class="text-center"><?=$wired_vender_name_list[$vender]?></th>
                    <? endforeach ?>
                        <th rowspan="2" class="text-center">합계</th>
                    </tr>
                    <tr>
                    <? foreach ( $mobile_vender_list as $vender ) : ?>
                        <? foreach ( $reg_kind_name_list[$vender] as $reg_kind_name ) : ?>
                        <th class="text-center"><?=$reg_kind_name?></th>
                        <? endforeach ?>
                        <th class="text-center">합계</th>
                    <? endforeach ?>
                    </tr>
                    </thead>
                    <tbody>
                    <? foreach ($center_list as $key => $value) : ?>
                    <tr>
                        <td><strong><?=$value?></strong></td>
                    <? foreach ( $mobile_vender_list as $vender ) : ?>
                        <? foreach ( $reg_kind_list[$vender] as $reg_kind ) : ?>
                        <td><?=isset($mobile_list[$key][$vender][$reg_kind]) ? $mobile_list[$key][$vender][$reg_kind] : 0?></td>
                        <? endforeach ?>
                        <td><strong><?=isset($mobile_list[$key][$vender]) ? $mobile_list[$key][$vender]['TOTAL'] : 0?></strong></td>
                    <? endforeach ?>
                        <td><strong><?=isset($mobile_list[$key]) ? $mobile_list[$key]['TOTAL'] : 0?></strong></td>
                    <? foreach ( $wired_vender_list as $vender ) : ?>
                        <td><?=isset($wired_list[$key][$vender]) ? $wired_list[$key][$vender] : 0?></td>
                    <? endforeach ?>
                        <td><strong><?=isset($wired_list[$key]['TOTAL']) ? $wired_list[$key]['TOTAL'] : 0?></strong></td>
                        <td><strong><?=$center_count[$key]?></strong></td>
                    <? if ( $center_percent[$key] < 0 ) : ?>
                        <td class="color-red"><strong><?=$center_percent[$key]?> %</strong></td>
                    <? else : ?>
                        <td><strong><?=$center_percent[$key]?> %</strong></td>
                    <? endif ?>
                    </tr>
                    <? endforeach ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    .container
    {
        //width: 1700px;
    }

    .table>tbody>tr>th {
        vertical-align: middle;
    }

    .table>thead>tr>th {
        vertical-align: middle;
    }

    .ui-datepicker-calendar
    {
        display: none;
    }

    .ui-datepicker
    {
        border:none ;
        -webkit-box-shadow:none ;
        box-shadow:none ;
    }

    .ui-datepicker-prev, .ui-datepicker-next
    {
        width: 0px;
    }

    .ui-datepicker-header
    {
        border-bottom: none;
    }
</style>

<!-- JS Implementing Plugins -->
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>

<!-- JS Page Level -->           
<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() 
    {
        App.init();

        $('.date').datepicker
        ({   
            defaultDate:'<?=$month?>/01/<?=$year?>',           
            changeMonth: true,  
            changeYear: true, 
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            
            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],          

            onChangeMonthYear: function( year, month, inst )
            {
                if ( month < 10 )
                {
                    month = '0' + month ;
                }

                location.href = '/center/count?year='+year+'&month='+month ;
            },
        });
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->