<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <div class="main-counters margin-bottom-40">
        <div class="headline row">
            <div class="col-xs-5"></div>
            <div class="col-xs-2 date"></div>   
            <div class="col-xs-5"></div>      
        </div>

        <div class="row">
        <!--    <div class="counters col-md-2 col-sm-2">
                <span class="counter"><?=number_format($sub_total['CV'])?></span>   
                <h4>총 매출CV</h4>
            </div> -->
            <div class="counters col-md-6 col-sm-6">
                <span class="counter"><?=number_format($sub_total['PV'])?></span> 
                <h4>총 매출RB</h4>
            </div>
            <div class="counters col-md-6 col-sm-6">
                <span class="counter"><?=number_format($sub_total['CENTER_FEE'])?></span>
                <h4>총 센터수수료 합계(VAT 포함)</h4>
            </div>
        </div>

        <div class="margin-bottom-50"><hr></div>

        <div class="row">
            <div class="col-md-2">
                <h5>
                    <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                    전체내역건수 : <?=$total_count?> 건
                </h5>
            </div>

            <div class="col-md-1">
                <a href="/center/detail/excel/cd/<?=$center_cd?><?=$qstr?>" class="btn-u btn-u-green"><i class="fa fa-file-excel-o"></i></a>
            </div>
        </div>

        <!-- Tab v2 -->                
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <? foreach ($ord_type_list as $key => $value) : ?>
                    <li class="<?=($key == $ord_type)?'active' : ''?>"><a href="/center/detail/cd/<?=$center_cd?>/ord_type/<?=$key?><?=$qstr?>"><?=$value?></a></li>
                <? endforeach ?>
            </ul>                
            <div class="tab-content">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th class="text-center">NO </th>  
                            <th class="text-center">회원정보</th>    
                            <th class="text-center">주문일자 </th>
                            <th class="text-center">구분 </th>
                        <!--    <th class="text-center">매출CV </th>
                            <th class="text-center">매출PV </th> -->
                            <th class="text-center">단가 </th>
                            <th class="text-center">부가세 </th>
                            <th class="text-center">결제금액 </th>                
                            <th class="text-center">매출RB </th>
                            <th class="text-center">기본 수수료 </th>
                            <th class="text-center">RB 3% </th>
                            <th class="text-center">총 센터수수료 </th>                            
                        </tr>
                    </thead>        
                    <tbody>     
                        <? foreach ($list as $o): ?>    
                        <tr>    
                            <td><?=$o['num']?></td>
                            <td><?=$o['USERTEXT']?></td>
                            <td><?=$o['ORD_DATES']?></td>
                            <td><?=$o['ORD_TYPES']?></td>                
                            <!--<td><?=number_format($o['PV1'])?></td>-->
                            <td><?=number_format($o['PRICE'])?></td>
                            <td><?=number_format($o['VAT'])?></td>
                            <td><?=number_format($o['AMT'])?></td>                
                            <td><?=number_format($o['PV2'])?></td>
                            <td><?=number_format($o['PV4'])?></td>
                            <td><?=$o['center_fee']?></td>
                            <td><?=$o['total_center_fee']?></td>                            
                        </tr>
                        <? endforeach; ?>
                    </tbody>
                </table>
                <? if (!$list): ?><p class="lead text-center text-muted">내역이 없습니다.</p><? endif; ?>
                
                <hr>

                <div class="pull-right">
                    <?=$paging?>
                </div>
            </div>
        </div>
    </div>
</div>       

<style>
    .content 
    {
        padding-top: 5px;    
    }

    .counters span 
    {
        font-size: 25px;
    }

    .ui-datepicker-calendar 
    {
        display: none;
    }

    .ui-datepicker 
    {
        border:none ;
        -webkit-box-shadow:none ;
        box-shadow:none ;
    }

    .ui-datepicker-prev, .ui-datepicker-next 
    {
        width: 0px;
    }

    .ui-datepicker-header 
    {
        border-bottom: none;
    }
</style>

<!-- JS Implementing Plugins -->
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script> 

<!-- JS Page Level -->           
<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() 
    {
        App.init();
        App.initCounter();     

        $('.date').datepicker
        ({   
            defaultDate:'<?=$month?>/01/<?=$year?>',           
            changeMonth: true,  
            changeYear: true, 
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            
            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],          

            onChangeMonthYear: function( year, month, inst )
            {
                if ( month < 10 )
                {
                    month = '0' + month ;
                }

                location.href = '/center/detail/cd/<?=$center_cd?>?year='+year+'&month='+month ;
            },
        });
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->