<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container">
    <div class="main-counters margin-bottom-10">
        <div class="headline row">
            <div class="col-xs-2 text-left">
                <ul class="list-inline clear-both">
                    <li class="sort-list-btn">
                        <div class="btn-group">
                            <button type="button" id="sel_position" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <?=$center_list[$center_cd]?> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <? foreach ($center_list as $key => $value) : ?>
                                <li><a href="/center/count/growup/cd/<?=$key?>?year=<?=$year?>"><?=$value?></a></li>
                                <? endforeach ?>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-8"></div>
            <div class="col-xs-2 text-right date"></div>
        </div>
    </div>

    <svg class="chart"></svg>
</div>

<style>

    /*
    .chart rect {
      fill: steelblue;
    }
    */
    .chart .legend {
        fill: black;
        font: 14px sans-serif;
        text-anchor: start;
        font-size: 12px;
        font-weight: bold;
    }

    .chart text {
        fill: #000000;
        font: 10px sans-serif;
        text-anchor: end;
        font-weight: bold;
    }

    .chart .label {
        fill: black;
        font: 14px sans-serif;
        text-anchor: end;
        font-weight: bold;
    }

    .bar:hover {
        fill: #c52228;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .ui-datepicker-calendar
    {
        display: none;
    }

    .ui-datepicker-month
    {
        display: none;
    }

    .ui-datepicker
    {
        border:none ;
        -webkit-box-shadow:none ;
        box-shadow:none ;
    }

    .ui-datepicker-prev, .ui-datepicker-next
    {
        width: 0px;
    }

    .ui-datepicker-header
    {
        border-bottom: none;
    }
</style>

<!-- JS Implementing Plugins -->
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>

<!-- JS Page Level -->
<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<script src="<?=PLUGIN_DIR?>/d3/js/d3.v3.min.js"></script>
<script>

    $(document).ready(function() {
        App.init();

        $('.date').datepicker
        ({
            defaultDate: '01/01/<?=$year?>',
            changeMonth: false,
            changeYear: true,
            showMonthAfterYear:false,
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',

            onChangeMonthYear: function (year, month, inst) {
                if ( month == 2 ) year += 1 ;
                location.href = '/center/count/growup/cd/<?=$center_cd?>?year=' + year ;
            },
        });
    }) ;

    var data = {
        labels: [
        <?php
            for ( $i = 1 ; $i < 13 ; $i++ )
            {
                echo "'".$i."월', " ;
            }
        ?>
        ],
        series: [
            {
                label: '무선 : ' + '<?=$mobile_total?> 건',
                values: [
                <?php
                    foreach ( $mobile_list as $value )
                    {
                        echo "'".$value."', " ;
                    }
                ?>
                ]
            },
            {
                label: '유선 : ' + '<?=$wired_total?> 건',
                values: [
                <?php
                    foreach ( $wired_list as $value )
                    {
                        echo "'".$value."', " ;
                    }
                ?>
                ]
            },
            {
                label: '회원가입 : ' + '<?=$member_total?> 건',
                values: [
                <?php
                    foreach ( $member_list as $value )
                    {
                        echo "'".$value."', " ;
                    }
                    ?>
                ]
            }],
    };

    var chartWidth       = 750,
            barHeight        = 20,
            groupHeight      = barHeight * data.series.length,
            gapBetweenGroups = 15,
            spaceForLabels   = 150,
            spaceForLegend   = 200;

    // Zip the series data together (first values, second values, etc.)
    var zippedData = [];
    for (var i=0; i<data.labels.length; i++) {
        for (var j=0; j<data.series.length; j++) {
            zippedData.push(data.series[j].values[i]);
        }
    }

    // Color scale
    var color = d3.scale.category20c();
    var chartHeight = barHeight * zippedData.length + gapBetweenGroups * data.labels.length;

    var x = d3.scale.linear()
            .domain([0, <?=$max_value?>])
            .range([0, chartWidth]);

    var y = d3.scale.linear()
            .range([chartHeight + gapBetweenGroups, 0]);

    var yAxis = d3.svg.axis()
            .scale(y)
            .tickFormat('')
            .tickSize(0)
            .orient("left");

    // Specify the chart area and dimensions
    var chart = d3.select(".chart")
            .attr("width", spaceForLabels + chartWidth + spaceForLegend)
            .attr("height", chartHeight);

    // Create bars
    var bar = chart.selectAll("g")
            .data(zippedData)
            .enter().append("g")
            .attr("transform", function(d, i) {
                return "translate(" + spaceForLabels + "," + (i * barHeight + gapBetweenGroups * (0.5 + Math.floor(i/data.series.length))) + ")";
            });

    // Create rectangles of the correct width
    bar.append("rect")
            .attr("fill", function(d,i) { return color(i % data.series.length); })
            .attr("class", "bar")
            .attr("width", x)
            .attr("height", barHeight - 1);

    // Add text label in bar
    bar.append("text")
            .attr("x", function(d) { return x(d) + 60; })
            .attr("y", barHeight / 2)
            .attr("fill", "red")
            .attr("dy", ".35em")
            .text(function(d, i) {
                if ( d == 0 )
                    return d + '(0%)' ;

                if ( i == 0 )
                    return d + '(' + Math.ceil(d * 100 / <?=$mobile_total?>) + '%)' ;
                else if ( i == 1 )
                    return d + '(' + Math.ceil(d * 100 / <?=$wired_total?>) + '%)' ;

                return d + '(' + Math.ceil(d * 100 / <?=$member_total?>) + '%)' ;
            });

    // Draw labels
    bar.append("text")
            .attr("class", "label")
            .attr("x", function(d) { return - 10; })
            .attr("y", groupHeight / 2)
            .attr("dy", ".35em")
            .text(function(d,i) {
                if (i % data.series.length === 0)
                    return data.labels[Math.floor(i/data.series.length)];
                else
                    return ""});

    chart.append("g")
            .attr("class", "y axis")
            .attr("transform", "translate(" + spaceForLabels + ", " + -gapBetweenGroups/2 + ")")
            .call(yAxis);

    // Draw legend
    var legendRectSize = 18,
            legendSpacing  = 4;

    var legend = chart.selectAll('.legend')
            .data(data.series)
            .enter()
            .append('g')
            .attr('transform', function (d, i) {
                var height = legendRectSize + legendSpacing;
                var offset = -gapBetweenGroups/2;
                var horz = spaceForLabels + chartWidth + 40 - legendRectSize + 60 ;
                var vert = i * height - offset;
                return 'translate(' + horz + ',' + vert + ')';
            });

    legend.append('rect')
            .attr('width', legendRectSize)
            .attr('height', legendRectSize)
            .style('fill', function (d, i) { return color(i); })
            .style('stroke', function (d, i) { return color(i); });

    legend.append('text')
            .attr('class', 'legend')
            .attr('x', legendRectSize + legendSpacing)
            .attr('y', legendRectSize - legendSpacing)
            .text(function (d) { return d.label; });

</script>
