<link rel='stylesheet' href='<?=CSS_DIR?>/hb_calendar.css' />

<div class="container content">         
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6 col-md-offset-1">  
            <div class="headline row margin-bottom-20">
                <ul class="list-inline clear-both">
                    <li class="sort-list-btn">
                        <h4>센터 :  </h4>
                        <div class="btn-group">
                            <button type="button" id="sel_position" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <?=$center_list[$center_cd]?> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">                                
                                <? foreach ($center_list as $key => $value) : ?>
                                <li><a href="/center/calendar/main/cd/<?=$key?>"><?=$value?></a></li>
                                <? endforeach ?>
                            </ul>
                        </div>
                    </li>                    
                </ul>         
            </div>

            <div class="row"> 
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th class="text-center">NO</th>  
                            <th class="text-center">컬러</th>    
                            <th class="text-center">이벤트</th>                                
                            <th class="text-center">삭제</th>                        
                        </tr>
                    </thead>
                    <tbody>               
                    <?foreach ($main_events as $key => $event) : ?>
                        <tr>                    
                            <td><?=($key+1)?></td>
                            <td><button class='btn btn-sm <?=$event['class']?>' type='button'>&nbsp;</button></td>    
                            <td><?=$event['title']?></td>
                            <td><button class='btn btn-danger btn-sm' type='button' id='del' name='<?=$key?>' title='삭제'><span class='fa fa-minus'></span></button></td>         
                        </tr>
                    <? endforeach ?>                    
                    </tbody>
                </table>
            </div>

            <? if (!$main_events): ?><p class="lead text-center text-muted">이벤트 목록이 없습니다.</p><? endif; ?>                           
            <div class="row">
                <div class="col-md-2">
                    <select id = "event_class">       
                    <?php foreach ($colors as $key => $value): ?>
                        <option class="<?=$value?>" value="<?=$value?>"><?=$color_strs[$key]?></option>
                    <?php endforeach ?>                                         
                    </select>
                </div>
                <div class="col-md-10">
                    <div class="input-group">   
                        <span class="action-buttons input-group-btn">   
                            <button class="btn btn-sm bg-color-b" type="button" id='show_color' value="bg-color-b">&nbsp;</button>
                        </span> 

                        <input type="text" class='form-control input-sm enter_key_event' size="20" value='' id='event_title'>                                                             
                        <span class="action-buttons input-group-btn">   
                            <button class="btn btn-sm rounded btn-default" type="button" id='add_event'>
                                <i class="fa fa-plus"></i>
                            </button>
                        </span> 
                    </div>        
                </div> 
            </div>
            <div class="row text-center">
                <button class="btn btn-lg rounded btn-danger" type="button" id="show_calendar" style="margin-top: 30px;">캘린더보기</button>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
//<![CDATA[
    $('#show_calendar').click(function()
    {
        document.location.href = '/center/calendar/cd/<?=$center_cd?>' ;
    }) ;

    $('select#event_class').change(function()
    {
        $('#show_color').removeClass($('#show_color').val()) ;
        $('#show_color').addClass($('#event_class').val()) ;
        $('#show_color').val($('#event_class').val()) ;
    }) ;

    $('button#add_event').click(function()
    {        
        var event_title = encodeURIComponent($('#event_title').val()) ;
        var event_class = encodeURIComponent($('#event_class').val()) ;

        location.href = '/center/calendar/add/cd/<?=$center_cd?>/event_title/'+event_title+'/event_class/'+event_class ;
    }) ;

    $(".enter_key_event").bind("keydown", function(e) 
    {
        if (e.keyCode == 13) 
        {     
            $(this).next().find('#add_event').click() ;            
        }
    }) ;

    $('button#del').click(function()
    {
        if (confirm('선택하신 이벤트를 삭제하시겠습니까?'))
        {
            var event_id = $(this).attr('name') ;

            if ( event_id != '' )
            {            
                location.href = '/center/calendar/del/cd/<?=$center_cd?>/event_id/'+event_id ;
            }                           
        }
    }) ;
//]]>
</script>