<link rel='stylesheet' href='<?=PLUGIN_DIR?>/fullcalendar/fullcalendar.css' />
<link rel='stylesheet' href='<?=PLUGIN_DIR?>/fullcalendar/fullcalendar.print.css' media='print'/>
<link rel='stylesheet' href='<?=CSS_DIR?>/hb_calendar.css' />
<script src='<?=PLUGIN_DIR?>/fullcalendar/lib/jquery.min.js'></script>
<script src='<?=PLUGIN_DIR?>/fullcalendar/lib/moment.min.js'></script>
<script src='<?=PLUGIN_DIR?>/fullcalendar/lib/jquery-ui.custom.min.js'></script>
<script src='<?=PLUGIN_DIR?>/fullcalendar/fullcalendar.min.js'></script>
<script src='<?=PLUGIN_DIR?>/fullcalendar/lang-all.js'></script>
<script type='text/javascript' src='<?=PLUGIN_DIR?>/fullcalendar/gcal.js'></script>

<div class="container">   
	<div class="main-counters margin-bottom-40">
        <div class="headline row">
            <div class="col-xs-3 text-left">
                <ul class="list-inline clear-both">
                    <li class="sort-list-btn">
                        <h4>센터 : <? if(IS_CENTER || IS_BRANCH || IS_DIRECT_BRANCH) : ?> <?=$center_list[$center_cd]?> <? endif ?></h4>
                        <? if( IS_MANAGER ) : ?>
                        <div class="btn-group">
                            <button type="button" id="sel_position" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <?=$center_list[$center_cd]?> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">                                
                                <? foreach ($center_list as $key => $value) : ?>
                                <li><a href="/center/calendar/cd/<?=$key?>"><?=$value?></a></li>
                                <? endforeach ?>
                            </ul>
                        </div>
                        <? endif ?>
                    </li>                    
                </ul>
            </div>   
            <div>
            	<a onclick="window.open('/center/calendar/print/cd/<?=$center_cd?>', '_blank', 'width=800,height=600,scrollbars=yes,status=yes,resizable=yes,screenx=0,screeny=0');" class="btn-u btn-u-danger rounded"><i class="fa fa-print"></i></a>
            </div>  
        </div>
    </div>
	<div class="row" id='loading'>loading...</div>
	<div class="row">
		<div class="col-md-2">
			<div id='external-events' class="margin-bottom-10">
				<h4>이벤트 목록 <button class="btn btn-xs rounded btn-default" type="button" id="edit_main_events">edit</button></h4>
				<?php foreach ($main_events as $key => $value): ?>
					<div class='fc-event <?=$value['class']?>'><?=$value['title']?></div>	
				<?php endforeach ?>				
			</div>
			<div class="text-center"><button class="btn-u btn-u-danger" id="save_events"><i class="fa fa-save"></i> 저장하기 </button></div>
		</div>

		<div class="col-md-10" id='calendar'></div>		
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() 
	{	
		$('#edit_main_events').click(function()
		{
			document.location.href = '/center/calendar/main/cd/<?=$center_cd?>' ;
		}) ;
		
		$('#external-events .fc-event').each(function() 
		{
			// store data so the calendar knows to render an event upon drop
			$(this).data('event', {
				title: $.trim($(this).text()), // use the element's text as the event title
				stick: true, // maintain when user navigates (see docs on the renderEvent method)
				className: $.trim($(this).attr('class')),
				url:'',
			});

			// make the event draggable using jQuery UI
			$(this).draggable({
				zIndex: 999,
				revert: true,      // will cause the event to go back to its
				revertDuration: 0,  //  original position after the drag				
			});
		});

	    function renderCalendar() 
	    {
			$('#calendar').fullCalendar({
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				defaultDate: '<?=$default_date?>',
				timeFormat: 'H:mm',
				lang: 'ko',				
				editable: true,				
				minTime: '09:00:00',
				maxTime: '22:00:00',
				defaultTimedEventDuration: '01:00:00',
				businessHours: 
				{
					dow:[1, 2, 3, 4, 5, 6]
				},
				eventLimit: true, // allow "more" link when too many events
				googleCalendarApiKey: 'AIzaSyAHsFotOAJ-JRPFeh0OWz877M6PqeDs47w',
				eventSources : 
				[
					{
						googleCalendarId: 'ko.south_korea#holiday@group.v.calendar.google.com',
						color: 'yellow',   // an option!
						textColor: 'black', // an option!
					},

					<? foreach ($sources_list as $key => $value) : ?>
						'<?=$value?>',
					<? endforeach ?>					
				],

				// add event name to title attribute on mouseover
		        eventMouseover: function(event, jsEvent, view) {
		            if (view.name !== 'agendaDay') {
		                $(jsEvent.target).attr('title', event.title);
		            }
		        },
		        eventDestroy: function(event, element, view)
		        {
		            //alert("removing stuff");
		        },
		        eventClick: function(calEvent, jsEvent, view)
		        {
					var r = confirm(calEvent.title + '를 삭제하시겠습니까?') ;
					if (r === true)
					{
						$('#calendar').fullCalendar('removeEvents', calEvent._id);
					}
		        },
				
				loading: function(bool) {
					$('#loading').toggle(bool);
				},

				selectable: true,
				selectHelper: true,
				select: function(start, end) 
				{
					var title = prompt('이벤트명:');
					var eventData;
					if (title) {
						eventData = {
							title: title,
							start: start,
							end: end,
							url:''
						};
						$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true						
					}
					$('#calendar').fullCalendar('unselect');
				},

				droppable: true,

				eventDragStop: function(event, jsEvent, ui, view) 
				{ 
				    //console.log(event.id);
	                //if (isElemOverDiv(ui, $('div#external-events'))) 
	                {
	                    //$('#calendar').fullCalendar('removeEvents', event._id);
	                }
	            },				    
			});
		}	

		var isElemOverDiv = function(draggedItem, dropArea) 
		{
	        var dragged = $(draggedItem)[0].offset;

	        var b = $(dropArea);

	        var limitX = parseInt(b.offset().left) + parseInt(b.outerWidth());
	        var limitY = parseInt(b.offset().top) + parseInt(b.outerHeight());

	        // Compare
	        if ( limitY >=   parseInt(dragged.top) 
	            && limitX >=   parseInt(dragged.left) ) 
	        { 
	            return true; 
	        }
	        return false;
	    }
		
		renderCalendar();	

		$('.fc-month-button, .fc-agendaWeek-button, .fc-agendaDay-button').click(function()
		{			
			var view = $('#calendar').fullCalendar('getView') ;							

			if ( view.name == 'month' )
			{
				$('#save_events').show() ;
			}
			else
			{
				$('#save_events').hide() ;
			}
		}) ;

		function save_events()
		{
			var view = $('#calendar').fullCalendar('getView') ;	

			var arr_date = new Array() ;
			arr_date[0] = view.start.format("YYYY-MM") ;
			arr_date[1] = view.intervalStart.format("YYYY-MM") ;
			arr_date[2] = view.end.format("YYYY-MM") ;

			for ( i = 0 ; i < 3 ; i++ )
			{
				var cur_date = arr_date[i] ;

				var start = $.fullCalendar.moment(arr_date[i] + '-01') ;
				var end = $.fullCalendar.moment(arr_date[i] + '-01').endOf('month') ;		
			
				var eventsFromCalendar = $('#calendar').fullCalendar('clientEvents', function(event)
				{
				    if(event.start >= start && event.end <= end && event.end != null && event.url == '')
				    	return true;
				    else if(event.end == null && event.start >= start && event.start <= end)
				    	return true;
				    else
				    	return false;
				});				

				var events = $.map(eventsFromCalendar, function (item, i) 
				{
	                var event   = new Object();
	                event._id   = item._id;
	                event.id    = item.id;
	                event.title  = item.title;    
	                event.start = item.start;
		            event.end   = item.end;            
	                event.color = item.color;
	                event.url = item.url;
	                event.className = item.className;    	
	                event.allDay = item.allDay ;                

	                return event;
	            });

				$.ajax
				({
			        dataType : "JSON",
			        type : "POST",
			        url : "/center/calendar/save_events",
			        traditional: true,
			        data : 
			        {
			        	"center_cd" : "<?=$center_cd?>",
			        	"date" : cur_date,
			            "eventsJson" : JSON.stringify(events),
			        },
			        success : function (response) 
			        {    		        	
			        	location.reload();
			        },
			    }) ;	
			}	
		}

		$("#save_events").click(function()
		{
			save_events() ;
		})
	});
</script>