<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">
    <input type="hidden" ID="SELECT_CENTER">
    <table class="table text-center">
        <thead>
            <tr>
                <th class="text-center">NO</th>
                <th class="text-center">센터명</th>
                <th class="text-center">전산여부</th>
                <th class="text-center">개통범위</th>
            </tr>
        </thead>
        <tbody>
            <? foreach ($list as $o): ?>
            <tr>
                <td class="text-center"><?=$o['NO']?></td>
                <td class="text-center"><?=$o['CENTER_NAME']?></td>
                <td class="text-center">
                    <div class="sky-form">
                        <? if ( $o['USE_UCUBE'] == "X" || $o['USE_UCUBE'] == '' ) : ?>
                        <label class="toggle">
                            <input type="checkbox" id="USE_UCUBE" name="<?=$o['CENTER_CD']?>"><i></i>
                        </label>
                        <? else : ?>
                        <label class="toggle">
                            <input type="checkbox" id="USE_UCUBE" name="<?=$o['CENTER_CD']?>" checked="checked"><i></i>
                        </label>
                        <? endif ?>
                    </div>
                </td>
                <td><?=$o['HELP_CENTER_CDS']?>
                    <span class="label label-light rounded-2x btn ADD_CENTER" id="ADD_CENTER" name="<?=$o['CENTER_CD']?>"?><i class="fa fa-plus"></i></span>
                </td>
            </tr>
            <? endforeach; ?>
        </tbody>
    </table>

    <? if (!$list): ?><p class="lead text-center text-muted">센터 정보가 없습니다.</p><? endif; ?>

    <div class="pull-right">
        <?=$paging?>
    </div>
</div>
<!-- Bootstrap Modals -->
<button class="btn-u" data-toggle="modal" data-target="#responsive" id="modal_btn" style="display:none">Modal</button>
<div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:700px;">
        <div class="modal-content">
            <div class="modal-body">
                <table class="table table-bordered text-center">
                    <? $i = 0 ; ?>
                    <? foreach($center_list as $center_cd => $center ) : ?>
                        <? if ( ($i % 4) == 0 ) : ?>
                        <tr>
                        <? endif ?>
                            <td class="CENTER_NAME" name="<?=$center_cd?>" style="cursor:pointer"><?=$center?></td>
                        <? if ( ($i % 4) == 3 ) : ?>
                        </tr>
                        <? endif ?>
                        <? $i++ ; ?>
                    <? endforeach ?>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-u btn-u-default" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- End Bootstrap Modals -->

<style>
    .sky-form .toggle i {
        right: 40%;
    }

    .CENTER_NAME {
        font-size:18px;
    }
</style>

<script>
    $(document).ready(function () {
        $(document).on('click', '.ADD_CENTER', function () {
            $('#modal_btn').click() ;

            var center_cd = $(this).attr('name') ;
            $('#SELECT_CENTER').val(center_cd) ;
        });

        $(document).on('click', '.DEL_CENTER', function () {
            var select_center_cd = $(this).attr('tag') ;
            var center_cd = $(this).attr('name') ;
            location.href = '/center/manage/del_help_center?select_center_cd='+select_center_cd+'&center_cd='+center_cd ;
        });

        $(document).on('click', '.CENTER_NAME', function () {
            var select_center_cd = $('#SELECT_CENTER').val() ;
            var center_cd = $(this).attr('name') ;
            location.href = '/center/manage/add_help_center?select_center_cd='+select_center_cd+'&center_cd='+center_cd ;
        });

        $(document).on('mouseover', '.CENTER_NAME', function () {
            $(this).css('background-color','#e74c3c');
            $(this).css('color','#FFFFFF');
        });

        $(document).on('mouseout', '.CENTER_NAME', function () {
            $(this).css('background-color','#FFFFFF');
            $(this).css('color','#333');
        });
    });

    $('input#USE_UCUBE').change(function()
    {
        var use_ucube = $(this).is(":checked");
        var center_cd = $(this).attr('name') ;

        location.href = '/center/manage/use_ucube?center_cd='+center_cd+'&use_ucube='+use_ucube ;
    }) ;
</script>