<link rel='stylesheet' href='<?=PLUGIN_DIR?>/fullcalendar/fullcalendar.css' />
<link rel='stylesheet' href='<?=PLUGIN_DIR?>/fullcalendar/fullcalendar.print.css' media='print'/>
<link rel='stylesheet' href='<?=CSS_DIR?>/hb_calendar.css' />
<script src='<?=PLUGIN_DIR?>/fullcalendar/lib/jquery.min.js'></script>
<script src='<?=PLUGIN_DIR?>/fullcalendar/lib/moment.min.js'></script>
<script src='<?=PLUGIN_DIR?>/fullcalendar/lib/jquery-ui.custom.min.js'></script>
<script src='<?=PLUGIN_DIR?>/fullcalendar/fullcalendar.min.js'></script>
<script src='<?=PLUGIN_DIR?>/fullcalendar/lang-all.js'></script>
<script type='text/javascript' src='<?=PLUGIN_DIR?>/fullcalendar/gcal.js'></script>

<div>   
	<div class="row" id='loading'>loading...</div>
	<div class="row" id='calendar'></div>	
	<div style="text-align:center">					
		<span class="action-buttons">
			<a class="btn-u btn-u-danger rounded" href="#" id='print_calendar'>
				<i class="fa fa-print"></i>
				&nbsp;인쇄 하기
			</a>
		</span>	 
	</div>	
</div>

<script type="text/javascript">
	$(document).ready(function() 
	{			
		$('#print_calendar').click(function(e)
		{
			$(this).hide() ;
			window.print() ;
			$(this).show() ;
		}) ;

	    function renderCalendar() 
	    {
			$('#calendar').fullCalendar({
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				defaultDate: '<?=$default_date?>',
				timeFormat: 'H:mm',
				lang: 'ko',									
				minTime: '09:00:00',
				maxTime: '22:00:00',	
				defaultTimedEventDuration: '01:00:00',			
				businessHours: 
				{
					dow:[ 1, 2, 3, 4, 5, 6]
				},
				hiddenDays: [ 0 ],
				eventLimit: true, // allow "more" link when too many events
				googleCalendarApiKey: 'AIzaSyAHsFotOAJ-JRPFeh0OWz877M6PqeDs47w',
				eventSources : 
				[
					{
						googleCalendarId: 'ko.south_korea#holiday@group.v.calendar.google.com',
						color: 'yellow',   // an option!
						borderColor: 'yellow',   // an option!
						textColor: 'black', // an option!						
					},		

					<? foreach ($sources_list as $key => $value) : ?>
						'<?=$value?>',
					<? endforeach ?>
				],

				// add event name to title attribute on mouseover
		        eventMouseover: function(event, jsEvent, view) {
		            if (view.name !== 'agendaDay') {
		                $(jsEvent.target).attr('title', event.title);
		            }
		        },
		        				
				loading: function(bool) {
					$('#loading').toggle(bool);
				},	
			});
		}	
		
		renderCalendar();			
	});
</script>