<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">
    <section>
        <div class="headline">
            <div class="row">
                <div class="col-md-4">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp;
                        전체이송건수 : <?=$total_count?>건
                    </h5>
                </div>
            </div>
        </div>

        <div class="row" style="padding-right: 30px;">
            <form name="fsearch" id="sky-form" class="sky-form" method="get" action="" onsubmit="return doSearch(this);">
                <input type="hidden" name="sdt" id="sdt" value="OUT_DATE"/>
            <? if ( IS_MANAGER ) : ?>
                <input type="hidden" name="center" id="center" value="<?=$center?>"/>   <!-- 퉁신사 -->
                <div class="col-md-4"></div>
            <? endif ;?>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" id="select_date" class="btn btn-default dropdown-toggle" data-toggle="dropdown">이송일자 </button>
                        </div><!-- /btn-group -->
                        <span class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" class="date"name="start" id="start" placeholder="시작일" value="<?=$start_date?>">
                            </span>
                    </div><!-- /input-group -->
                </div>
                <div class="col-md-2">
                    <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        <input type="text" class="date"name="finish" id="finish" placeholder="종료일" value="<?=$finish_date?>">
                    </label>
                </div>
            <? if ( IS_MANAGER ) : ?>
                <div class="col-md-2">
                    <label class="select">
                        <select id="sel_center">
                            <option value="">이송센터</option>
                            <? foreach ($center_list as $key => $value) : ?>
                            <option value="<?=$key?>"><?=$value?></option>
                            <? endforeach ?>
                        </select>
                        <i></i>
                    </label>
                </div>
            <? endif ;?>

                <div class="col-md-1">
                    <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </section>

    <div class="main-counters margin-bottom-40">
        <table class="table text-center">
            <thead>
                <th class="text-center">NO </th>
                <th class="text-center">이송번호 </th>
                <th class="text-center">이송일 </th>
                <th class="text-center">From </th>
                <th class="text-center">To </th>
                <th class="text-center">전달사항 </th>
            <tbody>
            <? foreach ($list as $o): ?>
                <tr>
                    <td><?=$o['num']?></td>
                    <td><a href="#" onclick="viewStock('<?=$o['STOCKORDER_NO']?>', '<?=$o['OUT_DATE']?>', '<?=$o['S_CENTER_NAME']?>', '<?=$o['T_CENTER_NAME']?>')"><?=$o['STOCKORDER_NO']?></a></td>
                    <td><?=$o['OUT_DATE']?></td>
                    <td><?=$o['S_CENTER_NAME']?></td>
                    <td><?=$o['T_CENTER_NAME']?></td>
                    <td><?=$o['WORK_REMARK']?></td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>

        <? if (!$list): ?><p class="lead text-center text-muted">이송 내역이 없습니다.</p><? endif; ?>

        <hr>

        <div class="text-center">
            <?=$paging?>
        </div>
    </div>
</div>
<!-- Bootstrap Modals -->
<button class="btn-u" data-toggle="modal" data-target="#responsive" id="modal_btn" style="display:none">Modal</button>
<div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:570px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel4"><span id="STOCK_INFO_TITLE"></span></h4>
            </div>
            <div class="modal-body profile">
                <table class="table text-center">
                    <thead>
                    <th class="text-center">NO </th>
                    <th class="text-center">상품코드 </th>
                    <th class="text-center">상세코드 </th>
                    <th class="text-center">상품명 </th>
                    <th class="text-center">옵션명 </th>
                    <th class="text-center">이송수량 </th>
                    <tbody id="div_stockord_info">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-u btn-u-default" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type='text/javascript'>
    function viewStock(stockord_no, out_date, s_center_name, t_center_name)
    {
        $("#div_stockord_info").empty() ;

        $.ajax({
            type : "POST",
            url : "/center/stock/view",
            data :
            {
                stockord_no : stockord_no
            },
            success : function (data)
            {
                $("#STOCK_INFO_TITLE").text("["+stockord_no+"] "+s_center_name+" -> "+t_center_name+" ("+out_date+")") ;
                $("#div_stockord_info").append(data) ;
                $('#modal_btn').click() ;
            }
        });
    }

    jQuery(document).ready(function()
    {
        $('#start').datepicker
        ({
            dateFormat: 'yymmdd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            changeMonth: true,
            changeYear: true,

            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames : ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

            onSelect: function( selectedDate )
            {
                $('#finish').datepicker('option', 'minDate', selectedDate);
            }
        });

        $('#finish').datepicker
        ({
            dateFormat: 'yymmdd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            changeMonth: true,
            changeYear: true,

            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames : ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

            onSelect: function( selectedDate )
            {
                $('#start').datepicker('option', 'maxDate', selectedDate);
            }
        });
    });

    if ( '<?=$sdt?>' != '' )
    {
        $('#sdt').val('<?=$sdt?>') ;
    }

    $("#sel_center").change(function()
    {
        $("#center").val($(this).val()) ;
    }) ;

    $('#sel_center').val('<?=$center?>') ;
</script>