<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <div class="col-md-4" style="float:left;">
        <ul class="" id="sidoMap">
            <li class="mapList mapList1">
                <div class="map_cont">
                    <p id="map">
                        <img src="/data/img/map.png" width="400">
                    <?php foreach ($sido_list as $key => $value): ?>
                        <a href="/center/lists/tab/<?=$tab?>?sido=<?=$value?>" class="map<?=($key+1)?>">
                        <span class="sido <?=($sido == $value)? 'bg-color-green' : '' ;?>"><?=$value?></span></a>
                    <?php endforeach ?>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8"> 
        <!-- Tab v2 -->                
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <? foreach ($tab_list as $key => $value) : ?>                
                    <li class="<?=($key == $tab)?'active' : ''?>"><a href="/center/lists/tab/<?=$key?><?=$qstr?>"><?=$value?>
                    <? if ( $total_count_list[$key] > 0 ) : ?>
                    <span class="badge badge-green rounded-2x"><?=$total_count_list[$key]?></span>
                    <? endif ?>
                    </a></li>
                <? endforeach ?>
            </ul>                
            <div class="tab-content">
                <table class="table text-center">
                    <thead>
                        <tr>                         
                            <th class="text-center"><?=$tab_list[$tab]?>명</th>    
                            <th class="text-center">연락처</th>
                        <? if ( $tab < 2 ) : ?>
                            <th class="text-center">팩스</th>   
                        <? endif ?>
                            <th class="text-center">주소</th>    
                        <? if ( $tab < 2 ) : ?>
                            <th class="text-center">개설일자</th>
                        <? endif ?>
                        </tr>
                    </thead>        
                    <tbody>       
                        <? foreach ($list as $o): ?>
                        <tr>
                            <td>
                            <? if ( isset($o['IS_RECEPTION']) && $o['IS_RECEPTION'] == 'O' ) : ?>
                                <i class="fa fa-user"></i> <?=$o['USERNAME']?>
                            <? else : ?>
                                 <i class="fa fa-building"></i> <?=$o['CENTER_NAME']?>
                            <? endif ?>                    
                            </td>
                            <? if ( isset($o['IS_RECEPTION']) && $o['IS_RECEPTION'] == 'O' ) : ?>
                            <td><?=$o['MOBILE']?></td>
                            <? else : ?>
                            <td><?=$o['TEL']?></td>
                            <? endif ?>
                        <? if ( $tab < 2 ) : ?>
                            <td><?= isset($o['FAX']) ? $o['FAX'] : '' ; ?></td>                
                        <? endif ?>
                            <td>[<?=$o['ZIPCODE']?>] <?=$o['ADDR1']?> <?=$o['ADDR2']?></td>
                        <? if ( $tab < 2 ) : ?>
                            <td>
                            <? if ( isset($o['IS_RECEPTION']) && $o['IS_RECEPTION'] == 'O' ) : ?>
                                <?=$o['REG_DATE']?>
                            <? else : ?>
                                <?=$o['OPEN_DATE']?>
                            <? endif ?>
                            </td>  
                        <? endif ?>              
                        </tr>    
                        <? endforeach; ?>
                    </tbody>
                </table>

                <? if (!$list): ?><p class="lead text-center text-muted"><?=$tab_list[$tab]?> 정보가 없습니다.</p><? endif; ?>

                <div class="pull-right">
                    <?=$paging?>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .container 
    {
      width: 1500px;
    }

    .sido
    {
        font-size: 8pt ;
        font-weight: bold ;
    }

    div.map_cont { left:0; top:0px; overflow:hidden; width:400px; height:600px; padding:0px 0 0 0; }
    div.map_cont p.mapTxt { position:absolute; top:0px; left:0px; z-index:1; }
    li.mapList1 div.map_cont p#map { position:relative; margin:0 0 0 0px; }
    li.mapList1 div.map_cont a { position:absolute; z-index:1; display:inline-block; }
    li.mapList1 div.map_cont a.map1 { top:134px; left:136px; }
    li.mapList1 div.map_cont a.map2 { top:119px; left:203px; }
    li.mapList1 div.map_cont a.map3 { top:130px; left:43px; }
    li.mapList1 div.map_cont a.map4 { top:93px; left:123px; }
    li.mapList1 div.map_cont a.map5 { top:218px; left:177px; }
    li.mapList1 div.map_cont a.map6 { top:239px; left:117px; }
    li.mapList1 div.map_cont a.map7 { top:234px; left:60px; }
    li.mapList1 div.map_cont a.map8 { top:247px; left:240px; }
    li.mapList1 div.map_cont a.map9 { top:256px; left:162px; }
    li.mapList1 div.map_cont a.map10 { top:301px; left:236px; }
    li.mapList1 div.map_cont a.map11 { top:315px; left:118px; }
    li.mapList1 div.map_cont a.map12 { top:331px; left:313px; }
    li.mapList1 div.map_cont a.map13 { top:357px; left:209px; }
    li.mapList1 div.map_cont a.map14 { top:371px; left:285px; }
    li.mapList1 div.map_cont a.map15 { top:375px; left:102px; }
    li.mapList1 div.map_cont a.map16 { top:405px; left:90px; }
    li.mapList1 div.map_cont a.map17 { top:503px; left:97px; }
</style>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type='text/javascript'>
</script>