<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">    
    <section>
        <div class="headline">
            <div class="row">
                <div class="col-md-2">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                        전체건수 : <?=$total_count?>건
                    </h5>                    
                </div>
            <? if ( IS_MANAGER ) : ?>
                <div class="col-md-2"><button class="btn-u" type="button" id="del_last_day">14일 이전 데이터 삭제</button></div>
            <? endif ?>
                <div class="col-md-8">
                    <form name="fsearch" id="sky-form" class="sky-form" method="get" action="" onsubmit="return doSearch(this);">
                    <input type="hidden" name="sfl" id="sfl" value="USERNAME"/>
                    <input type="hidden" name="sca" id="sca" value="고객명"/>
                    <input type="hidden" name="vender" id="vender" value="<?=$vender?>"/>   <!-- 퉁신사 -->
                        <div class="row">    
                            <div class="col-md-5">                                      
                            </div>      
                            <div class="col-md-3">
                                <label class="select">
                                    <select id="sel_vender">
                                        <option value="">가입예정 통신사</option>                                        
                                            <option value="0">LG</option>                                                    
                                            <option value="2">KT</option>     
                                    </select>
                                    <i></i>
                                </label>
                            </div>                     
                            <div class="col-md-4">                                
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="select_sca" class="btn btn-default dropdown-toggle" data-toggle="dropdown">고객명 <span class="caret"></span></button>
                                        <ul class="dropdown-menu">     
                                            <li><a href="javascript:set_sfl('USERNAME', '고객명')">고객명</a></li>                                                                   
                                            <li><a href="javascript:set_sfl('USERID', '회원ID')">회원ID</a></li>
                                        </ul>
                                    </div><!-- /btn-group -->
                                    <input type="text" class="form-control" name="stx" id="stx">
                                    <span class="input-group-btn">
                                        <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div><!-- /input-group -->                                
                            </div>                                                  
                        </div>
                    </form>
                </div>            
            </div>
        </div>
    </section>

    <form name="fboardlist" method="post" action="">

    <!-- Tab v2 -->                
    <div class="tab-v2">
        <ul class="nav nav-tabs">
            <? foreach ($tab_list as $key => $value) : ?>
                <li class="<?=($key == $tab)?'active' : ''?>"><a href="/hbplanner/credit/tab/<?=$key?><?=$qstr?>"><?=$value?></a></li>
            <? endforeach ?>
        </ul>                 
        <div class="tab-content">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th class="text-center">NO </th>  
                        <th class="text-center">고객명</th>    
                        <th class="text-center">휴대폰</th>
                        <th class="text-center">주민등록번호/외국인등록번호</th>
                        <th class="text-center">신규</th>   
                        <th class="text-center">기변/재가입/번호이동</th>  
                        <th class="text-center">홈상품</th>  
                        <th class="text-center">미성년자</th>    
                        <th class="text-center">법정대리인이름</th>  
                        <th class="text-center">법정대리인주민등록번호</th>
                        <th class="text-center">외국인</th>
                        <th class="text-center">체류허가일자</th>
                        <th class="text-center">체류만료일자</th>   
                        <th class="text-center">사용중인통신사</th>                         
                        <th class="text-center">가입예정통신사</th>    
                        <th class="text-center">회원명</th>                            
                        <th class="text-center">회원ID</th>      
                        <th class="text-center">신청날짜</th>
                    <? if ($tab == 1) : ?>
                        <th class="text-center">완료날짜</th>
                        <th class="text-center">동의서</th>
                    <? else : ?>
                        <th class="text-center">동의서</th>
                        <th class="text-center">삭제</th>
                    <? endif ?>
                    </tr>
                </thead>        
                <tbody>       
                <? foreach ($list as $o): ?>
                    <? if($o['agree_file_path'] != "") : ?>
                    <tr bgcolor="#F3FBCA">
                    <? else : ?>
                    <tr>
                    <? endif ?>
                    <? if ( $o['MEMO'] != '' ) : ?>
                        <td rowspan="2">
                    <? else : ?>
                        <td>
                    <? endif ?>
                            <?=$o['num']?></td>
                        <td><a href="<?=$o['href']?>"><?=$o['USERNAME']?></a></td>
                        <td><?=$o['MOBILE']?></td>
                        <td><?=$o['REG_NUM']?></td>
                        <td><i class="<?=($o['TYPE_NEW'] == 'O') ? 'fa fa-check' : ''?>"></td>
                        <td><i class="<?=($o['TYPE_OTHER'] == 'O') ? 'fa fa-check' : ''?>"></i></td>
                        <td><i class="<?=($o['TYPE_HOME'] == 'O') ? 'fa fa-check' : ''?>"></i></td>
                        <td><i class="<?=($o['TYPE_LEGAL'] == 'O') ? 'fa fa-check' : ''?>"></td>
                        <td><?=$o['LEGAL_NAME']?></td>
                        <td><?=$o['LEGAL_JUMIN']?></td>
                        <td><i class="<?=($o['TYPE_FOREIGN'] == 'O') ? 'fa fa-check' : ''?>"></td>
                        <td><?=$o['FOREIGN_DATE_S']?></td>
                        <td><?=$o['FOREIGN_DATE_F']?></td>
                        <td><?=$o['USED_VENDER']?></td>
                        <td><?=$o['WILL_VENDER']?></td>
                        <td><?=$o['MEMBERNAME']?></td>
                        <td><?=$o['USERID']?></td>
                        <td><?=$o['REQ_DATE']?></td>
                    <? if ($tab == 1) : ?>
                        <td><?=$o['RES_DATE']?></td>
                        <td>
                        <? if($o['agree_file_path'] != "") : ?>
                        <a href="<?=$o['agree_file_path']?>" target="_blank"><span class="fa fa-print color-red" data-rel="tooltip" title="신용조회 동의서"></span></a>
                        <? endif ?>
                        </td> 
                    <? else : ?>
                        <td>
                        <? if($o['agree_file_path'] != "") : ?>
                        <a href="<?=$o['agree_file_path']?>" target="_blank"><span class="fa fa-print color-red" data-rel="tooltip" title="신용조회 동의서"></span></a>
                        <? endif ?>
                        </td> 
                        <td><button class='btn btn-danger btn-sm' type='button' id='del' name='<?=$o['CREDIT_IDX']?>' title='삭제'><span class='glyphicon glyphicon-trash'></button></td>
                    <? endif ?>
                    </tr>
                <? if ( $o['MEMO'] != '' ) : ?>    
                     <? if($o['agree_file_path'] != "") : ?>
                    <tr bgcolor="#F3FBCA">
                    <? else : ?>
                    <tr>
                    <? endif ?>
                        <td colspan="19"><?=$o['MEMO']?></td>                                
                    </tr>  
                <? endif ?>
                <? endforeach ?>
                </tbody>
            </table>

            <? if (!$list): ?><p class="lead text-center text-muted">내역이 없습니다.</p><? endif; ?>

            <hr>

            <div class="text-center">
                <?=$paging?>
            </div>
        </div>
    </div>
    </form>
</div>

<style>
    .container 
    {
      width: 1500px;
    }

    .input-group .form-control 
    {
      z-index: 1;
    }
</style>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type='text/javascript'>
function set_sfl(sfl, sca)
{
    $('#sfl').val(sfl) ;
    $('#sca').val(sca) ;
    $('#select_sca').html(sca+' <span class="caret"></span>') ;
}

$('#stx').val('<?=$stx?>') ;

if ( '<?=$sfl?>' != '' )
{
    $('#sfl').val('<?=$sfl?>') ;
}

if ( '<?=$sca?>' != '' )
{
    $('#sca').val('<?=$sca?>') ;
    $('#select_sca').html('<?=$sca?> <span class="caret"></span>') ;
}

$('button#del').click(function()
{
    if (confirm('선택하신 정보를 삭제하시겠습니까?'))
    {
        var CREDIT_IDX = $(this).attr('name') ;

        if ( CREDIT_IDX != '' )
        {            
            location.href = '/hbplanner/credit/del/credit_idx/'+CREDIT_IDX ;
        }       
    }
}) ;

$("#sel_vender").change(function()
{
    $("#vender").val($(this).val()) ;
    document.fsearch.submit();    
}) ;

$('#sel_vender').val('<?=$vender?>') ;

$("#del_last_day").click(function()
{
    if (confirm('14일 이전 데이터를 삭제하시겠습니까?'))
    {    
        location.href = '/hbplanner/credit/del_last_day' ;        
    }
}) ;
</script>
