<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="content-md margin-bottom-30">
    <div class="container">
        <form id="flogin" class="sky-form" novalidate="novalidate" name="flogin" method="post" action="">
        <input type="hidden" name="CREDIT_IDX" value="<?=$CREDIT_IDX?>" />     
        <input type="hidden" name="RESULT_IDX" value="<?=$RESULT_IDX?>" /> 
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <div class="row">
                            <div class="col-sm-9">
                                <h2 class="title-type">신용 조회 신청</h2>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <div class="col-sm-3 color-dark">
                                구분
                            </div>
                            <div class="col-sm-4">
                                <? 
                                    if ( $TYPE_NEW == 'O' )
                                    {
                                        echo "신규<BR>" ;
                                    }

                                    if ( $TYPE_OTHER == 'O' )
                                    {
                                        echo "기변/재가입/번호이동<BR>" ;
                                    }

                                    if ( $TYPE_HOME == 'O' )
                                    {
                                        echo "홈상품<BR>" ;
                                    }

                                    if ( $TYPE_LEGAL == 'O' )
                                    {
                                        echo "미성년자<BR>" ;
                                    }
                                ?>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <div class="col-sm-3 color-dark">
                                고객명
                            </div>
                            <div class="col-sm-4">
                                <?=$USERNAME?>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <div class="col-sm-3 color-dark">
                                휴대폰
                            </div>
                            <div class="col-sm-3">
                                <?=$MOBILE?>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <div class="col-sm-3 color-dark">
                                사용 중인 통신사
                            </div>
                            <div class="col-sm-3">
                                <?=$USED_VENDER?>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <div class="col-sm-3 color-dark">
                                가입 예정 통신사
                            </div>
                            <div class="col-sm-3">
                                <?=$WILL_VENDER?>
                            </div>
                        </div>
                    </section>

                    <? if ( $TYPE_LEGAL ) : ?>
                    <section>
                        <div class="row">
                            <div class="col-sm-3 color-dark">
                                법정 대리인 이름
                            </div>
                            <div class="col-sm-9">
                                <?=$LEGAL_NAME?>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <div class="col-sm-3 color-dark">
                                법정대리인<BR>주민등록번호
                            </div>
                            <div class="col-sm-6">
                                <?=$LEGAL_JUMIN?>
                            </div>                                    
                        </div>
                    </section>
                    <? endif ?>

                    <section>
                        <div class="row">
                            <div class="col-sm-3 color-dark">
                            <? if ( $TYPE_FOREIGN == "O" ) : ?>
                                외국인등록번호
                            <? else : ?>
                                주민등록번호
                            <? endif ?>
                            </div>
                            <div class="col-sm-6">
                                <?=$REG_NUM?>
                            </div>
                        </div>   
                    </section>

                    <? if ( $TYPE_FOREIGN == "O" ) : ?>  
                    <section>
                        <div class="row">
                            <div class="col-sm-3 color-dark">
                                체류기간(허가일자)
                            </div>
                            <div class="col-sm-4">
                                <?=$FOREIGN_DATE_S?>
                            </div>
                        </div>   
                    </section>

                    <section>
                        <div class="row">
                            <div class="col-sm-3 color-dark">
                                체류기간(만료일자)
                            </div>
                            <div class="col-sm-4">
                                <?=$FOREIGN_DATE_F?>
                            </div>
                        </div>   
                    </section>
                    <? endif ?>        

                    <section>                           
                        <div class="row">
                            <div class="col-sm-3 color-dark">
                                메모
                            </div>       
                            <div class="col-sm-6">
                                <?=$MEMO?>
                            </div>                                                              
                        </div>   
                    </section>

                    <section>
                        <div class="row">
                            <div class="col-sm-3 color-dark">
                                신청 날짜
                            </div>       
                            <div class="col-sm-6">
                                <?=$REQUEST_DATE?>
                            </div>                                                              
                        </div>     
                    </section>                       
                </div>

                <div class="col-md-6">
                    <section>
                        <div class="row">
                            <div class="col-sm-9">
                                <h2 class="title-type">신용 조회 결과</h2>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <div class="col-sm-3 color-dark">
                                정상 여부
                            </div>
                            <div class="col-sm-3"><?=($RESULT_OK == 'X') ? '비정상' : '정상' ; ?></div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <div class="col-sm-3 color-dark">
                                결과
                            </div>
                            <div class="col-sm-9"><?=$CREDIT_RESULT?></div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-3">회선</label>
                            <div class="col col-3"><?=$MAX_LINE?> 개 중 <?=$CUR_OPEN_LINE?> 개</div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-3">할부회선</label>
                            <div class="col col-3"><?=$MAX_INSTALMENT_LINE?> 개 중 <?=$INSTALMENT_LINE?> 개</div>
                        </div>
                    </section>                        

                    <section>
                        <div class="row">
                            <label class="label col col-3">잔여할부</label>
                            <div class="col col-3"><?=$INSTALMENT_MONTH?> 개월 중 <?=$REMAIN_INSTALMENT_MONTH?> 개월 <?=$REMAIN_INSTALMENT_PRICE?> 원</div>
                        </div>
                    </section>    

                    <section>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                위약금
                            </div>
                            <div class="col col-5"><?=$REMAIN_AGREE_PRICE?> 원</div>
                        </div>
                    </section>

                    <section>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                메모
                            </div>
                            <div class="col-sm-9"><?=$RESULT_MEMO?></div>
                        </div>
                    </section>

                    <section>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-3 color-dark">
                                완료 날짜
                            </div>       
                            <div class="col-sm-6">
                                <?=$RESULT_DATE?>
                            </div>                                                              
                        </div> 
                    </section>
                </div>
            </div>                     
        </form>
    </div>
</div>