<div class="container content">
<div class="row">

<form name="fsearch" id="sky-form" class="sky-form" method="get" action="<?=RT_PATH?>/bbs/lists" onsubmit="return doSearch(this);">
<div class="row">
    <div class="col-md-6">
        <div class="headline">
            <h5>
                <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                전체 : <?=$total_count?>개                
            </h5>
        </div>
    </div>

    <div class="col-md-2">
        <select name="sfl" class="form-control auto pull-left">
            <option value="BBS_TITLE">제목</option>
            <option value="BBS_CONTEXT">내용</option>
            <option value="WORK_USER">작성자</option>            
            <option value="BBS_TITLE.BBS_CONTEXT">제목+내용</option>            
        </select>
    </div>

    <div class="col-md-4">
        <div class="input-group">
            <input type="text" name="stx" class="form-control" placeholder="검색어를 입력하세요 ..." value="<?=$stx?>">
            <span class="input-group-btn">
                <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>

<form name="fboardlist" method="post" action="">
<input type="hidden" name="BBS_ID" value="<?=$BBS_ID?>" />

<? if ($list): ?>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">#</th>            
            <th>제목</th>
            <th>글쓴이</th>
            <th class="text-center">등록일</th>
            <th class="text-center">조회수</th>
        </tr>
    </thead>
    <tbody>       

        <? foreach ($list as $o): ?>
        <tr>
            <td class="text-center">
                <?=$o->num?>
            </td>            
            <td>
                <a href="<?=$o->href?>">
                <? if( $o->isnote == "Y" ) echo "<strong>[공지]</strong> "; ?>
                <?= $o->title; ?>
                </a>                
            </td>
            <td><?=$o->name?></td>
            <td class="text-center"><?=$o->datetime?></td>            
            <td class="text-center"><?=$o->hit?></td>
        </tr>
        <? endforeach; ?>
    </tbody>
</table>

<? endif; ?>

<? if (!$list): ?><p class="lead text-center text-muted">게시물이 없습니다.</p><? endif; ?>

<hr>

<div class="pull-right">
    <?=$paging?>
</div>

</form>

</div> <!--container content-->
</div> <!--row-->


<script type='text/javascript'>
//<![CDATA[
<? if ($category): ?>
var ca_url = 'board/' + rt_bo_table + '/lists?sca=';
$(function() { currentCate('ca_code', new Array('<?=$category['code']?>')); });
<? endif; ?>
<? if ($stx): ?>document.fsearch.sfl.value = '<?=$sfl?>';<? endif; ?>
//]]>
</script>