<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms/version-2.0.1/css/custom-sky-forms.css">
<link rel="stylesheet" href="<?=CSS_DIR?>/shop.style.css">
<link rel="stylesheet" href="<?=CSS_DIR?>/custom.css">

<div class="container content">
<div class="row">

<link rel="stylesheet" href="<?=CSS_DIR?>/pages/blog.css">
<div class="blog margin-bottom-40">
    <h2><?=$subject?></h2>
    <div class="blog-post-tags">
        <ul class="list-unstyled list-inline blog-info">
            <li><i class="fa fa-calendar"></i> 등록일 : <?=$datetime?></li>
            <li><i class="fa fa-pencil"></i> 글쓴이 : <?=$name?> </li>            
        </ul>
    </div>
    <p><?=$content?></p>                
    <p>
        <?php                   
                foreach( $file as $row ) {
                    $fileName = substr(basename($row["BBS_FILENAME"]),strlen($BBS_ID . "_" . $row["BBS_NO"] . "_" . $row["BBS_SEQ"] . "_"));                
        ?>
                <a href="<?=$row["BBS_FILENAME"]?>"><img src="/editor/images/icon/editor/p_swf_s.gif"> <?=$fileName?></a>
        <?php
                } // end foreach
        ?>  
    </p>
</div>

<hr>

<div id="comment_box" >    
    <div id="comment_reply"></div>
    <form id="fviewcomment" class="sky-form" name="fviewcomment" method="post" action="<?=RT_PATH?>/bbs/comment/page/<?=$page?>" onsubmit="return fviewcomment_submit(this);" style="margin-bottom:20px;">
        <input type="hidden" name="w"          value="c" />
        <input type="hidden" name="qstr"       value="<?=$qstr?>" />
        
        <input type="hidden" name="BBS_ID"     value="<?=$BBS_ID?>" />
        <input type="hidden" name="BBS_NO"     value="<?=$BBS_NO?>" />

        <header>댓글쓰기</header>
        <fieldset>   
            <div class="row">               
                <section class="col col-10" style="margin-bottom:5px;" >                    
                    <label class="textarea" width="100%">
                        <textarea rows="3" name="BBS_MEMO" id="BBS_MEMO message" ></textarea>
                    </label>
                </section>
                <section class="col col-2" style="margin-bottom:0px;">
                    <button type="submit" class="btn-u btn-u-sea btn-block">입력</button>
                </section>
            </div>
        </fieldset>
    </form>
</div>

<? if ($comment): ?>

<? foreach ($comment as $o): ?>
<FORM METHOD=POST NAME="fComment">
    <div class="product-comment margin-bottom-20" style="padding-top: 10px;padding-bottom: 0px;">
        <div class="product-comment-in">
            <div class="product-comment-dtl" style="padding-bottom: 0px;">

                <h5> <?=$o['WORK_USER']?><small><?=$o['WORK_DATE']?></small></h5>
                <? if( $userid == $o['WORK_USER'] ) : ?>
                    <p style="font-size: 13px;"><?=$o['BBS_MEMO']?></p>
                    <ul class="list-inline product-ratings">
                        <li class="reply"><a href="javascript:;" onclick="comment_del(<?=$o["BBS_SEQ"]?>);">삭제</a></li>
                    </ul>
                <? else : ?>
                    <p style="font-size: 13px;"><?=$o['BBS_MEMO']?></p>
                <? endif; ?>
            </div>
        </div>
    </div>
</FORM>
<? endforeach; ?>

<? endif; ?>

<div class="clearfix">
    
    <div class="pull-right">
        
    </div>
</div>

</div> <!--container content-->
</div> <!--row-->


<script type='text/javascript'>
//<![CDATA[

function fviewcomment_submit(f)    
{
    var    pattern    = /(^\s*)|(\s*$)/g;    // \s 공백 문자
    
    // 양쪽공백 없애기
    if (f.co_content.value.replace(pattern, '') == '') 
    {
        alert('댓글을 입력하세요.');
        f.co_content.focus();
        return false;
    }
    
    return true;
}

// 댓글 삭제
function comment_del(seq) 
{
    var form = document.fviewcomment;

    post_send('bbs/comment/delete/page/<?=$page?>', {
        'BBS_ID': form.BBS_ID.value,
        'BBS_NO': form.BBS_NO.value,
        'BBS_SEQ': seq,        
        'qstr': form.qstr.value
    }, true);
}

//]]>

</script>
