<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/ladda-buttons/css/custom-lada-btn.css">

<div class="container content">     
    <div class="row">
        <div>
            <form id="fjoin" class="sky-form" name="fjoin" method="post" novalidate="novalidate" action="<?=RT_PATH?>/product/card/add_detail">
                <input type="hidden" name='PDT_CD' value="<?=$card_info['PDT_CD']?>">
                <input type="hidden" name='PDT_NAME' value="<?=$card_info['PDT_NAME']?>">
                <input type="hidden" name='TEL_COMPANY' value="<?=$card_info['TEL_COMPANY']?>">

                <h2><img src="<?=$card_info['IMG_PATH']?>" height="200"> <?=$card_info['PDT_NAME']?></h2>
                    
                <header>                    
                    <div class="row">
                        <label class="text-center col col-4">카드 사용처</label>
                        <label class="text-center col col-1">적립(%)</label>
                        <label class="text-center col col-1">적립<BR>한도(P)</label>
                        <label class="text-center col col-1">전월<BR>실적</label>
                        <label class="text-center col col-1">사용처<BR>실적</label>
                        <label class="text-center col col-3">기타사항</label>
                        <label class="text-center col col-1">실적<BR>인정</label>
                    </div>
                </header>

                <fieldset>	                 

                <?foreach ($card_place_list as $key => $row) : ?>
                    <section>
                        <input type="hidden" name='CDP_ID[]' value="<?=$row['CDP_ID']?>">
                        <input type="hidden" name='CDP_NAME[]' value="<?=$row['CDP_NAME']?>">                        
                        <? 
                            $CDD_ID = isset($card_detail_info[$row['CDP_ID']]) ? $card_detail_info[$row['CDP_ID']]['CDD_ID'] : '' ; 
                            $SAVE_RATE = isset($card_detail_info[$row['CDP_ID']]) ? $card_detail_info[$row['CDP_ID']]['SAVE_RATE'] : '' ; 
                            $SAVE_LIMIT = isset($card_detail_info[$row['CDP_ID']]) ? $card_detail_info[$row['CDP_ID']]['SAVE_LIMIT'] : '' ; 
                            $LAST_MONTH_RESULT = isset($card_detail_info[$row['CDP_ID']]) ? $card_detail_info[$row['CDP_ID']]['LAST_MONTH_RESULT'] : '' ; 
                            $IS_ACCEPT_RESULT = isset($card_detail_info[$row['CDP_ID']]) ? $card_detail_info[$row['CDP_ID']]['IS_ACCEPT_RESULT'] : '' ; 
                            $ETC = isset($card_detail_info[$row['CDP_ID']]) ? $card_detail_info[$row['CDP_ID']]['ETC'] : '' ;
                            $CARD_PLACE_RESULT = isset($card_detail_info[$row['CDP_ID']]) ? $card_detail_info[$row['CDP_ID']]['CARD_PLACE_RESULT'] : '' ;

                            $IS_ACCEPT_RESULT = ($IS_ACCEPT_RESULT == 'O') ? 'checked' : '' ; 
                        ?>
                        <input type="hidden" name='CDD_ID[]' value="<?=$CDD_ID?>">
                        <div class="row">
                            <label class="label col col-4"><?=$row['CDP_NAME']?></label>
                            <div class="col col-1">
                                <label class="input">
                                    <input type="input" name="SAVE_RATE[]" placeholder="" class="invalid" value="<?=(float)$SAVE_RATE?>">
                                </label>           
                            </div>

                            <div class="col col-1">
                                <label class="input">
                                    <input type="input" name="SAVE_LIMIT[]" placeholder="" class="invalid" value="<?=$SAVE_LIMIT?>">
                                </label>           
                            </div>

                            <div class="col col-1">
                                <label class="input">
                                    <input type="input" name="LAST_MONTH_RESULT[]" placeholder="" class="invalid" value="<?=$LAST_MONTH_RESULT?>">
                                </label>           
                            </div>

                            <div class="col col-1">
                                <label class="input">
                                    <input type="input" name="CARD_PLACE_RESULT[]" placeholder="" class="invalid" value="<?=$CARD_PLACE_RESULT?>">
                                </label>
                            </div>

                            <div class="col col-3">
                                <label class="input">
                                    <input type="input" name="ETC[]" placeholder="" class="invalid" value="<?=$ETC?>">
                                </label>           
                            </div>

                            <div class="col col-1">
                                <label class="label" style="text-align:center;">
                                    <input type="checkbox" name="IS_ACCEPT_RESULT_<?=$row['CDP_ID']?>" <?=$IS_ACCEPT_RESULT?>><i></i>
                                </label>          
                            </div>                           
                        </div>
                    </section>
                <? endforeach ?>
                </fieldset>
                
                <footer class="text-center">
                    <button type="submit" class="btn-u btn-u-lg">저장</button>                    
                    <button type="button" class="btn-u btn-u-lg" onclick="window.history.back();">닫기</button>
                </footer>                               
            </form>
        </div>
    </div>
</div>

<style>
.sky-form .col 
{
	padding-left: 0px ;
}
</style>

<!--[if lt IE 9]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script src="<?=PLUGIN_DIR?>/ladda-buttons/js/spin.min.js"></script>
<script src="<?=PLUGIN_DIR?>/ladda-buttons/js/ladda.min.js"></script>
<script src="<?=JS_DIR?>/plugins/ladda-buttons.js"></script>	

<script type='text/javascript' src='<?=JS_DIR?>/md5.js'></script>
<script type='text/javascript' src='<?=JS_DIR?>/kcaptcha.js'></script>
<script type='text/javascript' src='<?=JS_DIR?>/custom_validation/member.js'></script>

<script type='text/javascript'>
//<![CDATA[
//]]>
</script>