<!--=== Content Part ===-->
<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <form id="fProduct" name="fProduct" method="post" action="/product/gifts/update">
            <div class="row  margin-bottom-30">
                <div class="col-md-4">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                        전체 상품 : <?=$total_count?>건
                    </h5>
                </div>
                <div class="col-md-8 text-right">
                    <button type="submit" class="btn-u btn-u-lg btn-u-blue rounded-3x" id="btnSubmit">정보 저장</button>
                </div>
            </div>

             <table class="table table-bordered table-striped text-center">
                <thead>
                    <tr>
                        <th class="text-center">NO</th>
                        <th class="text-center">상품</th>
                        <th colspan="2" class="text-center">사은품</th>
                    </tr>
                </thead>
                <tbody>
                    <? foreach ($list as $o): ?>
                    <tr>
                        <td rowspan="3"><?=$o['num']?></td>
                        <td rowspan="3"><?=$o['PDT_NAME']?> (<?=$o['PDT_CD']?>)</td>
                        <td>1</td>
                        <td><input type="text" id="GIFT_1_<?=$o['PDT_CD']?>" name="GIFT_1_<?=$o['PDT_CD']?>" class="form-control" value="<?=$o['GIFT_1']?>"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><input type="text" id="GIFT_2_<?=$o['PDT_CD']?>" name="GIFT_2_<?=$o['PDT_CD']?>" class="form-control" value="<?=$o['GIFT_2']?>"></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><input type="text" id="GIFT_3_<?=$o['PDT_CD']?>" name="GIFT_3_<?=$o['PDT_CD']?>" class="form-control" value="<?=$o['GIFT_3']?>"></td>
                    </tr>
                    <? endforeach; ?>
                </tbody>
            </table>
            </form>
            <? if (!$list): ?><p class="lead text-center text-muted">상품이 없습니다.</p><? endif; ?>
            <div class="text-center">
                <?=$paging?>
            </div>
        </div>        
    </div>    
</div>

<style>
    .container 
    {
      width: 1400px;
    }

    .table>tbody>tr>td {
        vertical-align: middle;
    }
</style>