<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">    
    <section>
        <div class="headline">
            <div class="row">
                <div class="col-md-6">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                        전체상품건수 : <?=$total_count?>건
                    </h5>
                </div>
                <div class="col-md-5">
                    <form name="fsearch" id="sky-form" class="sky-form" method="get" action="" onsubmit="return mSearch(this);">
                    <input type="hidden" name="sfl" id="sfl" value="pt_name"/>
                    <input type="hidden" name="sca" id="sca" value="상품명"/>
                        <div class="row">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" id="select_sca" class="btn btn-default dropdown-toggle" data-toggle="dropdown">상품명 <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:set_sfl('pt_name', '상품명')">상품명</a></li>
                                        <li><a href="javascript:set_sfl('pt_model_name', '모델명')">모델명</a></li>
                                        <li><a href="javascript:set_sfl('pt_color', '색상')">색상</a></li>
                                    </ul>
                                </div><!-- /btn-group -->
                                <input type="text" class="form-control" name="stx" id="stx">
                                <span class="input-group-btn">
                                    <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                    </form>
                </div>
                <div class="col-md-1">
                    <a href='/product/register' class='btn-u'>상품등록</a>
                </div>
            </div>
        </div>
    </section>

    <form name="fboardlist" method="post" action="">

    <div class="filter-results">
        <? foreach ($list as $idx => $o): ?>
        <? if ( ($idx / 4) == 0 ) : ?>
        <div class="row illustration-v2 margin-bottom-30">
        <? endif ?>
            <div class="col-md-3">
                <div class="product-img product-img-brd">
                    <div class="product-thumbnail">
                        <a href="/policy/lists/pt_id/<?=$o['pt_id']?>"><img class="full-width" src="<?=$o['pt_thumbnail']?>" alt=""></a>
                        <?= anchor_popup( '/product/register/pt_id/'.$o['pt_id'], '수정 / 삭제', array( 'class' => 'product-review eng' ) ) ?>
                        <a href="/policy/lists/pt_id/<?=$o['pt_id']?>" class = 'add-to-cart'><i class="icon-magic-wand"></i>판매 정책 관리</a> 
                    </div>
                <? if ( $o['new_item'] ) : ?>
                    <div class="shop-rgba-dark-green rgba-banner">New</div>
                <? else : ?>
                    <div class="shop-rgba-red rgba-banner"><?=$o['left_days']?> days left</div>
                <? endif ?>
                </div> 
                <div class="product-description product-description-brd margin-bottom-30">
                    <div class="overflow-h margin-bottom-5">
                        <div class="pull-left">
                            <h4 class="title-price"><?=$o['pt_name']?> / <?=$o['pt_model_name']?></h4>
                            <span class="gender text-uppercase"><?=$o['pt_color']?></span>
                            <? if ( $o['pc_commission_value'] != '' ) : ?>
                            <span class="gender">CV : <?=$o['pc_commission_value']?> / PV : <?=$o['pc_promotion_value']?></span>
                            <span class="gender margin-bottom-5">요금제 : <?=$o['cp_name']?></span>
                            <span class="gender eng">정책시작일 : <?=$o['pc_start_date']?></span>
                            <span class="gender eng">정책종료일 : <?=$o['pc_end_date']?></span>
                            <? endif ?>
                        </div>    
                    </div>   
                </div>
            </div>
        <? if ( ($idx / 4) == 3 ) : ?>
        </div>
        <? endif ?> 
        <? endforeach; ?>
    </div>

    <? if (!$list): ?><p class="lead text-center text-muted">상품이 없습니다.</p><? endif; ?>

    <hr>

    <div class="pull-right">
        <?=$paging?>
    </div>

    </form>
</div>

<script type='text/javascript'>
function set_sfl(sfl, sca)
{
    $('#sfl').val(sfl) ;
    $('#sca').val(sca) ;
    $('#select_sca').html(sca+' <span class="caret"></span>') ;
}

$('#stx').val('<?=$stx?>') ;

if ( '<?=$sfl?>' != '' )
{
    $('#sfl').val('<?=$sfl?>') ;
}

if ( '<?=$sca?>' != '' )
{
    $('#sca').val('<?=$sca?>') ;
    $('#select_sca').html('<?=$sca?> <span class="caret"></span>') ;
}

if ( '<?=$sod?>' != 'asc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-desc color-red') ;
}
else if ( '<?=$sod?>' != 'desc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-asc color-red') ;
}

</script>