<!--=== Content Part ===-->
<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <form id="fProduct" name="fProduct" method="post" action="/product/mobile/update_kt">
            <div class="row  margin-bottom-30">
                <div class="col-md-4">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                        전체 상품 : <?=$total_count?>건
                    </h5>
                </div>
                <div class="col-md-8 text-right">
                    <button type="button" class="btn-u btn-u-lg btn-u-purple rounded-3x" id="btnExcel">엑셀 불러오기(작업중)</button>
                    <button type="submit" class="btn-u btn-u-lg btn-u-blue rounded-3x" id="btnSubmit">정보 저장</button>
                </div>
            </div>

             <table class="table table-bordered table-striped text-center">
                <thead>
                    <tr>
                        <th class="text-center">NO</th>
                        <th class="text-center">상품</th>
                        <th class="text-center">유형</th>
                        <th colspan="2" class="text-center">URL</th>
                    </tr>
                </thead>
                <tbody>
                    <? foreach ($list as $o): ?>
                    <tr>
                        <td rowspan="3"><?=$o['num']?></td>
                        <td rowspan="3"><?=$o['PDT_NAME']?></td>
                        <td rowspan="3">
                            <? $bPlanner = ($o['INSERT_LINK_TYPE'] == 'O') ? false : true ;?>

                            <div class="inline-group">
                                <label class="radio"><input type="radio" name="INSERT_LINK_TYPE_<?=$o['PDT_CD']?>" value="X" <?=($bPlanner) ? "checked='checked'" : "" ?>>플래너</label>
                                <label class="radio"><input type="radio" name="INSERT_LINK_TYPE_<?=$o['PDT_CD']?>" value="O" <?=(!$bPlanner) ? "checked='checked'" : "" ?>>온라인</label>
                            </div>
                        </td>
                        <td>신규가입</td>
                        <td><input type="text" id="NEW_LINK_PATH_<?=$o['PDT_CD']?>" name="NEW_LINK_PATH_<?=$o['PDT_CD']?>" class="form-control" value="<?=$o['NEW_LINK_PATH']?>"></td>
                    </tr>
                    <tr>
                        <td>번호이동</td>
                        <td><input type="text" id="TR_LINK_PATH_<?=$o['PDT_CD']?>" name="TR_LINK_PATH_<?=$o['PDT_CD']?>" class="form-control" value="<?=$o['TR_LINK_PATH']?>"></td>
                    </tr>
                    <tr>
                        <td>기기변경</td>
                        <td><input type="text" id="RE_LINK_PATH_<?=$o['PDT_CD']?>" name="RE_LINK_PATH_<?=$o['PDT_CD']?>" class="form-control" value="<?=$o['RE_LINK_PATH']?>"></td>
                    </tr>
                    <? endforeach; ?>
                </tbody>
            </table>
            </form>
            <? if (!$list): ?><p class="lead text-center text-muted">상품이 없습니다.</p><? endif; ?>
            <div class="text-center">
                <?=$paging?>
            </div>
        </div>        
    </div>    
</div>

<style>
    .container 
    {
      width: 1400px;
    }

    .table>tbody>tr>td {
        vertical-align: middle;
    }
</style>

<script>
$('button#insert').click(function()
{
    location.href = '/consult/plan/add' ;
}) ;

$('button#del').click(function()
{
    if (confirm('선택하신 정보를 삭제하시겠습니까?'))
    {
        var cp_id = $(this).attr('name') ;

        if ( cp_id != '' )
        {            
            location.href = '/consult/plan/del/cp_id/'+cp_id ;
        }       
    }
}) ;

$('button#btnExcel').click(function()
{
    location.href = '/product/mobile/test2' ;
}) ;
</script>