<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">     
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form id="fwrite" class="sky-form" name="fwrite" method="post" novalidate="novalidate" action="<?=RT_PATH?>/product/register/update" enctype="multipart/form-data">
            <input type="hidden" name="token" value="<?=$token?>" />  
            <input type="hidden" name="pt_id" value="<?=$pt_id?>">
            <input type="hidden" name="pt_thumbnail" value="<?=$pt_thumbnail?>">
            
                <fieldset>

                    <section>
                        <label class="label">상품명</label>
                        <label class="input">
                            <i class="icon-append fa fa-star"></i>
                            <input type="text" id="pt_name" name="pt_name" maxlength="45" value="<?=$pt_name?>"/>
                        </label>
                    </section>

                    <section>
                        <label class="label">모델명</label>
                        <label class="input">
                            <i class="icon-append fa fa-tablet"></i>
                            <input type="text" name="pt_model_name" maxlength="45" value="<?=$pt_model_name?>">
                        </label>           
                    </section>

                    <section>
                        <label class="label">색상</label>
                        <label class="input">
                            <i class="icon-append fa fa-tint"></i>
                            <input type="text" name="pt_color" max_length명="45" value="<?=$pt_color?>">
                        </label>   
                        <div class="note"> * 따옴표(,)를 이용해 색상을 구분하세요</div>        
                    </section>

                    <section>
                        <label class="label">상품이미지</label>            
                        <div id="alert_file" class="ace">       
                            <div id="form-attachments">                                                     
                                <div class="row">
                                <? for( $i = 0 ; $i < 3 ; $i++ ) : ?>
                                    <?
                                        $k = $i + 1 ;
                                        $on_img = (isset($thumbnails[$i]) && $thumbnails[$i] != '') ;
                                        $display = ( $on_img || $i == 0 || (!$on_img && $prev_on_img) ) ? 'block' : 'none' ;
                                    ?>
                                    <div class="col-xs-3" id='div-input-file<?=$k?>' style='display:<?=$display?>'>
                                    <? if($on_img) : ?>
                                        <span class="profile-picture">
                                            <img id="img<?=$k?>" name="<?=$k?>" class="editable img-responsive editable-click editable-empty editable-open" src="<?=$thumbnails[$i]?>" />
                                        </span>
                                    <? endif ; ?>
                                        <span style="display:<?=($on_img)?'none':'block'?>;">
                                            <input type="file" id="id-input-file<?=$k?>" name="file<?=$k?>"/>
                                        </span>
                                    </div>
                                    <? $prev_on_img = $on_img ; ?>
                                <? endfor ?>                                                   
                                </div>                                          
                            </div>

                            <div class="note">
                                <strong>중요!</strong> 이미지 파일만 첨부 가능합니다.
                                <BR/>각 첨부파일의 용량은 1.5MB 미만으로 업로드하시기 바랍니다.
                                <BR/>(Chrome 에서는 첨부파일의 미리보기가 가능합니다.)
                            </div>
                        </div>
                    </section>

                    <section>
                        <label class="label">상품설명</label>
                        <label class="label state-error">
                            <?=$editor?>
                        </label>
                        <em for="pt_contents" id="editor_alert" class="invalid" style="display:none">상품 설명을 입력해 주세요</em>
                    </section>

                </fieldset>
                
                <footer class="text-center">
                    <button type="submit" class="btn-u btn-u-lg" id="btn_submit"><?=$btn_contents?></button>
                </footer>

                <div class="message">
                    <i class="rounded-x fa fa-check"></i>
                    <p>Your message was successfully sent!</p>
                </div>
            </form>
        </div>
    </div>
</div>

<!--[if lt IE 9]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="<?=JS_DIR?>/ace-elements.js"></script>
<script type='text/javascript'>
//<![CDATA[
    var editorConfig = <?=$editorConfig?>
      , editorNumber = []
      , beforeUnload = true;
    window.onbeforeunload = function() {
        //if (beforeUnload) return '이 페이지를 벗어나시면 작성 중인 글이 지워집니다.';
    } ; 

    if ( '<?=$btn_contents?>' == '상품수정' )
    {
        var btn_del = " <a href='<?=RT_PATH?>/product/register/del/pt_id/<?=$pt_id?>' class='btn-u btn-u-lg'>상품삭제</a>"
        $('#btn_submit').after(btn_del) ;
    }

    $('#id-input-file1, #id-input-file2, #id-input-file3').ace_file_input({
        style:'well',
        btn_choose:'',
        btn_change:null,
        no_icon:'icon-picture',
        droppable:true,
        thumbnail:'large',      
        //icon_remove:null,
        before_change : function(files, dropped) 
        {
            var allowed_files = [];

            for(var i = 0 ; i < files.length; i++) 
            {
                var file = files[i] ;

                if(typeof file === "string") 
                {
                    //IE8 and browsers that don't support File Object
                    if(! (/\.(jpe?g|png|gif|bmp)$/i).test(file) ) return false ;
                }
                else 
                {
                    var type = $.trim(file.type);
                    if( ( type.length > 0 && ! (/^image\/(jpe?g|png|gif|bmp)$/i).test(type) )
                            || ( type.length == 0 && ! (/\.(jpe?g|png|gif|bmp)$/i).test(file.name) )//for android's default browser which gives an empty string for file.type
                        ) 
                    {
                        alert('이미지 파일만 첨부 가능합니다.') ;
                        continue;//not an image so don't keep this file 
                    }
                }

                if (file.size > (1024 * 1024 * 1.5))
                {
                    var filesize = file.size / (1024 * 1024 * 1.5) ;
                    alert('파일이 너무 큽니다. ('+filesize.toFixed(2)+'MB). 첨부 가능 파일 사이즈(1.5MB 이하)') ;
                    continue ;
                }
                
                allowed_files.push(file);
            }

            if(allowed_files.length == 0) return false ;

            var cur_input_idx = parseInt($(this).attr('name').substr(4, 1)) ;
            var next_input_div = '#div-input-file' + (cur_input_idx + 1) ;

            $('#img'+cur_input_idx).closest('span').hide() ;
            $('#id-input-file'+cur_input_idx).closest('span').show() ;

            $(next_input_div).show() ;

            return allowed_files ;
        },
        before_remove : function() 
        {
            var cur_input_idx = parseInt($(this).attr('name').substr(4, 1)) ;
            var cur_input_div = '#div-input-file' + cur_input_idx ;
            var prev_input_div = '#div-input-file' + (cur_input_idx - 1) ;
            var next_input_div = '#div-input-file' + (cur_input_idx + 1) ;

            if ($(next_input_div).find('.file-label').attr('data-title') == '')
            {
                $(next_input_div).hide() ;
            }

            if ($(prev_input_div).find('.file-label').attr('data-title') == '')
            {
                $(cur_input_div).hide() ;
            }

            return true ;
        },
        preview_error : function(filename, error_code) 
        {
            //name of the file that failed
            //error_code values
            //1 = 'FILE_LOAD_FAILED',
            //2 = 'IMAGE_LOAD_FAILED',
            //3 = 'THUMBNAIL_FAILED'
            //alert(error_code);
        }

    }).on('change', function(){
        //console.log($(this).data('ace_input_files'));
        //console.log($(this).data('ace_input_method'));
    });

    $('#img1, #img2, #img3').click(function()
    {
        var cur_img_idx = parseInt($(this).attr('name')) ;
        $('#id-input-file'+cur_img_idx).click() ;
    }) ;

    $('#fwrite').validate({
        onkeyup: false,
        rules: {
            pt_name: 'required',
            pt_model_name: 'required',
            pt_color: 'required',
            file1: 'required',
        },
        messages: {
            pt_name: '상품명을 입력해 주세요',
            pt_model_name: '모델명을 입력해 주세요',
            pt_color: '색상을 입력해 주세요',
            file1: '이미지 파일을 한 개 이상 선택해 주세요',
        },
        submitHandler: function(f) {
            beforeUnload = false;

            $('#editor_alert').css('display', 'none') ;

            if (!new Trex.Validator().exists(Editor.getContent())) 
            {
                $('#editor_alert').css('display', 'block') ;
            }
            else
            {
                Editor.save(); // 글 등록 
            }
        },

        // Do not change code below
        errorPlacement: function(error, element)
        {
            error.insertAfter(element.parent());
        }
    });
//]]>
</script>