<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/ladda-buttons/css/custom-lada-btn.css">

<div class="container content">     
    <div class="row">
        <div class="col-md-9 col-md-offset-1">           
            <form id="fcard" class="sky-form" name="fcard" method="post" novalidate="novalidate" action="<?=RT_PATH?>/product/card/update" enctype="multipart/form-data">
                <input type="hidden" name="PDT_CD" value="<?=$card_info['PDT_CD']?>">
                <input type="hidden" name="PDT_NAME" value="<?=$card_info['PDT_NAME']?>">
                <input type="hidden" name="TEL_COMPANY" value="<?=$card_info['TEL_COMPANY']?>">
                <input type="hidden" name="IMG_PATH" value="<?=$card_info['IMG_PATH']?>">
            
                <header><i class="rounded-x fa fa-check margin-right-5"></i> 카드 기본 정보 입력</header>

                <fieldset> 
                    <section>
                        <div class="row">                                                       
                            <label class="label col col-3">통신사</label>
                            <div class="col col-2" style="margin-bottom:0px;"><?=$vender_list[$card_info['TEL_COMPANY']]?></div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-3">카드이름</label>
                            <div class="col col-2"><label class="input"><?=$card_info['PDT_NAME']?></label></div>

                            <div class="col col-1"></div>

                            <label class="label col col-3">카드사</label>
                            <div class="col col-2">
                                <label class="input">                                
                                    <input type="text" name="CD_COMPANY" value="<?=$card_info['CD_COMPANY']?>" />
                                </label>           
                            </div>                            
                        </div>
                    </section>

                    <section>
                        <div class="row">                           
                            <label class="label col col-3">최대 세이브 한도</label>
                            <div class="col col-2">
                                <label class="input">                                
                                    <input type="text" name="SAVE_LIMIT" value="<?=$card_info['SAVE_LIMIT']?>" />
                                </label>           
                            </div>

                            <div class="col col-1"></div>
                            
                            <label class="label col col-3">카드타입</label>
                            <div class="col col-2" style="margin-bottom:0px;">                            
                                <select id="CARD_TYPE" name="CARD_TYPE" class="form-control">
                                    <option value="0">세이브</option>
                                    <option value="1">후청구</option>
                                    <option value="2">체크카드</option>
                                </select>                                 
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-3">세이브 수수료</label>
                            <div class="col col-6">
                                <label class="input">                                
                                    <input type="text" name="SAVE_COMMISSION" value="<?=$card_info['SAVE_COMMISSION']?>" />
                                </label>           
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-3">추가 적립 포인트</label>
                            <div class="col col-2">
                                <label class="input">                                
                                    <input type="text" name="SAVE_POINT_TERMS1_OVER" value="<?=$card_info['SAVE_POINT_TERMS1_OVER']?>" />
                                </label>           
                            </div>

                            <div class="col col-1">이상</div>                            

                            <div class="col col-2">
                                <label class="input">                                
                                    <input type="text" name="SAVE_POINT_TERMS1_UNDER" value="<?=$card_info['SAVE_POINT_TERMS1_UNDER']?>" />
                                </label>           
                            </div>        

                            <div class="col col-1">미만<BR> 사용시</div>                                                
                            
                            <div class="col col-2">
                                <label class="input">                                
                                    <input type="text" name="SAVE_POINT_TERMS1_POINT" value="<?=$card_info['SAVE_POINT_TERMS1_POINT']?>" />
                                </label>           
                            </div>

                            <div class="col col-1">P 적립</div>                            
                        </div>
                    </section>  

                    <section>
                        <div class="row">
                            <label class="label col col-3"></label>
                            <div class="col col-2">
                                <label class="input">                                
                                    <input type="text" name="SAVE_POINT_TERMS2_OVER" value="<?=$card_info['SAVE_POINT_TERMS2_OVER']?>" />
                                </label>           
                            </div>

                            <div class="col col-1">이상</div>                            

                            <div class="col col-2">
                                <label class="input">                                
                                    <input type="text" name="SAVE_POINT_TERMS2_UNDER" value="<?=$card_info['SAVE_POINT_TERMS2_UNDER']?>" />
                                </label>           
                            </div>        

                            <div class="col col-1">미만<BR> 사용시</div>                                                
                            
                            <div class="col col-2">
                                <label class="input">                                
                                    <input type="text" name="SAVE_POINT_TERMS2_POINT" value="<?=$card_info['SAVE_POINT_TERMS2_POINT']?>" />
                                </label>           
                            </div>

                            <div class="col col-1">P 적립</div>                            
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-3"></label>
                            <div class="col col-2">
                                <label class="input">                                
                                    <input type="text" name="SAVE_POINT_TERMS3_OVER" value="<?=$card_info['SAVE_POINT_TERMS3_OVER']?>" />
                                </label>           
                            </div>

                            <div class="col col-1">이상</div>                            

                            <div class="col col-2">
                                <label class="input">                                
                                    <input type="text" name="SAVE_POINT_TERMS3_UNDER" value="<?=$card_info['SAVE_POINT_TERMS3_UNDER']?>" />
                                </label>           
                            </div>        

                            <div class="col col-1">미만<BR> 사용시</div>                                                
                            
                            <div class="col col-2">
                                <label class="input">                                
                                    <input type="text" name="SAVE_POINT_TERMS3_POINT" value="<?=$card_info['SAVE_POINT_TERMS3_POINT']?>" />
                                </label>           
                            </div>

                            <div class="col col-1">P 적립</div>                            
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-3">통합 할인 한도</label>
                            <div class="col col-2" style="margin-bottom:0px;">
                                <select id="IS_USE_TOTAL_DISCOUNT_LIMIT" name="IS_USE_TOTAL_DISCOUNT_LIMIT" class="form-control">
                                    <option value="X">미사용</option>
                                    <option value="O">사용</option>
                                </select>
                            </div>
                        </div>
                    </section>

                    <div id = "DIV_TOTAL_DISCOUNT_LIMIT">
                        <section>
                            <div class="row">
                                <label class="label col col-3"></label>
                                <div class="col col-2">
                                    <label class="input">
                                        <input type="text" name="TOTAL_DISCOUNT_LIMIT1_OVER" value="<?=$card_info['TOTAL_DISCOUNT_LIMIT1_OVER']?>" />
                                    </label>
                                </div>

                                <div class="col col-1">이상</div>

                                <div class="col col-2">
                                    <label class="input">
                                        <input type="text" name="TOTAL_DISCOUNT_LIMIT1_UNDER" value="<?=$card_info['TOTAL_DISCOUNT_LIMIT1_UNDER']?>" />
                                    </label>
                                </div>

                                <div class="col col-1">미만<BR> 사용시</div>

                                <div class="col col-2">
                                    <label class="input">
                                        <input type="text" name="TOTAL_DISCOUNT_LIMIT1_PRICE" value="<?=$card_info['TOTAL_DISCOUNT_LIMIT1_PRICE']?>" />
                                    </label>
                                </div>

                                <div class="col col-1">까지 할인</div>
                            </div>
                        </section>

                        <section>
                            <div class="row">
                                <label class="label col col-3"></label>
                                <div class="col col-2">
                                    <label class="input">
                                        <input type="text" name="TOTAL_DISCOUNT_LIMIT2_OVER" value="<?=$card_info['TOTAL_DISCOUNT_LIMIT2_OVER']?>" />
                                    </label>
                                </div>

                                <div class="col col-1">이상</div>

                                <div class="col col-2">
                                    <label class="input">
                                        <input type="text" name="TOTAL_DISCOUNT_LIMIT2_UNDER" value="<?=$card_info['TOTAL_DISCOUNT_LIMIT2_UNDER']?>" />
                                    </label>
                                </div>

                                <div class="col col-1">미만<BR> 사용시</div>

                                <div class="col col-2">
                                    <label class="input">
                                        <input type="text" name="TOTAL_DISCOUNT_LIMIT2_PRICE" value="<?=$card_info['TOTAL_DISCOUNT_LIMIT2_PRICE']?>" />
                                    </label>
                                </div>

                                <div class="col col-1">까지 할인</div>
                            </div>
                        </section>

                        <section>
                            <div class="row">
                                <label class="label col col-3"></label>
                                <div class="col col-2">
                                    <label class="input">
                                        <input type="text" name="TOTAL_DISCOUNT_LIMIT3_OVER" value="<?=$card_info['TOTAL_DISCOUNT_LIMIT3_OVER']?>" />
                                    </label>
                                </div>

                                <div class="col col-1">이상</div>

                                <div class="col col-2">
                                    <label class="input">
                                        <input type="text" name="TOTAL_DISCOUNT_LIMIT3_UNDER" value="<?=$card_info['TOTAL_DISCOUNT_LIMIT3_UNDER']?>" />
                                    </label>
                                </div>

                                <div class="col col-1">미만<BR> 사용시</div>

                                <div class="col col-2">
                                    <label class="input">
                                        <input type="text" name="TOTAL_DISCOUNT_LIMIT3_PRICE" value="<?=$card_info['TOTAL_DISCOUNT_LIMIT3_PRICE']?>" />
                                    </label>
                                </div>

                                <div class="col col-1">까지 할인</div>
                            </div>
                        </section>

                        <section>
                            <div class="row">
                                <label class="label col col-3"></label>
                                <div class="col col-2">
                                    <label class="input">
                                        <input type="text" name="TOTAL_DISCOUNT_LIMIT4_OVER" value="<?=$card_info['TOTAL_DISCOUNT_LIMIT4_OVER']?>" />
                                    </label>
                                </div>

                                <div class="col col-1">이상</div>

                                <div class="col col-2">
                                    <label class="input">
                                        <input type="text" name="TOTAL_DISCOUNT_LIMIT4_UNDER" value="<?=$card_info['TOTAL_DISCOUNT_LIMIT4_UNDER']?>" />
                                    </label>
                                </div>

                                <div class="col col-1">미만<BR> 사용시</div>

                                <div class="col col-2">
                                    <label class="input">
                                        <input type="text" name="TOTAL_DISCOUNT_LIMIT4_PRICE" value="<?=$card_info['TOTAL_DISCOUNT_LIMIT4_PRICE']?>" />
                                    </label>
                                </div>

                                <div class="col col-1">까지 할인</div>
                            </div>
                        </section>
                    </div>

                    <section>
                        <div class="row">
                            <label class="label col col-3">연회비</label>
                            <div class="col col-6">
                                <label class="input">                                
                                    <input type="text" name="ANNUAL_FEE" value="<?=$card_info['ANNUAL_FEE']?>" />
                                </label>           
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-3">가입축하P</label>
                            <div class="col col-6">
                                <label class="input">                                
                                    <input type="text" name="JOIN_POINT" value="<?=$card_info['JOIN_POINT']?>" />
                                </label>           
                            </div>
                        </div>
                    </section>                   

                    <section>
                        <div class="row">
                            <label class="label col col-3">추가 혜택</label>
                            <div class="col col-8">
                                <div class="textarea textarea-expandable">
                                    <textarea name="ADD_BENEFIT" rows="3" class="form-control"><?=$card_info['ADD_BENEFIT']?></textarea>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-3">기타 내용</label>
                            <div class="col col-8">
                                <div class="textarea textarea-expandable">
                                    <textarea name="ETC_MSG" rows="3" class="form-control"><?=$card_info['ETC_MSG']?></textarea>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-3">카드이미지</label>   
                            <div class="col col-8">         
                                <div id="alert_file" class="ace">       
                                    <div id="form-attachments">                                                     
                                        <div class="row">                                        
                                            <?
                                                $on_img = (isset($card_info['IMG_PATH']) && $card_info['IMG_PATH'] != '') ;
                                            ?>
                                            <div class="col-xs-3" id='div-input-file1' style='display:block'>
                                            <? if($on_img) : ?>
                                                <span class="profile-picture">
                                                    <img id="img1" name="1" class="editable img-responsive editable-click editable-empty editable-open" src="<?=$card_info['IMG_PATH']?>" />
                                                </span>
                                            <? endif ; ?>
                                                <span style="display:<?=($on_img)?'none':'block'?>;">
                                                    <input type="file" id="id-input-file1" name="file1"/>
                                                </span>
                                            </div>                                               
                                        </div>                                          
                                    </div>

                                    <div class="note">
                                        <strong>중요!</strong> 이미지 파일만 첨부 가능합니다.
                                        <BR/>각 첨부파일의 용량은 1.5MB 미만으로 업로드하시기 바랍니다.
                                        <BR/>(Chrome 에서는 첨부파일의 미리보기가 가능합니다.)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </fieldset>
                
                <footer class="text-center">
                    <button type="submit" class="btn-u btn-u-lg">카드 정보 수정</button>
                </footer>                           
            </form>
        </div>
    </div>
</div>

<style>
.sky-form .col 
{
	padding-left: 0px ;
}
</style>

<!--[if lt IE 9]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script src="<?=PLUGIN_DIR?>/ladda-buttons/js/spin.min.js"></script>
<script src="<?=PLUGIN_DIR?>/ladda-buttons/js/ladda.min.js"></script>
<script src="<?=JS_DIR?>/plugins/ladda-buttons.js"></script>	

<script type='text/javascript' src='<?=JS_DIR?>/md5.js'></script>
<script type='text/javascript' src='<?=JS_DIR?>/kcaptcha.js'></script>
<script type='text/javascript' src='<?=JS_DIR?>/custom_validation/member.js'></script>
<script type="text/javascript" src="<?=JS_DIR?>/ace-elements.js"></script>

<script type='text/javascript'>
    jQuery(document).ready(function()
    {
        $('#IS_USE_TOTAL_DISCOUNT_LIMIT').change() ;
    }) ;

//<![CDATA[
    $('#TEL_COMPANY').val('<?=$card_info['TEL_COMPANY']?>') ;
    $('#CARD_TYPE').val('<?=$card_info['CARD_TYPE']?>') ;
    $('#IS_USE_TOTAL_DISCOUNT_LIMIT').val('<?=$card_info['IS_USE_TOTAL_DISCOUNT_LIMIT']?>') ;

    $('#IS_USE_TOTAL_DISCOUNT_LIMIT').change(function(){
        if ( $(this).val() == 'O' )
        {
            $('#DIV_TOTAL_DISCOUNT_LIMIT').show() ;
        }
        else
        {
            $('#DIV_TOTAL_DISCOUNT_LIMIT').hide() ;
        }
    }) ;

    $('#id-input-file1').ace_file_input({
        style:'well',
        btn_choose:'',
        btn_change:null,
        no_icon:'icon-picture',
        droppable:true,
        thumbnail:'large',      
        //icon_remove:null,
        before_change : function(files, dropped) 
        {
            var allowed_files = [];

            for(var i = 0 ; i < files.length; i++) 
            {
                var file = files[i] ;

                if(typeof file === "string") 
                {
                    //IE8 and browsers that don't support File Object
                    if(! (/\.(jpe?g|png|gif|bmp)$/i).test(file) ) return false ;
                }
                else 
                {
                    var type = $.trim(file.type);
                    if( ( type.length > 0 && ! (/^image\/(jpe?g|png|gif|bmp)$/i).test(type) )
                            || ( type.length == 0 && ! (/\.(jpe?g|png|gif|bmp)$/i).test(file.name) )//for android's default browser which gives an empty string for file.type
                        ) 
                    {
                        alert('이미지 파일만 첨부 가능합니다.') ;
                        continue;//not an image so don't keep this file 
                    }
                }

                if (file.size > (1024 * 1024 * 1.5))
                {
                    var filesize = file.size / (1024 * 1024 * 1.5) ;
                    alert('파일이 너무 큽니다. ('+filesize.toFixed(2)+'MB). 첨부 가능 파일 사이즈(1.5MB 이하)') ;
                    continue ;
                }
                
                allowed_files.push(file);
            }

            if(allowed_files.length == 0) return false ;

            var cur_input_idx = parseInt($(this).attr('name').substr(4, 1)) ;
            var next_input_div = '#div-input-file' + (cur_input_idx + 1) ;

            $('#img'+cur_input_idx).closest('span').hide() ;
            $('#id-input-file'+cur_input_idx).closest('span').show() ;

            $(next_input_div).show() ;

            return allowed_files ;
        },
        before_remove : function() 
        {
            var cur_input_idx = parseInt($(this).attr('name').substr(4, 1)) ;
            var cur_input_div = '#div-input-file' + cur_input_idx ;
            var prev_input_div = '#div-input-file' + (cur_input_idx - 1) ;
            var next_input_div = '#div-input-file' + (cur_input_idx + 1) ;

            if ($(next_input_div).find('.file-label').attr('data-title') == '')
            {
                $(next_input_div).hide() ;
            }

            if ($(prev_input_div).find('.file-label').attr('data-title') == '')
            {
                $(cur_input_div).hide() ;
            }

            return true ;
        },
        preview_error : function(filename, error_code) 
        {
            //name of the file that failed
            //error_code values
            //1 = 'FILE_LOAD_FAILED',
            //2 = 'IMAGE_LOAD_FAILED',
            //3 = 'THUMBNAIL_FAILED'
            //alert(error_code);
        }

    }).on('change', function(){
        //console.log($(this).data('ace_input_files'));
        //console.log($(this).data('ace_input_method'));
    });

    $('#img1').click(function()
    {
        var cur_img_idx = parseInt($(this).attr('name')) ;
        $('#id-input-file'+cur_img_idx).click() ;
    }) ;
//]]>
</script>