<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/ladda-buttons/css/custom-lada-btn.css">

<div class="container content">     
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <?=validation_errors('<pre><p class="color-red"> ','</p>  </pre>')?>

            <form id="fjoin" class="sky-form" name="fjoin" method="post" action="/member/join/bank_account_request?cert=<?=$cert?>">
            	<input type="hidden" name="service" value="1">				<!-- 계좌 소유주 확인 서비스 구분 -->
				<input type="hidden" name="svcGbn"  value="5">				<!-- 업무구분 -->
				<input type="hidden" name="svc_cls" value="">

            	<header><i class="rounded-x fa fa-check margin-right-5"></i> 회원 계좌번호 입력</header>

                <fieldset>

	                <section>
	                    <div class="row">
	                        <label class="label col col-2">소유주명</label>
	                        <div class="col col-3">
	                            <label class="input">	                            	
	                                <input type="text" maxlength="20" placeholder="" name="USERNM" value=""/>
	                            </label>
	                        </div>

							<div class="col col-1"></div>

		                    <label class="label col col-2">생년월일(6자리)</label>
	                        <div class="col col-4">
	                            <label class="input">
	                                <input type="text" id="mb_birth" name="mb_birth" maxlength="6" placeholder="" />
	                            </label>
	                        </div>

	                        <div class="col col-1"></div>
	                        
	                    </div>
	                </section>

	                <section>
	                    <div class="row">
	                    	<label class="label col col-2">은행</label>
                            <div class="col col-3" style="margin-bottom:0px;">
                                <select id="strBankCode" name="strBankCode" class="form-control">
                                <? foreach ($bank_list as $key => $value) : ?>                    
                                	<option value="<?=$key?>"><?=$value?></option>
								<? endforeach ?>
                                </select>
                            </div>

	                        <div class="col col-1"></div>

	                        <label class="label col col-2">계좌번호</label>
	                        <div class="col col-4">
                                <label class="input">
                                    <input type="text" id="strAccountNo" name="strAccountNo" maxlength="25" />
                                </label>	       
                            </div>
	                    </div>
	                </section>	                

	            </fieldset>

                <footer class="text-center">
                    <button type="submit" class="btn-u btn-u-lg" id="btnSubmit">계좌번호 인증하기</button>
                </footer>
                
                <div class="message">
                    <i class="rounded-x fa fa-check"></i>
                    <p>Your message was successfully sent!</p>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
.sky-form .col 
{
	padding-left: 0px ;
}
</style>

<!--[if lt IE 9]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script src="<?=PLUGIN_DIR?>/ladda-buttons/js/spin.min.js"></script>
<script src="<?=PLUGIN_DIR?>/ladda-buttons/js/ladda.min.js"></script>
<script src="<?=JS_DIR?>/plugins/ladda-buttons.js"></script>	

<script type='text/javascript' src='<?=JS_DIR?>/md5.js'></script>
<script type='text/javascript' src='<?=JS_DIR?>/kcaptcha.js'></script>
<script type='text/javascript' src='<?=JS_DIR?>/custom_validation/member.js'></script>

<script type='text/javascript'>
//<![CDATA[
jQuery(document).ready(function() 
{

var BankAccountForm = function () {

    return {
        
        //Masking
        init: function (form) {
	        // Validation for login form
	        $(form).validate({
	        	onkeyup: false,
	            rules: 
	            {
                    mb_birth: { required:true,  minlength:6, maxlength:6, number:true },
					strBankCode: { required:true },
					strAccountNo: { required:true, number:true },	            
		        },
		        messages: {
                    mb_birth: { required:'생년월일을 입력 해 주세요', minlength:'생년월일을 입력 해 주세요', maxlength:'생년월일을 입력 해 주세요', number:'숫자만 입력 가능합니다' },
		            strBankCode: '은행을 선택 해 주세요',
		            strAccountNo: { required:'계좌번호를 입력하세요', number:'숫자만 입력 가능합니다' },
		        },                  
	                                        
	            // Do not change code below
	            errorPlacement: function(error, element)
	            {
	                error.insertAfter(element.parent());
	            }
	        });
        }

    };

}();

BankAccountForm.init('#fjoin');     

});

//]]>
</script>