<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">     
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <form id="fconfirm" class="sky-form" novalidate="novalidate" name="fconfirm" method="post" action="<?=$action?>">
                <input type="hidden" name="mb_id" value="<?=$mb_id?>"/>     
                <input type="hidden" name="token" value="<?=$token?>"/>
                
                <fieldset>                  
                    <section>
                        <div class="row">
                            <label class="label col col-4">회원아이디</label>
                            <div class="col col-8">
                                <p class="form-control-static text-primary"><strong><?=$mb_id?></strong></p>
                            </div>
                        </div>
                    </section>
                    
                    <section>
                        <div class="row">
                            <label class="label col col-4">비밀번호</label>
                            <div class="col col-8">
                                <label class="input">
                                    <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="mb_password" id="mb_password">
                                </label>
                                <div class="note"><i class="glyphicon glyphicon-exclamation-sign"></i> 회원님의 정보보호를 위하여 비밀번호를 확인합니다.</div>
                            </div>
                        </div>
                    </section>
                </fieldset>
                <footer>
                    <button type="submit" class="btn-u pull-right">확인</button>
                </footer>
            </form>         
        </div>
    </div>
</div>

<script src="<?=PLUGIN_DIR?>/sky-forms/version-2.0.1/js/jquery.validate.min.js"></script>
<script type='text/javascript' src='<?=JS_DIR?>/custom_validation/member.js'></script>
<script type='text/javascript'>
//<![CDATA[
$(function() {
    $('#mb_password').focus();
});

jQuery(document).ready(function() {
    MemberForm.init('#fconfirm');     
});
//]]>
</script>