<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<!--[if lt IE 9]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

<div class="container content">
	<div class="tag-box tag-box-v3">

		<form id="find_member" class="sky-form" class="form-horizontal" name="find_member" method="post" action="<?=RT_PATH?>/member/find/result">

	    <!-- Heading v1 -->
	    <div class="heading heading-v1 margin-bottom-40">
	        <h2>회원명부 조회</h2>	        
	        <p><h5>회원명과 회원ID를 입력하시면 회원정보를 열람하실 수 있습니다.</h5></p>        

		    <fieldset>
	            <section>
	                <div class="row">
	                	<label class="label col col-3">회원명 </label>
                        <div class="col col-9">
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" id="username" name="username" maxlength="20" value="" />
                            </label>
                        </div>
                    </div>
                </section>

                <section>
	                <div class="row">
	                	<label class="label col col-3">회원ID </label>
                        <div class="col col-9">
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" id="userid" name="userid" maxlength="20" value="" />
                            </label>
                        </div>
                    </div>
                </section>
			</fieldset>
			
	        <button type="submit" class="btn-u">조회하기</button>

	    </div>
	    <!-- End Heading v1 -->
	    </form>

	</div>
</div>

<script type='text/javascript'>

function close_window()
{
	window.close(); 	
} 
 
 </script>

 <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script type='text/javascript' src='<?=JS_DIR?>/custom_validation/member.js'></script>
<script type='text/javascript'>

jQuery(document).ready(function() 
{
    MemberForm.init('#find_member');     
});
//]]>
</script>