<div class="">
    <section>
        <div class="headline row text-center">
            <h4>정산 마감 일자 : </h4>
            <div class="btn-group">
                <button type="button" id="sel_position" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <?=$pay_date?> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <? foreach ($pay_date_list as $key => $value) : ?>
                    <li><a href="/member/honor/pay_date/<?=$value['PAY_DATE']?>"><?=$value['PAY_DATE']?></a></li>
                    <? endforeach ?>
                </ul>
            </div>
        </div>
    </section>

    <div class="parallax-team parallaxBg" style="background-position: 50% 33px;">
        <div class="container content">
            <? $tmp_cnt = -1 ; ?>
            <? foreach ($rank_cd_list as $rank): ?>
                <? while ( ( $tmp_cnt != -1 ) && ( $tmp_cnt %  4 ) < 3 ) : ?>
                    <div class="col-xs-3 honor"></div>
                <? $tmp_cnt++ ; ?>
                <? if ( ( $tmp_cnt %  4 ) == 3 ) : ?>
                </div>
                <? endif ?>
                <? endwhile ?>
            <? if ( isset($list[$rank])) : ?>
                <div class="row title-box-v2">
                    <h2><span class="bg-<?=$mb_position_color[$rank]?> rank_title"><?=$rank_list[$rank]?></span></h2>
                </div>

                <? foreach ($list[$rank] as $key => $o): ?>
                    <? if ( ( $key %  4 ) == 0 ) : ?>
                    <div class="row">
                    <? endif ?>
                        <div class="col-xs-3 honor">
                            <div class="image text-center <?=$rank_list[$rank]?>">
                                <div class="text">
                                    <?=$o['USERNAME']?>
                                </div>
                            </div>
                        </div>
                    <? if ( ( $key %  4 ) == 3 ) : ?>
                    </div>
                    <? endif ?>
                    <? $tmp_cnt = $key ; ?>
                <? endforeach; ?>
            <? endif ?>
            <? endforeach; ?>
        </div>
    </div>
</div>

<style>
    .honor { padding:0px 0px 40px 0px; }

    .rank_title {
        color:#ffffff;
        font-weight:700;
        font-size:34px;
        font-family:맑은 고딕;
        line-height:1.6;
        opacity:0.6;
        padding-left:10px;
        padding-right:10px;
    }

    .Gold
    {
        background:url(/data/img/rank/Gold.png);
        background-repeat:no-repeat;
        background-position: center;
        background-size:contain;
        height:80px;
        opacity:0.7;
    }

    .Ruby
    {
        background:url(/data/img/rank/Ruby.png);
        background-repeat:no-repeat;
        background-position: center;
        background-size:contain;
        height:80px;
        opacity:0.7;
    }

    .Sapphire
    {
        background:url(/data/img/rank/Sapphire.png);
        background-repeat:no-repeat;
        background-position: center;
        background-size:contain;
        height:80px;
        opacity:0.7;
    }

    .Diamond
    {
        background:url(/data/img/rank/Diamond.png);
        background-repeat:no-repeat;
        background-position: center;
        background-size:contain;
        height:80px;
        opacity:0.7;
    }

    .Crown
    {
        background:url(/data/img/rank/Crown.png);
        background-repeat:no-repeat;
        background-position: center;
        background-size:contain;
        height:80px;
        opacity:0.7;
    }

    .image .text {
        color:#000000;
        font-weight:700;
        font-size:20px;
        font-family:맑은 고딕;
        line-height:80px;
        opacity:0.6;
        vertical-align: middle;
        /*top:33%; /* in conjunction with left property, decides the text position */
        left:33%;
        /*width:300px; /* optional, though better have one */
    }
</style>