<div class="container content">  
	<form id="fjoin_check" name="fjoin_check" action="<?=RT_PATH?>/member/join" method="post">
    
		<?=validation_errors("<pre>","</pre>")?>
		<fieldset>
			<h5>회원가입약관</h5>
			<textarea class="form-control" rows="5" readonly="readonly"><?=$stipulation?></textarea>
			<br/>

			<div class="btn-group" data-toggle="buttons">
				<label id="agree" class="btn btn-sm btn-default">
					<input type="checkbox" name="agree" value="1"  />
					<span class="glyphicon glyphicon-unchecked"></span> 회원가입약관을 읽었으며 내용에 동의합니다.
				</label>
			</div>

			<br/><br/>

			<h5>개인정보취급방침</h5>
			<textarea class="form-control" rows="5" readonly="readonly"><?=$privacy?></textarea>
			<br/>

			<div class="btn-group" data-toggle="buttons">
				<label id="agree2" class="btn btn-sm btn-default">
					<input type="checkbox" name="agree2" value="1"  />
					<span class="glyphicon glyphicon-unchecked"></span> 개인정보취급방침을 읽었으며 내용에 동의합니다.
				</label>
			</div>

			<input type="hidden" name="cert_name" value="">
	    	<input type="hidden" name="cert_birthdate" value="">

			<hr />

		<!--	<p class="text-center">				
				<a href="javascript:fnPopup();" type="button" name="cert_button" class="btn-u btn-u-lg">본인 인증하기</a>
				<a href="javascript:fnPopup2();" type="button" name="cert_button" class="btn-u btn-u-lg">아이핀 인증하기</a>
			</p> -->
			<p class="text-center">				
				<a href="javascript:fnPopup3();" type="button" name="cert_button" class="btn-u btn-u-lg">회원가입</a>
			</p>
		</fieldset>
	</form>
</div>

<script type='text/javascript' src='<?=JS_DIR?>/jquery/validate.js'></script>
<script type='text/javascript'>
//<![CDATA[
$('#agree,#agree2').checkicon();

window.name ="Parent_window";

function fnPopup()
{
	if( $("input[name='agree']:checked").length == 0 )
	{
		alert('회원가입약관의 내용에 동의해야 회원가입 하실 수 있습니다.');

		return;
	}

	if( $("input[name='agree2']:checked").length == 0 )
	{
		alert('개인정보취급방침의 내용에 동의해야 회원가입 하실 수 있습니다.');

		return;
	}

	window.open('', 'popupChk', 'width=500, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
	document.form_chk.action = "https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb";
	document.form_chk.target = "popupChk";
	document.form_chk.submit();
}

function fnPopup2()
{
	if( $("input[name='agree']:checked").length == 0 )
	{
		alert('회원가입약관의 내용에 동의해야 회원가입 하실 수 있습니다.');

		return;
	}

	if( $("input[name='agree2']:checked").length == 0 )
	{
		alert('개인정보취급방침의 내용에 동의해야 회원가입 하실 수 있습니다.');

		return;
	}

	window.open('', 'popupIPIN2', 'width=450, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
	document.form_ipin.target = "popupIPIN2";
	document.form_ipin.action = "https://cert.vno.co.kr/ipin.cb";
	document.form_ipin.submit();
}

function fnPopup3()
{
	if( $("input[name='agree']:checked").length == 0 )
	{
		alert('회원가입약관의 내용에 동의해야 회원가입 하실 수 있습니다.');

		return;
	}

	if( $("input[name='agree2']:checked").length == 0 )
	{
		alert('개인정보취급방침의 내용에 동의해야 회원가입 하실 수 있습니다.');

		return;
	}

	document.location.href = 'form' ;
}

$(function() {
	$('#fjoin_check').validate({
		rules: {
			agree  : { required:true },
			agree2 : { required:true }
		},
		messages: {
			agree  : { required:'회원가입약관의 내용에 동의해야 회원가입 하실 수 있습니다.' },
			agree2 : { required:'개인정보취급방침의 내용에 동의해야 회원가입 하실 수 있습니다.' }
		},
		submitHandler: function(f) 
		{

        }
	});
});
//]]>
</script>