<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/ladda-buttons/css/custom-lada-btn.css">

<div class="container content">     
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <?=validation_errors('<pre><p class="color-red"> ','</p>  </pre>')?>

            <form id="fjoin" class="sky-form" name="fjoin" method="post" novalidate="novalidate" action="<?=RT_PATH?>/member/join/update">
            <input type="hidden" name="token" value="<?=$token?>" />
			<input type="hidden" name="TEMP_LINE" id="TEMP_LINE" value="" />

            	<header><i class="rounded-x fa fa-check margin-right-5"></i> 회원 정보 입력</header>

                <fieldset>

	                <section>
	                    <div class="row">
	                        <label class="label col col-2">회원명</label>
	                        <div class="col col-3">
	                            <label class="input">
                                	<input type="text" maxlength="10" placeholder="" name="mb_name" value="<?=$mb_name?>"/>
	                            </label>
	                        </div>

							<div class="col col-1"></div>

		                    <label class="label col col-2">생년월일</label>
	                        <div class="col col-4">
	                            <label class="input">
                                    <input type="text" maxlength="6" placeholder="" name="mb_birth" value="<?=$mb_birth?>"/>
	                            </label>
	                        </div>
	                    </div>
	                </section>

	                <section>
	                    <div class="row">
	                        <label class="label col col-2">비밀번호</label>
	                        <div class="col col-3">
	                            <label class="input">
	                                <input type="text" id="mb_password" name="mb_password" maxlength="20" placeholder="" value=""/>
	                                <div class="note"> 3 ~ 20자</div>
	                            </label>
	                        </div>

	                        <div class="col col-1"></div>

	                        <label class="label col col-2">비밀번호확인</label>
	                        <div class="col col-3">
	                            <label class="input">
	                                <input type="text" id="mb_password_re" name="mb_password_re" maxlength="20" placeholder="" value=""/>
	                            </label>
	                        </div>
	                    </div>
	                </section>

	                <section>
	                    <div class="row">
	                        <label class="label col col-2">전화번호</label>
	                        <div class="col col-7">
	                            <section class="col col-3" style="margin-bottom:0px;">
	                                <label class="input">
	                                    <input id="mb_tel_1" name="mb_tel_1" maxlength="3" value="<?=$mb_tel_1?>" />
	                                </label>
	                            </section>
	                            
	                            <section class="text-center col col-1" style="margin-top:10px;">-</section>

	                            <section class="col col-3" style="margin-bottom:0px;">
	                                <label class="input">
	                                    <input id="mb_tel_2" name="mb_tel_2" maxlength="4" value="<?=$mb_tel_2?>" />
	                                </label>
	                            </section>

	                            <section class="text-center col col-1" style="margin-top:10px;">-</section>
	                            
	                            <section class="col col-3" style="margin-bottom:0px;">
	                                <label class="input">
	                                    <input id="mb_tel_3" name="mb_tel_3" maxlength="4" value="<?=$mb_tel_3?>" />
	                                </label>
	                            </section>
	                        </div>
	                    </div>
	                </section>

	                <section>
	                    <div class="row">
	                        <label class="label col col-2">휴대폰번호</label>
	                        <div class="col col-7">
	                            <section class="col col-3" style="margin-bottom:0px;">
	                                <label class="input">
	                                    <input id="mb_hp_1" name="mb_hp_1" maxlength="3" value="<?=$mb_hp_1?>" />
	                                </label>
	                            </section>
	                            
	                            <section class="text-center col col-1" style="margin-top:10px;">-</section>

	                            <section class="col col-3" style="margin-bottom:0px;">
	                                <label class="input">
	                                    <input id="mb_hp_2" name="mb_hp_2" maxlength="4" value="<?=$mb_hp_2?>" />
	                                </label>
	                            </section>

	                            <section class="text-center col col-1" style="margin-top:10px;">-</section>
	                            
	                            <section class="col col-3" style="margin-bottom:0px;">
	                                <label class="input">
	                                    <input id="mb_hp_3" name="mb_hp_3" maxlength="4" value="<?=$mb_hp_3?>" />
	                                </label>
	                            </section>
	                        </div>
	                    </div>
	                </section>

	                <section>
	                    <div class="row">
	                        <label class="label col col-2">이메일주소</label>
	                        <div class="col col-4">
                                <label class="input">
                                    <input type="email" name="mb_email" placeholder="" class="invalid" value="<?=$mb_email?>">
                                </label>	       
                            </div>
                            <div class="col col-4">
                           		<label class="label">
                           			<input type="checkbox" name="is_mailing"><i></i> 메일 수신
                           		</label>
                           	</div>
	                    </div>
	                </section>

	                <section>
		                <div class="row">
							<label class="label col col-2">주소</label>
							<div class="col col-8">
								<section class="col col-3">
									<input type="text" name="mb_zonecode" id="mb_zonecode" class="form-control span2" maxlength="7" readonly="readonly" value="<?=$mb_zonecode?>" />
								</section>
								<input type="button" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
								<span class="help-block"><input type="text" name="mb_addr1" id="mb_addr1" class="form-control" maxlength="100" readonly="readonly" value="<?=$mb_addr1?>" /></span>
								<span class="help-block"><input type="text" id="mb_addr2" name="mb_addr2" class="form-control" maxlength="100" value="<?=$mb_addr2?>" /></span>
							</div>
						</div>
					</section>

	                <section>
	                    <div class="row">
	                    	<label class="label col col-2">은행</label>
                            <div class="col col-3" style="margin-bottom:0px;">
                                <select id="mb_bank_select" name="mb_bank" class="form-control" >
								<? foreach ($bank_list as $key => $value) : ?>                    
                                	<option value="<?=$key?>"><?=$value?></option>
								<? endforeach ?>
                                </select>                            	
                            </div>

	                        <div class="col col-1"></div>

	                        <label class="label col col-2">계좌번호</label>
	                        <div class="col col-4">
                                <label class="input">
                                    <input type="text" name="mb_bank_serial" value="<?=$mb_bank_serial?>" />
                                </label>	       
                            </div>
	                    </div>
	                </section>

	                <section>
	                    <div class="row">
	                        <label class="label col col-2">예금주</label>
	                        <div class="col col-3">
	                            <label class="input">
	                                <input type="text" name="mb_bank_owner" value="<?=$mb_bank_owner?>">
	                            </label>
	                        </div>

	                        <div class="col col-1"></div>

	                        <label class="label col col-2">예금주와의 관계</label>
	                        <div class="col col-3">
                                <label class="input">
                                    <input type="text" id="mb_owner_relation" name="mb_owner_relation" value="<?=$mb_owner_relation?>" />
                                </label>	       
                            </div>
	                    </div>
	                </section>

	            </fieldset>

	            <header><i class="rounded-x fa fa-check margin-right-5"></i> 후원인 / 추천인 / 센터 입력</header>

	            <fieldset>
	            	<section>
	                    <div class="row">
	                        <label class="label col col-2">후원인</label>
	                        <label class="label col col-1">회원ID</label>
	                        <div class="col col-2">
	                            <label class="input">
	                                <input type="text" id="mb_supporter_id" name="mb_supporter_id" class="id" value="<?=$mb_supporter_id?>">
	                            </label>
	                        </div>

	                        <div class="ladda-btn">
	                        	<button class="btn-u btn-u-dark-blue ladda-button" data-style="expand-right" id="find_supporter">찾기</button>
	                        	<span id="supporter_name" class="color-purple"></span>
	                        	<span id="find_supporter_help" class="color-blue"></span>
	                       	</div>
	                    </div>
	                </section>

	                <section>
	                    <div class="row">
	                        <label class="label col col-2">추천인</label>
	                        <label class="label col col-1">회원ID</label>
	                        <div class="col col-2">
	                            <label class="input">
	                                <input type="text" id="mb_recommander_id" name="mb_recommander_id" class="id" value="<?=$mb_recommander_id?>">
	                            </label>
	                        </div>

	                        <div class="ladda-btn">
	                        	<button class="btn-u btn-u-dark-blue ladda-button" data-style="expand-right" id="find_recommander">찾기</button>
	                        	<span id="recommander_name" class="color-purple"></span>
	                        	<span id="find_recommander_help" class="color-blue"></span>
	                       	</div>
	                    </div>
	                </section>

	                <section>
	                    <div class="row">
	                        <label class="label col col-2">가입센터</label>
                            <div class="col col-3" style="margin-bottom:0px;">
                                <select id="mb_center" name="mb_center" class="form-control">
                                <? foreach ($center_list as $key => $value) : ?>
                                    <option value="<?=$key?>"><?=$value?></option>
                                <? endforeach ?>
                                </select>
                            </div>
	                    </div>
	                </section>

	                <section>
	                	<div class="row color-red">
	                		<i class="rounded-x fa fa-check"></i> 후원인과 추천인은 수당과 관련된 중요한 내용입니다. 다시 한 번 확인하고 체크해 주세요.
	                	</div>
	                	<div class="row">
	                		<label class="checkbox"><input type="checkbox" name="re_confirm"><i></i>네, 확인했습니다.</label>
	                	</div>
	                </section>

                </fieldset>
                
                <footer class="text-center">
                    <button type="button" class="btn-u btn-u-lg" id="btnSubmit">가입신청</button>
                </footer>
                
                <div class="message">
                    <i class="rounded-x fa fa-check"></i>
                    <p>Your message was successfully sent!</p>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
.sky-form .col 
{
	padding-left: 0px ;
}
</style>

<!--[if lt IE 9]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script src="<?=PLUGIN_DIR?>/ladda-buttons/js/spin.min.js"></script>
<script src="<?=PLUGIN_DIR?>/ladda-buttons/js/ladda.min.js"></script>
<script src="<?=JS_DIR?>/plugins/ladda-buttons.js"></script>	

<script type='text/javascript' src='<?=JS_DIR?>/md5.js'></script>
<script type='text/javascript' src='<?=JS_DIR?>/kcaptcha.js'></script>
<script type='text/javascript' src='<?=JS_DIR?>/custom_validation/member.js'></script>

<script type='text/javascript'>
//<![CDATA[
$('#mb_birth').mask('999999', {placeholder:' '});
$(".id").mask('99999999', {placeholder:' '});

$('#mb_center').val('<?=$mb_center?>') ;
$('#mb_bank_select').val('<?=$mb_bank?>') ;

jQuery(document).ready(function() 
{
    MemberForm.init('#fjoin');     
});

$('#btnSubmit').click(function()
{	
	if ( $('#find_supporter_help').text() != ' 확인완료' )
	{
		alert('후원인 찾기를 완료하세요') ;
		return ;
	}

	if ( $('#find_recommander_help').text() != ' 확인완료' )
	{
		alert('추천인 찾기를 완료하세요') ;
		return ;
	}

	$('#fjoin').submit() ;
}) ;

$('#mb_jumin_no').click(function()
{
	$('#check_jumin_help').text('') ;
}) ;

$('#check_jumin').click(function()
{
	var mb_jumin_no = $('#mb_jumin_no').val() ;		
	
	$('#check_jumin_help').text('') ;

    $.ajax({
            type : "POST",
            url : "/member/join/check_jumin",
            data : 
            {
                "mb_jumin_no" : mb_jumin_no
            },
            success : function (data) 
            {
            	data = $.trim( data ) ;

            	if ( data == 'NULL' )
            	{
            		alert('주민등록번호를 확인 해 주시기 바랍니다') ;

            		$('#mb_jumin_no').val('') ;
            	}
            	else if ( data == 'OK' )
            	{
            		$('#check_jumin_help').text(' 확인완료') ;
            	}
            	else
            	{   
            		alert(data) ;         	

            		$('#mb_jumin_no').val('') ;            		
            	}
            }
        });
}) ;

$('#mb_supporter_id').click(function()
{
	$(this).val('') ;
	$('#supporter_name').text('') ;
	$('#find_supporter_help').text('') ;
}) ;

$('#find_supporter').click(function()
{
	var mb_id = $('#mb_supporter_id').val() ;

	$('#mb_supporter_id').val(mb_id.toUpperCase()) ;
	mb_id = $('#mb_supporter_id').val() ;

	$('#supporter_name').text('') ;
	$('#find_supporter_help').text('') ;

	$.ajax({
		dataType : "JSON",
		type : "POST",
		url : "/member/join/find_supporter",
		data :
		{
			"mb_id" : mb_id
		},
		success : function (data)
		{
			var result = "" ;
			var user_name = "" ;
			var temp_line = "" ;

			$.each(data, function(key, val) {
				if (key == 'RST') {
					result = val;
				}
				else if (key == 'USERNAME') {
					user_name = val;
				}
				else if (key == 'TEMP_LINE') {
					temp_line = val;
				}
			});

			if ( result == 'NULL' )
			{
				alert('후원인 정보를 확인 해 주시기 바랍니다') ;

				$('#mb_supporter_id').val('') ;
				$('#find_supporter_help').text(' 후원인 정보 확인') ;
			}
			else if ( result == 'CANT' )
			{
				alert('더 이상 추가 할 수 없는 후원인입니다') ;

				$('#mb_supporter_id').val('') ;
				$('#find_supporter_help').text(' 더 이상 추가 할 수 없는 후원인') ;
			}
			else
			{
				$('#TEMP_LINE').val(temp_line) ;

				$('#supporter_name').text(user_name) ;
				$('#find_supporter_help').text(' 확인완료') ;
			}
		}
	});
}) ;

$('#mb_recommander_id').click(function()
{
	$(this).val('') ;
	$('#recommander_name').text('') ;
	$('#find_recommander_help').text('') ;
}) ;

$('#find_recommander').click(function()
{
	if ( $('#mb_supporter_id').val() == '' )
	{
		alert('후원인 찾기를 완료하세요') ;
		return ;
	}

	mb_id =  $('#mb_recommander_id').val() ;

	$('#mb_recommander_id').val(mb_id.toUpperCase()) ;
	mb_id = $('#mb_recommander_id').val() ;
	
	$('#recommander_name').text('') ;
	$('#find_recommander_help').text('') ;

    $.ajax({
            type : "POST",
            url : "/member/join/find_member",
            data : 
            {
                "mb_id" : mb_id,  "find_supporter" : false, "mb_supporter_id" : $('#mb_supporter_id').val(),
            },
            success : function (data) 
            { 
            	data = $.trim( data ) ;

            	if ( data == 'NULL' )
            	{
            		alert('추천인 정보를 확인 해 주시기 바랍니다') ;
            		
            		$('#mb_recommander_id').val('') ;
            		$('#find_recommander_help').text(' 추천인 정보 확인') ;
            	}
            	else if ( data == 'CANT' )
            	{
            		alert('추천인은 상위후원인 중 한 명이어야 합니다.') ;

            		$('#mb_recommander_id').val('') ;
            		$('#find_recommander_help').text(' 추천인은 상위후원인 중 한 명') ;
            	}            	
            	else
            	{
            		$('#recommander_name').text(data) ;
            		$('#find_recommander_help').text(' 확인완료') ;
            	}
            }
        });
}) ;

//]]>
</script>

<? if( IS_TEST_SERVER ) : ?>
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<? else : ?>
    <script src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>
<? endif; ?>

<script>
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 도로명 조합형 주소 변수

                // 법정동명이 있을 경우 추가한다.
                if(data.bname !== ''){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있을 경우 추가한다.
                if(data.buildingName !== ''){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }
                // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
                if(fullRoadAddr !== ''){
                    fullRoadAddr += extraRoadAddr;
                }

                if ( fullRoadAddr == '' )
                {
                    fullRoadAddr = data.jibunAddress ;
                }

                //alert(data.zonecode) ; // 8월 1일부터 사용될 신 우편번호 

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById("mb_zonecode").value = data.zonecode;
                document.getElementById("mb_addr1").value = fullRoadAddr;                
            }
        }).open();
    }
</script>