<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/ladda-buttons/css/custom-lada-btn.css">

<div class="container content">     
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <?=validation_errors('<pre><p class="color-red"> ','</p>  </pre>')?>

            <form id="fjoin" class="sky-form" name="fjoin" method="post" action="/member/join/add_jumin_no">
            	<header><i class="rounded-x fa fa-check margin-right-5"></i> 회원 주민등록번호 입력</header>

				개인 정보 보호를 위하여 2017년 3월 31일 부터<BR>
				회원 가입시 주민등록번호를 수집하지 않습니다.<BR><BR>
				단, 수당 발생 회원의 경우, <BR>
				관할세무서, TAX 신고를 위해 주민등록번호를 수집합니다.
                <fieldset>

	                <section>
	                    <div class="row">
							<div class="col col-3"></div>

		                    <label class="label col col-2">주민등록번호</label>
	                        <div class="col col-4">
	                            <label class="input">
	                                <input type="text" id="mb_jumin_no" name="mb_jumin_no" maxlength="13" placeholder="" />
	                                <div class="note"> - 제외 입력</div>
	                            </label>
	                        </div>

							<div class="col col-3"></div>
	                    </div>
	                </section>

	            </fieldset>

                <footer class="text-center">
                    <button type="submit" class="btn-u btn-u-lg" id="btnSubmit">주민등록번호 입력</button>
                </footer>
                
                <div class="message">
                    <i class="rounded-x fa fa-check"></i>
                    <p>Your message was successfully sent!</p>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
.sky-form .col 
{
	padding-left: 0px ;
}
</style>

<!--[if lt IE 9]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script src="<?=PLUGIN_DIR?>/ladda-buttons/js/spin.min.js"></script>
<script src="<?=PLUGIN_DIR?>/ladda-buttons/js/ladda.min.js"></script>
<script src="<?=JS_DIR?>/plugins/ladda-buttons.js"></script>	

<script type='text/javascript' src='<?=JS_DIR?>/md5.js'></script>
<script type='text/javascript' src='<?=JS_DIR?>/kcaptcha.js'></script>
<script type='text/javascript' src='<?=JS_DIR?>/custom_validation/member.js'></script>

<script type='text/javascript'>
//<![CDATA[
jQuery(document).ready(function() 
{

var BankAccountForm = function () {

    return {
        
        //Masking
        init: function (form) {
	        // Validation for login form
	        $(form).validate({
	        	onkeyup: false,
	            rules: 
	            {
                    mb_jumin_no: { required:true,  minlength:13, maxlength:13, number:true },
		        },
		        messages: {
                    mb_jumin_no: { required:'주민등록번호를 입력 해 주세요', minlength:'주민등록번호를 입력 해 주세요', maxlength:'주민등록번호를 입력 해 주세요', number:'숫자만 입력 가능합니다' },
		        },                  
	                                        
	            // Do not change code below
	            errorPlacement: function(error, element)
	            {
	                error.insertAfter(element.parent());
	            }
	        });
        }

    };

}();

BankAccountForm.init('#fjoin');     

});

//]]>
</script>