<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/ladda-buttons/css/custom-lada-btn.css">

<div class="container content">     
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <form id="fkait" class="sky-form" name="fkait" method="post" novalidate="novalidate" action="<?=RT_PATH?>/member/kait/update">     
            <? if ( IS_MANAGER ) : ?>
            	<input type="hidden" name="LINK_PATH" value="<?=$LINK_PATH?>" />
        	<? endif ?>
        		<input type="hidden" name="USERID" value="<?=$USERID?>" />

            	<header><i class="rounded-x fa fa-check margin-right-5"></i> 사전 승낙 번호 입력</header>

                <fieldset>

	                <section>
	                    <div class="row">
		                    <label class="label col col-2">회원명</label>
	                        <div class="col col-5"><?=$USERNAME?></div>
	                    </div>
	                </section>                   

	                <section>
	                    <div class="row">
	                        <label class="label col col-2">링크</label>
	                        <div class="col col-9">
	                        <? if ( IS_MANAGER ) : ?>
	                        	<span class="color-red"><a href="javascript:void(0)" onclick="window.open('<?=$LINK_PATH?>', '_blank', 'width=1200,height=1600,scrollbars=yes,status=yes,resizable=yes,screenx=0,screeny=0');"><?=$LINK_PATH?></a></span>
	                    	<? else : ?>
	                            <label class="input">
	                            	<input type="text" id="LINK_PATH" name="LINK_PATH" value="<?=$LINK_PATH?>"/>                                                     
	                            </label>
	                        <? endif ?>
	                        </div>							
	                    </div>
	                </section>	       

	                <section>
	                    <div class="row">
		                    <label class="label col col-2">사전승낙번호</label>
	                        <div class="col col-5">
	                            <label class="input">	                            
                                    <input type="text" id="KAIT_NO" name="KAIT_NO" maxlength="20" value="<?=$KAIT_NO?>"/>	                                            
	                            </label>
	                        </div>
	                    </div>
	                </section>         

	                <section>
	                    <div class="row">
		                    <label class="label col col-2"></label>
	                        <div class="col col-5">
	                        	<label class="checkbox"><input type="checkbox" name="SKT_REG_CHECK" <?=($SKT_REG_CHECK == 'O') ? "checked=''" : "" ?>><i></i>SKT</label>	                            
	                        	<label class="checkbox"><input type="checkbox" name="KT_REG_CHECK" <?=($KT_REG_CHECK == 'O') ? "checked=''" : "" ?>><i></i>KT</label>	                            
	                        	<label class="checkbox"><input type="checkbox" name="LGU_REG_CHECK" <?=($LGU_REG_CHECK == 'O') ? "checked=''" : "" ?>><i></i>LGU+</label>	                            
	                        </div>
	                    </div>
	                </section>   

	            <? if ( IS_MANAGER && ( $ON_UPDATE == 'O' || $ON_REJECT == 'O' ) ) : ?>
					<section>
	                    <div class="row">
		                    <label class="label col col-2">반려 사유</label>
	                        <div class="col col-9">
	                            <label class="input">	                            
                                    <input type="text" id="REJECT_MSG" name="REJECT_MSG" value="<?=$REJECT_MSG?>"/>	                                            
	                            </label>
	                        </div>
	                    </div>
	                </section>
	            <? elseif ( isset($ON_REJECT) && $ON_REJECT == 'O' ) : ?>
	            	<section>
	                    <div class="row">
		                    <label class="label col col-2">반려 사유</label>
	                        <div class="col col-9"><span><?=$REJECT_MSG?></span></div>
	                    </div>
	                </section>
	            <? endif ?>

                </fieldset>
                
                <footer class="text-center">
                <? if ( isset($ON_REJECT) && $ON_REJECT == 'O' ) : ?>
                    <button type="button" class="btn-u btn-u-lg" id="btnSubmit">수정</button>
                <? else : ?>
                	<button type="button" class="btn-u btn-u-lg" id="btnSubmit">등록</button>
                <? endif ?>

                <? if ( IS_MANAGER ) : ?>
                	<button type="button" class="btn-u btn-u-lg btn-u-blue" id="btnAllow">승인</button>
                	<? if ( $ON_UPDATE == 'O' ) : ?>
                		<button type="button" class="btn-u btn-u-lg btn-u-purple" id="btnReject">반려</button>
                	<? endif ?>                	
				<? endif ?>                	
                </footer>               
            </form>
        </div>
    </div>
</div>
<!--[if lt IE 9]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

<script type='text/javascript'>

	$('#btnSubmit').click(function()
	{	
		check_validation() ;
		$('#fkait').submit() ;
	}) ;

<? if ( IS_MANAGER && ( $ON_UPDATE == 'O' || $ON_REJECT == 'O' ) ) : ?>
	$('#btnAllow').click(function()
	{
		check_validation() ;

		if ( confirm("수정 후에는 반드시 저장 버튼을 누른 후 승인을 진행하셔야 합니다.\n\n승인 하시겠습니까?\n") )
		{
			location.href = '/member/kait/allow?userid=<?=$USERID?>' ;			
		}
	}) ;

	$('#btnReject').click(function()
	{
		if ( $('#REJECT_MSG').val() == '' )
		{
			alert('반려 사유를 입력하세요.') ;
			return ;
		}

		if ( confirm("반려하시겠습니까?") )
		{
			location.href = '/member/kait/reject?userid=<?=$USERID?>&reject_msg='+$('#REJECT_MSG').val() ;			
		}
	}) ;
<? endif ?>

	function check_validation()
	{
	<? if ( !IS_MANAGER ) : ?>
		if ( $('#LINK_PATH').val() == '' || $('#LINK_PATH').val().length <= 10 )
		{
			alert('링크를 확인하세요.') ;
			return ;
		}
	<? endif ?>

		if ( $('#KAIT_NO').val() == '' || $('#KAIT_NO').val().length <= 10 )
		{
			alert('사전승낙번호를 확인하세요') ;
			return ;
		}
	}
</script>