<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
<link rel="stylesheet" href="<?=CSS_DIR?>/pages/profile.css">
<link rel="stylesheet" href="<?=CSS_DIR?>/pages/shortcode_timeline2.css">
<link rel='stylesheet' href="<?=CSS_DIR?>/hb_treeview.css">

<div class="container content">    
    <section>
        <div class="headline">
            <div class="row">
                <div class="col-md-2">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                        요청 건수 : <?=$total_count?> 건
                    </h5>
                </div>                
            </div>       
        </div>
    </section>

    <form name="fboardlist" method="post" action="" class="sky-form">

    <!-- Tab v2 -->                
    <div class="tab-v2">
        <ul class="nav nav-tabs">
            <? foreach ($tab_list as $key => $value) : ?>
                <li class="<?=($key == $tab)?'active' : ''?>"><a href="/member/kait/lists/tab/<?=$key?>"><?=$value?></a></li>
            <? endforeach ?>
        </ul>                 
        <div class="tab-content">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th class="text-center">NO </th>  
                        <th class="text-center">회원명</th>    
                        <th class="text-center">회원ID</th>                
                        <th class="text-center">사전승낙번호</th>                
                        <th class="text-center">SKT</th>
                        <th class="text-center">KT</th>
                        <th class="text-center">LGU+</th>
                        <th class="text-center">사전승낙서</th>                
                    </tr>
                </thead>        
                <tbody>       
                <? foreach ($list as $o): ?>        
                    <tr>        
                        <td><?=$o['num']?></td>
                        <td>                
                            <span class="color-red"><a href="<?=$o['href']?>"><?=$o['USERNAME']?></a></span>                
                        </td>
                        <td><?=$o['USERID']?></td>                
                        <td><?=$o['KAIT_NO']?></td>
                        <td><?=$o['SKT_REG_CHECK']?></td>
                        <td><?=$o['KT_REG_CHECK']?></td>
                        <td><?=$o['LGU_REG_CHECK']?></td>
                        <td>            
                            <a href="javascript:void(0)" onclick="window.open('<?=$o['LINK_PATH']?>', '_blank', 'width=1200,height=1600,scrollbars=yes,status=yes,resizable=yes,screenx=0,screeny=0');"><span class="fa fa-file"></span></a>
                        </td>                
                    </tr>
                <? endforeach; ?>
                </tbody>
            </table>

            <? if (!$list): ?><p class="lead text-center text-muted">회원이 없습니다.</p><? endif; ?>

            <hr>

            <div class="pull-right">
                <?=$paging?>
            </div>
        </div>
    </div>

    </form>
</div>