<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">     
    <div class="row">
    	<div class="col-md-7 col-md-offset-3">

			<form id="lost_idpwd" class="sky-form" class="form-horizontal" name="lost_idpwd" method="post" action="<?=RT_PATH?>/member/lost_idpwd/result">
			<input type="hidden" name="w" value="idpwd" />

			<fieldset>
				<section>
                    <div class="row">
                        <label class="label col col-3">아이디</label>
                        <div class="col col-6 state-disabled">
                            <label class="input" id="label_mb_id">
                                <input type="text" id="mb_id" name="mb_id" maxlength="20" value="" class="id" disabled="true" />
                            </label>
                        </div>
	            	</div>
	           	</section>

	           	<section>
                    <div class="row">
                        <div class="col col-3"></div>
                        <div class="col col-6">
                            <label class="checkbox">
                            	<input type="checkbox" id="not_mb_id" name="not_mb_id" checked="true">
                            	<i></i> 아이디 분실시 체크
                            </label>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="row">
                        <label class="label col col-3">이름</label>
                        <div class="col col-6">
                            <label class="input">
                                <input type="text" id="mb_name" name="mb_name" maxlength="10" value="" />
                            </label>
                        </div>
	            	</div>
	           	</section>

	           	<section>
                    <div class="row">
                        <label class="label col col-3">이메일</label>
                        <div class="col col-6">
                            <label class="input">
                                <input type="email" id="mb_email" name="mb_email" maxlength="50" value="" />
                            </label>
                        </div>
	            	</div>
	           	</section>

			</fieldset>

			<footer class="text-center">
                <button type="submit" class="btn-u">다음</button>
            </footer>

			</form>
		</div>
	</div>
</div>

<!--[if lt IE 9]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script type='text/javascript' src='<?=JS_DIR?>/custom_validation/member.js'></script>
<script type='text/javascript'>
//<![CDATA[
$(".id").mask('a-999-99999', {placeholder:' '});

$('#not_mb_id').change(function() 
{
	var mb_id = $('#mb_id');
	
	mb_id.prop('disabled', this.checked);

	$('#label_mb_id').removeClass('state-disabled') ;

	if (this.checked)
	{
		mb_id.val('');

		$("em[for='mb_id']").css('display', 'none') ;
		$('#label_mb_id').removeClass('state-error') ;
		$('#label_mb_id').removeClass('state-success') ;
		$('#label_mb_id').addClass('state-disabled') ;
	}
});

jQuery(document).ready(function() {
    MemberForm.init('#lost_idpwd');     
});
//]]>
</script>