<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">     
    <div class="row">
    	<div class="col-md-7 col-md-offset-3">

			<form id="lost_idpwd" class="sky-form" class="form-horizontal" name="lost_idpwd" method="post" action="<?=RT_PATH?>/member/lost_id/result">			
            <input type="hidden" name="w" value="lost_id" />

			<fieldset>
	
                <section>
                    <div class="row">
                        <label class="label col col-3">이름</label>
                        <div class="col col-6">
                            <label class="input">
                                <input type="text" id="username" name="username" maxlength="20" value="" />
                            </label>
                        </div>
	            	</div>
	           	</section>

	           	<section>
                    <div class="row">
                        <label class="label col col-3">생년월일</label>
                        <div class="col col-6">
                            <label class="input">
                                <input type="text" id="jumin_no" name="jumin_no" maxlength="6" value="" placeholder="생년월일 6자리를 입력해주세요"/>
                            </label>
                        </div>
                        <div class="col col-3">(예시: 850101)</div>
	            	</div>
	           	</section>

			</fieldset>

			<footer class="text-center">
                <button type="submit" class="btn-u">다음</button>
            </footer>

			</form>
		</div>
	</div>
</div>

<!--[if lt IE 9]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script type='text/javascript' src='<?=JS_DIR?>/custom_validation/member.js'></script>
<script type='text/javascript'>

jQuery(document).ready(function() 
{
    MemberForm.init('#lost_idpwd');     
});
//]]>
</script>