<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
<link rel="stylesheet" href="<?=CSS_DIR?>/pages/profile.css">
<link rel="stylesheet" href="<?=CSS_DIR?>/pages/shortcode_timeline2.css">
<link rel='stylesheet' href="<?=CSS_DIR?>/hb_treeview.css">

<div class="container content">    
    <section>
        <div class="headline">
            <div class="row">
                <div class="col-md-2">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                        전체회원명수 : <?=$total_count?> 명
                    </h5>
                </div>
                <div class="col-md-10">
                    <form name="fsearch" id="sky-form" class="sky-form" method="get" action="" onsubmit="return doSearch(this);">
                    <input type="hidden" name="sfl" id="sfl" value="USERID"/>
                    <input type="hidden" name="sca" id="sca" value="회원ID"/>
                    <!--<input type="hidden" name="sdt" id="sdt" value="REG_DATE"/>
                    <input type="hidden" name="sdt_s" id="sdt_s" value="가입일자"/>-->
                        <div class="row">    
                            <div class="col-md-7 color-red text-right">
                                * 회원명 검색은 빠른 검색을 위해 마지막 글자를 제외하고 검색해 주세요!!! ('홍길동'의 경우 '홍길'로 검색)
                            </div>                            
                            <div class="col-md-4">                                
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="select_sca" class="btn btn-default dropdown-toggle" data-toggle="dropdown">회원ID <span class="caret"></span></button>
                                        <ul class="dropdown-menu">                                                                        
                                            <li><a href="javascript:set_sfl('USERID', '회원ID')">회원ID</a></li>
                                            <li><a href="javascript:set_sfl('USERNAME', '회원명')">회원명</a></li>
                                            <li><a href="javascript:set_sfl('CENTER_NAME', '센터')">센터</a></li>
                                        </ul>
                                    </div><!-- /btn-group -->
                                    <input type="text" class="form-control" name="stx" id="stx">
                                    <span class="input-group-btn">
                                        <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                            </div>
                            <div class="col-md-1">                                                                
                                <a href="/member/lists/excel/type/<?=$type?><?=$qstr?>" class="btn-u btn-u-green rounded"><i class="fa fa-file-excel-o"></i></a>
                            </div>                                                     
                        </div>
                    </form>
                </div>
            </div>   

    <!--    <? if (IS_MANAGER) : ?>
            <div class="row pull-right margin-bottom-10" style="padding-top:10px; padding-right: 30px;">                                            
                <? for ( $i = 1 ; $i <= $excel_count ; $i++ ) : ?>
                    <a href="/member/lists/lg/type/<?=$type?>/excel_num/<?=$i?><?=$qstr?>" class="btn-u btn-u-purple rounded"><i class="fa fa-file-excel-o"></i> LG (<?=($i-1)*$excel_limit?>~<?=$i*$excel_limit?>)</a>          
                <? endfor ?>                        
            </div>         
        <? endif ?> -->
        </div>
    </section>

    <form name="fboardlist" method="post" action="" class="sky-form">

    <table class="table text-center">
        <thead>
            <tr>
                <th class="text-center"><a href="<?=$sort_no?>">NO </a><i></i></th>  
                <th class="text-center">회원명</th>    
                <th class="text-center"><a href="<?=$sort_user_id?>">회원ID </a><i></i></th>
                <th class="text-center">연락처</th>
                <th class="text-center">비상연락처</th>
                <th class="text-center">주소</th>
                <th class="text-center"><a href="<?=$sort_rank?>">직급 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_reg_date?>">가입일자 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_center?>">센터 </a><i></i></th>
            <!--    <th class="text-center"><a href="<?=$sort_mb_cv?>">CV </a><i></i></th> -->
                <th class="text-center"><a href="<?=$sort_mb_pv?>">RB </a><i></i></th>
            <!--    <th class="text-center">접수처</th> -->
                <th class="text-center">회원등록증</th>
                <th class="text-center">회원가입서</th>
            </tr>
        </thead>        
        <tbody>       
        <? foreach ($list as $o): ?>
        <? if ( $o['ISCLASS'] == 'X' && $o['USERID'] != 'D0000000' ) : ?>
            <tr style="text-decoration: line-through;">            
        <? else : ?>
            <tr>
        <? endif ?>
                <td><?=$o['num']?></td>
                <td>                
                    <a href="<?=$o['href']?>"><?=$o['USERNAME']?></a>                
                </td>
                <td><?=$o['USERID']?></td>
                <td><?=$o['TEL']?></td>
                <td><?=$o['MOBILE']?></td>
                <td><?=$o['ADDR1']?></td>
                <td>
                <? if (IS_MANAGER) : ?>
                    <a href="#" id='view_member' name='<?=$o['USERID']?>'><?=$o['RANK_NAME']?></a>
                <? else : ?>
                    <?=$o['RANK_NAME']?>
                <? endif ; ?>
                </td>
                <td><?=$o['REG_DATE']?></td>
                <td><?=$o['CENTER_NAME']?></td>
            <!--    <td><?=$o['CV']?></td> -->
                <td><?=$o['PV']?></td>
            <!--    <td>
                <? //if ( $o['IS_RECEPTION'] == 'O' ) : ?>
                    <span class="glyphicon glyphicon-ok"></span>
                <? //endif ?>
                </td> -->
                <td>
                <? if (IS_MANAGER) : ?>
                    <a href="javascript:void(0)" onclick="window.open('/member/lists/registration/<?=$o['USERID']?>', '_blank', 'width=1200,height=1600,scrollbars=yes,status=yes,resizable=yes,screenx=0,screeny=0');"><span class="fa fa-print"></span></a>
                    <a href="javascript:void(0)" onclick="window.open('/member/lists/registration/<?=$o['USERID']?>/type/1', '_blank', 'width=1200,height=1600,scrollbars=yes,status=yes,resizable=yes,screenx=0,screeny=0');"><span class="fa fa-print color-grey"></span></a>
                <? endif ; ?>
                </td>
                <td>
                <? $filepath = "/data/hbplanner/join/".$o['USERID'].".png" ; ?>
                <? if(file_exists(".".$filepath)) : ?>
                    <a href="<?=$filepath?>" target="_blank"><span class="fa fa-print color-yellow"></span></a>                
                <? endif ; ?>    
                </td>
            </tr>
        <? endforeach; ?>
        </tbody>
    </table>

    <? if (!$list): ?><p class="lead text-center text-muted">회원이 없습니다.</p><? endif; ?>

    <hr>

    <div class="pull-right">
        <?=$paging?>
    </div>

    </form>

    <!-- Bootstrap Modals -->
    <button class="btn-u" data-toggle="modal" data-target="#responsive" id="modal_btn" style="display:none">Modal</button>
    <div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:700px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4"><span id="USERNAME"></span> ( <span id="USERID"></span> )</h4>
                </div>
                <div class="modal-body profile">
                    <div class="row">
                        <div class="col-md-7">
                            <h4>회원정보</h4>
                            <div id="profile" class="profile-edit tab-pane fade in active">
                                <dl class="dl-horizontal">
                                    <dt><strong>가입일자 </strong></dt>
                                    <dd id="REG_DATE"></dd>
                                    <hr>
                                    <dt><strong>생년월일</strong></dt>
                                    <dd id="JUMIN_NO"></dd>
                                    <hr>
                                    <dt><strong>소속센터 </strong></dt>
                                    <dd id="CENTER_NAME"></dd>
                                    <hr>
                                    <dt><strong>직급 </strong></dt>
                                    <dd id="RANK_NAME"></dd>
                                    <hr>
                                    <dt><strong>후원인 </strong></dt>
                                    <dd id="mb_supporter"></dd>
                                    <hr>
                                    <dt><strong>추천인 </strong></dt>
                                    <dd id="mb_recommander"></dd>
                                    <hr>                                
                                    <dt><strong>RB</strong></dt>
                                    <dd id="mb_pv"></dd>
                                    <hr>                                    
                                    <dt><strong>A라인 하원 RB </strong></dt>
                                    <dd id="a_sub_total_pv"></dd>
                                    <hr>                                    
                                    <dt><strong>B라인 하원 RB </strong></dt>
                                    <dd id="b_sub_total_pv"></dd>
                                    <hr>                                    
                                    <dt><strong>총 하원인수 </strong></dt>
                                    <dd id="mb_count_subtree"></dd>
                                    <hr>
                                    <dt><strong>A라인 하원인수 </strong></dt>
                                    <dd id="a_sub_count"></dd>
                                    <hr>
                                    <dt><strong>B라인 하원인수 </strong></dt>
                                    <dd id="b_sub_count"></dd>
                                </dl>                                
                            </div>                    
                        </div>                    
                        <div class="col-md-5">
                            <h4 class="margin-bottom-30">직급승급일자</h4>
                            <ul class="timeline-v2">
                            <? foreach ($mb_position as $key => $position) : ?>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><p class="<?=$mb_position_color[$key]?> eng reg_date" id="reg_date_<?=$key?>"></p></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs position" id="<?=$key?>"></i>
                                    <div class="cbp_tmlabel">
                                        <h5 class="<?=$mb_position_color[$key]?>"><?=$position?></h5>       
                                    </div>  
                                </li>
                            <? endforeach ?>
                            </ul>
                        </div> 
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bootstrap Modals -->
</div>

<style>
    .container 
    {
      width: 1500px;
    }

    .sky-form a 
    {
        color: #e74c3c;
    }

    .sky-form .toggle i
    {
        top: 0px;
    }
</style>

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type='text/javascript'>
jQuery(document).ready(function() 
{
    $('#start').datepicker
    ({
        dateFormat: 'yymmdd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#finish').datepicker('option', 'minDate', selectedDate);
        }
    });

    $('#finish').datepicker
    ({
        dateFormat: 'yymmdd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 
        dayNames : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort : ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin : ['일', '월', '화', '수', '목', '금', '토'],

        onSelect: function( selectedDate )
        {
            $('#start').datepicker('option', 'maxDate', selectedDate);
        }
    });
});

$('a#view_member').click(function(e) 
{
    e.preventDefault(); 

    var mb_id = $(this).attr('name') ;

    var mb_position ;

    $.ajax({
        dataType : "JSON",
        type : "POST",
        url : "/member/treeview/get_member_info",
        data : 
        {
            "mb_id" : mb_id
        },
        success : function (data) 
        { 
            if ( data != ' NULL' )
            { 
                $.each(data, function(key, val) 
                { 
                    $('#'+key).text(val) ;
                    $('#'+key).val(val) ;

                    if ( key == 'mb_position_color' )
                    {
                        $('#mb_position_str').removeClass() ; 
                        $('#mb_position_str').addClass(val) ;
                    }
                    else if ( key == 'RANK_CD' )
                    {
                        mb_position = val ;
                    }
                    else if ( key == 'rank_date_list' )
                    {
                        $.each(val, function(key2, val2) 
                        {
                            $('#reg_date_'+key2).text(val2) ;
                        });
                    }
                });                 

                $(".position").each(function() 
                {
                    if ( Number($(this).attr('id')) <= Number(mb_position) )    
                    {       
                        $(this).css('background', '#72c02c') ;                  
                    }
                    else
                    {
                        $(this).css('background', 'grey') ;
                    }
                }) ;

                $('#modal_btn').click() ; 
                ClearClickState() ;
            }
        }
    });
});

function set_sdt(sdt, sdt_s)
{
    $('#sdt').val(sdt) ;
    $('#sdt_s').val(sdt_s) ;
    $('#select_date').html(sdt_s+' <span class="caret"></span>') ;
}

if ( '<?=$sdt_s?>' != '' )
{
    $('#sdt_s').val('<?=$sdt_s?>') ;
    $('#select_date').html('<?=$sdt_s?> <span class="caret"></span>') ;
}

if ( '<?=$sdt?>' != '' )
{
    $('#sdt').val('<?=$sdt?>') ;
}

function set_sfl(sfl, sca)
{
    $('#sfl').val(sfl) ;
    $('#sca').val(sca) ;
    $('#select_sca').html(sca+' <span class="caret"></span>') ;
}

$('#stx').val('<?=$stx?>') ;

if ( '<?=$sfl?>' != '' )
{
    $('#sfl').val('<?=$sfl?>') ;
}

if ( '<?=$sca?>' != '' )
{
    $('#sca').val('<?=$sca?>') ;
    $('#select_sca').html('<?=$sca?> <span class="caret"></span>') ;
}

if ( '<?=$sod?>' != 'asc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-desc color-red') ;
}
else if ( '<?=$sod?>' != 'desc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-asc color-red') ;
}

</script>