<link rel="stylesheet" href="<?=CSS_DIR?>/pages/profile.css">
<link rel="stylesheet" href="<?=CSS_DIR?>/pages/shortcode_timeline2.css">
<link rel='stylesheet' href="<?=CSS_DIR?>/hb_treeview.css">

<div class="row">	
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<button class="btn-u zoom-in eng"><i class="fa fa-plus"></i> 확대</button>
		<button class="btn-u zoom-out eng"><i class="fa fa-minus"></i> 축소</button>
		<button class="btn-u reset eng">1 : 1</button>	    
		<input type="range" class="zoom-range">		
   	</div>
    <div class="col-md-4"></div>
</div>
<div class="row">
	<div class="col-md-2" style="display:none;">
	<? foreach ($mb_position as $key => $position) : ?>
		<div class="row">
			<div class="col-md-6">
				<span class="eng color-dark" width="20px"><?=$position?></span>
			</div>
			<div class="col-md-6"><span><i class="fa fa-user <?=$mb_position_color[$key]?>"></i></span>
			</div>
		</div>
	<? endforeach ?>
	</div>
	<div class="col-md-12 panzoom" id='chart_div'></div> 	

	<!-- Bootstrap Modals -->
    <button class="btn-u" data-toggle="modal" data-target="#responsive" id="modal_btn" style="display:none">Modal</button>
    <div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4"><span id="USERNAME"></span> ( <span id="USERID"></span> )</h4>
                </div>
                <div class="modal-body profile">
                    <div class="row">
                		<div class="col-xs-6"><strong>가입일자</strong></div>	
                		<div class="col-xs-6" id="REG_DATE"></div>	
                	</div>                  	
                    <hr class="hr-m">
                    <!--<div class="row">
                		<div class="col-xs-6"><strong>생년월일</strong></div>
                		<div class="col-xs-6" id="JUMIN_NO"></div>	
                	</div>                      
                    <hr class="hr-m">-->
                    <div class="row">
                		<div class="col-xs-6"><strong>소속센터</strong></div>	
                		<div class="col-xs-6" id="CENTER_NAME"></div>	
                	</div>                                          
                    <hr class="hr-m">
                    <div class="row">
                		<div class="col-xs-6"><strong>직급</strong></div>	
                		<div class="col-xs-6" id="RANK_NAME"></div>	
                	</div>                                                              
                    <hr class="hr-m">
                    <div class="row">
                		<div class="col-xs-6"><strong>후원인</strong></div>	
                		<div class="col-xs-6" id="mb_supporter"></div>	
                	</div>                                                                                  
                    <hr class="hr-m">
                    <div class="row">
                		<div class="col-xs-6"><strong>추천인</strong></div>	
                		<div class="col-xs-6" id="mb_recommander"></div>	
                	</div>                    
                    <hr class="hr-m">
					<div class="row">
                		<div class="col-xs-6"><strong>RB</strong></div>	
                		<div class="col-xs-6" id="mb_pv"></div>	
                	</div>                                        
                    <hr class="hr-m">                      
					<div class="row">
                		<div class="col-xs-6"><strong>A라인 하원 RB</strong></div>	
                		<div class="col-xs-6" id="a_sub_total_pv"></div>	
                	</div>                                                                          
                    <hr class="hr-m">                                    
					<div class="row">
                		<div class="col-xs-6"><strong>B라인 하원 RB</strong></div>	
                		<div class="col-xs-6" id="b_sub_total_pv"></div>	
                	</div>                                                                                                                  
                    <hr class="hr-m">                                    
                    <div class="row">
                		<div class="col-xs-6"><strong>총 하원인수</strong></div>	
                		<div class="col-xs-6" id="mb_count_subtree"></div>	
                	</div>                                                                                                                                      
                    <hr class="hr-m">
                    <div class="row">
                		<div class="col-xs-6"><strong>A라인 하원인수</strong></div>	
                		<div class="col-xs-6" id="a_sub_count"></div>	
                	</div>                                                                                                                                                          
                    <hr class="hr-m">
                    <div class="row">
                		<div class="col-xs-6"><strong>B라인 하원인수</strong></div>	
                		<div class="col-xs-6" id="b_sub_count"></div>	
                	</div>                                                                                                                                                          
            		<? foreach ($mb_position as $key => $position) : ?>	                                
                	<hr class="hr-m">
                	<div class="row">
                		<div class="col-xs-6 <?=$mb_position_color[$key]?>"><strong><?=$position?> 승급</strong></div>	
                		<div class="col-xs-6 <?=$mb_position_color[$key]?>" id="reg_date_<?=$key?>"></div>	
                	</div>                                    
					<? endforeach ?>
				</div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bootstrap Modals -->
</div>

<style type="text/css">
	html, body
	{
		width: 100%;
		height: 100%;
		overflow:auto;
	}

	.panzoom { border: 1px dashed #666; }
</style>

<script src="<?=PLUGIN_DIR?>/dist/jquery.panzoom.js"></script>
<script type='text/javascript' src='https://www.google.com/jsapi'></script>  
<script type='text/javascript'> 
//<![CDATA[

google.load('visualization', '1', {packages:['orgchart']}) ;  
google.setOnLoadCallback(drawChart);  

jQuery(document).ready(function() 
{
	$("#chart_div").panzoom({
	  	$zoomIn: $(".zoom-in"),
	  	$zoomOut: $(".zoom-out"),
	  	$zoomRange: $(".zoom-range"),
	  	$reset: $(".reset"),
	  	startTransform: 'scale(1)',
        minScale: -2,
		maxScale: 2,
        increment: 0.1
	});	
}) ;

function drawChart() 
{  
	var data = new google.visualization.DataTable();  
	data.addColumn('string', 'Node');  
	data.addColumn('string', 'Parent');  
	data.addColumn('string', 'ToolTip');

	data.addRows([  
	<? foreach( $mb_list as $key => $row )
	{
		$drawNode = "[{v:'".$row['USERID']."', " ;
		$drawNode .= "f:'" ;
		$drawNode .= "<div id=\"".$row['USERID']."\" class=\"service cursor-pointer\" ondblclick=\"btn_OnDbClick()\" onclick=\"btn_OnClick(\'".$row['USERID']."\')\">" ;
		$drawNode .= "<i class=\"fa fa-user treeview-icon ".$mb_position_color[$row['RANK_CD']]."\"></i>" ;
		$drawNode .= "<div class=\"treeview-contents eng\"><strong>".$row['USERNAME']."</strong></div>" ;
		$drawNode .= "<div class=\"treeview-contents eng\">".$row['USERID']."</div>" ;
		$drawNode .= "<div class=\"treeview-contents eng\">".$row['CENTER_NAME']."</div>" ;
		$drawNode .= "<div class=\"treeview-contents eng\">".$row['RANK_NAME']."</div>" ;
		$drawNode .= "<div class=\"treeview-contents eng\">".$row['REG_DATE']."</div>" ;
		$drawNode .= "<div class=\"treeview-contents eng\">CV : ".number_format($row['CV'])."</div>" ;
		$drawNode .= "<div class=\"treeview-contents eng\">PV : ".number_format($row['PV'])."</div></div>" ;
		$drawNode .= "'}, '" ;

		if ( $key > 0 )
		{
			$drawNode .= $row['P_ID'] ;
		}

		$drawNode .= "', '']" ;

		if ( $key < (count($mb_list) - 1) )
		{
			$drawNode .= "," ;
		}
		
		echo $drawNode ;
	}
	?>
 	]);  

 	var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));  
 	chart.draw(data, {allowHtml:true,allowCollapse:true,color:'#fff'});

 	$("#chart_div").width($(".google-visualization-orgchart-table").width()) ; 		 	
 	$("#chart_div").panzoom("setMatrix", [ 1, 0, 0, 1, -($("#<?=$mb_id?>").position().left - $("body").width()/2), 0 ]); 	
} 

// 더블클릭 구분을 위한 변수
var clickState = null ;

function ClearClickState()
{
	clearTimeout(clickState);
	clickState = null;
}

function set_mb_info(mb_id)
{
	var mb_position ;

	$(".reg_date").each(function() 
	{
		$(this).text('') ;
	}) ;

	$.ajax({
		dataType : "JSON",
		type : "POST",
		url : "/member/treeview/get_member_info",
		data : 
		{
			"mb_id" : mb_id
		},
		success : function (data) 
		{
			if ( data != ' NULL' )
			{ 
				$.each(data, function(key, val) 
				{ 
					$('#'+key).text(val) ;
					$('#'+key).val(val) ;

					if ( key == 'mb_position_color' )
					{
						$('#mb_position_str').removeClass() ; 
						$('#mb_position_str').addClass(val) ;
					}
					else if ( key == 'RANK_CD' )
					{
						mb_position = val ;
					}
					else if ( key == 'rank_date_list' )
					{
						$.each(val, function(key2, val2) 
						{
							$('#reg_date_'+key2).text(val2) ;
						});
					}
				});					

				$(".position").each(function() 
				{
					if ( Number($(this).attr('id')) <= Number(mb_position) ) 	
					{		
						$(this).css('background', '#72c02c') ;					
					}
					else
					{
						$(this).css('background', 'grey') ;
					}
				}) ;

				$('#modal_btn').click() ; 
				ClearClickState() ;
			}
		}
	});
}  

function btn_OnClick(mb_id)
{
	// 원클릭 구분
	if(clickState == null)
	{
		clickState = setTimeout(function(){ set_mb_info(mb_id) ; }, 200);
	}
	else
	{
		ClearClickState();
	}
}

function btn_OnDbClick()
{
	ClearClickState() ;
}

function sel_position(s_pos, pos)
{
    $('#s_pos').val(s_pos) ;
    $('#pos').val(pos) ;

    $('#fsearch').attr('onsubmit', 'return true;') ;
    $('#fsearch').submit() ;
}

function sel_path_length(s_path, path)
{
    $('#s_path').val(s_path) ;
    $('#path').val(path) ;

	$('#fsearch').attr('onsubmit', 'return true;') ;
    $('#fsearch').submit() ;	
}

if ( '<?=$s_pos?>' != '' )
{
    $('#s_pos').val('<?=$s_pos?>') ;
    $('#sel_position').html('<?=$s_pos?> <span class="caret"></span>') ;
}

if ( '<?=$s_path?>' != '' )
{
    $('#s_path').val('<?=$s_path?>') ;
    $('#sel_path_length').html('<?=$s_path?> <span class="caret"></span>') ;
}

$('#show_upper').click(function()
{
	$('#_mb_id').val('<?=$mb_list[0]['P_ID']?>') ;

	$('#fsearch').attr('onsubmit', 'return true;') ;
	$('#fsearch').submit() ;
}) ;

$('#bsearch').click(function()
{
	var mb_name = $('#name').val() ;

	if ( mb_name == '' )
	{
		return ;
	}

	$.ajax({
		dataType : "JSON",
		type : "POST",
		url : "/member/treeview/get_name_list",
		data : 
		{
			"mb_name" : mb_name
		},
		success : function (data) 
		{ 
			if ( data != 'NULL' )
			{
				if ( data.length == 1 )
				{
					$('#_mb_id').val(data) ;
					$('#fsearch').attr('onsubmit', 'return true;') ;
					$('#fsearch').submit() ;
				}
				else
				{					
					var name_list = '' ;

					$.each(data, function(key, val) 
					{ 
						name_list += "<li><a href='#' id='select_name' name='" + val + "'>" + mb_name + '(' + val + ')</a></li>' ;
					});

					$('#name_list').html(name_list) ;
					$('#sm_modal_btn').click() ; 
				}
			}
		}
	});
}) ;

$(".enter_key_search").bind("keydown", function(e) 
{
    if (e.keyCode == 13) 
    {     
    	$('#fsearch').attr('onsubmit', 'return false;') ;
        $('#bsearch').click() ;            
    }
});

$("a#select_name").live('click', function(e)
{
	e.preventDefault(); 

	mb_id = $(this).attr('name') ;
	$('#_mb_id').val(mb_id) ;

	$('.close').click() ;
	$('#fsearch').attr('onsubmit', 'return true;') ;
	$('#fsearch').submit() ;
});
//]]>
</script>  