<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">  
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <?=validation_errors('<pre><p class="color-red"> ','</p>  </pre>')?>

			<form id="fmodify" class="sky-form" name="fmodify" method="post" action="<?=RT_PATH?>/member/modify/update" enctype="multipart/form-data">
			<input type="hidden" name="w"		value="u" />
			<input type="hidden" name="mb_id"   value="<?=$USERID?>" />
			<input type="hidden" name="mb_name" value="<?=$USERNAME?>" />
			<input type="hidden" name="old_email" value="<?=$EMAIL?>" />
			<input type="hidden" name="token"   value="<?=$token?>" />

			<header><i class="rounded-x fa fa-check margin-right-5"></i> 회원 정보 수정</header>

			<fieldset>
				
				<section>
                    <div class="row">
                        <label class="label col col-2">아이디</label>
                        <div class="label col col-3">
                        	<span class="text-primary"><strong><?=$USERID?></strong></span>
                        </div>
                    </div>
                </section>

				<section>
                    <div class="row">
                        <label class="label col col-2">회원명</label>
                        <div class="label col col-3"><?=$USERNAME?></div>

						<div class="col col-1"></div>

	                    <label class="label col col-2">생년월일</label>
                        <div class="label col col-3"><?=$mb_birth?></div>
                    </div>
                </section>

                <section>
                    <div class="row">
                        <label class="label col col-2">비밀번호</label>
                        <div class="col col-5">
                            <label class="input">
                                <input type="text" id="password" name="password" maxlength="20" placeholder="" value=""/>
                                <div class="note">비밀번호 변경을 원할 경우, 비밀번호를 숫자 3 ~ 20자로 입력하세요</div>
                            </label>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="row">
                        <label class="label col col-2">전화번호</label>
                        <div class="col col-7">
                            <section class="col col-3" style="margin-bottom:0px;">
                                <label class="input">
                                    <input id="mb_tel_1" name="mb_tel_1" maxlength="3" value="<?=$mb_tel_1?>" />
                                </label>
                            </section>
                            
                            <section class="text-center col col-1" style="margin-top:10px;">-</section>

                            <section class="col col-3" style="margin-bottom:0px;">
                                <label class="input">
                                    <input id="mb_tel_2" name="mb_tel_2" maxlength="4" value="<?=$mb_tel_2?>" />
                                </label>
                            </section>

                            <section class="text-center col col-1" style="margin-top:10px;">-</section>
                            
                            <section class="col col-3" style="margin-bottom:0px;">
                                <label class="input">
                                    <input id="mb_tel_3" name="mb_tel_3" maxlength="4" value="<?=$mb_tel_3?>" />
                                </label>
                            </section>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="row">
                        <label class="label col col-2">휴대폰번호</label>
                        <div class="col col-7">
                            <section class="col col-3" style="margin-bottom:0px;">
                                <label class="input">
                                    <input id="mb_hp_1" name="mb_hp_1" maxlength="3" value="<?=$mb_hp_1?>" />
                                </label>
                            </section>
                            
                            <section class="text-center col col-1" style="margin-top:10px;">-</section>

                            <section class="col col-3" style="margin-bottom:0px;">
                                <label class="input">
                                    <input id="mb_hp_2" name="mb_hp_2" maxlength="4" value="<?=$mb_hp_2?>" />
                                </label>
                            </section>

                            <section class="text-center col col-1" style="margin-top:10px;">-</section>
                            
                            <section class="col col-3" style="margin-bottom:0px;">
                                <label class="input">
                                    <input id="mb_hp_3" name="mb_hp_3" maxlength="4" value="<?=$mb_hp_3?>" />
                                </label>
                            </section>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="row">
                        <label class="label col col-2">이메일주소</label>
                        <div class="col col-4">
                            <label class="input">
                                <input type="email" name="mb_email" placeholder="" class="invalid" value="<?=$EMAIL?>">
                            </label>	       
                        </div>
                    </div>
                </section>                

                <section>
                    <div class="row">
                        <label class="label col col-2">주소</label>
                        <div class="col col-8">
                            <section class="col col-3">
                                <input type="text" name="mb_zonecode" id="mb_zonecode" class="form-control span2" maxlength="7" readonly="readonly" value="<?=$ZIPCODE?>" />
                            </section>
                            <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
                            <span class="help-block"><input type="text" name="mb_addr1" id="mb_addr1" class="form-control" maxlength="100" readonly="readonly" value="<?=$ADDR1?>" /></span>
                            <span class="help-block"><input type="text" id="mb_addr2" name="mb_addr2" class="form-control" maxlength="100" value="<?=$ADDR2?>" /></span>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="row">
                        <label class="label col col-2">은행명</label>
                        <div class="label col col-3"><?=$BANK_NAME?></div>

                        <div class="col col-1"></div>

                        <label class="label col col-2">예금주</label>
                        <div class="label col col-3"><?=$DEPOSITOR?></div>
                    </div>
                </section>

                <section>
                    <div class="row">
                        <label class="label col col-2">계좌번호</label>
                        <div class="label col col-4"><?=$ACCOUNT?></div>
                    </div>
                </section>

            </fieldset>

            <footer class="text-center">
                <button type="submit" class="btn-u btn-u-lg">수정</button>
            </footer>

			</form>
		</div>
	</div>
</div>

<style>
.sky-form .col 
{
	padding-left: 0px ;
}
</style>

<!--[if lt IE 9]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>

<script type='text/javascript' src='<?=JS_DIR?>/kcaptcha.js'></script>

<? if ( IS_MANAGER ) : ?>
<script type='text/javascript' src='<?=JS_DIR?>/custom_validation/member_non_masking.js'></script>
<? else : ?>
<script type='text/javascript' src='<?=JS_DIR?>/custom_validation/member.js'></script>
<? endif ?>

<? if( IS_TEST_SERVER ) : ?>
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<? else : ?>
    <script src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>
<? endif; ?>

<script>
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 도로명 조합형 주소 변수

                // 법정동명이 있을 경우 추가한다.
                if(data.bname !== ''){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있을 경우 추가한다.
                if(data.buildingName !== ''){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }
                // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
                if(fullRoadAddr !== ''){
                    fullRoadAddr += extraRoadAddr;
                }

                if ( fullRoadAddr == '' )
                {
                    fullRoadAddr = data.jibunAddress ;
                }
                
                //alert(data.zonecode) ; // 8월 1일부터 사용될 신 우편번호 

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById("mb_zonecode").value = data.zonecode;
                document.getElementById("mb_addr1").value = fullRoadAddr;                
            }
        }).open();
    }
</script>