<div class="container"> 
	<? if ( $type != 1 ) : ?>
	<div>					
		<span class="action-buttons">
			<a class="btn-u btn-u-danger rounded" href="#" id='print_calendar'>
				<i class="fa fa-print"></i>
				&nbsp;인쇄 하기
			</a>
		</span>	 
	</div>	
	<? endif ; ?>	

	<div id="background">
		<img src="/data/img/registration.jpg" width="100%">
		<table id='detail'>
			<tr><td><?=$USERID?></td></tr>
			<tr><td><?=$USERNAME?></td></tr>
			<tr><td><?=$JUMIN_NO?></td></tr>
			<tr><td><?=$ADDR1?></td></tr>
			<tr><td><?=$ADDR2?></td></tr>
			<tr><td><?=$REG_DATE?></td></tr>
		</table>
	</div>
</div>

<style type="text/css">
	body 
	{
	    margin: 0px ;
	    width: 100% ;
	}

	div#background
	{
		position: relative ;
		width: 1100px ;
		height: 1540px ;
	}

	#detail
	{ 
		position: absolute ;
		left: 200px ; 
		top: 686px ;
		font-size: 11pt ; 
	}

	td 
	{
		padding-top: .1em ;
	    padding-bottom: .1em ;
	}
</style>

<script type="text/javascript">
	$(document).ready(function() 
	{			
		<? if ( $type == 1 ) : ?>
			window.onload=function()
			{
				window.print();
			}
		<? endif ?>

		$('#print_calendar').click(function(e)
		{
			$(this).hide() ;
        	window.print();
			$(this).show() ;
		}) ;
	});
</script>	