<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <div class="main-counters margin-bottom-40">
        <div class="headline row">
            <div class="col-xs-3 text-left"></h2>
                <ul class="list-inline clear-both">
                    <li class="sort-list-btn">
                        <h4>정산 마감 일자 : </h4>
                        <div class="btn-group">
                            <button type="button" id="sel_position" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <?=$pay_date?> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">                                
                                <? foreach ($pay_date_list as $key => $value) : ?>
                                <li><a href="/member/rank/grp/tab/<?=$tab?>/pay_date/<?=$value['PAY_DATE']?>"><?=$value['PAY_DATE']?></a></li>
                                <? endforeach ?>
                            </ul>
                        </div>
                    </li>                    
                </ul>
            </div>
            <div class="col-xs-1">
                <a href="/member/rank/excel/type/grp/pay_date/<?=$pay_date?><?=$qstr?>" class="btn-u btn-u-green"><i class="fa fa-file-excel-o"></i></a>
            </div>            
            <div class="col-xs-8"></div>      
        </div>
    </div>

    <div class="row pie-progress-charts margin-bottom-60">
        <? $idx = 0 ; ?>
        <? foreach ($rank_list as $key => $value) : ?>
            <div class="inner-pchart col-md-2">
                <div class="circle" id="circles-<?=$idx?>"></div>
                <h3 class="circle-title"><?=$value?> 총점수</h3>            
                <p>실제 정산 점수 : <?=$pay_calc_info_list[$key]?></p>        
            </div>      
        <? $idx++ ; ?>          
        <? endforeach ?>     
    </div>   

    <div class="main-counters margin-bottom-40">        
        <!-- Tab v2 -->                
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <? foreach ($rank_list as $key => $value) : ?>
                    <li class="<?=($key == $tab)?'active' : ''?>"><a href="/member/rank/grp/tab/<?=$key?>/pay_date/<?=$pay_date?><?=$qstr?>"><?=$value?> 
                    <? if ( $rank_count_list[$key] > 0 ) : ?>
                    <span class="badge badge-dark-blue rounded-2x"><?=$rank_count_list[$key]?></span>
                    <? endif ?>
                    </a></li>
                <? endforeach ?>
            </ul>                
            <div class="tab-content">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th class="text-center">NO </th>                              
                            <th class="text-center">회원ID</th>
                            <th class="text-center">회원명</th>   
                            <th class="text-center">가입일자</th>                                
                            <th class="text-center">마감직급</th>
                            <th class="text-center">현재직급</th>                                                
                            <th class="text-center">산하GD</th> 
                            <th class="text-center">산하RB</th>                                                
                            <th class="text-center">산하SP</th>                                                
                            <th class="text-center">산하DD</th>                                                
                            <th class="text-center">산하CW</th>                                                                                               
                            <th class="text-center">A라인</th>
                            <th class="text-center">B라인</th>
                            <th class="text-center">점수</th>                        
                        </tr>
                    </thead>        
                    <tbody>       
                        <? foreach ($list as $o): ?>
                        <tr>
                            <td><?=$o['num']?></td>                            
                            <td><?=$o['USERID']?></td>
                            <td><?=$o['USERNAME']?></td>
                            <td><?=$o['REG_DATE']?></td>
                            <td><?=$o['OLD_RANK_CD']?></td>
                            <td><?=$o['RANK_CD']?></td>                                                
                            <td><?=$o['GD']?></td>                                                
                            <td><?=$o['RB']?></td>                                                
                            <td><?=$o['SP']?></td>                                                
                            <td><?=$o['DD']?></td>                                                
                            <td><?=$o['CW']?></td>                                                
                            <td><?=$o['a_sub_total_pv']?></td>                                                
                            <td><?=$o['b_sub_total_pv']?></td>                                                
                            <td><?=$o['CALC_GRP_CV']?></td>                            
                        </tr>            
                        <? endforeach; ?>
                    </tbody>
                </table>

                <? if (!$list): ?><p class="lead text-center text-muted">내역이 없습니다.</p><? endif; ?>

                <hr>

                <div class="pull-right">
                    <?=$paging?>
                </div> 
            </div>
        </div>
    </div>
</div>       

<style>
    .ui-datepicker-calendar 
    {
        display: none;
    }

    .ui-datepicker 
    {
        border:none ;
        -webkit-box-shadow:none ;
        box-shadow:none ;
    }

    .ui-datepicker-prev, .ui-datepicker-next 
    {
        width: 0px;
    }

    .ui-datepicker-header 
    {
        border-bottom: none;
    }
</style>

<!-- JS Implementing Plugins -->
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script> 

<!-- JS Page Level -->           
<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<script src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/circles-master/circles.js"></script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

<script type="text/javascript">
    jQuery(document).ready(function() 
    {
        App.init();
        App.initCounter();

        { // 기타 값 표시
            var colors = [['#D3B6C6', '#9B6BCC'], ['#C9FF97', '#72c02c'], ['#BEE3F7', '#3498DB'], ['#FFC2BB', '#E74C3C'], 
                            ['#EFD8C4', '#e67e22'], ['#D4C5B5', '#9c8061']];            

            var idx = 0 ;
            <? foreach ($rank_total_grp_list as $key => $value) : ?>
            {
                var child = document.getElementById('circles-' + idx) ;                    
                    
                if ( child )
                {
                    Circles.create({
                        id:         child.id,
                        percentage: '<?=($value / $rank_total_grp_list[0]) * 100?>',
                        radius:     70,
                        width:      2,
                        number:     '<?=$value?>',
                        text:       '',
                        colors:     colors[idx],
                        duration:   2000,
                    });
                }

                idx++ ;
            }              
            <? endforeach ?>     
        }
    }) ;
</script>