<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <div class="main-counters margin-bottom-40">        
        <!-- Tab v2 -->                
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <? foreach ($rank_list as $key => $value) : ?>
                    <li class="<?=($key == $tab)?'active' : ''?>"><a href="/member/rank/all/tab/<?=$key?><?=$qstr?>"><?=$value?> 
                    <? if ( $rank_count_list[$key] > 0 ) : ?>
                    <span class="badge badge-dark-blue rounded-2x"><?=$rank_count_list[$key]?></span>
                    <? endif ?>
                    </a></li>
                <? endforeach ?>
            </ul>                
            <div class="tab-content">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th class="text-center">NO </th>  
                            <th class="text-center">변동일자</th>    
                            <th class="text-center">회원ID</th>
                            <th class="text-center">회원명</th>   
                            <th class="text-center">가입일자</th>    
                            <th class="text-center">이전직급</th>
                            <th class="text-center">현재직급</th>
                            <th class="text-center">승급/강등</th>                        
                            <th class="text-center">점수</th>                        
                        </tr>
                    </thead>        
                    <tbody>       
                        <? foreach ($list as $o): ?>
                        <tr>
                            <td><?=$o['num']?></td>
                            <td><?=$o['EXE_DATE']?></td>
                            <td><?=$o['USERID']?></td>
                            <td><?=$o['USERNAME']?></td>
                            <td><?=$o['REG_DATE']?></td>
                            <td><?=$o['OLD_RANK_CD']?></td>
                            <td><?=$o['RANK_CD']?></td>
                            <td><?=$o['RANK_KIND']?></td>                            
                            <td></td>                            
                        </tr>            
                        <? endforeach; ?>
                    </tbody>
                </table>

                <? if (!$list): ?><p class="lead text-center text-muted">내역이 없습니다.</p><? endif; ?>

                <hr>

                <div class="pull-right">
                    <?=$paging?>
                </div> 
            </div>
        </div>
    </div>
</div>       

<style>
    .ui-datepicker-calendar 
    {
        display: none;
    }

    .ui-datepicker 
    {
        border:none ;
        -webkit-box-shadow:none ;
        box-shadow:none ;
    }

    .ui-datepicker-prev, .ui-datepicker-next 
    {
        width: 0px;
    }

    .ui-datepicker-header 
    {
        border-bottom: none;
    }
</style>

<!-- JS Implementing Plugins -->
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script> 

<!-- JS Page Level -->           
<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->