<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">   
    <div class="main-counters margin-bottom-40">
        <div class="headline row">
            <div class="col-xs-5"><h2><?=$year?>년 <?=$month?>월 직급 현황</h2></div>
            <div class="col-xs-2 date"></div>   
            <div class="col-xs-5 text-right text-bottom">
                <h3>show :</h3>
                <div class="btn-group">
                    <button type="button" id="select_show" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        전체 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/member/rank/tab/<?=$tab?>?show=all">전체</a></li>
                        <li><a href="/member/rank/tab/<?=$tab?>?show=0">변동없음</a></li>
                        <li><a href="/member/rank/tab/<?=$tab?>?show=1">승급</a></li>
                        <li><a href="/member/rank/tab/<?=$tab?>?show=2">강등</a></li>
                    </ul>
                </div>            
            </div>      
        </div>

        <!-- Tab v2 -->                
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <? foreach ($rank_list as $key => $value) : ?>
                    <li class="<?=($key == $tab)?'active' : ''?>"><a href="/member/rank/tab/<?=$key?><?=$qstr?>"><?=$value?> 
                    <? if ( $rank_count_list[$key] > 0 ) : ?>
                    <span class="badge badge-dark-blue rounded-2x"><?=$rank_count_list[$key]?></span>
                    <? endif ?>
                    </a></li>
                <? endforeach ?>
            </ul>                
            <div class="tab-content">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th class="text-center">NO </th>  
                            <th class="text-center">직급변동일자</th>    
                            <th class="text-center">회원ID</th>
                            <th class="text-center">회원명</th>   
                            <th class="text-center">가입일자</th>    
                            <th class="text-center">이전직급</th>
                            <th class="text-center">현재직급</th>
                            <th class="text-center">승급/강등</th>                        
                        </tr>
                    </thead>        
                    <tbody>       
                        <? foreach ($list as $o): ?>
                        <tr>
                            <td><?=$o['num']?></td>
                            <td><?=$o['EXE_DATE']?></td>
                            <td><?=$o['USERID']?></td>
                            <td><?=$o['USERNAME']?></td>
                            <td><?=$o['REG_DATE']?></td>
                            <td><?=$o['OLD_RANK_CD']?></td>
                            <td><?=$o['RANK_CD']?></td>
                            <td><?=$o['RANK_KIND']?></td>                            
                        </tr>            
                        <? endforeach; ?>
                    </tbody>
                </table>

                <? if (!$list): ?><p class="lead text-center text-muted">내역이 없습니다.</p><? endif; ?>

                <hr>

                <div class="pull-right">
                    <?=$paging?>
                </div> 
            </div>
        </div>
    </div>
</div>       

<style>
    .ui-datepicker-calendar 
    {
        display: none;
    }

    .ui-datepicker 
    {
        border:none ;
        -webkit-box-shadow:none ;
        box-shadow:none ;
    }

    .ui-datepicker-prev, .ui-datepicker-next 
    {
        width: 0px;
    }

    .ui-datepicker-header 
    {
        border-bottom: none;
    }
</style>

<!-- JS Implementing Plugins -->
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/waypoints.min.js"></script>
<script type="text/javascript" src="<?=PLUGIN_DIR?>/counter/jquery.counterup.min.js"></script> 

<!-- JS Page Level -->           
<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() 
    {
        App.init();
        App.initCounter();     

        $('.date').datepicker
        ({   
            defaultDate:'<?=$month?>/01/<?=$year?>',           
            changeMonth: true,  
            changeYear: true, 
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            
            monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],          

            onChangeMonthYear: function( year, month, inst )
            {
                if ( month < 10 )
                {
                    month = '0' + month ;
                }

                location.href = '/member/rank?show=<?=$show?>&year='+year+'&month='+month ;
            },
        });
    });

    if ( '<?=$show?>' != '' )
    {
        $('#select_show').html('<?=$show_list[$show]?> <span class="caret"></span>') ;
    }    
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->