<div class="container content">

<div class="headline"><h2>회원조회 결과</h2></div>

<? if (!$list): ?>
	<p class="lead text-center text-muted">해당회원이 존재하지 않습니다.</p>
<? else : ?>
	<p class="lead text-center text-muted">해당회원은 주식회사 라인커넥션 가족입니다.</p>
<? endif; ?>

</div>