<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">     
    <div class="row">  
        <div class="sky-form">
	        <section>
	            <p class="h4 text-center">
				    회원아이디는 <span class="color-blue"><strong><?=$login_id?></strong></span> 입니다.<br />
				</p>
			</section>
            
            <footer class="text-center">
                <p class="text-center"><a href="<?=RT_PATH?>/" class="btn-u">홈으로</a></p>
            </footer>
        </div>
    </div>
</div>