<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">
    <section>
        <div class="headline">
            <div class="row">
                <div class="col-md-2">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp;
                        전체회원명수 : <?=$total_count?> 명
                    </h5>
                </div>
                <div class="col-md-10">
                    <form name="fsearch" id="sky-form" class="sky-form" method="get" action="" onsubmit="return doSearch(this);">
                        <div class="row">
                            <div class="col-md-8 color-red text-right">
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" id="select_sca" class="btn btn-default dropdown-toggle" data-toggle="dropdown">회원ID <span class="caret"></span></button>
                                    </div><!-- /btn-group -->
                                    <input type="text" class="form-control" name="stx" id="stx">
                                    <span class="input-group-btn">
                                        <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!--    <? if (IS_MANAGER) : ?>
                    <div class="row pull-right margin-bottom-10" style="padding-top:10px; padding-right: 30px;">
                        <? for ( $i = 1 ; $i <= $excel_count ; $i++ ) : ?>
                            <a href="/member/lists/lg/type/<?=$type?>/excel_num/<?=$i?><?=$qstr?>" class="btn-u btn-u-purple rounded"><i class="fa fa-file-excel-o"></i> LG (<?=($i-1)*$excel_limit?>~<?=$i*$excel_limit?>)</a>
                        <? endfor ?>
                    </div>
                <? endif ?> -->
        </div>
    </section>

    <div class="main-counters margin-bottom-40">
        <table class="table text-center">
            <thead>
                <tr>
                    <th class="text-center">NO </th>
                    <th class="text-center">회원ID</th>
                    <th class="text-center">회원명</th>
                    <th class="text-center">가입시 안내 라인</th>
                    <th class="text-center">가입일자</th>
                </tr>
            </thead>
            <tbody>
                <? foreach ($list as $o): ?>
                <tr>
                    <td><?=$o['num']?></td>
                    <td><?=$o['USERID']?></td>
                    <td><?=$o['USERNAME']?></td>
                    <td><?=$o['TEMP_LINE']?></td>
                    <td><?=$o['JOIN_TIME']?></td>
                </tr>
                <? endforeach; ?>
            </tbody>
        </table>
        <? if (!$list): ?><p class="lead text-center text-muted">내역이 없습니다.</p><? endif; ?>
    </div>
</div>

<script type='text/javascript'>
$('#stx').val('<?=$stx?>') ;
</script>