<div class="parallax-quote parallax-quote-light parallaxBg" style="background-position: 50% -278px;">
    <div class="container">
        <div class="parallax-quote-in rounded">
            <p>명예의 전당</p>
            <p>If you can design one thing <span class="color-green">you can design</span> everything. <br> Just Believe It.</p>
            <small>- KATHY REYES -</small>
        </div>
    </div>
</div>
<div class="parallax-quote parallaxBg" style="background-position: 50% -278px;">
    <div class="container">
        <div class="parallax-quote-in">
            <p>명예의 전당</p>
            <p>If you can design one thing <span class="color-green">you can design</span> everything. <br> Just Believe It.</p>
            <small>- JOHN WATSON -</small>
        </div>
    </div>
</div>