<link rel="stylesheet" href="<?=CSS_DIR?>/pages/profile.css">
<link rel="stylesheet" href="<?=CSS_DIR?>/pages/shortcode_timeline2.css">
<link rel='stylesheet' href="<?=CSS_DIR?>/hb_treeview.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">
	<section>
		<div class="headline">
			<div class="row">
				<form name="fsearch" id="fsearch" class="sky-form" method="get" action="">
				<input type="hidden" name="s_path" id="s_path" value="5"/>
        		<input type="hidden" name="path" id="path" value="<?=$path?>" />
        		<input type="hidden" name="mb_id" id="_mb_id" value="<?=$mb_id?>" />
		        <div class="col-sm-2 eng">
		            <h4><i class="fa fa-group color-green"></i> 그룹산하인수 : <?=$mb_count_subtree?></h4>
		        </div>
		        <div class="col-sm-2 eng">
		        	<div class="inline-group">
                        <label class="radio"><input type="radio" name="select_user_kind" value="P" onclick="location.href='/member/treeview/user_kind/P'"><i class="rounded-x"></i>후원인</label>
                        <label class="radio"><input type="radio" name="select_user_kind" value="R" onclick="location.href='/member/treeview/user_kind/R'"><i class="rounded-x"></i>추천인</label>
                    </div>		            
		        </div>
		        <div class="col-sm-3 text-right">
		            <ul class="list-inline clear-both">
		                <li class="sort-list-btn">
		                    <li class="sort-list-btn">
					            <h4>표시단계 : </h4>
					            <div class="btn-group">
					                <button type="button" id = "sel_path_length" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					                    5 <span class="caret"></span>
					                </button>
					                <ul class="dropdown-menu" role="menu">
					                    <li><a href="javascript:sel_path_length('전체', '0')">전체</a></li>
					                    <li><a href="javascript:sel_path_length('5', '5')">5</a></li>
					                    <li><a href="javascript:sel_path_length('10', '10')">10</a></li>
					                    <li><a href="javascript:sel_path_length('20', '20')">20</a></li>
					                </ul>
					            </div>
					        </li>
		                </li>
		            </ul>
		        </div>  
		        <div class="col-sm-3">
                    <div class="row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" 	class="btn btn-default">회원명</button>
                            </div><!-- /btn-group -->
                            <input type="text" class="form-control enter_key_search" name="name" id="name" value="<?=$name?>">
                            <span class="input-group-btn">
                                <button class="btn-u" id="bsearch" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                </div>  
                <div class="col-sm-1">
                    <button class="btn-u" id="show_upper" type="button">상위라인</button>
                </div>
                <div class="col-sm-1">
                    <button class="btn-u" type="button" onclick="window.open('/member/treeview/fullscreen/user_kind/<?=$user_kind?>', '_blank');">전체보기</button>
                </div>
                </form>
		    </div><!--/end result category-->
	    </div>
    </section>

	<div class="row">
		<div class="col-md-2" style="display:none">
		<? foreach ($mb_position as $key => $position) : ?>
			<div class="row">
				<div class="col-md-6">
					<span class="eng color-dark" width="20px"><?=$position?></span>
				</div>
				<div class="col-md-6"><span><i class="fa fa-user <?=$mb_position_color[$key]?>"></i></span>
				</div>
			</div>
		<? endforeach ?>
		</div>
		<div class="col-md-12" id='chart_div' style="width:100%; overflow:auto; height:560px; text-align:center;vertical-align:top;"></div> 		
	</div>

	<? if (!$mb_list): ?><p class="lead text-center text-muted">검색 된 회원이 없습니다.</p><? endif; ?>

	<!-- Bootstrap Modals -->
    <button class="btn-u" data-toggle="modal" data-target="#responsive" id="modal_btn" style="display:none">Modal</button>
    <div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4"><span id="USERNAME"></span> ( <span id="USERID"></span> )</h4>
                </div>
                <div class="modal-body profile">
                <? if ( $is_mobile ) : ?>
                	<div class="row">
                		<div class="col-xs-6"><strong>가입일자</strong></div>	
                		<div class="col-xs-6" id="REG_DATE"></div>	
                	</div>                  	
                    <hr class="hr-m">
                    <!--<div class="row">
                		<div class="col-xs-6"><strong>생년월일</strong></div>
                		<div class="col-xs-6" id="JUMIN_NO"></div>	
                	</div>                      
                    <hr class="hr-m">-->
                    <div class="row">
                		<div class="col-xs-6"><strong>소속센터</strong></div>	
                		<div class="col-xs-6" id="CENTER_NAME"></div>	
                	</div>                                          
                    <hr class="hr-m">
                    <div class="row">
                		<div class="col-xs-6"><strong>직급</strong></div>	
                		<div class="col-xs-6" id="RANK_NAME"></div>	
                	</div>                                                              
                    <hr class="hr-m">
                    <div class="row">
                		<div class="col-xs-6"><strong>후원인</strong></div>	
                		<div class="col-xs-6" id="mb_supporter"></div>	
                	</div>                                                                                  
                    <hr class="hr-m">
                    <div class="row">
                		<div class="col-xs-6"><strong>추천인</strong></div>	
                		<div class="col-xs-6" id="mb_recommander"></div>	
                	</div>                    
                    <hr class="hr-m">
					<div class="row">
                		<div class="col-xs-6"><strong>RB</strong></div>	
                		<div class="col-xs-6" id="mb_pv"></div>	
                	</div>                                        
                    <hr class="hr-m">                      
					<div class="row">
                		<div class="col-xs-6"><strong>A라인 하원 RB</strong></div>	
                		<div class="col-xs-6" id="a_sub_total_pv"></div>	
                	</div>                                                                          
                    <hr class="hr-m">                                    
					<div class="row">
                		<div class="col-xs-6"><strong>B라인 하원 RB</strong></div>	
                		<div class="col-xs-6" id="b_sub_total_pv"></div>	
                	</div>                                                                                                                  
                    <hr class="hr-m">                                    
                    <div class="row">
                		<div class="col-xs-6"><strong>총 하원인수</strong></div>	
                		<div class="col-xs-6" id="mb_count_subtree"></div>	
                	</div>                                                                                                                                      
                    <hr class="hr-m">
                    <div class="row">
                		<div class="col-xs-6"><strong>A라인 하원인수</strong></div>	
                		<div class="col-xs-6" id="a_sub_count"></div>	
                	</div>                                                                                                                                                          
                    <hr class="hr-m">
                    <div class="row">
                		<div class="col-xs-6"><strong>B라인 하원인수</strong></div>	
                		<div class="col-xs-6" id="b_sub_count"></div>	
                	</div>                                                                                                                                                          
            		<? foreach ($mb_position as $key => $position) : ?>	                                
                	<hr class="hr-m">
                	<div class="row">
                		<div class="col-xs-6 <?=$mb_position_color[$key]?>"><strong><?=$position?> 승급</strong></div>	
                		<div class="col-xs-6 <?=$mb_position_color[$key]?>" id="reg_date_<?=$key?>"></div>	
                	</div>                                    
					<? endforeach ?>
            	<? else : ?>
                    <div class="row">                    
                        <div class="col-md-7">                    
                            <h4>회원정보</h4>                    
                            <div id="profile" class="profile-edit tab-pane fade in active">
                                <dl class="dl-horizontal">
                                    <dt><strong>가입일자 </strong></dt>
                                    <dd id="REG_DATE"></dd>
                                    <hr>
                                <!--    <dt><strong>생년월일</strong></dt>
                                    <dd id="JUMIN_NO"></dd>
                                    <hr>-->
                                    <dt><strong>소속센터 </strong></dt>
                                    <dd id="CENTER_NAME"></dd>
                                    <hr>
                                    <dt><strong>직급 </strong></dt>
                                    <dd id="RANK_NAME"></dd>
                                    <hr>
                                    <dt><strong>후원인 </strong></dt>
                                    <dd id="mb_supporter"></dd>
                                    <hr>
                                    <dt><strong>추천인 </strong></dt>
                                    <dd id="mb_recommander"></dd>
                                    <hr>
                                    <!--    <dt><strong>CV</strong></dt>
                                    <dd id="mb_cv"></dd>
                                    <hr>
                                    <dt><strong>PV</strong></dt>
                                    <dd id="mb_pv"></dd>
                                    <hr>
                                    <dt><strong>A라인 하원 CV </strong></dt>
                                    <dd id="a_sub_total_cv"></dd>
                                    <hr>
                                    <dt><strong>A라인 하원 PV </strong></dt>
                                    <dd id="a_sub_total_pv"></dd>
                                    <hr>
                                    <dt><strong>B라인 하원 CV </strong></dt>
                                    <dd id="b_sub_total_cv"></dd>
                                    <hr>
                                    <dt><strong>B라인 하원 PV </strong></dt>
                                    <dd id="b_sub_total_pv"></dd> -->                                    
                                    <dt><strong>RB</strong></dt>
                                    <dd id="mb_pv"></dd>
                                    <hr>                                    
                                    <dt><strong>A라인 하원 RB </strong></dt>
                                    <dd id="a_sub_total_pv"></dd>
                                    <hr>                                    
                                    <dt><strong>B라인 하원 RB </strong></dt>
                                    <dd id="b_sub_total_pv"></dd>
                                    <hr>                                    
                                    <dt><strong>총 하원인수 </strong></dt>
                                    <dd id="mb_count_subtree"></dd>
                                    <hr>
                                    <dt><strong>A라인 하원인수 </strong></dt>
                                    <dd id="a_sub_count"></dd>
                                    <hr>
                                    <dt><strong>B라인 하원인수 </strong></dt>
                                    <dd id="b_sub_count"></dd>
                                </dl>                                
                            </div>                    
                        </div>                    
                        <div class="col-md-5">
                            <h4 class="margin-bottom-30">직급승급일자</h4>
                            <ul class="timeline-v2">
                        	<? foreach ($mb_position as $key => $position) : ?>
								<li>
									<time class="cbp_tmtime" datetime=""><p class="<?=$mb_position_color[$key]?> eng reg_date" id="reg_date_<?=$key?>"></p></time>
									<i class="cbp_tmicon rounded-x hidden-xs position" id="<?=$key?>"></i>
									<div class="cbp_tmlabel">
			                            <h5 class="<?=$mb_position_color[$key]?>"><?=$position?></h5>       
			                        </div>  
			                    </li>
							<? endforeach ?>
			                </ul>
                        </div>                    
                    </div>
                <? endif ?>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bootstrap Modals -->

    <!-- Small modal -->
    <button class="btn-u" data-toggle="modal" data-target=".bs-example-modal-sm" id="sm_modal_btn" style="display:none">Modal</button>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="myLargeModalLabel3" class="modal-title">회원 리스트</h4>
                </div>
                <div class="modal-body">
                    <ul id="name_list" class="list-unstyled"></ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Small Modal -->
</div>

<style type="text/css">
    @media (min-width: 1200px)
    {
        .modal-dialog 
        {
          width: 700px;
        }
    }

    .container 
    {
      width: 100%;
    }

    .hr-m
    {
    	margin: 5px 0 5px;
    }
</style>

<script type='text/javascript' src='https://www.google.com/jsapi'></script>  
<script type='text/javascript'> 
//<![CDATA[

google.load('visualization', '1', {packages:['orgchart']}) ;  
google.setOnLoadCallback(drawChart);  

var div_height = $("html").height() - $("#chart_div").position().top - $(".sticky-footer").height() ;
$("#chart_div").height(div_height) ;

$("input:radio[name=select_user_kind]:input[value='<?=$user_kind?>']").attr("checked", true);

function drawChart() 
{  
	var data = new google.visualization.DataTable();  
	data.addColumn('string', 'Node');  
	data.addColumn('string', 'Parent');  
	data.addColumn('string', 'ToolTip');

	data.addRows([  
	<? foreach( $mb_list as $key => $row )
	{
		$drawNode = "[{v:'".$row['USERID']."', f:'".$row['drawNode']."'}, '" ;

		if ( $key > 0 )
		{
			$drawNode .= $row['P_ID'] ;
		}

		$drawNode .= "', '']" ;

		if ( $key < (count($mb_list) - 1) )
		{
			$drawNode .= "," ;
		}
		
		echo $drawNode ;
	}
	?>
 	]);  

 	var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));  
 	chart.draw(data, {allowHtml:true,allowCollapse:true,color:'#fff'});

 	$("#chart_div").scrollLeft($("#<?=$mb_id?>").position().left - $("#chart_div").width()/2) ;
} 

// 더블클릭 구분을 위한 변수
var clickState = null ;

function ClearClickState()
{
	clearTimeout(clickState);
	clickState = null;
}

function set_mb_info(mb_id)
{
	var mb_position ;

	$(".reg_date").each(function() 
	{
		$(this).text('') ;
	}) ;

	$.ajax({
		dataType : "JSON",
		type : "POST",
		url : "/member/treeview/get_member_info",
		data : 
		{
			"mb_id" : mb_id
		},
		success : function (data) 
		{
			if ( data != ' NULL' )
			{ 
				$.each(data, function(key, val) 
				{ 
					$('#'+key).text(val) ;
					$('#'+key).val(val) ;

					if ( key == 'mb_position_color' )
					{
						$('#mb_position_str').removeClass() ; 
						$('#mb_position_str').addClass(val) ;
					}
					else if ( key == 'RANK_CD' )
					{
						mb_position = val ;
					}
					else if ( key == 'rank_date_list' )
					{
						$.each(val, function(key2, val2) 
						{
							$('#reg_date_'+key2).text(val2) ;
						});
					}
				});					

				$(".position").each(function() 
				{
					if ( Number($(this).attr('id')) <= Number(mb_position) ) 	
					{		
						$(this).css('background', '#72c02c') ;					
					}
					else
					{
						$(this).css('background', 'grey') ;
					}
				}) ;

				$('#modal_btn').click() ; 
				ClearClickState() ;
			}
		}
	});
}  

function btn_OnClick(mb_id)
{
	// 원클릭 구분
	if(clickState == null)
	{
		clickState = setTimeout(function(){ set_mb_info(mb_id) ; }, 200);
	}
	else
	{
		ClearClickState();
	}
}

function btn_OnDbClick()
{
	ClearClickState() ;
}

function sel_path_length(s_path, path)
{
    $('#s_path').val(s_path) ;
    $('#path').val(path) ;

	$('#fsearch').attr('onsubmit', 'return true;') ;
    $('#fsearch').submit() ;	
}

if ( '<?=$s_path?>' != '' )
{
    $('#s_path').val('<?=$s_path?>') ;
    $('#sel_path_length').html('<?=$s_path?> <span class="caret"></span>') ;
}

$('#show_upper').click(function()
{
	$('#_mb_id').val('<?=$upper_user?>') ;

	$('#fsearch').attr('onsubmit', 'return true;') ;
	$('#fsearch').submit() ;
}) ;

$('#bsearch').click(function()
{
	var mb_name = $('#name').val() ;

	if ( mb_name == '' )
	{
		return ;
	}

	$.ajax({
		dataType : "JSON",
		type : "POST",
		url : "/member/treeview/get_name_list",
		data : 
		{
			"mb_name" : mb_name
		},
		success : function (data) 
		{ 
			if ( data != 'NULL' )
			{
				if ( data.length == 1 )
				{
					$('#_mb_id').val(data) ;
					$('#fsearch').attr('onsubmit', 'return true;') ;
					$('#fsearch').submit() ;
				}
				else
				{					
					var name_list = '' ;

					$.each(data, function(key, val) 
					{ 
						name_list += "<li><a href='#' id='select_name' name='" + val + "'>" + mb_name + '(' + val + ')</a></li>' ;
					});

					$('#name_list').html(name_list) ;
					$('#sm_modal_btn').click() ; 
				}
			}
		}
	});
}) ;

$(".enter_key_search").bind("keydown", function(e) 
{
    if (e.keyCode == 13) 
    {     
    	$('#fsearch').attr('onsubmit', 'return false;') ;
        $('#bsearch').click() ;            
    }
});

$("a#select_name").live('click', function(e)
{
	e.preventDefault(); 

	mb_id = $(this).attr('name') ;
	$('#_mb_id').val(mb_id) ;

	$('.close').click() ;
	$('#fsearch').attr('onsubmit', 'return true;') ;
	$('#fsearch').submit() ;
});
//]]>
</script>  