<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">  
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <?=validation_errors('<pre><p class="color-red"> ','</p>  </pre>')?>

            <form id="fmodify" class="sky-form" name="fmodify" method="post" novalidate="novalidate" action="<?=RT_PATH?>/member/tree_modify/update/<?=$s_type?>">
			<input type="hidden" name="w"		value="u" />
			<input type="hidden" name="mb_id"   value="<?=$USERID?>" />
            <input type="hidden" name="old_id"   value="<?=$old_id?>" />
			<input type="hidden" name="token"   value="<?=$token?>" />

			<header><i class="rounded-x fa fa-check margin-right-5"></i><?=$type?> 정보 수정</header>

			<fieldset>
				
				<section>
                    <div class="row">
                        <label class="label col col-2">아이디</label>
                        <div class="label col col-3">
                        	<span class="text-primary"><strong><?=$USERID?></strong></span>
                        </div>
                    </div>
                </section>

				<section>
                    <div class="row">
                        <label class="label col col-2">회원명</label>
                        <div class="label col col-3"><?=$USERNAME?></div>					
                    </div>
                </section>

                <section>
                    <div class="row">
                        <label class="label col col-2">기존 <?=$type?></label>
                        <div class="label col col-3"><?=$old_id?></div>
                    </div>
                </section>

                <section>
                    <div class="row">
                        <label class="label col col-2">변경 <?=$type?></label>
                        <div class="col col-2">
                            <label class="input">
                                <input type="text" id="new_id" name="new_id" class="id">
                            </label>
                        </div>

                        <div class="ladda-btn">
                            <button class="btn-u btn-u-dark-blue ladda-button" data-style="expand-right" id="find_new">찾기</button>
                            <span id="new_name" class="color-purple"></span>
                            <span id="find_new_help" class="color-blue"></span>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="row color-red">
                        <i class="rounded-x fa fa-check"></i> <?=$type?>은 수당과 관련된 중요한 내용입니다. 다시 한 번 확인하고 체크해 주세요.
                    </div>
                    <div class="row">
                        <label class="checkbox"><input type="checkbox" name="re_confirm"><i></i>네, 확인했습니다.</label>
                    </div>
                </section>
            </fieldset>

            <footer class="text-center">
                <button type="button" class="btn-u btn-u-lg" id="btnSubmit">수정</button>
            </footer>

			</form>
		</div>
	</div>
</div>

<style>
.sky-form .col 
{
	padding-left: 0px ;
}
</style>

<!--[if lt IE 9]>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script src="<?=PLUGIN_DIR?>/ladda-buttons/js/spin.min.js"></script>
<script src="<?=PLUGIN_DIR?>/ladda-buttons/js/ladda.min.js"></script>
<script src="<?=JS_DIR?>/plugins/ladda-buttons.js"></script>

<script type='text/javascript' src='<?=JS_DIR?>/md5.js'></script>
<script type='text/javascript' src='<?=JS_DIR?>/kcaptcha.js'></script>
<script type='text/javascript' src='<?=JS_DIR?>/custom_validation/member.js'></script>

<script type='text/javascript'>
    //<![CDATA[
    jQuery(document).ready(function()
    {
        MemberForm.init('#fmodify');
    });

    $('#btnSubmit').click(function()
    {
        if ( $('#find_new_help').text() != ' 확인완료' )
        {
            alert('<?=$type?> 찾기를 완료하세요') ;
            return ;
        }

        $('#fmodify').submit() ;
    }) ;

    $('#new_id').click(function()
    {
        $(this).val('') ;
        $('#new_name').text('') ;
        $('#find_new_help').text('') ;
    }) ;

    $('#find_new').click(function()
    {
        var mb_id = $('#new_id').val() ;

        $('#new_name').text('') ;
        $('#find_new_help').text('') ;

        $.ajax({
            type : "POST",
            url : "/member/join/find_member",
            data :
            {
                "mb_id" : mb_id, "find_supporter" : ( "<?=$s_type?>" == "supporter" ) ? true : false
            },
            success : function (data)
            {
                data = $.trim( data ) ;

                if ( data == 'NULL' )
                {
                    alert('<?=$type?> 정보를 확인 해 주시기 바랍니다') ;

                    $('#new_id').val('') ;
                    $('#find_new_help').text(' <?=$type?> 정보 확인') ;
                }
                else if ( data == 'CANT' )
                {
                    if ( "<?=$s_type?>" == "supporter" )
                    {
                        alert('더 이상 추가 할 수 없는 후원인입니다');

                        $('#new_id').val('');
                        $('#find_new_help').text(' 더 이상 추가 할 수 없는 후원인');
                    }
                    else
                    {
                        alert('추천인은 상위후원인 중 한 명이어야 합니다.') ;

                        $('#new_id').val('') ;
                        $('#find_new_help').text(' 추천인은 상위후원인 중 한 명') ;
                    }
                }
                else if ( mb_id == "<?=$USERID?>" )
                {
                    alert('본인 아이디를 입력 할 수 없습니다.') ;

                    $('#new_id').val('') ;
                    $('#find_new_help').text('') ;
                }
                else
                {
                    $('#new_name').text(data) ;
                    $('#find_new_help').text(' 확인완료') ;
                }
            }
        });
    }) ;
    //]]>
</script>