<div class="container content">
<div class="row">

<form name="fsearch" id="sky-form" class="sky-form" method="get" action="<?=RT_PATH?>/board/<?=BO_TABLE?>/lists" onsubmit="return doSearch(this);">
<div class="row">
    <div class="col-md-6">
        <div class="headline">
            <h5>
                <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                전체 : <?=$total_count?>개
                <?=$btn_rss?> <?=$btn_admin?>
            </h5>
        </div>
    </div>

    <div class="col-md-2">
        <select name="sfl" class="form-control auto pull-left">
            <option value="wr_subject">제목</option>
            <option value="wr_content">내용</option>
            <option value="wr_subject.wr_content">제목+내용</option>
            <option value="mb_id">회원아이디</option>
            <option value="wr_name">글쓴이</option>
        </select>
    </div>

    <div class="col-md-4">
        <div class="input-group">
            <input type="text" name="stx" class="form-control" placeholder="검색어를 입력하세요 ..." value="<?=$stx?>">
            <span class="input-group-btn">
                <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>

<form name="fboardlist" method="post" action="">
<input type="hidden" name="bo_table" value="<?=BO_TABLE?>" />
<input type="hidden" name="sw" value="" />

<? if ($list): ?>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <? if ($btn_chkbox): ?>
            <th class="text-center"><input type="checkbox" id="allcheck" /></th>
            <? endif; ?>      
            <th>제목</th>
            <th>글쓴이</th>
            <th class="text-center"><a href="<?=$sort_datetime?>">등록일<i class="fa fa-sort-alpha-asc"></i></a></th>
            <th class="text-center"><a href="<?=$sort_datetime?>">조회수<i class="fa fa-sort-alpha-asc"></i></a></th>
        </tr>
    </thead>
    <tbody>       

        <? foreach ($list_nt as $o): ?>
        <tr class="active">
            <td class="text-center"><span aria-hidden="true" class="icon-bulb"></span></td>
            <? if ($btn_chkbox): ?>
            <td>&nbsp;</td>
            <? endif; ?>       
            <td><a href="<?=$o->href?>"><strong><?=$o->subject?></strong></a></td>
            <td><?=$o->name?></td>
            <td class="text-center"><?=$o->datetime2?></td>
            <td class="text-center"><?=$o->wr_hit?></td>
        </tr>
        <? endforeach; ?>

        <? foreach ($list as $o): ?>
        <tr>
            <td class="text-center">
                <?=($wr_id == $o->wr_id) ? '<span class="text-danger"><strong>'.$o->num.'</strong></span>' : $o->num?>
            </td>
            <? if ($btn_chkbox): ?>
            <td class="text-center"><input type="checkbox" name="wr_id[]" value="<?=$o->wr_id?>" /></td>
            <? endif; ?>
            <td>
                <?=$o->ico_reply?>
                <a href="<?=$o->href?>"><?=$o->subject?></a>
                <? if ($o->comment_cnt): ?><span class="text-muted"><small><?=$o->comment_cnt?></small></span><? endif; ?>
                
                <?=$o->ico_secret.' '.$o->ico_image.' '.$o->ico_movie.' '.$o->ico_file.' '.$o->ico_new.' '.$o->ico_hot?>
            </td>
            <td><?=$o->name?></td>
            <td class="text-center"><?=$o->datetime2?></td>            
            <td class="text-center"><?=$o->wr_hit?></td>
        </tr>
        <? endforeach; ?>
    </tbody>
</table>

<? endif; ?>

<? if (!$list): ?><p class="lead text-center text-muted">게시물이 없습니다.</p><? endif; ?>

<hr>

<div class="pull-right">
    <?=$paging?>
</div>


<div class="pull-left">
    <?=$btn_list?><?=$btn_chkbox?>
    <?=$btn_write?>
</div>


</form>

</div> <!--container content-->
</div> <!--row-->


<script type='text/javascript'>
//<![CDATA[
<? if ($category): ?>
var ca_url = 'board/' + rt_bo_table + '/lists?sca=';
$(function() { currentCate('ca_code', new Array('<?=$category['code']?>')); });
<? endif; ?>
<? if ($stx): ?>document.fsearch.sfl.value = '<?=$sfl?>';<? endif; ?>
//]]>
</script>