<link rel="stylesheet" href="<?=CSS_DIR?>/shop.style.css">
<link rel="stylesheet" href="<?=CSS_DIR?>/custom.css">

<div id="comment_box" style="display:none;" >    
    <div id="comment_reply"></div>
    <form id="fviewcomment" class="sky-form" name="fviewcomment" method="post" action="<?=RT_PATH?>/_trans/board_comment/update" onsubmit="return fviewcomment_submit(this);" style="margin-bottom:20px;">
        <input type="hidden" name="w"          value="c" />
        <input type="hidden" name="bo_table"   value="<?=$bo_table?>" />
        <input type="hidden" name="wr_id"      value="<?=$wr_id?>" />
        <input type="hidden" name="qstr"       value="<?=$qstr?>" />
        <input type="hidden" name="comment_id" value="" />

        <header>댓글쓰기 &nbsp;&nbsp;<span style="font-size: 11px;">
            <span class="pull-right">
                <button type="button" id="cw_place" class="close" onclick="comment_box('', 'c');" title="원위치">&times;</button>
            </span>
        </header>
        <fieldset>   
            <div class="row">               
                <section class="col col-10" style="margin-bottom:5px;" >                    
                    <label class="textarea" width="100%">
                        <textarea rows="3" name="co_content" id="co_content message" ></textarea>
                    </label>
                </section>
                <section class="col col-2" style="margin-bottom:0px;">
                    <button type="submit" class="btn-u btn-u-sea btn-block">입력</button>
                </section>
            </div>
        </fieldset>
    </form>
</div>


<? if ($list): ?>

<? foreach ($list as $o): ?>
<div class="product-comment margin-bottom-20" style="margin-left:<?=$o->co_reply_len?>px;padding-top: 10px;padding-bottom: 0px;">
    <div class="product-comment-in">        
        <div class="product-comment-dtl" style="padding-bottom: 0px;">
            <a name="c_<?=$o->comment_id?>"></a>
            <h5> <?=$o->name?>&nbsp;<?=$o->ip?> <small><?=$o->datetime?></small></h5>
            <p style="font-size: 13px;"><?=$o->content?></p>
            <ul class="list-inline product-ratings">
                <?=$o->btn_reply?>
                <?=$o->btn_edit?> 
                <?=$o->btn_del?>                
            </ul>
        </div>
    </div>
    <span id="edit_<?=$o->comment_id?>" style="display:none;"></span>
    <span id="reply_<?=$o->comment_id?>" style="display:none;"></span>
    <input type="hidden" id="secret_comment_<?=$o->comment_id?>" value="<?=$o->secret?>" />
    <textarea id="save_comment_<?=$o->comment_id?>" class="hide" rows="0" cols="0"><?=$o->content_s?></textarea>
</div>
<? endforeach; ?>

<div class="text-center"><?=$paging?></div>

<? endif; ?>

<!-- 코멘트 입력
<div id="comment_box" style="display:none;">
    <div id="comment_reply"><span class="glyphicon glyphicon-expand text-danger" title="답변 댓글"></span></div>
    <div>
        <form name="fviewcomment" method="post" class="sky-form sky-changes-4" action="<?=RT_PATH?>/_trans/consult_comment/update" onsubmit="return fviewcomment_submit(this);">
        <input type="hidden" name="w"           value="c" />        
        <input type="hidden" name="cs_no"       value="<?=$cs_no?>" />
        <input type="hidden" name="qstr"       value="<?=$qstr?>" />
        <input type="hidden" name="comment_id" value="" />



        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="javascript:;" onclick="txresize('co_content', 1, 100);"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="javascript:;" onclick="txresize('co_content', 2, 50);"><span class="glyphicon glyphicon-stop"></span></a>
                <a href="javascript:;" onclick="txresize('co_content', 3, 100);"><span class="glyphicon glyphicon-chevron-down"></span></a>
                &nbsp;
                <label class="checkbox-inline">
                    <input type="checkbox" id="co_secret" name="co_secret" value="secret" /> 비밀글
                </label>
                &nbsp;
                <span class="pull-right">
                    <button type="button" id="cw_place" class="close" onclick="comment_box('', 'c');" title="원위치">&times;</button>
                </span>
            </div>
            <div class="panel-body">
                <span class="pull-left"><textarea id="co_content" class="form-control" name="co_content" rows="2"></textarea></span>
                <span class="pull-right">
                    
                    <button type="submit" id="btn_submit" class="btn btn-u btn-u-red">댓글쓰기</button>
                </span>
            </div>
        </div>
        </form>
    </div>
</div>-->


<script type='text/javascript'>
//<![CDATA[
function fviewcomment_submit(f)    {
    var    pattern    = /(^\s*)|(\s*$)/g;    // \s 공백 문자
    
    // 양쪽공백 없애기
    if (f.co_content.value.replace(pattern, '') == '') {
        alert('댓글을 입력하세요.');
        f.co_content.focus();
        return false;
    }
    
    return true;
}
//]]>
</script>