<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms/version-2.0.1/css/custom-sky-forms.css">

<div class="container content">
<div class="row">

<link rel="stylesheet" href="<?=CSS_DIR?>/pages/blog.css">
<div class="blog margin-bottom-40">
    <h2><?=$subject?></h2>
    <div class="blog-post-tags">
        <ul class="list-unstyled list-inline blog-info">
            <li><i class="fa fa-calendar"></i> 등록일 : <?=$datetime?></li>
            <li><i class="fa fa-pencil"></i> 글쓴이 : <?=$name?> <?=$ip?> <?=$btn_sns?></li>            
        </ul>
        <ul class="list-unstyled list-inline blog-info">
            <? if( isset($mb_region) )  : ?><li><i class="fa fa-map-marker"></i> 지역 : <?=$mb_region?></li><? endif; ?>
            <? if( isset($mb_hp) )  : ?><li><i class="fa  fa-mobile"></i> 휴대폰번호 : <?=$mb_hp?></li><? endif; ?>
            <? if( isset($consult_cn) )  : ?><li><i class="fa fa-child"></i> 전체 상담건수 : <?=$consult_cn?> 건</li><? endif; ?>
            <? if( isset($open_cn) )  : ?><li><i class="fa fa-child"></i> 전체 개통회원 : <?=$open_cn?> 건</li><? endif; ?>
        </ul>
    </div>
    <p><?=$content?></p>                
</div>

<hr>


<div class="clearfix">
    <ul class="pager pull-left" style="margin:0px;">
        <li><?=$btn_prev?></li>
        <li><?=$btn_next?></li>
    </ul>

    <div class="pull-right">
        <?=$link_btns?>
    </div>
</div>

</div> <!--container content-->
</div> <!--row-->


<script type='text/javascript'>
//<![CDATA[
<? if ($is_comment): ?>
var co_guest = '<?=!IS_MEMBER?>'
  , co_wr_id = '<?=$wr_id?>'
  , co_qstr = '<?=$qstr?>';
<? endif; ?>

<? if ($is_syntax): ?>
$(function() { SyntaxHighlighter.all(); });
<? endif; ?>
//]]>
</script>
