<div class="container content">
<div class="row">

<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms/version-2.0.1/css/custom-sky-forms.css">
<form id="fwrite" name="fwrite" method="post" action="<?=RT_PATH?>/_trans/board_write/update" enctype="multipart/form-data" id="sky-form4" class="sky-form">
    <input type="hidden" name="w"          value="<?=$w?>" />
    <input type="hidden" name="bo_table" value="<?=BO_TABLE?>" />
    <input type="hidden" name="wr_id"    value="<?=$wr_id?>" />
    <input type="hidden" name="qstr"     value="<?=$qstr?>" />
    <?=$option_hidden?>
    <header><?=$title_msg?></header>
    <fieldset>                  
        <div class="row">
            <section class="col-md-12">
                <label class="label">
                    <strong>제목</strong>
                <? if ($option): ?>
                    <div class="btn-group" data-toggle="buttons">
                    <? foreach ($option as $key => $r): ?>
                        <div id="<?=$key?>" class="btn btn-xs btn-default">
                            <input type="checkbox" name="<?=$key?>" value="<?=$r['value']?>" />
                            <span class="glyphicon glyphicon-unchecked"></span> <?=$r['title']?>
                        </div>
                    <? endforeach; ?>
                    </div>
                <? endif; ?>
                </label>
                <label class="input">                                        
                    <input type="text" id="wr_subject" name="wr_subject" value="<?=$subject?>" />
                </label>
            </section>            
        </div>

    <? if ( BO_TABLE == 'CONSULTING' || BO_TABLE == 'CONSULTING_COMPLETED' ) : ?>
        <section>
            <div class="row">
                <div class="col-md-1">
                    <label class="label"><strong>진행상황</strong></label>
                </div>
                <div>
                    <SELECT id="CONSULTING_TYPE" name="CONSULTING_TYPE">
                        <option value="CONSULTING">진행중</option>
                        <option value="CONSULTING_COMPLETED">진행완료</option>
                    </SELECT>
                </div>
            </div>
        </section>
    <? endif ?>

        <section>
            <label class="label"><strong>내용</strong></label>
            <div><?=$editor?></div>
            <div class="note">.swf, .zip, .pdf 파일만 첨부 가능합니다.</div>
        </section>       
        
    </fieldset>
    
    <footer>
        <button type="submit" id="write_submit" class="button" data-loading-text="등록 중...">
            <span aria-hidden="true" class="icon-pencil"></span> 글쓰기
        </button>        
    </footer>    
</form>    

</div> <!--container content-->
</div> <!--row-->

<script type='text/javascript'>
//<![CDATA[

<? if ( BO_TABLE == 'CONSULTING' || BO_TABLE == 'CONSULTING_COMPLETED' ) : ?>
$('#CONSULTING_TYPE').val('<?=BO_TABLE?>')
<? endif ?>


var editorConfig = <?=$editorConfig?>
  , editorNumber = []
  , beforeUnload = true;
window.onbeforeunload = function() {
    if (beforeUnload) return '이 페이지를 벗어나시면 작성 중인 글이 지워집니다.';
}

<? if ($option): ?>
var option_check = <?=$option_check?>;
for (x in option_check) {
    $('#' + x).checkicon(option_check[x]);
}
<? endif; ?>

$(function() {
    <? if ($category): ?>
    currentCate('ca_code', new Array('<?=$category['code']?>'));
    <? endif; ?>

    $('#fwrite').validate({
        onkeyup: false,
        rules: {
            <? if ($is_sign): ?>
            wr_name: { required:true,  minlength:2 },
            wr_password: { required:function() { return document.fwrite.w.value != 'u'; }, minlength:3 },
            wr_email: { required:'#mail:checked', email:true },
            <? endif; ?>
            wr_key: { required:true, wrKey:true },
            ca_code: 'required',
            wr_subject: 'required'
        },
        messages: {
            <? if ($is_sign): ?>
            wr_name: { required:'이름을 입력하세요.', minlength:'최소 2자 이상 입력하세요.' },
            wr_password: { required:'비밀번호를 입력하세요.', minlength:'최소 3자 이상 입력하세요.' },
            wr_email: { required:'답변메일을 입력하세요.', email:'E-mail 형식이 올바르지 않습니다.' },
            <? endif; ?>
            wr_key: '자동등록방지용 코드가 맞지 않습니다.',
            ca_code: '분류를 선택하십시오.',
            wr_subject: '제목을 입력하세요.'
        },
        submitHandler: function(f) {
            beforeUnload = false;

            <? if ($is_editor): ?>
            editorNumber.forEach(function(i) {
                Editor.switchEditor(i); // 에디터 전환
                Editor.save(); // 글 등록 
            });

            <? else: // 에디터가 아닐 때 ?>
            if (f.wr_content.value.length < 5) {
                this.showErrors({'wr_content': '내용을 최소 5자 이상 입력하세요.'});
                return false;
            }

            $('#write_submit').button('loading');
            f.submit();
            <? endif; ?>
        }
    });
});
//]]>
</script>

<script type="text/javascript" src="<?=JS_DIR?>/app.js"></script>
<script type="text/javascript" src="<?=JS_DIR?>/forms/reg.js"></script>
<script type="text/javascript" src="<?=JS_DIR?>/forms/login.js"></script>
<script type="text/javascript" src="<?=JS_DIR?>/forms/contact.js"></script>
<script type="text/javascript" src="<?=JS_DIR?>/forms/comment.js"></script>