<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="container content">    
    <section>
    <!-- Description -->
        <div class="row">
            <div class="col-md-8">
                <h3 class="heading-md margin-bottom-20"><?=$product_info['pt_name']?></h3>

                <p><?=$product_info['pt_contents']?></p><br>

                <div class="row">
                    <div class="col-sm-3">
                        <ul class="list-unstyled specifies-list">
                            <li><i class="fa fa-caret-right"></i> 상품명 : <span><?=$product_info['pt_name']?></span></li>
                            <li><i class="fa fa-caret-right"></i> 모델명 : <span><?=$product_info['pt_model_name']?></span></li>
                            <li><i class="fa fa-caret-right"></i> 색상 : <span><?=$product_info['pt_color']?></span></li>
                            <li><i class="fa fa-caret-right"></i> CV : <span><?=$product_info['pc_commission_value']?></span></li>
                            <li><i class="fa fa-caret-right"></i> PV : <span><?=$product_info['pc_promotion_value']?></span></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="list-unstyled specifies-list">
                            <li><i class="fa fa-caret-right"></i> 정책 시작일 : <span><?=$product_info['pc_start_date']?></span></li>
                            <li><i class="fa fa-caret-right"></i> 정책 종료일 : <span><?=$product_info['pc_end_date']?></span></li>
                            <li><i class="fa fa-caret-right"></i> 출고가 : <span><?=$product_info['pc_price']?></span></li>
                            <li><i class="fa fa-caret-right"></i> 할부 개월수 : <span><?=$product_info['pc_instalment_plan']?></span></li>
                        </ul>
                    </div>
                    <div class="col-sm-5">
                        <ul class="list-unstyled specifies-list">
                            <li><i class="fa fa-caret-right"></i> 가입비 : <span><?=$product_info['pc_join_cost']?></span></li>
                            <li><i class="fa fa-caret-right"></i> 유심비 : <span><?=$product_info['pc_usim_cost']?></span></li>
                            <li><i class="fa fa-caret-right"></i> 약정기간 : <span><?=$product_info['pc_agree_plan']?></span></li>
                            <li><i class="fa fa-caret-right"></i> 요금제 : <span><?=$product_info['calling_plan']?></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Magazine Slider -->
                <div class="carousel slide carousel-v2 margin-bottom-40" id="portfolio-carousel">
                    <ol class="carousel-indicators">
                        <? foreach ($thumbnails as $key => $thumbnail) : ?>
                            <? if ( $thumbnail != '' ) : ?>
                            <li class="<? echo ($key == 0) ? 'active' : '' ; ?> rounded-x" data-target="#portfolio-carousel" data-slide-to="<?=$key?>"></li>
                            <? endif ?>
                        <? endforeach ?>
                    </ol>
                    
                    <div class="carousel-inner">
                        <? foreach ($thumbnails as $key => $thumbnail) : ?>
                            <? if ( $thumbnail != '' ) : ?>
                            <div class="product-thumbnail item <? echo ($key == 0) ? 'active' : '' ; ?>">
                                <img class="full-width img-responsive" src="<?=$thumbnail?>" alt="">
                            </div>
                            <? endif ?>
                        <? endforeach ?>
                    </div>
                    
                    <a class="left carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="prev">
                        <i class="fa fa-angle-left arrow-prev"></i>
                    </a>
                    <a class="right carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="next">
                        <i class="fa fa-angle-right arrow-next"></i>
                    </a>
                </div>
                <!-- End Magazine Slider -->
            </div>
        </div>
        <!-- End Description -->
    </section>

    <section>
        <div class="headline">
            <div class="row">
                <div class="col-md-6">
                    <h5>
                        <span aria-hidden="true" class="icon-list"></span>&nbsp; 
                        전체상품건수 : <?=$total_count?>건
                    </h5>
                </div>
                <div class="col-md-5" style="padding-right: 30px;">
                    <form name="fsearch" id="sky-form" class="sky-form" method="get" action="" onsubmit="return doSearch(this);">
                    <input type="hidden" name="sfl" id="sfl" value="pc_commission_value"/>
                    <input type="hidden" name="sca" id="sca" value="CV"/>
                        <div class="row">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" id="select_sca" class="btn btn-default dropdown-toggle" data-toggle="dropdown">CV <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:set_sfl('pc_commission_value', 'CV')">CV</a></li>
                                        <li><a href="javascript:set_sfl('pc_promotion_value', 'PV')">PV</a></li>
                                    </ul>
                                </div><!-- /btn-group -->
                                <input type="text" class="form-control" name="stx" id="stx">
                                <span class="input-group-btn">
                                    <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                    </form>
                </div>
                <div class="col-md-1">
                    <a href='/policy/register/pt_id/<?=$pt_id?>' class='btn-u'>정책등록</a>
                </div>
            </div>
        </div>
    </section>

    <form name="fboardlist" method="post" action="">

    <table class="table text-center">
        <thead>
            <tr>
                <th class="text-center"><a href="<?=$sort_no?>">NO </a><i></i></th>      
                <th class="text-center"><a href="<?=$sort_rp?>">CV </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_exp?>">PV </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_start_date?>">정책 시작일 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_end_date?>">정책 종료일 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_price?>">출고가 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_instalment?>">할부개월수 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_join_cost?>">가입비 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_usim_cost?>">유심비 </a><i></i></th>
                <th class="text-center"><a href="<?=$sort_agree_plan?>">약정기간 </a><i></i></th>
                <th class="text-center">요금제</th>
            </tr>
        </thead>        
        <tbody>       
            <? foreach ($list as $o): ?>
            <? if ( $product_info['pc_id'] == $o->pc_id ) : ?>
            <tr>
            <? else : ?>
            <tr style="color:rgb(200, 200, 200);">
            <? endif ?>
                <td><?=$o->num?></td>
                <td><?=$o->cv?></td>
                <td><?=$o->pv?></td>
                <td><?=$o->start_date?></td>
                <td><?=$o->end_date?></td>
                <td><?=$o->price?></td>
                <td><?=$o->instalment_plan?></td>
                <td><?=$o->join_cost?></td>
                <td><?=$o->usim_cost?></td>
                <td><?=$o->agree_plan?></td>
                <td><?=$o->calling_plan?></td>
            </tr>
            <? endforeach; ?>
        </tbody>
    </table>

    <? if (!$list): ?><p class="lead text-center text-muted">판매 정책이 없습니다.</p><? endif; ?>

    <hr>

    <div class="pull-right">
        <?=$paging?>
    </div>

    </form>
</div>

<script type='text/javascript'>
function set_sfl(sfl, sca)
{
    $('#sfl').val(sfl) ;
    $('#sca').val(sca) ;
    $('#select_sca').html(sca+' <span class="caret"></span>') ;
}

$('#stx').val('<?=$stx?>') ;

if ( '<?=$sfl?>' != '' )
{
    $('#sfl').val('<?=$sfl?>') ;
}

if ( '<?=$sca?>' != '' )
{
    $('#sca').val('<?=$sca?>') ;
    $('#select_sca').html('<?=$sca?> <span class="caret"></span>') ;
}

if ( '<?=$sod?>' != 'asc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-desc color-red') ;
}
else if ( '<?=$sod?>' != 'desc' )
{
    $("a[href*='<?=$sst?>']").next('i').removeClass() ;
    $("a[href*='<?=$sst?>']").next('i').addClass('fa fa-sort-alpha-asc color-red') ;
}

</script>