<link rel="stylesheet" href="<?=PLUGIN_DIR?>/owl-carousel/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
<link rel="stylesheet" href="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/style/masterslider.css">
<link rel='stylesheet' href="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/skins/default/style.css">

<div class="shop-product">
    <div class="container">
        <div class="row">
            <div class="col-md-5 md-margin-bottom-50">
                <div class="ms-showcase2-template">
                    <!-- Master Slider -->
                    <div class="master-slider ms-skin-default" id="masterslider">
                        <? foreach ($product_info['pt_thumbnail'] as $thumbnail) : ?>
                        <? if ( $thumbnail != '' ) : ?>
                            <div class="ms-slide">
                                <img src="assets/img/blank.gif" data-src="<?=$thumbnail?>" alt="lorem ipsum dolor sit">
                                <img class="ms-thumb" src="<?=$thumbnail?>" alt="thumb">
                            </div>
                        <? endif ?>
                        <? endforeach ?>
                    </div>
                    <!-- End Master Slider -->
                </div>
            </div>

            <div class="col-md-7">
                <div class="shop-product-heading">
                    <h2><?=$product_info['pt_name']?></h2>
                    <ul class="list-inline shop-product-social">
                        <li><?=$product_info['pt_model_name']?></li>
                    </ul>
                </div>

                <div class="margin-bottom-20 product-review-list">
                    <?=$product_info['pt_color']?>
                </div>

                <p><?=$product_info['pt_contents']?></p><br>

                <form id="fwrite" class="sky-form" name="fwrite" method="post" novalidate="novalidate" action="<?=RT_PATH?>/policy/register/update" enctype="multipart/form-data">
                <input type="hidden" name="token" value="<?=$token?>" />  
                <input type="hidden" name="pc_id" value="<?=$pc_id?>">
                <input type="hidden" name="pt_id" value="<?=$pt_id?>">

                    <fieldset style="background: #f8f8f8;">

                        <div class="margin-bottom-20">
                            <div class="row">
                                <label class="label col col-2">CV</label>
                                <div class="col col-4">
                                    <label class="input">
                                        <input type="text" name="pc_commission_value" placeholder="" value="<?=$pc_commission_value?>"/>
                                    </label>
                                </div>

                                <label class="label col col-2">PV</label>
                                <div class="col col-4">
                                    <label class="input">
                                        <input type="text" name="pc_promotion_value" placeholder="" value="<?=$pc_promotion_value?>"/>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="margin-bottom-20">
                            <div class="row">
                                <label class="label col col-2">정책 시작일</label>
                                <div class="col col-4">
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" name="pc_start_date" id="start" value="<?=$pc_start_date?>" />
                                    </label>
                                </div>

                                <label class="label col col-2">정책 종료일</label>
                                <div class="col col-4">
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" name="pc_end_date" id="finish" value="<?=$pc_end_date?>" />
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="margin-bottom-20">
                            <div class="row">
                                <label class="label col col-2">출고가</label>
                                <div class="col col-4">
                                    <label class="input">
                                        <i class="icon-append" style="font-style: normal;font-family: initial;">원</i>
                                        <input type="text" name="pc_price" placeholder="" value="<?=$pc_price?>"/>
                                    </label>
                                </div>

                                <label class="label col col-2">할부개월수</label>
                                <div class="col col-4">
                                    <label class="select">
                                        <select name="pc_instalment_plan" id="pc_instalment_plan">
                                            <option value="36">36 개월</option>
                                            <option value="30">30 개월</option>
                                            <option value="24">24 개월</option>
                                            <option value="18">18 개월</option>
                                            <option value="12">12 개월</option>
                                            <option value="6">6 개월</option>
                                            <option value="3">3 개월</option>
                                            <option value="0">없음</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="margin-bottom-20">
                            <div class="row">
                                <label class="label col col-2">가입비</label>
                                <div class="col col-4">
                                    <label class="select">
                                        <select name="pc_join_cost" id="pc_join_cost">
                                            <option value="">없음</option>
                                            <option value="분납">분납</option>
                                            <option value="대납">대납</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </div>

                                <label class="label col col-2">유심비</label>
                                <div class="col col-4">
                                    <label class="select">
                                        <select name="pc_usim_cost" id="pc_usim_cost">
                                            <option value="">없음</option>
                                            <option value="선불">선불</option>
                                            <option value="후불">후불</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="margin-bottom-20">
                            <div class="row">
                                <label class="label col col-2">약정기간</label>
                                <div class="col col-4">
                                    <label class="select">
                                        <select name="pc_agree_plan" id="pc_agree_plan">
                                            <option value="36">36 개월</option>
                                            <option value="30">30 개월</option>
                                            <option value="24">24 개월</option>
                                            <option value="18">18 개월</option>
                                            <option value="12">12 개월</option>
                                            <option value="6">6 개월</option>
                                            <option value="3">3 개월</option>
                                            <option value="0">없음</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="margin-bottom-20">
                            <div class="row">
                                <label class="label col col-2">요금제</label>
                                <div class="col col-6">
                                    <label class="select">
                                        <select name="pc_calling_plan" id="pc_calling_plan">
                                            <option value="">요금제선택</option> 
                                        <? foreach ($cp_tag as $key => $value) : ?>
                                            <option value="<?=$key?>"><?=$value?></option> 
                                        <? endforeach ?>   
                                        </select>
                                        <i></i>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                    
                    <div class="text-center">
                        <button type="submit" class="btn-u btn-u-lg" id="btn_submit"><?=$btn_contents?></button>
                    </div>
                </form>
            </div>
        </div><!--/end row-->
    </div>    
</div>
<!--=== End Shop Product ===-->

<!--[if lt IE 9]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
    <script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="<?=PLUGIN_DIR?>/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>

<!-- Master Slider -->
<script src="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/masterslider.min.js"></script>
<script src="<?=PLUGIN_DIR?>/master-slider/quick-start/masterslider/jquery.easing.min.js"></script>

<script src="<?=JS_DIR?>/plugins/shop.app.js"></script>
<script src="<?=JS_DIR?>/plugins/master-slider.js"></script>

<script type='text/javascript'>
//<![CDATA[

$('#pc_instalment_plan').val('<?=$pc_instalment_plan?>') ;
$('#pc_join_cost').val('<?=$pc_join_cost?>') ;
$('#pc_usim_cost').val('<?=$pc_usim_cost?>') ;
$('#pc_agree_plan').val('<?=$pc_agree_plan?>') ;
$('#pc_calling_plan').val('<?=$pc_calling_plan?>') ;

$('.main_menu').attr('href', '/policy/lists/pt_id/<?=$pt_id?>') ;

jQuery(document).ready(function() {
    MasterSliderShowcase2.initMasterSliderShowcase2();

    $('#start').datepicker
    ({
        dateFormat: 'yy.mm.dd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 

        onSelect: function( selectedDate )
        {
            $('#finish').datepicker('option', 'minDate', selectedDate);
        }
    });

    $('#finish').datepicker
    ({
        dateFormat: 'yy.mm.dd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        changeMonth: true,  
        changeYear: true, 
        
        monthNamesShort : ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], 

        onSelect: function( selectedDate )
        {
            $('#start').datepicker('option', 'maxDate', selectedDate);
        }
    });
});

$('#fwrite').validate({
        onkeyup: false,
        rules: {
            pc_commission_value: { required:true, number:true },
            pc_promotion_value: { required:true, number:true },
            pc_start_date: 'required',
            pc_end_date: 'required',
            pc_price: { required:true, number:true },
            pc_instalment_plan: 'required',
            pc_join_cost: 'required',
            pc_usim_cost: 'required',
            pc_agree_plan: 'required',
            pc_calling_plan: 'required',
        },
        messages: {
            pc_commission_value: { required:'리베이트를 입력하세요', number:'숫자만 입력 가능합니다'},
            pc_promotion_value: { required:'포인트를 입력하세요', number:'숫자만 입력 가능합니다'},
            pc_start_date: '정책 시작일을 선택해 주세요',
            pc_end_date: '정책 종료일을 선택해 주세요',
            pc_price: { required:'출고가를 입력하세요', number:'숫자만 입력 가능합니다'},
            pc_instalment_plan: '할부개월수를 선택해 주세요',
            pc_join_cost: '가입비 납부방식을 선택해 주세요',
            pc_usim_cost: '유심비 납부방식을 선택해 주세요',
            pc_agree_plan: '약정기간을 선택해 주세요',
            pc_calling_plan: '요금제를 선택 해 주세요',
        },

        // Do not change code below
        errorPlacement: function(error, element)
        {
            error.insertAfter(element.parent());
        }
    });
//]]>
</script>